<template>
    <div class="report-navigation scrollable" id="style">
        <ul class="firstNavigation" @click='reportMobileHandle = !reportMobileHandle'>
            <li
            @click="reportSchedule = false,$emit('navfalse')"
            v-for="(menuList, index) in menuListing"
            v-show="reportMobileHandle"
            :class="{'link-active' : $route.meta.title === menuList.menuName} ">
            <a :href="menuList.menuAnchor" :class="menuList.disabledClass">
                <i :class="menuList.menuIcon"></i>
                {{menuList.menuName}}
            </a>
        </li>
    </ul>
    <ul class="secondNavigation">
        <li v-if="false"
        v-for="(menuList, index) in exportListing">
        <a
        @click="$emit(''+menuList.menuAnchor+'')"
        :class="menuList.disabledClass">
        <i :class="menuList.menuIcon"></i>
        {{ menuList.menuName }}
    </a>
</li>
<li
    v-if="$route.meta.exportReport === true || reportSchedule === true">
    <a v-if="$route.meta.downloadCsv === true" :href="'report-export/'+ this.$route.params.id" :class="" download>
        <i class="icon-export"></i>
        Export Report
    </a>
    <a v-else
    @click.prevent="exportReport"
    :class="">
    <i class="icon-export"></i>
    Export Report
    </a>
</li>
<li
    v-if="reportSchedule === true || $route.meta.showReportSchedule === true">
    <a :class="[report.status == 1?'':'disable-color']"
    
    @click="showScheduleReportPopup">
    <i class="icon-block"></i>
    {{scheduledReport != '' ? 'Update Schedule' : 'Schedule Report'}}
    </a>
</li>
<li
    v-if="reportSchedule === true || $route.meta.showReportSchedule === true">
    <a
    @click="showSaveReportPopup"
    :class="">
    <i class="icon-saction"></i>
    {{report.status == 1 ? 'Update Report' : 'Save Report'}}
    </a>
</li>

</ul>
<common-methods
:url="requestUrl"
@get-response="getResponse"
:hideLoader="true"
></common-methods>
<common-methods
:url="requestScheduleReportUrl"
@get-response="getScheduleReportResponse"
:hideLoader="true"
></common-methods>
</div>
</template>
<script>
    import html2canvas from 'html2canvas';
    import jspdf from 'jspdf';
    export default {
        props: ['navigationProp' , 'force'],
        data() {
            return {
                url: '',
                scheduleReportUrl: '',
                reportSchedule: false,
                reportMobileHandle:false,
                report:'',
                scheduledReport: [],
                menuListing: [
                {
                    menuName:'Overall Statistics',
                    menuAnchor:'/reports',
                    disabledClass:'',
                },
                {
                    menuName:'Current Situation',
                    menuAnchor:'/reports/current-situation',
                    disabledClass:'',
                },
                {
                    menuName:'Custom Reports Builder',
                    menuAnchor:'/reports/custom-report-builder',
                    disabledClass:'',
                },
                {
                    menuName:'Saved Reports',
                    menuAnchor:'/reports/saved-reports',
                    disabledClass:'',
                },
                {

                    menuName:'Scheduled Reports',
                    menuAnchor:'/reports/scheduled-reports',
                    disabledClass:'',
                },
                ],

                exportListing: [
                {
                    menuName:'Export Report',
                    menuAnchor:'report-overall-statistics',
                    disabledClass:'',
                },
                {

                    menuName:'Save Report',
                    menuAnchor:'save-report-popup',
                    disabledClass:'',
                },
                {
                    menuName:'Schedule Report',
                    menuAnchor:'schedule-report-popup',
                    disabledClass:'',
                },
                ],
                reportExportUrl: '',
            }
        },
        computed : {
            requestUrl(){
                if(this.$route.params.id){
                    if(this.url != '' ){
                        return this.url;
                    }
                    return 'api/report/' + this.$route.params.id;
                }
            },
            requestScheduleReportUrl(){
                if(this.$route.params.id){
                    if(this.scheduleReportUrl != ''){

                        return this.scheduleReportUrl;
                    }
                    return 'api/schedule-report?saved_report_id=' + this.$route.params.id;
                }
            }
        },
        methods: {
            exportReport(){
                window.print();
                // this.$emit('export-report-popup', true);
            },
            getResponse(response){
                if(Object.keys(response.data).length){
                    this.report = response.data;
                    this.scheduledReport.title = this.report.title;
                    this.scheduledReport.status = this.report.status;
                }
            },
            reSendCall(){   
                let newDate  = new Date().getMilliseconds();
                this.url =  'api/report/' + this.$route.params.id + '?time='+newDate;
                this.scheduleReportUrl = 'api/schedule-report?saved_report_id=' + this.$route.params.id + '&time='+newDate;
            }, 
            getScheduleReportResponse(response){
                if(response.data){
                    this.scheduledReport = response.data;
                    if(typeof this.report != 'undefined'){
                        this.scheduledReport.status = this.report.status;
                        this.scheduledReport.title = this.report.title;
                    }
                }
            },
            showScheduleReportPopup(){
                let newDate  = new Date().getMilliseconds();
                this.scheduleReportUrl =  'api/schedule-report?saved_report_id=' + this.$route.params.id + '&time='+newDate;
                if(this.scheduledReport){
                    this.$emit('schedule-report-popup',this.scheduledReport)
                    
                }
            },
            showSaveReportPopup(){
                let newDate  = new Date().getMilliseconds();
                this.url =  'api/report/' + this.$route.params.id + '?time='+newDate;
                if(this.report){
                    this.$emit('save-report-popup', this.report);
                }

            }
        },
        watch:{
            navigationProp(value) {
                if(value){
                    this.reportSchedule = true
                }
                if(!value){
                    this.reportSchedule = false
                }

            },
            force(){
                this.reSendCall();
            },
            report(value){
                this.report = value;
            },
            scheduledReport(value){
                this.scheduleReportData = value;
            }
        },

    }
</script>