<template>
    <div class="main-wrapper">
        <modify-incident-reporting
            v-if="tabVal == 'reporting'"
            @show-report="reportMsg"
        ></modify-incident-reporting>
        <modify-incident-report
            v-if="tabVal == 'report-msg'"
            @show-report="showReporting"
        ></modify-incident-report>
    </div>
</template>
<script>
    export default{
        data () {
            return {
                tabVal : 'reporting',
            }
        },
        methods: {
            showReporting(){
                this.tabVal = 'reporting'
            },
            reportMsg(){
                this.tabVal = 'report-msg'
            },
        }
    }
</script>