<template>
    <div class="reporting-container incident-response">
        <div class="reporting-section">
            <div class="row">
                <div class="col-md-12 panel-main-heading">
                    <h3>Student Conduct Incident Reporting Form</h3>
                </div>
            </div>
        </div>
        <div class="roport-msg">
            <h5>Thank you for your submission</h5>
            <p>
                This is confirmation that you have successfully submitted this incident report.
            </p>
            <p>
                For record your <strong>incident report number is {{ reportNumber }}.</strong>
            </p>
            <p>
                <a
                    href="javascript:;" 
                    @click.prevent="$emit('show-report')">
                    Need to submit another incident report?
                </a>
            </p>
        </div>
    </div>
</template>
<script>
    export default {
        data () {
            return {
                reportNumber: '#00002959'
            }
        },
    }
</script>
