<template>
    <div class="reporting-container">
        <div class="reporting-section">
            <div class="row">
                <div class="col-md-12 panel-main-heading">
                    <h3>Student Conduct Incident Reporting Form</h3>
                    <d-button @click.prevent="redirectToDashboard()">Go Back</d-button>
                </div>
            <d-form>
            <div class="col-md-12">
                <div class="report-panel">
                    <div class="report-panel-heading">
                        <h4>Background Information</h4>
                        <p><i class="icon-exclamation-outline"></i> The following information should be completed by the individual(s) submitting the incident report.</p>
                    </div>
                        <div class="report-panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Full Name</label>
                                        <d-input id="full_name" placeholder="Enter full name" value="Jean R" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 empty-div"></div>
                                <div class="col-xs-12 col-sm-4 empty-div"></div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Position/title</label>
                                        <d-input id="position_title" placeholder="Enter position or title" value="Teacher" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <d-input id="email_address1" v-model="form.email" placeholder="Enter email address" value="jean@umkc.com" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 empty-div"></div>
                            </div>
                      </div>
                  </div>
                </div>
                <div class="col-md-12">
                <div class="report-panel">
                    <div class="report-panel-heading">
                        <h4>Involved Parties</h4>
                    </div>
                    <div class="report-panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label>Individual or Organization</label>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <d-form-radio 
                                                inline name="individual_organizer" 
                                                value="individual" 
                                                v-model="selected">
                                                Individual
                                            </d-form-radio>
                                        </div>
                                        <div class="col-sm-6">
                                            <d-form-radio inline name="individual_organizer" value="organization">Organization</d-form-radio>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label>Name</label>
                                    <d-input id="position_title" placeholder="Enter involved part name" value="Mark Ross"/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group selectBox">
                                    <label>Role</label>
                                    <i class="icon-keyboard_arrow_down3"></i>
                                    <d-form-select v-model="selected_role">
                                        <option :value="accused">Accused</option>
                                        <option :value="staff">Staff</option>
                                        <option :value="victim">Victim</option>
                                        <option :value="witness">Witness</option>
                                        <option :value="compliant">Compliant</option>
                                        <option :value="respondent">Respondent/Offender</option>
                                    </d-form-select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label>University ID Number</label>
                                    <d-input id="university_id" class="number-field" type="number" placeholder="Enter university id number (optional)" value="007558209" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <d-input class="number-field" type="number" id="phone_no" placeholder="Enter phone number (optional)" value="8811589354" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <d-input id="email_address" v-model="form.email" placeholder="Enter email address (optional)" value="mar@gmail.com" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-md-12">
                                <d-button theme="link">+ Add another</d-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="report-panel">
                    <div class="report-panel-heading">
                        <h4>Incident Information</h4>
                    </div>
                    <div class="report-panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group selectBox">
                                    <label>Incident Type</label>
                                    <i class="icon-keyboard_arrow_down3"></i>
                                    <d-form-select v-model="selected_role">
                                        <option :value="academic_integrity">Academic Integrity</option>
                                        <option value="alleged_violation">Alleged Violation</option>
                                        <option value="behavioral_intervention">Behavioral Intervention</option>
                                        <option value="campus_safety">Campus Safety</option>
                                        <option value="duty_round">Duty Round</option>
                                        <option value="alcohol">Alcohol</option>
                                        <option value="drugs">Drugs</option>
                                        <option value="violence">Violence</option>
                                        <option value="sexual_misconduct">Sexual Misconduct</option>
                                        <option value="behaviorial_concern">Behaviorial Concern</option>
                                        <option value="fyi">FYI/Informational</option>
                                        <option value="incident_report">Incident Report</option>
                                        <option value="police_report">Police Report</option>
                                        <option value="academic">Academic Affairs Concern</option>
                                        <option value="tittle">Title IX</option>
                                        <option value="nac">NAC Review Request</option>
                                        <option value="off">Off Campus</option>
                                        <option value="noise">Noise violation</option>
                                        <option value="tobacco">Tobacco Violation</option>
                                    </d-form-select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 empty-div"></div>
                            <div class="col-xs-12 col-sm-4 empty-div"></div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group selectBox">
                                    <label>Date of incident</label>
                                    <i class="icon-calendar"></i>
                                    <d-datepicker
                                        class="with-icon datepicker-icon"
                                        v-model="form.date"
                                        placeholder="MM / DD / YYYY"
                                        typeable />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group selectBox">
                                    <label>Time of incident</label>
                                    <i class="icon-clock"></i>
                                    <vue-timepicker
                                        name="schedule_end_time"
                                        class="with-icon datepicker-icon form-control"
                                        v-model="form.time"
                                        format="HH:mm:ss"
                                        placeholder="End Time">
                                    </vue-timepicker>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 empty-div"></div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group selectBox">
                                    <label>Location of incident</label>
                                    <i class="icon-keyboard_arrow_down3"></i>
                                    <d-form-select v-model="selected_role">
                                        <option :value="bolden">Bolden</option>
                                        <option :value="edgren">Edgren</option>
                                        <option :value="getsch">Getsch</option>
                                        <option :value="hertiage">Hertiage</option>
                                        <option :value="hoobier">Hoobier</option>
                                        <option :value="england">England Hall</option>
                                        <option :value="miller">Miller-Kamm North</option>
                                        <option :value="adminstration">Adminstration Building/Grady Clack</option>
                                        <option :value="cafeteria">Cafeteria</option>
                                        <option :value="union">Student Union</option>
                                        <option :value="reynolds">Reynolds Building</option>
                                        <option :value="diesel">Diesel Heavy Building 2</option>
                                        <option :value="gopo">GOPO Hall</option>
                                        <option :value="library">Library</option>
                                        <option :value="noble">Noble Center</option>
                                    </d-form-select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group selectBox">
                                    <label>Specific Location</label>
                                    <i class="icon-keyboard_arrow_down3"></i>
                                    <d-form-select v-model="selected_role">
                                        <option :value="on_campus">On Campus</option>
                                        <option :value="off_campus">Off Campus</option>
                                        <option :value="residence_hall">Residence Hall</option>
                                        <option :value="hall_room_1">Hall Room 1</option>
                                        <option :value="hall_room_2">Hall Room 2</option>
                                        <option :value="hall_room_3">Hall Room 3</option>
                                        <option :value="front_hall_desk">Front Hall Desk</option>
                                        <option :value="residence_hall_parking_lot">Residence Hall Parking Lot</option>
                                        <option :value="dining_area">Dining Area</option>
                                        <option :value="outdoor_dining_area">Outdoor Dining Area</option>
                                        <option :value="kitchen">Kitchen</option>
                                        <option :value="food_line">Food Line</option>
                                        <option :value="cafeteria_bathroom">Cafeteria Bathroom</option>
                                        <option :value="vp_office">VP Office</option>
                                        <option :value="admission_office">Admission Office</option>
                                        <option :value="bathroom">Bathroom</option>
                                        <option :value="classroom">Classroom A</option>
                                        <option :value="faculty">Faculty Office</option>
                                    </d-form-select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 empty-div"></div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <div class="form-group">
                                    <label class="checkbox-heading">Please indicate if any of the following were involved in this incident:</label>
                                    <d-checkbox
                                        v-model="selectedIndicate"
                                        name="select_type"
                                        value="alcohol">
                                        Alcohol
                                    </d-checkbox>
                                    <d-checkbox
                                        v-model="selected"
                                        name="select_type"
                                        value="drugs">
                                        Drugs
                                    </d-checkbox>
                                    <d-checkbox
                                        v-model="selected"
                                        name="select_type"
                                        value="weapons">
                                        Weapons
                                    </d-checkbox>
                                    <d-checkbox
                                        v-model="selected"
                                        name="select_type"
                                        value="assault">
                                        Physical assault/violence
                                    </d-checkbox>
                                    <d-checkbox
                                        v-model="selected"
                                        name="select_type"
                                        value="misconduct">
                                        Sexual misconduct
                                    </d-checkbox>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <div class="form-group">
                                    <label class="checkbox-heading">Please indicate if you called for assistance from any of the following or any of the following services were on scene:</label>
                                    <d-checkbox
                                        v-model="selectedCampus"
                                        name="select_type"
                                        value="security">
                                        Campus Security &amp; University Police
                                    </d-checkbox>
                                    <d-checkbox
                                        v-model="selected"
                                        name="select_type"
                                        value="rescue">
                                        Fire Rescue
                                    </d-checkbox>
                                    <d-checkbox
                                        v-model="selected"
                                        name="select_type"
                                        value="violence">
                                        Physical assault/violence
                                    </d-checkbox>
                                    <d-checkbox
                                        v-model="selected"
                                        name="select_type"
                                        value="elon">
                                        Elon AOC (Administrator on Call)
                                    </d-checkbox>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group selectBox">
                                            <label>Custom Field</label>
                                            <i class="icon-keyboard_arrow_down3"></i>
                                            <d-form-select v-model="selected_role">
                                                <option :value="incident">Choose custom field value</option>
                                            </d-form-select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Another Custom Field</label>
                                            <d-input v-model="inputValue" placeholder="Enter another custom field value" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12"><hr /></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Incident Details</label>
                                       
                                        <textarea class="form-control" rows="3">Mark was seen outside the student hall meeting a strange man and exchanging drugs for money</textarea>
                                        <p class="report-content">
                                            Please provide a detailed description of the incident/concern using specific, concise and objective language (Who, what, when, where, and how).
                                            Each individual listed as "involved" should appear in your incident description.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="report-panel">
                        <div class="report-panel-heading">
                            <h4>Supporting Documentation</h4>
                        </div>
                        <div class="report-panel-body">
                            <label>Please upload any supporting documentation that may provide additional context to the incident report (pictures, text messages, emails, etc.).</label>
                                <div class="row">
                                    <div class="col-md-12">
                                            <div class="file_upload_block">
                                                <h4>Click here or drag &amp; drop file here to upload</h4>
                                                <p>Support file format are JPG, PNG, BMP, MP3, MP4, DOCX, XLS, PPT and PDF</p>
                                                <input type="file" name="upload_file"/>
                                            </div>
                                        </div>
                                        <div class="col-md-12"><hr /></div>
                                        <div class="col-md-12">
                                            <d-btn theme="primary" size="lg"
                                                @click.prevent="$emit('show-report')">
                                                <span>Submit Report</span>
                                                <c-loader></c-loader>
                                            </d-btn>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </d-form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import VueTimepicker from 'vue2-timepicker';
    export default {
        components: { VueTimepicker },
        data () {
            return {
              selected:'individual',
              selectedIndicate:'alcohol',
              selectedCampus:'security',
              form: {
                email: '',
                date: '',
                time: '',
              }
            }
        },
        methods: {
            redirectToDashboard() {
                this.$router.push({name: 'new-case'});
            }
        },
    }
</script>
