<template>

	<!-- Modal Form -->


	<div class="col-xs-12 col-md-6">

		<div slot="charges">

			<manage-charges-popup 
				v-if="type == 'api/charge'"
				:formValues="formValues"
				:clearFormData="clearFormData"
				@form-submitted="$emit('case-form-submitted')"
				@form-updated="$emit('case-form-submitted')"
				@case-form-submitted="resendCall"
				>
			</manage-charges-popup>

			<manage-sanctions-popup 
				v-if="type == 'api/case-sanction'"
				:sanctionsValuesPopup="sanctionsValuesPopup"
				:clearFormData="clearFormData"
				@form-submitted="$emit('case-form-submitted')"
				@form-updated="$emit('case-form-submitted')"
				@case-form-submitted="resendCall">	
			</manage-sanctions-popup>

			<manage-case-plea-popup 
				v-if="type == 'api/case-plea'"
				:formValues="formValues"
				:clearFormData="clearFormData"
				@form-submitted="$emit('case-form-submitted')"
				@form-updated="$emit('case-form-submitted')"
				@case-form-submitted="resendCall">	
			</manage-case-plea-popup>

			<manage-appeals-popup 
				v-if="type == 'api/appeal'" 
				:appealList="appealFormListing" 
				:caseFormDataVal="caseFormDataVal"
				@form-updated="$emit('case-form-submitted')"
				@case-form-submitted="resendCall"
				>	
			</manage-appeals-popup>

		</div>

	


	</div>

</template>

<script>

import VueTimepicker from 'vue2-timepicker';
import Selectize from 'vue2-selectize';

export default {

	props : [
		'showModalProp',
		'type' ,
		'appealCaseListing',
		'caseFormData',
		'formValues',
		'sanctionsValues',
		'clearFormValues'
	],

	components: { VueTimepicker, Selectize },

	data() {
		return {
			resendCall: '',
			showModal: false,
			modalSize: 'lg',
			stageValue:'',
			listing:[],
			text: '',
			violation:'',
			selected: '',
			involved: '',
			form: {
				startDate: '',
				endDate: '',
			},
			appealFormListing: '',
			settings: {},
			caseFormDataVal: '',
			modalUrlValue: '',
			sanctionsValuesPopup: '',
			clearFormData: false,
		}
	},

	methods: {
		handleClick() {
			this.showModal = true
		},
		handleClose() {
			this.showModal = false;
			this.$emit('hide-modal-value');
		}
	},


	mounted() {

	},

	watch: {
		
		showModalProp(value){
			if(value) {
				this.showModal = true
			}
			if(!value) {
				this.showModal = false
			}
		},

		appealCaseListing(value) {
            let self =  this;
            self.appealFormListing ='';
			if(value) {
				self.appealFormListing = value;
			}
		},

		caseFormData(value) {
			this.caseFormDataVal = value;
		},

		formValues(value) {
		},

		sanctionsValues(value) {
			this.sanctionsValuesPopup = value;
		},
		clearFormValues(value){
			this.clearFormData = value;
		},

	},
}
</script>
