<template>

    <!-- Modal Cases Listing -->

    <div class="col-md-6 scrollable merge-cases-scroll">
        <div class="manage-listing">
            <div 
            v-for="(item , index) in items" 
            :class="{ 'active-case-list' : typeof(currentIndex) !== 'string' && currentIndex == index   }"
            >
            <d-card>
                <d-card-body>
                    <label> {{ item.title }} </label>

                    <!-- Charge -->
                    <div v-if="type == 'api/charge'">

                        <p> 
                            <span v-if="violationIndex < 2" v-for="(personViolation, violationIndex) in item.description">
                                {{ personViolation.name }} 
                                {{ !violationIndex && (item.description !== '') && item.description.length > 1 ? ", "  : "" }}
                            </span>

                            <a v-if="item.description && item.description.length > 2" class="morelink moreitem scrollbar" id="style-2">&amp; {{item.description.length - 2}} More

                                <div class="personare scrollbar" id="style-2">
                                    <span v-if="violationIndex > 1" v-for="(personViolation, violationIndex) in item.description">
                                        {{ personViolation.name }}
                                    </span>
                                </div>
                            </a>
                        </p>

                        <span class="action-panel">
                            <i 
                            class="icon-edit"
                            v-tooltip.top-center="editMsg"
                            @click="$emit('send-form-value', item) , currentIndex = index"
                            >
                        </i>
                        <i       
                        @click="openDelete(index)"
                        class="icon-delete"
                        v-tooltip.top-center="deleteMsg">    
                    </i>
                </span>
            </div>


            <!-- Plea -->
            <div v-if="type == 'api/case-plea'">

                <p class="appeal-description">
                    <span v-if="item.plea_type">{{item.plea_type}}</span>
                    <span v-if="item.plea_outcome">| {{item.plea_outcome}}</span>
                </p>

                <span class="action-panel">
                    <i 
                    class="icon-edit"
                    v-tooltip.top-center="editMsg"
                    @click="$emit('send-form-value', item) , currentIndex = index"
                    >
                </i>
                <i       
                @click="openDelete(index)"
                class="icon-delete"
                v-tooltip.top-center="deleteMsg">    
            </i>
        </span>
    </div>


    <!-- Appeal -->
    <div v-if="type == 'api/appeal'">
        <p class="appeal-description">
            {{ item.description | toTitleCase }}   |  Posted On  {{ item.formatted_created_at | fullDateTime}}  
        </p>

        <span class="action-panel">
            <i 
            class="icon-edit"
            v-tooltip.top-center="editMsg"
            @click="$emit('modify-case-list', item) , currentIndex = index"
            >
        </i>
    </span>
</div>

<!-- sanctions -->
<div v-if="type == 'api/case-sanction'">

    <p> 
        <span v-if="sanctionIndex < 2" v-for="(personSanction, sanctionIndex) in item.description">
            {{ personSanction }}
            {{ !sanctionIndex && (item.description !== '') && item.description.length > 1 ? ", "  : "" }}
        </span>

        <a v-if="item.description && item.description.length > 2" class="morelink moreitem scrollbar" id="style-2">&amp; {{item.description.length - 2}} More

            <div class="personare">
                <span v-if="sanctionIndex > 1" v-for="(personSanction, sanctionIndex) in item.description">
                    {{ personSanction }}
                </span>
            </div>
        </a>
    </p>

    <span class="action-panel">
        <i 
        class="icon-edit"
        v-tooltip.top-center="editMsg"
        @click="$emit('sanctions-case-list', item) , currentIndex = index"
        >
    </i>
    <i       
    @click="openDelete(index)"
    class="icon-delete"
    v-tooltip.top-center="deleteMsg">    
</i>
</span>
</div>


</d-card-body>

<!-- Sanctions  -->
<div 
class="manage-alert-popover"
v-if="seen.length && seen[index].isRemove"
>
<p>Are you sure you want to delete ?</p>

<d-btn 
:class="[  loading ? 'show-spinner' : '' , 'btn-xs' ,'btn-primary', 'btn']" 
@click.prevent="onDeleteField(item);"
theme="primary">
<span>Confirm</span>
<c-loader :loaderSm="loaderSm = true"></c-loader>
</d-btn>
<button class="btn btn-link" @click.prevent="onCancel(index)">Cancel</button>
</div> 


</d-card>

</div>

</div>


<block-spinner v-if="!items.length && !noRecordFound"></block-spinner>
<no-record-found v-if="noRecordFound"></no-record-found>


<common-methods 

@form-deleted="formDeleted"
:submitUrl="submitUrl"
:submit="submit"
:submitType="postType"

>

</common-methods>



</div>

</template>

<script>
    import { EventBus } from '../../event-bus.js';
    export default {

        props : [
        'showModalProp',
        'urlType',
        'listing',
        'noRecordFound',
        'type'
        ],

        data() {
            return {
                deleteMsg: 'Delete',
                loaderSm: false,
                loading: false,
                submitUrl: '', 
                submit: '',
                postType: 'delete',
                seen: [],
                showModal: false,
                modalSize: 'lg',
                editMsg: 'Edit',
                items: [],
                typeVal: '',
                currentIndex: '',
                incidentCase: {},
                appealRecord: '',
            }
        },

        computed: {

        },

        methods: {

            openDelete(index) {
                for(var i = 0; i < this.seen.length; i++){
                    if(index != i)
                        this.seen[i].isRemove = false;
                }
                this.seen[index].isRemove = true;
            },

            onCancel(index) {

                this.seen = _.map(this.items, function() {
                    return {
                        isRemove: false,
                    };
                });
            },

            composeData(){

                let self = this;

                self.items = [];
                if(!this.listing.length){

                }else{
                    _.forEach(this.listing , function(list){
                        var listData = list.data;

                        if(self.typeVal == 'api/charge'){

                            var title = listData.charged_to_users ? listData.charged_to_users.first_name+' '+listData.charged_to_users.last_name : '';
                            var description = '';
                            description = listData.violations;
                            var statement = listData.statement;
                            var violation_ids = listData.violation_ids;
                            var id = list._id;
                            var case_number = list.case_number;
                            var charged_to = listData.charged_to;
                            var charged_to_users = listData.charged_to_users ? listData.charged_to_users.first_name+' '+listData.charged_to_users.last_name : ' ';
                            var user_id = list.user_id;
                            var case_id = list.case_id;

                            let itemObject = {

                                title : title,
                                description : description,
                                id: id,
                                case_number: case_number,
                                statement: statement,
                                violation_ids: listData.violation_ids,
                                charged_to: listData.charged_to,
                                user_id: list.user_id,
                                charged_to_users: charged_to_users,
                                case_id: case_id,
                            }
                            self.items.push(itemObject);
                        }
                        else if(self.typeVal == 'api/case-plea'){

                            var title = listData.plea_to_users ? listData.plea_to_users.first_name+' '+listData.plea_to_users.last_name : '';
                            var plea_type = listData.plea_type ? listData.plea_type.name : "";
                            var plea_outcome = listData.plea_outcome ? listData.plea_outcome.name : "";
                            var id = list._id;
                            var case_number = list.case_number;
                            var plea_to = listData.plea_to;
                            var plea_to_users = listData.plea_to_users;
                            var user_id = list.user_id;
                            var case_id = list.case_id;

                            let itemObject = {
                                title : title,
                                plea_type : plea_type,
                                plea_type_id : listData.plea_type_id,
                                plea_outcome : plea_outcome,
                                plea_outcome_id : listData.plea_outcome_id,
                                id: id,
                                case_number: case_number,
                                plea_to: plea_to,
                                user_id: user_id,
                                plea_to_users: listData.plea_to_users ? listData.plea_to_users.first_name+' '+listData.plea_to_users.last_name : '',
                                case_id: case_id,
                            }
                            self.items.push(itemObject);
                        }
                        else if(self.typeVal == 'api/case-sanction'){

                            var description = [];
                            _.forEach(listData.sanctions , function(sanctions){
                                description.push(sanctions.name);
                            });

                            var fine_ids = listData.fine_ids;
                            var fines = listData.fines;
                            var id = list._id;
                            var formatted_created_at = list.case_number;
                            var case_number = list.case_number;
                            var sanctions = listData.sanctions
                            var details = listData.details;
                            var case_id = list.case_id;
                            var title = listData.imposed_on_user ? listData.imposed_on_user.first_name+' '+listData.imposed_on_user.last_name : ' ';
                            var imposed_on = listData.imposed_on;

                            let itemObject = {
                                title : title,
                                description : description,
                                fine_ids : fine_ids,
                                fines : fines,
                                status : status,
                                id: id,
                                formatted_created_at : formatted_created_at,
                                case_number: case_number,
                                sanctions: sanctions,
                                details: details,
                                case_id: case_id,
                                imposed_on: imposed_on,

                            }
                            self.items.push(itemObject);
                        }
                        else if(self.typeVal == 'api/appeal'){
                            var id = list._id;
                            var title = listData.user ? listData.user.first_name+' '+listData.user.last_name : '';
                            var description = listData.user?listData.user.status:' ';
                            var formatted_created_at = list.created_at.date;
                            var statement = listData.statement;
                            var appeal_type = listData.appeal_type?listData.appeal_type.name:'';
                            var appeal_review = listData.appeal_review?listData.appeal_review:'';
                            var appeal_outcome = listData.appeal_outcome?listData.appeal_outcome:'';
                            var appeal_type_id = listData.appeal_type_id?listData.appeal_type_id:'';
                            var appeal_status_id = listData.appeal_status_id?listData.appeal_status_id:'';
                            var appeal_review_type_id = listData.appeal_review_type_id?listData.appeal_review_type_id:'';
                            var appeal_outcomes_id = listData.appeal_outcomes_id?listData.appeal_outcomes_id:'';
                            var type = list.type;
                            var case_id = list.case_id;


                            let itemObject = {
                                title : title,
                                id: id,
                                description : description,
                                formatted_created_at : formatted_created_at,
                                case_number: case_number,
                                statement:statement,
                                appeal_type: appeal_type,
                                appeal_review: appeal_review,
                                appeal_outcome: appeal_outcome,
                                appeal_type_id: appeal_type_id,
                                appeal_status_id: appeal_status_id ? appeal_status_id : null,
                                appeal_review_type_id: appeal_review_type_id ? appeal_review_type_id : null,
                                appeal_outcomes_id: appeal_outcomes_id ? appeal_outcomes_id : null,
                                type: type,
                                case_id: case_id,
                            }
                            self.items.push(itemObject);
                            self.currentIndex = 0;
                        }

                        self.$emit('modify-case-list', self.items[0]);
                    });
this.seen = _.map(this.items, function(value, index) {
    return {
        isRemove: false,
    };
});
}


},

getAllFields() {
    let self = this;
    this.loader = true;
    this.incidentCase = this.$store.getters.getCaseData;

    let url = this.urlType + '?case_number='+this.incidentCase.case_number+'&case_id='+this.incidentCase._id+'&pagination=true';

    self.$http.get(url).then(response=>{
        self.loader = false;
        response = response.data;
    }).catch(error=>{
    });
},

onDeleteField(item) {
    let self = this;
    self.loading = true
    let url = this.urlType + "/" + item.id+'?case_number='+parseInt(item.case_number)+'&case_id='+item.case_id;
    this.$http.delete(url, item)
    .then(response => {
        response = response.data;
        self.successMessage= response.message;
        self.getAllFields();

        EventBus.$emit('activity-logs-unshift', {
            tab: 'all',
            log: response.response.data.log,
            document: {},
        });

        this.$emit('clear-form-fields', true);
        setTimeout(function(){
            self.$emit('clear-form-fields', false);
        },500);
        this.$emit('form-updated');
    });
},

formSubmitted(response){
    this.clearDetails(response);
    this.$emit('form-submitted', response);
},


handleClick() {
    this.showModal = true
},


formDeleted(response){
    this.clearDetails(response);
    this.$emit('form-deleted' , response);
},

deleteSanction() {
    this.submit = true;
    this.loading = true;
    this.errorMessage = '';
    return;
}

},

mounted (){

    this.typeVal = this.urlType;
    this.composeData();

},

watch: {

    listing(){
        this.composeData();
        this.loading = false;

    },

    urlType (value){
        this.typeVal = value;
    },

    showModalProp(value){
        this.incidentCase = this.$store.getters.getCaseData;
        if(value) {
            this.showModal = true
        }
        if(!value) {
            this.showModal = false
        }
    }
},
}
</script>
