<template>
    <div class="manage-charges-popup prevent-close">
        <d-modal v-if="showModal" size="lg" @close="handleClose">
            <div class="model-content-area">

            <d-modal-header>
                <d-modal-title>{{ popupTitle }}</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <div class="row" v-if="!fromAppeal">


                    <cases-listing
                        v-if="modalUrl" 
                        :noRecordFound="noRecordFound"
                        :listing="listing" 
                        :urlType="modalUrl" 
                        :submitType="submitType"
                        @modify-case-list="ModifyCaseList"
                        @send-form-value="recieveFormValues"
                        @sanctions-case-list="recieveSanctionsList"
                        @form-updated="resendCall"
                        @clear-form-fields="clearFormFields"
                        :type="modalUrl" 
                        >
                    </cases-listing>

                    <cases-form 
                    v-if="modalUrl"
                    :type="modalUrl" 
                    :appealCaseListing="listing" 
                    :caseFormData="caseFormData"
                    :formValues="formValues" 
                    :sanctionsValues="sanctionsValues"
                    :clearFormValues="clearValues"
                    @case-form-submitted="resendCall"
                    @case-form="caseForm">

                    <slot name="charges"></slot>

                </cases-form>


            </div>
      
            <div v-if="fromAppeal">
                <no-record-found></no-record-found>
            </div>
        </d-modal-body>
    </div>
    </d-modal>


    <common-methods 

    :url="requestUrl"
    :formData="formData"
    @get-response="getResponse"
    :hideLoader="true">

</common-methods>

</div>
</template>

<script>

import casesForm from './CasesForm.vue';

export default {

    props : [
        'showModalProp',
        'popupTitle',
        'modalUrl',
        'appealRecord'
        ],

    data() {
        return {
            sanctionsValues: '',
            formValues: '',
            showModal: false,
            modalType: false,
            fromAppeal: true,
            modalSize: 'lg',
            listing: [],
            noRecordFound: false,  
            url : '',
            formData: {
                case_number: '',
            },
            caseFormData: {}, 
            formValues: {},
            submitType: '',
            modalUrlValue: '',
            incidentCase: {},
            clearValues: false,
        }
    },

    methods: {
        resendCall(){
            let self = this;
            if(this.incidentCase.case_number && this.modalUrl){
                var newDate = new Date().getMilliseconds();
                this.url = this.modalUrl+'?case_number='+this.incidentCase.case_number+'&case_id='+this.incidentCase._id+'&pagination=true&time='+newDate;
            }
            if(self.modalUrl==='api/appeal') {
                setTimeout(function(){
                    self.loading = false;
                    self.showModal = false;
                    self.handleClose();
                } , 2000);
            }
        },

        getResponse(response) {
            let self = this;
            self.listing = []
            self.fromAppeal = false;
            if(self.modalUrl==='api/appeal' && response.noRecordFound) {
                self.fromAppeal = true;
            }
            if(Object.keys(response.data).length || response.noRecordFound){
                self.listing = response.data;
                this.noRecordFound = response.noRecordFound;
            }
        },

        handleClose() {
            this.showModal = false;
            this.$emit('hide-modal-value');
        },

        ModifyCaseList(value) {
            this.caseFormData = value;   
        },

        caseForm(value) {
            this.caseForm = this.value;
        },

        recieveFormValues(value) {
            console.log(value,645);
            this.formValues = value; 
        },

        recieveSanctionsList(value) {
            this.sanctionsValues = value;
        },
        clearFormFields(value){
            this.clearValues = value;
        }

    },
    computed : {
        requestUrl(){
            if(this.url && this.incidentCase.case_number){
                return this.url+'?case_number='+this.incidentCase.case_number+'&case_id='+this.incidentCase._id+'&pagination=true';
            }
        }
    },

    watch: {

        showModalProp(value){
            let self = this;
            this.incidentCase = this.$store.getters.getCaseData;
            if(value) {
                if(self.modalUrl==='api/case-sanction') {
                    self.resendCall();
                }
                this.showModal = true;
            }
            if(!value) {
                self.modalUrl = 'api/appeal';
                this.showModal = false
            }
        },

        modalUrl(value) {
            if(value){
                this.url = value;
            }
        },

        recieveFormValues (value) {

        },
    },


}
</script>
