// Alert Adjustments
.alert{
    border-radius: $input-radius;
}
// Alternate style for the accent color
.alert-accent {
  color: lighten($accent-color, 48%);
  background-color: $accent-color;

  .alert-link {
    color: lighten($accent-color, 48%);
  }
}

.alert-dismissible .close {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.radius.alert {
    border-radius: 5px;
}

.alert-success{
    padding-left: 44px;
    &:after{
        content:'';
        position: absolute;
        left: 15px;
        font-size: 20px;
        top: 8px;
        color: #fff;
        background-image:url('../images/tick.svg');
        background-repeat: no-repeat;
        background-size: 18px auto;
        width: 20px;
        height: 26px;
        background-position: 1px 6px;
    }
}

.alert-danger{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding-left: 44px !important;
    &:after{
        content:'';
        position: absolute;
        left: 18px;
        font-size: 20px;
        top: 11px;
        color: #fff;
        background-image:url('../images/alert-icon.svg');
        background-repeat: no-repeat;
        background-size: 18px auto;
        width: 20px;
        height: 26px;
        background-position: 1px 6px;
    }
}

.alert-info{
    padding-left: 44px;
    &:after{
        content:'';
        position: absolute;
        left: 22px;
        font-size: 20px;
        top: 8px;
        color: #fff;
        background-image:url('../images/info-icon.svg');
        background-repeat: no-repeat;
        background-size: 18px auto;
        width: 20px;
        height: 26px;
        background-position: 1px 6px;
    }
}

.dismiss-alert{
    .alert-success, .alert-danger{
        &:after{
            display: none;
        }
    }
}

.transparent-alert{
    .alert-success{
        background-color: transparent;
        border: $alert-success 1px solid;
        color: $alert-success;

        a{
            color: $alert-success;
        }

        &:after{
            color: $alert-success;
        }
    }

    .alert-danger{
        // border:1px solid $alert-danger;
        // color: $alert-danger;
        background-color: #f2dede !important;
        border-color: #ebcccc !important;
        color: #a94442 !important;
        a{
            color: $alert-danger;
        }

        &:after{
            color: $alert-danger;
        }
    }
}


// Custom Toast 


.toasted-container {
    z-index: 99999 !important;
}
.toasted {
    padding: 15px 28px 15px 40px !important;
    border-radius: 30px !important;
    &.success-toast.bubble.success {
        padding: 15px 28px 15px 50px !important;
        background-color: #dff0d8 !important;
        border-color: #d0e9c6 !important;
        color: #3c763d !important;
        i.material-icons {
            top: 1px;
            font-size: 22px;
            left: -3px;
        }
    }
    &.bubble.error {
        background-color: #f2dede !important;
        border-color: #ebcccc !important;
        color: #a94442 !important;
        i.material-icons {
            top: 1px;
            left: -3px;
            font-size: 22px;
        }  
    }
    &.info-toast {
        background-color: #d9edf7 !important;
        border-color: #bcdff1;
        color: #31708f !important;
        padding-left: 53px !important;
        i.material-icons {
            top: 1px;
            left: -3px;
            font-size: 22px;
        }  
    }
    &.alert-success{
        padding-left: 44px;
        &:after{
            content:'';
            position: absolute;
            left: 20px;
            font-size: 20px;
            top: 9px;
            color: #fff;
            background-repeat: no-repeat;
            background-size: 18px auto;
            width: 20px;
            height: 26px;
            background-position: 1px 6px;
        }
    }
    &.alert-danger{
        padding-left: 44px !important;
        &:after{
            content:'';
            position: absolute;
            left: 18px;
            font-size: 20px;
            top: 8px;
            color: #fff;
            background-repeat: no-repeat;
            background-size: 18px auto;
            width: 20px;
            height: 26px;
            background-position: 1px 6px;
        }
    }
}

.alert{
    position: fixed !important;
    bottom: 2px;
    top: auto;
    right: 68px;
    padding: 15px 28px 15px 47px!important;
    border-radius: 30px !important;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    transition: all .3s ease-out;
    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 1;
    transform: translateY(-35px);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    z-index: 999;
}
.toasted-container {
    .toasted {
        @include mobile {
            margin: 0 20px;
            margin-left: 38px;
        }
        &.bubble {
            @include mobile {
                font-size: 14px;
            }   
        }
    }
}