
.button-loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 4px auto;
    width: 35px;
    height: 35px;
    display: none;
    overflow: hidden;
    margin: 1px auto;
    .loader {
        border: 1.1em solid #0067a9;
    }
    .spinner {
        width: 12px;
        height: 12px;
        background-color: #fff;
        margin: 0;
        -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
        animation: sk-rotateplane 1.2s infinite ease-in-out;
        opacity: 0.8;
        position: absolute;
        top: 11px;
        left: 0;
        right: -1px;
        margin: 0 auto;
    }

    .loader,
    .loader:after {
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }
    .loader {
        display: block;
        margin: 0px auto;
        font-size: 3px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        text-indent: -9999em;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
        border-style: dashed;
    }
    @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}

.loader-sm {
    .button-loader {
        width: 22px !important;
        height: 22px;
        margin: 7px auto;
        .loader {
            width: 22px;
            height: 22px;
            font-size: 3px;
        }
        .spinner {
            width: 8px;
            height: 8px;
            top: 7px;
        }
    }
}

/*==
  loadmore records
==*/

.loadmore-records {
    padding: 20px 0;
    display: none;
    .spinner-image {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }
    span {
        display: inline-block;
        text-transform: uppercase;
        font-family: $font_medium;
        color: $grey-medium;
    }
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #fff;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}




/* block page loader */

.block-loader {
    // min-height: 100% !important;
    min-height: 100vh;
    height: 100%;
    // min-height: 0;
    // height: 50px;
    position: relative;
    .button-loader {
        vertical-align: middle;
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 100%;
        align-content: center;
        align-items: center;
        // background-color: #fff;
        width: 100% !important;
    }
}

.activitycontent {
    .block-loader {
        min-height: 0;
        height: 146px !important;
        width: 37px;
        top: 0;
        overflow: hidden;
        margin: 0 auto;
    }
}
.activities-section {
    .activitycontent {
        .block-loader {
            min-height: 0;
            height: 240px !important;
            width: 37px;
            top: 0;
            overflow: hidden;
            margin: 0 auto;
        }
    }    
}
.model-content-area {
    .block-loader {
        min-height: 0;
        height: 670px;
    }
    .merge-cases-scroll {
        .block-loader {
            min-height: 0;
            height: 460px;
        }   
    }
    .add-assocaite-treeselect {
        .block-loader {
            min-height: 4vh !important;
            height: 40px;
        }
        .loader, .loader:after {
            width: 8em !important;
            height: 8em !important;
        }
    }
}
.config-incident-type {
    .testing {
        .block-loader {
            min-height: 0 !important;
            height: 50px;
        }
    }
}

.loader-sm.block-loader.incidentLoader {
    min-height: 0 !important;
    height: 50px !important;
}

.student-sanctions-popup  {
    .model-content-area {
        .block-loader {
            min-height: 0;
            height: 310px;
        }
    }
}
.captcha-loader {
    .block-loader {
        min-height: 70px !important;
        height: 50px !important;
    }
}

.highlight_box {
    .block-loader {
        min-height: 31px;
    }
    .loader {
        width: 8em !important;
        height: 8em !important;
    }
}

.caseTableBlock, .chart-container {
    .block-loader {
        min-height: 285px;
        height: 50px;
    }
}
.other-reports-fields {
    .block-loader {
        min-height: 285px;
        height: 50px;
    }
}

.piechart-container {
    .block-loader {
        min-height: 350px !important;
        height: 120px !important;
    }   
}

.case-timeline-content {
    .block-loader {
        min-height: 150 !important;
        height: 80px !important;
    }   
}
.prior-cases-list {
    .block-loader {
        min-height: 0 !important;
        height: 290px !important;
    }       
}

.close-case-popup {
    .block-loader {
        min-height: 0 !important;
        height: 100px !important;
    }    
}
.role-popup {
    .block-loader {
        min-height: 0 !important;
        height: 100px !important;
    }    
}
