// Buttons Adjustments

// White and black button adjustments specific to Shards Dashboard.
// If you want to use the default Shards buttons just comment the
// styles below.

.btn-white,
.btn-black {
  // Set the defaults to use the accent color.
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active {
    box-shadow: none !important;
    background-color: $accent-color;
    border-color: $accent-color;
    color: $white;

    + .btn {
      border-left: 1px solid $accent-color;
    }
  }

  &:hover {
    background: $white;
    border-color: $white;
    box-shadow: 0px 0.125rem 0.625rem rgba($reagent-gray, .2),
                0 0.0625rem 0.125rem rgba($reagent-gray, .3);
  }
}

// White button accent color modifiers.
// Selector specificity to override existing active state.
.btn.btn-white {
  border: 1px solid $border-color;
  color: $fiord-blue;

  @mixin btn-active-modifier($color, $value) {
    &:not([disabled]):not(.disabled).active-#{$color} {
      &.active,
      &:active {
        background-color: $value;
        border-color: $value;
        color: color-yiq($value);

        & + .btn {
          border-left: 1px solid red;
        }
      }
    }
  }

  // Existent theme colors
  @each $color, $value in $theme-colors {
    @include btn-active-modifier($color, $value);
  }
}


// Button variation for the accent color.
.btn-accent {
  @include button-variant($accent-color);
}

// Outline button variation for the accent color.
.btn-outline-accent {
  @include button-outline-variant($accent-color);
}

// Button

.btn{
    height: $button-height;
    border-radius: $button-border-radius;
    min-width: 120px;
    font-family: $font_medium;
    font-size: $font-size-sm;
    box-shadow:none !important;
    outline:none !important;
    position:relative;

    @include tablet{
        padding: 6px 10px;
        font-size: 13px;
    }

    &.disabled{
      span{
        opacity: 0;
      }
    }

  &.show-spinner {
    pointer-events: none;
    position: relative;
    overflow: hidden;
    color: transparent !important;
    background: $grey-dark!important;
    border-color: $grey-dark!important;

    &:focus{
      background: $grey-dark!important;
      border-color: $grey-dark!important;
    }
  }

}

.btn-primary,.btn-primary.active{
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    &:hover,&:focus,&:focus{
      background-color:$btn-primary-hover !important;
    }
    &.disabled{
      background-color:$disabled-state !important;
      border-color:$disabled-state !important;
    }
}

.btn-secondary{
  background-color: $secondary-color;
  border-color: $secondary-color;

  &:hover, &:focus, &:active{
    background-color: $secondary-color!important;
    border-color: $secondary-color!important;
  }
  &.disabled{
    background-color:$disabled-state !important;
    border-color:$disabled-state !important;
  }
}

.btn-danger{
  background-color: $btn-danger-bg;
  border-color: $btn-danger-bg;
}

.inbox-form{
  .btn{
      min-width: 189px;
  }
}
.btn-lg {
  height: 48px !important;
  font-size: 18px;
  line-height: 0;
}

.btn-link:focus, .btn-link.focus {
  outline: none !important;
}