// Card adjustments

// Block handles
.card-header {
  h1, h2, h3, h4, h5, h6 {
    font-weight: $card-headings-font-weight;
    margin-bottom: 0;
  }
}

// Small "Full Report" cards element adjustments
.card .view-report {
  margin-top: auto;
  margin-bottom: auto;
  font-size: $card-view-report-font-size;

  a {
    color: $card-view-report-link-color;

    &:hover {
      color: $card-view-report-link-color-hover;
    }
  }
}

.card-small {
    box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}

.card-header:first-child {
    border-radius: .625rem .625rem 0 0;
}
.card-small .card-body, .card-small .card-footer, .card-small .card-header {
    padding: 1rem 1rem;
}

.border-bottom {
    border-bottom: 1px solid #e1e5eb!important;
}

.card{
    border-radius: .625rem;
/*     box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1); */
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

    .text-center {
      text-align: center!important;
    }


    .card-title{
      margin-bottom: 0;
      margin-top: 10px;
      color: $primary-color;
      line-height: 1.2;
    }

    .card-body{
      position: relative;

      .date{
        font-size:  0.75rem;
        margin-top: 15px;
      }

      .profile-pics{
          position: absolute;
          width: 40px;
          height: 40px;
          border-radius: 50px;
          top: -22px;
          box-shadow: 0 0 0 0.125rem #fff, 0 0.1875rem 0.4375rem rgba(90,97,105,.5);
      }
    }

    .card-img{
        border-radius: .625rem .625rem 0 0;
    }

    p{
      margin-bottom: 0;
      margin-top: 10px;
    }
}

.bg-dark {
    background-color: #212529!important;
}

.overflow-hidden {
    overflow: hidden;
}

.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}
.p-0 {
    padding: 0!important;
}

.bg-light {
    background-color: #fbfbfb!important;
}

.card{
    &.without-radius{
      border-radius: 0;
      img{
        border-radius: 0;
      }
    }
}

.files-thumbs{
    margin-bottom: 30px;
    box-shadow: none;
    border: solid 1px $table-border;
    .card-body{
        padding: 1.875rem 1.5rem;
    }
    img{
        max-width: 55px;
        margin: 0 auto 15px;
        height: 55px;
    }
    h2{
        font-size:$font-size-sm;
        color:$primary-color;
        margin: 0;
        padding: 0;
        line-height: 20px;
    }
    p{
        font-size:$font-size-xs;
        color:$text-primary-color;
    }
    span{
        font-size:$font-size-xs;
        color:$grey-dark;
    }
}
