$max-wrapper:1360px;
$container-fluid-padding:0px 32px;

//background colors variables
$primary-color:var(--primary-color);
$secondary-color:var(--secondary-color);
$success-color:#5CB85C;
$danger-color:#E4002B;
$warning-color:#F48924;
$info-color:#ffc107;
$text-primary-color:#1A1A1A;
$primary-color-lighten:lighten($text-primary-color,80%);

$grey-lite:#EBEEF2;
$grey-dark: #838383;
$grey-medium:#d9d9d9;
$grey-Elite: #F5F5F5;

$body-color:$text-primary-color;
$body-bg:#f5f6f8;
$incident-report-bg: $primary-color;
$label-border-color:$text-primary-color;
$page-loader-bg:$grey-lite;
$disabled-state:$grey-dark;
$main-nav-border-color:#D9DEE7;

$success-bg:#41b031;
$success-border:#28a745;
$danger-bg:#d9534f;
$danger-border:#d9534f;
$warning-bg:#ffc107;
$warning-border:#ffc107;
$info-bg:#00b8d8;
$info-border:#00b8d8;

//status colors
$status-active:$success-color;
$status-success:$success-color;
$status-new:$warning-color;
$status-danger:$danger-color;
$status-pending:$warning-color;
$status-review:#17a2b8;
$status-approved:$success-bg;
$status-rejected:$danger-bg;
$status-banned:$danger-bg;
$status-archived:$grey-medium;
$status-inbidding:#ff8500;
$status-awarded:#4b9dc0;
$status-initiated:#ffb300;

$border-color:#ddd;
$border-color2:#e9e9e9;
$panel-padding:8px 10px;
$list-group-padding:13px 16px;

$btn-primary-bg:$primary-color;
$btn-primary-hover:$primary-color;
$btn-primary-color:#fff;
$btn-secondary-bg:$secondary-color;
$btn-secondary-color:#fff;
$btn-lg-height:48px;
$anchor-color:$primary-color;
$anchor-color-hover:$primary-color;
$section-border-color:$grey-medium;

//font sizes variables
$font-size-xs:0.75rem;   		//12px
$font-size-sm:0.875rem;  		//14px
$font-size-md:1rem; 			//16px
$other-font-size:1.125rem;		//18px
$font-size-xmd:1.5rem; 			//24px
$font-size-lg:1.75rem;  		//28px
$font-size-xlg:2.25rem;  		//36px
$list-desc-size:0.8rem;
$font-size-base:$font-size-sm;

$hd-size-xlg:$font-size-xlg; //36px
$hd-size-lg:$font-size-lg;   //28px
$hd-size-md:$font-size-xmd;  //24px
$hd-size-sm:$font-size-md;   //16px
$hd-size-xsm:$font-size-sm;   //14px
$hd-size-other:$other-font-size; //18px

// sidebar
$sidebar-width:260px;
$sidebar-height:100vh;
$sidebar-bg: #fff;
$sidebar-padding:24px 0;
$sidebar-nav-hover:#1F2633;
$sidebar-dropdown-padding:7px 8px 10px 10px;
$sidebar-bg: #fff;
$sidebar-padding:15px;
$discussion-panel-width:390px;
$discussion-panel-height:640px;
$discussion-panel-bg:#fff;
$discussion-chat-size:13.5px;

//global radius
$global-radius:8px;
$upload-panel-radius:8px;

//global column padding
$global-padding:42px;

//Labels
$label-font-size: $font-size-sm;
$label-color: $text-primary-color;
$label-margin:0 0 8px 0;

//input
$placeholder-color:#838383;
$input-border:#d9d9d9;
$input-font-size: $font-size-sm;
$input-height:38px;
$input-color:$text-primary-color;
$input-radius:4px;
$input-padding:7px 16px;
$input-padding-mac:17px 24px 13px; //mac
$input-margin-bottom:16px;
$input-focus-border-color:#66AFE9;
$searchbox-padding:1px 15px 1px 45px;

//buttons
$button-height:38px;
$button-primary-color:$btn-primary-bg;
$button-primary-color-hover: $primary-color !default;
$button-secondary-color-hover:$secondary-color !default;
$button-secondary-color:$btn-secondary-bg;
$dropdown-btn-color:#407500;
$button-border-radius:8px;
$btn-danger-bg:#da0025;
$button-font-size:$font-size-md;
$button-padding:6px 20px 10px 20px;
$button-padding-mac:14px 24px 13px;
$button-margin-bottom:20px;
$button-radius:24px;

//checkbox
$checkbox-width-height: 15px;
$checkbox-radius:2px;
$checkbox-border-color: $input-border;
$border-radius:20px;

//table
$table-padding:15px 32px;
$table-bg:#fff;
$table-bg-th:$grey-dark;
$table-text-color: $secondary-color;
$table-font-size: $font-size-sm;
$table-border:#D9DEE7;
$table-th-padding: 10px 24px;
$table-td-padding: 12px 24px;
$table-th-height:38px;
$table-padding-1380:14px 15px 12px;
$table-padding-1440:14px 18px 12px;
$table-padding-mac:18px 24px 12px;
$table-padding-mac-1380:18px 15px 12px;
$table-padding-mac-1440:18px 18px 12px;
$table-padding-mac-tablet: 18px 27px 12px;
$table-margin-bottom:17px;

// modal sizes
$custom-modal-header-border-color:$label-border-color;
$custom-modal-header-padding: 13px 24px 9px 24px !default;
$custom-modal-footer-padding: 13px 24px 15px 24px;
$custom-modal-body-padding: 18px 24px 5px 24px !default;
$custom-modal-lg: 1100px !default;
$custom-modal-md: 800px !default;
$custom-modal-sm: 420px !default;

//header
$header-bg:#fff;
$header-height:auto;
$header-width:100%;
$header-padding:20px 0px;
$header-border-color:$label-border-color;

//main panel settings
$main-panel-width:$sidebar-width;
$main-panel-padding:10px 32px 17px 32px;
$main-panel-padding-1440:79px 18px 21px 18px;

//section padding
$section-padding:60px 0;

$mobile-section-padding:30px 0;

//header-setting
$header-content-height: 20px 4px;

//alert
$alert-height:43px;
$alert-padding:13px 47px;
$alert-width:100%;
$alert-radius:$global-radius;
$alert-padding:9px 20px 9px 47px;


//pie charts
$pie-chart-width:100%;
$pie-chart-height: auto;

//tabs
$tab-link:8px 5px 9px 4px;
$tab-radius:4px 0 0 4px;

//auth panel
$auth-panel-width:536px;
$auth-panel-bg:#fff;
$auth-panel-radius:$global-radius;
$auth-panel-shadow:0 0 10px 0 rgba(0,0,0,0.2);
$auth-panel-padding:30px 42px 39px;

// Box Shadow
$box-shadow: 0 6px 12px rgba(0,0,0,.175);

// Discussion Panel
$discussion-panel-width:390px;
$discussion-panel-height:calc(100% - 54px);
$discussion-panel-bg:$sidebar-bg;
$discussion-chat-size:13.5px;

$sidebar-padding:16px 32px;

// Badge
$badge-padding:.375rem .5rem;
$badge-radius:.375rem;

//nav bar
$main-navbar-height:52px;
$main-navbar-color:$primary-color;
$main-navbar-size:$font-size-sm;
$main-navbar-padding:14px 22px 18px;

// Login
$login-section-width:536px;
$auth-section-padding:37px 42px;

// Tab Radio Button
$tab-radio-border:#C0C7D5;

//left side navigation
$left-side-nav-width:100px;
$left-side-nav-height:100vh;

// Report Message Background
$report-msg-bg: #E9F7EB;
$report-msg-border: #25B03A;
