.custom-checkbox-tick {
    margin-right: 20px;
    margin-bottom: 2px;
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #1a1a1a;
    font-family: "Roboto-Regular";
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 15px;
    height: 15px;
    border: 1px solid #d9d9d9;
    background: #fff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 6px;
    height: 6px;
    background: #0067a9;
    position: absolute;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: none;
    background-image: url(/images/tick.svg?2004a6f…);
    background-repeat: no-repeat;
    background-size: 10px auto;
    left: 7px !important;
    top: 2px;
    width: 14px;
    height: 14px;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    border: none;
    background-position: 2px 2px;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
}
.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::after {
    background: #999da0;
}
.custom-checkbox-tick [type="checkbox"]:disabled:checked + label:before {
    background: #999da0 !important;
}
.custom-checkbox-tick [type="checkbox"]:disabled + label:before {
    background: #e9ecef !important;
}