.cov-date-body{
    background-color: $primary-color!important;

    .checked{
        background: $secondary-color!important;
    }
}

.cov-vue-date{
    width: 100%;
}

.datepickbox{
    input[type=text]{
        width: 100%!important; 
        border:1px #ddd solid!important;  
    }
}

.cov-date-caption span{
    color: #fff!important;
}

.vdp-datepicker__calendar .disabled {
    color: #a9a1a1 !important;
    background-color: #e4e4e4 !important;
}

.vdp-datepicker__calendar .cell.selected {
    color: #fff !important;
    background: $primary-color !important;
}

 body .vdp-datepicker .vdp-datepicker__calendar .cell.selected, .vdp-datepicker__calendar .cell.highlighted.selected {
    background: $primary-color !important;
}

// .vdp-datepicker__calendar .cell.selected {
//     background: $primary-color !important;
// }

.vdp-datepicker {
    .form-control[readonly] {
        background-color: #fff;
        &:hover {
            cursor: default !important;
        }
    }
}
.custom-left-calendar .vdp-datepicker__calendar {
    position: absolute !important;
    right: 0 !important;
}
.vdp-datepicker.with-icon.datepicker-icon.is-invalid {
    .form-control {
        border-color: #c4183c !important;
        -webkit-box-shadow: 0 5px 11.5px rgba(196, 24, 60, 0.1);
        box-shadow: 0 5px 11.5px rgba(196, 24, 60, 0.1);        
    }
}