aside.v-navigation-drawer.v-navigation-drawer--clipped.v-navigation-drawer--fixed.v-navigation-drawer--open.theme--light {
    display: none !important;
}
.v-btn--flat,
.v-text-field--solo .v-input__slot {
    background-color: #f5f5f5 !important;
    margin-bottom: 8px !important;
}
main.v-content.ds-expand {
    padding: 0px 20px !important;
}

main.v-content.ds-expand .ds-month-view {
    height: 600px;
}

main.v-content.ds-expand .ds-month-view.ds-year-view {
    height: auto;
}

.ds-day .ds-dom[data-v-4c181404] {
    font-size: 14px;
}
.v-content__wrap {
    border: 1px solid #e0e0e0;
}
.ds-day .ds-dom.ds-today-dom[data-v-4c181404] {
    background-color: $secondary-color;
}
.v-toolbar__content {
    .v-btn:before {
        border: 1px solid #1a1a1a;
        border-radius: 12px !important;
        .v-btn__content {
            i.v-icon.material-icons.theme--light {
                font-size: 22px;
                top: 0px;
            }
        }
    }
}
button.v-toolbar__side-icon.v-btn.v-btn--icon.theme--light {
    display: none;
}
.v-toolbar--fixed {
    position: relative !important;
}
.ds-app-calendar-toolbar {
    border-radius: 8px;
    .v-toolbar__content {
        border-bottom: none;
    }
}
.application--wrap {
    border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 4px;
}
.v-tooltip.v-tooltip--bottom {
    span {
        .ds-skinny-button.v-btn.v-btn--depressed.theme--light {
            .v-btn__content {
                span {
                    // display: none;
                }
            }
        }
    }
}
.title {
    margin: 0 !important;
}
.v-toolbar__title {
    width: 0px !important;
}
.ds-button-tall {
    height: 38px;
}
.v-btn {
    border-radius: 8px;
}
.v-select__selection--comma {
    position: absolute;
}
.v-tabs__wrapper {
    padding: 16px;
}
.v-select__selection--comma {
    margin: 0px 4px 7px 0;
}

/*===
    Customiz
===*/

.ds-app-calendar-toolbar .v-toolbar__title.ml-0 + span {
    display: none;
}

.v-toolbar__content,
.v-toolbar__extension {
    padding: 0 18px;
}

.ds-app-calendar-toolbar {
    .v-tooltip--bottom span button {
        i {
            font-size: 32px;
            position: relative;
            top: 1px;
        }
        &:before {
            border-radius: 8px !important;
            opacity: 1;
            background: $grey-Elite !important;
            border-color: $table-border;
        }
    }
}

.ds-app-calendar-toolbar {
    .v-toolbar__content {
        span:nth-child(4) {
            position: relative;
            left: 10px;
        }
    }
    .title.ds-light-forecolor {
        width: auto;
        text-align: left;
        position: relative;
        margin-left: 22px !important;
        font-size: 16px !important;
        color: #1a1a1a !important;
        font-family: $font-bold !important;
    }
}

.v-menu {
    &.v-menu--inline {
        button {
            position: relative;
            padding-left: 52px;
            .v-btn__content {
                font-size: $font-size-sm;
                text-transform: capitalize;
                i {
                    font-size: 28px;
                    position: relative;
                    top: 1px;
                    right: -10px;
                }
            }
            &:before {
                border-radius: 8px !important;
                opacity: 1;
                background: #fff !important;
                border-color: $table-border;
            }
            &:after {
                content: "View:";
                position: absolute;
                left: 14px;
                top: 8px;
                font-size: $font-size-sm;
                color: $placeholder-color;
                text-transform: capitalize;
            }
        }
    }
}

.v-menu__content {
    margin-top: 37px;
    margin-left: -3px;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.11),
        0 3px 10px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.06);
    min-width: 100px !important;
    .v-list__tile {
        font-size: 14px;
        height: 35px;
    }
}

.v-btn.v-btn--flat.theme--light {
    outline: none;
}

.new-ir {
    .application--wrap {
        padding-bottom: 80px;
        min-height: 700px;
    }
}
.ds-week-date {
    text-decoration: none !important;
    font-size: 24px !important;
}
.ds-week-view-container .ds-hour-list .ds-hour .ds-hour-text[data-v-30ccf664] {
    font-size: 11px;
}
.ds-month .ds-week-header-day.ds-week-header-today[data-v-45f856ac] {
    color: $primary-color !important;
}

.ds-add-event-today {
    display: none !important;
}

.v-menu.ds-calendar-event-menu.v-menu--inline {
    pointer-events: none;
}

// Popup Week Calender
.week-calendar main.v-content.ds-expand {
    padding: 0px 0 !important;
}
.week-calendar .v-toolbar__content {
    display: none;
}
.week-calendar .application--wrap {
    border: transparent;
}
.week-calendar .ds-day .ds-week-weekday[data-v-238290c6] {
    font-family: $font-bold;
}
.week-calendar a.ds-week-date {
    display: none;
}
.week-calendar .ds-week-view-container .ds-hour-list .ds-hour[data-v-30ccf664] {
    background-color: #f5f6f8;
}
.week-calendar .ds-week-header .ds-hour-list[data-v-dc94a82e] {
    background-color: #f5f6f8;
}
.week-calendar .application--wrap {
    min-height: 490px !important;
}
.week-calendar .ds-day .ds-all-events[data-v-238290c6] {
    margin-top: 0;
}
.week-calendar .ds-day[data-v-238290c6] {
    padding: 14px 4px;
    background-color: #f5f6f8;
}
.week-calendar .ds-day.ds-day-today .ds-week-weekday[data-v-238290c6] {
    color: $primary-color;
}
.week-calendar .ds-hour[data-v-74cb2e5c] {
    // height: 46px;
}
.week-calendar .ds-day.ds-day-today > div:last-child {
    display: none;
}
.week-calendar .ds-day.ds-day-today[data-v-74cb2e5c] {
    background-color: transparent;
}
// .week-calendar .ds-day.ds-day-today[data-v-74cb2e5c] {
//     display: none;
// }
// .ds-expand{
//     height: auto;
// }

.week-calendar .ds-day[data-v-238290c6] {
    padding: 14px 4px;
    background-color: #f5f6f8;
}

.week-calendar {
    .ds-week-view-container {
        .ds-week-view-scrollable {
            &::-webkit-scrollbar-track {
                background-color: $body-bg;
                border-radius: 51px;
            }
            &::-webkit-scrollbar {
                width: 6px;
                background-color: $body-bg;
                border-radius: 51px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #cfd4d9;
                border-radius: 51px;
            }
        }
    }
}

.activitycontent
    button.v-btn.v-btn--absolute.v-btn--bottom.v-btn--floating.v-btn--icon.v-btn--left.v-btn--small.theme--light.secondary {
    display: none;
}

.v-toolbar__title {
    width: 100% !important;
}

.v-toolbar__title.ml-0 {
    width: 0px !important;
}

/*.ds-day .ds-week-date[data-v-238290c6] , .ds-day.ds-day-today .ds-week-weekday[data-v-238290c6]{
    color: $primary-color !important;
}
.ds-day-today[data-v-64bbe350] .ds-agenda-lines {
    color: $primary-color !important;
} */
.ds-light-forecolor.ds-skinny-button.v-btn.v-btn--icon.v-btn--depressed.theme--light {
    outline: none;
}
.ds-light-forecolor.ds-skinny-button.v-btn.v-btn--icon.v-btn--depressed.theme--light
    .v-btn__content {
    i {
        display: none;
    }
    &:before {
        content: "\e314";
        font-family: icomoon;
        position: absolute;
        font-size: 25px;
    }
}
.ds-app-calendar-toolbar
    .v-toolbar__content
    span:nth-child(4)
    .ds-light-forecolor.ds-skinny-button.v-btn.v-btn--icon.v-btn--depressed.theme--light
    .v-btn__content {
    &:before {
        content: "\e315";
        font-family: icomoon;
        position: absolute;
        font-size: 25px;
    }
}
.v-menu.v-menu--inline {
    .v-menu__activator {
        button.v-btn.v-btn--flat.theme--light {
            padding-left: 73px;
            .v-btn__content {
                position: relative;
                left: -15px;
                i {
                    display: none;
                }
                &:before {
                    content: "\e5c5";
                    position: absolute;
                    font-family: icomoon;
                    left: 40px;
                    font-size: 25px;
                }
            }
        }
    }
}

.student-details-popup {
    .v-menu__content {
        position: absolute;
        left: 0 !important;
        right: 0 !important;
        margin: 0 auto !important;
        top: 50% !important;
    }
}
.ds-month .ds-day .ds-calendar-event {
    top: 0 !important;
}

.ds-calendar-event[data-v-7a377cd1] {
    @include mobile {
        padding-top: 2px;
        padding-left: 1px;
        width: 38px !important;
        font-size: 0.8em;
    }
}
