// Dropdown adjustments

// Adjust dropdown icons
.dropdown {
  .fa,
  .material-icons {
    color: lighten($blueish-grey, 40);
    margin-right: 0.25rem;
  }

  .dropdown-item {
    &:hover {
      background-color: lighten($blueish-grey, 60);
    }
  }
}

.stage-selected{
  position: relative;

  .selectize-input{
    padding-left: 60px;
    border-color: $table-border!important;
    padding-right: 28px;
  }

  &:before{
    content: "Stage:";
    position: absolute;
    left: 0.75rem;
    z-index: 999;
    top: 8px;
    color: $grey-dark;
    font-size: 14px;
  }
}

.officer-selected{
  position: relative;

 .selectize-input{
    padding-left: 64px;
    border-color: $table-border!important;
    padding-right: 28px;
  }

  &:before{
    content: "Officer:";
    position: absolute;
    left: 0.75rem;
    top: 9px;
    z-index: 999;
    color: $grey-dark;
    font-size: 14px;
  }
}

.conduct-type{
  position: relative;

  .selectize-input{
    padding-left: 51px;
    padding-right: 28px;
    border-color: $table-border!important;
  }

  &:before{
    content: "Type:";
    position: absolute;
    top: 8px;
    left: 0.75rem;
    z-index: 999;
    color: $grey-dark;
    font-size: 14px;
  }
}

.incident-type-filter{
    position: relative;
    display: table;
    @include mobile{
      display:block;
      width:100%;
    }
    .selectize-input{
        padding-left: 108px;
        padding-right: 24px;
        border-color: $table-border!important;
        width: 253px !important;
        @include mobile{
            width:100% !important;
            max-width:414px;
        }
    }

    &:before{
        content: "Incident Type:";
        position: absolute;
        top: 7px;
        left: 0.75rem;
        z-index: 999;
        color: $grey-dark;
    }
}

.all-action-log{
  position: relative;

  .selectize-input{
    padding-left: 100px;
    border-color: $table-border!important;
    width: 210px;

     @include tabletL{
      padding-left: 85px;
    }

  }

  &:before{
    content: "Action Type:";
    position: absolute;
    top: 7px;
    left: 0.75rem;
    z-index: 99;
    color: $grey-dark;

    @include tabletL{
      top: 9px;
    }
  }
}

.filter-student{
  position: relative;

  .selectize-input{
    padding-left: 75px;
    border-color: $table-border!important;
  }

  &:before{
    content: "Filter by:";
    position: absolute;
    left: 0.75rem;
    z-index: 999;
    top: 7px;
    color: $grey-dark;
  }
}

.selectize-input{
  &:after{
    content: '' !important;
    background-image: url('../images/double-arrow.svg')!important;
    width: 10px!important;
    height: 10px!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    top: 16px!important;
    font-size: 10px;
    right: 11px!important;
    border:none!important;
  }
}

.selectize-input{
  border-radius: $global-radius!important;
  width: 158px;
  box-shadow: none!important;

  &:hover, &:focus{
    box-shadow: none!important;
  }
}


.selectize-input > input {
  opacity: 0 !important;
}