/*Font family mixin*/
$font_regular:'Roboto-Regular';
$font_bold:'Roboto-Bold';
$font_medium:'Roboto-Medium';
$font_light:'Roboto-Light';
$font_thin:'Roboto-Light';
$font_ebold:'Roboto-Bold';
$font_black:'Roboto-Bold';


@mixin declare-font-face($font-family, $font-filename, $font-weight: normal, $font-style :normal, $font-stretch: normal) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('fonts/#{$font-filename}.eot?#iefix') format('embedded-opentype'),
        url('fonts/#{$font-filename}.woff') format('woff'),
        url('fonts/#{$font-filename}.ttf') format('truetype'),
        url('fonts/#{$font-filename}.woff') format('woff');
        font-style:normal;
        font-weight:400;
        font-stretch:none;
    }
}

@include declare-font-face($font_regular,'Roboto-Regular');
@include declare-font-face($font_bold,'Roboto-Bold');
@include declare-font-face($font_medium,'Roboto-Medium');
@include declare-font-face($font_light,'Roboto-Light');

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon/icomoon.eot?3toe5f');
    src: url('fonts/icomoon/icomoon.eot?3toe5f#iefix') format('embedded-opentype'),
    url('fonts/icomoon/icomoon.ttf?3toe5f') format('truetype'),
    url('fonts/icomoon/icomoon.woff?3toe5f') format('woff'),
    url('fonts/icomoon/icomoon.svg?3toe5f#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-workflow2:before {
  content: "\e9c4";
}
.icon-hold:before {
  content: "\e9c3";
}
.icon-target2:before {
  content: "\e9c2";
}
.icon-switch:before {
  content: "\e934";
}
.icon-target:before {
  content: "\e935";
}
.icon-notepad:before {
  content: "\e954";
}
.icon-folder:before {
  content: "\e955";
}
.icon-compose:before {
  content: "\e956";
}
.icon-gps-fixed-indicator:before {
  content: "\e94a";
}
.icon-location-icon:before {
  content: "\e94b";
}
.icon-flag:before {
  content: "\e94c";
}
.icon-map-location:before {
  content: "\e94d";
}
.icon-house:before {
  content: "\e94e";
}
.icon-upload:before {
  content: "\e936";
}
.icon-menu2:before {
  content: "\e950";
}
.icon-calendar:before {
  content: "\e951";
}
.icon-floppy-disk:before {
  content: "\e952";
}
.icon-shuffle:before {
  content: "\e953";
}
.icon-archive:before {
  content: "\e94f";
}
.icon-email:before {
  content: "\e937";
}
.icon-saction:before {
  content: "\e939";
}
.icon-messenger:before {
  content: "\e958";
}
.icon-information:before {
  content: "\e959";
}
.icon-info:before {
  content: "\e95a";
}
.icon-cloud:before {
  content: "\e95b";
}
.icon-block:before {
  content: "\e95c";
}
.icon-appeal:before {
  content: "\e95d";
}
.icon-edit:before {
  content: "\e95e";
}
.icon-assign-charges:before {
  content: "\e95f";
}
.icon-assign-sanctions:before {
  content: "\e960";
}
.icon-calendar1:before {
  content: "\e961";
}
.icon-change-status:before {
  content: "\e962";
}
.icon-comment:before {
  content: "\e963";
}
.icon-convert-to-case:before {
  content: "\e965";
}
.icon-default-user:before {
  content: "\e966";
}
.icon-delete:before {
  content: "\e967";
}
.icon-employee:before {
  content: "\e968";
}
.icon-exit:before {
  content: "\e969";
}
.icon-export:before {
  content: "\e96a";
}
.icon-help11:before {
  content: "\e96b";
}
.icon-list111:before {
  content: "\e96c";
}
.icon-merge-case1:before {
  content: "\e96d";
}
.icon-search:before {
  content: "\e96e";
}
.icon-setting:before {
  content: "\e96f";
}
.icon-signout:before {
  content: "\e970";
}
.icon-under-age1:before {
  content: "\e971";
}
.icon-upload2:before {
  content: "\e972";
}
.icon-drop-down:before {
  content: "\e973";
}
.icon-switch1:before {
  content: "\e974";
}
.icon-target1:before {
  content: "\e975";
}
.icon-notepad1:before {
  content: "\e976";
}
.icon-folder1:before {
  content: "\e977";
}
.icon-compose1:before {
  content: "\e978";
}
.icon-gps-fixed-indicator1:before {
  content: "\e979";
}
.icon-location-icon1:before {
  content: "\e97a";
}
.icon-flag1:before {
  content: "\e97b";
}
.icon-map-location1:before {
  content: "\e97c";
}
.icon-house1:before {
  content: "\e97d";
}
.icon-upload1:before {
  content: "\e97e";
}
.icon-menu11:before {
  content: "\e97f";
}
.icon-calendar2:before {
  content: "\e980";
}
.icon-floppy-disk1:before {
  content: "\e981";
}
.icon-shuffle1:before {
  content: "\e982";
}
.icon-archive1:before {
  content: "\e983";
}
.icon-email1:before {
  content: "\e984";
}
.icon-saction1:before {
  content: "\e985";
}
.icon-messenger1:before {
  content: "\e986";
}
.icon-information1:before {
  content: "\e987";
}
.icon-info1:before {
  content: "\e988";
}
.icon-cloud1:before {
  content: "\e989";
}
.icon-block1:before {
  content: "\e98a";
}
.icon-appeal1:before {
  content: "\e98b";
}
.icon-edit1:before {
  content: "\e98c";
}
.icon-assign-charges1:before {
  content: "\e98d";
}
.icon-assign-sanctions1:before {
  content: "\e98e";
}
.icon-calendar11:before {
  content: "\e98f";
}
.icon-change-status1:before {
  content: "\e990";
}
.icon-comment1:before {
  content: "\e991";
}
.icon-convert-to-case1:before {
  content: "\e992";
}
.icon-default-user2:before {
  content: "\e993";
}
.icon-delete1:before {
  content: "\e994";
}
.icon-employee2:before {
  content: "\e995";
}
.icon-exit1:before {
  content: "\e996";
}
.icon-export1:before {
  content: "\e997";
}
.icon-help111:before {
  content: "\e998";
}
.icon-list1111:before {
  content: "\e999";
}
.icon-merge-case11:before {
  content: "\e99a";
}
.icon-search2:before {
  content: "\e99b";
}
.icon-setting2:before {
  content: "\e99c";
}
.icon-signout1:before {
  content: "\e99d";
}
.icon-under-age11:before {
  content: "\e99e";
}
.icon-upload21:before {
  content: "\e99f";
}
.icon-drop-down1:before {
  content: "\e9a0";
}
.icon-menu:before {
  content: "\e900";
}
.icon-menu1:before {
  content: "\e901";
}
.icon-text-box:before {
  content: "\e902";
}
.icon-drop-down-list:before {
  content: "\e903";
}
.icon-text-editor:before {
  content: "\e904";
}
.icon-appeal-review:before {
  content: "\e93a";
}
.icon-help:before {
  content: "\e93e";
}
.icon-list:before {
  content: "\e941";
}
.icon-pin:before {
  content: "\e943";
}
.icon-list1:before {
  content: "\e905";
}
.icon-building:before {
  content: "\e93b";
}
.icon-calender-year:before {
  content: "\e93c";
}
.icon-hearing-type:before {
  content: "\e93d";
}
.icon-i-lock:before {
  content: "\e93f";
}
.icon-i-violations:before {
  content: "\e940";
}
.icon-location:before {
  content: "\e942";
}
.icon-title:before {
  content: "\e944";
}
.icon-under-age:before {
  content: "\e945";
}
.icon-user-icon .path1:before {
  content: "\e946";
  color: rgb(235, 238, 242);
}
.icon-user-icon .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(156, 166, 185);
}
.icon-workflow-copy:before {
  content: "\e948";
}
.icon-view:before {
  content: "\e949";
}
.icon-note:before {
  content: "\e938";
}
.icon-bookmark:before {
  content: "\e906";
}
.icon-log:before {
  content: "\e907";
}
.icon-merge-case:before {
  content: "\e908";
}
.icon-sort:before {
  content: "\e926";
}
.icon-help-1:before {
  content: "\e927";
}
.icon-signout-1:before {
  content: "\e928";
}
.icon-locked:before {
  content: "\e929";
}
.icon-sort1:before {
  content: "\e964";
}
.icon-conduct:before {
  content: "\e92b";
}
.icon-employee1:before {
  content: "\e92c";
}
.icon-notification:before {
  content: "\e92d";
}
.icon-report:before {
  content: "\e92e";
}
.icon-setting1:before {
  content: "\e92f";
}
.icon-student:before {
  content: "\e957";
}
.icon-text-editor1:before {
  content: "\e909";
}
.icon-radio-on-button:before {
  content: "\e90a";
}
.icon-appeal-review1:before {
  content: "\e90b";
}
.icon-help1:before {
  content: "\e90c";
}
.icon-list2:before {
  content: "\e90d";
}
.icon-pin1:before {
  content: "\e90e";
}
.icon-list11:before {
  content: "\e90f";
}
.icon-building1:before {
  content: "\e910";
}
.icon-calender-year1:before {
  content: "\e911";
}
.icon-hearing-type1:before {
  content: "\e912";
}
.icon-i-lock1:before {
  content: "\e913";
}
.icon-i-violations1:before {
  content: "\e914";
}
.icon-location1:before {
  content: "\e915";
}
.icon-title1:before {
  content: "\e916";
}
.icon-under-age2:before {
  content: "\e917";
}
.icon-user-icon1 .path1:before {
  content: "\e918";
  color: rgb(235, 238, 242);
}
.icon-user-icon1 .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(156, 166, 185);
}
.icon-workflow-copy1:before {
  content: "\e91a";
}
.icon-view1:before {
  content: "\e91b";
}
.icon-note1:before {
  content: "\e91c";
}
.icon-bookmark1:before {
  content: "\e91d";
}
.icon-log1:before {
  content: "\e91e";
}
.icon-merge-case2:before {
  content: "\e91f";
}
.icon-sort2:before {
  content: "\e920";
}
.icon-help-11:before {
  content: "\e921";
}
.icon-signout-11:before {
  content: "\e922";
}
.icon-locked1:before {
  content: "\e923";
}
.icon-sort11:before {
  content: "\e924";
}
.icon-conduct1:before {
  content: "\e925";
}
.icon-employee11:before {
  content: "\e92a";
}
.icon-notification1:before {
  content: "\e930";
}
.icon-report1:before {
  content: "\e931";
}
.icon-setting11:before {
  content: "\e932";
}
.icon-student1:before {
  content: "\e933";
}
.icon-settings:before {
  content: "\e9a1";
}
.icon-eye1:before {
  content: "\e9a2";
}
.icon-eye:before {
  content: "\e9a3";
}
.icon-checkmark1:before {
  content: "\e9a4";
}
.icon-search1:before {
  content: "\e9a5";
}
.icon-flag11:before {
  content: "\e9a6";
}
.icon-settings1:before {
  content: "\e9a7";
}
.icon-eye11:before {
  content: "\e9a8";
}
.icon-eye2:before {
  content: "\e9a9";
}
.icon-checkmark:before {
  content: "\e9aa";
}
.icon-search11:before {
  content: "\e9ab";
}
.icon-flag111:before {
  content: "\e9ac";
}
.icon-exclamation-outline:before {
  content: "\e9ad";
}
.icon-exclamation-outline1:before {
  content: "\e9ae";
}
.icon-plus:before {
  content: "\e9af";
}
.icon-close-custom:before {
  content: "\e9b0";
}
.icon-keyboard_arrow_down3:before {
  content: "\e9b1";
}
.icon-clock:before {
  content: "\e9b2";
}
.icon-default-user1:before {
  content: "\e9b3";
}
.icon-keyboard_arrow_right:before {
  content: "\e9b4";
}
.icon-keyboard_arrow_left:before {
  content: "\e9b5";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-keyboard_arrow_left1:before {
  content: "\e314";
}
.icon-keyboard_arrow_right1:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-plus1:before {
  content: "\e9b6";
}
.icon-close-custom1:before {
  content: "\e9b7";
}
.icon-keyboard_arrow_down31:before {
  content: "\e9b8";
}
.icon-clock1:before {
  content: "\e9b9";
}
.icon-default-user11:before {
  content: "\e9ba";
}
.icon-keyboard_arrow_right2:before {
  content: "\e9bb";
}
.icon-keyboard_arrow_left2:before {
  content: "\e9bc";
}
.icon-arrow_drop_down1:before {
  content: "\e9bd";
}
.icon-arrow_drop_up1:before {
  content: "\e9be";
}
.icon-keyboard_arrow_left11:before {
  content: "\e9bf";
}
.icon-keyboard_arrow_right11:before {
  content: "\e9c0";
}
.icon-keyboard_arrow_up1:before {
  content: "\e9c1";
}
