// Custom forms adjustments

.form-group {
    margin-bottom:18px;
    &.is-valid,&.is-invalid,&.has-error{
        &:after{
            position: absolute;
            right: 14px;
            top: 33px;
            font-size: 18px;
            font-family: 'icomoon' !important;
        }
    }
    &.is-invalid{
        .form-control{
            border-color:$danger-bg;
            box-shadow:none;
            background-repeat: no-repeat;
            background-size: 8px auto;
            background-position: 96% 47%;
        }
    }
}
.form-control{
   &.is-invalid {
       box-shadow:none;
   }
}
.icon-right{
    position: relative;
    i {
        position: absolute;
        right: 11px;
        top: 8px;
        color: #a4a4a4;
        z-index: 9;
        font-size: 19px;
    }
}

.incident-btn{
    button{
        margin-right: 8px;
        &:last-child{
            margin-right: 0px;
        }
    }
}

form{
    &.form-upload{
        width: 100%;
        float: left;
    }
}

.is-invalid{
    .file_upload_block {
        border-color: $danger-color;
        color: $danger-color;
        h4,p{
            color: $danger-color;
        }
    }
}

.custom-select-sm {
    font-size: $font-size-sm;
    border-radius: $btn-border-radius;
}

.custom-select-lg {
    border-radius: $btn-border-radius;
}

// Adjust the custom control line height.
.custom-control {
    line-height: 1.5rem;
    padding-left: 10px;
}


// Adjust custom controls disabled states.

// Custom checkboxes

.custom-checkbox .custom-control-input ~ .custom-control-label {
    &::before {
        box-shadow:none;
    }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label {
    &::before {
        background:none;
        border-color:$checkbox-border-color;
        box-shadow:none;
    }
    &::after {
        background: none;
        background-image:url('../images/tick.svg');
        background-repeat:no-repeat;
        background-size:10px auto;
        left: 0;
        top: 3px;
        width: 14px;
        height: 14px;
        transform: rotate(0);
        -webkit-transform: rotate(0);
        border: none;
        background-position: 2px 2px;
    }
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label {
    &::after {
        border-color: $custom-control-disabled-color;
    }
}


.login-panel{
    .logo {
        width: 120px;
        margin: auto;

        @include tablet{
            width: 100px;
        }
    }
}

.custom-control-label{
    width: $checkbox-width-height;
    height: $checkbox-width-height;
    position: absolute;
    margin-right: 7px;
    left: 0;
    top: 1px;
    &:before{
        width:$checkbox-width-height;
        height:$checkbox-width-height;
        border-radius:$checkbox-radius;
        border-color:$checkbox-border-color;
    }
}

.custom-checkbox{
    font-family: $font_regular;
    position: relative;
    padding-left: 26px;
}

// Custom radios

.custom-radio{
    margin-bottom: 0!important;
    .custom-control-label{
        width:$checkbox-width-height;
        height:$checkbox-width-height;

        &:after{
            width: 11px;
            height: 11px;
            top: 5px;
            left: 2px;
            background-color:$success-bg;
        }
    }

    label{

    }

    .custom-control-description{
        margin-left: 13px;
        font-family: $font_regular;
    }
}

.custom-radio .custom-control-input:checked ~ .custom-control-label{
    &::before{
        background: transparent;
        border:1px $grey-medium solid;
    }
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label {
    &::after {
        background: $custom-control-disabled-color;
    }
}

// Custom toggle
.custom-toggle .custom-control-input:checked:disabled ~ .custom-control-label {
    &::after {
        background: $custom-control-disabled-color;
    }
}

// icons input field
.input-icons{
    position: relative;
    overflow: hidden;
    .left-icon{
        input[type=text], input[type=password], input[type=email]{
            padding-left: 40px;
        }
        &.right-seprator{
            span{
                width: 40px;
                height: 44px;
                border-right:1px #d9d9d9 solid;
            }
            input[type=text], input[type=password], input[type=email]{
                padding-left: 50px!important;
            }
        }
        &.left-seprator{
            span{
                width: 40px;
                height: 44px;
                border-left:1px #d9d9d9 solid;
                i{
                    right: 8px;
                }
            }
            input[type=text], input[type=password], input[type=email]{
                padding-right: 50px!important;
            }
        }
        span{
            position: absolute;
            i{
                position: absolute;
                top: 6px;
                font-size: 20px;
                left: 13px;
                color: #abb6bf;
            }
        }
    }
    .right-icon{
        input[type=text], input[type=password], input[type=email]{
            padding-right: 40px;
            padding-left: 12px;
        }
        span{
            right: 0;
            i{
                right: 13px;
                left: auto;
            }
        }
    }
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.09375rem + 4px);
}

.selectize-control{
    .selectize-input {
        background-color: #fff !important;
        background-image: none !important;
        border: 1px solid #e1e5eb !important;
        font-size: 0.8125rem;
        font-weight: 400;
    }
}
.form-group{
    .time-picker{
        display: block;
        width: 100%;
        input{
            border-radius: 0.25rem;
            width: 100% !important;
        }
    }
}
.selectize-dropdown{
    [data-selectable]{
        &.active{
            background-color: $accent-color;
            background-image: none;
            background-image: none;
            background-repeat: repeat-x;
        }
    }
}

//input basic handling
.form-control,.selectize-control .selectize-input{
    font-size:$input-font-size;
    height:$input-height;
    color:$input-color;
    width: 100%;
    border:1px $input-border solid;
    border-radius: $input-radius;
    font-family:$font-regular;

    @include mobile{
        font-size: 13px;
    }
}

.selectize-dropdown [data-selectable].option{
    font-family:$font-regular;
    font-weight:normal;
}

.selectize-dropdown [data-selectable].active{
    background:$grey-lite;
}

// Login

.login-panel{
    margin-top: 87px;

    p{
        text-align: center;
        font-size: $font-size-md;
        color: $text-primary-color;
        margin-bottom: 19px;
        font-family: $font_regular;

        @include tablet{
            font-size: 13px;
        }
    }
}

.login-section{
    width: $login-section-width!important;
    margin: 0 auto;
    float: none!important;

    @include mobileS{
        width: 330px!important;
    }

    .panel-inner{
        padding: 0!important;
    }

    .card-body{
        padding: $auth-section-padding;

        @include mobileS{
            padding:24px 20px 30px 20px;
        }

        .text-right{
            @include mobileS{
                text-align: center!important;
            }
        }

        .col-equal{
            @include mobileS{
                width: 50%;
            }
        }

        .btn{
            @include mobileS{
                width: 100%;
            }
        }
    }

    h4{
        color: $text-primary-color;
        font-size: $other-font-size;
        margin: 0 0 18px 0;

        @include tablet{
            font-size: 16px;
            margin: 0 0 5px 0;
        }
    }
}

.forgot-form{
    p{
        margin: 0 0 23px 0!important;
        color: $text-primary-color;
        font-family: $font_regular;
        font-size: $font-size-sm;

        @include tablet{
            font-size: 13px;
        }
    }
}

label{
    font-size: $font-size-sm;
    color: $text-primary-color;
    font-family: $font_bold;
    margin-bottom:5px;

    @include tablet{
        font-size: 13px;
    }
}

.forgot-password-text,.back-to-login{
    font-size: $font-size-sm;
    text-decoration: underline;
    display: block;
    color: $secondary-color;
    position: relative;
    top:2px;

    @include tablet{
        font-size: 13px;
    }

    &:hover{
        color: $secondary-color;
    }
}

.back-to-login{
    top: 9px;
}

.envelop{
    width: 120px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 31px;

    @include tablet{
        width: 100px;
    }

    img{
        display: inline-block;
    }
}

.auth-footer{
    p{
        color: $placeholder-color;
        font-size: $font-size-sm;
        font-family: $font_regular;

        @include tablet{
            font-size: 13px;
        }

        a{
            color: $secondary-color;
            text-decoration: underline;
            margin-left: 9px;
        }
    }
}

.search-panel{
    position: relative;
    width: 198px;
    @include Desktop1380 {
        width: 188px;
    }
    @include windowS {
        width: 123px;
    }
    input[type=text]{
        padding-right: 30px;
        border-radius: $global-radius;
        border-color: $table-border;

        &:focus{
            box-shadow: none;
        }
    }
    i{
        position: absolute;
        top: 12px;
        right: 12px;
        color: $tab-radio-border;
    }
    &.w-250 {
        width: 250px;
    }
}
textarea{
    resize:none;
}
label{
    .change-tick-color{
        fill:#000 !important;
    }
}


// Days Checkbox
.days-checkbox{
    background-color: #fff;
    display: block;
    margin: 0 10px 0 0;
    position: relative;
    float: left;

    label {
      padding: 8px 12px;
      width: $input-height;
      height: $input-height;
      display: inline-block;
      background-color: $body-bg;
      border:1px $input-border solid;
      text-align: left;
      color: $grey-dark;
      font-family: $font_regular;
      font-size: $font-size-md;
      border-radius: $input-radius;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;
      @include mobile {
        width: 28px;
        height: 28px;
        padding: 3px 8px;
      }

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: $body-bg;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
    }
}

input:checked ~ label {
  color: $primary-color;
  border-color: $primary-color;

  &:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}
}

input {
  width: $input-height;
  height: $input-height;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 38%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
}


.card{
    .forgot-form{
        .auth-desc{
            max-width: 350px;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}

.reporting-form-max-width{
    max-width: 1250px;
    margin: 0 auto;
}

.full-width-selectize{
    .selectize-input{
        width:100% !important;
    }
}
