.modal {
    .modal-header {
        padding: $custom-modal-header-padding;
        background-color: $body-bg;
        border-radius: 8px 8px 0 0;
        border-bottom: 1px $table-border solid;

        @include mobile {
            border-radius: 0;
        }

        .close {
            color: $body-bg;
            position: relative;
            outline: none;

            &:hover,
            &:focus {
                color: $body-bg;
            }

            &:after {
                content: "";
                background-image: url(../images/cancel.svg);
                width: 14px;
                height: 14px;
                background-size: cover;
                color: $text-primary-color;
                position: absolute;
                right: 14px;
                top: 21px;
                font-size: 13px;
            }
        }

        .modal-title {
            font-size: $other-font-size;
            color: $text-primary-color;
            font-family: $font_bold;
        }
    }

    .model-content-area {
        @include mobile {
            min-width: 100% !important;
            max-width: 100% !important;
            height: 100%;
            margin: 0 0 0 0 !important;
            border-radius: 0 !important;
        }
    }

    .modal-body {
        @include mobile {
            height: calc(100% - 87px) !important;
            background-color: #fff;
            overflow-y: auto;
        }

        .scrollable {
            // max-height: 360px;
            max-height: 470px;
            overflow-x: hidden;

            @include mobile {
                max-height: 100%;
            }
        }
        .btn-transparent {
            height: auto;
            padding: 0;
            font-family: $font_regular;
        }
        .file_upload_block {
            padding: 14px 12px;
            margin-bottom: 19px;
            h5 {
                font-size: $font-size-md;
                color: $text-primary-color;
                font-family: $font_regular;
                margin-bottom: 8px;

                @include mobileS {
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }
            p {
                margin-bottom: 0 !important;
                font-size: $font-size-sm !important;
                color: $placeholder-color !important;
                font-family: $font_regular !important;
            }
        }

        .profile-picture {
            width: 65px;
            height: 65px;
            background-size: cover;
            background-position: 50%;
            margin: 0 auto;
            margin-bottom: 15px;
            margin-top: 5px;
            border-radius: 100%;
        }

        .modal-left {
            display: inline-block;
            float: left;
        }

        .modal-right {
            display: inline-block;
            float: right;
            font-size: 14px;
            margin-top: 3px;
        }
        .activity-details {
            p {
                font-family: $font_regular !important;
                &.italic {
                    font-style: italic;
                }
            }
        }
        .activity-post-detail {
            p {
                font-family: $font_regular !important;
            }
        }
        .notes-body {
            .activity-details {
                p {
                    margin-bottom: 15px;
                    &.italic {
                        margin-bottom: 0px;
                    }
                }
            }
            .activitycontent {
                .activity-list-content {
                    margin-bottom: 25px;
                }
            }
        }
    }

    .modal-sm {
        max-width: 400px;

        @include mobile {
            max-width: 100%;
            margin: 0;
            height: 100%;
        }
    }

    .prevent-close {
        .modal-lg {
            .modal-body {
                padding: 18px 24px 5px 24px;
                .activities-section {
                    padding: 9px 24px 10px 24px;
                    width: 100%;
                    float: left;
                    background-color: #f5f6f8;
                    border-bottom: 1px solid #d9dee7;
                }
                .modal-content-body {
                    padding: 18px 24px;
                    clear: both;
                    min-height: 560px;
                }
            }
        }
    }
    .prevent-close {
        &.student-details-popup,
        &.modal-sections {
            .modal-lg {
                .modal-content .modal-body {
                    padding: 0px !important;
                }
            }
        }
    }

    .model-content-area {
        .modal-body {
            padding: 0px;
            .activities-section {
                padding: 10px 24px 10px 24px !important;
                width: 100%;
                float: left;
                background-color: #f5f6f8;
                border-bottom: 1px solid #d9dee7;
            }
        }
    }

    .modal-md {
        max-width: 640px;

        @include mobile {
            max-width: 100%;
            margin: 0;
        }

        .scrollable {
            @include mobile {
                overflow-y: hidden;
            }
        }

        .modal-body {
            padding: 0 !important;
            height: 650px;

            .activities-section {
                padding: 9px 24px 10px 24px;
                width: 100%;
                float: left;
                background-color: $body-bg;
                border-bottom: 1px solid $table-border;

                ul {
                    margin-bottom: 0;
                    li {
                        margin-bottom: 0;
                    }
                }
            }

            .modal-content-body {
                padding: 18px 24px;
                clear: both;
                min-height: 560px;

                @include mobile {
                    background-color: #fff;
                }

                h4 {
                    color: $text-primary-color;
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 15px;
                }

                .card {
                    margin-bottom: 20px;
                    .card-body {
                        p {
                            margin-bottom: 0 !important;
                        }

                        .action-panel {
                            right: 11px;
                            top: 17px;

                            i {
                                font-size: 24px;
                            }
                        }
                    }
                }

                hr {
                    margin: 16px 0 16px 0;
                    border-color: $grey-lite;
                }
            }

            .prifile-img {
                float: left;
                width: 26px;
                margin-top: 2px;
                height: 26px;
                background-size: cover;
                border-radius: 100%;
            }

            .profile-content {
                float: left;
                width: calc(100% - 26px);
                padding-left: 8px;
            }
        }

        .modal-auto-text,
        .modal-des {
            margin-bottom: 9px !important;
        }
    }

    .modal-lg {
        @include mobile {
            max-width: 100%;
            margin: 0;
        }

        .modal-body {
            padding: 18px 24px 32px 24px !important;
            // padding: 0 !important;
            h4 {
                color: $text-primary-color;
                font-size: $font-size-md;
                margin-bottom: 21px;
            }
            .btn-primary {
                min-width: 87px;
                margin-top: 5px;
            }

            .btn-link {
                padding: 0;
                font-family: $font_regular;
                text-decoration: underline;
                color: $secondary-color;
                height: auto;
                &:focus {
                    outline: none;
                }
            }
            .modal-content-body {
                padding: 18px 24px;
                clear: both;
                min-height: 560px;
            }
            .incident-tabs {
                li {
                    margin-bottom: 0px;
                    @include mobile {
                        width: 100%;
                        margin: 4px 0;
                        text-align: center;
                    }
                }
            }
        }
    }

    .modal-content {
        border-radius: $global-radius;

        @include mobile {
            height: 100%;
            border-radius: 0;
        }

        .modal-body {
            padding: $custom-modal-body-padding;

            .modal-auto-text {
                // margin-bottom: 18px;
                margin-bottom: 9px !important;
                color: $placeholder-color;
                font-family: $font_regular;
            }

            p {
                color: $text-primary-color;
                font-size: $font-size-sm;
                font-family: $font_bold;
                margin-bottom: 22px;

                &.modal-des {
                    font-family: $font_regular;
                    margin-bottom: 9px !important;
                    word-break: break-word;
                }
            }

            label {
                margin-bottom: 9px;
                font-size: $font-size-sm;
            }

            hr {
                margin: 0 0 16px 0;
                border-color: $grey-lite;

                &.divider {
                    margin: 10px 0 17px 0;
                }
            }

            .custom-checkbox {
                margin-bottom: 0 !important;
            }

            .checkbox-heading {
                margin-bottom: 15px;
            }

            .custom-select {
                background-image: none;
                border-color: $input-border;
                color: $grey-dark;
                box-shadow: none;
                height: $input-height;
                margin-bottom: 0;
            }

            .selectBox {
                position: relative;

                i {
                    position: absolute;
                    top: 40px;
                    right: 10px;
                    font-size: 19px;
                    color: $grey-dark;
                    z-index: 99;
                    pointer-events: none;
                }
                &.custom-selectbox {
                    i {
                        top: 45px;
                    }
                    .student-name {
                        padding-top: 4px;
                    }
                }
            }
        }
    }

    .modal-footer {
        padding: $custom-modal-footer-padding;
        background-color: $body-bg;
        border-top: $table-border 1px solid;
        justify-content: left;
        border-radius: 0 0 8px 8px;

        @include mobile {
            border-radius: 0;
        }

        .btn-primary,
        .btn-danger {
            min-width: 146px;
        }

        .btn-link {
            min-width: auto;
            padding-left: 15px;
            color: $grey-dark;
            font-family: $font_regular;
        }
    }

    .modal-column {
        .row {
            margin-left: -8px;
            margin-right: -8px;

            .col-md-6 {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }
}
.anonymous-user-popup {
    .modal-auto-text {
        margin-bottom: 0 !important;
    }

    .modal-des {
        margin-bottom: 7px !important;
    }
}

.addition-link {
    padding: 0 0 32px 0;
    height: auto;
}

.contact-us-popup {
    .modal {
        .modal-content {
            .modal-body {
                padding: 18px 24px 12px 24px !important;
                height: auto;
            }

            .modal-footer {
                .btn {
                    min-width: 100px;
                }
            }
        }
    }
}

// .modal{
//     .ds-week-view-container{
//          .ds-week-view-scrollable{
//                 overflow-y: hidden;
//          }
//     }
// }

.student-details-popup {
    .modal {
        .modal-md {
            max-width: 690px;
            .modal-body {
                .btn {
                    min-width: 90px;
                }
                .listing-sections {
                    padding: 0;
                    background-color: transparent;
                    border-bottom: none;

                    p {
                        font-family: $font_regular;
                        &.italic {
                            font-style: italic;
                            margin-bottom: 0;
                        }
                    }

                    .activity-post-detail {
                        padding-left: 0;

                        p {
                            font-family: $font_regular;
                            i {
                                top: -1px;
                                font-size: 17px;
                                vertical-align: bottom;
                            }
                        }
                    }

                    .icon-oval {
                        i {
                            font-size: 21px;
                        }
                    }
                }
            }
        }
    }

    .notes-body {
        hr {
            margin: 26px 0 13px 0 !important;
        }
    }
    .activitycontent {
        .activity-list-content {
            .indecation-icon {
                @include mobile {
                    position: absolute;
                    top: -6px;
                    color: #fff;
                    left: 1px;
                }
                .icon-oval {
                    @include mobile {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }
    }
}

.save-report-popup {
    .selectBox {
        i {
            top: 9px !important;
        }
    }
}

.col-sm-5,
.col-sm-7 {
    .form-group {
        margin-bottom: 5px;

        &.specific-users {
            margin-bottom: 18px;
        }
    }
}

.prevent-close {
    .col-sm-8 {
        @include mobile {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    .col-sm-4 {
        @include mobile {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    .modal-sm {
        max-width: none !important;
        height: calc(100% - 30px);
        margin-top: 0;
        .modal-content {
            height: 100%;
            background-color: transparent;
            box-shadow: none !important;
            .model-content-area {
                background-color: #fff;
                min-width: 400px;
                margin: auto;
                max-width: 400px;
                margin-top: 57px;
                border-radius: 6px;
            }
        }
    }
    .modal-md {
        max-width: none !important;
        height: calc(100% - 30px);
        margin-top: 0;

        @include mobile {
            height: 100%;
        }

        .modal-content {
            height: 100%;
            background-color: transparent;
            box-shadow: none !important;
            .model-content-area {
                background-color: #fff;
                min-width: 690px;
                max-width: 690px;
                margin: auto;
                margin-top: 57px;
                border-radius: 6px;

                @include mobile {
                    margin: 0 0 0 0;
                    min-width: 100%;
                    max-width: 100%;
                }

                .modal-body {
                    @include mobile {
                        height: 100% !important;
                    }
                }
            }
        }
    }
    .modal-lg {
        max-width: none !important;
        height: calc(100% - 30px);
        margin-top: 0;
        .modal-content {
            height: 100%;
            background-color: transparent;
            box-shadow: none !important;
            .model-content-area {
                background-color: #fff;
                max-width: 800px;
                min-width: 800px;
                margin: auto;
                margin-top: 57px;
                border-radius: 6px;

                .modal-body {
                    @include mobile {
                        height: 100% !important;
                    }
                }
            }
        }
    }
}

.email-preview-popup {
    .modal-body {
        height: auto !important;

        ul {
            padding-left: 0;
            margin-bottom: 0;
            position: relative;

            li {
                float: left;
                display: block;
                width: 100%;
                margin-bottom: 7px;

                .modal-auto-text {
                    margin-bottom: 3px !important;
                }
            }
        }
    }
}

.manage-sanctions-popup,
.manage-charges-popup {
    .selectBox {
        i {
            z-index: 8 !important;
        }
    }
}

.student-sanctions-popup {
    .modal-content-body {
        h4 {
            margin-bottom: 0 !important;
        }

        ul {
            margin-bottom: 0 !important;
            padding-left: 0;

            li {
                &:last-child {
                    .modal-auto-text {
                        margin-bottom: 0 !important;
                    }

                    .modal-des {
                        margin-bottom: 0 !important;
                    }

                    .scrollable {
                        max-height: 650px !important;
                    }
                }
            }
        }
    }
}

.student-details-popup.prevent-close .modal-body {
    padding: 0px !important;
}

.student-details-popup {
    .modal {
        .modal-content {
            .modal-body {
                p {
                    margin-left: 5px !important;
                }
                .manage-listing {
                    .card-body {
                        padding: 10px 25px;
                        .prior-case-sanction {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.student-details-popup.prevent-close .modal-body {
    padding: 0px !important;
}

.login-page {
    .prevent-close {
        .modal-md {
            .modal-content {
                .model-content-area {
                    .modal-body {
                        @include mobile {
                            height: calc(100% - 117px) !important;
                        }
                    }
                }
            }
        }
    }
}

.student-details-popup {
    .modal {
        .modal-content {
            .modal-body {
                p {
                    margin-left: 5px !important;
                    @include mobile {
                        margin-left: 0 !important;
                    }
                }
                .activitycontent {
                }
            }
        }
    }
}

.custom-user-remove {
    position: relative;
    display: inline-block;
    left: 96%;
    top: 13px;
    width: 50px;
    height: 33px;
}
.add-user-field {
    display: inline-block;
    position: relative;
    top: -8px;
    padding: 10px 0;
}
.view-all-listing-popup {
    .incidentReportTable {
        height: auto !important;
    }
    .modal {
        @include mobile {
            z-index: 99999;
        }
        .modal-body {
            @include mobile {
                // margin-top: 60px !important;
            }
        }
    }
}
.students
    .filter-right
    ul
    li.ST-listing-selectbox
    .selectize-control.single
    .selectize-input
    .item {
    @include mobile {
        width: 187px;
        margin-left: 11px;
        margin-top: 1px;
    }
}

.close-case-popup,
.add-rule-popup {
    .modal {
        @include mobile {
            z-index: 99999;
        }
    }
}
.add-rule-popup {
    .scrollbar {
        @include mobile {
            width: 100%;
            min-height: auto !important;
            max-height: 100% !important;
        }
    }
}
.delete-item-popup {
    .modal {
        @include mobile {
            z-index: 99999;
        }   
    }
}