.logo
{
    display: block;
    text-align: center;
    padding: 3px 0 0px 0;
    width:72px;
    height: 40px;
    img{
        width: auto;
        height: 100%;
    }
    &.main-logo {
        width: 256px;
        height: 73px;
        margin-top: -17px;
        margin-left: -9px; 
        @include mobile {
            width: 71px;
        }
    }   
}

.main-navbar{
    width:100%;
    height:$main-navbar-height;
    border-bottom: solid 1px $grey-medium;
    background-color:#fff;
    position: relative;
    background:#fff;
    
    @include mobile{
        margin-bottom: 0;
        height: 40px; 
        z-index: 99999;       
    }
    .main-navbar-inner{
        position:fixed;
        right:0;
        left:0;
        height:$main-navbar-height;
        width:100%;
        margin:0 auto;
        background:#fff;
        border-bottom: solid 1px $table-border;
        padding: 0 30px;
        @include tablet{
            padding: 0 12px;
        }
        @include mobile{
            padding: 0 12px;
        }        
    }
    .search-top-field{
        width:calc(100% - 260px);
        float:left;
        input{
            height: 59px;
            padding-left: 5px !important;
            font-size: $font-size-sm !important;
        }
    }
    .top-right-options{
        width: auto;
        float: right;
        @include tablet{
            &.active{
                display: block;
                top:0px;
            }
        }
        .dropdown{
            .user-avatar{
                display:inline-block;
                width: 38px;
                height: 38px;
                background: #d9d9d9;
                overflow: hidden;
                border-radius: 100% !important;
            }
            span{
               vertical-align: middle;
            }
            .dropdown-toggle::after{
                top: 4px;
                position: relative;
                display:none;
            }
            .nav-link{
                padding: 7px 1rem;

                @include windowS{
                    padding: 0 12px!important;
                    min-width: auto!important;
                } 
            }
            &.profile-links{
                padding-right:45px !important;
                @include tablet{
                }
                @include mobile{
                    border: none;
                }

                @include windowS{
                    padding-right: 24px!important;
                }

                .nav-link{
                    padding:0;
                    padding-right:0px !important;
                    span{
                        color:$text-primary-color !important;
                        font-family:$font-medium;
                        font-size:$font-size-sm;
                        position: relative;
                        width: 91px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        @include windowS{
                            font-size: 13px;
                        }

                        &.user-info{
                            padding-top: 7px;
                            height: 58px;
                            @include mobile{
                                display: inline-block!important;
                            }
                        }
                        &.user-avatar{
                            top: -5px;
                        }
                        p{
                            font-size:$font-size-xs;
                            color:$grey-dark !important;
                            font-family: $font-regular;

                            @include windowS{
                                font-size: 12px;
                            }
                        }
                        &:hover{
                        }
                    }
                }
                .icon-keyboard_arrow_up{
                    font-size: 19px;
                    position: absolute;
                    right: 0;
                    top: 16px;
                    transform: rotate(180deg);
                    color:$grey-dark;
                    @include tablet{
                        right: 2px;
                    }
                }
                &.show{
                    .icon-keyboard_arrow_up{
                        transform: rotate(0deg);
                    }
                }
                .dropdown-menu{
                    &.dropdown-menu-small{
                        padding-top: 0;
                        padding-bottom: 0;
                        .dropdown-item{
                            border:none;
                            border-top:solid 1px $main-nav-border-color;
                            box-shadow:none;
                            color:$primary-color;
                            padding-top: 8px;
                            padding-bottom:8px;
                            &:hover{
                                background:$body-bg;
                            }
                            &:first-child{
                                border-top:none;
                            }
                            &:last-child{
                                background:$body-bg;
                            }
                            i{
                                color:$primary-color;
                            }
                        }
                        .dropdown-divider{
                            margin: 0;
                        }
                    }
                }
            }
            .nav-link-icon{
                padding: 5px 1rem;
            }
        }
        .top-categories{

            @include tablet{
                background: #fff;
                width: 100%;
                // position: fixed;
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center;
                top: 52px;
                border-bottom: solid 1px $table-border;                
            }

            @include mobile{
                background: none;
            }

            ul{
                li{
                    border-left:solid 1px $main-nav-border-color;
                    position:relative;
                    i{
                        vertical-align: middle;
                        font-size: 19px;
                        position: relative;
                        top: -6px;
                        margin-right: 10px;

                        @include windowS{
                            font-size: 14px;
                            margin-right: 5px;
                        }
                    }
                    a{
                        height:$main-navbar-height;
                        display:block;
                        font-size:$main-navbar-size;
                        padding:$main-navbar-padding;
                        vertical-align:middle;
                        color:$main-navbar-color;
                        font-weight:500;

                        @include windowS{
                            padding: 16px 14px 18px;
                            font-size: 13px;
                        }

                        &.active,&.router-link-active{
                            color:$text-primary-color;
                            i{
                                color:$text-primary-color;
                                &:before{
                                    color:$text-primary-color !important;
                                }
                            }
                        }
                    }

                    &:last-child{
                        i{
                            margin-right: 0;
                        }
                    }
                }
            }


        }
    }
    .notifications{
        .nav-link-icon__wrapper{
            @include windowS{
                top: 5px;
            }
            .badge{
                top: 5px !important;
            }
        }
    }
}

.pills-navigation{
    .nav-pills{
         .nav-link{
            &:focus{
                color: #3191dd !important;
                outline: none;
            }
         }
    }
}

/*====
    Left Side Navigation
====*/

.left-side-nav{
    position:fixed;
    width:$left-side-nav-width;
    height:$left-side-nav-height;
    left:0;
    top:0;
    background:#fff;
    padding-top: 51px;
    border-right:solid 1px $table-border;

    @include tablet{
        padding-top: 0;
        top: 51px;
        height: calc(100vh - 51px);
    }

    ul{
        margin:0;
        padding:0;
        li{
            display:block;
            text-align:center;
            padding:0px 0;
            border-bottom:solid 0.5px $table-border;
            font-size:11px;
            display:block;
            i{
                display: block;
                font-size: 18px;
                margin-bottom:6px;
            }
            a{
                font-size:11px;
                text-decoration:none;
                display: block;
                padding:11px 0px 9px;
                cursor: pointer;
                color: $primary-color;
                &.disabled{
                    color:$grey-dark  !important;
                    opacity: 1;
                    pointer-events: none;
                    i{
                        color:$grey-dark  !important;
                    }
                }
                &.danger{
                        color:$danger-color !important;
                    i{
                        color:$danger-color !important;
                    }
                }
            }
            &.disabled{
                pointer-events:none;
                i{
                    color:$grey-dark;
                }
                a{
                    color:$grey-dark;
                }
            }
            &.danger{
                i{
                    color:$danger-color;
                }
                a{
                    color:$danger-color;
                }
            }
        }
    }
    @include tablet{
        z-index: 9;
        display: none;
        width: 185px;
        @include mobile{
            display: none;
        }
        &.active{
            display: block;
            z-index: 9999;
            left: auto;
            right: 0;
            border-left:solid 1px $table-border;            
            border-right: 0px solid;
            @include mobile{
                width:100%;
                max-width: 250px;
                display: block;
                left: auto;
                right: 0;   
                border-left:solid 1px $table-border;            
                border-right: 0px solid;             
            }
        }
        ul{
            li{
                a{
                    text-align: left;
                    padding-left: 12px;
                    padding-right: 12px;
                    font-size: 13px;
                    i{
                        display: inline-block;
                        vertical-align: middle;
                        padding-right: 10px;
                    }
                }
            }
        }        
    }
}

.top-right-options{
    &.top-categories{
        @include tablet{
            position: fixed;
            width: 100%;
            top: 52px;
            left: 0;
            right: 0;
            margin: 0 auto;            
        }
        @include tablet{
            position: fixed;
            height: 100%;
            width: 100%;
            background: rgba(17, 17, 17, 0);
            left: 0;
            right: 0;
            margin: 0 auto;            
            margin: 0;
            box-shadow: 0 0 18px rgba(0,0,0,0.2);
            display: none;
            .nav{
                &.top-categories{
                    display: block;
                    background: $primary-color;
                    height: auto;
                    max-width: 250px;
                    margin-left: 0;
                    padding-top: 50px;
                    position: relative;
                    @include tablet{
                        height: 100vh;
                        padding-top:0px;
                        top: 0;
                    }
                    ul{
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-content: center;
                        text-align: left;
                        float: left;
                        max-width: 250px;     
                        li{
                            display: block;
                            text-align: left;
                            width: 100%;
                            border: none !important;
                            a{
                                color: #fff;
                                font-family: $font-regular;
                                padding: 10px 14px 10px;
                                font-size: 14px;
                                line-height: 31px;
                                i{
                                    top: -5px;
                                    font-size: 16px ;
                                    margin-right: 10px;
                                }
                                &.router-link-active{
                                    background: #00568c;
                                    i{
                                        color: #fff;
                                        &:before{
                                            color: #fff !important;
                                        }
                                    }
                                }
                            }
                            &.link-active{
                                a{
                                    background: #00568c;
                                    color: #fff !important;
                                    i{
                                        color: #fff;
                                        &:before{
                                            color: #fff !important;
                                        }                                        
                                    }
                                }
                            }                           
                        }                                      
                    }
                    i.icon-close-custom.closenav{
                        position: absolute;
                        right: 13px;
                        color: #fff;
                        font-size: 15px;
                        display: none;
                        top: 28px;
                        @include tablet{
                            display: block;
                        }                                                
                    }
                }
            }
            .system-log-link{
                @include tablet{
                    position: fixed !important;
                    left:40px;
                    top: auto;
                    bottom: -4px;
                    margin: 0;
                    padding: 0;
                    width: auto !important;
                    height: auto !important;
                    a{
                        background:none !important;
                    }
                    i{
                        font-size: 20px !important;
                    }                    
                }
            }
        }
        @include tablet{
            ul{
                text-align: left;
                width: 100%;
                display: block;
                    li{
                        display: inline-block;
                        &:first-child{
                            border-left:none;
                        }
                        a{
                            padding: 16px 12px 18px;
                        }
                }
            }                            
        }          
    }


    i.icon-close-custom.closenav{
        display:none;
    }
    &.user-profile-info-options{
        @include tablet{
            display: inline-block;
        }
        @include tablet{
            position: fixed;
            left: 0;
            z-index: 99;
            top: 13px !important;
            display: none;
            ul{
                border: none !important;
            }
            .notifications{
                position: fixed !important;
                left: 0;
                bottom: 6px;
                z-index: 99;
                border: none !important;
                i{
                    color: #fff; 
                    font-size: 20px !important;
                }          
            }
            .dropdown.profile-links .nav-link span.user-info{
                color: #fff !important;                
            }
            .dropdown.profile-links .nav-link span p{
                color: #fff !important;   
            }
            .dropdown.profile-links .icon-keyboard_arrow_up{
                display: none;
            }  
        }
    }

} 
.system-log-link{
    @include tablet{
        position: absolute !important;
        right:222px;
        top: -52px;                                    
    }
}
.mobile-menu-icon{
    position: relative;
    right:0px;
    top:15px;
    font-size:18px;
    color: $primary-color;
    float: left;
    padding-left: 0px;
    padding-right: 20px;
    display: none;
    @include tablet{
        display: block;
    }   
}

.mobile-menu-overlay{
    position: fixed;
    width: calc(100% - 250px);
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 999999;
    height: 100%;
}