$notification-font-size:$font-size-sm;

body{
    .notification-wrapper
    {
        &.dropdown-menu{
            .notification__content{
                .notification__category{
                    font-size:$notification-font-size !important;
                }
                p{
                    font-size:$notification-font-size !important;
                    word-break: break-word;
                }
            }
            .view-all-notification{
                font-size:$notification-font-size !important;
            }
        }
        .scrollbar {
            width: 101%;
            min-height: auto;
            height: 400px;
            @include mobile {
                height: 520px !important;
                max-height: 520px !important;
            }
        }

    }
}


.notifications{
    .dropdown-menu{
        min-width: 20rem !important;
        @include mobile {
            width: 100% !important;
            position: fixed !important;
            top: 0;
            height: 100%;
            left: 0 !important;
            right: 0 !important;
        }
        .dropdown-item{
            border:none !important;
            position:relative;
            &:hover{
                background:#fff;
            }
            &:after{
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: calc(100% - 58px);
                background:$grey-lite;
                height: 1px;
            }
            &:last-child{
                background:$body-bg;
                color:$primary-color;
                &:hover{
                    color:$primary-color;
                }
                &:after{
                    width:100%;
                    bottom:auto;
                    top:0;
                }
            }
            .notification__content{
                p{
                    padding: 14px 0px;
                }
            }
        &.header-notification {
            &:last-child {
                color: inherit;
                background: inherit;
                &:hover {
                    color: inherit;
                }
            }
            p {
                color: #1a1a1a;
            }
        }
        }
    }
    .box-header {
        background: linear-gradient(180deg, #FFFFFF 0%, #EBEEF2 100%);
        border-radius: 0;
        border:none;
        border-bottom:solid 1px $table-border;
        padding: 12px 15px;
        position: relative;
        h4{
            line-height: normal;
            margin: 0px;
            font-size: 15px;
            span{
                position: relative;
                top: -1px;
            }
        }
    }
}

.close-notification{
    display: none;
    @include mobile{
        position: absolute;
        top: 13px;
        display: block;
        right: 16px;
        font-size: 11px;
        color: $text-primary-color;
    }
}
.notification-wrapper {
    .btn {
        &.btn-primary {
                background-color: transparent !important;
                border-color: transparent !important;
                color: $primary-color !important;
                text-decoration: underline !important;            
        }
    }
}

.notification__icon {
    &.notify-icon-ph {
        img {
            width: $notifications-icon-width;
            height: $notifications-icon-height;
        }
    }
    img {
        border-radius: 100%;
        height: $notifications-icon-height;
        width: $notifications-icon-width;
    }
}
.notify-status {
    margin: -10px 0px; 
    a {
        text-decoration: underline;
    }
}