// Pagination

.pagination {
    display: inline-block;
    padding-left: 0;
    margin:10px 0 40px 0;
    border-radius: 4px;
    background-color:transparent;

    @include mobileS{
        margin-bottom: 20px;
    }
}

.pagination > li {
    display: inline-block;
    margin:0 3px;
    box-shadow: none;
    outline:none !important;
}

.pagination > li > a {
    outline:none !important;
}

.pagination > .active > a:focus, .pagination > .active > a:hover {
    color: #fff !important;
}

/* .pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
} */
.pagination > li:first-child > a, .pagination > li:first-child > span,.pagination > li:last-child > a {
    font-size:0;
    position:relative;
    outline:none;
}

.pagination > li:first-child > a{
    &:after{
        font-family: 'icomoon' !important;
        content: "\e314";
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
        width: 20px;
        height: 20px;
        display: block;
        color:$primary-color;
        z-index: 999;
        font-size: 18px;
        top: 6px;

        @include mobileS{
            top: 4px;
        }
    }
}

.pagination > li:last-child > a{
    &:after{
        font-family: 'icomoon' !important;
        content: "\e315";
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
        width: 20px;
        height: 20px;
        display: block;
        color:$primary-color;
        z-index: 999;
        font-size: 18px;
        top: 6px;

        @include mobileS{
            top: 4px;
        }
    }
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 8px 7px;
    margin-left: -1px;
    line-height: 1.42857143;
    color:$primary-color;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid $input-border;
    border-radius:$global-radius;
    box-shadow:none;
    width: 38px;
    height: 38px;
    text-align: center;

    @include mobile{
        padding: 0 !important;
        line-height: 2.2;
    }

    @include mobileS{
        width: 34px;
        height: 34px;
        padding: 6px 12px 0 12px;
    }
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: $text-primary-color !important;
    cursor: default;
    background-color:$grey-lite;
    border-color: $input-border;
}

.pagination-total-count
{
    font-family:$font-bold;
    margin-top: 15px;
}
