.main-sidebar{
    .nav-wrapper{
        .nav{
            display: block;
            margin:0;
            padding:0;
            .nav-item{
                .nav-link{
                    display:block;
                }
            }
        }
        &::-webkit-scrollbar-track
        {
            background-color: $body-bg;
            border-radius: 51px;
        }
        &::-webkit-scrollbar
        {
            background-color: $body-bg;
            width: 2px;
            border-radius: 51px;
            height: 6px;
        }

        &::-webkit-scrollbar-thumb
        {
            background-color: #b0b0b0;
            border-radius: 51px;
        }
    }
}

.conduct-incident-side-panel-container {
    width: 360px;
    position: fixed;
    margin-left: 125px;
    .conduct-incident-side-panel-area{
        .card-heading{
            position: relative;
            h2{
                color: $text-primary-color;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 0px;
            }
            p{
                margin-bottom: 0px;
                color: #868686;
                strong{
                    color: #1A1A1A;
                }
            }
            i{
                position: absolute;
                right: 18px;
                top: 14px;
                font-size: 15px;
                cursor: pointer;
                // color: #E4002B;
            }
        }
        .inner-content{
            max-height: calc(100vh - 258px);
            width: 100%;
            border-right: 1px solid $table-border;
            .scrollable{
                max-height: calc(100vh - 258px);
                &#style-2{
                    &::-webkit-scrollbar{
                        width: 3px;
                    }
                }
                .stage-block{
                    border-right: 0px solid $table-border;
                }
            }
        }
    }

    .stage-block {
        border: 0.5px solid $table-border;
        background-color: #FFFFFF;
        // padding: 14px 20px;
        padding: 14px 20px 12px;
        border-top: 0px;
        position: relative;
        &.pending-stage{
            background-color: #F5F6F8;
        }
        &.related-case-stage{
            padding-bottom:30px;
            .related-info-msg {
                padding-bottom: 15px;
            }
        }
        a{
            font-family: $font_medium;
        }
        h3{
            margin-bottom: 0;
            color: #1A1A1A;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            display: inline-block;
        }
        .date-expectation{
            clear: both;
            overflow: hidden;
            padding-top: 12px;

            ul{
                padding: 0px;
                display: table;
                float: none;
                margin-bottom: 0;
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                li{
                    border-radius: 4px;
                    background-color: #DCE2ED;
                    font-size: 10px;
                    padding: 3px 9px;
                    margin-right: 5px;
                    min-width: auto;
                    text-align: center;
                    color: transparent;
                    float: left;
                    min-height: 21px;
                    margin-bottom: 8px;
                    vertical-align: text-bottom;
                    display: table-cell;
                    width: auto;
                    &.avaliable{
                        color: #fff;
                        background-color: #CF8D2E;
                        &.active{
                            background-color: #25b03a;
                        }
                    }
                    &.more-stages {
                        padding: 3px 3px;       
                        margin-right: 2px;
                    }
                }
            }
        }
        .right-pos {
            position: absolute;
            top: 15px;
            right: 24px;
            font-size: 14px;
            label {
                color: #868686;
                font-family: $font_regular;
                strong{
                    color: #1a1a1a;
                }
            }
            a {
                font-family: $font_regular;
            }
        }
        .closure{
            label {
                color: #868686;
                font-family: $font_regular;
                strong{
                    font-family: $font_regular;
                    color: #1a1a1a;
                }
            }
            a {
                font-family: $font_regular;
            }
        }
        .list-profile-view{
            display: flex;
            align-items: baseline;
            position: relative;
            align-content: center;
            padding-top: 17px;
            margin-left: 25px;
            border-bottom: 0.5px solid #EBEEF2;
            .image-block{
                width: 24px;
                height: 24px;
                background-size: cover;
                position: absolute;
                left: -21px;
                top: 14px;
                border-radius: 100px;
            }
            .profile-detail{
                padding-left: 13px;
                padding-right: 5px;
                h4{
                    margin-bottom: 0px;
                    padding-right: 60px;
                    font-size: 14px;
                    padding-bottom: 18px;
                    line-height: 16px;
                    font-family: $font_medium;
                    color: $text-primary-color;
                    a{
                        color: $primary-color;
                    }
                }
                p{
                    margin-bottom: 0;
                    color: $grey-dark;
                    padding-bottom: 13px;
                    margin-top: -11px;
                    font-family: $font_regular;
                    font-size: 12px;
                    line-height: 14px;
                }
            }
            .profile-hotkeys {
                position: absolute;
                /* right: 0; */
                right: 6px;
                top: 16px;
                a{
                    color: $grey-dark;
                    padding: 0px 5px;
                    font-size: 16px;
                    text-decoration: none;
                    i{
                        &:before{
                            color: $grey-dark;
                        }
                    }
                }
            }
            &:last-child{
                border-bottom: 0px;
                .profile-detail{
                    p{
                        padding-bottom: 0 !important;
                    }
                }
            }
            &.case-profile{
                border-radius: 8px;
                padding-top: 13px;
                background-color: #FFFFFF;
                box-shadow: inset 0 0.5px 0 0 #C0C7D5, 0 1px 2px 0 #C0C7D5;
                margin-left: 0;
                padding-left: 25px;
                margin-top: 20px;
                .image-block{
                    left: 6px;
                }
                .profile-detail{
                    p{
                        margin-top: 0px;
                        color: #1A1A1A;
                        font-size: 12px;
                        padding-bottom: 13px !important;
                        line-height: 14px;
                    }
                    h4{
                        padding-bottom: 3px;
                    }
                }
            }
            .change-case-owner {
                font-family: $font_regular;
            }
        }
        .view-list {
            padding-top: 15px;
            .list-item{
                label{
                    margin-bottom: 0px;
                    color: $grey-dark;
                    font-family: $font_regular;
                    font-size: 14px;
                    line-height: 26px;
                    width: 170px;
                }
                p{
                    margin-bottom: 0px;
                    display: inline-block;
                    color: #1A1A1A;
                    font-size: 14px;
                    font-family: $font_regular;
                    line-height: 26px;
                    &.modal-des{
                        &.clery-act-status {
                            // position: absolute;
                            // word-break: break-word;
                            // right: 22px;
                            line-height: 1.2;
                            margin-top: 5px;
                            width: 130px;
                            // white-space: nowrap;
                            // overflow: hidden;
                            // text-overflow: ellipsis;
                            &:hover {
                                // text-overflow: clip;
                                // white-space: normal;
                                // word-break: break-all;
                            }
                        }
                    }
                }
            }
        }
        &.stage-block-scroll {
            // overflow-x: scroll;
            // white-space: nowrap;
            // // padding-left: 2px;
            // border-right: solid 1px #D9DEE7;
            // border-top-right-radius: 11px;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space:nowrap;
            .date-expectation {
                width: 457px;
            }

        }

    }

    .link {
        padding: 13px 0px 0px 0px;
        display: block;
    }
    @include tablet{
        // width: calc(100% - 185px);
        width: 100%;
        position: relative;
        margin-left: 0px;        
        padding-left: 20px;
        padding-right: 20px;
        float: right;
        .conduct-incident-side-panel-area{
            .inner-content{
                max-height: 100%;
                .scrollable{
                    max-height: 100%;
                }
            }
        }       
    }
    @include mobile{
        padding-left:10px;
        padding-right: 6px;
        width: 100%;        
    }
}


.showNavIcon {
    position: fixed;
    right: 0px;
    z-index: 9;
    // font-size: 17px;
    font-size: 25px;
    display: none;
    top: 52px;
    color: $primary-color;
    padding: 10px 10px;
    border-left: solid 1px $tab-radio-border;
    background-color: #fff;
    // border-right: solid 1px $tab-radio-border;
    border-bottom: solid 1px $tab-radio-border;
    &:after{
        content:'';
        position: fixed;
        width: calc(100% - 250px);
        top: 0;
        right: 0;
        background: rgba(0,0,0,0.5);        
    }
    @include tablet{
        right:0px;
        top: 0;
        z-index: 99999;
        height: 50px;
        padding: 13px 12px;
        text-align: center;
        border-bottom: 0;
        border-left: 0px;
        border-right: solid 1px $table-border;
        display: block;
    }
    @include mobile{
        // right: 215px;
        right: 0px;
        top: 0;
        z-index: 99999;
        height: 51px;
        padding:13px 12px;
        text-align: center;
        border-bottom: 0;
        border-left: solid 1px $table-border;
        display: block;
    }    
}

.prevent-close{
    .modal{
        z-index: 99999;  
    }
}

.case-detail-wrapper {
    @include tablet{
        // width: calc(100% - 185px) !important;
        width: 100% !important;
        float: right;
        padding-right: 20px !important;
        padding-left: 20px;
        margin-top: 30px;
        .incident-tab-content{
            textarea{
                height: 80px; 
            }
        }
    }
    @include mobile{
        padding-right: 15px !important;
        padding-left: 15px;   
        width: 100% !important;     
        ul.incident-tabs{
            flex-direction: column;
            position: relative;
            &:after{
                content:'';
                position: absolute;
                right: 7px;
                top: 14px;
                background-image: url('../images/down-arrow.svg');
                background-repeat: no-repeat;
                background-size: 12px auto;
                width: 14px;
                height: 14px;
            }
            li{
                border-right: solid 0px $table-border !important;
                text-align: center;
                position: relative;
                padding-left:40px;
                padding-right:15px;
                background: #fff;
                border-bottom: solid 1px $table-border;
                text-align: left;
                border: none;
                i{
                    position:absolute;
                    left: 15px;
                    top: 13px;
                }
                &.active{
                    display: block;
                    pointer-events:none;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    a{
                        &:after{
                            content:'';
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: 0 auto;
                            border-bottom: solid 1px $table-border;
                            width: 100%;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                        }
                    }
                }
            }
        }
        .incident-tab-content{
            .incident-btn{
                button{
                    margin-bottom: 10px;
                }
            }
        }
        .document_item{
            .items{
                flex: 0 100%;
                :nth-child(even){
                    margin-left: 0px;
                }
            }
            .upload-items{
                button {
                    padding: 0;
                    margin-left: 0px !important;
                    margin-top: 13px;
                }
            }            
        }
        .activity-details{
            .activity-column{
                label {
                    width:100% !important;
                }
                p{
                    width:100% !important;   
                }
            }
        }
        .activities-section{
            float: left;
            padding: 0px 10px;            
        }
    }
} 

.with-parallel-icon{
    width: 200px;
    ul{
        li{
            text-align: left;
            a{
                padding:14px 0 10px;
                font-size:$font-size-sm;
                color:$placeholder-color !important;
                position: relative;
                padding-left: 41px;
                i{
                    display:inline-block;
                    vertical-align:middle;
                    margin-right: 5px;
                    font-size: 15px;
                    position: absolute;
                    left: 13px;
                    &.icon-list1{
                        font-size: 13px;
                        top: 15px;
                    }
                    &.icon-change-status{
                        font-size: 16px;
                        top: 11px;
                    }
                    &.icon-shuffle{
                        font-size: 17px;
                        top: 11px;
                    }
                    &.icon-email{
                        font-size: 13px;
                        top: 14px;
                    }
                    &.icon-upload{
                        font-size: 16px;
                        top: 10px;
                    }
                    &.icon-help1{
                        font-size: 17px;
                        top: 11px;
                    }
                    &.icon-house{
                        font-size: 17px;
                        top: 11px;
                    }
                    &.icon-delete{
                        font-size: 17px;
                        top: 10px;
                    }
                    &.icon-map-location{

                    }
                    &.icon-export{

                    }
                    &.icon-delete{

                    }
                    &.icon-assign-sanctions{

                    }
                    &.icon-pin{
                        font-size: 16px;
                        top: 11px;
                    }
                    &.icon-pin{
                        font-size: 19px;
                        top: 9px;
                    }
                    &.icon-list{
                        font-size: 17px;
                        top: 10px;
                    }
                    font-size: 17px;
                    top: 10px;
                }
                &.router-link-exact-active {
                    color: $text-primary-color !important;
                    font-family: $font_bold;
                    i{
                        color:$text-primary-color !important;
                    }
                }
            }
        }
    }
}

.case-owner-section{
    padding-bottom: 8px!important;
    a{
        color: $text-primary-color!important;
    }
}

.student_portal_conduct_incident_detail{
    .conduct-incident-side-panel-container {
        .conduct-incident-side-panel-area{
            .inner-content{
                max-height: calc(100vh - 188px);

                .scrollable{
                    max-height: calc(100vh - 188px);                    
                }
            }
        }
    }
}

.stage-block-scroll {
            overflow-x: auto;
            // padding-left: 2px;
            border-right: solid 1px #D9DEE7;
            border-top-right-radius: 11px;
        }