// tabs
.nav-tabs{
    outline: none;
    li{
        a{
            padding: 10px 15px;
        }
    }
}

// .tab-content{
//     border: 1px #ddd solid;
//     border-top: none;
// }

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-pills{
    outline: none;
    .nav-link {
        &:focus{
            color: #fff!important;
        }

        &.active{
            &:hover{
                color: #fff!important;
            }
        }
    }
}

.col-auto{
    width: 250px;
}

.tabs{
    .incident-tabs{
        border:none;
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li{
            a{
                padding: 10px 15px;

                @include tabletL{
                    padding: 10px;
                }
            }
        }
    }
    .incident-tab-content{
        padding:20px 20px 22px 20px;
        float: left;
        width: 100%;
    }
}

.notes-text-area {
    border: 0px;
    padding: 0;
    margin-bottom: 10px;
    &:focus{
        box-shadow: none;
    }
}

.filter-tabs{
    .btn-group{
        .btn{
            min-width: 81px;
        }
        .btn-default{
            border:1px $table-border solid;
            background-color: $btn-primary-color;
            color: $primary-color;
            text-transform: capitalize;
            font-size:$font-size-xs;
            padding:13px 18px;
            font-family: $font_bold;
            height:38px;
            &.lg{
                width: auto;
            }
            &:first-child{
                border-radius: 8px 0 0 8px;
            }

             &:last-child{
                border-radius: 0 8px 8px 0;
            }

            &:hover, &.active{
                color: #1a1a1a;
                background-color: $grey-lite;
            }

            input[type=radio]{
                display: none;
            }
        }
    }
    &.reports-filter {
        margin-bottom: 0;
        .btn-group {
            .btn-default {
                width: 220px;
                padding: 11px 36px 33px 35px;
            }
        }
    }
}

.tabs{
    &.fill-tabs{
        border:solid 1px $table-border;
        border-radius:$global-radius;
        overflow:hidden;
        background-color:#fff;
        ul{
            background: linear-gradient(180deg, #FFFFFF 0%, #EBEEF2 100%);
            border-bottom:solid 1px $table-border;
            border-radius: 8px 8px 0 0;
            @include mobile{
                border-bottom:none;
            }
            li{
                border-radius:0px;
                border-right:solid 1px $table-border !important;
                a{
                    border-radius:0px;
                    border:none;
                    display:block;
                    text-decoration:none;
                    font-family:$font-regular;
                    font-size:$font-size-sm;
                    @include DesktopMin{
                        display: block !important;
                    }  
                    &.active{
                        background:transparent;                
                    }
                }
                &:last-child{
                    a{
                        border-right:0 !important;
                    }
                }
                i{
                    vertical-align: text-top;
                    margin-right: 5px;
                    font-size: 16px;
                }
                @include mobile{
                    &.active{
                        a{
                            display: block !important;
                            pointer-events:none;
                        }
                    }
                }
            }
            &.email-list-view {
                background: transparent;
                border-bottom: transparent;
            }
        }
    }
}

.tabs.fill-tabs ul.email-list-view li {
    border-right: transparent !important;
}
