.table {
  background-color: transparent;
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  th{
      border: 0.5px solid #C0C7D5;
      border-radius: 8px 8px 0 0;
      background: linear-gradient(180deg, #FFFFFF 0%, #EBEEF2 100%);}
  }
  td, th{
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;

    @include windowS{
      white-space: nowrap;
    }

    @include tablet{
        font-size: 13px!important;
    }

    .action-icons{
      i{
          padding-right: 8px;
      }
    }
  }

  tr{
    border-bottom: #ddd solid 1px;
  }

  .thead-dark {
    th {
      color: #fff;
      background-color: #212529;
      border-color: #32383e;
    }
  }
.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.border-0 {
    border: 0!important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem;
}

.text-white {
    color: #fff;
}

.table-dark{
  td, th, thead th{
    border-color: #32383e;

    .profile-pic{
  width: 40px;
  height: 40px;
  border-radius: 50px;
    img{
      border-radius: 50px;
    }

}

  }
}

.table-lite{
  border:solid 1px $table-border;
  // border-bottom:none;
  background:#fff;
  overflow:hidden;

  @include windowS{
    overflow-x: auto; 
  }

  &.top-left-radius{
    border-radius: 8px 8px 0 0;
  }
  td, th, thead th{
      border-color: transparent;
    }
    th,td{
      border-bottom:solid 1px $input-border !important;
      font-size:$table-font-size;
    }
    td{
      padding:$table-td-padding;
      vertical-align: middle;
      @include Desktop1380{
        padding:12px 12px;
      }

      @include tablet{
        padding: 12px 25px;
      }
    }
    th{
      padding:$table-th-padding;
      @include Desktop1380{
        padding:12px 12px;
      }

      @include tablet{
        padding: 12px 25px;
      }
    }
    tr{
      border-color:transparent;
      background:transparent;

      &:nth-child(even){
        border-color: $input-border;
        background:transparent;
      }
    }
    thead{
      tr{
         border-radius: 8px 8px 0 0;
          background: linear-gradient(180deg, #FFFFFF 0%, #EBEEF2 100%);
      }

    .profile-pic{
      width: 40px;
      height: 40px;
      border-radius: 50px;
        img{
          border-radius: 50px;
        }
    }

  }
  &.pl-thead-0 {
      th:nth-child(2) {
          padding: 10px 24px 10px 0;
      }
      td:nth-child(2) {
          padding: 10px 24px 10px 0;
      }
  }
}

.profile-pic{
  width: 40px;
  height: 40px;

    img{
      border-radius: 0;
    }

}

//customize settings

.flag{
    position: absolute;
    margin-left: -21px;
    font-size: 18px;
    margin-top: 2px;
    color: #d9534f;
    opacity: 0;
    left: -10px;
    &.active{
        opacity: 1;
    }
}


.case-num-colmn
{
  a{
    position:relative
  }
}

tr{
    &.sorting{
        th{
            position: relative;
            cursor: pointer;
            &:after {
                content: '\e90b';
                font-family: icomoon;
                position: relative;
                font-size: 10px;
                right: -6px;
                top: 0;
                bottom: auto;
                margin: auto;
            }
            p{
                margin-bottom: 0px;
                display: inline-block;
            }
        }
    }
}
.thead-with-icon{
    th{
        i{
            vertical-align: middle;
            display: inline-block;
            font-size: 13px;
            left: 28px;
            position: relative;
            margin-left: -22px;
            color: $grey-dark;
            top: -2px;
        }
    }
}

.icon-actions-config{
    a{
        display:inline-block;
        font-family:$font-regular;
        text-decoration:none !important;
        i{
            vertical-align: middle;
            font-size: 15px;
            position: relative;
            top: -3px;
        }
        span{
            vertical-align: middle;
            display: inline-block;
            position: relative;
            top: 2px;
            margin-left: 3px;
            margin-right: 20px;
        }
    }
}


.table-lite{
    th, td{
        @include windowS{
          font-size: 13px;
        }
    }
}

.students, .employee{
    .table-lite{
        &.pl-thead-0{
            td{
                &:nth-child(2){
                    padding: 10px 24px 10px 19px;
                }
            }
        }
    }
}

@include mobile{
    .table-lite{
        &.overflow-none{
            overflow-x: auto;
            overflow-y: auto;
            .moreitem{
                .personare{
                    display: none;
                 }
                 &:hover, &:focus{
                    .personare{
                        display: block;
                     }
                 }
            }
        }
    }
}

.case-incident-report-tbl {
    &.table {
        height: 320px;
        @include mobile {
          height: 310px;
        }
    }
}

.stage-table-widget {
  thead {
    /*display: block;*/
    display: table-header-group;
    tr {
      th {
        &:first-child {
          padding-right: 250px;
          @include Desktop1380 {
            padding-right: 160px;
          }
        }
        &:nth-child(2) {
          padding-right: 114px !important;
          @include Desktop1380 {
            padding-right: 105px;
          }
        }
      }
    }
  }
  tbody{
    /*display: block;*/
        display: table-row-group;
    &.stage-tbl-body {
      height: 290px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    tr {
      td {
        &:first-child {
          padding-right: 150px; 
          @include Desktop1380 {
            padding-right: 60px;
          }
        }
        &:nth-child(2) {
          padding-right: 185px !important;
          @include Desktop1380 {
            padding-right: 145px;
          }
        }
        &:nth-child(3) {
          padding-right: 167px !important;
         }
      }
    }
  }
}

.generated-report-tbl { 
    th {
        white-space: nowrap;
    }
}
.case-tbody-widget{
  tr {
    td {
      &:nth-child(2) {
        span{
          margin-bottom: 0px;
          color: #838383;
          font-size: 14px;
          &:first-child {
            color: $primary-color;
            font-family: $font-medium;
          }
        }
      }
    }
  }
}



.stage-table-widget {
  &.incidentReportTable {
    height: auto;
  }
  table {
    thead {
      tr {
        th {
          &:nth-child(3) {
            padding-right: 70px;
          }
          &:nth-child(2) {
            padding-right: 0px !important;
          }
        }
      }
    }
  }
}