$time-picker-width:190px;
$time-picker-height:190px;
body{

    .time-picker{
        .dropdown{
            width:120px;
            height:$time-picker-height;
            top: calc(2.2em + 4px);
            .select-list{
                width:120px;
                height:$time-picker-height;
                ul{
                    width:$time-picker-width;
                    height:$time-picker-height;
                    li{
                        &.hint{
                            font-family:$font-bold;
                            color:$text-primary-color;
                            text-transform:uppercase;
                        }
                        &.active,&:hover{
                            background:$primary-color;
                            color:#fff;
                        }
                    }
                }
            }
        }
        input {
          &.display-time {
              height: 38px;
              padding: 0.4375rem 0.75rem;
          }
        }
    }
}

body .time-picker .clear-btn {
    top: 4px;
    right: 4px;
    font-size: 25px;
    z-index: 99;
    background-color: #fff;
}