.vue-treeselect{
    z-index: 0;
  .vue-treeselect__control {
        display: none !important;
    }
    .vue-treeselect__menu{
        position: relative;
        border: 0;
        box-shadow: none;
        max-height: none !important;
    }
    .vue-treeselect__list-item{
        padding-bottom: 10px;
        .vue-treeselect__list{
            .vue-treeselect_option{
                padding-bottom: 10px;
                padding-top: 10px;
            }
            .vue-treeselect__list-item{
                padding: 3px 0px !important;
                box-shadow: 0 0.5px 0 0 #EBEEF2;
                .vue-treeselect__label{

                }
            }
        }
        .vue-treeselect__label{
            font-size: 14px;
            font-family: $font-regular;
        }
    }
    .vue-treeselect__option--highlight{
        background-color: transparent !important;
    }
    .vue-treeselect__checkbox--checked{
        background: transparent;
        border-color: #E0E0E0;
    }
    .vue-treeselect__label-container:hover .vue-treeselect__checkbox--unchecked{
        border-color: #E0E0E0;
    }
    .vue-treeselect__label-container:hover{
        .vue-treeselect__checkbox--checked, .vue-treeselect__checkbox--indeterminate{
            background: transparent;
            border-color: #E0E0E0;
        }
    }
    .vue-treeselect__checkbox--indeterminate{
        border-color: #E0E0E0;
        background: transparent;
    }
    .vue-treeselect__indent-level-0{
        > .vue-treeselect__option{
            padding-bottom: 2px;
            box-shadow: 0 0.5px 0 0 #EBEEF2;
            padding-left: 30px !important;
            @include mobile{
                padding-left: 10px !important;
            }
        }
    }
    .vue-treeselect__checkbox{
        width: 15px;
        height: 15px;
        border-radius: 0px;
    }
    .vue-treeselect__check-mark{
       width: 9px;
        height: 9px;
    }
    .vue-treeselect__checkbox--checked{
        span.vue-treeselect__check-mark{
            position: relative;
            &:after{
                content: "";
                background-image: url(../images/tick.svg);
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
                width: 10px;
                height: 10px;
                color: $primary-color;
            }
        }
    }
    .vue-treeselect__checkbox--indeterminate{
        span.vue-treeselect__minus-mark{
            height: 2px;
            position: relative;
            &:after{
                content: "-";
                font-size: 17px;
                position: absolute;
                top: -9px;;
                left: 2px;
                width: 8px;
                height: 9px;
                font-weight: bolder;
                color: $primary-color;
            }
        }
    }

}

    .vue-treeselect--open-below{
         .vue-treeselect__menu{
            box-shadow: none !important;
         }
    }
    body{
        .vue-treeselect__indent-level-1{
            .vue-treeselect__option{
                padding-left: 35px;
                @include mobile{
                    padding-left: 5px !important;
                }                
            }
        }
        .vue-treeselect__option-arrow-container{
            opacity: 0;
            pointer-events: none;
        }
        .vue-treeselect{
            .vue-treeselect__list-item{
                .vue-treeselect__list-item{
                    &.vue-treeselect__indent-level-2{
                        padding-top: 6px !important;
                        padding-bottom: 0px !important;
                        .vue-treeselect__option{
                            padding-left: 56px;
                        }
                    }
                }
            }
        }
    }

.vue-treeselect__option-arrow-container
{
    display: none !important;
}

.selectize-tree{
    .vue-treeselect--searchable{
        .vue-treeselect__input-container{
            padding-top: 8px;
        }
    }
    .vue-treeselect--open-above:not(.vue-treeselect--append-to-body) .vue-treeselect__menu-container {
        bottom: auto;
    }    
}

.selectize-tree{
    .vue-treeselect{
        z-index: 9;
        .vue-treeselect__control {
            display: block !important;
            padding: 0 0px 6px 6px;
            max-height: 100% !important;
            height: auto;
            .vue-treeselect__multi-value{
                margin-bottom: 0;
                padding-right: 41px;
                overflow-y: auto;
                max-height: 100% !important;
                height: auto;              
            }
        }
        .vue-treeselect__menu-container {
            z-index: 99999 !important;
        }
        .vue-treeselect__value-container{
            display: block;
        }
        .vue-treeselect__x-container {
            position: absolute;
            top: 0;
            right: 20px;
            margin: auto;
            bottom: 0;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
        }
        .vue-treeselect__control-arrow-container {
            position: absolute;
            right: 0px;
            top: 0;
            bottom: 0;
            margin: auto;
            align-items: center;
            align-content: center;
            display: flex;
        }
        .vue-treeselect__multi-value-item{
            background-color: $primary-color !important;
            color: #fff !important;
            border-radius: 4px;
        }
        .vue-treeselect__value-remove{
            color: #fff;
            border-left: 0px;   
        }                       
    }
    .vue-treeselect--open-below .vue-treeselect__menu{
        border: 1px #d9d9d9 solid !important;
    }
    .vue-treeselect__list-item{
        padding: 0px;
    }
    .vue-treeselect__menu-container {
        max-height: 400px;
        overflow: auto;
            &::-webkit-scrollbar-track
            {
                background-color: $body-bg;
                border-radius: 51px;
            }
            &::-webkit-scrollbar
            {
                width: 6px;
                background-color: $body-bg;
                border-radius: 51px;
            }

            &::-webkit-scrollbar-thumb
            {
                background-color: #cfd4d9;
                border-radius: 51px;
            }
        .vue-treeselect__indent-level-0 > .vue-treeselect__option{
            padding-left: 10px !important;
        }         
    }         
}


.vue-treeselect__multi-value-item-container {
    padding-bottom: 5px;
}
.vue-treeselect.vue-treeselect--multi.vue-treeselect--searchable.vue-treeselect--open-below.is-invalid {
    border-color: $danger-color !important;
    border: 1px solid $danger-color;
    border-radius: 4px;
}
.vue-treeselect__icon-warning {
    background: $secondary-color;
    &:after {
        top: 3px;
    }
}