$ph-width: 360px;
$ph-border-color: #e5e5e5;
$ph-border-radius: 0.25em;
$ph-bg-wrapper: #f5f6f8;
$ph-bg-default: #e5e5e5;
$ph-bg-animate: #d5d5d5;

.content-placeholder {
    max-width: 1200px;
    margin: auto;
    width: 360px;
    height: 100%;
    position: fixed;
}

@keyframes ph-gradiant {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.ph-animated {
    position: relative;
    background: linear-gradient(
        to right,
        $ph-bg-default,
        $ph-bg-animate 20%,
        $ph-bg-default 40%
    );
    background-size: 200% 100%;
    animation: ph-gradiant 1.5s linear 5;
}

.ph-wrapper {
    width: $ph-width;
    background: $ph-bg-wrapper;
    border: 1px solid $ph-border-color;
    border-radius: $ph-border-radius;
    height: 100vh;
}

.ph-image,
.ph-text-title,
.ph-text,
.ph-text-short {
    height: 0.7em;
    max-width: 100%;
    margin: 1em;
    border-radius: $ph-border-radius;
}

.ph-image {
    height: 10em;
    margin-bottom: 3em;
}

.short {
    max-width: 60%;
}

.shorter {
    max-width: 40%;
}

.notify-ph {
    .ph-wrapper {
        width: 320px;
        height: 400px;
        @include mobile {
            width: 380px;
            height: 100vh;
        }
    }
    .ph-image {
        height: 5em;
        margin-bottom: 1em;
    }
}

.activity-log-ph {
    .content-placeholder {
        width: 70%;
    }
    .ph-wrapper {
        width: 95%;
    }
    .ph-image {
        height: 5em;
        margin-bottom: 1em;
    }
}
