.loader-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    width: 32px;
    height: 30px;
    top: 3px;
    display:none;
}
.loader,
.loader:after {
    border-radius: 50% !important;
    width: 10em !important;
    height: 10em !important;
}
.loader {
    margin:0px auto;
    font-size:3px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    display: block;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

.btn{
    &.show-spinner{
        .loader-wrapper{
            display:block;
        }
    }
    &.btn-lg {
        .loader-wrapper{
            top: 8px ;
        }
    }
}

// Loader sm 

.loader-wrapper-sm{
    position: absolute;
    left: 0;
    right: 5px;
    top: 5px !important;
    margin: 0 auto;
    width: 12px;
    height: -20px;
    top: 3px;
    display: none;
    .loader-sm,
    .loader-sm:after {
        border-radius: 50%;
        width: 6em;
        height: 6em;
    }
    .loader-sm {
        margin:0px auto;
        font-size:3px;
        position: relative;
        text-indent: -9999em;
        border-top: 1.1em solid rgba(255, 255, 255, 0.2);
        border-right: 1.1em solid rgba(255, 255, 255, 0.2);
        border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
        border-left: 1.1em solid #ffffff;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
        display: block;
    }
}

.btn{
    &.show-spinner{
        .loader-wrapper-sm{
            display:block;
        }
    }
}