@media print {
    
    body {transform: scale(1);}
    
    @page {
        margin-top: 1cm;
        margin-bottom: 1cm;
    }
    .case-detail-activities {
        page-break-inside: avoid;
    }
    .report-body .main-navbar, .report-body .report-navigation {
        display: none !important;
    }
    .report-main-panel-container {
        padding: 10px;
        margin: 0;
    }
    .report-top .report-heading.overall-stats-head {
        width: 17%;
        display: inline-block;
    }
    .report-overall-statistics .report-top .report-heading h3 {
        font-size: 16px;
    }
    .report-top .filter-list .form-group {
        width: 30%;
    }
    .report-top .filter-list {
        width: 70%;
        display: inline-block;
        float: none;
        text-align: right;
    }
    .report-panel-highlights {
        width:100%!important;
        padding:0!important;
        margin:0!important;
    }
    .case-timeline {
        page-break-inside: avoid;
    }
    .owl-carousel .owl-item {
        width: 170px !important;
        max-width: 500px !important;
        margin-right: 10px !important;
    }
    .owl-carousel .owl-item .highlight_box {
        padding: 10px 20px 11px 10px !important;
    }
    .owl-carousel .owl-item .highlight_box h4 {
        font-size: 13px;
    }
    .activities-section .activitylist ul li a {
        width: 180px;
        padding: 5px 8px;
        text-decoration: none;
        text-align: center;
    }
    .months-years-tabs {
        max-width: 25%;
        width: 25%;
    }
    .reportsection label.text-label {
        display: block;
        width: 150px;
        max-width: 450px;
        margin-bottom: 10px;
        text-align: center;
    }
    .filter-tabs.reportsection {
        width: 100%;
    }
    .months-years-tabs {
        display: block !important;
        margin: 0 auto;
    }
    .case-timeline-content {
        .case-tab-content {
            .col-lg-8 {
                width: 100% !important;
            }
            .col-lg-4 {
                width: 100% !important;
            }
        }
    }
    .table-lite th {
        width: 235px;
    }
    .case-timeline {
        page-break-inside: avoid !important;
        .col-lg-2.col-md-6.col-sm-12 {
            width: 100% !important;
        }
    }
    .multiple-case-reports {
        page-break-inside: avoid !important;
        .row {
                    display: block;

            page-break-inside: avoid !important;

            .col-lg-4 {
                position: relative;
                width: 100% !important;
                    display: block;

                page-break-inside: avoid !important;
                .tablet-divider {
                    position: relative;
                    width: 100% !important;
                    page-break-inside: avoid !important;
                    display: block;
                }
            }
        }
    }
    // .case-body {
    //     page-break-inside: avoid !important;
    // }
    // .incidentReportTable {
    //     page-break-inside: avoid !important;
    // }
    .case-timeline-content {
        .case-tab-content {
            .col-md-8 {
                width: 100% !important;
                flex: 0 0 100% !important;
                max-width: 100% !important;
                page-break-inside: avoid !important;

            }
            .col-md-4 {
                width: 100% !important;
                flex: 0 0 100% !important;
                max-width: 100% !important;

            }
            .col-md-7 {
                width: 100% !important;
                flex: 0 0 100% !important;
                max-width: 100% !important;    
                page-break-inside: avoid !important;

            }
            .col-md-5 {
                width: 100% !important;
                flex: 0 0 100% !important;
                max-width: 100% !important;      
            }
            .incidentReportTable {
                height: 310px;
            }
        }
    }

}