.editiable-row {
    width: 100%;
    padding: 20px 0px;
}
.custom-wysiwyg{
    border: 1px solid #d9d9d9 !important;
    width: 100% !important;
    font-family: "Roboto-Regular";
    font-size: 0.875rem;
    padding: 0px 0px;
    border-color: #d9d9d9;
    border-radius: 4px;
    color: #1A1A1A;	
	[title="Justify Left"] {
    	display: none;
	}
	[title="Center"]{
		display: none;
	}
	[title="Justify Right"]{
		display: none;
	}
	[title="Code"]{
		display: none;
	}
	[title="Ordered List (1, 2, 3)"]{
		display: none;
	}
	[title="Bullet List"]{
		display: none;
	}
	[title="Insert Image"]{
		display: none;
	}
	[title="Insert Table"]{
		display: none;
	}
	[title="Headings (h1-h6)"]{
		display: none;
	}
	div[title]{
		/*padding: 0px 3px;*/
		.vw-btn-separator {
    		display: none;
		}
	}
	.dashboard{
	    top: 20px !important;
	    width: 506px;
	    right: 0;
		left: auto;
		@include mobile {
			width: 297px;
			top: 31px !important;
			right: -3px;
		}
		input[type="text"]{
		    // width: 71% !important;
		    // display: inline-block;
		    // font-size: 0.8rem;
		    // line-height: 1.3;
		    // padding-left: 8px;
		    // color: #495057;
		    // background-color: #fff;
		    // background-clip: padding-box;
		    // border: 1px solid #ced4da;
		    // border-radius: 0.25rem;
		    width: 74% !important;
		    display: inline-block;
		    font-size: 0.8rem;
		    line-height: 1.3;
		    padding-left: 8px;
		    color: #495057;
		    background-color: #fff;
		    background-clip: padding-box;
		    border: 1px solid #ced4da;
		    border-radius: 0.25rem;		    
		}
		button{
			background: $secondary-color !important;
		    border-color: $secondary-color !important;
		    display: inline-block;
		    font-weight: 400;
		    text-align: center;
		    white-space: nowrap;
		    vertical-align: middle;
		    border: 1px solid transparent;
		    padding: 0px 13px;
		    font-size: 0.8rem;
		    line-height: 1.4;
		    border-radius: 0.25rem;
		    color: #fff;
		    cursor: pointer;		
		}
		label{
		    font-size: 12px;
		    position: relative;
		}
	}
	.editr--toolbar{
    	height: 27px;
	    justify-content: flex-end;
	    border-bottom: none;
		width: 177px;
	    position: absolute;
	    margin-left: auto;
	    right: 18px;
	    background-color: transparent !important;
		top: -4px;
		@include mobile {
			top: -7px !important;
		}
		a{
		    height: 28px;
			max-width: 28px;
			@include mobile {
				width: 7vw;
			}
			svg{
			    width: 16px;
			    height: 16px;
			    margin: 5px auto;
			}
		}
	div{
		 a {
		    height: 28px;
		    max-width: 35px;
		    border: solid 0.5px #C0C7D5;
		    border-right: solid 0px #C0C7D5;		    
		}
		&:last-child{
			 a {
			    border-right: solid 0.5px #C0C7D5;		    
			}			
		}	

	}	
	}
	.editr--content{
	    /*max-height: 80px;
	    min-height: 80px;*/
	    max-height: 93px;
	    min-height: 93px;    
	    overflow-y: auto;
	}
	b {
	    font-family: $font_ebold !important;
	}

}

.editr--toolbar{
	a{
		fill: #666666
	}
}


.editr--toolbar a:active, .editr--toolbar a:hover, .editr--toolbar a:focus {
    background: $primary-color !important;
    fill: #fff !important;
}


.no-toolbar .editr--toolbar {
    display: none;
}

// Editor scroll
.editr--content::-webkit-scrollbar {
    width: 5px;
    background-color: #ced3d8;
}

.editr--content::-webkit-scrollbar-track {
    border-radius: 15px;
    background-color: #f1f3f5;
}

.editr--content::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #ddd;
}


.custom-wysiwyg .dashboard label p:first-child {
    position: absolute;
    z-index: 9;
    width: 185px;
}

.custom-wysiwyg .dashboard label p:last-child {
    padding-left: 15px;
    text-align: right;
    padding-right: 15px;
}

.custom-wysiwyg .dashboard form label:first-child input[type="text"] {
    width: 91% !important;
}