<template>
    <div class="main-wrapper">
        <ir-form-component
            v-if="tabVal == 'reporting'"
            @show-report="reportMsg"
        ></ir-form-component>
        <incident-report
            v-if="tabVal == 'report-msg'"
            @show-report="showReporting"
            :formId='formId'
            :displaySettings='displaySettings'
        ></incident-report>
    </div>
</template>
<script>
    export default{
        data () {
            return {
                tabVal : 'reporting',
                formId: null,
                displaySettings: ''
            }
        },
        methods: {
            showReporting(){
                this.tabVal = 'reporting'
            },
            reportMsg(formId, displaySettings){
                this.formId = formId;
                this.displaySettings = displaySettings;
                this.tabVal = 'report-msg'
            },
        }
    }
</script>