<template>
    <div class="reporting-container incident-response">
        <div class="reporting-section">
            <div class="incident-section">
                <div class="row">
                    <div class="col-sm-4 panel-main-heading">
                        <c-logo></c-logo>
                    </div>
                    <div class="col-sm-8 panel-main-heading text-right">
                        <h3>{{displaySettings.title}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="roport-msg reportlist-msg">
            <h5>{{displaySettings.thank_you_title}}</h5>
            <p v-html="displaySettings.thank_you_details">
            </p>
            <p>
                For your record <strong>incident report number is #{{formId}}.</strong>
            </p>
            <p>
                <a
                    href="javascript:;" 
                    @click.prevent="$emit('show-report')">
                    Need to submit another incident report?
                </a>
            </p>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['displaySettings', 'formId'],
        data () {
            return {
            }
        },
    }
</script>
