<template>
    <div class="reporting-container">
        <div class="reporting-section">
            <div class="incident-section">
                <div class="row">
                    <div class="col-sm-4 panel-main-heading">
                        <c-logo></c-logo>
                    </div>
                    <div class="col-sm-8 panel-main-heading text-right">
                        <h3>Student Conduct Incident Reporting Form</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="roport-msg">
                        <h5>This reporting form is NOT a 911 or Emergency Service</h5>
                        <p>
                            Do not use this site to report events presenting an immediate threat safety or security threat. If this is an emergency, please contact UMKC Campus Safety &amp; Police at +1 816-235-1000 or dial 911.
                        </p>
                        <p>
                            <strong>Note:</strong> Though anonymous reports are permitted, doing so may limit the University’s ability to investigate and respond to a complaint if the report cannot be validated. Those who are aware of misconduct are encouraged to report it as quickly as possible to the Office of Student Conduct and/or to Campus Safety and Police.
                        </p>
                    </div>
                </div>
            </div>
            <div class="incident-section">
                <div class="row">
                    <d-form>
                     <div class="col-md-12"><d-alert theme="success" role="alert" hide></d-alert></div>
                    <div class="col-md-12">
                    <div class="report-panel">
                        <div class="report-panel-heading">
                            <h4>Background Information</h4>
                            <p><i class="icon-exclamation-outline"></i> The following information should be completed by the individual(s) submitting the incident report.</p>
                        </div>
                            <div class="report-panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label for="full_name">Full Name</label>
                                            <d-input id="full_name" placeholder="Enter full name" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <label class="empty-label">&nbsp;</label>
                                        <p class="auto-text">Enable additional features by <a href="javascript:void(0);" role="button">logging in</a>.</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 empty-div"></div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label for="position_title">Position/title</label>
                                            <d-input id="position_title" placeholder="Enter position or title" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label for="email_address1">Email Address</label>
                                            <d-input id="email_address1" v-model="form.email" placeholder="Enter email address" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 empty-div"></div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group selectBox">
                                            <label for="incident_date">Date of incident</label>
                                            <i class="icon-calendar"></i>
                                            <d-datepicker
                                                class="with-icon datepicker-icon"
                                                v-model="form.date"
                                                id="incident_date"
                                                placeholder="MM / DD / YYYY"
                                                typeable />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group selectBox">
                                            <label for="incident_time">Time of incident</label>
                                            <i class="icon-clock"></i>
                                            <vue-timepicker
                                                name="schedule_end_time"
                                                class="with-icon datepicker-icon form-control"
                                                id="incident_time"
                                                v-model="form.time"
                                                format="HH:mm:ss"
                                                placeholder="End Time">
                                            </vue-timepicker>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 empty-div"></div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group selectBox">
                                        <label for="incident_location">Location of incident</label>
                                        <i class="icon-keyboard_arrow_down3"></i>
                                        <d-form-select v-model="selected_role" id="incident_location">
                                            <option :value="incident">Choose role in incident</option>
                                        </d-form-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group selectBox">
                                        <label for="location_specific">Specific Location</label>
                                        <i class="icon-keyboard_arrow_down3"></i>
                                        <d-form-select v-model="selected_role" id="location_specific">
                                            <option :value="incident">Choose role in incident</option>
                                        </d-form-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 empty-div"></div>
                                </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                    <div class="report-panel">
                        <div class="report-panel-heading">
                            <h4>Involved Parties</h4>
                        </div>
                        <div class="report-panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="ividual_organizer">Individual or Organization</label>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <d-form-radio inline name="individual_organizer" value="individual"
                                                role="radio"
                                                aria-checked="true"
                                                >Individual</d-form-radio>
                                            </div>
                                            <div class="col-sm-6">
                                                <d-form-radio inline name="individual_organizer" value="organization"
                                                role="radio">Organization</d-form-radio>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="parties_name">Name</label>
                                        <d-input id="parties_name" placeholder="Enter involved part name" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group selectBox">
                                        <label for="parties_role">Role</label>
                                        <i class="icon-keyboard_arrow_down3"></i>
                                        <d-form-select v-model="selected_role" id="parties_role">
                                            <option :value="incident">Choose role in incident</option>
                                        </d-form-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="university_id">University ID Number</label>
                                        <d-input id="university_id" class="number-field" type="number" placeholder="Enter university id number (optional)" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="phone_no">Phone Number</label>
                                        <d-input class="number-field" type="number" id="phone_no" placeholder="Enter phone number (optional)" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="email_address">Email Address</label>
                                        <d-input id="email_address" v-model="form.email" placeholder="Enter email address (optional)" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr />
                                </div>
                                <div class="col-md-12">
                                    <d-button theme="link">+ Add another</d-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="report-panel">
                        <div class="report-panel-heading">
                            <h4>Incident Information</h4>
                        </div>
                        <div class="report-panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group selectBox">
                                        <label for="incident_type">Incident Type</label>
                                        <i class="icon-keyboard_arrow_down3"></i>
                                        <d-form-select v-model="selected_role" id="incident_type">
                                            <option :value="incident">Choose incident type</option>
                                        </d-form-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 empty-div"></div>
                                <div class="col-xs-12 col-sm-4 empty-div"></div>
                                <div class="col-md-12">
                                    <hr />
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="form-group">
                                        <label for="involved_incident" class="checkbox-heading">Please indicate if any of the following were involved in this incident:</label>
                                        <d-checkbox
                                            v-model="selected"
                                            name="involved_incident"
                                            role="checkbox"
                                            aria-checked="true"
                                            value="lcohol">
                                            Alcohol
                                        </d-checkbox>
                                        <d-checkbox
                                            v-model="selected"
                                            role="checkbox"
                                            name="involved_incident"
                                            value="drugs">
                                            Drugs
                                        </d-checkbox>
                                        <d-checkbox
                                            v-model="selected"
                                            role="checkbox"
                                            name="involved_incident"
                                            value="weapons">
                                            Weapons
                                        </d-checkbox>
                                        <d-checkbox
                                            v-model="selected"
                                            role="checkbox"
                                            name="involved_incident"
                                            value="assault">
                                            Physical assault/violence
                                        </d-checkbox>
                                        <d-checkbox
                                            v-model="selected"
                                            role="checkbox"
                                            name="involved_incident"
                                            value="misconduct">
                                            Sexual misconduct
                                        </d-checkbox>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="form-group">
                                        <label for="indicate_assistance" class="checkbox-heading">Please indicate if you called for assistance from any of the following or any of the following services were on scene:</label>
                                        <d-checkbox
                                            v-model="selected"
                                            role="checkbox"
                                            aria-checked="true"
                                            name="indicate_assistance"
                                            value="security">
                                            Campus Security &amp; University Police
                                        </d-checkbox>
                                        <d-checkbox
                                            v-model="selected"
                                            role="checkbox"
                                            name="indicate_assistance"
                                            value="rescue">
                                            Fire Rescue
                                        </d-checkbox>
                                        <d-checkbox
                                            v-model="selected"
                                            role="checkbox"
                                            name="indicate_assistance"
                                            value="violence">
                                            Physical assault/violence
                                        </d-checkbox>
                                        <d-checkbox
                                            v-model="selected"
                                            role="checkbox"
                                            name="indicate_assistance"
                                            value="elon">
                                            Elon AOC (Administrator on Call)
                                        </d-checkbox>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group selectBox">
                                                <label for="custom_field">Custom Field</label>
                                                <i class="icon-keyboard_arrow_down3"></i>
                                                <d-form-select v-model="selected_role" id="custom_field">
                                                    <option :value="incident">Choose custom field value</option>
                                                </d-form-select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="another_custom_field">Another Custom Field</label>
                                                <d-input v-model="inputValue" 
                                                id="another_custom_field"
                                                placeholder="Enter another custom field value" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12"><hr /></div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="incident_details">Incident Details</label>
                                            <d-form-textarea v-model="text"
                                                placeholder="Enter something"
                                                :rows="3"
                                                id="incident_details"
                                                :max-rows="6">
                                            </d-form-textarea>
                                            <p class="report-content">
                                                Please provide a detailed description of the incident/concern using specific, concise and objective language (Who, what, when, where, and how).
                                                Each individual listed as "involved" should appear in your incident description.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="report-panel">
                            <div class="report-panel-heading">
                                <h4>Supporting Documentation</h4>
                            </div>
                            <div class="report-panel-body">
                                <label for="upload_documentation">Please upload any supporting documentation that may provide additional context to the incident report (pictures, text messages, emails, etc.).</label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="file_upload_block">
                                                <h4>Click here or drag &amp; drop file here to upload</h4>
                                                <p>Support file format are JPG, PNG, BMP, MP3, MP4, DOCX, XLS, PPT and PDF</p>
                                                <input type="file" name="upload_file"
                                                id="upload_documentation" />
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                        <div class="report-panel">
                            <div class="report-panel-heading">
                                <h4>One last step ...</h4>
                            </div>
                            <div class="report-panel-body">
                                    <div class="row">
                                        <div class="col-md-3">asdsd</div>
                                        <div class="col-md-9">
                                            <p>
                                                Help us prevent spam reports by completing this captcha.<br />
                                                <strong>NOTE:</strong> If you do not see a gray box with a checkbox that says "I'm not a robot", please try a different web browser.
                                            </p>
                                        </div>
                                        <div class="col-md-12"><hr /></div>
                                        <div class="col-md-12">
                                            <d-btn theme="primary" size="lg"
                                                @click.prevent="$emit('show-report')">
                                                <span>Submit Report</span>
                                                <c-loader></c-loader>
                                            </d-btn>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </d-form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import VueTimepicker from 'vue2-timepicker';
    export default {
        components: { VueTimepicker },
        data () {
            return {
              form: {
                email: '',
                date: '',
                time: '',
              }
            }
        },
        methods: {
            redirectToDashboard() {
                this.$router.push({name: 'conduct-incidents'});
            }
        },
    }
</script>
