<template>
    <div class="main-wrapper">
        <ir-form-component
            v-if="tabVal == 'reporting' && !id"
            @show-report="reportMsg"
        ></ir-form-component>
        <ir-form-component-update
            v-if="tabVal == 'reporting' && id"
            :formId="id"
            @show-report="reportMsg"
        ></ir-form-component-update>
        <incident-report
            v-if="tabVal == 'report-msg'"
            @show-report="showReporting"
            :formId='formId'
            :displaySettings='displaySettings'
        ></incident-report>
    </div>
</template>
<script>
    export default{
        props: ['id'],
        data () {
            return {
                tabVal : 'reporting',
                formId: null,
                displaySettings: ''
            }
        },
        methods: {
            showReporting(){
                this.tabVal = 'reporting'
            },
            reportMsg(formId, displaySettings){
                this.formId = formId;
                this.displaySettings = displaySettings;
                this.tabVal = 'report-msg'
                $(window).scrollTop(0);
            },
        },
        mounted() {
            setTimeout(function() {
                $(window).scrollTop(0);
            }, 2000);
        },
    }
</script>