<template>
    <div class="main-wrapper">
        <d-form>
            <div class="filter-left heading">
                <h3>Students</h3>
            </div>
            <div class="filter-right">
                <ul>
                    <li>
                        <div class="filter-tabs">
                            <div class="btn-group mob-btn-group">
                                <label class="btn btn-default" :class="[bookmarkFilter == '0'?'active' : '']">
                                    <input type="radio" checked="" autocomplete="off" name="filters" value="0" v-model="bookmarkFilter">All
                                </label>
                                <label class="btn btn-default" :class="[bookmarkFilter == '1'?'active' : '']">
                                    <input type="radio" autocomplete="off" name="filters" value="1" v-model="bookmarkFilter"> Bookmarked
                                </label>
                                <label class="btn btn-default" :class="[bookmarkFilter == '2'?'active' : '']">
                                    <input type="radio" autocomplete="off" name="filters" value="2" v-model="bookmarkFilter"> Student Staff
                                </label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="search-panel w-250">
                            <d-input id="" class="" placeholder="Search students by keyword" v-model="keyword" @change="onSearch" />
                            <i class="icon-search"></i>
                        </div>
                    </li>
                    <li class="ST-listing-selectbox">
                        <div class="form-group filter-student mt-2-mob">
                            <selectize v-model="selectedValue" :settings="settings" class="selectize-control" @input="onChangeFilter"> <!-- settings is optional -->
                                <option value="all">All cases</option>
                                <option value="involved">Students who are involved in any case</option>
                                <option value="notinvolved">Students who are not involved in any case</option>
                            </selectize>
                        </div>
                    </li>
                </ul>
            </div>
        </d-form>

        <!-- Student Listing -->
        <student-listing
            @student-details-popup="onStudentDetailsPopup"
            @role-popup="rolePopup = true" 
            @onSort="onSortCallback" 
            @user-convert="onUserConvert" 
            @reset="onReset" 
            :is_bookmarked="bookmarkFilter" 
            :keyword="filterKeyword" 
            :filterBy="filterBy" 
            :isfilterKeyword="isfilterKeyword"
            :refresh="refreshList"
            >
        </student-listing>
        <student-details-popup :showModalProp="studentDetailsPopup" @hide-modal-value="closeAllPopup" :user="userId" :tab="tabValue" :type="popupType" @show-manage-field-popup="showCustomManageFieldPopup" :addField="field"></student-details-popup>
        <manage-custom-field-popup
            :showModalProp="manageCustomFieldPopup"
            @hide-modal-value="closeCustomManageFieldPopup"
            @on-field-selection="onFieldSelection"
            >
        </manage-custom-field-popup>
        <user-convert-popup
            :list="studentList"
            :showModalProp="showUserConvertPopup"
            :type="userConvertPopupType"
            @hide-modal-value="onUserConvert"
            @refresh-list="onRefreshList"
            >
        </user-convert-popup>
        <role-popup :showModalProp="rolePopup" @hide-modal-value="closeAllPopup"></role-popup>    </div>
</template>


<script>

import Selectize from 'vue2-selectize';
export default{

    components:{ Selectize },

    data () {
        return {
            tabValue: "",
            field: false,
            popupType: '',
            keyword: "",
            bookmarkFilter: '0',
            studentList: '',
            userConvertPopupType: '',
            filterKeyword: '',
            isfilterKeyword: '',
            studentDetailsPopup: false,
            refreshList: false,
            showUserConvertPopup: false,
            manageCustomFieldPopup: false,
            rolePopup: false,
            selectedValue: 'all',
            filterTab: 'workflow',
            filterBy: null,
            settings: {},
            userId: '',
            studentProfileRecord: {},
            options: [
                { value: null, text: 'Students who involved in cases' },
            ],
        }
    },
    methods:{
        onSortCallback() {
            this.keyword = "";
            this.filterKeyword = "";
            this.isfilterKeyword = "sort";
            this.filterBy = "";
            this.selectedValue = "all";
        },
        onFieldSelection(field) {
            this.studentDetailsPopup = true;
            this.field = field;
            this.manageCustomFieldPopup = false;
        },
        onChangeFilter(val) {
            this.filterBy = val;
            this.bookmarkFilter = this.bookmarkFilter == '2'? '0' : this.bookmarkFilter;
        },
        closeCustomManageFieldPopup(fields) {
            this.tabValue = 'additional_details';
            this.studentDetailsPopup = true;
            this.field = fields;
            this.manageCustomFieldPopup = false;
        },
        onUserConvert(val, type, list) {

            this.studentList = list;
            this.userConvertPopupType = type;
            this.showUserConvertPopup = val;
        },
        showCustomManageFieldPopup() {
            this.studentDetailsPopup = false;
            this.manageCustomFieldPopup = true;
        },
        onStudentDetailsPopup(student, tab, type = 'student') {
            let self = this;
            if(typeof(tab) != "undefined") {
                this.tabValue = tab;
            }
            this.userId = student;
            self.popupType = type;
            self.studentDetailsPopup = true;
        },
        onSearch() {
            this.filterKeyword = this.keyword;
            this.isfilterKeyword = "";
        },
        closeAllPopup(){
            this.studentDetailsPopup = false;
            this.rolePopup = false;
            this.field = false;
            this.tabValue = "";
        },
        onRefreshList(val){
            this.refreshList = val;
        },
        onReset(val){
            this.refreshList = false;
        },
    },
    watch: {
        bookmarkFilter() {
            this.filterList = true;
        }

    }
}
</script>
