<template>
    <div>
        <div class="table table-lite top-left-radius pl-thead-0">
            <table class="table mb-0 ">
                <thead class="bg-light">
                    <tr class="thead-with-icon">
                        <th scope="col" style="width: 74px;">
                        </th>
                        <th
                            @click="sortBy('Id')"
                            scope="col"
                            class="text-center"
                            style="width: 90px;" >
                            Student Id
                            <i :class="['icon-sort', isIdSort? 'rotate-ico': '']"></i>
                        </th>
                        <th
                            @click="sortBy('fn')"
                            scope="col"
                            style="width: 116px;">
                            First Name
                            <i :class="['icon-sort', isFnSort? 'rotate-ico': '']"></i>
                        </th>
                        <th
                            @click="sortBy('mn')"
                            scope="col"
                            style="width: 126px;">
                            Middle Name
                            <i :class="['icon-sort', isMnSort? 'rotate-ico': '']"></i>
                        </th>
                        <th
                            @click="sortBy('ln')"
                            scope="col"
                            style="width: 116px;">
                            Last Name
                            <i :class="['icon-sort', isLnSort? 'rotate-ico': '']"></i>
                        </th>
                        <th
                            scope="col"
                            style="width: 200px;">
                            Email Address
                        </th>
                        <th
                            scope="col"
                            style="width: 126px;">
                            Student Satus
                        </th>
                        <th
                            scope="col"
                            style="width: 116px;">
                            Involvement
                        </th>
                        <th
                            scope="col"
                            style="width: 166px;">
                            Actions
                        </th>
                    </tr>
            </thead>
            <tbody>
                <tr v-for="(list, index) in cases">
                    <td>
                        <div :style="{ 'background-image': 'url(' + getImage(list.profile_image) + ')' }" class="student-image"> </div>
                    </td>
                    <td class="case-num-colmn sno-table-col text-center">
                        <a href="javascript:void(0);" 
                        role="button"
                        @click="$emit('student-details-popup', list, 'profile_details', (list.role_id == STUDENT)? 'student' : 'employee')">
                            {{ list.enrollment_id }}
                        </a>
                    </td>
                    <td>{{ list.first_name }}</td>
                    <td>{{ list.middle_name }}</td>
                    <td>{{ list.last_name }}</td>
                    <td>
                        <a :href="'mailto:'+list.email" class="secondary-color" role="button">
                            {{ list.email }}
                        </a>
                    </td>
                    <td>{{ list.status | toTitleCase }}</td>
                    <td>
                        <a 
                        v-if="list.role_id == STUDENT"
                        href="javascript:void(0);" 
                        role="button" 
                        @click="$emit('student-details-popup', list, 'prior_cases')" :class="[list.involved_cases_count >= caseInvolvementThreshold? 'text-danger': '']">
                            {{ list.involved_cases_count + ((list.involved_cases_count > 1)? ' cases' : ' case')}}
                        </a>
                        <a 
                        v-if="list.role_id != STUDENT"
                        href="javascript:void(0);" 
                        role="button" 
                        @click="$emit('student-details-popup', list, 'case_handled', 'employee')">
                            {{ list.handled_cases_count + ((list.handled_cases_count > 1)? ' cases' : ' case')}}
                        </a>
                    </td>
                    <td class="icon-actions">
                        <a 
                        v-if="user.role_id != STUDENTSTAFF"
                        href="javascript:void(0);" 
                        role="button"
                        class="mr-2"
                        @click="onChangeRole(list, index)">
                            <i class="icon-settings" :class="[(list.role_id != STUDENT)?'text-warning':'']" v-tooltip.top-center="(list.role_id != STUDENT)? 'Mark as Student':'Mark as Student Staff'"></i>
                        </a>
                        <a href="javascript:void(0);" 
                        class="mr-2" 
                        role="button"
                        @click="$emit('student-details-popup', list, 'profile_details', (list.role_id == STUDENT)? 'student' : 'employee')">
                             <i class="icon-eye" v-tooltip.top-center="viewStdDetail"></i>
                         </a>
                        <a href="javascript:void(0);" 
                        role="button"
                        class="mr-2"
                        @click="onBookmarked(list, index)">
                            <i class="icon-bookmark" :class="[list.is_bookmarked? 'text-warning' : '']" v-tooltip.top-center="list.is_bookmarked? 'Bookmarked':'Bookmark'"></i>
                        </a>
                        <a 
                        :class="[(list.role_id != STUDENT)? 'disabled' : '']"
                        href="javascript:void(0);" 
                        role="button"
                        @click="$emit('student-details-popup', list, 'additional_details')">
                             <i class="icon-edit" v-tooltip.top-center="'Edit Student Details'"></i>
                         </a>
                    </td>
                </tr>

        </tbody>
    </table>
    <common-methods 
        @form-submitted="formSubmitted"
        @get-response="getResponse"
        @form-error="formError"
        :url="url"
        :submitUrl="submitUrl"
        :submitType="'post'"
        :formData="formData"
        :submit="submit"
        :direction="'top'"
        :force="force"
        :infiniteLoad="false"
        :hideLoader="true"
        :showLoadMore="false"
        :paginationText="'Student'"
        :hidePagination="hidePagination"
        v-show="!noRecordFound"
        >
    </common-methods>
    <block-spinner v-if="!cases.length && !noRecordFound"></block-spinner>
    <no-record-found v-if="noRecordFound" class="mt-5 mb-5"></no-record-found>
</div>
<div class="row">
</div>
</div>
</div>
</template>
<script>
    export default{
        props: ['keyword', 'is_bookmarked', 'filterBy', 'isfilterKeyword', 'refresh'],
        data() {
        return {
                currentPage: 1,
                viewStdDetail: 'View Student Information',
                viewBookmark: 'Bookmark',
                cases: [],
                ascending: 'ascending',
                submit : false,
                dummyImage: 'images/dummy/image-placeholder.jpg',
                url : 'api/user?pagination=true&filter_by_type=student',
                pagination : false,
                noRecordFound : false,
                formData : {

                },
                submitUrl : 'api/user?pagination=true&filter_by_type=student',
                baseUrl : 'api/user?pagination=true&filter_by_type=student',
                force : false,
                isIdSort : false,
                isFnSort : false,
                isLnSort : false,
                isMnSort : false,
                listing: [],
                hidePagination: false,
                caseInvolvementThreshold: 0,
                SUPERADMIN: 1,
                INCIDENTTYPEADMIN: 2,
                INCIDENTTYPEOFFICER: 3,
                STAFF: 4,
                STUDENTSTAFF: 5,
                STUDENT: 6,
                ORGANIZATION: 7,
            }
        },
        methods:{
            getImage(img) {
                return img? img: this.dummyImage;
            },
            onPageChange(val) {
                this.url = this.baseUrl + '&page=' + val;
            },
            sortIcon(id = false, fn = false, mn = false, ln = false) {
                this.isIdSort = id;
                this.isFnSort = fn;
                this.isMnSort = mn;
                this.isLnSort = ln;
            },
            sortBy(sortKey) {
                this.$emit('onSort');
                switch(sortKey) {
                    case "Id":
                        this.url = this.baseUrl + '&sort_by=student_id';  
                        this.sortIcon(!this.isIdSort);
                    break;  
                    case "fn":
                        this.url = this.baseUrl + '&sort_by=first_name';
                        this.sortIcon(false, !this.isFnSort, false, false);
                    break;  
                    case "mn":
                        this.url = this.baseUrl + '&sort_by=middle_name';  
                        this.sortIcon(false, false, !this.isMnSort, false);
                    break;  
                    case "ln":
                        this.url = this.baseUrl + '&sort_by=last_name';  
                        this.sortIcon(false, false, false, !this.isLnSort);
                    break;   
                    default:
                    return;
                }
                if(this.ascending == 'asc'){
                   // this.cases = this.listing.slice().reverse();
                    this.ascending = 'desc';
                    this.url = this.url + '&sort_order='+this.ascending;
                }
                else{
                    //this.cases = this.listing.slice().sort();
                    this.ascending = 'asc';
                    this.url = this.url + '&sort_order='+this.ascending;
                }

                if(this.is_bookmarked == 1 || this.is_bookmarked == 2) {
                    this.url = this.url + '&is_bookmarked=' + this.is_bookmarked;
                }
            },

            sort() {
                this.cases = this.listing;
            },
            formSubmitted(response){
                this.submit = false;
                this.force = true;
            },
            formError(response){
                this.submit = false;
                this.force = true;

            },
            getResponse(response){
                this.submit = false;
                this.force = false;
                this.listing = response.data;
                this.pagination = response.pagination;
                this.currentPage = this.pagination? this.pagination.current: 1;
                this.noRecordFound = response.noRecordFound;
                this.$emit('reset');
                if(response.data.length) {
                    this.hidePagination = false;
                }
            },
            onBookmarked(list, index) {
                var self = this;
                let url = "api/user/" + list.id;
                this.loading = true;
                var data = {
                        "is_bookmarked": list.is_bookmarked? 0 : 1
                    };
                self.$http.put(url, data).then(response => {
                    response = response.data.data;
                    // if(this.is_bookmarked == 1 && response.is_bookmarked == 0) {
                    //     self.cases = self.cases.splice(index, 1);
                    // }else {
                    // }
                    self.$set(self.cases, index, response);
                    self.successMessage = response.message;
                }).catch(error => {
                    error = error.response.data;
                    let errors = error.errors;
                    this.loading = false;
                });
            },
            onChangeRole(list, index) {
                if(list.role_id != this.STUDENT) {
                    this.$emit('user-convert', true, 'studentstaff', list);
                }else {
                    this.$emit('user-convert', true, 'student', list);
                }
            }
        },
        mounted(){
            this.user = JSON.parse(this.$store.getters.getAuthUser);
            this.caseInvolvementThreshold = this.$store.getters.getDisplaySetting.case_involvement_threshold;
            this.sort();
        },
        watch: {
            listing(val) {
                this.listing = val;
                this.cases = val;
            },
            is_bookmarked(val) {
                var url = this.baseUrl;
                this.sortIcon();
                if(val == 1 || val == 2) {
                    url = url + '&is_bookmarked=' + this.is_bookmarked;
                }
                if(typeof(this.keyword) != "undefined" && this.keyword) {
                    url = url + '&keyword=' + this.keyword;
                }
                if(typeof(this.filterBy) != "undefined" && this.filterBy) {
                    url = url + '&filter_by=' + this.filterBy;
                }
                this.hidePagination = true;
                this.url = url;
            },
            keyword(val) {
                var url = this.baseUrl;
                if(val) {
                    this.sortIcon();
                    url = url + '&keyword=' + val;
                    if(typeof(this.is_bookmarked) != "undefined" && (this.is_bookmarked == 1 || this.is_bookmarked == 2) ) {
                        url = url + '&is_bookmarked=' + this.is_bookmarked;
                    }
                    if(typeof(this.filterBy) != "undefined" && this.filterBy) {
                        url = url + '&filter_by=' + this.filterBy;
                    }
                    this.hidePagination = true;
                    this.url = url;
                }else if(this.isfilterKeyword != 'sort'){
                    this.hidePagination = true;
                    if(typeof(this.is_bookmarked) != "undefined" && (this.is_bookmarked == 1 || this.is_bookmarked == 2) ) {
                        url = url + '&is_bookmarked=' + this.is_bookmarked;
                    }
                    if(typeof(this.filterBy) != "undefined" && this.filterBy) {
                        url = url + '&filter_by=' + this.filterBy;
                    }
                    this.url = url;
                }
            },
            filterBy(val) {
                if(val) {
                    var url = this.baseUrl;
                    this.sortIcon();
                    url = url + '&filter_by=' + val;
                    if(typeof(this.is_bookmarked) != "undefined" && (this.is_bookmarked == 1 || this.is_bookmarked == 2)) {
                        url = url + '&is_bookmarked=' + this.is_bookmarked;
                    }
                    if(typeof(this.keyword) != "undefined" && this.keyword) {
                        url = url + '&keyword=' + this.keyword;
                    }
                    this.hidePagination = true;
                    this.url = url;
                }
            },
            refresh(val) {
                this.force = val;
            }
        }
    }
</script>
