<template>
    <div class="case-body">

        <div class="chart-container mobile-scroll-charts full-border">
        
            <no-record-found v-if="noRecordFound"></no-record-found>

            <div 
                v-show="!noRecordFound" 
                id="incident-type-chart" 
                style="width: 100%; height: 350px;"
                class="scroll-graph">    
            </div>
        
        </div>

    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
    	props : [
        'items',
        'noRecordFound'
        ],
        computed:{
            ...mapGetters('reports', {
                colorCodes: "getColors",
            }),

        },
        methods : {
            initializeChart(){
            	let chartData = this.items;

                for (var i = chartData.length - 1; i >= 0; i--) {
                    chartData[i].color = this.colorCodes[i];
                }

                AmCharts.makeChart("incident-type-chart",
                {
                    "type": "serial",
                    "categoryField": "name",
                    "rotate": true,
                    "colors": [
                         "#8FD0E1",
                         "#C0DA6D",
                         "#A5B3F4",
                         "#C570C8",
                         "#E2B566",
                         "#C8BAAC",
                         "#F9CFF2",
                         "#DAE0F2",
                         "#C4E4A4",
                         "#E7E7CB",
                         "#CFB693",
                         "#F0F3BD",
                         "#EFC7C2",
                         "#FFB4A2",
                         "#B8BEDD",
                         "#FFCAD4",
                         "#D8E2DC", 
                         "#9CAFB7",
                         "#CDEAC0",
                         "#EDEEC9", 
                         "#FFA5AB",
                         "#D7B9D5", 
                         "#C4FFF9", 
                         "#BFD8BD",
                         "#BAF2BF",
                         "#EFC3E6",
                         "#94D0C7",
                         "#FF9999",
                         "#7AE7C7",
                         "#E5B25D",
                         "#CACAAA",
                         "#F3B3A6",
                    ],
                    "startDuration": 1,
                    "color": "#1A1A1A",
                    "fontFamily": "Roboto-Regular",
                    "fontSize": 14,
                    "categoryAxis": {
                        "gridPosition": "start",
                        "autoWrap": true,
                    },
                    "trendLines": [],
                    "graphs": [
                    {
                        "accessibleLabel": "[[name]]: [[value]]",
                        "balloonText": "[[name]]: [[value]]",
                        "fillAlphas": 1,
                        "lineColorField": "color",
                        "fillColorsField": "color",
                        "id": "AmGraph-1",
                        "title": "graph 1",
                        "type": "column",
                        "valueField": "total_value"
                    }
                    ],
                    "guides": [],
                    "valueAxes": [
                    {
                        "id": "ValueAxis-1",
                        "title": "",
                        'integersOnly':true

                    }
                    ],
                    "allLabels": [],
                    "balloon": {
                        "borderAlpha": 0,
                        "color": "#1A1A1A",
                        "fillAlpha": 1,
                        "fontSize":14
                    },
                    "titles": [
                    {
                        "bold": false,
                        "id": "Title-1",
                        "size": 0,
                        "text": ""
                    }
                    ],
                    "dataProvider": chartData
                }
                );
            }
        },
        data () {
            return {
            }
        },
        mounted (){
        },
        watch: {
        	items(value){
        		this.initializeChart();
        	},
            noRecordFound(value){
            
            }
        }
    }
</script>