<template>
    <div class="highlight_box">
        <h4>{{ record.key | overAllStatsKeyValue }}</h4>
        <h2>{{ record.value }}</h2>
        
        <common-methods :url="currentSituationUrl" @get-response="getResponse"
        ></common-methods>
    </div>
</template>
<script>
    export default{
        data(){
            return {
                record : {}
            }
        },
        props : [
        'currentUrl',
        ],
        computed : {
            currentSituationUrl(){
                return this.currentUrl;
            },
        },
        methods : {
            getResponse(response){
                if(Object.keys(response.data).length){
                    this.record = response.data;
                }
            }
        }
    }
</script>