<template>
    <div class="case-body">

        <no-record-found v-show="noRecordFound"></no-record-found>

        <div class="chart-container" v-show="!noRecordFound">
            <div id="student-type-chart" style="width: 100%; height: 366px;"></div>
        </div>

    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        props : [
        'items',
        'noRecordFound'
        ],
        computed: {
            ...mapGetters('reports', {
                colorCodes: "getColors",
            }),
        },
        methods : {
            initializeChart(){

            	let chartData = this.items;

                for (var i = chartData.length - 1; i >= 0; i--) {
                    chartData[i].label_text = chartData[i].avg_duration <= 1 ? " Day" : " Days";
                    chartData[i].color = this.colorCodes[i];
                }

                AmCharts.makeChart("student-type-chart",
                {
                    "type": "funnel",
                    "balloonText": "[[name]]:<br><b>[[avaliableCases]] Cases Available</b>",
                    "labelText": "[[name]]: [[avg_duration]]" + "[[label_text]]",
                    "neckHeight": "40%",
                    "neckWidth": "40%",
                    "colors": [
                    "#8fd1e1",
                    "#c0da6c",
                    "#e49977",
                    "#afe5f9",
                    "#c56fc8",
                    "#e2b666",
                    "#a4c1c4",
                    "#c8baab",
                    "#d7ce64",
                    "#a6b3f4"
                    ],
                    "labelColorField": "#1A1A1A",
                    "labelTickColor": "#1A1A1A",
                    "marginBottom": 0,
                    "marginTop": 0,
                    "titleField": "name",
                    "valueField": "avg_duration",
                    "color": "#1A1A1A",
                    "fontFamily": "Roboto-Regular",
                    "fontSize": 14,
                    "allLabels": [],
                    "balloon": {
                        "borderAlpha": 0,
                        "color": "#1A1A1A",
                        "fillAlpha": 1,
                        "fontSize":14
                    },
                    "titles": [],
                    "dataProvider": chartData
                }
                );
            }
        },
        data () {
            return {
               
            }
        },
        mounted (){
            this.initializeChart();
        },
        watch: {
        	items(value){
        		this.initializeChart();
        	},
            noRecordFound(){
                
            }
        }
    }
</script>