<template>
	<div class="table table-lite top-left-radius pl-thead-0 incidentReportTable stage-table-widget">

		<table class="table mb-0" v-if="!noRecordFound">
			<thead class="bg-light">
				<tr class="thead-with-icon">
					
					<th scope="col">
						{{ widget_title.columnTitle }}
					</th>

					<th scope="col">
						{{ widget_title.valueTitleFirst }}
					</th>
					
					<th scope="col">
						{{ widget_title.valueTitleSecond }}
					</th>

				</tr>
			</thead>
			<tbody class="scrollable stage-tbl-body" id="style-2">
				<tr v-for="(item, index) in items"
				:key="index">
				<td class="color-pallet">
					<div class="color-ico-pallet"
					v-bind:style="{'background-color' : ''+ colorCodes[index] +''}">
				</div>
				<span> {{ item.name }} </span>
			</td>
			<td>
				<span> {{ item.avaliableCases ? item.avaliableCases : 0}} </span>
			</td>
			<td>
				<span>{{ item.avg_duration | avgDurationForPerStageReports }}</span>
			</td>
		</tr>
	</tbody>
</table>
</div>
</template>

<script>
	import {mapGetters} from "vuex";

	export default{
		props : [
		'items',
		'widget_title',
		'noRecordFound'
		],
		computed : {
			...mapGetters('reports', {
				colorCodes: "getColors",
			}),
		},
		methods : {
		},
		data(){
			return {
			}
		},
		watch: {
			items(){

			},
			widget_title(){

			},
			noRecordFound(value){
			
			}
		}
	}
</script>