<template>
	<div class="table table-lite top-left-radius pl-thead-0 incidentReportTable">

        <no-record-found v-if="noRecordFound"></no-record-found>
        
		<table class="table mb-0" v-if="!noRecordFound">
			<thead class="bg-light">
				<tr class="thead-with-icon">
					<th scope="col">
                       {{ widget_title.columnTitle }}
                   </th>
                   <th scope="col">
                       {{ widget_title.valueTitle }}
                   </th>
               </tr>
           </thead>
           <tbody>
             <tr v-for="(item, index) in items"
             :key="index">
             <td class="color-pallet">
                <div class="color-ico-pallet"
                v-bind:style="{'background-color' : ''+ colorCodes[index] +''}">
            </div>
            <span> {{ item.name }} </span>
        </td>
        <td>
         <span> {{ item.total_value }} </span>
     </td>
 </tr>
</tbody>
</table>

</div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default{
        props : [
        'items',
        'widget_title',
        'noRecordFound'
        ],
        computed : {
            ...mapGetters('reports', {
                colorCodes: "getColors",
            }),
        },
        methods : {
        },
        data(){
            return {
            }
        },
        watch: {
            items(){

            },
            widget_title(){

            }
        }
    }
</script>