<template>


    <div>

        <common-methods 
        
        @form-submitted="formSubmitted"
        @get-response="getResponse"
        @form-error="formError"

        :url="url"
        :submitUrl="submitUrl"
        :submitType="'post'"
        :formData="formData"
        :submit="submit"
        :direction="'top'"
        :force="force"
        :infiniteLoad="false"
        :hideLoader="false"
        >
            
        </common-methods>


    </div> 



</template>

<script>
    export default{
        data(){
            return {
                submit : false,
                url : 'api/display-setting',
                formData : {

                },
                submitUrl : 'api/some-url',
                force : false,

            }
        },
        methods :{
            formSubmitted(response){
                this.submit = false;
                this.force = true;
            },
            formError(response){
                this.submit = false;
                this.force = true;

            },
            getResponse(response){
                this.submit = false;
                this.force = true;
            }
        }
    }


</script>  