<template>
    <div class="not-found">
        <div class="not-found-panel">
            <h1>{{ heading }}</h1>
            <h2>{{ description }}</h2>
            <h3>{{ description2 }}</h3>
            <router-link
                :to="{ name: 'conduct-incidents' }"
                class="btn btn-primary">
                {{ buttonText }}
            </router-link>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                heading: '404.',
                description: "Oops, sorry we can't find that page! ",
                description2: "Either something went wrong or the page doesn't exist anymore",
                buttonText: 'Back To Home',
            }
        }
    }
</script>
