<template>



    <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="case-top-head">
            <div class="case-heading">
                <h4>Cases By Clery Act Info</h4>
            </div>
            <div class="case-filter res-m-t-20">
            </div>
        </div>
        <div class="case-body">

            <pie-chart
            :chartId="'piechart-container'"
            :chartType="'pie'"
            :url="cleryActListUrl"
            :start_date="start_date"
            :end_date="end_date"
            class="mb-5"
            ></pie-chart>


            <table-widget 

            :widget_title="tableWidgetHeading"
            :url="cleryActListUrl"
            :start_date="start_date"
            :end_date="end_date"
            :compare="compare"

            >
        </table-widget>
    </div>
</div>



</template>

<script>

    import Selectize from 'vue2-selectize';
    export default{
        components: {
            Selectize,
            'table-widget' : require('../widgets-and-charts/TableWidget'),
            'pie-chart' : require('../widgets-and-charts/PieChart')
        },
        props : [
        'start_date',
        'end_date',
        'compare'
        ],
        computed : {
            cleryActListUrl(){
                return this.url;
            }
        },
        data(){
            return{
                url : 'api/report-stat?key=clery_act_custom_fields',
                tableWidgetHeading : {
                    columnTitle: 'Clery Act Category',
                    valueTitle: 'Total Incidents' ,
                },
            }
        },
        watch : {
            start_date(){

            },
            end_date(){

            },
            compare(){

            }
        }
    }
</script>