<template>

    <div class="row other-reports-fields">

        <div class="col-md-12">
            <div class="case-top-head m-b-0">
                <div class="case-heading">
                    <h4>Report by Other Fields</h4>
                </div>
                <div class="case-filter">
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12">
            <div class="case-body">
                <div class="caseTableBlock">

                    <div class="table table-lite top-left-radius pl-thead-0 simpleBlockTable m-t-30">
                        <table class="table mb-0 ">

                            <tbody>
                                <tr v-for="(list, index) in violationsList"
                                :key="index">
                                <td>
                                    <span>
                                        <a
                                        href="javascript:void(0);" role="button"
                                        @click.prevent="switchFieldType(list)"
                                        :class="{ 'active': otherFieldType && otherFieldType.key === list.key }"
                                        >
                                        {{ list.name }}
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>                                        
</div>


<div class="col-lg-6 col-md-12 col-sm-12 mobile-scroll-charts full-border">

    <column-chart 
    :records="records"
    :noRecordFound="noRecordFound"
    class="scroll-graph"
    >
</column-chart>


<common-methods
@get-response="getResponse"
:url="requestUrl"
:showLoadMore="false"
:hidePagination="true"
>
</common-methods>



</div>

<div class="col-lg-4 col-md-12 col-sm-12">
    <div class="case-body">

        <table-widget 
        :widget_title="tableWidgetHeading"
        :records="records"
        :noRecordFoundValue="noRecordFound"
        :compare="compare"
        >
    </table-widget>

    <a v-if="pagination && pagination.total > 6" href="javascript:void(0);"
        class="view_all text-center"
        @click.prevent="showModal = true;">
        View all
    </a>




</div>
</div>


<common-methods
:url="'api/violations-list'"
@get-response="getViolationsResponse"
:hideLoader="true"
></common-methods> 


<view-report-listing-popup
:url="requestUrl"
:showModalProp="showModal"
@hide-modal-value="showModal = false;"
:records="records"
:popupTitle="tableWidgetHeading"
:compare="compare"
>
</view-report-listing-popup>


</div>


</template>

<script>
    export default{
        components : {
            'table-widget' : require('../widgets-and-charts/TableWidget'),
            'column-chart' : require('../widgets-and-charts/ColumnChart')

        },
        props : [
        'start_date',
        'end_date',
        'compare'
        ],
        computed : {
            otherFieldTypeValue(){
            },
            requestUrl(){
                if(this.start_date && this.end_date && this.otherFieldType){
                    this.tableWidgetHeading.columnTitle = this.otherFieldType.name

                    let newStartDate = this.start_date;  
                    let newEndDate = this.end_date;  

                    let groupBy = this.group_by;
                    return this.url + '?method=generalTable&key='+this.otherFieldType.key+'&start_date='+newStartDate+'&end_date='+newEndDate+'&compare='+this.compare; 
                }
            },


        },
        methods : {
            switchFieldType(violation){
                this.otherFieldType = violation;
            },
            getViolationsResponse(response){

                if(response.data.length){
                    this.violationsList = response.data;
                    this.otherFieldType = response.data[0] ? response.data[0] : '';  

                }

            },
            getResponse(response){
                this.records = response.data;
                this.noRecordFound = response.noRecordFound;
                this.pagination = response.pagination;
            }

        },
        data(){
            return {
                showModal : false,
                records : [],
                noRecordFound : false,
                otherFieldType : '',
                url : 'api/report-stat',
                tableWidgetHeading : {
                    columnTitle: 'User Group',
                    valueTitle: 'Total Incidents' ,
                },

                violationsList: [],
                pagination : []
            }
        },
        watch : {
            compare(){

            }
        }
    }
</script>