<template>


    <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="tablet-divider">
            <div class="case-top-head">
                <div class="case-heading">
                    <h4>Cases By Location</h4>
                </div>
                <div class="case-filter">
                    <div class="filter-tabs">

                        <div class="btn-group mob-btn-group" data-toggle="buttons">
                            <label @click.prevent="groupBy = 'locations'; tableWidgetHeading.columnTitle = 'Locations'" :class="['btn', 'btn-default', groupBy == 'locations' ? 'active' : '']">
                                <input type="radio" autocomplete="off" name="groupBy" value="locations"> Locations
                            </label>
                            <label @click.prevent="groupBy = 'buildings'; tableWidgetHeading.columnTitle = 'Buildings'" :class="['btn', 'btn-default', groupBy == 'buildings' ? 'active' : '']">
                                <input type="radio" checked="" autocomplete="off" name="groupBy" value="buildings">Buildings
                            </label>
                            
                        </div>

                        
                    </div>
                </div>
            </div>
            <div class="case-body">


                <pie-chart
                :chartId="'caseLocationChart'"
                :chartType="'pie'"
                :url="locationWiseListUrl"
                :start_date="start_date"
                :end_date="end_date"
                class="mb-5"
                ></pie-chart>


                <table-widget 

                :widget_title="tableWidgetHeading"
                :url="locationWiseListUrl"
                :start_date="start_date"
                :end_date="end_date"
                :compare="compare"
                
                >
                </table-widget>



        </div>
    </div>
</div>


</template>

<script>
    export default{
        components : {
            'table-widget' : require('../widgets-and-charts/TableWidget'),
            'pie-chart' : require('../widgets-and-charts/PieChart')

        },
        props : [
        'start_date',
        'end_date',
        'compare'
        ],

        computed : {
            locationWiseListUrl(){
                return this.url +  '&key=' + this.groupBy;
            }
        },
        data(){
            return{
                groupBy : 'locations',
                url : 'api/report-stat?method=generalTable',
                tableWidgetHeading : {
                    columnTitle: 'Locations',
                    valueTitle: 'Total Incidents' ,
                }
            }
        },
        watch : {
            start_date(){

            },
            end_date(){

            },
            compare(){

            }
        }
    }
</script>