<template>


    <div class="case-timeline">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-12">
                <h4>Cases Over Time</h4>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 reporttimeline">



                <div class="activities-section">
                    <div class="activitylist">
                        <ul class="convert-tabs convert-tabs-desktop"
                        role="tablist"
                        @click="dropDownEvent">
                        <li
                        v-for="(activity, index) in activityList"
                        :key="index"
                        :class="{ 'active': activitySelected === activity.key }" role="presentation">
                        <a href="javascript:void(0);"
                        @click="activitySelected = activity.key;" 
                        v-show="tabsOptions"
                        role="tab"
                        >
                        {{ activity.name }}
                    </a>
                </li>
            </ul>
        </div>

        
    </div>

</div>
<div class="col-lg-3 col-md-12 col-sm-12 text-right months-years-tabs">
    <div class="filter-tabs reportsection">
        <div class="btn-group mob-btn-group" data-toggle="buttons">
            <label class="text-label">
                Group by:
            </label>
            <label @click.prevent="groupBy = 'months'" :class="['btn', 'btn-default', groupBy == 'months' ? 'active' : '']">
                <input type="radio" checked="" autocomplete="off" name="groupby" value="months">Months
            </label>
            <label @click.prevent="groupBy = 'years'" :class="['btn', 'btn-default', groupBy == 'years' ? 'active' : '']">
                <input type="radio" autocomplete="off" name="groupby" value="years"> Years
            </label>
        </div>
    </div>
</div>
</div>
<div class="case-timeline-content m-t-20">

    <div
    class="case-tab-content">
    <div class="row">

        <div class="col-lg-8 col-md-12">

            <bar-chart 
            
            :widget_title="barWidgetTitle"
            :url="requestBarChartUrl"
            :start_date="start_date"
            :end_date="end_date"

            ></bar-chart>


        </div>

        <div class="col-lg-4 col-md-12">

            <table-widget 
            :widget_title="tableWidgetHeading"
            :url="incidentTypeListUrl"
            :start_date="start_date"
            :end_date="end_date"
            :compare="compare"
            >
        </table-widget>

    </div>
</div>
</div>
</div>
<hr>

</div>



</template>


<script>
    export default{
        props : [
        'start_date',
        'end_date',
        'compare'
        ],
        components : {
            'bar-chart' : require('../widgets-and-charts/BarChart'),
            'table-widget' : require('../widgets-and-charts/TableWidget')
        },
        data(){
            return {
                tableWidgetHeading : {
                   columnTitle: 'Top Incident Types',
                   valueTitle: 'Total Incidents' ,
               },
               barWidgetTitle : {
                   columnTitle: 'Incident Type',
                   valueTitle: 'Total Incidents' ,
               },
               incidentTypeListUrl : 'api/report-stat?key=incident_types',
               barChartUrl : 'api/report-stat?key=incident_types&chart_type=bar',

               activityList:[
               { 
                key : 'ir_reported',
                name: 'Incidents Reported'
            },
            { 
                key : 'convert_to_case',
                name: 'IR Converted to Case'
            },
            {

                key : 'discard_case',
                name: 'Cases Discarded'
            },
            { 
                key : 'close_case',
                name: 'Cases Closed'
            },
            ],

            activitySelected: 'ir_reported',
            tabsOptions:false ,
            groupBy : 'months'
        }
    },
    computed : {
        requestIncidentUrl(){
            return this.incidentTypeListUrl+'&case_type='+this.activitySelected;
        },
        requestBarChartUrl(){


            return this.barChartUrl + '&group_by='+this.groupBy+'&case_type='+this.activitySelected;


        }
    },
    methods : {
        dropDownEvent(){
            this.tabsOptions = !this.tabsOptions;
        },
    },
    watch : {
        start_date(){

        },
        end_date(){

        },
        compare(){

        }
    }
}
</script>