<template>


    <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="tablet-divider">
            <div class="case-top-head">
                <div class="case-heading">
                    <h4>Cases By User Groups</h4>
                </div>
                <div class="case-filter">
                </div>
            </div>
            <div class="case-body">


                <pie-chart
                :chartId="'userGroupChart'"
                :chartType="'pie'"
                :url="userGroupListUrl"
                :start_date="start_date"
                :end_date="end_date"
                class="mb-5"
                ></pie-chart>



                <table-widget 

                :widget_title="tableWidgetHeading"
                :url="userGroupListUrl"
                :start_date="start_date"
                :end_date="end_date"
                :compare="compare"
                
                >
            </table-widget>
            
        </div>
    </div>
</div>



</template>

<script>
    export default{
        components : {
            'table-widget' : require('../widgets-and-charts/TableWidget'),
            'pie-chart' : require('../widgets-and-charts/PieChart')

        },
        props : [
        'start_date',
        'end_date',
        'compare'
        ],

        computed : {
            userGroupListUrl(){
                return this.url;
            }
        },
        
        data(){
            return{
                url : 'api/report-stat?key=user_group',
                tableWidgetHeading : {
                    columnTitle: 'User Group',
                    valueTitle: 'Total Incidents' ,
                },
                
                caseByUserGroup: [
                { title: 'User Group'},
                { title: 'Total Incidents' },
                ],
                caseByUserGroupList: [
                {
                    colorCode: '#8FD0E1',
                    types: "Anonymous",
                    totalIncident:'22 vs 15 (10.2% less)',
                },
                {
                    colorCode: '#C0DA6D',
                    types: "Students",
                    totalIncident:'31 vs 18 (10.2% less)',
                },
                {
                    colorCode: '#E49977',
                    types: "Employees",
                    totalIncident:'19 vs 9 (10.2% less)',
                },
                ]
            }
        },
        watch : {
            start_date(){

            },
            end_date(){

            },
            compare(){

            }
        }
    }
</script>