<template>


    <div class="report-panel-highlights">
        <div class="owl-carousel owl-theme">


            <kpi-widget
            :compare="compare"
            :start_date="start_date"
            :end_date="end_date"
            :widgetType="widgetType" 
            :url="'api/report-stat?key='+widgetType"
            v-for="(widgetType, index) in widgetTypes"
            :key="index"
            >

        </kpi-widget>  

    </div>



</div>



</template>

<script>
    export default{
        props : [
        'start_date',
        'end_date',
        'compare'
        ],
        data(){
            return {
                widgetTypes : [
                'ir_reported',
                'convert_to_case',
                'discard_case',
                'close_case',

                'average_duration'
                ]
            }
        },
        components : {
            'kpi-widget' : require('../widgets-and-charts/KpiWidget.vue')
        },
        mounted (){
            this.initializeOwlCarousel();
        },
        computed : {
        },
        watch : {
            start_date(value){
            },
            end_date(value){
            }
        },
        methods : {
            initializeOwlCarousel(){
                require('jquery');
                require('owl.carousel');
                $(document).ready(function(){
                  $(".owl-carousel").owlCarousel({

                    margin:30,
                    items : 5,
                    responsiveClass:true,
                    responsive:{
                        0:{
                            items:1,
                            loop:true,
                            autoplay:true,
                            autoplayTimeout:3000,
                            nav:true,
                        },
                        600:{
                            items:2,
                            loop:true,
                            autoplay:true,
                            autoplayTimeout:3000,
                            nav:true,
                        },
                        1000:{
                            items:3,
                            loop:true,
                            autoplay:true,
                            autoplayTimeout:3000,
                            nav:true,
                        },
                        1366:{
                            items:5
                        },
                        1600:{
                            items:5
                        }
                    }
                });
              });
            }
        }

    }

</script>