<template>
    <div class="router-section-view">
        <div class="report-top">
            <div class="report-heading overall-stats-head">
                <h3>{{ $route.meta.title }}</h3>
            </div>
            <div class="filter-list">
                <div class="form-group">
                    <label for="overall_start_date">Start Date</label>
                    <div class="icon-right">
                        <i class="icon-calendar"></i>
                        <d-datepicker 
                        v-model="formData.start_date"
                        :disabled-dates="disabledDates"
                        placeholder="MM / DD / YYYY"
                        class="with-icon datepicker-icon"
                        id="overall_start_date"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="overall_end_date">End Date</label>
                    <div class="icon-right">
                        <i class="icon-calendar"></i>
                        <d-datepicker 
                        v-model="formData.end_date"
                        :disabled-dates="disabledDates"
                        placeholder="MM / DD / YYYY"
                        class="with-icon datepicker-icon" 
                        id="overall_end_date"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <d-btn @click.prevent="validateBeforeSubmit()" class="btn-mobile">
                        <span>Search</span>
                    </d-btn>
                </div>
                <div class="form-group">
                    <d-checkbox
                    v-model="compare"
                    name="previous_period"
                    :value="true"
                    role="checkbox"
                    aria-checked="true"
                    @change="checkDateValue(compare)"
                    >
                    Compare with previous period
                </d-checkbox>
            </div>
        </div>

        <d-alert v-if="errorMessage" class="clearfix" :theme="updatePopupThemeValue" show>
            {{ errorMessage }}
        </d-alert>

    </div>
    <div class="report-body-panel">

        <general-statistics 
        :start_date="startDateValue"
        :end_date="endDateValue"
        :compare="compareValue"
        ></general-statistics>

        <case-over-time 
        :start_date="startDateValue"
        :end_date="endDateValue"
        :compare="compareValue"
        ></case-over-time>



        <div class="multiple-case-reports">
            <div class="row">

                <case-by-location 
                :start_date="startDateValue"
                :end_date="endDateValue"
                :compare="compareValue"
                ></case-by-location>      

                <case-by-user-group 
                :start_date="startDateValue"
                :end_date="endDateValue"
                :compare="compareValue"
                ></case-by-user-group>

                <case-by-clery-act 
                :start_date="startDateValue"
                :end_date="endDateValue"
                :compare="compareValue"
                ></case-by-clery-act>

            </div>
        </div>

        <hr>

        <div class="multiple-case-reports m-t-40">

            <case-by-other-fields 
            :start_date="startDateValue"
            :end_date="endDateValue"
            :compare="compareValue"
            ></case-by-other-fields>

        </div>



    </div>
</div>
</template>

<script>
    import VueTimepicker from 'vue2-timepicker';
    import Selectize from 'vue2-selectize';
    export default {
        components: {
            VueTimepicker,
            Selectize,
            'general-statistics' : require('./GeneralStatistics'),
            'case-over-time' : require('./CaseOverTime'),
            'case-by-location' : require('./CaseByLocation'),
            'case-by-user-group' : require('./CaseByUserGroup'),
            'case-by-clery-act' : require('./CaseByCleryAct'),
            'case-by-other-fields' : require('./CaseByOtherFields')
        },
        computed: {
            startDateValue(){
                return this.startDateRawValue;
            },

            endDateValue(){
                return this.endDateRawValue;
            },

            updatePopupThemeValue() {
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            },
        },
        data () {
            return {
                startDateRawValue: '',
                endDateRawValue: '',
                compare : false,
                compareValue: false,
                formData : {
                    start_date : new Date().setDate(new Date().getDate()-7),
                    end_date : new Date(),
                    previous_period : false
                },
                disabledDates: {
                    from: new Date(Date.now())
                },
                dateFormat: 'MMM dd yyyy',
                tabsOptions:false,
                errorMessage : '',
                successMessage : '',
            }
        },
        methods: {
            dropDownEvent(){
                this.tabsOptions = !this.tabsOptions;
            },

            validateBeforeSubmit() {
                let self = this;
                let result = true;

                if (moment(this.formData.start_date).format('YYYY-MM-DD') > moment(this.formData.end_date).format('YYYY-MM-DD')) {

                    self.errorMessage = 'Start date should not be less than end date';

                    setTimeout(function(){
                        self.errorMessage = '';
                        self.errorBag.clear();
                    },3000);

                    result = false;
                    return;

                }else{
                    result = true;
                }

                if (result) {
                    this.startDateRawValue = moment(this.formData.start_date).format('MM/DD/YYYY');
                    this.endDateRawValue = moment(this.formData.end_date).add(1, 'days').format('MM/DD/YYYY');
                    return;
                }
            },

            checkDateValue(value){
                let self = this;
                let result = true;

                if (moment(this.formData.start_date).format('YYYY-MM-DD') > moment(this.formData.end_date).format('YYYY-MM-DD')) {

                    self.errorMessage = 'Start date should not be less than end date';

                    setTimeout(function(){
                        self.errorMessage = '';
                        self.errorBag.clear();
                    },3000);

                    result = false;
                    return;

                }else{
                    result = true;
                }

                if (result) {
                    this.startDateRawValue = moment(this.formData.start_date).format('MM/DD/YYYY');
                    this.endDateRawValue = moment(this.formData.end_date).format('MM/DD/YYYY');
                    this.compareValue = !this.compare;
                    return;
                }
            },
        },
        mounted(){
            this.startDateRawValue = moment(this.formData.start_date).format('MM/DD/YYYY');
            this.endDateRawValue = moment(this.formData.end_date).add(1, 'days').format('MM/DD/YYYY');
        },        
        created(){
            let moment = require('moment');
        }
    }
</script>