<template>
  <div class="activitylist">
    <ul class="convert-tabs convert-tabs-desktop" @click="dropDownEvent" role="tablist">
      <li
      v-for="(activity, index) in activityList"
      :key="index"
      role="presentation"
      :class="{ 'active': activitySelected === activity.value }"
      v-if="showIfReportedBy(activity.value) || ($route.meta.currentPortal == 'student' && activity.issue == true) || $route.meta.currentPortal != 'student'">
      <a 
      href="javascript:void(0);"
      @click="activitySelected = activity.value;
      $emit('changed-activity-tabs' , activity.value)"
      :class="[activity.disabledState]"
      v-show="tabsOptions"
      role="tab"
      >
      {{ activity.name }}
    </a>
  </li>
</ul>
</div>
</template>

<script>
import { EventBus } from '../../../event-bus.js';
export default {
  data() {
    return {
      activitySelected: 'all',
      tabsOptions:false,
      activityList:[
      { 
        name: 'All Activities',
        value : 'all',
        issue: true,

      },
      { 
        name: 'Case Details',
        value : 'details',
        issue: false
      },
      { 
        name: 'Notes',
        value : 'notes',
        issue: true
      },
      { 
        name: 'Files',
        value : 'attachment',
        issue: true
      },
      { 
        name: 'Emails',
        value : 'email',
        issue: true
      },
      {
        name: 'Meetings',
        value : 'meeting',
        issue: true
      },
      {
        name: 'Checklist',
        value : 'checklist',
        issue: false
      },
      {
        name: 'Sanction',
        value : 'sanction',
        issue: true
      },
      {
        name: 'Appeal',
        value : 'appeal',
        issue: true
      },
      {
        name: 'Log',
        value : 'case_logs',
        issue: false
      },
      ],
    }
  },
  methods: {
    showIfReportedBy(tabValue){
      return tabValue == 'details' && this.authUser && this.incidentCase && this.incidentCase.reported_by == this.authUser.id
    },
    dropDownEvent(){
      this.tabsOptions = !this.tabsOptions;
    },
    initializeComponent(){

      EventBus.$on('activity-reload-event', tab => {
        this.activitySelected = tab;
      });

    }
  },
  computed :  {
    incidentCase(){
      return this.$store.getters.getCaseData;
    },
    authUser(){
      return JSON.parse(this.$store.getters.getAuthUser);
    }
  },
  mounted() {
    this.initializeComponent();
  },
  watch : {
    $route(){
      this.initializeComponent();
    }
  }
}
</script>