<template>
    <div class="case-detail-wrapper">

        <case-uploads></case-uploads>
        
        <case-activities></case-activities>
        
        <email-preview-popup
            :showModalProp="emailPreviewPopup"
            @hide-modal-value="closeAllPopup">
        </email-preview-popup>
    
    </div>
</template>
<script>
export default {
    data () {
        return {
            emailPreviewPopup: false,
        }
    },
    methods: {
        closeAllPopup(){
            this.emailPreviewPopup = false;
        }
    }
}        
</script>