<template>
    <div class="activities-section">

        <div class="activitylist">
            <activity-tabs @changed-activity-tabs="switchTabsContent"></activity-tabs>
        </div>

        <div class="activitycontent">
            <no-record-found v-if="noRecordFound && activitySelected !== 'meeting'"></no-record-found>

            <meeting-schedule 
                v-if="activitySelected == 'meeting'" :activityLog="meetingData"> 
            </meeting-schedule>
            
            <div v-for="(activityLog, index) in activityLogs" :key="index">

                <logs-activity v-if="authUser && (authUser.role_id == 1 || authUser.role_id == 2 || authUser.role_id == 3) && (activityLog.type == 'case_logs' && activityLog.action != 'appeal') && (activitySelected == 'all' || activitySelected == 'case_logs')" :activityLog="activityLog">
                </logs-activity>

                <attached-documents v-if="activitySelected == 'attachment'" :activityLog="activityLog">
                </attached-documents>

                <plea-activity v-if="(activityLog.action == 'plea' && activityLog.type == 'case_logs' && activityLog.method != 'delete') && activitySelected == 'all'" :activityLog="activityLog">
                </plea-activity>

                <charges-activity v-if="(activityLog.action == 'charge' && activityLog.type == 'case_logs') && activitySelected == 'all'" :activityLog="activityLog">
                </charges-activity>

                <email-activity v-if="(activityLog.type == 'email') && (activitySelected == 'all' || activitySelected == 'email')" :activityLog="activityLog">
                </email-activity>

                <appeal-activity v-if="(activityLog.action == 'appeal' && activityLog.type == 'case_logs') && (activitySelected == 'all' || activitySelected == 'appeal')" :activityLog="activityLog">
                </appeal-activity>

                <sanction-activity v-if="(activityLog.action == 'completed_sanction' || activityLog.action == 'sanction' && activityLog.type == 'case_logs') && (activitySelected == 'all' || activitySelected == 'sanction')" :activityLog="activityLog">
                </sanction-activity>

                <c-notes v-if="(activityLog.type == 'notes') && (activitySelected == 'all' || activitySelected == 'notes')" :activityLog="activityLog">
                </c-notes>

                <case-detail-activity v-if="(activityLog.action == 'ir' || activityLog.action == 'case' ||activityLog.type == 'details') && (activitySelected == 'all' || activitySelected == 'details')" :activityLog="activityLog">
                </case-detail-activity>

                <checklist-activity v-if="(activityLog.type == 'checklist') && activitySelected == 'checklist'" :activityLog="activityLog">
                </checklist-activity>

                <meeting-activity v-if="(activityLog.type == 'meeting') && activitySelected == 'all'" :activityLog="activityLog">
                </meeting-activity>

                <attachment-activity v-if="(activityLog.type == 'attachment') && activitySelected == 'all'" :activityLog="activityLog">
                </attachment-activity>

            </div>

        </div>

<div class="clearfix"></div>

<!-- <common-methods
:url="requestUrl"
:infiniteLoad="true"
:showLoadMore="false"
:hidePagination="true"
:hideLoader="false"
@get-response="getResponse">
</common-methods> -->

<common-methods
:url="requestUrl"
:infiniteLoad="false"
@get-response="getResponse">
</common-methods>

<common-methods
:url="requestMeetingUrl"
:force="forceMeeting"
:hideLoader="true"
@get-response="getMeetingResponse">
</common-methods>

</div>
</template>

<script>
    import { EventBus } from '../../../event-bus.js';
    export default{
        props: ['activityDataLoading'],
        data() {
            return {
                activitySelected: 'all',
                url : 'api/activity-log?pagination=true',
                meetingUrl: 'api/case-meeting',
                activityLogs : [],
                noRecordFound : false,
                meetingData: [],
                forceMeeting: false,
                isActivityPlaceHolder: true,
            }
        },
        computed: {
            requestUrl(){
                this.activityLogs = [];
                this.noRecordFound = false;
                return this.url+'&case_id='+this.$route.params.id+'&type='+this.activitySelected;
            },
            requestMeetingUrl(){
                if(this.caseData && this.activitySelected == 'meeting'){
                this.meetingData = [];
                    var myDate = new Date().getMilliseconds();
                    return this.meetingUrl+'?case_id='+this.caseData._id+'&case_number='+this.caseData.case_number+'&time='+myDate;
                }
            },
            caseData(){
                this.pageLoader = false;
                return this.$store.getters.getCaseData ? this.$store.getters.getCaseData : '';
            },
            authUser(){
                return this.$store.getters.getAuthUser ? JSON.parse(this.$store.getters.getAuthUser) : '';
            }
        },
        methods: {
            switchTabsContent(tab){
                this.activitySelected = tab;
            },
            getResponse(response) {
                if(Object.keys(response.data).length || response.noRecordFound){
                    var activityData = response.data;
                    for (var i = 0; i < activityData.length; i++) {
                        this.activityLogs.push(activityData[i]);
                    }
                    this.noRecordFound = response.noRecordFound;
                }
            },
            getMeetingResponse(response){
                if(Object.keys(response.data).length || response.noRecordFound){
                    this.meetingData = response.data;
                    this.forceMeeting = false;
                }
            }
        },
        mounted() {
            EventBus.$on('activity-logs-unshift', data => {
                if (this.activitySelected == 'all') {
                    this.noRecordFound = false;
                    this.activityLogs.unshift(data.document);
                    this.activityLogs.unshift(data.log);
                } else if (this.activitySelected == data.tab) {
                    if(data.tab == 'meeting'){
                        this.meetingData.unshift(data.document);
                    }else{
                        this.noRecordFound = false;
                        this.activityLogs.unshift(data.document);
                    }
                } else {
                    this.activitySelected = data.tab;
                    EventBus.$emit('activity-reload-event', this.activitySelected);
                }
            });
        },
        watch: {
            meetingData(value){
                this.meetingData = value;
            }
        }
    }
</script>
