<template>
 <div class="act-detail-stage stage-block">
    <h3>Clery Act Details</h3>
    <div class="right-pos">
        <a v-if="currentCaseOtherDetails.length" @click="$emit('change-clery-act-popup', currentCaseOtherDetails, customFields)" href="javascript:void(0);" role="button">
            Change
        </a>
    </div>
    <div class="view-list">
        <div v-for="(info, index) in currentCaseOtherDetails" :key="index" class="list-item   clery-act-scroll">
            <label>
                {{ info.field.label }}
            </label>
            <p v-if="info.field.type == 'time'" class="
            modal-des"><span v-for="(i,index) in info.value">{{i}}{{(index=='hh')? ":":index=='mm'? " ": ""}}</span></p>

            <p v-else-if="info.field.type == 'checkbox' || info.field.type == 'radio'" class="modal-des clery-act-status" v-html="getFormattedCheckbox(info.value)"></p>
            <p v-else-if="info.field.type == 'dropdown'" class="modal-des clery-act-status rtl-switch">
            {{getDropDownValue(info)}}</p>
            <p v-else class="modal-des clery-act-status rtl-switch">{{info.value? info.value:"N/A"}}</p>
        </div>
        <div v-if="!currentCaseOtherDetails.length" class="related-info-msg">
            <info-message text="Currently no clery act details have been associated to this incident." class="related-case-msg"></info-message>
        </div>
        <a @click="$emit('clery-act-manage-custom-field-popup')" href="javascript:void(0);" class="link" role="button">
            + Add or update clery act fields
        </a>
    </div>

</div>
</template>


<script>
    export default {
        props: ['refreshList'],
        data () {
            return {
                otherDetailUrl:'api/cleryact-custom-field',
                caseOtherDetailUrl:'api/incident-case-clery-act',
                url:'api/incident-case/list-related-case/',
                current_user:'',
                currentCaseOtherDetails: [],
                oldRecord: [],
                record: [],
                customFields: [],
            }
        },

        computed : {
            incidentCase(){
                if(this.$store.getters.getCaseData){
                   var caseDataValue = this.$store.getters.getCaseData;
                   this.$emit('disable-cases', caseDataValue.type);
                   return caseDataValue;
               }
           },
       }, 
       methods:{
        getFormattedCheckbox(val) {
            if(!val) {
                val = [];
            }
            var checkedVal = "";
            var arr = _.map(val, function(item) {
                    if(item['isChecked']){
                      return item['value'];
                    }
                });
            arr = _.without(arr, undefined);
            if(!arr || !arr.length) {
                return "N/A";
            }
            arr = arr.join(", ");
            return arr;
        },

        getDropDownValue(info) {
            if((info.value.key > info.field.options.length -1) || (info.value.key === null || info.value.key === "")) {
                return "N/A";
            }
            return (typeof(info.value.key) == "string" && info.value.key == "")? "N/A": info.field.options[info.value.key].value;
        },
        getOtherDetails() {
            let self = this;
            let url = self.otherDetailUrl;
            this.errorBag.clear();
            this.$http.get(url).then(function(response){
                response = response.data;
                self.customFields = response.data;
                self.getCurrentCaseOtherDetails();
            }).catch(error=>{
               self.errorMessage = 'No case Found';
           });
        },
        getCurrentCaseOtherDetails() {
            let self = this;
            let url = self.caseOtherDetailUrl + '?case_id=' + this.incidentCase._id;
            this.errorBag.clear();
            self.$http.get(url).then(function(response){
                response = response.data;
                var data = response.data.length? response.data[0].clery_act_details : [];
                // self.currentCaseOtherDetails = data;
                self.makeAdditionalDetailsObj(data, 'edit', false);
                self.$emit('refreshFalse');
            }).catch(error=>{
                self.errorMessage = 'No case Found';
            });
        },

        makeAdditionalDetailsObj(data, type, isUpdate = false) {
            let self = this;
            if(type == "edit") {

                if(self.addField && !isUpdate) {
                    self.customFields = self.addField;
                }
                var details = _.map(self.customFields, function(value, key) {
                    let field = _.find(data, {'id': value._id});
                    if(value.type == "time") {
                        var val = field? field.value: {
                                hh: '00',
                                mm: '00',
                                a: 'am'
                              };
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    if(value.type == "checkbox" || value.type == "radio") {
                        var val = _.map(value.options, function(v, k){
                            return {
                                value: v.value,
                                isChecked: false
                            };
                        });
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.id,
                            type: value.type,
                            value: field? field.value: val,
                            field: value 
                        };
                    }
                    if(value.type == "dropdown") {
                        var val = field? field.value: {
                                key: "",
                                value: ""
                            };
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    if(value.type == "date") {
                        var val = typeof(field) != "undefined"? field :"";
                        if(val) {
                            val = val? val : field.field.value;
                            val = val.value? val.value : field.field.value;
                        }
                        val = val? moment.utc(val).local().format('MMM D, YYYY') :"";
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    var val = field? field.value : "";
                    if(field && field.type != value.type) {
                        val = self.getFieldDefaultValue(value.type);
                    }
                    return {
                        id: value.id,
                        type: value.type,
                        value: val,
                        field: value 
                    };
                });
                self.currentCaseOtherDetails = details;
                this.oldRecord = _.cloneDeep(data);
                this.record = data;
            }else {
                var obj = _.cloneDeep(data);
                var d = obj;
                var details = _.map(d, function(value, key) {   
                    if(value.type == "time") {
                        var val = field? field.value: {
                                hh: '00',
                                mm: '00',
                                a: 'am'
                              };
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.field._id,
                            type: value.type,
                            value: value? value.value: {
                                hh: '00',
                                mm: '00',
                                a: 'am'
                              },
                        };
                    }

                    if(value.type == "checkbox" || value.type == "radio") {
                        var val = value.value;
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.field._id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    if(value.type == "date") {
                        var val = typeof(value) != "undefined"? field :"";
                        val = val? val.value :"";
                        val = val? moment.utc(val).local().format('MMM D, YYYY') :"";
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.field._id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    var val = value.value;
                    if(field && field.type != value.type) {
                        val = self.getFieldDefaultValue(value.type);
                    }
                    var field = {
                        id: value.field._id,
                        type: value.type,
                        value: value.value
                    };
                    return field;
                });

                self.currentCaseOtherDetails = details;
                this.tempRecord = obj;
            }
        },

        getFieldDefaultValue(type) {
            switch(type) {
                case 'time':
                    return {
                            hh: '00',
                            mm: '00',
                            a: 'am'
                        };
                break;
                case 'dropdown':
                    return {
                        key: "",
                        value: ""
                    };
                return;
                case 'checkbox':
                case 'radio':
                    return [
                            {
                                value: "",
                                isChecked: false
                            },
                            {
                                value: "",
                                isChecked: false
                            }
                        ];
                break;
                case 'date':
                case 'input':
                case 'textarea':
                    return "";
                break;
            }
        },
    },
    mounted() {
        this.getOtherDetails();
    },
    watch:{
        refreshList(val) {
            if(val) {
                this.getOtherDetails();
            }
        },

    },

}
</script>
