<template>
    <div class="conduct-incident-side-panel-container">


        <!-- Content placeholder -->

        <content-placeholder v-if="!incidentCase" ></content-placeholder>

        <!-- Content placeholder -->


        <div v-else class="conduct-incident-side-panel-area">
            <div class="card-heading" v-if="incidentCase">
                <h2>{{ incidentCase.type == 'ir' ? 'IR' : 'Case' }} # {{ incidentCase.case_number }}</h2>

                <p class="incident-type-title">Incident type:
                    <span v-if="incidentCase && incidentCase.incident_type.parent.name">{{ incidentCase.incident_type.parent.name }} , {{ incidentCase.incident_type.name  }} </span>
                    <span v-if="incidentCase && !incidentCase.incident_type.parent.name">
                    {{ incidentCase.incident_type.name  }} </span>

                </p>
                <a 
                v-if="!showComposeArea"
                href="javascript:void(0);" :class="[ incidentCase.at_risk ? 'alert-inactive' : '']"
                @click="$emit('case-risk-popup' , incidentCase)"
                role="button">
                <i :class="['icon-under-age']"></i>
            </a>
        </div>
        <div class="pending-stage stage-block" id="style-2" v-if="incidentCase">
            <h3>{{ incidentCase ? incidentCase.stage : '' }}</h3>
            <div class="date-expectation">
                <ul class="scrollbar-horizantal" id="style-2">
                    <li v-for="(stage,index) in caseStages"
                        :key="index"
                        :class="[ currentStageIndex(stage.name, index) > index  ? 'active' : '', index < stagesCount ?  'avaliable' : '' , caseStages && caseStages.length > 5 ? 'more-stages' : '']">
                        <span v-tooltip.right="stage.name">                                                  
                            {{ getIncidentStageFormatted(incidentCase, stage.name) }}
                        </span>
                    </li>
                </ul>
            </div>
        <div class="right-pos">
            <label>
                Start date:
                <strong>
                 {{ incidentCase.created_at.date | formatDate }}
             </strong>
         </label>
     </div>
     <div class="closure">
        <label>
            Expected close date:
            <strong v-if="incidentCase.expected_close_date">{{ incidentCase.expected_close_date | formatDate }}</strong>
            <strong v-else>NOT SET</strong> -
            <a 
            v-if="!showComposeArea"
            href="javascript:void(0);" @click="$emit('expected-close-date-popup',incidentCase.expected_close_date)">
            Change
        </a>
    </label>
</div>
</div>

<div v-for="(caseStudy, index) in caseStudies" :key="index" class="inner-content">
    <div id="style-2" class="scrollable">
        <div class="case-stage stage-block">
            <h3>Case Owner</h3>
            <div class="list-profile-view" v-if="incidentCase">
            
                <div v-if="incidentCase.assigned_to_user" class="image-block" v-bind:style="{'background-image' : 'url('+incidentCase.assigned_to_user.profile_image+') , url(../images/dummy/user-placeholder.svg)'}">
                </div>

                <div v-if="!incidentCase.assigned_to_user" class="image-block" v-bind:style="{ backgroundImage: `url('../images/dummy/user-placeholder.svg')` }">
                </div>

                <div class="profile-detail">
                    <h4 v-if="!incidentCase.assigned_to_user">NOT ASSIGNED - </h4>
                    <h4 v-if="incidentCase.assigned_to_user">{{ incidentCase.assigned_to_user | fullName }} - </h4>
                </div>
                
                <a 
                v-can:view="'change-owner'"
                v-if="!showComposeArea"
                @click="$emit('change-case-owner-popup' , incidentCase)"
                class="change-case-owner" 
                href="javascript:void(0);" 
                role="button">
                {{ incidentCase.assigned_to_user ? 'Change' : 'Assign' }}
                </a>
        </div>
    </div>

    <div class="report-stage stage-block">
        <h3>Reported by</h3>
        <div class="list-profile-view">
            <div v-if="incidentCase && incidentCase.reported_by && incidentCase.reported_by_user.profile_image" v-bind:style="{'background-image' : 'url('+incidentCase.reported_by_user.profile_image+')',}" class="image-block">
            </div>
            <div v-else v-bind:style="{'background-image' :  `url('../images/dummy/user-placeholder.svg')`,}" class="image-block">
            </div>
            <div class="profile-detail">
                <h4>
                    <a v-if="incidentCase && incidentCase.reported_by"
                    @click="$emit('student-details-popup', incidentCase.reported_by_user)"
                    role="button"
                    href="javascript:void(0);">
                    {{ incidentCase.reported_by_user | fullName }}
                </a>
                <a v-if="incidentCase && !incidentCase.reported_by"
                @click="$emit('anonymous-user-popup',incidentCase.background_info,formPopup)"
                role="button"
                href="javascript:void(0);">
                {{ incidentCase.background_info.full_name }}
            </a>
        </h4>
    </div>
</div>
</div>

<involved-parties 
:showIcons="true"
:involvedParties="involvedParties"
@dissociate-party-popup="dissociateUser"
@student-details-popup="studentDetails"
@anonymous-user-popup="anonymousUser"
@organization-profile-popup="organizationUser"
@mark-flag-popup="markFlag"
@associate-party-popup="$emit('associate-party-popup', incidentCase)"
> 
</involved-parties>


<clery-act-details 
v-if="!showComposeArea"
:refreshList="refreshCA"
@change-clery-act-popup="onCleryActPop"
@refreshFalse="refreshCA = false;"
@clery-act-manage-custom-field-popup="onCleryActFieldPopup"
>
</clery-act-details>

<other-details 
v-if="!showComposeArea"
:refreshList="refreshOD"
@change-other-detail-popup="onOtherDetailPop"
@refreshFalse="refreshOD = false;"
@case-detail-manage-custom-field-popup="onCustomOtherDetailFieldPopup"
>
</other-details>

<case-title-ix 
v-if="!showComposeArea"
@add-title-ix-popup="addTitleIxPopup"
@remove-title-ix-popup="removeTitleIxPopup">
</case-title-ix>

<related-cases 
v-if="!showComposeArea"
:incidentCase="incidentCase"
:relatedCases="relatedCases"
:showRelatedCaseText="showRelatedCaseText"
@add-related-case-popup="addRelatedCasePopup"
@remove-related-case-popup="removeRelatedCasePopup">
</related-cases>

</div>
</div>
</div>
</div>
</template>


<script>
    export default {
        props: ['refreshOtherDetails', 'refreshCleryActDetails'],
        data () {
            return {
                formPopup:'Reported By',
                showRelatedCaseText:'Currently no cases have been related to this incident.',
                url:'api/incident-case/list-related-case/',
            refreshOD: false,
            refreshCA: false,
                current_user:'',
                involvedPartiesInfo: { },
                type_of_incident:'',
                incident_type_name:'',
                incident_type_created_at_date:'',                
                relatedCases:'',
                lastIndex:null,
                caseStages: [],
                caseStudies: [
                {
                    cleryAct:[
                    {
                        title: 'Category:',
                        value: 'N/A',
                    },
                    {
                        title: 'Status:',
                        value: 'N/A',
                    },
                    {
                        title: 'Subject:',
                        value: 'N/A',
                    },
                    {
                        title: 'Location:',
                        value: 'N/A',
                    },
                    ],
                }
                ],
                otherDetails:'',
            }
        },

        computed : {
            stagesCount(){
                let self = this;
                var indexValue = 0;

                 _.find(this.caseStages , function(caseStage, caseStageIndex){

                        if(self.incidentCase.stage == caseStage.name){
                            indexValue = caseStageIndex;
                        }
                })

                return indexValue+1;


            },

            involvedParties(){
                return this.$store.getters.getCaseData ? this.$store.getters.getCaseData.involved_parties_details : [];
            },
            requestUrl(){
                return this.url + this.$route.params.id;
            },
            incidentCase(){
                if(this.$store.getters.getCaseData){
                   var caseDataValue = this.$store.getters.getCaseData;
                   this.$emit('disable-cases', caseDataValue.type);
                   return caseDataValue;
               }
           },

           showComposeArea(){
            var caseData = this.$store.getters.getCaseData;
            return caseData ? (caseData.status == 'closed' || caseData.is_discarded) : false;
        },

    },
    methods:{
        currentStageIndex(stageName, index){
            let self = this;
            var indexValue = 0;
            _.find(this.caseStages , function(caseStage,caseStageIndex){    
                if(self.incidentCase.stage == caseStage.name){
                    indexValue = caseStageIndex;
                }
            });
            return indexValue;

        },
        getIncidentStageFormatted(incidentCase,stage) {
            if(incidentCase.stage_tracking.length > 0){

                for (var index = 0; index < incidentCase.stage_tracking.length; index++){

                    if(stage == incidentCase.stage_tracking[index].stage){

                        var b = moment(incidentCase.stage_tracking[index].created_at);
                        if (typeof incidentCase.stage_tracking[index+1] !== "undefined"){
                            var a = moment(incidentCase.stage_tracking[index+1].created_at);
                        }else{
                            var a = moment();
                        }
                        return a.diff(b, 'days')+' Days';
                    }
                }

                return '0 Days';
            }
        },
    onCleryActFieldPopup() {
        this.$emit('clery-act-manage-custom-field-popup');
    },
    onCustomOtherDetailFieldPopup() {
        this.$emit('case-detail-manage-custom-field-popup');
    },
    addRelatedCasePopup(response) {
        this.$emit('add-related-case-popup', response);
    },
    removeRelatedCasePopup(response) {
        this.$emit('remove-related-case-popup', response);
    },
    addTitleIxPopup(response) {
        this.$emit('add-title-ix-popup', response);
    },
    removeTitleIxPopup(response) {
        this.$emit('remove-title-ix-popup', response);
    },
    onOtherDetailPop(response) {
        this.$emit('change-other-detail-popup', response);
    },
    onCleryActPop(response) {
        this.$emit('change-clery-act-popup', response);
    },
        dissociateUser(response){
            this.current_user = response;
            this.$emit('dissociate-party-popup', this.current_user);           
        },

        studentDetails(response){
            this.current_user = response;
            this.$emit('student-details-popup', this.current_user);           
        },

        anonymousUser(response,detail){
            this.current_user = response;
            this.$emit('anonymous-user-popup', this.current_user,detail);           
        },
        organizationUser(response,detail){
            this.current_user = response;
            this.$emit('organization-profile-popup', this.current_user,detail);           
        },

        markFlag(response){
            this.current_user = response;
            this.$emit('mark-flag-popup', this.current_user);           
        },
        getRelatedCases() {
            let self = this;
            let url = self.requestUrl;
            this.errorBag.clear();
            self.$http.get(url).then(response=>{
                response = response.data;
                this.relatedCases = response.data;
            }).catch(error=>{
               self.errorMessage = 'No case Found';
           });
        },
        getRelatedStages() {
            let self = this;
            let url = "api/stage/stage-list/" + this.incidentCase.incident_type_id;
            self.$http.get(url).then(response=>{
                response = response.data;
                this.caseStages = response.data;
            }).catch(error=>{
              self.errorMessage = 'No stage Found';
          });
        },

    },
    watch:{
        incidentCase(value){
            this.getRelatedCases();
            this.getRelatedStages();
        },
    refreshOtherDetails(val) {
        this.refreshOD = val;
    },
    refreshCleryActDetails(val) {
        this.refreshCA = val;
    }
},

}
</script>