<template>
    <div class="activities-section">

        <div class="container">
            <div class="activitycontent">

                <div v-for="(activityLog, index) in activityLogs" :key="index">
                    <logs-activity
                        v-if="(activityLog.type == 'case_logs' && activityLog.action != 'appeal')"
                        :activityLog="activityLog"
                    >
                    </logs-activity>

                    <!-- <attached-documents
                        v-if="activitySelected == 'attachment'"
                        :activityLog="activityLog"
                    >
                    </attached-documents> -->


                    <charges-activity
                        v-if="(activityLog.action == 'charge' && activityLog.type == 'case_logs')"
                        :activityLog="activityLog"
                    >
                    </charges-activity>

                    <email-activity
                        v-if="(activityLog.type == 'email')"
                        :activityLog="activityLog"
                    >
                    </email-activity>

                    <appeal-activity
                        v-if="(activityLog.action == 'appeal' && activityLog.type == 'case_logs')"
                        :activityLog="activityLog"
                    >
                    </appeal-activity>

                    <sanction-activity
                        v-if="(activityLog.action == 'completed_sanction' || activityLog.action == 'sanction' && activityLog.type == 'case_logs')"
                        :activityLog="activityLog"
                    >
                    </sanction-activity>

                    <c-notes
                        v-if="(activityLog.type == 'notes')"
                        :activityLog="activityLog"
                    >
                    </c-notes>

                    <case-detail-activity
                        v-if="(activityLog.action == 'ir' || activityLog.action == 'case' ||activityLog.type == 'details')"
                        :activityLog="activityLog"
                    >
                    </case-detail-activity>

                    <!-- <checklist-activity
                        v-if="(activityLog.type == 'checklist') && activitySelected == 'checklist'"
                        :activityLog="activityLog"
                    >
                    </checklist-activity> -->

                    <meeting-activity
                        v-if="(activityLog.type == 'meeting')"
                        :activityLog="activityLog"
                    >
                    </meeting-activity>

                    <attachment-activity
                        v-if="(activityLog.type == 'attachment')"
                        :activityLog="activityLog"
                    >
                    </attachment-activity>

                </div>

            </div>
        </div>

        <div class="clearfix"></div>
        <common-methods
            :url="requestUrl"
            :infiniteLoad="false"
            @get-response="getResponse"
        >
        </common-methods>

    </div>
</template>

<script>
    export default{
        data() {
            return {
                url : '/api/activity-log?pagination=true',
                activityLogs : [],
                noRecordFound : false,
            }
        },
        computed: {
            requestUrl(){
                this.activityLogs = []
                this.noRecordFound = false
                return this.url+'&case_id='+this.$route.params.id+'&type=all'
            },
        },
        methods: {
            getResponse(response) {
                if(Object.keys(response.data).length || response.noRecordFound){
                    var activityData = response.data;
                    for (var i = 0; i < activityData.length; i++) {
                        this.activityLogs.push(activityData[i]);
                    }
                    this.noRecordFound = response.noRecordFound;
                }
            }
        },
        mounted() {
        },
        watch: {
        }
    }
</script>
