  <template>        
    <div class="involve-party-stage stage-block">
        <h3>Involved Parties</h3>
        <div 
            class="right-pos"
            v-can:view="'involved-parties-modify'" 
            v-if="($route.meta.currentPortal != 'student') , !showComposeArea">
            <a v-if="showIcons" @click="$emit('associate-party-popup')" href="javascript:void(0);"
                role="button">
                + Add more
            </a>
        </div>
        <div 
            v-for="(involveParty, index) in involvedParties" 
            :key="index" 
            class="list-profile-view">
            <div v-if="involveParty.profile_image"
                v-bind:style="{'background-image' : 'url('+involveParty.profile_image+'), url(../images/dummy/user-placeholder.svg)'}" 
                class="image-block">
            </div>
            <div v-else
                v-bind:style="{'background-image' :  `url('../images/dummy/user-placeholder.svg')`,}" 
                class="image-block">
            </div>
            <div class="profile-detail">
                <h4>
                    <a href="javascript:void(0);" 
                        :title="involveParty | fullName"
                        class="custom-wrap" 
                        @click="$emit('student-details-popup', involveParty)"
                        role="button" v-if="involveParty.id && involveParty.role_id != 7"> 
                        {{ involveParty | fullName}} 
                    </a>
                    <a href="javascript:void(0);" 
                        @click="$emit('anonymous-user-popup', involveParty,fromPopup)"
                        role="button" v-if="!involveParty.id && involveParty.role_id != 7"> 
                        {{ involveParty.full_name ? involveParty.full_name:'Unknown User' }} 
                    </a>
                    <a href="javascript:void(0);" 
                        @click="$emit('organization-profile-popup', involveParty,fromPopup)"
                        role="button" v-if="involveParty.id && involveParty.role_id == 7"> 
                        {{ involveParty.full_name ? involveParty.full_name:'Unknown User' }} 
                    </a>
                </h4>
                <p>{{involveParty.person_type ? involveParty.person_type.name : ''}}</p>
            </div>
            <div
                v-can:view="'involved-parties-modify'" 
 
                v-if="!showComposeArea"
                :class="['profile-hotkeys']">

                <a @click="$emit('mark-flag-popup', involveParty)" href="javascript:void(0);" role="button" v-if="involveParty.id && showIcons" :class="[involveParty.is_flagged ? 'alert-inactive' : '']">
                    <i :class="['icon-under-age']"></i>
                </a>
                <a v-if="showIcons" @click="$emit('dissociate-party-popup', involveParty)" href="javascript:void(0);" role="button">
                    <i class="icon-delete"></i>
                </a>
            </div>
        </div>
        <div v-if="!involvedParties.length">
            <br>
            <info-message :text="showInvolvedPartiesText" class="related-case-msg"></info-message>
        </div>
    </div>
</template> 
<script>
    export default {
        props : ['involvedParties', 'showIcons'],

        data () {
            return {
                fromPopup:'Involved Party',
                studentDetailPopup:false,
                anonymousUserPopup:false,
                dissociatePartyPopup: false,
                markFlagPopup: false,
                associatePartyPopup: false,
                type_of_incident:'',
                incident_type_name:'',
                incident_type_created_at_date:'',
                currentInvolvedUser:'',
                user:'',
                currentCase:'',
                showInvolvedPartiesText: 'Currently no user has been involved in this incident.',
                placeholderimage: '/images/dummy/user-placeholder.svg',
            }
        },
        computed : {
            
            incidentCase(){
                return this.$store.getters.getCaseData;
            },

            showComposeArea(){
                var caseData = this.$store.getters.getCaseData;
                return caseData ? (caseData.status == 'closed' || caseData.is_discarded) : false;
            }

        },

    }
</script>
