<template>
    <div>
        <!-- Left Nav Conduct Incident -->
        <left-nav
            @manage-cases-popups="manageCases"
            :checkIncident="incidentTypeDisable">
        </left-nav>
    <!-- Detail Fixed SideBar Conduct Incident -->
    <detail-sidebar
        :refreshOtherDetails="customFieldsOtherDetails"
        :refreshCleryActDetails="customFieldsCleryActDetails"
        @disable-cases="cases"
        @expected-close-date-popup="expectedCloseDate"
        @change-case-owner-popup="changeCaseOwner"
        @remove-related-case-popup="removeCase"
        @change-other-detail-popup="changeOtherDetail"
        @change-clery-act-popup="changeCleryActDetail"
        @add-related-case-popup="addRelatedCase"
        @add-title-ix-popup="addTitleIx"
        @remove-title-ix-popup="removeTitleIx"
        @case-risk-popup="markCaseRisk"
        @case-detail-manage-custom-field-popup="onCaseDetailManageCustomField"
        @clery-act-manage-custom-field-popup="onCleryActCustomField"
        @manage-clery-act-popup="manageCleryActPopup = true"
        @mark-flag-popup="flagInvolvedParty"
        @associate-party-popup="associateParty"
        @dissociate-party-popup="dissociateInvolvedParty"
        @anonymous-user-popup="anonymousUser"
        @organization-profile-popup="organizationUser"
        @student-details-popup="studentDetail">

    </detail-sidebar>
<!-- Left Nav Cases Popups Conduct Incident-->

<cases-popups
:modalUrl="modalUrl"
:popupTitle="modalTitle"
:showModalProp="casePopup == 'manageCases'"
@hide-modal-value="closeAllPopup">
</cases-popups>

<!-- Case Detail -->
<case-detail
    :incidentCaseDetails="incidentCaseDetails">
</case-detail>
<!-- Popups -->
<change-other-detail-popup
:otherDetails="otherDetails"
:allFields="customOtherFields"
:currentCase="currentCase"
:showModalProp="changeOtherDetailPopup"
@hide-modal-value="onChangeCustomFieldOtherDetailPop">
</change-other-detail-popup>

<case-detail-manage-custom-field-popup
:showModalProp="manageCustomFieldPopup"
@hide-modal-value="onChangeCustomFieldOtherDetailPop">
</case-detail-manage-custom-field-popup>

<clery-act-detail-popup
:otherDetails="cleryActDetails"
:allFields="customCleryFields"
:currentCase="currentCase"
:showModalProp="changeCleryActPopup"
@hide-modal-value="onChangeCustomFieldCleryActPop">
</clery-act-detail-popup>

<clery-act-manage-custom-field-popup
:showModalProp="manageCleryActCustomFieldPopup"
@hide-modal-value="onChangeCustomFieldCleryActPop">
</clery-act-manage-custom-field-popup>

<expected-date-popup
:expectedCloseDate="expectedCloseDateValue"
:showModalProp="expectedCloseDatePopup"
@hide-modal-value="closeAllPopup">
</expected-date-popup>

<change-case-owner-popup
:currentCase="currentCase"
:showModalProp="changeCaseOwnerPopup"
@hide-modal-value="closeAllPopup">
</change-case-owner-popup>

<export-case-popup
:showModalProp="casePopup == 'exportCasePopup'"
@hide-modal-value="closeAllPopup">
</export-case-popup>

<merge-case-popup
:currentCase="mergeCase"
:showModalProp="casePopup == 'mergeCasePopup'"
@hide-modal-value="closeAllPopup">
</merge-case-popup>

<remove-related-case-popup
:currentCase="currentCase"
:currentRelatedCase="currentRelatedCase"
:showModalProp="removeCasePopup"
@hide-modal-value="removeCasePopup = false">
</remove-related-case-popup>

<remove-title-ix-popup
:currentCase="currentCase"
:currentTitleIx="currentTitleIx"
:showModalProp="removeTitleIxPopup"
@hide-modal-value="removeTitleIxPopup = false">
</remove-title-ix-popup>

<discard-case-popup
:showModalProp="casePopup == 'discardCasePopup'"
@hide-modal-value="closeAllPopup">
</discard-case-popup>

<reopen-case-popup
:showModalProp="casePopup == 'reopenCasePopup'"
@hide-modal-value="closeAllPopup">
</reopen-case-popup>

<split-case-popup
:currentCase="splitCase"
:showModalProp="casePopup == 'splitCasePopup'"
@hide-modal-value="closeAllPopup">
</split-case-popup>

<change-clery-popup
:showModalProp="changeCleryDetailPopup"
@hide-modal-value="changeCleryDetailPopup = false">
</change-clery-popup>

<add-related-case-popup
:showModalProp="addRelatedCasePopup"
:currentCase="currentCase"
@hide-modal-value="addRelatedCasePopup = false">
</add-related-case-popup>

<add-title-ix-popup
:showModalProp="addTitleIxPopup"
:currentCase="currentCase"
@hide-modal-value="addTitleIxPopup = false">
</add-title-ix-popup>

<change-status-popup
:showModalProp="casePopup == 'changeStatusPopup'"
@hide-modal-value="closeAllPopup">
</change-status-popup>

<close-case-popup
:showModalProp="casePopup == 'closeCasePopup'"
@hide-modal-value="closeAllPopup">
</close-case-popup>

<case-risk-popup
:currentCase="currentCase"
:showModalProp="markCaseRiskPopup"
@hide-modal-value="markCaseRiskPopup = false">
</case-risk-popup>

<manage-clery-act-popup
:showModalProp="manageCleryActPopup"
@hide-modal-value="manageCleryActPopup = false">
</manage-clery-act-popup>

<convert-case-popup
:currentCase="$store.getters.getCaseData"
:showModalProp="casePopup == 'convertCasePopup'"
@hide-modal-value="casePopup = false">
</convert-case-popup>

<mark-flag-popup
:currentCase="currentCase"
:currentInvolvedUser="currentInvolvedUser"
:showModalProp="markFlagPopup"
@hide-modal-value="markFlagPopup = false">
</mark-flag-popup>

<associate-party-popup
:currentCase="currentCase"
:showModalProp="associatePartyPopup"
@hide-modal-value="associatePartyPopup = false">
</associate-party-popup>

<dissociate-party-popup
:currentCase="currentCase"
:currentInvolvedUser="currentInvolvedUser"
:showModalProp="dissociatePartyPopup"
@hide-modal-value="dissociatePartyPopup = false">
</dissociate-party-popup>

<anonymous-user-popup
:fromPopup="fromPopup"
:currentCase="currentCase"
:currentInvolvedUser="currentInvolvedUser"
:showModalProp="anonymousUserPopup"
@hide-modal-value="anonymousUserPopup = false;">
</anonymous-user-popup>

<organization-profile-popup
:fromPopup="fromPopup"
:currentCase="currentCase"
:currentInvolvedUser="currentInvolvedUser"
:showModalProp="organizationUserPopup"
@hide-modal-value="organizationUserPopup = false;">
</organization-profile-popup>

<student-details-popup
@show-manage-field-popup="showCustomManageFieldPopup"
:addField="field"
:user="user"
:type="popupType"
:showModalProp="studentDetailPopup"
@hide-modal-value="studentDetailPopup = false">
</student-details-popup>


</div>
</template>
<script>
export default {
    data () {
        return {
            user:'',
            customFieldsOtherDetails: false,
            customFieldsCleryActDetails: false,
            currentInvolvedUser:'',
            studentDetailPopup:false,
            anonymousUserPopup:false,
            organizationUserPopup:false,
            dissociatePartyPopup: false,
            markFlagPopup: false,
            associatePartyPopup: false,
            modalUrl : '',
            modalTitle: '',
            incidentTypeDisable: '',
            manageCasesPopups: false,
            showModalPopup: false,
            expectedCloseDatePopup: false,
            changeCaseOwnerPopup: false,
            removeCasePopup: false,
            removeTitleIxPopup: false,
            changeCleryDetailPopup: false,
            changeOtherDetailPopup: false,
            changeCleryActPopup: false,
            addRelatedCasePopup: false,
            addTitleIxPopup: false,
            markCaseRiskPopup: false,
            manageCustomFieldPopup:false,
            manageCleryActCustomFieldPopup:false,
            manageCleryActPopup:false,
            convertCasePopup:false,
            incidentCaseDetails: {},
            expectedCloseDateValue: '',
            currentCase:'',
            casePopup : '',
            currentRelatedCase:'',
            currentTitleIx: '',
            currentTitleIx:'',
            fromPopup:'',
            splitCase:false,
            popupType:'',
            studentDetailsPopup: false,
            field: false,
            mergeCase:false,
            otherDetails: [],
            cleryActDetails: [],
            customOtherFields: [],
            customCleryFields: [],
        }
    },
    watch: {
        manageCasesPopups(value){
            if(value) {
                this.showModal = true
            }
            if(!value) {
                this.showModal = false
            }
        }
    },
    methods: {
        onCaseDetailManageCustomField() {
            this.customFieldsOtherDetails = false;
            this.manageCustomFieldPopup = true; 
        },
        onCleryActCustomField() {
            this.customFieldsCleryActDetails = false;
            this.manageCleryActCustomFieldPopup = true; 
        },
        onChangeCustomFieldCleryActPop(val) {
            this.customFieldsCleryActDetails = val;
            this.manageCleryActCustomFieldPopup = false;
            this.changeCleryActPopup = false;
        },
        showCustomManageFieldPopup() {
            this.studentDetailPopup = false;
            this.manageCustomFieldPopup = true;
        },
        onChangeCustomFieldOtherDetailPop(val) {
            this.customFieldsOtherDetails = val;
            this.manageCustomFieldPopup = false;
            this.changeOtherDetailPopup = false;
        },
        changeOtherDetail(response, customOtherFields){
            this.customOtherFields = _.cloneDeep(customOtherFields);
            this.customFieldsOtherDetails = false;
            this.changeOtherDetailPopup = true,
            this.currentCase = this.incidentCase;
            this.otherDetails = _.cloneDeep(response);
        },
        changeCleryActDetail(response, customCleryFields){
            this.customCleryFields = _.cloneDeep(customCleryFields);
            this.customFieldsCleryActDetails = false;
            this.changeCleryActPopup = true,
            this.currentCase = this.incidentCase;
            this.cleryActDetails = _.cloneDeep(response);
        },
        removeTitleIx(response){
            this.removeTitleIxPopup = true,
            this.currentCase = this.incidentCase;
            this.currentTitleIx = response;
        },
        removeCase(response){
            this.removeCasePopup = true,
            this.currentCase = this.incidentCase;
            this.currentRelatedCase = response;
        },
        dissociateInvolvedParty(response){
            this.dissociatePartyPopup = true,
            this.currentCase = this.incidentCase;
            this.currentInvolvedUser = response;
            
        },
        flagInvolvedParty(response){
            this.markFlagPopup = true,
            this.currentCase = this.incidentCase;
            this.currentInvolvedUser = response;
            
        },
        anonymousUser(response,detail){
            this.anonymousUserPopup = true,
            this.currentCase = this.incidentCase;
            this.currentInvolvedUser = response;
            this.fromPopup = detail;
        },
        organizationUser(response,detail){
            this.organizationUserPopup = true,
            this.currentCase = this.incidentCase;
            this.currentInvolvedUser = response;
            this.fromPopup = detail;
        },
        studentDetail(response){
            if(response.role_id == 6){
                this.popupType = "student";
            }else{
                this.popupType = "employee";
            }
            this.studentDetailPopup = true,
            this.user = response;
        },
        associateParty(response){
            this.associatePartyPopup = true,
            this.currentCase = response;

        },
        markCaseRisk(response){
            this.markCaseRiskPopup =true,
            this.currentCase = response;
        },

        changeCaseOwner(response){
            this.currentCase = response;
            this.changeCaseOwnerPopup = true
        },
        expectedCloseDate(response){
            this.expectedCloseDateValue = response;
            this.expectedCloseDatePopup = true
        },
        addRelatedCase(response){
            this.addRelatedCasePopup = true;
            this.currentCase = response;
        },
        addTitleIx(response){
            this.addTitleIxPopup = true;
            this.currentCase = response;
        },
        closeAllPopup(){
            this.casePopup = '';
            this.modalUrl = '';
            this.modalTitle = '';
            this.changeCaseOwnerPopup = false;        
            this.expectedCloseDatePopup = false
            this.organizationUserPopup = false
            this.splitCase = false;
            this.mergeCase = false;
        },
        cases(value) {
            if(value) {
                this.incidentTypeDisable = value;
            }
        },
        manageCases(value) {
            this.casePopup = value.openPopup;
            this.modalTitle = value.modalTitleName;
            this.modalUrl = value.url;

            if (value.openPopup == 'splitCasePopup') {
                this.splitCase = this.$store.getters.getCaseData;
            }
            if (value.openPopup == 'mergeCasePopup') {
                this.mergeCase = this.$store.getters.getCaseData;
            }
            if(this.modalUrl == "Modify Details") {
                var caseID = this.$router.currentRoute.params.id;
                this.$router.push({name: 'incident-reporting-employee.update', params: {id: caseID}});
            }
        },
        getIncidentCaseInfo(value){
            if(value){
                this.incidentCaseDetails = value;
            }
        }
    },
    computed : {
            incidentCase(){
                return this.$store.getters.getCaseData;
            }
        },
}
</script>