<template>
    <div class="related-case-stage stage-block">
        <h3>Related Cases</h3>
        <div class="right-pos" v-if="incidentCase && incidentCase.type == 'case'">
            <a @click="$emit('add-related-case-popup' , incidentCase)" href="javascript:void(0);" role="button">
                + Add new
            </a>
        </div>
        <div v-if="relatedCases" v-for="(relatedCase, index) in relatedCases" :key="index" class="list-profile-view case-profile">
            <div v-if="relatedCase.assigned_to_user && relatedCase.assigned_to_user.profile_image" v-bind:style="{'background-image' : 'url('+relatedCase.assigned_to_user.profile_image+')'}" class="image-block">
            </div>
            <div v-else v-bind:style="{'background-image' :  `url('../images/dummy/user-placeholder.svg')`,}" class="image-block">
            </div>
            <!-- <div class="profile-detail" > -->
            <div :class="[ 'profile-detail' ]">
                <h4>
                    <!-- diasbled  ? 'disabled' : '' -->
                    <router-link :to="{ name: 'incident-case.view' , params : {id : relatedCase._id}}" role="button" :class="[  (relatedCase.disabled === true && authUser.role_id != 1) ? 'disabled' : '']">
                        Case #: {{ relatedCase.case_number }}
                    </router-link>
                </h4>
                <p>
                    {{ relatedCase.assigned_to_user ? relatedCase.assigned_to_user.first_name:'Not assigned'}}
                </p>
            </div>
            <div class="profile-hotkeys">
                <a @click="$emit('remove-related-case-popup', relatedCase)" href="javascript:void(0);" role="button">
                    <i class="icon-delete"></i>
                </a>
            </div>
        </div>
        <div v-if="!relatedCases" class="related-info-msg">
            <br>
            <info-message :text="showRelatedCaseText" class="related-case-msg"></info-message>
        </div>
    </div>
</template>


<script>
    export default {
        props: ['incidentCase','relatedCases', 'showRelatedCaseText'],
        data () {
            return {
    
            }
        },

        computed:{
            authUser(){
              return JSON.parse(this.$store.getters.getAuthUser);
            }
        },
    }
</script>
