<template>
    <div class="related-case-stage stage-block title-section">
        <h3>Title IX</h3>
        <div class="right-pos" v-if="incidentCase && incidentCase.type == 'case'">
            <a @click="$emit('add-title-ix-popup', incidentCase)" href="javascript:void(0);" role="button">
                + Add new
            </a>
        </div>
        <div v-if="titles" v-for="(title, index) in titles" :key="index" class="list-profile-view">
            <div class="profile-detail">
                <h4>
                    <p>
                        {{ title.title }}
                    </p>
<!--                     <a href="javascript:void(0);"> 
                    </a> -->
                </h4>
            </div>
            <div class="profile-hotkeys">
                <a @click="$emit('remove-title-ix-popup', title)" href="javascript:void(0);" role="button">
                    <i class="icon-delete"></i>
                </a>
            </div>
        </div>

        <div v-if="!titles" class="related-info-msg">
            <br>
            <info-message :text="showRelatedCaseText" class="related-case-msg"></info-message>
        </div>
    </div>
</template>


<script>
    export default {
        data () {
            return {
                titles: [],
                showRelatedCaseText: 'Currently no Title IX has been found.',
            }
        },
        methods: {
            getTitleIx() {
                let self = this;
                let url = "api/incident-case/list-title-ix/" + this.$route.params.id;
                self.$http.get(url).then(response=>{
                    response = response.data;
                    this.titles = response.data;
                }).catch(error=>{
                    self.errorMessage = 'No title found';
                });
            },
        },
        computed: {
            incidentCase(){
                if(this.$store.getters.getCaseData){
                    return this.$store.getters.getCaseData;
                }
            },
        },
        mounted() {
            this.getTitleIx();
        },
        watch: {
            incidentCase(value){
                this.getTitleIx();
            }
        }
    }
</script>
