<template>
    <!-- Email Form -->
        <div class="col-xs-12 col-md-6">
            <div class="card modified-card workflows-content-card">
                <div class="card-content">
                    <d-form>
                        <div class="row">
                            <div class="col-md-12">
                                <d-alert theme="success" role="alert" hide>Alert - Success Theme Example Link</d-alert>
                            </div>
                        
                            <div class="col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="email_temp_title">Template Title</label>
                                    <d-input 
                                        aria-label="Template Title" 
                                        id="email_temp_title"
                                        v-model="emailTemplateValObj.title"
                                        placeholder="Enter template title"
                                        v-validate="{ required: true, max:150 }"
                                        data-vv-name="title"
                                        name="regex"
                                        :class="[errorBag.first('title') ? 'is-invalid' : '']" />
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email_subject">Subject</label>
                                    <d-input 
                                        v-model="emailTemplateValObj.subject"
                                        id="email_subject"
                                        aria-label="Subject"
                                        v-validate="{ required: true, max:150 }"
                                        data-vv-name="subject"
                                        :class="[errorBag.first('subject') ? 'is-invalid' : '']"
                                        placeholder="Enter template subject" />
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email_message">Message</label>
                                        <textarea 
                                            class="form-control"
                                            v-model="emailTemplateValObj.message"
                                            id="email_message"
                                            aria-label="Message"
                                            v-validate="'required'"
                                            data-vv-name="message"
                                            :class="[errorBag.first('message') ? 'is-invalid' : '']"
                                            placeholder="Enter template message" rows="10" cols="5">
                                        </textarea>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                    {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                            </div> 
                            <div class="col-xs-12 col-sm-6">
                                <d-btn 
                                    theme="primary"
                                    :class="[ loading ? 'show-spinner' : '', 'btn-mobile']" 
						            @click.prevent="validateBeforeSubmit();"
                                >
                                <span>{{ (emailTemplateValObj._id) ? 'Update' : 'Add'   }} Template</span>
                                    <c-loader></c-loader>
                                </d-btn>
                            </div>

                            
                            <div class="col-xs-12 col-sm-6 view-codes">
                                <a href="javascript:;"
                                role="button"
                                 @click.prevent="ViewSpecialCode = true">
                                    <span>View special code hints</span>
                                </a>
                            </div>

                        </div>
                    </d-form>
                </div>
            </div>
    
        <common-methods 

            @form-updated="formUpdated"
            :submitUrl="submitUrl"
            :submit="submit"
            :submitType="submitType"
        >

        </common-methods>

        <view-special-code-popup                 
            
            @hide-modal-value="ViewSpecialCode = false" 
            :showModalProp="ViewSpecialCode">
                    
        </view-special-code-popup>

        </div>
</template>

<script>

import Selectize from 'vue2-selectize';
import draggable from 'vuedraggable';

export default {

    props: [
        'emailTemplateData',
        'addTemplate',
        'emptyErrorBag'
    ],

    components: {
        Selectize,
        draggable,
    },

    data() {
        return{
            emailTemplateValObj: {}, 
            submitType: 'update',
            loading: false,
            submit : false,
            errorMessage : '',
            successMessage : '', 
            url : 'api/email-template',
            listing: [],
            ViewSpecialCode: false,
        }
    },

    mounted() {

        this.emailTemplateValObj = JSON.parse(JSON.stringify(this.emailTemplateData));

    },

    computed: {
        
        submitUrl(){
            return 'api/email-template';
        },

        popupThemeValue() {
            if (this.errorMessage) {
                return 'danger';
            }
            if (this.successMessage) {
                return 'success';
            }
        },

        requestUrl(){
            return this.url; // Requesting URL from API
        },

        
    },

    methods: {
        
        formUpdated(response){
			let self = this;
			this.submit = false;
			this.loading = false;
			this.successMessage = response.message;
			setTimeout(function() {
				self.successMessage = '';
			}, 2000);

		},

		formSubmitted(response) {
			this.emailTemplateValObj = response;
		},

        submitRequest: function () {
            let self = this;
            self.loading = true           
            let http;
            if(this.emailTemplateValObj._id) {
                http = this.$http.put(this.submitUrl+'/'+ this.emailTemplateValObj._id, this.emailTemplateValObj);
            }else {
                this.emailTemplateValObj.incident_type_id = this.$parent.selectedIncidentvalue;
                http = this.$http.post(this.submitUrl, this.emailTemplateValObj);
            }

            http.then(response => {
                response = response.data;
                self.successMessage = response.message;
                        
                setTimeout(function(){
                    self.loading = false;
                    self.successMessage = '';
                }, 1000);

                this.$emit('updated-list', response);
            })
            .catch(error => {
                self.loading = false
                self.errorMessage = error.response.data.errors.message[0];
                setTimeout(function(){
                    self.loading = false;
                    self.errorMessage = '';
                }, 1000);
            })
        },

		validateBeforeSubmit() {
            let self = this;

			this.$validator.validateAll().then((result) => {
				if (result) {
					this.errorMessage = '';
                    this.submitRequest();
					this.loading = true;
					return;
                }
				this.errorMessage = this.errorBag.all()[0];
                setTimeout(function(){
                    self.errorMessage = '';
                    self.errorBag.clear();
                }, 2000)
			});
		},

        ViewSpecialCodePopup() {
            this.ViewSpecialCode = true;
        }
    },

    watch: {

        emailTemplateData(value) {
            this.emailTemplateValObj = JSON.parse(JSON.stringify(value));
        },

        addTemplate(value) {
            let self = this;
            this.emailTemplateValObj = {};
            setTimeout(function(){
                self.errorBag.clear();
            }, 10)
        },
        emptyErrorBag() {
            let self = this;
            // this.emailTemplateValObj = {};
            setTimeout(function(){
                self.errorBag.clear();
            }, 10)
        },
    },
}
</script>