<template>
    <!-- Email Template Listing -->
        <div class="col-md-6">
            <div 
                class="workflows-types card modified-card"
                v-for="(list, index) in getList" 
                :key="index"
                :class="{ activeList : currentIndex == index}"
                >
                <p @click="$emit('get-value' , list) , currentIndex = index"
                 class="workflow-title">
                    {{ list.title }}
                    <span>{{ list.subject }}</span>
                </p>
                <a href="javascript:;"
                    @click="$emit('delete-popup')">
                    <i 
                        class="rt-arrow icon-delete" 
                        v-tooltip.top-center="deleteMsg"
                        @click="deletePopup = true; currentItem=list;"
                        >
                    </i>
                </a>
                <i 
                    @click="$emit('get-value' , list) , currentIndex = index" 
                    class="rt-arrow icon-keyboard_arrow_right">
                </i>
            </div>

            <common-methods 

                @get-response="getResponse"
                :url="requestUrl"
                v-show="!noRecordFound"
                :force="forceValue"
                >

            </common-methods>

            <delete-popup 
            
                @hide-modal-value="deletePopup = false" 
        		:showModalProp="deletePopup"

                :currentItem="currentItem"
                :url="urlUpdate"
                :postType="'delete'"
                @list-refresh="listRefresh"
                >
            
            </delete-popup>

            <block-spinner v-if="!getList.length && !$parent.noRecordFound"></block-spinner>
            <no-record-found v-if="$parent.noRecordFound"></no-record-found>

        </div>
</template>

<script>

export default {

    props: [
        'getList',
        'addTemplate'
        ],

    data() {
        return{
            // Initializing Values
            deleteMsg: 'Delete',
            listing: [],
            currentIndex: null,
            getListRecord: '',
            noRecordFound: false,  
            deletePopup: false, 
            currentItem: '',
            deleteUrl: '',
            urlUpdateData: 'api/email-template',
            forceValue : false
        }
    },

  	computed : {

		requestUrl(){

        },

        urlUpdate() {
            return this.urlUpdateData;
        }
        
        
	},

    methods: {
         
        getResponse(response) {
            if(response.data) {
                let self = this;
                self.listing = response.data;
                self.forceValue = false;
            }
        },

        listRefresh() {
            this.forceValue = true;
            this.$parent.loadTemplate();
        },
        
    },

    watch: {

        getList() {
            
        },

        addTemplate(value){
            this.currentIndex = null
            this.currentItem = ''
        }
    }
}
</script>