<template>
    <div>
        <!-- top section -->
        <div class="config-top z-index-99">
            <div class="float-left filter-left">
                <h3>Email Templates</h3>
            </div>
            <div class="filter-right">
                <ul>
                    <li>
                        <div class="form-group conduct-type">
                            
                            <selectize v-model="selectedIncidentvalue" class="selectize-control">
                                <option 
                                v-for="(incidentType , index) in incidentTypes"
                                :value="incidentType.id"
                                :key="index">
                                {{ incidentType.name }}
                            </option>
                        </selectize>
                    </div>
                </li>
                <li>
                    <d-btn 
                    theme="secondary"
                    @click="loadTemplate()"
                    >
                    <span>Load Templates</span>
                    <c-loader></c-loader>
                </d-btn>
            </li>
            <li>
                <d-btn 
                theme="secondary" 
                @click="addTemplate = !addTemplate; emailTemplateData = {}">
                <span>+ Add Email Template</span>
                <c-loader></c-loader>
            </d-btn>
        </li>
    </ul>
</div>
</div>

<div class="config-body workflows-wrapper email-body email-body-wrapper">
    <div class="row">

        <email-listing 

            @get-value="getEmailsTemplate" 
            :addTemplate="addTemplate" 
            :fromSubmitted="fromSubmitted"
            :getList="getList"
            >

        </email-listing>

        <email-form 

            :emailTemplateData="emailTemplateData" 
            :addTemplate="addTemplate" 
            @from-submitted="fromSubmitted"
            @updated-list="loadTemplate"
            :emptyErrorBag="emptyErrorBagVal"
            >

        </email-form>


</div>
</div>

<common-methods 

@get-response="getResponse"
:url="requestUrl"
:hideLoader="true"
>

</common-methods>

<common-methods 

@get-response="getResponseList"
:url="requestList"
>

</common-methods>

</div>
</template>

<script>

import Selectize from 'vue2-selectize';
import draggable from 'vuedraggable';

export default {

    components: {
        Selectize,
        draggable,
    },

    data() {
        return{
            // Initializing Values
            
            emailTemplateData: { },
            addTemplate: false,
            loadTempBtn: '',
            urlList : 'api/incident-type?filter_by_child=1&orderby_name=1&is_archived=0',
            selectedvalue: 1,
            selectedIncidentvalue: null,
            incidentTypes : [],
            urlEmailTemp : 'api/email-template',
            emailUrlLoadTemp: '',
            getList: '',       
            emptyErrorBagVal: false,  
            incidentTypeIdValue : ''     
        }
    },

    mounted() {

    },


    computed: {
        requestUrl() {
            return this.emailUrlLoadTemp; // Requesting URL from API
    },

    requestList() {
        return this.urlList;
    }
},

methods: {

    showLoadMore(){
        this.showLoadMore = true;
    },

    getEmailsTemplate(value) {        
        if(value) {
            this.emailTemplateData = JSON.parse(JSON.stringify(value)); 
        }
    },

    getResponse(response){

        this.getList = response.data;
        this.noRecordFound = response.noRecordFound;
    },

    getResponseList(response) {
        if(Object.keys(response.data).length) {
            this.selectedIncidentvalue = response.data[0].id;
            this.incidentTypes = response.data;
            this.loadTemplate();  
        }

    },

    fromSubmitted() {

    },

    loadTemplate() {
        let self = this;
        let newDate = new Date().toString();
            this.urlEmailTemp = 'api/email-template?incident_type_id='+this.selectedIncidentvalue+'&time'+newDate; // Requesting URL from API
            this.emailTemplateData = {};
            this.emptyErrorBagVal = newDate;
            this.emailUrlLoadTemp = this.urlEmailTemp;
        },
    },
}
</script>