<template>
    <div
        v-if="show"
        class="forgot-form inbox-form auth-forms text-center">
        <h4 class="text-center">{{ screenTitle }}</h4>
        <p class="text-center">{{ screenDesc }}</p>
        <div class="envelop"><img :src="icons"></div>
        <d-button
            @click.prevent="$emit('show-login')"
            size="md"
            type="submit">
            Back to log in
            <loader></loader>
        </d-button>
    </div>
</template>

<script>
export default {
    data () {
        return {
            show: true,
            screenTitle: 'Check your inbox',
            screenDesc: 'We have sent an email containing instructions on how to  change your password to the email address you supplied.',
            icons: '../../images/envelope-alt.svg',
        }
    },
}
</script>
