<template>
    <div>
        <p class="text-center">Can't log in or need help? 
            <a href="javascript:void(0);" @click="$emit('contact-us-popup')" role="button">Contact Us</a>
        </p>
    </div>
</template>