<template>
    <!--forgot-->
    <div class="forgot-form auth-forms" v-if="show">
        <h4 class="text-center">{{ screenTitle }}</h4>
        <p class="text-center auth-desc">{{ screenDesc }}</p>
        <form role="forgot form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="emailAddress">Email Address</label>
                        <d-input
                            type="email"
                            aria-label="Email address"
                            name="email"
                            id="emailAddress"
                            class="form-control"
                            placeholder="Enter your email address" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <d-button
                        size="md"
                        @click.prevent="$emit('show-inbox')"
                        type="submit">
                        Get a new password
                        <loader></loader>
                    </d-button>
                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    <a
                        class="back-to-login"
                        href="javascript:void(0);"
                        role="button"
                        @click.prevent="$emit('show-login')">
                        <span>Back to log in</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    data () {
        return {
            show: true,
            screenTitle: 'Need a new password?',
            screenDesc: "Please provide your email address and we'll send you instructions on how to change your password.",
        }
    },
}
</script>
