<template>
    <div>
        <div class="login-form auth-forms active">
            <!-- Login Form -->
            <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" role="alert" show>
                {{ errorMessage ? errorMessage : successMessage }}
            </d-alert> 
            <form @submit.prevent="validateBeforeSubmit" novalidate="" role="login">
                <div class="row">
                    <div class="col-xs-12 col-md-12" :class="[errorBag.first('email') ? 'is-invalid' : '']">
                        <div class="form-group">
                            <label for="login_email">Email Address</label>
                            <d-input 
                            id="login_email"
                            aria-label="Email address"
                            tab-index="-1"
                            v-validate="'required|email'"
                            type="email" 
                            name="email" 
                            class="form-control" 
                            v-model="form.email"
                            data-vv-name="email" 
                            placeholder="Enter your email address" 
                            :class="[errorBag.first('email') ? 'is-invalid' : '']"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <label for="login_password">Password</label>
                            <d-input 
                            id="login_password"
                            aria-label="Password"
                            type="password"
                            tab-index="-1"
                            :maxlength="25" 
                            v-validate="'required'"
                            data-vv-as="password"
                            data-vv-name="password"
                            v-model="form.password"
                            name="password" 
                            class="form-control" 
                            placeholder="Enter your account password" 
                            :class="[errorBag.first('password') ? 'is-invalid' : '']"/>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-equal">
                        <div class="form-group">
                            <d-checkbox 
                            v-model="form.selected" 
                            role="checkbox"
                            aria-checked="true"
                            name="remember_me" 
                            value="remember">
                            Remember me
                        </d-checkbox>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 text-right col-equal" v-if="false">
                    <div class="form-group">
                        <a
                        @click.prevent="$emit('show-login')" role="button">
                        <span class="forgot-password-text">Forgot Password?</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-12">
                <c-alert v-if="showAlert"></c-alert>
            </div>
            <div class="col-xs-6 col-md-12">
                <d-button
                class="btn-md"
                type="submit"
                tab-index="0"
                :class="[ loading ? 'show-spinner' : '']">
                <span>Log In</span>
                <c-loader></c-loader>
            </d-button>
        </div>
    </div>
</form>
</div>
</div>
</template>

<script>
    export default {
        data () {
            return {
                showAlert: false,
                form: {
                    email: '',
                    password: '',
                },
                errorMessage: window.errorMessage,
                successMessage: window.successMessage,
                loading: false,
            }
        },
        mounted() {
            this.$auth.options.loginUrl = '/api/auth/login/admin'
        /*self = this
        this.$nextTick(function () {
            setTimeout(function(){
                self.errorMessage='';
            }, 5000);
        })*/
    },
    //  watch: {
    //     message(value){
    //         this.successMessage = value
    //     }
    // },
    computed: {
        submitUrl() {
            return this.requestUrl;
        },
        popupThemeValue() {
            if (this.errorMessage) {
                return 'danger';
            }
            if (this.successMessage) {
                return 'success';
            }
        }
    },
    methods: {
        redirectToDashboard() {
            this.$router.push({ name: 'conduct-incidents' });
        },

        validateBeforeSubmit() {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.login()
                    this.errorMessage = ''
                    return;
                }
                this.errorMessage = this.errorBag.all()[0];                             
                setTimeout(function(){
                    // alert(this.errorMessage);
                    this.errorMessage='';
                    this.loading = false
                }, 5000);
            });
        },

        login: function () {
            var this_ = this;
            let self=this;
            this.loading = true
            window.successMessage = ""
            if(!this.$auth.isAuthenticated()){
                this.$auth.login(this.form).then(function (response) {
                    self.loading = false;
                    let user = response.data.response.data;
                    this_.$store.commit('setAuthUser', user);
                    if(user.role_id == 4 || user.role_id == 6){
                        this_.$router.push({ name: 'student-portal-list-view' });
                    }else{
                        this_.$router.push({ name: 'conduct-incidents' });
                    }
                }).catch(error => {
                    this.loading = false
                    this_.errorMessage  =error.response.data.errors.email[0];
                    setTimeout(function(){
                        this_.errorMessage='';
                        this.loading = false
                    }, 5000);
                })
            }else{

                setTimeout(function(){
                    this.loading = false
                    location.reload();
                }, 5000);
            }
        },
    },
}
</script>
