<template>
    <div class="panel login-section">
        <div class="login-panel">
            <c-logo></c-logo>
            <p>{{ message }}</p>
        </div>
        <div class="panel-inner p-b-0">
            <div class="colum-btm-space card">
                <div class="card-body">
                    <div class="inner max-login-wth">
                        <div class="auth-panel">

                            <!-- Show Alert -->
                            <alert v-if="showAlert" role="alert"></alert>

                            <!-- Show Login Form -->
                            <c-login
                                v-if="tabVal == 'login'"
                                @show-login="showForgot">
                            </c-login>

                            <!-- Show Forgot Form -->
                            <c-forgot
                                v-if="tabVal == 'forgot'"
                                @show-login="showLogin"
                                @show-inbox="showInbox">
                            </c-forgot>

                            <!-- Check your Inbox -->
                            <c-check-inbox
                                v-if="tabVal == 'new-inbox'"
                                @show-login="showLogin">
                            </c-check-inbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="auth-footer">
            <auth-footer
                @contact-us-popup="contactUsPopup = true">
            </auth-footer>
        </div>

        <contact-us-popup :showModalProp="contactUsPopup" @hide-modal-value="closeAllPopup"></contact-us-popup>

    </div>
</template>

<script>

export default{
    data () {
        return {
            contactUsPopup: false,
            showAlert: false,
            tabVal: 'login',
            message: 'Log in to access your account',
        }
    },
    methods: {
        showLogin() {
            this.tabVal = 'login'
            this.message = 'Log in to access your account'
        },
        showForgot() {
            this.tabVal = 'forgot'
            this.message = 'Forgot Password?'
        },
        showInbox() {
            this.tabVal = 'new-inbox';
        },

        closeAllPopup(){
           this.contactUsPopup = false;
       },
    }
}
</script>