<template>
    <div>
        <!-- Reset Password -->
        <div class="login-form auth-forms active" v-show="screenShow == false">
            <form>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <input
                                type="password"
                                aria-label="New password"
                                tab-index="-1"
                                name="new_password"
                                id="newPassword"
                                class="form-control"
                                placeholder="Enter new password">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input
                                type="password"
                                aria-label="Confirm password"
                                tab-index="-1"
                                name="confirm_password"
                                id="confirmPassword"
                                class="form-control"
                                placeholder="Re-enter new password">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <d-button
                            size="md"
                            type="submit"
                            tab-index="0"
                        >
                            Confirm Changes
                            <loader></loader>
                        </d-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
export default {
    data () {
        return {
            screenShow: false,
        }
    },
}
</script>
