<template>
    <div class="reporting-container incident-response">
        <div class="reporting-section">
            <div class="row">
                <div class="col-md-12 panel-main-heading">
                    <h3>{{displaySettings.title}}</h3>
                </div>
            </div>
        </div>
        <div class="roport-msg">
            <h5>{{displaySettings.thank_you_title}}</h5>
            <p>
                {{displaySettings.thank_you_details}}
            </p>
            <p>
                For record your <strong>incident report number is {{ formId }}.</strong>
            </p>
            <p>
                <a
                    href="javascript:;" 
                    @click.prevent="$emit('show-report')">
                    Need to submit another incident report?
                </a>
            </p>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['displaySettings', 'formId'],
        data () {
            return {
                reportNumber: '#00002959'
            }
        },
    }
</script>
