<template>
    <div class="reporting-container incident-employee">
        <div class="reporting-section">
            <div class="row">
                <div class="col-md-12 panel-main-heading">
                    <h3>Student Conduct Incident Reporting Form</h3>
                    <d-button @click.prevent="redirectToDashboard()">Go Back</d-button>
                </div>
                <div class="col-md-12">
                    <div class="roport-msg">
                        <h5>This reporting form is NOT a 911 or Emergency Service</h5>
                        <p>
                            Do not use this site to report events presenting an immediate threat safety or security threat. If this is an emergency, please contact UMKC Campus Safety &amp; Police at +1 816-235-1000 or dial 911.
                        </p>
                        <p>
                            <strong>Note:</strong> Though anonymous reports are permitted, doing so may limit the University’s ability to investigate and respond to a complaint if the report cannot be validated. Those who are aware of misconduct are encouraged to report it as quickly as possible to the Office of Student Conduct and/or to Campus Safety and Police.
                        </p>
                    </div>
                </div>
            <d-form class="clearfix">
            <div class="col-md-12"><d-alert theme="success" role="alert" hide></d-alert></div>
            <div class="col-md-12">
                <div class="report-panel">
                    <div class="report-panel-heading">
                        <h4>Background Information</h4>
                        <p><i class="icon-exclamation-outline"></i> The following information should be completed by the individual(s) submitting the incident report.</p>
                    </div>
                        <div class="report-panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="full_name">Full Name</label>
                                        <d-input id="full_name" placeholder="Enter full name" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 empty-div"></div>
                                <div class="col-xs-12 col-sm-4 empty-div"></div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="position_title">Position/title</label>
                                        <d-input id="position_title" placeholder="Enter position or title" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="email_address1">Email Address</label>
                                        <d-input id="email_address1" v-model="form.email" placeholder="Enter email address" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 empty-div"></div>
                            </div>
                      </div>
                  </div>
                </div>
                <div class="col-md-12">
                <div class="report-panel">
                    <div class="report-panel-heading">
                        <h4>Involved Parties</h4>
                    </div>
                    <div class="report-panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label for="individual_organizer">Individual or Organization</label>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <d-form-radio inline name="individual_organizer" value="individual"
                                            role="radio"
                                            aria-checked="true"
                                            >Individual</d-form-radio>
                                        </div>
                                        <div class="col-sm-6">
                                            <d-form-radio inline name="individual_organizer" value="organization"
                                            role="radio"
                                            >Organization</d-form-radio>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label for="involved_parties_name">Name</label>
                                    <d-input id="involved_parties_name" placeholder="Enter involved part name" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group selectBox">
                                    <label for="involved_parties_role">Role</label>
                                    <i class="icon-keyboard_arrow_down3"></i>
                                    <d-form-select
                                        v-model="selected_role"
                                        id="involved_parties_role">
                                        <option :value="incident">Choose role in incident</option>
                                        <option :value="accused">Accused</option>
                                        <option :value="staff">Staff</option>
                                        <option :value="victim">Victim</option>
                                        <option :value="witness">Witness</option>
                                        <option :value="compliant">Compliant</option>
                                        <option :value="respondent">Respondent/Offender</option>
                                    </d-form-select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label for="university_id">University ID Number</label>
                                    <d-input id="university_id" class="number-field" type="number" placeholder="Enter university id number (optional)" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label for="phone_no">Phone Number</label>
                                    <d-input class="number-field" type="number" id="phone_no" placeholder="Enter phone number (optional)" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label for="email_address">Email Address</label>
                                    <d-input id="email_address" v-model="form.email" placeholder="Enter email address (optional)" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-md-12">
                                <d-button theme="link">+ Add another</d-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="report-panel">
                    <div class="report-panel-heading">
                        <h4>Incident Information</h4>
                    </div>
                    <div class="report-panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group selectBox">
                                    <label for="incident_type">Incident Type</label>
                                    <i class="icon-keyboard_arrow_down3"></i>
                                    <d-form-select 
                                        v-model="selected_role"
                                        id="incident_type"
                                    >
                                        <option :value="incident">Choose incident type</option>
                                        <option value="2">Academic Integrity</option>
                                        <option value="3">Alleged Violation</option>
                                        <option value="4">Behavioral Intervention</option>
                                        <option value="5">Campus Safety</option>
                                        <option value="6">Duty Round</option>
                                        <option value="7">Alcohol</option>
                                        <option value="8">Drugs</option>
                                        <option value="9">Violence</option>
                                        <option value="10">Sexual Misconduct</option>
                                        <option value="11">Behaviorial Concern</option>
                                        <option value="12">FYI/Informational</option>
                                        <option value="13">Incident Report</option>
                                        <option value="14">Police Report</option>
                                        <option value="15">Academic Affairs Concern</option>
                                        <option value="16">Title IX</option>
                                        <option value="17">NAC Review Request</option>
                                        <option value="18">Off Campus</option>
                                        <option value="19">Noise violation</option>
                                        <option value="20">Tobacco Violation</option>
                                    </d-form-select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 empty-div"></div>
                            <div class="col-xs-12 col-sm-4 empty-div"></div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group selectBox">
                                    <label for="incident_date">Date of incident</label>
                                    <i class="icon-calendar"></i>
                                    <d-datepicker
                                        class="with-icon datepicker-icon"
                                        id="incident_date"
                                        v-model="form.date"
                                        placeholder="MM / DD / YYYY"
                                        typeable />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group selectBox">
                                    <label for="incident_time">Time of incident (optional)</label>
                                    <i class="icon-clock"></i>
                                    <vue-timepicker
                                        name="schedule_end_time"
                                        class="with-icon datepicker-icon form-control"
                                        id="incident_time"
                                        v-model="form.time"
                                        format="HH:mm:ss"
                                        placeholder="End Time">
                                    </vue-timepicker>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 empty-div"></div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group selectBox">
                                    <label for="incident_location">Location of incident</label>
                                    <i class="icon-keyboard_arrow_down3"></i>
                                    <d-form-select 
                                        v-model="selected_role"
                                        id="incident_location"
                                    >
                                        <option :value="incident">Choose role in incident</option>
                                        <option :value="bolden">Bolden</option>
                                        <option :value="edgren">Edgren</option>
                                        <option :value="getsch">Getsch</option>
                                        <option :value="hertiage">Hertiage</option>
                                        <option :value="hoobier">Hoobier</option>
                                        <option :value="england">England Hall</option>
                                        <option :value="miller">Miller-Kamm North</option>
                                        <option :value="adminstration">Adminstration Building/Grady Clack</option>
                                        <option :value="cafeteria">Cafeteria</option>
                                        <option :value="union">Student Union</option>
                                        <option :value="reynolds">Reynolds Building</option>
                                        <option :value="diesel">Diesel Heavy Building 2</option>
                                        <option :value="gopo">GOPO Hall</option>
                                        <option :value="library">Library</option>
                                        <option :value="noble">Noble Center</option>
                                    </d-form-select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group selectBox">
                                    <label for="location_specific">Specific Location</label>
                                    <i class="icon-keyboard_arrow_down3"></i>
                                    <d-form-select v-model="selected_role"
                                    id="location_specific">
                                        <option :value="incident">Choose role in incident</option>
                                        <option :value="on_campus">On Campus</option>
                                        <option :value="off_campus">Off Campus</option>
                                        <option :value="residence_hall">Residence Hall</option>
                                        <option :value="hall_room_1">Hall Room 1</option>
                                        <option :value="hall_room_2">Hall Room 2</option>
                                        <option :value="hall_room_3">Hall Room 3</option>
                                        <option :value="front_hall_desk">Front Hall Desk</option>
                                        <option :value="residence_hall_parking_lot">Residence Hall Parking Lot</option>
                                        <option :value="dining_area">Dining Area</option>
                                        <option :value="outdoor_dining_area">Outdoor Dining Area</option>
                                        <option :value="kitchen">Kitchen</option>
                                        <option :value="food_line">Food Line</option>
                                        <option :value="cafeteria_bathroom">Cafeteria Bathroom</option>
                                        <option :value="vp_office">VP Office</option>
                                        <option :value="admission_office">Admission Office</option>
                                        <option :value="bathroom">Bathroom</option>
                                        <option :value="classroom">Classroom A</option>
                                        <option :value="faculty">Faculty Office</option>
                                    </d-form-select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 empty-div"></div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <div class="form-group">
                                    <label for="involved_incident" class="checkbox-heading">Please indicate if any of the following were involved in this incident:</label>
                                    <d-checkbox
                                        v-model="selected"
                                        role="checkbox"
                                        aria-checked="true"
                                        name="involved_incident"
                                        value="lcohol">
                                        Alcohol
                                    </d-checkbox>
                                    <d-checkbox
                                        v-model="selected"
                                        role="checkbox"
                                        name="involved_incident"
                                        value="drugs">
                                        Drugs
                                    </d-checkbox>
                                    <d-checkbox
                                        v-model="selected"
                                        role="checkbox"
                                        name="involved_incident"
                                        value="weapons">
                                        Weapons
                                    </d-checkbox>
                                    <d-checkbox
                                        v-model="selected"
                                        role="checkbox"
                                        name="involved_incident"
                                        value="assault">
                                        Physical assault/violence
                                    </d-checkbox>
                                    <d-checkbox
                                        v-model="selected"
                                        role="checkbox"
                                        name="involved_incident"
                                        value="misconduct">
                                        Sexual misconduct
                                    </d-checkbox>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <div class="form-group">
                                    <label for="indicate_assistance" class="checkbox-heading">Please indicate if you called for assistance from any of the following or any of the following services were on scene:</label>
                                    <d-checkbox
                                        v-model="selected"
                                        name="indicate_assistance"
                                        role="checkbox"
                                        aria-checked="true"
                                        value="security">
                                        Campus Security &amp; University Police
                                    </d-checkbox>
                                    <d-checkbox
                                        v-model="selected"
                                        name="indicate_assistance"
                                        role="checkbox"
                                        value="rescue">
                                        Fire Rescue
                                    </d-checkbox>
                                    <d-checkbox
                                        v-model="selected"
                                        name="indicate_assistance"
                                        role="checkbox"
                                        value="violence">
                                        Physical assault/violence
                                    </d-checkbox>
                                    <d-checkbox
                                        v-model="selected"
                                        name="indicate_assistance"
                                        role="checkbox"
                                        value="elon">
                                        Elon AOC (Administrator on Call)
                                    </d-checkbox>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group selectBox">
                                            <label for="custom_field">Custom Field</label>
                                            <i class="icon-keyboard_arrow_down3"></i>
                                            <d-form-select v-model="selected_role"
                                            id="custom_field">
                                                <option :value="incident">Choose custom field value</option>
                                            </d-form-select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="another_custom_field">Another Custom Field</label>
                                            <d-input v-model="inputValue" placeholder="Enter another custom field value"
                                            id="another_custom_field" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12"><hr /></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="incident_details">Incident Details</label>
                                        <d-form-textarea v-model="text"
                                            placeholder="Enter something"
                                            id="incident_details"
                                            :rows="3"
                                            :max-rows="6">
                                        </d-form-textarea>
                                        <p class="report-content">
                                            Please provide a detailed description of the incident/concern using specific, concise and objective language (Who, what, when, where, and how).
                                            Each individual listed as "involved" should appear in your incident description.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="report-panel">
                        <div class="report-panel-heading">
                            <h4>Supporting Documentation</h4>
                        </div>
                        <div class="report-panel-body">
                            <label for="upload_documentation">Please upload any supporting documentation that may provide additional context to the incident report (pictures, text messages, emails, etc.).</label>
                                <div class="row">
                                    <div class="col-md-12">
                                            <div class="file_upload_block">
                                                <h4>Click here or drag &amp; drop file here to upload</h4>
                                                <p>Support file format are JPG, PNG, BMP, MP3, MP4, DOCX, XLS, PPT and PDF</p>
                                                <input type="file" name="upload_file"
                                                id="upload_documentation" />
                                            </div>
                                        </div>
                                        <div class="col-md-12"><hr /></div>
                                        <div class="col-md-12">
                                            <d-btn theme="primary" size="lg"
                                                @click.prevent="$emit('show-report')">
                                                <span>Submit Report</span>
                                                <c-loader></c-loader>
                                            </d-btn>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </d-form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import VueTimepicker from 'vue2-timepicker';
    export default {
        components: { VueTimepicker },
        data () {
            return {
              form: {
                email: '',
                date: '',
                time: '',
              }
            }
        },
        methods: {
            redirectToDashboard() {
                this.$router.push({name: 'conduct-incidents'});
            }
        },
    }
</script>
