<template>
    <div class="main-wrapper">
        <incident-reporting-employee
            v-if="tabVal == 'reporting'"
            @show-report="reportMsg"
        ></incident-reporting-employee>
        <incident-report-employee
            v-if="tabVal == 'report-msg'"
            :formId='formId'
            :displaySettings='displaySettings'
            @show-report="showReporting"
        ></incident-report-employee>
    </div>
</template>
<script>
    export default{
        data () {
            return {
                tabVal : 'reporting',
                formId: null,
                displaySettings: ''
            }
        },
        created() {
            alert(22);
        },
        methods: {
            showReporting(){
                this.tabVal = 'reporting'
            },
            reportMsg(formId, displaySettings){
                this.formId = formId;
                this.displaySettings = displaySettings;
                this.tabVal = 'report-msg'
            },
        }
    }
</script>