<template>
    <div class="router-section-view">
        <div class="report-top">
            <div class="report-heading">
                <h3>{{ $route.meta.title }}</h3>
            </div>
            <div class="filter-list">

            </div>
        </div>

        <!-- Case Grid View Start -->
        <div class="case-grid-view clearfix">
            <no-record-found v-if="noRecordFound"></no-record-found>
            <div class="row">
                <div
                    v-for="(item , index) in items"
                    :key="index"
                    class="col-md-3 col-xs-12"
                >
                    <div class="case-box">
                        <div class="case-main">
                            <h3>
                                <router-link class="cases-head" :to="{ name: 'custom-report.view' , params : { id : item.saved_report_id}}" role="button">
                                {{ item.title }}
                            </router-link>
                            </h3>
                            <a
                                href="javascript:void(0);"
                                class="edit_report"
                                @click="showScheduleReportPopup(item)" role="button">
                                <i class="icon-edit"></i>
                            </a>
                        </div>
                        <div class="case-staging">
                            <div class="case-listing">
                                <p>Created by: <strong>{{ item.created_by | fullName }}</strong></p>
                            </div>
                            <div class="case-listing">
                                <p>Send to: <strong>{{ item | availableUsersLabel }}</strong></p>
                            </div>
                            <div class="case-listing">
                                <p>Repeat: <strong>{{ item | repeatReportLabel }}</strong></p>
                            </div>
                        </div>
                        <div class="case-footer">
                            <router-link
                                :to="{name: 'custom-report-builder', params : { id : item.saved_report_id}}" role="button">
                                Modify
                            </router-link>
                            <router-link 
                                :to="{ name: 'custom-report.view' , params : { id : item.saved_report_id}}" role="button">
                                View
                            </router-link>
                            <a
                                href="javascript:void(0);"
                                @click="showDeletePopup(item)"
                                class="danger-link" role="button">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Case Grid View End -->
        <common-methods
        :url="requestUrl"
        @get-response="getResponse"
        ></common-methods>

        <confirm-alert
        @form-deleted="reSendCall"
        :showModalProp="showDeleteModal"
        :title="'Confirm'"
        :description="'Are you sure you want to delete this report?'"
        :url="deleteUrl"
        :submitType="'delete'"
        :formData="items"
        @hide-modal="showDeleteModal = false;"
        >
        </confirm-alert>
    </div>
</template>

<script>
    import VueTimepicker from 'vue2-timepicker';
    import Selectize from 'vue2-selectize';
    export default {
        components: {
            VueTimepicker,
            Selectize,
        },
        props : [
            'force'
        ],
        computed:{
            requestUrl(){
                return this.url;
            },
            requestScheduledReportUrl(){
                return this.scheduledReportUrl;
            },
        },
        data () {
            return {
                noRecordFound : false,
                url : 'api/schedule-report?pagination=true',
                items:[],
                showDeleteModal: false,
                deleteUrl : '',
                reportListing:[
                ],
            }
        },
        methods:{
            getResponse(response){
                if(Object.keys(response.data).length){
                    for (var i = 0; i < response.data.length; i++) {
                        this.items.push(response.data[i]);
                    }
                }
                this.noRecordFound = response.noRecordFound;
            },
            showDeletePopup(response){
                this.showDeleteModal = true;
                this.deleteUrl = 'api/schedule-report/'+ response._id;
            },
            showScheduleReportPopup(value){
                value.status = 1;
                value.show_data = true;
                this.$emit('schedule-report-popup', value);            
            },
            reSendCall(){ 
                this.items = [];
                let newDate  = new Date().getMilliseconds();
                this.url = this.url + '&time='+newDate;
            }
        },
        watch : {
            force(){
                this.reSendCall()
            }
        }
    }
</script>
