<template>
	<div class="col-md-6">
		<div v-if="checklistDataValue" class="card modified-card workflows-content-card">
			<div class="card-header">
				<h3>{{ titleHeading }}</h3>
				<div class="checklist-code-row">

					<div class="form-group">
                        <d-input 
						v-model="formData.name" 
						v-validate="{ required: true, max:150 }"
						data-vv-name="checklist" 
						:class="[errorBag.first('checklist') ? 'is-invalid' : '']" 
						placeholder="Add new checklist item" 
						autocomplete="off" />
                    </div>

				</div>
				<div class="worflow-add">
					<d-btn theme="secondary" @click.prevent="validateBeforeAdd()">
						<span><d-img src="images/plus.svg" /></span>
						<c-loader></c-loader>
					</d-btn>
				</div>
				<div class="">
					<d-alert v-if="errorMessage || checklistSuccessMessage" class="clearfix" :theme="updatePopupThemeValue" show>
                        {{ errorMessage ? errorMessage : checklistSuccessMessage }}
                    </d-alert>
				</div>
			</div>
			<div class="card-content">
				<div class="case-detail">
					<ul>
                    <draggable
						v-model="checklistDataValue.checklist"
						class="dragArea"
						:options="{group:'people'}">
							<li v-for="(row, index) in checklistDataValue.checklist" :key="index">
								<i class="icon-change-status drag-icon"></i>
									{{ row.name }}
                                <div class="case-detail-icon">
									<i :class="['icon-edit', row.has ? 'disabled' : '']"
										@click="editChecklist = true;
										formDataCheck = row; 
										formCheckIndex = index; ">
									</i>
									<i class="icon-delete" 
										@click="deleteChecklist(index)">		
									</i>
								</div>
							</li>
					</draggable>
                    </ul>

                	<d-btn 
						:class="[ loading ? 'show-spinner' : '']" 
						@click.prevent="update()" theme="primary">
						<span>Update Checklist</span>
						<c-loader></c-loader>
					</d-btn>
					<d-alert v-if="successMessage" :theme="updatePopupThemeValue" show>
						{{ successMessage }}
					</d-alert>
			</div>	
	</div>
</div>

	<common-methods
		@form-updated="formUpdated"
		:submitUrl="submitUrl"
		:submitType="submitType"
		:formData="checklistDataValue"
		:submit="submit">
	</common-methods>

	<edit-checklist-popup 
		@hide-modal-value="editChecklist = false; formDataCheck = '';" 
		:formDataVal="formDataCheck" 
		:checklistData="checklistDataValue" 
		:showModalProp="editChecklist" 
		:formCheckIndex="formCheckIndex"
		@form-submitted="formSubmitted">
	</edit-checklist-popup>

	<checklist-delete
		@form-updated="formUpdated"
		@hide-modal-value="deletePopup = false"
		:deleteIndex="deleteIndex"
		:checklistData="checklistDataValue"
		:showModalProp="deletePopup">
	</checklist-delete>

</div>

</template>

<script>

import Selectize from 'vue2-selectize';
import draggable from 'vuedraggable';

export default {

	components: {
		Selectize,
		draggable,
	},

	props: [
		'titleHeading',
		'checklistData'
    ],
    
	data() {
		return {
			deletePopup: false,
            editChecklist: false,
			errorMessage : '',
			successMessage : '',
			checklistSuccessMessage: '',
			loading : false,
			formData: {
				name: '',
				sort_order: null,
			},
			submit : false,
			submitType : "update",
			checklistDataValue : '',
			formDataCheck: {
				name: '',
			},
			formCheckIndex: '',
			deleteIndex: '',
			value: null
		}
    },
    
	mounted (){
		if(this.checklistData){
			this.checklistDataValue = this.checklistData;
		}
	},

	methods: {


		validateBeforeAdd() {
			let self = this;
			this.$validator.validateAll().then((result) => {
			if (result) {
				
				let checklists = this.checklistDataValue.checklist;
				let passing = true;

				checklists.forEach(function(checklist) {
				if (checklist.name === self.formData.name.trim()) {
					passing = false;
				}
				});

					if(!passing){
						this.errorMessage = "Checklist entry already exists.";
						
						setTimeout(function(){
							self.errorMessage = '';
						},2000);

						setTimeout(function () {
							self.errorBag.clear();
						}, 100);
						
					}else{

						this.formData.has = true;
						this.checklistDataValue.checklist.push(JSON.parse(JSON.stringify(this.formData)));
						this.$toasted.show("Checklist has been added. Please click on Update Checklist to save the changes.", {
							theme: "bubble",
							position: "bottom-right",
							duration : 3000,
							type: ['info'],
							singleton: true,
							icon : '',
							className: 'info-toast alert-info',
						});
						
						setTimeout(function () {
							self.checklistSuccessMessage = '';
						}, 2000);
						
						setTimeout(function () {
							self.errorBag.clear();
						}, 100);

						this.formData.name = "";
					}

					return;

				}

				if(this.errorBag.all()[0] === 'The checklist field may not be greater than 150 characters.'){
                    this.errorMessage = ' 150 character limit reached';
				}else if(this.errorBag.all()[0] === 'The checklist field is required.'){
					this.errorMessage = ' Checklist name is required.';
				}else{
                    this.errorMessage = this.errorBag.all()[0];
				}

				setTimeout(function () {
					self.errorBag.clear();
				}, 2000);

				setTimeout(function(){
                   self.errorMessage = '';
               	},2000);

			});
		},

		deleteChecklist(index) {
			let self = this;
			if(this.checklistDataValue.checklist.length >= 2){
				this.deletePopup = true;
				this.deleteIndex = index;
			}else{
				this.errorMessage = 'Checklist item cannot be less than 1';
			}

			setTimeout(function(){
               self.errorMessage = '';
            },2000);
		},

		formUpdated(response){
			let self = this;
			this.submit = false;
			this.loading = false;
			if(response.message === 'Checklist updated successfully.'){
				this.successMessage = 'The checklist has been updated successfully.';
			}

			this.checklistDataValue = JSON.parse(JSON.stringify(response.data));
			_.forEach(this.checklistDataValue.checklist, function(value, key) {
				value.sort_order = key;
				value.has = false;
			});

			this.$emit('form-updated', response);
			
			setTimeout(function () {
				self.errorBag.clear();
			}, 100);

			setTimeout(function() {
				self.successMessage = '';
			}, 2000);
		},

		formSubmitted(response) {
			let self = this;
			this.loading = false;
			this.checklistDataValue = response;
		},

		update() {
			this.errorMessage = '';
			this.submit = true;
			this.loading = true;
			this.formData.has = false;
		},
		HideModalValue() {
			deletePopup: false,
			this.editChecklist = false;
			this.formDataCheck = {
				name : ''
			};
		},
	},

	computed: {

		submitUrl(){
			return 'api/checklist/' + this.checklistData._id; 
		},

		updatePopupThemeValue() {
			if(this.errorMessage){
				return 'danger';
			}
			if(this.successMessage){
				return 'success';
			}
		},

	},

	watch: {
		checklistData(value){
			if(value){
				_.forEach(value.checklist, function(value, key) {
					value.sort_order = key;
					value.has = false;
				});
				this.checklistDataValue = JSON.parse(JSON.stringify(value));
			}
		}
	}
}
</script>