<template>
	<div class="config-body workflows-wrapper">
		<div class="col-md-12"> 
			<div
				class="workflows-types card modified-card"
				v-for="(list, index) in listing"
				:key="index"
				:class="{ activeList : currentIndex == index }"
				@click.prevent="$emit('get-value' , list) , currentIndex = index"
				>
				<p class="workflow-title">
					{{ list.incident_type }}
					<span>{{list.checklist_count}} Checklist items</span>
				</p>
				<i class="rt-arrow icon-keyboard_arrow_right"></i>
			</div>
		</div>	

		<common-methods 
		    @get-response="getResponse"
		    :url="requestUrl"
		    :infiniteLoad="false"
		    >
		</common-methods>
		<no-record-found v-if="this.noRecordFound"></no-record-found>

	</div>
</template>
<script>
export default{
	
	props: ['updateStage','updatedIncidentType'],

	data() {
		return{
			loading : false,
			url : 'api/checklist',
			listUrl : '',
			listing: [],
			currentIndex: '',
			noRecordFound: false,
		}
	},
	
	mounted(){
        this.composeUrl();
    },
	
	computed : {
		requestUrl(){
            return this.listUrl;
		},
	},

	methods: {
		getResponse(response) {
			let self = this;
			let url = self.listUrl;
			if(self.updatedIncidentType > 0){

				self.$http.get(url).then(response=>{
					response = response.data;
                    this.listing = response.data; 
                
					self.listing.find(function(element) {
					if(element.incident_type_id == self.updatedIncidentType){

						self.$emit('get-value', element);
						}
					});
                 
                });

                }else{
					if(Object.keys(response.data).length){
						for (var i = 0; i < response.data.length; i++) {
							this.listing.push(response.data[i]);
						}
					}

					this.noRecordFound = response.noRecordFound;
                    this.$emit('get-value' , self.listing[0]);
            }
		},
		composeUrl(){
            this.listUrl = this.url + '?pagination=true';
        },
	},
	watch: {
		updateStage(value){
			this.getResponse(value);
		}
	}
}
</script>