<template>
    <div class="add-appeal-outcome-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose">
            <d-modal-header>
                <d-modal-title>Delete Item</d-modal-title>
            </d-modal-header>
            
            <d-modal-body>
                <p class="modal-des">

                    <d-alert v-if="errorMessage || deleteSuccessMessage" :theme="deletePopupThemeValue" show>

                        {{ errorMessage ? errorMessage : deleteSuccessMessage }}

                    </d-alert>

                    Are you sure you want to delete this item?
                </p>
            </d-modal-body>
            
            <d-modal-footer>
                <d-btn @click="archive" :class="[ loading ? 'show-spinner' : '']">
                    <span>Yes</span>
                    <c-loader></c-loader>
                </d-btn>
                <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>

        </d-modal>

    <common-methods 
        @form-updated="formUpdated"
        @form-error="formError"
        :submitUrl="submitUrl"
        :submit="submit"
        :formData="formData"
        :submitType="submitType"
        >
    </common-methods>

</div>
</template>

<script>
export default {

    props: ['showModalProp','deleteIndex','checklistData'],

    data() {
        return {
            showModal: false,
            modalSize: 'sm',
            errorMessage : '',
            deleteSuccessMessage : '',
            formData : '',
            submit : false,
            loading : false,
            submitType : "update",
            index: '',
            checklistDataValue: '',
            requestUrl : 'api/checklist',
        }

    },

    computed : {
        submitUrl(){
            return 'api/checklist/'+this.checklistDataValue._id;
        },
        deletePopupThemeValue(){
            if(this.errorMessage){
                return 'danger';
            }
            if(this.deleteSuccessMessage){
                return 'success';
            }
        }
    },
    mounted (){
        if(this.postType){
            this.submitType = this.postType;
        }
    },

    methods: {
        handleClick() {
            this.showModal = true
            this.deletePopup = true;

        },
        handleClose() {
            this.showModal = false;
            this.deletePopup = false;
            this.loading = false;
            this.deleteSuccessMessage = '';
            this.errorMessage = '';
            this.$emit('hide-modal-value');
        },
        formError(response){

            let self = this;
            this.submit = false;
            this.loading = false;

            _.forEach(response.errors, function(value, key) {
                self.errorMessage =  response.errors[key][0];
                return false;
            });

        },
        formUpdated(response){
            this.clearDetails(response);
            this.$emit('form-updated', response);
        },
        clearDetails(response){
            let self = this;
            setTimeout(function(){
                self.handleClose();
                self.showModal = false;
                self.deletePopup = false;
                self.loading = false;
            } , 2000);
            this.deleteSuccessMessage = response.message;
            this.submit = false;
        },
        archive(){
            this.checklistDataValue.checklist.splice(this.index,1);
            this.formData = this.checklistDataValue;
            this.submit = true;
            this.loading = true;
            this.errorMessage = '';
            return;
        }
    },

    watch:{
        url (value){
            this.requestUrl = value;
        },
        showModalProp(value) {
            if(value){
                this.showModal = true
            }
            if(!value){
                this.showModal = false
            }
        },
        checklistData(value){
            if(value){
                this.checklistDataValue = this.checklistData;
            }
        },
        deleteIndex(value){
            this.index = value;
        },
        postType(value){
            if(value){
                this.submitType = value;
            }
        }
    },

}
</script>