<template>
    <div>
		<div class="row">
			<div class="col-md-12">
				<div class="config-top">
					<div class="float-left filter-left">
						<h3>Checklist</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<checklist 
				:updateStage="updateStageList"
				:updatedIncidentType="updatedIncidentTypeId"
			 	@get-value="getChecklist">
			</checklist>
			
			<checklist-flow
				:checklistData="checklistData" 
				:checklist="checklist" 
				:titleHeading="titleHeading"
				@form-updated="reSendCall">
			</checklist-flow>
		</div>

    </div>
</template>

<script>
	export default {
		
		data() {
			return {
				titleHeading: '',
				checklist: '',
				checklistData: '',
				updateStageList:[],
				updatedIncidentTypeId: '',
			}
		},

		mounted() {
			this.getChecklist(this.checklistData);
		},

		watch: {
			$route() {
				this.checklistData(this.checklistData);
			}
		},

		methods: {
			getChecklist(value) {
				if(value) {
					this.titleHeading = value.incident_type;
					this.checklist = value.checklist;
					this.checklistData = value;
				}
			},
			reSendCall(response){
				this.updateStageList = response;
				this.updatedIncidentTypeId = response.data.incident_type_id;
            }
		}

	}
</script>