<template>
    <div>
        <div class="table table-lite top-left-radius pl-thead-0">
            <table class="table mb-0 ">
                <thead class="bg-light">
                    <tr class="thead-with-icon">
                        <th
                        scope="col"
                        class="text-center"
                         style="width: 74px;">
                        </th>
                        <th
                        @click="sortBy('id')"
                        scope="col"
                        style="width: 130px;">
                        Employee No.
                        <i :class="['icon-sort', isIdSort? 'rotate-ico': '']"></i>
                        </th>
                        <th
                        @click="sortBy('fn')"
                        scope="col"
                        style="width: 116px;">
                        First Name
                        <i :class="['icon-sort', isFnSort? 'rotate-ico': '']"></i>
                        </th>
                        <th
                        @click="sortBy('mn')"
                        scope="col"
                        style="width: 126px;">
                        Middle Name
                        <i :class="['icon-sort', isMnSort? 'rotate-ico': '']"></i>
                        </th>
                        <th
                        @click="sortBy('ln')"
                        scope="col"
                        style="width: 126px;">
                        Last Name
                        <i :class="['icon-sort', isLnSort? 'rotate-ico': '']"></i>
                        </th>
                        <th
                        scope="col"
                        style="width: 200px;">
                        Email Address
                        </th>
                        <th
                        scope="col"
                        style="width: 140px;">
                        Employee Status
                        </th>
                        <!-- @click="sortBy('role')" -->
                        <th
                        scope="col"
                        style="width: 160px;">
                        Role
                        <!-- <i :class="['icon-sort', isRoleSort? 'rotate-ico': '']"></i> -->
                        </th>
                        <th
                        scope="col"
                        style="width: 146px;">
                        Actions
                        </th>
                    </tr>
            </thead>
            <tbody>
                <tr v-for="list in cases">
                    <td>
                        <div :style="{ 'background-image': 'url(' + getImage(list.profile_image) + ')' }" class="student-image"> </div>
                    </td>
                    <td class="case-num-colmn sno-table-col">
                        <a href="javascript:void(0);" 
                        role="button"
                        @click="$emit('student-details-popup', list, 'profile_details')">
                            {{ list.enrollment_id ? list.enrollment_id : "-" }}
                        </a>
                    </td>
                    <td>{{ list.first_name }}</td>
                    <td>{{ list.middle_name }}</td>
                    <td>{{ list.last_name }}</td>
                    <td>
                        <a :href="'mailto:'+list.email" class="secondary-color"
                        role="button">
                            {{ list.email }}
                        </a>
                    </td>
                    <td>{{ list.status | toTitleCase }}</td>
                    <td>
                        <span v-if="!getUniqueRoles(list.incident_type_roles).length">No Role</span>
                        <span v-if="roleIndex < 1" v-for="(role, roleIndex) in list.incident_type_roles">
                            {{ role.role_detail.name }}

                        </span>


                        <a href="javascript:void(0);" v-if="getUniqueRoles(list.incident_type_roles).length > 1" class="moreitem" >&amp; {{getUniqueRoles(list.incident_type_roles).length - 1}} More

                        <div class="personare" style="color: #000000;">
                            <span v-if="roleIndex > 0" v-for="(role, roleIndex) in getUniqueRoles(list.incident_type_roles)">
                                {{ role.role_detail.name }}
                            </span>
                        </div>
                        </a>
                    </td>
                    <td class="icon-actions">
                            <a
                                href="javascript:void(0);"
                                role="button"
                                :class="[(list.id != user.id)? '' : 'disabled', 'mr-2']"
                                @click="$emit('student-details-popup', list, 'profile_details')"
                                >
                                <i class="icon-eye" v-tooltip.top-center="viewEmployeeDetail"></i>
                            </a>
                            <a
                                href="javascript:void(0);"
                                role="button"
                                :class="[((list.id == user.id) || (user.role_id == INCIDENTTYPEADMIN) && (list.role_id == SUPERADMIN) || checkStudentStaffRole(list.incident_type_roles))? 'disabled' : '']"
                                @click="$emit('role-popup', list)"
                                >
                                <i class="icon-settings" v-tooltip.top-center="viewRole"></i>
                            </a>
                    </td>
                </tr>
        </tbody>
    </table>
    <common-methods 
        @form-submitted="formSubmitted"
        @get-response="getResponse"
        @form-error="formError"

        :url="url"
        :submitUrl="submitUrl"
        :submitType="'post'"
        :formData="formData"
        :submit="submit"
        :direction="'top'"
        :force="force"
        :infiniteLoad="false"
        :hideLoader="true"
        :showLoadMore="false"
        :hidePagination="hidePagination"
        v-show="!noRecordFound"
        :paginationText="'Employee'"
        >
    </common-methods>
    <block-spinner v-if="!cases.length && !noRecordFound"></block-spinner>
    <no-record-found v-if="noRecordFound" class="mt-5 mb-5"></no-record-found>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <c-pagination></c-pagination>
    </div>
</div>
</div>
</template>

<script>
    export default{
        props: ['keyword', 'filterBy', 'isfilterKeyword', 'refresh'],
        data() {
        return {
                currentPage: 1,
                noRecordFound: false,
                viewEmployeeDetail: 'View Employee Information',
                viewRole: 'View Role',
                cases: [],
                submit : false,
                url : 'api/user?pagination=true&filter_by_type=employee',
                pagination : false,
                formData : {},
                submitUrl : 'api/user?pagination=true&filter_by_type=employee',
                force : false,
                ascending: 'ascending',
                baseUrl: 'api/user?pagination=true&filter_by_type=employee',
                listing: [],
                dummyImage: 'images/dummy/image-placeholder.jpg',
                isIdSort: false,
                isFnSort: false,
                isMnSort: false,
                isLnSort: false,
                isRoleSort: false,
                hidePagination: false,
                user: "",
                SUPERADMIN: 1,
                INCIDENTTYPEADMIN: 2,
                INCIDENTTYPEOFFICER: 3,
                STAFF: 4,
                STUDENTSTAFF: 5,
                STUDENT: 6,
            }
        },
        methods:{
            getUniqueRoles(roles) {
                return _.uniqBy(roles, 'role_id');
            },
            checkStudentStaffRole(roles) {
                return _.findIndex(roles, (role) => { return _.isMatch(role, {'role_id': 5}) }) > -1;
            },
            getImage(img) {
                return img? img: this.dummyImage;
            },

            sortIcon(id = false, fn = false, mn = false, ln = false, role = false) {
                this.isIdSort = id;
                this.isFnSort = fn;
                this.isMnSort = mn;
                this.isLnSort = ln;
                this.isRoleSort = role;
            },
            sortBy(sortKey) {
                this.$emit('onSort');
                switch(sortKey) {
                    case "id":
                        this.url = this.baseUrl + '&sort_by=employee_no';
                        this.sortIcon(!this.isIdSort);
                    break;  
                    case "fn":
                        this.url = this.baseUrl + '&sort_by=first_name'; 
                        this.sortIcon(false, !this.isFnSort, false, false, false);
                    break;  
                    case "mn":
                        this.url = this.baseUrl + '&sort_by=middle_name';
                        this.sortIcon(false, false, !this.isMnSort, false, false);
                    break;  
                    case "ln":
                        this.url = this.baseUrl + '&sort_by=last_name'; 
                        this.sortIcon(false, false, false, !this.isLnSort, false);
                    break;   
                    case "role":
                        this.url = this.baseUrl + '&sort_by=role'; 
                        this.sortIcon(false, false, false, false, !this.isRoleSort);
                    break;   
                    default:
                    return;
                }
                if(this.ascending == 'asc'){
                   // this.cases = this.listing.slice().reverse();
                    this.ascending = 'desc';
                    this.url = this.url + '&sort_order='+this.ascending;
                }
                else{
                    //this.cases = this.listing.slice().sort();
                    this.ascending = 'asc';
                    this.url = this.url + '&sort_order='+this.ascending;
                }
            },
            formSubmitted(response){
                this.submit = false;
                this.force = true;
            },
            formError(response){
                this.submit = false;
                this.force = true;
            },
            getResponse(response){
                this.submit = false;
                this.listing = response.data;
                this.pagination = response.pagination;
                this.noRecordFound = response.noRecordFound;
                if(response.data.length) {
                    this.hidePagination = false;
                }
            }
        },
        mounted(){
            this.cases = this.listing;
            this.user = JSON.parse(this.$store.getters.getAuthUser);
        },
        watch: {
            refresh(val) {
                if(val) {
                    this.force = true;
                }else {
                    this.force = false;
                }
            },
            listing(val) {
                this.listing = val;
                this.cases = val;
            },
            keyword(val) {
                var url = this.baseUrl;
                if(val) {
                    this.hidePagination = true;
                    url = url + '&keyword=' + this.keyword;

                    if(typeof(this.filterBy) != "undefined" && this.filterBy != 'all') {
                        url = url + '&filter_by_incident_role_id=' + this.filterBy;
                    }
                    this.url = url;
                    this.sortIcon();
                }else if(this.isfilterKeyword != 'sort'){
                    this.hidePagination = true;
                    if(typeof(this.filterBy) != "undefined" && this.filterBy != 'all') {
                        url = url + '&filter_by_incident_role_id=' + this.filterBy;
                    }
                    this.url = url;
                    this.sortIcon();
                }

            },
            filterBy(val) {
                var url = this.baseUrl;
                this.sortIcon();
                if(val != "all") {
                    url = url + '&filter_by_incident_role_id=' + val;
                }
                if(typeof(this.keyword) != "undefined" && this.keyword) {
                    url = url + '&keyword=' + this.keyword;
                }
                this.hidePagination = true;
                this.url = url;
            }
        }
    }
</script>
