<template>
    <div class="main-wrapper">
        <d-form>
            <div class="filter-left heading">
                <h3>Employees</h3>
            </div>
            <div class="filter-right">
                <ul>
                    <li>
                        <div class="search-panel w-250">
                            <d-input id="" class="" placeholder="Search employee by keyword" v-model="keyword" @change="onSearch"/>
                            <i class="icon-search"></i>
                        </div>
                    </li>
                    <li>
                        <div class="form-group filter-student mt-2-mob">
                            <selectize v-model="selectedValue" :settings="settings" class="selectize-control" @input="onChangeFilter"> <!-- settings is optional -->
                                <option value="all">All Roles</option>
                                <option :value="role.id" v-for="role in roles">{{role.name}}</option>
                                <!-- <option value="no">No Role</option> -->
                            </selectize>
                        </div>
                    </li>
                </ul>
            </div>
        </d-form>

        <!-- Employee Listing -->
        <employee-listing
            @student-details-popup="onEmployeeDetailsPopup"
            @role-popup="onRolePopup"
            @onSort="onSortCallback" 
            :refresh = "refreshList"
            :keyword="filterKeyword" 
            :filterBy="filterBy" 
            :isfilterKeyword="isfilterKeyword">
        </employee-listing>
        <student-details-popup :showModalProp="employeeDetailsPopup" @hide-modal-value="closeAllPopup" :type="popupType" :user="userId"></student-details-popup>
        <role-popup :showModalProp="rolePopup" @hide-modal-value="closeRolePopup" :record="rolePopupRecord" :userInfo="userInfo"></role-popup>
    </div>
</template>

<script>

import Selectize from 'vue2-selectize';

export default {

    components: { Selectize },

    data () {
        return {
            userInfo: {},
            userId: '',
            filterKeyword: '',
            keyword: "",
            popupType: '',
            isfilterKeyword: '',
            settings: {},
            employeeDetailsPopup:false,
            rolePopup: false,
            refreshList: false,
            rolePopupRecord: {},
            selectedValue: "all",
            settings: {},
            filterBy: null,
            studentProfileRecord: {},
            roles: [],
            isLoadRoles: false,
            options: [
                { value: null, text: 'Students Role' },
            ],
        }
    },

    methods:{
        onSortCallback() {
            this.keyword = "";
            this.filterKeyword = "";
            this.isfilterKeyword = "sort";
            this.selectedValue = "all";
        },
        onChangeFilter(val) {
            this.selectedValue = val? val : "all"
            this.filterBy = this.selectedValue;

        },
        onSearch() {
            this.filterKeyword = this.keyword;
            this.isfilterKeyword = "";
        },
        onEmployeeDetailsPopup(student) {
            let self = this;
            this.userId = student;
            this.popupType = "employee";
            this.employeeDetailsPopup = true;
        },
        closeAllPopup(){
           this.employeeDetailsPopup = false;
        },
        closeRolePopup(val){
           this.rolePopup = false;
           if(val) {
               this.refreshList = true;
           }
        },
        onRolePopup(employee){
            if(!this.isLoadRoles) {
                this.isLoadRoles = true;
                let employeeUrl = "api/user-incident-type?pagination=true&user_id=" + employee.id;
                this.userInfo = employee;
                this.$http.get(employeeUrl).then(response=>{
                    this.isLoadRoles = false;
                    response = response.data.data;
                    this.rolePopupRecord = response;
                    this.rolePopup = true;
                    this.refreshList = false;
                }).catch(error=>{
                    this.isLoadRoles = false;
                });
            }
        },
        getRoleList() {
            let self = this;
            let roleUrl = "api/role?pagination=true&filter_by_type=employee";
            self.$http.get(roleUrl).then(response=>{
                response = response.data.data;
                self.roles = response;
            }).catch(error=>{
            });
        },
    },
    mounted() {
        this.getRoleList();
    }
}
</script>
