<template>
    <div class="activities-section">
        <!-- activity tabs -->
        <div class="activitylist">
            <activity-tabs @changed-activity-tabs="switchTabsContent"></activity-tabs>
        </div>
        <div class="activitycontent">
            <div v-if="$route.meta.pageTypeCaseDetails">
                <logs-activity v-if="activitySelected == 'Log' || activitySelected == 'All'"></logs-activity>
                <email-activity v-if="activitySelected == 'Emails' || activitySelected == 'All'"></email-activity>
                <appeal-activity v-if="activitySelected == 'Appeal' || activitySelected == 'All'"></appeal-activity>
                <sanction-activity v-if="activitySelected == 'Sanction' || activitySelected == 'All'"></sanction-activity>
                <c-notes v-if="activitySelected == 'Notes' || activitySelected == 'All'"></c-notes>
                <attached-documents v-if="activitySelected == 'Files'"></attached-documents>
                <meeting-schedule v-if="activitySelected == 'Meetings'"></meeting-schedule>
                <checklist-activity v-if="activitySelected == 'Checklist'"></checklist-activity>
                <case-detail-activity v-if="activitySelected == 'Case Details' || activitySelected == 'All'"></case-detail-activity>
            </div>
            <div v-if="$route.meta.pageTypeNewCase">
                <case-detail-activity v-if="activitySelected == 'Case Details' || activitySelected == 'All'"></case-detail-activity>
            </div>
        </div>
    </div>
</template>

<script>
export default{
    data() {
        return {
            activitySelected: 'All',
        }
    },
    methods:{
        switchTabsContent(tab){
            this.activitySelected = tab;
        }
    },
}
</script>