<template>
    <div>
        <div>
            <div class="report-top">
                <div class="report-heading">
                    <h3>Generated Report {{ reportTitle ? '-' +' ' +reportTitle : ''}}</h3>
                </div>
                <div class="edit-query" v-if="authUser.id == userId">
                    <a @click="editQuery">
                        <i class="icon-edit" ></i>
                        <h3>Edit Query</h3>
                    </a>

                </div>
            </div>

            <div class="table table-lite top-left-radius scrollbar-horizantal generated-report-tbl" id="style-2" style="min-width: 500px;">
                <table v-if="!noRecordFound" class="table mb-0 ">
                    <thead class="bg-light">
                        <tr class="thead-with-icon">
                            <th
                            v-for="(listingHead, index) in listingHeads"
                            scope="col"
                            :key="index"
                            >
                            {{ listingHead.key | removePrefix | replaceSpecialCharacterWithSpace | toTitleCase }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="list in items">

                        <td v-if="columnValue" 
                        v-for="columnValue in list" 
                        class="case-num-colmn" 
                        v-tooltip.right="(columnValue && columnValue.length > 20) ? columnValue : ''">
                        {{ columnValue.toString().substring(0, 19) + (columnValue && columnValue.length > 20 ? '...' : '')}}
                    </td>

                    <td v-else
                    >
                    -
                </td>

            </tr>
        </tbody>
    </table>

    <no-record-found v-if="noRecordFound"></no-record-found>

</div>
</div>

<common-methods
:url="requestUrl"
@get-response="getResponse"
:hidePagination="false"
:force="forceValue"
></common-methods>


<c-pagination 
@page-changed="changePageNumber" 
:pagination="pagination" 
:hidePagination="noRecordFound"
:paginationText="'record'"
:showLoadMore="false"
>  
</c-pagination>


</div>
</template>

<script>
    export default{
        props: ['reportId' ,'force'],
        data() {
            return{
                url: '',
                listingHeads: [],
                items: [],
                pagination : null,
                page : 1,
                savNavigation: true,
                scheduleReportPopup: false,
                reportData: '',
                reportTitle:'',
                noRecordFound : false,
                userId: '',
                forceValue : false
            }
        },
        computed : {
            authUser(){
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            requestUrl(){
                if(this.url != ''){
                    return this.url;
                }
                //if(this.$route.meta.params.is_saved){
                    return 'api/report/' + this.$route.params.id + '?page='+this.page+'&saved_report='+this.$route.meta.params.is_saved;
               // }
                //return 'api/report/' + this.$route.params.id + '?page='+this.page;
            }
        },
        methods:{
            closeAllPopup(){
                this.scheduleReportPopup = false;
            },
            changePageNumber(page){
                this.page = page
            },
            getResponse(response){
                this.listingHeads = [];
                this.noRecordFound = false;
                if(Object.keys(response.data).length){
                    for (var i = 0; i < response.data.entities.length; i++) {
                        this.listingHeads.push(response.data.entities[i]);
                    }
                    this.items = response.data.result['data'];
                    this.pagination = response.data.result['pagination'];
                    this.reportTitle = response.data.title;
                    this.userId = response.data.user_id;

                    if(!this.pagination.total){
                        this.noRecordFound = true;
                    }
                    this.forceValue = false;
                }
            },
            editQuery(){
                this.$router.push({ name: 'custom-report-builder', params : { id : this.$route.params.id }  });
            },
            reSendCall(){
            this.forceValue = true;
            }
        },
        watch:{
            savNavigation(value){
                return value;
            },
            force(value){
                this.reSendCall();
            }
        }
    }
</script>
