<template>
    <div class="case-detail-activities">
        <div class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval emails">
                    <i class="icon-email"></i>
                </div>
            </div>
            <div class="activity-detail-content">
                <div class="activity-highlight">
                    <strong>{{ activityLog.data.user | fullName }}</strong>
                    has sent an email to 
                    <strong  v-if="activityLog.data.recipients.length > 0">{{ activityLog.data.recipients | objectToStringFullName}}</strong>
                </div>
                <div class="activity-details">
                    <div class="activity-column">
                        <div class="sanction-col">
                            <label>Subject:</label>
                            <p>{{ activityLog.data.subject }}</p>
                        </div>
                    </div>
                    <div class="activity-column">
                        <div class="sanction-col">  
                            <label>Message:</label>
                            <p>{{ activityLog.data.message }}</p>
                        </div>
                    </div>
                    <div class="activity-column">
                        <div class="sanction-col">

                        <label 
                            class="activity-column email-activity left-msg" 
                            v-if="activityLog.data.email_pdf && activityLog.data.email_pdf.upload_url">
                            PDF Attachment:
                        </label>
                        <label 
                            class="activity-column email-activity left-msg" 
                            v-else="!activityLog.data.email_pdf && activityLog.data.email_pdf.upload_url">
                            No PDF Attachment:
                        </label>
                        <p 
                            v-if="activityLog.data.email_pdf && activityLog.data.email_pdf.upload_url"
                            class="right-msg">
                            <a 
                            :href="`${activityLog.data.email_pdf.upload_url}`" 
                            download
                            @click="createLog(activityLog.data.email_pdf.display_name)">
                                {{ activityLog.data.email_pdf.display_name }}
                            </a>
                        </p>
                        <p 
                            v-else="!activityLog.data.email_pdf && activityLog.data.email_pdf.upload_url"
                            class="right-msg">
                            <a class="no-link" href="javascript:;">
                                ----
                            </a>
                        </p>

                        </div>
                    </div>
                    <div class="activity-column email-activity" v-if="activityLog.data.attachments && activityLog.data.attachments.length">
                        <div class="sanction-col">

                        <label>Attached files:</label>
                        <div class="file-attachment">
                            <div v-for="(file,index) in activityLog.data.attachments"
                                :key="index" class="file-list">
                                <img :src="file.original_name | attachmentIconUrl" /> 
                                 <a 
                                 :href="`${file.upload_url}`" 
                                 download
                                 @click="createLog(file.display_name)">
                                   {{ file.display_name }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="activity-post-detail">
                <div class="float-left">
                    <p>
                        <i v-if="hideMergedIcon" class="merged-case-icon" v-tooltip.top-center="mergedCase"></i>
                        Posted by
                        <span>{{ activityLog.data.user| fullName }}</span>
                    </p>
                </div>
                <div class="float-right">
                    <p>
                        <i class="icon-clock"></i>
                        <span>{{ activityLog.created_at.date | fullDateTime }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { EventBus } from '../../../../event-bus.js';
export default{
    props : ['activityLog'],
    data() {
        return {
            mergedCase: '',
            hideMergedIcon: false,
        }
    },
    methods:{
        createLog(filename) {
            let self = this;
            let url = 'api/incident-case/document-download-logs?case_id='+this.activityLog.case_id+'&case_number='+this.activityLog.case_number+'&filename='+filename;

            self.$http.get(url).then(response=>{

                EventBus.$emit('activity-logs-unshift', {
                    tab: 'all',
                    log: response.data.data,
                    document: {},
                });

            });
        },
    },
    mounted (){
        if(this.activityLog && this.activityLog.data.is_merged)
            {
                this.hideMergedIcon = true;
                this.mergedCase = 'Merged from Case # '+this.activityLog.data.merged_from;
            }
    },
}
</script>