<template>
    <div class="case-detail-activities appeal">
        <div class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval appeal">
                    <i class="icon-appeal"></i>
                </div>
            </div>
            <div class="activity-detail-content">
                <div class="activity-highlight">
                    <strong>{{ activityLog.data.user | fullName }}</strong>
                    {{activityLog.method == 'update' && activityLog.data.status == 'student_appeal' ? ' updated an appeal' : activityLog.text}}
                </div>
                <div class="activity-details">
                    <div class="activity-column">
                        <div class="sanction-col">
                            <label>Appeal Type:</label>
                            <p>{{ activityLog.data.appeal_type.name }}</p>
                        </div>
                    </div>
                    <div class="activity-column" v-if="activityLog.data.appeal_status">
                        <div class="sanction-col">
                            <label>Appeal Status:</label>
                            <p>{{ activityLog.data.appeal_status.name }}</p>
                        </div>
                    </div>
                    <div class="activity-column" v-if="activityLog.data.appeal_outcomes">
                        <div class="sanction-col">
                            <label>Appeal Outcome:</label>
                            <p>{{ activityLog.data.appeal_outcomes.name }}</p>
                        </div>
                    </div>
                    <div class="activity-column" v-if="activityLog.data.appeal_review_type">
                        <div class="sanction-col">
                            <label>Appeal Review Type:</label>
                            <p>{{ activityLog.data.appeal_review_type.name }}</p>
                        </div>
                    </div>
                    <div class="activity-column">
                        <div class="sanction-col">
                            <label>Statement:</label>
                            <p>{{ activityLog.data.statement }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="activity-post-detail">
                <div class="float-left">
                    <p>
                    <i v-if="hideMergedIcon" class="merged-case-icon" v-tooltip.top-center="mergedCase"></i>
                        Posted by
                        <span>{{ activityLog.data.user | fullName }}</span>
                    </p>
                </div>
                <div class="float-right">
                    <p>
                        <i class="icon-clock"></i>
                        <span>{{ activityLog.updated_at.date | fullDateTime }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default{
    props : ['activityLog'],
    data() {
        return {
            mergedCase: '',
            hideMergedIcon: false,
        }
    },
    mounted (){
        if(this.activityLog){
            if(this.activityLog.data.is_merged)
            {
                this.hideMergedIcon = true;
                this.mergedCase = 'Merged from Case # '+this.activityLog.data.merged_from;
            }
        }
    },
}
</script>