<template>
    <div>
        <div class="row activity-files">
            <div 
                v-for="(document, index) in listing"
                :key="index"
                class="col-xs-12 col-sm-4 col-md-3">

                <d-card class="text-center files-thumbs">
                    <d-card-body>
                        <d-card-img :src="document.original_name | attachmentIconUrl"/>
                        <a 
                        :href="`${document.upload_url}`" 
                        download 
                        class="attach-file-block"
                        @click="createLog(document.display_name)">
                            {{ document.display_name }}
                        </a>
                        <p>{{ activityLog.user | fullName }}</p>
                        <span>{{ activityLog.created_at.date | fullDateTime }}</span>
                    </d-card-body>
                </d-card>

            </div>
            <div class="activity-post-detail attach-file-section">
                <div class="float-left">
                    <p>
                    <i v-if="hideMergedIcon" class="merged-case-icon" v-tooltip.top-center="mergedCase"></i>
                        Posted by
                        <span>{{ activityLog.user | fullName }}</span>
                    </p>
                </div>
                <div class="float-right">
                    <p>
                        <i class="icon-clock"></i>
                       <span>{{ activityLog.created_at.date | fullDateTime }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../../../../event-bus.js';
    export default{
        props : ['activityLog'],
        data() {
            return {
                listing: [],
                mergedCase: '',
                hideMergedIcon: false,
            }
        },
        methods:{
            createLog(filename) {
                let self = this;
                let url = 'api/incident-case/document-download-logs?case_id='+this.activityLog.case_id+'&case_number='+this.activityLog.case_number+'&filename='+filename;

                self.$http.get(url).then(response=>{

                    EventBus.$emit('activity-logs-unshift', {
                        tab: 'all',
                        log: response.data.data,
                        document: {},
                    });

                });
            },
        },
        mounted (){
            if(this.activityLog){
                this.listing = this.activityLog.data.file_data;
                if(this.activityLog.data.is_merged)
                {
                    this.hideMergedIcon = true;
                    this.mergedCase = 'Merged from Case # '+this.activityLog.data.merged_from;
                }
            }
        },
        watch: {
            activityLog() {
                if(this.activityLog){
                    this.listing = this.activityLog.data.file_data;
                }  
            }
        }
    }
</script>