
<template>
    <div class="case-detail-activities notes">
        <div class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval cloud-upload">
                    <i class="icon-cloud"></i>
                </div>
            </div>
            <div class="activity-detail-content">
                <div class="activity-highlight">
                    <p><strong>{{ activityLog.user | fullName }}</strong> added a new {{activityLog.data.privacy}} file</p>
                </div>
                
                <div class="file-attachment">
                    <div v-for="(file,index) in listing"
                        :key="index" class="file-list">
                        <img :src="file.original_name | attachmentIconUrl" />
                        <a 
                        :href="`${file.upload_url}`"
                        download
                        @click="createLog(file.original_name)">
                            {{ file.display_name }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="activity-post-detail">
                <div class="float-left">
                    <p>
                    <i v-if="hideMergedIcon" class="merged-case-icon" v-tooltip.top-center="mergedCase"></i>
                        Posted by
                        <span>{{ activityLog.user | fullName }}</span>
                    </p>
                </div>
                <div class="float-right">
                    <p>
                        <i class="icon-clock"></i>
                       <span>{{ activityLog.created_at.date | fullDateTime }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../../../../event-bus.js';
    export default{
        props : ['activityLog'],
        data() {
            return {
                listing: [],
                mergedCase: '',
                hideMergedIcon: false,
            }
        },
        methods:{
            createLog(filename) {
                let self = this;
                let url = 'api/incident-case/document-download-logs?case_id='+this.activityLog.case_id+'&case_number='+this.activityLog.case_number+'&filename='+filename;

                self.$http.get(url).then(response=>{

                    EventBus.$emit('activity-logs-unshift', {
                        tab: 'all',
                        log: response.data.data,
                        document: {},
                    });

                });
            },
        },
        mounted (){
            if(this.activityLog){
                this.listing = this.activityLog.data.file_data;
                if(this.activityLog.data.is_merged)
                {
                    this.hideMergedIcon = true;
                    this.mergedCase = 'Merged from Case # '+this.activityLog.data.merged_from;
                }
            }
        },
        watch: {
            activityLog() {
                if(this.activityLog){
                    this.listing = this.activityLog.data.file_data;
                }  
            }
        }
    }
</script>