<template>
    <div class="case-detail-activities casedetail all-activity-section">
        <div class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval casedetail">
                    <i class="icon-info"></i>
                </div>
            </div>
            <div class="activity-detail-content">
                <div class="activity-details m-t-0">
                    <div class="activity-column">
                        <div class="sanction-col">
                            <label>Incident Type:</label>
                            <p>
                                {{ activityLog.data.incident_type ? activityLog.data.incident_type.name : 'N/A' }}
                            </p>
                        </div>
                    </div>
                    <div class="activity-column">
                        <div class="sanction-col">
                            <label>Date &amp; Time of incident:</label>
                            <p>
                                {{ activityLog.data.formatted_date_of_incident+' at '+activityLog.data.formatted_time_of_incident }}
                            </p>
                        </div>
                    </div>
                    <div class="activity-column" v-if="activityLog.data.location_of_incident">
                        <div class="sanction-col">
                            <label>Location of incident:</label>
                            <p>
                                {{activityLog.data.location_of_incident.name}}
                            </p>
                        </div>
                    </div>
                    <div class="activity-column" v-if="activityLog.data.building">
                        <div class="sanction-col">
                            <label>Building:</label>
                            <p>
                                {{activityLog.data.building.name}}
                            </p>
                        </div>
                    </div>
                    <div class="activity-column" v-if="activityLog.data.specific_location">
                        <div class="sanction-col">
                            <label>Specific Location:</label>
                            <p>
                                {{activityLog.data.specific_location.name}}
                            </p>
                        </div>
                    </div>
                    <div class="activity-column" v-if="activityLog.data.involved_guest_and_exist_users">
                        <div class="sanction-col">
                            <label>Involved Parties:</label>
                            <p>
                                {{activityLog.data.involved_guest_and_exist_users | objectToStringFullName}}
                            </p>
                        </div>
                    </div>
                        <div class="activity-column">
                            <div class="sanction-col">
                                <label>Incident Details:</label>
                                <p>
                                    <span
                                    v-for="(descp, index) in activityLog.data.incident_info.incident_details.split('\n')"
                                    :key="index"
                                    class="pb-0">
                                    {{ descp }}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="activity-details">

                    <div class="activity-column" v-if="activityLog.data.incident_info.custom_field" v-for="(custom,index) in activityLog.data.incident_info.custom_field">
                        <div class="sanction-col" v-if="checkValue(custom)">
                            <label>{{custom.label}}</label>
                            <p>
                                <span v-if="custom.type == 'checkbox'">
                                    {{custom.value | objectToStringDetails}}
                                </span>
                                <span v-if="custom.type == 'textarea'">{{custom.value}}</span>
                                <span v-if="custom.type == 'input'">{{custom.value}}</span>
                                <span v-if="custom.type == 'dropdown'">{{custom.value}}</span>
                                <span v-if="custom.type == 'radio'">{{custom.value}}</span>
                                <span v-if="custom.type == 'date'">{{custom.value ? custom.formatted_date : "N/A"}}</span>
                                <span v-if="custom.type == 'time'">{{custom.value ? custom.formatted_time : "N/A"}}</span>
                            </p>
                        </div>
                    </div>

                    <div class="activity-column email-activity" v-if="activityLog.data.supporting_documents && activityLog.data.supporting_documents.length > 0">
                        <div class="sanction-col">
                            <label>Attached files:</label>
                            <div class="file-attachment">
                                <div v-for="(file,index) in activityLog.data.supporting_documents"
                                :key="index" class="file-list">
                                <img :src="file.original_name | attachmentIconUrl" /> 
                                <a 
                                :href="`${file.upload_url}`" 
                                download
                                @click="createLog(file.title)">
                                {{ file.title }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


</div>
<div class="activity-post-detail">
    <div class="float-left">
        <p>Posted by
            <span v-if="activityLog.user">{{ activityLog.user | fullName }}</span>
            <span v-else>{{ activityLog.data.reported_by }}</span>
        </p>
    </div>
    <div class="float-right">
        <p>
            <i class="icon-clock"></i>
            <span>{{ activityLog.created_at.date | fullDateTime }}</span>
        </p>
    </div>
</div>
</div>

</div>
</div>
</template>

<script>
    import { EventBus } from '../../../../event-bus.js';
    export default{
        props : ['activityLog'],
        data() {
            return {

            }
        },
        methods:{
            checkValue(field) {
                if(field.type == 'checkbox') {
                    var namesArray = [];
                    _.forEach(field, function(val, ind){
                        if(val.value == true){
                            namesArray.push(val.label);
                        }
                    });
                    var namesString = namesArray.join(", ",);

                    return namesString ? true : false;
                }

                return field.value;
            },
            createLog(filename) {
                let self = this;
                let url = 'api/incident-case/document-download-logs?case_id='+this.activityLog.case_id+'&case_number='+this.activityLog.case_number+'&filename='+filename;

                self.$http.get(url).then(response=>{

                    EventBus.$emit('activity-logs-unshift', {
                        tab: 'all',
                        log: response.data.data,
                        document: {},
                    });

                });
            },
        },
        mounted (){
            if(this.activityLog){
            }
        }
    }
</script>