<template>
    <div class="case-detail-activities checklist">
        <h3>{{ incident_type }}</h3>
        <div
        v-for="(list, index) in checklist"
        :key="index"
        class="activity-list-content no-padd-left">
        <div class="activity-detail-content">
            <div class="activity-highlight checkbox-list">
                <d-checkbox
                v-model="list.completed ? list.name : form.selected"
                name="activity-checkbox"
                :value="list.name"
                @change="editChecklist(list)"
                >
                <span>{{ list.name }}</span>
                <p v-if="list.completed">Marked completed by
                    <span>{{ list.created_by | fullName }}</span>.
                    <span>{{ list.created_at | fullDateTime }}</span>
                </p>
            </d-checkbox>
        </div>
    </div>
</div>


<common-methods
:formData="formData"
:submitUrl="submitUrl"
:submitType="submitType"
:submit="submit"
@form-updated="formUpdated">
</common-methods>

</div>
</template>

<script>
    export default{
        props : ['activityLog'],
        data() {
            return {
                submitType : "update",
                submit: false,
                listing: [],
                checklist: [],
                incident_type: '',
                form:{
                    selected: 'Unchecked',
                },
                formData: {
                    name: '',
                    case_id: '',
                    checked: '',
                }
            }
        },
        methods: {
            editChecklist(list){
                this.formData.name = list.name;
                this.formData.case_id = this.listing.case_id;
                this.formData.checked = list.completed ? false : true;
                this.submit = true;
            },
            formUpdated(response){
                let result = response.data;
                this.submit = false;
                this.listing = result;
                this.checklist = result.data;
            },
        },
        mounted (){
            if(this.activityLog){
                this.listing = this.activityLog;
                this.checklist = this.activityLog.data;
                this.incident_type = this.activityLog.incident_type;
            }
        },
        computed: {
            submitUrl(){
                return 'api/incident-case-collection/' + this.listing._id; 
            }
        },
    }
</script>
