<template>
    <div class="all-activities">

        <!-- Log list start -->
        <div class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval log">
                    <i class="icon-information"></i>
                </div>
            </div>
            <div class="activity-detail-content">
                <div class="activity-highlight">
                    <strong>Lori Garza</strong> has a meeting.
                </div>
            </div>
            <div class="activity-post-detail">
                <div class="float-left">
                    <p>Posted by <span>Lori Garza</span></p>
                </div>
                <div class="float-right">
                    <p>
                        <i class="icon-clock"></i>
                        <span>Dec 9, 2018 at 1:30 p.m.</span>
                    </p>
                </div>
            </div>
        </div>
        <!-- log list End -->

        <!-- Check list start -->
        <div class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval checklist">
                    <i class="icon-change-status"></i>
                </div>
            </div>
            <div class="activity-detail-content">
                <div class="activity-highlight">
                    <strong>Lori Garza</strong> has closed the case.
                </div>
            </div>
            <div class="activity-post-detail">
                <div class="float-left">
                    <p>Posted by <span>Lori Garza</span></p>
                </div>
                <div class="float-right">
                    <p>
                        <i class="icon-clock"></i>
                        <span>Dec 9, 2018 at 1:30 p.m.</span>
                    </p>
                </div>
            </div>
        </div>
        <!-- check list end -->

        <!-- Upload list start -->
        <div class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval cloud-upload">
                    <i class="icon-cloud"></i>
                </div>
            </div>
            <div class="activity-detail-content">
                <div class="activity-highlight">
                    <strong>Lori Garza</strong> added new file.
                </div>
                <div class="file-attachment file-uploads">
                    <div class="file-list">
                        <img src="images/files/mp3.svg"/>
                        <a href="javascript:void(0);">Audio recording related to the incident</a>
                    </div>
                </div>
            </div>
            <div class="activity-post-detail">
                <div class="float-left">
                    <p>Posted by <span>Lori Garza</span></p>
                </div>
                <div class="float-right">
                    <p>
                        <i class="icon-clock"></i>
                        <span>Dec 9, 2018 at 1:30 p.m.</span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Upload list end -->

        <!-- Saction list start -->
        <div class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval sanction">
                    <i class="icon-saction"></i>
                </div>
            </div>
            <div class="activity-detail-content">
                <div class="activity-highlight">
                    <strong>Lori Garza</strong> update sanctions for Joshua Brewer
                </div>
                <div class="activity-details">
                    <div class="activity-column">
                        <label>Saction:</label>
                        <p>University Probation</p>
                    </div>
                    <div class="activity-column">
                        <label>Period:</label>
                        <p>Nov 10, 2018 to Dec 9, 2019 (1 Month)</p>
                    </div>
                    <div class="activity-column">
                        <label>Fine:</label>
                        <p>$100 deposit in university fund</p>
                    </div>
                    <div class="activity-column">
                        <label>Detail:</label>
                        <p>University Probation serves as formal notification that the student is not in good standing with the University and that similar or more severe violations of the Student Conduct Code while on this status will result in suspension or expulsion from the University.</p>
                    </div>
                </div>
            </div>
            <div class="activity-post-detail">
                <div class="float-left">
                    <p>Posted by <span>Lori Garza</span></p>
                </div>
                <div class="float-right">
                    <p>
                        <i class="icon-clock"></i>
                        <span>Oct 25, 2018 at 1:30 p.m.</span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Saction list end -->

        <!-- Email list start -->
        <div class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval emails">
                    <i class="icon-email"></i>
                </div>
            </div>
            <div class="activity-detail-content">
                <div class="activity-highlight">
                    <strong>Lori Garza</strong> send an email to <strong>Joshua Brewer</strong>
                    <p class="m-t-20">
                        <span class="block-element">
                            I am writing this letter to address an aggressive physical confrontation that recently happened between me and another student in your school.
                        </span>
                        <span class="block-element">
                            During the second break on last Friday, an older student by the name of Joshua came to me asking me to lend him some money for lunch. Although he was a student from Bachillerato with a history of aggression, I refused. This is when he drew a knife and threatened me. I had to give him the money, and he verbally taunted me in front of other students.
                        </span>
                        <span class="block-element">
                            He then walked away, as if nothing had happened.This is the very first time I’ve had a personal problem with another student, although I’ve been attending this school for many years.\n I kindly request you to take proper official measures regarding this student’s behavior. Moreover, I would like for Joshua to give me my money back. I would be happy to schedule a meeting with you if you need more details about the incident.
                        </span>
                    </p>
                </div>
            </div>
            <div class="activity-post-detail">
                <div class="float-left">
                    <p>Posted by <span>Lori Garza</span></p>
                </div>
                <div class="float-right">
                    <p>
                        <i class="icon-clock"></i>
                        <span>Dec 10, 2018 at 5:30 p.m.</span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Email list end -->

        <!-- Appeal list start -->
        <div class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval appeal">
                    <i class="icon-appeal"></i>
                </div>
            </div>
            <div class="activity-detail-content">
                <div class="activity-highlight">
                    <strong>Lori Garza</strong> added review statement against the appeal
                </div>
                <div class="activity-details">
                    <div class="activity-column">
                        <label>Appeal Review:</label>
                        <p>Sanction Reduction</p>
                    </div>
                    <div class="activity-column">
                        <label>Details:</label>
                        <p>After review the board has decided to keep the sanction, however reduce the sanction period from 3 months to 1 month. Also reducing fine amount from $500 to $100.</p>
                    </div>
                </div>
            </div>
            <div class="activity-post-detail">
                <div class="float-left">
                    <p>Posted by <span>Lori Garza</span></p>
                </div>
                <div class="float-right">
                    <p>
                        <i class="icon-clock"></i>
                        <span>Oct 25, 2018 at 5:30 p.m.</span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Appeal list end -->

        <!-- Meeting list start -->
        <div class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval meeting">
                    <i class="icon-calendar"></i>
                </div>
            </div>
            <div class="activity-detail-content">
                <div class="activity-highlight">
                    <strong>Lori Garza</strong> scheduled meeting with Jafaris Long
                </div>
                <div class="activity-details">
                    <div class="activity-column">
                        <label>Date &amp; Time:</label>
                        <p>Lori Garza scheduled meeting with Jafaris Long</p>
                    </div>
                    <div class="activity-column">
                        <label>Hearing Type:</label>
                        <p>Witness Statement Recording</p>
                    </div>
                    <div class="activity-column">
                        <label>Hearing Location:</label>
                        <p>University Office, Building No. 2</p>
                    </div>
                    <div class="activity-column">
                        <label>Addition Note:</label>
                        <p>We request you to come and record your statement related to case # 242. This is a sample info. </p>
                    </div>
                </div>
            </div>
            <div class="activity-post-detail">
                <div class="float-left">
                    <p>Posted by <span>Lori Garza</span></p>
                </div>
                <div class="float-right">
                    <p>
                        <i class="icon-clock"></i>
                        <span>Oct 25, 2018 at 5:30 p.m.</span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Meeting list end -->

        <!-- Casedetail list start -->
        <div class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval casedetail">
                    <i class="icon-info"></i>
                </div>
            </div>
            <div class="activity-detail-content">
                <div class="activity-details m-t-0">
                    <div class="activity-column">
                        <label>Incident Type:</label>
                        <p>Student Code, Conduct</p>
                    </div>
                    <div class="activity-column">
                        <label>Date &amp; Time of incident:</label>
                        <p>October 8, 2018 at 2:00 pm</p>
                    </div>
                    <div class="activity-column">
                        <label>Location of incident:</label>
                        <p>Acorn Coffee Shop</p>
                    </div>
                    <div class="activity-column">
                        <label>Incident Details:</label>
                        <p>
                            <span>
                                I am writing this letter to address an aggressive physical confrontation that recently happened between me and another student in your school.
                            </span>
                            <span>
                                During the second break on last Friday, an older student by the name of Joshua came to me asking me to lend him some money for lunch. Although he was a student from Bachillerato with a history of aggression, I refused. This is when he drew a knife and threatened me. I had to give him the money, and he verbally taunted me in front of other students
                            </span>
                            <span>
                                He then walked away, as if nothing had happened.This is the very first time I’ve had a personal problem with another student, although I’ve been attending this school for many years.
                            </span>
                            <span>
                                I kindly request you to take proper official measures regarding this student’s behavior. Moreover, I would like for Joshua to give me my money back. I would be happy to schedule a meeting with you if you need more details about the incident.
                            </span>
                        </p>
                    </div>
                    <div class="activity-column">
                        <label>Custom field title:</label>
                        <p>Custom field value place here (can be as many configured with the incident type)</p>
                    </div>
                    <div class="activity-column">
                        <label>Attached filed:</label>
                        <div class="file-attachment">
                            <div class="file-list">
                                <img src="images/files/jpg.svg"/>
                                <a href="javascript:void(0);">
                                    Incident photo
                                </a>
                            </div>
                            <div class="file-list">
                                <img src="images/files/mp4.svg"/>
                                <a href="javascript:void(0);">
                                    Recording my friend did during the incident
                                </a>
                            </div>
                            <div class="file-list">
                                <img src="images/files/word.svg"/>
                                <a href="javascript:void(0);">
                                    Documentary evidence
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="activity-post-detail">
                <div class="float-left">
                    <p>Posted by <span>Lori Garza</span></p>
                </div>
                <div class="float-right">
                    <p>
                        <i class="icon-clock"></i>
                        <span>Dec 10, 2018 at 5:30 p.m.</span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Casedetail list end -->
    </div>
</template>