<template>
    <div class="case-detail-activities logs">
        <div 
        class="activity-list-content">
        <div class="indecation-icon">
            <div class="icon-oval log">
                <i class="icon-information"></i>
            </div>
        </div>
        <div class="activity-detail-content">
            <div class="activity-highlight">

                <span v-if="activityLog.action == 'title_ix_add'">
                    <strong>{{activityLog.data.user | fullName}}</strong> added Title IX to Case - {{activityLog.data.title_ix.name}}
                </span>

                <span v-if="activityLog.action == 'title_ix_remove'">
                    <strong>{{activityLog.data.user | fullName}}</strong> removed Title IX from Case - {{activityLog.data.title_ix.name}}
                </span>

                <span v-if="activityLog.action == 'ir' ||  activityLog.action == 'case'">
                    <strong>{{activityLog.user | fullName}}</strong>{{activityLog.text}}
                </span>

                <span v-if="activityLog.action == 'download' &&  activityLog.method == 'create'">
                    <strong>{{activityLog.user | fullName}}</strong> downloaded <strong>{{activityLog.data.filename}}</strong>
                </span>
             
                <span v-if="activityLog.action == 'meeting'">
                    <strong>{{activityLog.data.user | fullName}}</strong> {{activityLog.text}}<strong>{{ activityLog.data.invited_users | objectToStringFullName}}</strong>
                </span>

     
                <span v-if="activityLog.action == 'notes'">
                    <strong>{{activityLog.user | fullName}}</strong> add a new {{activityLog.data.privacy}} note
                </span>
                
       
                <span v-else-if="activityLog.action == 'email'">
                    <strong>{{activityLog.user | fullName}}</strong> 
                        {{activityLog.text}}
                    <strong>{{ activityLog.data.recipients | objectToStringFullName}}</strong>
                </span>

       
                <span v-else-if="activityLog.action == 'checklist' && activityLog.data.checked == true">
                    <strong>{{activityLog.user | fullName}}</strong> marked 
                    <strong>{{activityLog.data.name}}</strong> as complete
                </span>
                
       
                <span v-else-if="activityLog.action == 'checklist' && activityLog.data.checked == false">
                    <strong>{{activityLog.user | fullName}}</strong> marked 
                    <strong>{{activityLog.data.name}}</strong> as incomplete
                </span>
                
        
                <span v-else-if="activityLog.action == 'sanction' && activityLog.method == 'create'">
                    <strong>{{activityLog.data.user | fullName}}</strong>
                    {{activityLog.text}}
                    <strong>{{activityLog.data.imposed_on_user | fullName}}</strong>
                </span>
                
       
                <span v-else-if="activityLog.action == 'sanction' && activityLog.method == 'update'">
                    <strong>{{activityLog.data.user | fullName}}</strong>
                    {{activityLog.text}}
                    <strong>{{activityLog.data.imposed_on_user | fullName}}
                    </strong>
                </span>

       
                <span v-else-if="activityLog.action == 'sanction' && activityLog.method == 'delete'">
                    <strong>{{activityLog.data.user | fullName}}</strong> 
                    {{activityLog.text}}
                    <strong>{{activityLog.data.imposed_on_user | fullName}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'charge' && activityLog.method == 'create'">
                    <strong>{{activityLog.data.user | fullName}}</strong> charged 
                    <strong> {{activityLog.data.charged_to_users | fullName}}</strong> with 
                    {{ activityLog.data.violations | objectToStringFullName }}
                </span>


                <span v-else-if="activityLog.action == 'charge' && activityLog.method == 'update'">
                    <strong>{{activityLog.data.user | fullName}}</strong> updated charges imposed on 
                    <strong>{{activityLog.data.charged_to_users | fullName}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'charge' && activityLog.method == 'delete'">
                    <strong>{{activityLog.data.user | fullName}}</strong> removed charges imposed on 
                    <strong>{{activityLog.data.charged_to_users | fullName}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'plea' && activityLog.method == 'create'">
                    <strong>{{activityLog.data.user | fullName}}</strong> imposed plea on 
                    <strong> {{activityLog.data.plea_to_users | fullName}}</strong>
                </span>

                <span v-else-if="activityLog.action == 'plea' && activityLog.method == 'update'">
                    <strong>{{activityLog.data.user | fullName}}</strong> updated plea imposed on 
                    <strong> {{activityLog.data.plea_to_users | fullName}}</strong>
                </span>

                <span v-else-if="activityLog.action == 'plea' && activityLog.method == 'delete'">
                    <strong>{{activityLog.data.user | fullName}}</strong> deleted plea imposed on 
                    <strong> {{activityLog.data.plea_to_users | fullName}}</strong>
                </span>

                <span v-else-if="activityLog.action == 'case_stage' && activityLog.method == 'update'">
                    {{activityLog.text}}
                    <strong>{{activityLog.data.stage}}</strong>
                </span>

                <span v-else-if="activityLog.action == 'approve_stage' && activityLog.method == 'update'">
                    <strong>{{activityLog.user | fullName}}</strong>
                    {{activityLog.text}}
                    {{activityLog.case_number}}
                    from <strong>{{activityLog.data.old_value}}</strong>
                    to <strong>{{activityLog.data.new_value}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'convert_to_case' && activityLog.method == 'update'">
                    <strong>{{activityLog.user | fullName}}</strong>
                    {{activityLog.text}} IR # 
                    <strong>{{activityLog.case_number}}</strong> to Case # 
                    <strong>{{activityLog.case_number}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'close_case'">
                    <strong>{{activityLog.user | fullName}}</strong>
                    {{activityLog.text}}
                </span>

                <span v-else-if="activityLog.action == 'decline_approval'">
                    <strong>{{activityLog.user | fullName}}</strong>
                    {{activityLog.text}} <strong>{{activityLog.data.officer_name | fullName}} </strong> on Case # {{activityLog.case_number}}
                    from <strong>{{activityLog.data.old_value}}</strong>
                    to <strong>{{activityLog.data.new_value}}</strong>
                    
                </span>

                <span v-else-if="activityLog.action == 'reopen_case'">
                    <strong>{{activityLog.user | fullName}}</strong>
                    {{activityLog.text}}
                </span>


                <span v-else-if="activityLog.action == 'discard_case'">
                    <strong>{{activityLog.user | fullName}}</strong>
                    {{activityLog.text}}
                    <strong>{{activityLog.data.reason_to_discard}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'case_at_risk' && activityLog.method == 'update'">
                    <strong>{{activityLog.user | fullName}}</strong> marked the case at risk
                </span>


                <span v-else-if="activityLog.action == 'case_not_at_risk' && activityLog.method == 'update'">
                    <strong>{{activityLog.user | fullName}}</strong> removed case at risk mark
                </span>

                <span v-else-if="activityLog.action == 'expected_close_date' && activityLog.method == 'update'">
                    <strong>{{activityLog.user | fullName}}</strong> updated the expected close date
                </span>


                <span v-else-if="activityLog.action == 'change_owner' && activityLog.method == 'update'">
                    <strong>{{activityLog.user | fullName}}</strong>
                    {{activityLog.text}}
                    <strong>{{activityLog.data.assigned_to_user | fullName}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'delete_involved_parties'">
                    <strong>{{activityLog.user | fullName}}</strong> disassociated 
                    <strong>{{activityLog.data.disassociate_involved_party_user.full_name}}</strong> from case
                </span>


                <span v-else-if="activityLog.action == 'flag_involved_parties' && activityLog.method == 'update'">
                    <strong>{{activityLog.user | fullName}}</strong>
                    <span>{{(activityLog.data.is_flagged > 0 ? ' flagged' : ' unflagged')}}</span>
                    {{activityLog.text}}
                    <strong>{{activityLog.data.flagged_involved_party_user | fullName}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'add_involved_parties' && activityLog.method == 'update'">
                    <strong>{{activityLog.data.associate_involved_party_user | fullName}}</strong>
                    {{activityLog.text}}
                    <strong>{{activityLog.data.user_role}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'attachment' && activityLog.method == 'create'">
                    <strong>{{activityLog.user | fullName}}</strong> added a new 
                    {{activityLog.data.privacy}} file 
                    <strong>{{ activityLog.data.file_data | objectToStringFullName}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'assign_owner' && activityLog.method == 'update'">
                    <strong>{{activityLog.user | fullName}}</strong>
                    {{activityLog.text}}<strong>
                    {{activityLog.data.assigned_to_user | fullName}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'split_case' && activityLog.method == 'create'">
                    <strong>{{activityLog.user | fullName}}</strong> The case has been created by splitting Case # 
                    {{activityLog.split_case_number}}
                </span>


                <span v-else-if="activityLog.action == 'split_case' && activityLog.method == 'update'">
                    <strong>{{activityLog.user | fullName}}</strong> has split the case. New case has been created. Case # 
                    {{activityLog.primary_case_number}}
                </span>


                <span v-else-if="activityLog.action == 'merge_case' && activityLog.method == 'create'">
                    Case # {{activityLog.merge_case_number}} has been merged with this case by 
                    <strong>{{activityLog.user | fullName}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'merge_case' && activityLog.method == 'update'">
                    <strong>{{activityLog.user | fullName}}</strong> has merged this case with Case # 
                    {{activityLog.primary_case_number}}
                </span>


                <span v-else-if="activityLog.action == 'completed_sanction' && activityLog.method == 'update'">
                    <strong>{{activityLog.user | fullName}}</strong>
                    {{activityLog.text}}
                </span>


                <span v-else-if="activityLog.action == 'add_related_case' && activityLog.method == 'update'">
                    <strong>{{activityLog.user | fullName}}</strong>
                    {{activityLog.text}}
                    <strong>{{activityLog.data.related_case_number}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'remove_related_case' && activityLog.method == 'update'">
                    <strong>{{activityLog.user | fullName}}</strong>
                    {{activityLog.text}}
                    <strong>{{activityLog.data.related_case_number}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'assign_proper_user' && activityLog.method == 'update'">
                    <strong>{{activityLog.data.assigned_user | fullName}}</strong>
                    {{activityLog.text}}
                    <strong>{{activityLog.data.person_type}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'assign_proper_reporter' && activityLog.method == 'update'">
                    <strong>{{activityLog.user | fullName}}</strong>
                    {{activityLog.text}}
                    <strong>{{activityLog.data.assigned_reporter | fullName}}</strong>
                </span>


                <span v-else-if="activityLog.action == 'case_clery_acts' && activityLog.method == 'create'">
                    <strong>{{activityLog.data.user | fullName}}</strong>
                    has updated
                    <label v-for="(custom,index) in activityLog.data.clery_act_details">
                        <strong>
                            {{custom.updated_label.label}}{{(index < (activityLog.data.clery_act_details.length -1)) ? ",&nbsp;" : ""}}</strong>
                        </strong>
                    </label>
                    in cleary act details
                </span>


                <span v-else-if="activityLog.action == 'case_clery_acts' && activityLog.method == 'update'">
                    <strong>{{activityLog.data.user | fullName}}</strong>
                    has updated
                    <label v-for="(custom,index) in activityLog.data.clery_act_details">
                        <strong>
                            {{custom.updated_label.label}}{{(index < (activityLog.data.clery_act_details.length -1)) ? ",&nbsp;" : ""}}</strong>
                        </strong>
                    </label>
                    in cleary act details
                </span>


                <span v-else-if="activityLog.action == 'case_other_details' && activityLog.method == 'create'">
                    <strong>{{activityLog.data.user | fullName}}</strong>
                    has updated
                    <label v-for="(custom,index) in activityLog.data.other_details">
                        <strong>
                            {{custom.updated_label.label}}{{(index < (activityLog.data.other_details.length -1)) ? ",&nbsp;" : ""}}</strong>
                        </strong>
                    </label>
                    in other details
                </span>


                <span v-else-if="activityLog.action == 'case_other_details' && activityLog.method == 'update'">
                    <strong>{{activityLog.data.user | fullName}}</strong>
                    has updated
                    <label v-for="(custom,index) in activityLog.data.other_details">
                        <strong>
                            {{custom.updated_label.label}}{{(index < (activityLog.data.other_details.length -1)) ? ",&nbsp;" : ""}}</strong>
                        </strong>
                    </label>
                    in other details
                </span>
                <span v-else-if="activityLog.action == 'change_stage_mail' && activityLog.method == 'update'">
                    <strong>{{activityLog.user | fullName}}</strong>
                    {{activityLog.text}}
                    {{activityLog.case_number}}
                    from 
                    <strong>{{ activityLog.data.previous_stage_name }}</strong>
                    to
                    <strong>{{activityLog.data.stage}}</strong>
                </span>

        </div>
    </div>
    <div class="activity-post-detail">
        <div class="float-left" v-if="activityLog.action != 'download'">
            <p>
            <i v-if="hideMergedIcon" class="merged-case-icon" v-tooltip.top-center="mergedCase"></i>
                Posted by
                <span>{{activityLog.user | fullName}}</span>
            </p>
        </div>
        <div class="float-right">
            <p>
                <i class="icon-clock"></i>
                <span>{{activityLog.created_at.date | fullDateTime}}</span>
            </p>
        </div>
    </div>
</div>
</div>
</template>

<script>
    export default{
        props : ['activityLog'],
        data() {
            return {
                mergedCase: '',
                hideMergedIcon: false,
           
            }
        },
        mounted (){
            if(this.activityLog){
                if(this.activityLog.data && this.activityLog.data.is_merged)
                {
                    this.hideMergedIcon = true;
                    this.mergedCase = 'Merged from Case # '+this.activityLog.data.merged_from;
                }
               
            }
        },
    }
</script>