<template>
    <div class="case-detail-activities sanction">
        <div class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval meeting">
                    <i class="icon-calendar"></i>
                </div>
            </div>
            <div class="activity-detail-content">
                <div class="activity-highlight">
                    <strong>{{ activityLog.data.user | fullName }}</strong> has scheduled a meeting with 
                    <strong v-if="activityLog.data.invited_users.length > 0">{{ activityLog.data.invited_users | objectToStringFullName}}</strong>
                </div>
                <div class="activity-details">
                    <div class="activity-column">
                        <div class="sanction-col">
                            <label>Title:</label>
                            <p>{{ activityLog.data.meeting_title }}</p>
                        </div>
                        <div class="sanction-col">
                           <label>Hearing Type/Location:</label>
                           <p>{{ activityLog.data.hearing_type }}, {{ activityLog.data.hearing_location }}</p>
                       </div>
                </div>
            <div class="activity-column">
                <div class="sanction-col">
                    <label>Date/Time:</label>
                    <p>{{ activityLog.data.meeting_date | dateString }}, {{ formatFromTimeZone(activityLog.data) }} to {{ formatToTimeZone(activityLog.data) }}</p>
                </div>
            <div class="activity-column" v-if="activityLog.data.additional_note">
                <div class="sanction-col">
                    <label>Additional Note(s):</label>
                    <p class="preformatted">{{ activityLog.data.additional_note }}</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="activity-post-detail">
        <div class="float-left">
            <p>
            <i v-if="hideMergedIcon" class="merged-case-icon" v-tooltip.top-center="mergedCase"></i>
                Posted by
                <span>{{ activityLog.data.user | fullName }}</span>
            </p>
        </div>
        <div class="float-right">
            <p>
                <i class="icon-clock"></i>
                <span>{{ activityLog.created_at.date | fullDateTime }}</span>
            </p>
        </div>
    </div>
</div>
</div>
</template>

<script>
    export default {
        props : ['activityLog'],
        data() {
            return {
                mergedCase: '',
                hideMergedIcon: false,
            }
        },
        mounted (){
            if(this.activityLog){
                if(this.activityLog.data.is_merged)
                {
                    this.hideMergedIcon = true;
                    this.mergedCase = 'Merged from Case # '+this.activityLog.data.merged_from;
                }
            }
        },
        methods: {
            formatFromTimeZone(value){
                return value.meeting_time.from.hh + ':' + value.meeting_time.from.mm +' '+ value.meeting_time.from.a;
            },
            formatToTimeZone(value){
                return value.meeting_time.to.hh + ':' + value.meeting_time.to.mm +' '+ value.meeting_time.to.a;
            }
        }
    }
</script>