<template>
    <v-app id="dayspan" v-cloak>

        <ds-calendar-app ref="app"
            :calendar="calendar"
            :read-only="readOnly"
            @change="saveState">

            <template slot="eventPopover" slot-scope="slotData">
                <ds-calendar-event-popover
                    v-bind="slotData"
                    :read-only="readOnly"
                    @finish="saveState">
                </ds-calendar-event-popover>
            </template>

            <template slot="eventTimeTitle" slot-scope="{calendarEvent, details}">
                <div>
                    <v-icon class="ds-ev-icon"
                    v-if="details.icon"
                    size="14"
                    :style="{color: details.forecolor}">
                    {{ details.icon }}
                    </v-icon>
                    <strong class="ds-ev-title">{{ details.title }}</strong>
                </div>
                <div class="ds-ev-description">{{ getCalendarTime( calendarEvent ) }}</div>
                <div class="ds-expand">{{ details.notify }}</div>
            </template>

            <template slot="drawerBottom">
                <v-container fluid>
                    <v-layout wrap align-center>
                        <v-flex xs12>
                            <v-checkbox box
                            label="Read Only?"
                            v-model="readOnly"
                            ></v-checkbox>
                        </v-flex>
                        <v-flex xs12>
                            <v-select
                            label="Language"

                            ></v-select>
                        </v-flex>
                    </v-layout>
                </v-container>
            </template>

        </ds-calendar-app>
    </v-app>

</template>

<script>
    import { Calendar, Weekday, Month } from 'dayspan';
    import Vue from 'vue';

    export default {
        props : ['activityLog'],
        name: 'app',
        data: () => ({
            storeKey: 'dayspanState',
            calendar: Calendar.months(),
            readOnly: true,

            defaultEvents: [          
            ],
            meetingData: {},
            incidentCaseDetails: {}
        }),
        computed:{
        },
        mounted(){
            window.app = this.$refs.app;
            this.incidentCaseDetails = this.$store.getters.getCaseData;
            if(this.activityLog){
                this.loadState();
            }
        },

        methods:
        {
            saveState()
            {
                let state = this.calendar.toInput(true);
                let json = JSON.stringify(state);
            },

            loadState() {
                let state = {};
                let self = this;
                var inviteesNames = [];
                var eventDescription = '';
                var additionalNote = '';
                _.forEach(self.activityLog, function(value, index) {
                    self.meetingData = value.data;
                    inviteesNames = [];
                    _.forEach(self.meetingData.invited_users, function(val, key) {
                        inviteesNames.push(val.first_name+' '+val.last_name);
                    });
                    additionalNote = self.meetingData.additional_note ? ' Note: ' + self.meetingData.additional_note: '';
                    eventDescription = 'Invitees: '+ inviteesNames /*+ additionalNote*/;
                    var date = moment(self.meetingData.meeting_date);
                    var dow = date.day();
                    var mon = date.month();
                    var week = Math.floor((date.daysInMonth() - date.date()) / 7);


                    var date_formatted = moment(self.meetingData.meeting_date).format('YYYY-MM-DD');
                    var b = moment(date_formatted+' '+self.meetingData.meeting_time.from.hh+':'+self.meetingData.meeting_time.from.mm+' '+self.meetingData.meeting_time.from.a);
                    var a = moment(date_formatted+' '+self.meetingData.meeting_time.to.hh+':'+self.meetingData.meeting_time.to.mm +' '+self.meetingData.meeting_time.to.a);
                    var duration_h = moment.duration(a.diff(b)).as('hours');
                    var duration_m = moment.duration(a.diff(b)).as('minutes');
                    var result = a.diff(b)
                    var event = {};
                    
                    event.data = {};
                    event.schedule = {};
                    event.data.title = self.meetingData.meeting_title;
                    event.data.color = Vue.faker().internet.color()/*'#0067A9'*/;
                    event.data.forecolor = "#ffffff";
                    event.data.location = self.meetingData.hearing_location;
                    event.data.calendar = moment(self.meetingData.meeting_date).format("dddd, MMMM Do YYYY");
                    event.data.description = additionalNote;
                    event.data.notify = eventDescription;
                    event.schedule.month = [mon];
                    event.schedule.dayOfWeek = [dow];
                    event.schedule.lastWeekspanOfMonth = [week];
                    event.schedule.times = [self.meetingData.meeting_time.from.hh];
                    event.schedule.duration = Math.round(duration_h * 100) / 100;
                    event.schedule.durationUnit = "hours";

                    self.defaultEvents.push(event);
                });
                state.events = self.defaultEvents;
                state.events.forEach(ev => {
                    let defaults = self.getDefaultEventDetails();
                    ev.data = Vue.util.extend( defaults, ev.data );
                });
                self.$refs.app.setState( state );
                       
            },
            getCalendarTime(calendarEvent)
            {
              let sa = calendarEvent.start.format('a');
              let ea = calendarEvent.end.format('a');
              let sh = calendarEvent.start.format('h');
              let eh = calendarEvent.end.format('h');

              if (calendarEvent.start.minute !== 0)
              {
                sh += calendarEvent.start.format(':mm');
              }

              if (calendarEvent.end.minute !== 0)
              {
                eh += calendarEvent.end.format(':mm');
              }

              return (sa === ea) ? (sh + ' - ' + eh + ea) : (sh + sa + ' - ' + eh + ea);
            },
             getDefaultEventDetails()
            {
              return {
                title: '',
                description: '',
                location: '',
                color: '',
                forecolor: '',
                calendar: '',
                icon: '',
                notify: ''
              };
            },
        },

    watch:{
        activityLog() {
            if(this.activityLog){
                this.loadState();
            }  
        }
    }

}
</script>
