<template>
    <div class="case-detail-activities notes">
        <div
            class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval notes">
                    <i class="icon-messenger"></i>
                </div>
            </div>
            <div class="activity-detail-content">
                <div class="activity-highlight">
                    <p><strong>{{ activityLog.user | fullName }}</strong> add a new {{ activityLog.data.privacy }} note</p>
                </div>
                <div class="notesDescription">
                    <p class="preformatted">{{ activityLog.data.description }}</p>
                </div>
            </div>
            <div class="activity-post-detail">
                <div class="float-left">
                    <p>
                        <i v-if="hideMergedIcon" class="merged-case-icon" v-tooltip.top-center="mergedCase"></i>
                        Posted
                        <span>{{ activityLog.user | fullName }}</span>
                    </p>
                </div>
                <div class="float-right">
                    <p>
                        <i class="icon-clock"></i>
                       <span>{{ activityLog.created_at.date | fullDateTime }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default{
    
    props : ['activityLog'],
    
    data() {
        return {
            caseDetails: [],
            mergedCase: '',
            hideMergedIcon: false,
        }
    },
    mounted (){
        if(this.activityLog){
            if(this.activityLog.data.is_merged)
            {
                this.hideMergedIcon = true;
                this.mergedCase = 'Merged from Case # '+this.activityLog.data.merged_from;
            }
        }
    },
}
</script>