<template>
    <div class="case-detail-activities sanction">
        <div class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval sanction">
                    <i class="icon-saction"></i>
                </div>
            </div>
            <div class="activity-detail-content">
                <div class="activity-highlight">
                    <strong>{{ activityLog.data.user | fullName }}</strong> <span>{{(activityLog.method == 'create' ? ' imposed plea on ' : ' updated plea imposed on ')}}</span>
                    <strong>{{ activityLog.data.plea_to_users | fullName }}</strong>
                </div>
                <div class="activity-details">
                <div class="activity-column">
                        <div class="sanction-col">
                        <label>Plea Type:</label>
                        <p>
                            {{ activityLog.data.plea_type.name }}
                        </p>
                    </div>
                </div>
                
                <div class="activity-column" v-if="activityLog.data.plea_outcome">
                        <div class="sanction-col">
                        <label>Plea Outcome:</label>
                        <p>{{ activityLog.data.plea_outcome.name }}</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="activity-post-detail">
        <div class="float-left">
            <p>
            <i v-if="hideMergedIcon" class="merged-case-icon" v-tooltip.top-center="mergedCase"></i>
                Posted by
                <span>{{ activityLog.data.user | fullName }}</span>
            </p>
        </div>
        <div class="float-right">
            <p>
                <i class="icon-clock"></i>
                <span>{{ activityLog.created_at.date | fullDateTime }}</span>
            </p>
        </div>
    </div>
</div>
</div>
</template>

<script>
    export default {
        props : ['activityLog'],
        data() {
            return {
                listing: [],
                mergedCase: '',
                hideMergedIcon: false,
            }
        },
        mounted (){
            if(this.activityLog){
                if(this.activityLog.data.is_merged)
                {
                    this.hideMergedIcon = true;
                    this.mergedCase = 'Merged from Case # '+this.activityLog.data.merged_from;
                }
            }
        },
    }
</script>