<template>
    <div class="case-detail-activities sanction">
        <div class="activity-list-content">
            <div class="indecation-icon">
                <div class="icon-oval sanction">
                    <i class="icon-saction"></i>
                </div>
            </div>
            <div class="activity-detail-content">

                <div class="activity-highlight" v-if="activityLog.action == 'completed_sanction'">
                    <strong>{{ activityLog.user | fullName }}</strong> {{activityLog.text}}
                </div>
                <div class="activity-highlight" v-if="activityLog.action == 'sanction'">
                    <strong>{{ activityLog.data.user | fullName }}</strong> {{activityLog.text}}
                    <strong>{{ activityLog.data.imposed_on_user | fullName }}</strong>
                </div>

                <div class="activity-details">
                    <div v-if="!activityLog.data.updatedId || activityLog.data.updatedId == sanction.id" class="activity-column" v-for="(sanction, index) in activityLog.data.sanctions"
                    :key="index">
                    <div class="sanction-col">
                        <label>Sanction:</label>
                        <p>{{ sanction.name }}</p>
                    </div>
                    <div class="sanction-col">
                       <label>Period:</label>
                       <p>{{ sanction.period.from | dateString }} to {{ sanction.period.to | dateString }} ({{ sanction.period | dateDifference }} Days)</p>
                   </div>

                   <div class="sanction-col" v-if="sanction.attachments && sanction.attachments.length">
                       <label>Attachments:</label>

                       <div class="file-attachment">
                           <div v-for="(file,index) in sanction.attachments"
                           :key="index" class="file-list">
                           <img :src="file.original_name | attachmentIconUrl" /> 
                           <a 
                           :href="`${file.upload_url}`" 
                           download
                           @click="createLog(file.display_name)">
                               {{ file.display_name }}
                           </a>
                       </div>
                   </div>

               </div>
           </div>

           <div v-if="activityLog.action != 'completed_sanction'" class="activity-column">
              <div class="sanction-col">
              <label>Fine(s):</label>
              <p class="pb-0 activity-log-fines">

                  <span v-for="(fine, index) in activityLog.data.fines"
                  :key="index">{{ fine.name }}</span>
              </p>
          </div>
        </div>
        <div class="activity-column">
            <div class="sanction-col">
            <label>Details:</label>
            <p>{{ activityLog.data.details }}</p>
        </div>
      </div>
    </div>
</div>
<div class="activity-post-detail">
    <div class="float-left" v-if="activityLog.action == 'completed_sanction'">
        <p>
        <i v-if="hideMergedIcon" class="merged-case-icon" v-tooltip.top-center="mergedCase"></i>
          Posted by
            <span>{{ activityLog.user | fullName }}</span>
        </p>
    </div>

    <div class="float-left" v-if="activityLog.action == 'sanction'">
        <p>
        <i v-if="hideMergedIcon" class="merged-case-icon" v-tooltip.top-center="mergedCase"></i>
            Posted by
            <span>{{ activityLog.data.user | fullName }}</span>
        </p>
    </div>

    <div class="float-right">
        <p>
            <i class="icon-clock"></i>
            <span>{{ activityLog.updated_at.date | fullDateTime }}</span>
        </p>
    </div>
</div>
</div>
</div>
</template>

<script>
  import { EventBus } from '../../../../event-bus.js';
    export default {
        props : ['activityLog'],
        data() {
            return {
                listing: [],
                mergedCase: '',
                hideMergedIcon: false,
            }
        },
        methods:{
            createLog(filename) {
                let self = this;
                let url = 'api/incident-case/document-download-logs?case_id='+this.activityLog.case_id+'&case_number='+this.activityLog.case_number+'&filename='+filename;

                self.$http.get(url).then(response=>{

                    EventBus.$emit('activity-logs-unshift', {
                        tab: 'all',
                        log: response.data.data,
                        document: {},
                    });

                });
            },
        },
        mounted (){
            if(this.activityLog){
              if(this.activityLog.data.is_merged)
              {
                  this.hideMergedIcon = true;
                  this.mergedCase = 'Merged from Case # '+this.activityLog.data.merged_from;
              }

            }
        },
    }
</script>