<template>
    <div class="add-fines-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Add Fines</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <d-form>
                    <div class="row">
                        <div class="col-md-12">
                            <d-alert theme="success" hide>Alert - Success Theme Example Link</d-alert>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="add_fines_title">Fines Title</label>
                                <d-input id="add_fines_title" v-model="inputValue" placeholder="Enter fines title" />
                            </div>
                        </div>
                    </div>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary">
                    <span>Submit</span>
                    <c-loader></c-loader>
                </d-btn>
                <d-btn theme="link" @click="handleClose">Cancel </d-btn>
            </d-modal-footer>
        </d-modal>
    </div>
</template>

<script>
    export default{
        
        props: ['showModalProp'],
        
        data() {
            return {
                showModal: false,
                modalSize: 'sm',
            }
        },
        
        methods: {
            handleClick() {
                this.showModal = true;
            },
            handleClose() {
                this.showModal = false;
                this.$emit('hide-modal-value');
            }
        },
        
        watch: {
            showModalProp(value) {
                if(value) {
                    this.showModal = true
                }
                if(!value) {
                    this.showModal = false
                }
            }
        },
    }
</script>
