<template>
    <div class="add-hearing-type-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <div class="model-content-area">
                <d-modal-header>
                    <d-modal-title>{{currentItem ? 'Update Hearing Type' : 'Add Hearing Type'}}</d-modal-title>
                </d-modal-header>
                <d-modal-body>
                    <d-form @submit.prevent="validateBeforeSubmit">
                        <div class="row">
                            <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                    {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                            </div>
                            <div class="col-md-12">
                                <div :class="[ 'form-group' , errorBag.first('hearing type')  ? 'is-invalid' : '']">
                                    <label for="add_hearing_types">Hearing Type</label>
                                    <d-input 
                                            v-validate="'required|max:50'" 
                                            v-model="formData.name" 
                                            name="hearing type" 
                                            placeholder="Enter hearing type" 
                                            id="add_hearing_types" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div :class="['form-group' , 'selectBox', errorBag.first('Board member types') ? 'is-invalid' : '']">
                                    <label for="board_member_types">Board Types</label>
                                    <div class="selectize-tree">
                                      <treeselect
                                        :options="memberListing"
                                        :multiple="multiple"
                                        placeholder="Select Board Types"
                                        :searchable="searchable"
                                        :clear-on-select="clearOnSelect"
                                        v-model="formData.board_member_type_ids"
                                        id="board_member_types"
                                        data-vv-name="Board member types"
                                        v-validate="'required'"
                                        :class="[errorBag.first('Board member types') ? 'is-invalid' : '']"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </d-form>
                </d-modal-body>
                <d-modal-footer>
                    <d-btn @click.prevent="validateBeforeSubmit" :class="[ loading ? 'show-spinner' : '']">
                        <span v-if="!loading">{{currentItem ? 'Update' : 'Submit'}}</span>
                        <c-loader></c-loader>
                    </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
                </d-modal-footer>
            </div>
        </d-modal>
        <common-methods 
            @form-submitted="formSubmitted"
            @form-error="formError"
            @form-updated="formUpdated"
            :submitUrl="submitUrl"
            :submit="submit"
            :formData="formData"
            :submitType="submitType"
            >
        </common-methods>
    </div>
</template>
<script>
    import Treeselect from '@riophae/vue-treeselect';
    import { ASYNC_SEARCH } from '@riophae/vue-treeselect'
    const simulateAsyncOperation = fn => {
      setTimeout(fn, 1000)
    }
    export default{
        components: { Treeselect },
        props: ['showModalProp','currentItem'],
        data() {
            return {
                errorMessage : '',
                successMessage : '',
                showModal: false,
                modalSize: 'sm',
                memberListing: [],
                formData : {
                    name : '',
                    board_member_type_ids:null,
                    modify_name: true,
                },
                submit : false,
                loading : false,
                submitType : 'post',
                url: 'api/hearing-type',
                requestUrl: '',
                boardMemberTypeUrl:'api/board-member-type',
                requestBoardMemberTypeUrl:'',
                clearOnSelect: true,
                searchable:true,
                multiple:true,
                searchUrl:'',
                
            }
        },
        mounted (){
            this.requestUrl = this.url;
        },
        computed : {
            submitUrl(){
                return this.requestUrl ;
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            },
        },
        methods: {
            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        return;
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },3000);
                    this.errorMessage = this.errorBag.all()[0];
                        setTimeout(function () {
                        Vue.nextTick(() => {
                            self.errorBag.clear();
                        })
                    }, 3000);
                });
            },
            handleClick() {
                this.showModal = true;
            },
            handleClose() {
                this.showModal = false;
                this.formData = {
                    name : '',
                    board_member_type_ids : null,
                };
                this.loading = false;
                this.successMessage = '';
                this.errorMessage = '';
                this.$emit('hide-modal-value');
            },
            formError(response){

                let self = this;

                this.submit  = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                setTimeout(function(){
                    self.errorMessage = '';
                },3000);  
            },
            formSubmitted(response){
                this.clearDetails(response);
                this.$emit('form-submitted', response);
            },
            formUpdated(response){
                this.clearDetails(response);
                this.$emit('form-updated' , response);
            },
            clearDetails(response){

                let self = this;
                setTimeout(function(){
                    self.handleClose();
                    self.showModal = false;
                } , 3000);
                this.successMessage = response.message;
                this.submit = false;
            },
            getAllBoardMemberTypes() {
                let self = this;
                let url = self.boardMemberTypeUrl;
                self.errorBag.clear();
                //url = url+'?pagination=false&is_archived=0';
                url = url+'?order_by_name=1&pagination=false';
                self.$http.get(url).then(response=>{
                    response = response.data;
                    this.memberListing = response.data;
                }).catch(error=>{
                });
            },

        },
        watch: {
            currentItem(value){
                if(value){
                    this.requestUrl = this.url +'/'+ value.id;
                    this.formData = JSON.parse(JSON.stringify(value));
                    this.formData.modify_name = true;
                    this.submitType = 'update';
                }else{
                    this.formData = {};
                    this.submitType = 'post';
                    this.requestUrl = this.url;
                }
            },
            showModalProp(value) {
                if(value) {
                    this.showModal = true;
                    modify_name:true;
                    this.value = [];
                    this.getAllBoardMemberTypes();
                }
                if(!value) {
                    this.showModal = false
                    this.getAllBoardMemberTypes();
                }
            },
        },
    }
</script>