
<template>
    <div class="add-incident-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <div class="model-content-area">
                <d-modal-header>
                    <d-modal-title>{{currentItem ? 'Update' : 'Add'}} Incident Types</d-modal-title>
                </d-modal-header>
                <d-modal-body>
                    <d-form @submit.prevent="validateBeforeSubmit">

                        <div class="row">
                            <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                    {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group selectBox">
                                    <label for="add_parent_incident">Parent Incident Type</label>
                                    <i class="icon-keyboard_arrow_down3"></i>
                                    <d-form-select id="add_parent_incident" v-model="formData.parent_id" :class="{ disabled: currentItem }" >

                                        <option :value="null" selected >None (Itself parent)</option>
                                        <option :value="incidentType.id" v-for="incidentType in parentIncidentTypes">{{incidentType.name}}</option>
                                    </d-form-select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div :class="[ 'form-group' , errorBag.first('title')  ? 'is-invalid' : '']">
                                    <label for="add_incident_type_title">Incident Type Title</label>
                                    <d-input v-validate="'required|max:25'" name="title" v-model="formData.name" placeholder="Enter incident type title" id="add_incident_type_title"/>
                                </div>
                            </div>
                        </div>
                    </d-form>
                </d-modal-body>
                <d-modal-footer>
                    <d-btn @click.prevent="validateBeforeSubmit()" :class="[ loading ? 'show-spinner' : '']">
                        <c-loader></c-loader>
                        <span v-if="!loading">{{currentItem ? 'Update' : 'Submit'}}</span>
                    </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
                </d-modal-footer>
            </div>
            </d-modal>

            <common-methods 
            @form-submitted="formSubmitted"
            @form-error="formError"
            @form-updated="formUpdated"
            :submitUrl="submitUrl"
            :submit="submit"
            :formData="formData"
            :submitType="submitType"
            >
        </common-methods>
    </div>
</template>
<script>
export default{

    props: [
    'showModalProp',
    'currentItem'
    ],

    data() {
        return {
            errorMessage : '',
            successMessage : '',
            showModal: false,
            modalSize: 'sm',
            formData : {
                name : '',
                parent_id : null,
                modify_name: true
            },
            submit : false,
            loading : false,
            submitType : 'post',
            url: 'api/incident-type',
            requestUrl : 'api/incident-type',
            parentIncidentTypes:[],
        }
    },
    mounted (){
            // this.getAllIncidentTypes();
            this.requestUrl = this.url;
        },
        computed : {
            submitUrl(){
                return this.requestUrl;
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
        
        methods: {
            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        return;
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },5000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            
            handleClick() {
                this.showModal = true;                
            },
            
            handleClose() {
                this.showModal = false;
                this.formData = {
                    name : '',
                    parent_id : null
                };
                this.loading = false;
                this.successMessage = '';
                this.errorMessage = '';
                this.$emit('hide-modal-value');
            },
            
            formError(response){

                let self = this;

                this.submit  = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });    
            },

            formSubmitted(response){
                this.clearDetails(response);
                this.$emit('form-submitted', response);
            },
            formUpdated(response){
                this.clearDetails(response);
                this.$emit('form-updated' , response);

            },
            clearDetails(response){

                let self = this;
                setTimeout(function(){
                    self.handleClose();
                    self.showModal = false;
                } , 2000);
                this.successMessage = response.message;
                this.submit = false;
            },
            getAllIncidentTypes() {

                let self = this;
                let url = self.url;
                this.errorBag.clear();
                self.$http.get(url).then(response=>{
                    response = response.data;
                    this.parentIncidentTypes = _.filter(response.data, { parent_id: null});
                    //this.parentIncidentTypes = _.filter(this.parentIncidentTypes, { is_archived: 0});
                }).catch(error=>{
                });
            },
        },

        watch: {
            showModalProp(value) {
                this.showModal = true;
                if(value) {
                    this.getAllIncidentTypes();
                    modify_name: true
                }
                if(!value) {
                    this.showModal = false
                }
            },
            currentItem(value){
                if(value){
                    this.requestUrl = this.url + '/' + value.id;
                    this.formData = JSON.parse(JSON.stringify(value))
                    this.formData.modify_name = true;
                    this.submitType = 'update';
                }else{
                    this.submitType = 'post';
                    this.requestUrl = this.url;
                }
            }
        },
    }
    </script>