<template>
    <div class="add-members-status-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <div class="model-content-area">
                <d-modal-header>
                    <d-modal-title>Associate Board Member</d-modal-title>
                </d-modal-header>
                <d-modal-body>
                    <d-form @submit.prevent="validateBeforeSubmit">
                        <div class="row">
                            <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>

                                    {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                            </div>
                            <div class="col-md-12">
                                <label for="add_associate_board_members">Associate Board Member</label>
                                <div class="form-group add-assocaite-treeselect">
                                    <div class="selectize-tree">
                                      <treeselect 
                                        v-validate="'required'"
                                        name="Associate Board Member"
                                        v-if="!loading"
                                        instanceId="add_associate_board_members"
                                        :options="memberListing"
                                        :multiple="multiple"
                                        placeholder="Select Members"
                                        :searchable="searchable"
                                        :clear-on-select="clearOnSelect"
                                        v-model="value"
                                        :class="[errorBag.first('Associate Board Member') ? 'is-invalid' : '']"
                                        />
                                        <block-spinner v-if="loading"></block-spinner>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </d-form>
                </d-modal-body>
                <d-modal-footer>
                    <d-btn @click.prevent="validateBeforeSubmit()" :class="[ submit ? 'show-spinner' : '', loading ? 'disable-btn' :'']">
                        <span  v-if="!submit">Submit</span>
                        <c-loader></c-loader>
                    </d-btn>
                    <a :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel </a>
                </d-modal-footer>
            </div>
        </d-modal>
        <common-methods 
            @form-submitted="formSubmitted"
            @form-error="formError"
            @form-updated="formUpdated"
            :submitUrl="submitUrl"
            :submit="submit"
            :formData="formData"
            :submitType="submitType"
            >
        </common-methods>


    </div>
</template>
<script>

import Treeselect from '@riophae/vue-treeselect';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect'
const simulateAsyncOperation = fn => {
  setTimeout(fn, 1000)
}
    export default{
        
    components: { Treeselect },
        
        props: ['showModalProp', 'currentItem'],
        
        data() {
            return {
                showModal: false,
                modalSize: 'sm',
                value: [],
                memberListing: [],
                errorMessage : '',
                successMessage : '',
                formData : {
                    users : null,
                },
                employeesList: [],
                submit : false,
                loading : false,
                submitType : 'post',
                url: 'api/board-users',
                userUrl: 'api/user',
                memberUserUrl: 'api/board-type-users',
                requestUrl: '',
                requestMemberUserUrl: '',
                clearOnSelect: true,
                searchable:true,
                multiple:true,
                searchUrl:'',

            }            
        },
        
        methods: {
            handleClick() {
                this.showModal = true;
            },
            handleClose() {
                this.showModal = false;
                this.formData = {
                    users: null,
                };
                this.loading = false;
                this.successMessage = '';
                this.errorMessage = '';
                this.$emit('hide-modal-value');
            },
            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        return;
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },5000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            formError(response){

                let self = this;

                this.submit  = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                setTimeout(function(){
                    self.errorMessage = '';
                },5000);  
            },

            formSubmitted(response){
                this.clearDetails(response);
                this.$emit('form-submitted', response);
            },
            formUpdated(response){
                this.clearDetails(response);
                this.$emit('form-updated' , response);
            },
            clearDetails(response){

                let self = this;
                setTimeout(function(){
                    self.handleClose();
                    self.showModal = false;
                } , 2000);
                this.successMessage = response.message;
                this.submit = false;
            },
            getAllEmployees() {
                let self = this;
                let url = self.userUrl;
                self.errorBag.clear();
                url = url+'?pagination=false&filter_by_type=employee';
                this.loading = true;

                self.$http.get(url).then(response=>{
                    response = response.data;
                    this.memberListing = response.data;
                    self.loading = false;

                }).catch(error=>{
                });
            },
            getBoardEmployees() {
                let self = this;
                let url = self.requestMemberUserUrl;
                self.errorBag.clear();
                url = url;
                self.$http.get(url).then(response=>{
                    response = response.data;
                    this.value = response.data;
                }).catch(error=>{
                });
            },

            loadOptions({ action, searchQuery, callback }) {
                let self = this;
                if (action === ASYNC_SEARCH && searchQuery.length >3) {
                    simulateAsyncOperation(() => {
                        this.searchUrl  = self.userUrl+'?pagination=false&filter_by_type=employee&keyword=' + searchQuery;
                        this.$http.get(this.searchUrl).then(response => {
                        
                            response = response.data;
                            self.memberListing = response.data;
                            callback(null, self.memberListing)
                            }).catch(error=>{
                        });
                    })
                }
            },
        },
        computed : {
            submitUrl(){
                return this.requestUrl ;
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
        watch: {
            currentItem(value){
                if(value){
                    this.requestMemberUserUrl = this.memberUserUrl +'?id='+ value.id;
                    this.requestUrl = this.url +'/'+ value.id;
                    this.formData = JSON.parse(JSON.stringify(value));
                    this.submitType;
                }
            },
            showModalProp(value) {
                if(value) {
                    this.showModal = true,
                    this.formData = {
                        users:null
                    };
                    this.value = [];
                    this.getAllEmployees();
                    this.getBoardEmployees();
                }
                if(!value) {
                    this.showModal = false,
                    this.formData = {
                        users:null
                    };
                    this.value = [];
                    this.memberListing = [];
                    this.searchUrl='';
                }
            },
            value(value){
                if (value) {

                    this.formData = {
                            users:value
                        };
                }else{
                    this.formData = {
                        users:null
                    };
                }
                
            },
        },
    }
</script>