
<template>
    <div class="add-incident-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <div class="model-content-area">
                <d-modal-header>
                    <d-modal-title>{{currentItem ? 'Update' : 'Add'}} Organization</d-modal-title>
                </d-modal-header>
                <d-modal-body>
                    <d-form @submit.prevent="validateBeforeSubmit">

                        <div class="row">
                            <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                    {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                            </div>
                            <div class="col-md-12">
                                <div :class="[ 'form-group' , errorBag.first('Organization First Name')  ? 'is-invalid' : '']">
                                    <label for="add_organization_name">Organization First Name</label>
                                    <d-input v-validate="'required|max:25'" name="Organization First Name" v-model="formData.first_name" placeholder="Enter organization first name" id="add_organization_name"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div :class="[ 'form-group' , errorBag.first('Organization Last Name')  ? 'is-invalid' : '']">
                                    <label for="add_organization_name">Organization Last Name</label>
                                    <d-input v-validate="'required|max:25'" name="Organization Last Name" v-model="formData.last_name" placeholder="Enter organization last name" id="add_organization_name"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div :class="[ 'form-group' , errorBag.first('Organization Email')  ? 'is-invalid' : '']">
                                    <label for="add_organization_email">Organization Email</label>
                                    <d-input v-validate="'required|email'" name="Organization Email" v-model="formData.email" placeholder="Enter organization email" id="add_organization_email"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div :class="[ 'form-group' , errorBag.first('Organization Phone Number')  ? 'is-invalid' : '']">
                                    <label for="add_organization_email">Organization phone number</label>
                                    <d-input v-validate="{required:true, max:15, regex:/^[0-9-]*$/}" name="Organization phone number" v-model="formData.phone_number" placeholder="Enter organization phone number" id="add_organization_email"/>
                                </div>
                            </div>
                        </div>
                    </d-form>
                </d-modal-body>
                <d-modal-footer>
                    <d-btn @click.prevent="validateBeforeSubmit()" :class="[ loading ? 'show-spinner' : '']">
                        <c-loader></c-loader>
                        <span v-if="!loading">{{currentItem ? 'Update' : 'Submit'}}</span>
                    </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
                </d-modal-footer>
            </div>
            </d-modal>

            <common-methods 
            @form-submitted="formSubmitted"
            @form-error="formError"
            @form-updated="formUpdated"
            :submitUrl="submitUrl"
            :submit="submit"
            :formData="formData"
            :submitType="submitType"
            >
        </common-methods>
    </div>
</template>
<script>
export default{

    props: [
    'showModalProp',
    'currentItem'
    ],

    data() {
        return {
            errorMessage : '',
            successMessage : '',
            showModal: false,
            modalSize: 'sm',
            formData : {
                first_name : '',
                middle_name : '',
                last_name : '',
                phone_number: '',
                email : '',
                role_id: 7,
                type: 'organization'
            },
            submit : false,
            loading : false,
            submitType : 'post',
            url: 'api/user',
            requestUrl : 'api/user',
            parentIncidentTypes:[],
        }
    },
    mounted (){
            this.requestUrl = this.url;
        },
        computed : {
            submitUrl(){
                return this.requestUrl;
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
        
        methods: {
            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if(self.submitType == 'update') {
                            self.formData = {
                                first_name : this.formData.first_name,
                                middle_name : this.formData.middle_name,
                                last_name : this.formData.last_name,
                                phone_number : this.formData.phone_number,
                                email : this.formData.email,
                                role_id: 7,
                                type: 'organization'
                            };
                        }
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        return;
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },5000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            
            handleClick() {
                this.showModal = true;                
            },
            
            handleClose() {
                this.showModal = false;
                this.formData = {
                    first_name : '',
                    middle_name : '',
                    last_name : '',
                    phone_number: '',
                    email : '',
                    role_id: 7,
                    type: 'organization'
                };
                this.loading = false;
                this.successMessage = '';
                this.errorMessage = '';
                this.$emit('hide-modal-value');
            },
            
            formError(response){

                let self = this;

                this.submit  = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });    
            },

            formSubmitted(response){
                this.clearDetails(response);
                this.$emit('form-submitted', response);
            },
            formUpdated(response){
                this.clearDetails(response);
                this.$emit('form-updated' , response);

            },
            clearDetails(response){

                let self = this;
                setTimeout(function(){
                    self.handleClose();
                    self.showModal = false;
                } , 2000);
                this.successMessage = response.message;
                this.submit = false;
            },
        },

        watch: {
            showModalProp(value) {
                if(value) {
                    this.showModal = true;
                }
                if(!value) {
                    this.showModal = false
                }
            },
            currentItem(value){
                if(value){
                    this.requestUrl = this.url + '/' + value.id;
                    this.formData = JSON.parse(JSON.stringify(value))
                    this.submitType = 'update';
                }else{
                    this.submitType = 'post';
                    this.requestUrl = this.url;
                }
            }
        },
    }
    </script>