<template>
    <div class="related-case-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Add Related Case</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <d-form @submit.prevent="validateBeforeSubmit">
                    <div class="row">
                        <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                    {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                        </div>
                        <div class="col-md-12">                            
                            <p class="modal-des">Search and select the case to define as Related Case</p>
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <div :class="[ 'form-group' , 'multiselect-icon', errorBag.first('Related Case')  ? 'is-invalid' : '']">
                                <label for="add_role_class">Case</label>
                                <i class="icon-keyboard_arrow_down3"></i>
                       <!--          <d-form-select v-model="selectedCase" v-validate="'required'"
                                name="Related Case">
                                    <option :value="[]" selected v-if="selectedCase!=[] && cases!=''">
                                        Please select a case
                                    </option>
                                    <option :value="[]" selected v-if="selectedCase!=[] && cases==''">
                                        No case found
                                    </option>
                                    <option v-for="(caseList,index) in cases"
                                    :value="caseList"
                                    :key="index">
                                    Case #: {{caseList.case_number}}
                                    </option>
                                </d-form-select> -->
                           
                                 <!-- <multiselect 
                                    v-model="selectedCase" 
                                    label="case_number"  
                                    track-by="_id" 
                                    placeholder="Type to search" 
                                    data-vv-name="Related Case"
                                    v-validate="'required'"
                                    open-direction="bottom"
                                    :options="cases"
                                    :multiple="false" 
                                    :searchable="true" 
                                    :internal-search="true" 
                                    :clear-on-select="false" 
                                    :close-on-select="false" 
                                    :options-limit="300"
                                    :class="[errorBag.first('Related Case') ? 'is-invalid' : '']"> -->
                                   <!--  <template> 
                                        <div class="user-options" style="height: 30px;">
                                            <div class="option__desc">
                                                <span class="option__title">
                                                    {{ currentCase.case_number  }}
                                                </span>
                                            </div>
                                        </div>
                                    </template>
                                </multiselect> -->
                                    <common-multiselect 
                                    @selected-value="getCaseId"
                                    :url="caseUrl"
                                    :searchOptions="{ 'track_by' : '_id' , 'label' : 'case_number'}"
                                    :placeHolder="placeholder"
                                    v-validate="'required'"
                                    name="Case Number"
                                    v-model="selectedCase"
                                    :class="[errorBag.first('Case Number') ? 'is-invalid' : '']">
                                    ></common-multiselect>
                            </div>
                        </div>
                    </div>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary" @click.prevent="validateBeforeSubmit()" :class="[ loading ? 'show-spinner' : '', (cases=='') ? 'disable-btn' : '']">
                    <span>Add Now</span>
                    <c-loader></c-loader>
                </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>
        <common-methods 
        @get-response="getCasesResponse"
        :force="force"
        :url="caseUrl"
        :formData="formData"
        :hideLoader="true"
        :submit="submit"
        :submitUrl="submitUrl"
        :submitType="'update'"
        @form-updated="formUpdated"
        @form-error="formError"
       
        >
    </common-methods>
    </div>
</template>
<script>
    import { EventBus } from '../../event-bus.js';
    import Multiselect from 'vue-multiselect'

    export default{

        props: ['showModalProp','currentCase'],

        components: { 
            Multiselect
        },

        data() {
            return {
                force:false,
                submit:false,
                errorMessage:'',
                successMessage : '',
                selectedCase: [],
                loading: false,
                showModal: false,
                modalSize: '',
                cases:'',
                formData:{
                    related_case_id:'',
                    related_case_number:''
                },
                selectedCaseId: '',
                placeholder: 'Start typing case number'
            }
        },

        methods: {
            handleClick() {
                this.showModal = true;
            },
            handleClose() {
                this.showModal = false;
                this.selectedCase = [],
                this.$emit('hide-modal-value');
            },
            getCasesResponse(response){
                if(Object.keys(response.data)){
                    this.cases = response.data;
                }
            },
            formUpdated(response){
                let self = this;

                this.submit = false;
                
                this.$store.commit('setCaseData' , response.data.document);

                EventBus.$emit('activity-logs-unshift', {
                    tab: 'all',
                    log: response.data.log,
                    document: {},
                });

                // self.successMessage = 'Related case added successfully.';
                setTimeout(function () {
                    self.successMessage = '';
                    self.loading = false;
                    // self.$emit('case-updated');
                    self.handleClose();         
                } , 3000);

                
            },
            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.formData.related_case_id = this.selectedCase._id;
                        this.formData.related_case_number = this.selectedCase.case_number;
                        this.formData.method_type = 'show',
                        this.formData.case_number = this.currentCase.case_number;
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },3000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            formError(response){
                let self = this;
                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                 setTimeout(function(){
                    self.errorMessage = '';
                },3000);
            },
            getCaseId(response){
                if(response){
                    this.selectedCase = response;
                }
            }
        },

        watch: {
            showModalProp(value) {
                if(value) {
                    this.showModal = true
                    this.force = true
                }
                if(!value) {
                    this.showModal = false
                    this.force = false
                }
            }
        },
        computed : {

            submitUrl(){
                if(typeof(this.currentCase)!='undefined'){
                    return 'api/incident-case/add-related-case/'+ this.currentCase._id;
                }
            },
            caseUrl(){
                if(typeof(this.currentCase)!='undefined'){
                    return 'api/incident-case?type=case&no_details=true&is_discarded=0&related_case=1&id=' + this.currentCase._id;
                }
            },
            

            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
    }
</script>