<template>
    <div class="add-building-popup prevent-close" role="dialog">
        <d-modal v-if="showModal" size="sm" @close="handleClose">
            <div class="model-content-area">
                <d-modal-header>
                    <d-modal-title>{{currentItem ? 'Update Specific Location' : 'Add Specific Location'}}</d-modal-title>
                </d-modal-header>
                <d-modal-body>
                    <d-form @submit.prevent="validateBeforeSubmit">
                        <div class="row">
                            <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show role="alert">
                                    {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                            </div>
                            <div class="col-md-12">
                                <div :class="[ 'form-group' , 'selectBox' , errorBag.first('parent building')  ? 'is-invalid' : '']">
                                    <label for="ab_parent_location">Parent Building</label>
                                    <i class="icon-keyboard_arrow_down3"></i>
                                    <d-form-select id="ab_parent_location" v-model="formData.building_id" v-validate="'required' " name="parent building" :class="{disabled: formData.building_id && currentItem}">
                                        <option value="null" selected="">Select Parent Building</option>
                                        <option :value="location.id" v-for="location in parentLocations">{{location.name}}</option>
                                    </d-form-select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div :class="[ 'form-group' , errorBag.first('specific location title')  ? 'is-invalid' : '']">
                                    <label for="ab_building_title">Specific Location</label>
                                    <d-input id="ab_building_title" v-validate="'required|max:50'" v-model="formData.name" name="specific location title" placeholder="Enter Specific Location" />
                                </div>
                            </div>
                        </div>
                    </d-form>
                </d-modal-body>
                <d-modal-footer>
                    <d-btn @click.prevent="validateBeforeSubmit" :class="[ loading ? 'show-spinner' : '']">
                        <span v-if="!loading">{{currentItem ? 'Update' : 'Submit'}}</span>
                        <c-loader></c-loader>
                    </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
                </d-modal-footer>
            </div>
        </d-modal>
        <common-methods 
            @form-submitted="formSubmitted"
            @form-error="formError"
            @form-updated="formUpdated"
            :submitUrl="submitUrl"
            :submit="submit"
            :formData="formData"
            :submitType="submitType"
        >
        </common-methods>
    </div>

</template>

<script>
    export default{
        
        props: [
        'showModalProp', 
        'currentItem'],
        
        data() {
            return {
                errorMessage : '',
                successMessage : '',
                showModal: false,
                modalSize: 'sm',
                formData : {
                    name : '',
                    building_id : null,
                    modify_name: true

                },
                parentLocations: [],
                submit : false,
                loading : false,
                submitType : 'post',
                url: 'api/specific-location',
                requestUrl: '',
            }
        },
        mounted (){
            this.requestUrl = this.url;
        },
        computed : {
            submitUrl(){
                return this.requestUrl ;
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
        methods: {

            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        return;
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },5000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            
            handleClick() {
                this.showModal = true;
            },
            
            handleClose() {
                this.showModal = false;
                this.formData = {
                    name : '',
                    building_id : null,
                    modify_name: true
                };
                this.loading = false;
                this.successMessage = '';
                this.errorMessage = '';
                this.$emit('hide-modal-value');
            },
            
            formError(response){

                let self = this;

                this.submit  = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                setTimeout(function(){
                    self.errorMessage = '';
                },5000);  
            },

            formSubmitted(response){
                this.clearDetails(response);
                this.$emit('form-submitted', response);
            },
            formUpdated(response){
                this.clearDetails(response);
                this.$emit('form-updated' , response);
            },
            clearDetails(response){

                let self = this;
                setTimeout(function(){
                    self.handleClose();
                    self.showModal = false;
                } , 2000);
                this.successMessage = response.message;
                this.submit = false;
            },
            getLocations() {
                let self = this;
                let url = self.url;
                self.errorBag.clear();
                url = 'api/location?order_by=name&is_building=1&is_archived=0';
                self.$http.get(url).then(response=>{
                    response = response.data;
                    this.parentLocations = response.data;
                }).catch(error=>{
                });
            },


        },
        
        watch: {
            showModalProp(value) {
                if(value) {
                    this.formData = {
                        name: '',
                        building_id: null,
                        modify_name: true
                    };
                    this.getLocations();
                    this.showModal = true;
                }
                if(!value) {
                    this.showModal = false;
                    this.formData = {
                        name: '',
                        building_id: null,
                        modify_name: true
                    };
                    this.parentLocations = [];
                }
            },
            currentItem(value){
                if(value){
                    this.requestUrl = this.url +'/'+ value.id;
                    this.formData = JSON.parse(JSON.stringify(value));
                    this.formData.modify_name = true;
                    this.submitType = 'update';
                }else{
                    this.submitType = 'post';
                    this.requestUrl = this.url;
                }
            }
        },
    }
</script>
