<template>
    <div class="related-case-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Add Title IX</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <d-form @submit.prevent="validateBeforeSubmit">
                    <div class="row">
                        <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                    {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                        </div>
                        <div class="col-md-12">                            
                            <p class="modal-des">Select the Title IX to associate with the case.</p>
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <div :class="[ 'form-group' , 'multiselect-icon', errorBag.first('Title IX Case')  ? 'is-invalid' : '']">
                                <label for="add_role_class">Title IX</label>
                                <i class="icon-keyboard_arrow_down3"></i>
                                
                                <d-form-select  
                                v-model="title_ix_id"
                                v-validate="'required'"
                                data-vv-name="Title IX"
                                :class="[errorBag.first('Title IX') ? 'is-invalid' : '']">
                                <option value="" selected="" disabled="">Select Title IX</option>
                                <option 
                                v-for="(titleList, index) in title"
                                :key="index"
                                :value="titleList.id">
                                {{titleList.name}}
                                </option>
                                </d-form-select>
                           
                            </div>
                        </div>
                    </div>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary" @click.prevent="validateBeforeSubmit()" :class="[ loading ? 'show-spinner' : '', (title=='') ? 'disable-btn' : '']">
                    <span>Add Now</span>
                    <c-loader></c-loader>
                </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>

    <common-methods
    @get-response="getResponse"
    :url="titleUrl"
    :hideLoader="true">
    </common-methods>

    <common-methods 
    :force="force"
    :formData="formData"
    :hideLoader="true"
    :submit="submit"
    :submitUrl="submitUrl"
    :submitType="'update'"
    @form-updated="formUpdated"
    @form-error="formError">
    </common-methods>
            
    </d-modal>
    </div>
</template>


<script>
    import { EventBus } from '../../event-bus.js';
    import Multiselect from 'vue-multiselect'

    export default{

        props: ['showModalProp','currentCase'],

        components: { 
            Multiselect
        },

        data() {
            return {
                title_ix_id: '',
                title: [],
                force:false,
                submit:false,
                errorMessage:'',
                successMessage : '',
                loading: false,
                showModal: false,
                modalSize: '',
                formData:{
                    title_ix_id: '',
                }
            }
        },

        methods: {
            handleClick() {
                this.showModal = true;
            },
            handleClose() {
                this.showModal = false;
                this.title_ix_id = '';
                this.$emit('hide-modal-value');
            },
            getResponse(response){
                if(Object.keys(response.data)){
                    this.title = response.data;
                }
            },
            formUpdated(response){
                let self = this;
                this.submit = false;
                this.$store.commit('setCaseData' , response.data.document);
                EventBus.$emit('activity-logs-unshift', {
                    tab: 'all',
                    log: response.data.log,
                    document: {},
                });

                setTimeout(function () {
                    self.successMessage = '';
                    self.loading = false;
                    self.handleClose();         
                } , 3000);    
            },
            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.formData.title_ix_id = this.title_ix_id,
                        this.formData.method_type = 'show',
                        this.formData.case_number = this.currentCase.case_number;
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },3000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            formError(response){
                let self = this;
                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                 setTimeout(function(){
                    self.errorMessage = '';
                },3000);
            },
            getCaseId(response){
                if(response){
                    this.selectedCase = response;
                }
            }
        },
        watch: {
            showModalProp(value) {
                if(value) {
                    this.showModal = true
                    this.force = true
                }
                if(!value) {
                    this.showModal = false
                    this.force = false
                }
            }
        },
        computed : {
            submitUrl(){
                if(typeof(this.currentCase)!='undefined'){
                    return 'api/incident-case/add-title-ix/'+ this.currentCase._id;
                }
            },
            titleUrl(){
                return 'api/title-ix-category?pagination=true&is_archived=0';
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
    }
</script>