<template>

    <div class="anonymous-user-popup">
        <d-modal v-if="showModal" size="lg" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Anonymous User</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <div class="row">
                    <div class="col-xs-12 col-md-6"  v-if="fromPopup == 'Reported By'">
                        <d-form @submit.prevent="validateBeforeSubmit">
                             <div class="row">
                                    <div class="col-xs-12 col-md-5">
                                        <label class="modal-auto-text"></label>
                                    </div>
                                    <div class="col-xs-12 col-md-7">
                                        <p class="modal-des"></p>
                                    </div>
                                    <div class="col-xs-12 col-md-5">
                                        <label class="modal-auto-text">Name</label>
                                    </div>
                                    <div class="col-xs-12 col-md-7">
                                        <p class="modal-des">{{currentInvolvedUser.full_name ? currentInvolvedUser.full_name:'N/A'}}</p>
                                    </div>
                                    <div class="col-xs-12 col-md-5">
                                        <label class="modal-auto-text">Email</label>
                                    </div>
                                    <div class="col-xs-12 col-md-7">
                                        <p class="modal-des">{{currentInvolvedUser.email ? currentInvolvedUser.email : 'N/A'}}</p>
                                    </div>
                                    <div class="col-xs-12 col-md-5" v-if="currentInvolvedUser.phone_no">
                                        <label class="modal-auto-text">Phone Number</label>
                                    </div>
                                    <div class="col-xs-12 col-md-7" v-if="currentInvolvedUser.phone_no">
                                        <p class="modal-des">{{currentInvolvedUser.phone_no}}</p>
                                    </div>
                                </div>
                      </d-form>
                    </div>
                    <div class="col-xs-12 col-md-6"  v-if="fromPopup != 'Reported By'">
                        <d-form @submit.prevent="validateBeforeSubmit">
                             <div class="row">
                                    <div class="col-xs-12 col-md-5">
                                        <label class="modal-auto-text"></label>
                                    </div>
                                    <div class="col-xs-12 col-md-7">
                                        <p class="modal-des"></p>
                                    </div>
                                    <div class="col-xs-12 col-md-5">
                                        <label class="modal-auto-text">Name</label>
                                    </div>
                                    <div class="col-xs-12 col-md-7">
                                        <p class="modal-des">{{currentInvolvedUser.full_name ? currentInvolvedUser.full_name:'N/A'}}</p>
                                    </div>
                                    <div class="col-xs-12 col-md-5">
                                        <label class="modal-auto-text">Email</label>
                                    </div>
                                    <div class="col-xs-12 col-md-7">
                                        <p class="modal-des">{{currentInvolvedUser.email ? currentInvolvedUser.email : 'N/A'}}</p>
                                    </div>
                                    <div class="col-xs-12 col-md-5" v-if="currentInvolvedUser.phone_no">
                                        <label class="modal-auto-text">Phone Number</label>
                                    </div>
                                    <div class="col-xs-12 col-md-7" v-if="currentInvolvedUser.phone_no">
                                        <p class="modal-des">{{currentInvolvedUser.phone_no}}</p>
                                    </div>
                                </div>
                      </d-form>
                    </div>                    
                    <div class="col-xs-12 col-md-6">
                        <h4>Assign Proper User</h4>
                        <d-form>
                            <div class="row">
                                <div class="col-md-12">
                                    <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                        {{ errorMessage ? errorMessage : successMessage }}
                                    </d-alert>
                                </div>
                                <div class="col-md-12">
                                    <div v-if="fromPopup == 'Reported By'":class="[ 'form-group' , 'selectBox', errorBag.first('Reported By Name')  ? 'is-invalid' : '']">
                                        <label for="involved_party_name_title">Reported By Name</label>
                                         <i class="icon-keyboard_arrow_down3"></i>
                                         <common-multiselect @selected-value="getUserId" :url="userUrl"></common-multiselect>
                                    </div>
                                    <div v-else :class="[ 'form-group' , 'selectBox', errorBag.first('Involved Party Name')  ? 'is-invalid' : '']">
                                        <label for="involved_party_name_title">Involved Party Name</label>
                                         <i class="icon-keyboard_arrow_down3"></i>
                                         <common-multiselect @selected-value="getUserId" :url="userUrl"></common-multiselect>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <d-btn theme="primary" @click.prevent="validateBeforeSubmit()" :class="[ loading ? 'show-spinner' : '']">
                                        <span>Update</span>
                                        <c-loader></c-loader>
                                    </d-btn>
                                </div>
                            </div>
                        </d-form>
                    </div>
                </div>
            </d-modal-body>
        </d-modal>
        <common-methods 
        :infiniteLoad="false"
        :hideLoader="true"
        :formData="formData"
        :submit="submit"
        :submitUrl="submitUrl"
        :submitType="'update'"
        @form-updated="formUpdated"
        @form-error="formError"
        >
    </common-methods>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    export default {
        
        props: ['showModalProp','currentInvolvedUser','currentCase','fromPopup'],
        
        data () {
            return {
                inputValue:'',
                showModal: false,
                modalSize: 'lg',
                submit:false,
                errorMessage:'',
                successMessage : '',
                loading: false,
                formData:{},
                users:'',
                selectedUserId:null,
                organization: 7,
            }
        },
        
        methods: {
            handleClick() {
                this.showModal = true
            },
            handleClose() {
                this.loading = false,
                this.successMessage = '',
                this.errorMessage = '',
                this.showModal = false
                this.$emit('hide-modal-value');
                this.selectedUserId = null
                this.formData = {
                    
                        assigned_user_id:'',
                        person_type_id:'',
                        gusest_index:'',
                    
                }
            },
            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if(this.fromPopup == 'Involved Party'){
                            this.formData.assigned_user_id = this.selectedUserId;
                            this.formData.person_type_id = this.currentInvolvedUser.person_type_id;
                            this.formData.guest_index = this.currentInvolvedUser.index;
                            this.formData.method_type = 'show',
                            this.submit = true;
                            this.loading = true;
                            this.errorMessage = '';
                        }
                        if(this.fromPopup == 'Reported By'){
                            this.formData.assigned_user_id = this.selectedUserId;
                            this.formData.method_type = 'show',
                            this.submit = true;
                            this.loading = true;
                            this.errorMessage = '';
                        }
                        
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },3000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            formUpdated(response){
                let self = this;

                this.submit = false;

                this.$store.commit('setCaseData' , response.data.document);

                EventBus.$emit('activity-logs-unshift', {
                    tab: 'all',
                    log: response.data.log,
                    document: {},
                });

                setTimeout(function () {
                    self.successMessage = '';
                    self.loading = false;
                    self.$emit('case-updated');
                    self.handleClose();         
                } , 2000);

                
            },
            formError(response){
                let self = this;
                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                 setTimeout(function(){
                    self.errorMessage = '';
                },3000);
            },
            getUsersResponse() {

                let self = this;
                let url = self.userUrl;
                this.errorBag.clear();
                self.$http.get(url).then(response=>{
                    response = response.data;
                    this.users = response.data;
                }).catch(error=>{
                    self.errorMessage = 'No user Found';
                });
            },
            getUserId(response){
                if(response){
                    this.selectedUserId = response.id;
                }
            }
        },
        computed : {

            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            },
            submitUrl(){
                if(typeof(this.currentCase)!='undefined'){
                    if(this.fromPopup == 'Involved Party'){
                        return 'api/incident-case/assign-proper-user/'+ this.currentCase._id;
                    }
                    if(this.fromPopup == 'Reported By'){
                        return 'api/incident-case/assign-proper-reporter/'+ this.currentCase._id;
                    }
                }
            },
            userUrl(){
                if(typeof(this.currentCase)!='undefined'){
                    if(typeof(this.currentInvolvedUser) !='undefined' && this.currentInvolvedUser.type == 'organization') {
                        return 'api/user?filter_by_case_id=' + this.currentCase._id + '&search_type='+this.currentInvolvedUser.type;
                    }else {
                        return 'api/user?filter_by_case_id=' + this.currentCase._id;
                    }
                }
            },
        },
        
        watch:{
            currentCase(value){

            },
            showModalProp(value) {
                if(value){
                    this.getUsersResponse();
                    this.showModal = true
                }
                if(!value){
                    this.showModal = false
                }
            }
        },
    }
</script>
