<template>
    <div class="close-case-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose" :no-close-on-backdrop="true">
            <div class="model-content-area">
                <d-modal-header>
                    <d-modal-title>{{title | replaceSpecialCharacterWithSpace | toTitleCase}} </d-modal-title>
                </d-modal-header>
                <d-modal-body>
                    <d-form>
                        <div class="row">
                            <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>

                                    {{ errorMessage ? errorMessage : successMessage }}

                                </d-alert>

                            </div>
                        </div>
                    </d-form>
                     <p class="modal-des">
                    {{ formData.approval_request_by_user}} wants to move this case to the {{formData.to_stage}} stage. Please approve or reject this action.
                    </p>
                </d-modal-body>
                <d-modal-footer>
                    <d-btn  @click="processRequest(1)" :class="[ loading ? 'show-spinner' : '']">
                        <c-loader></c-loader>
                        <span>Approve</span>
                    </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="processRequest(0)">Reject</button>
                </d-modal-footer>
            </div>
        </d-modal>
        <common-methods 
        @form-updated="formUpdated"
        @form-submitted="formSubmitted"
        @form-error="formError"

        :submitUrl="submitUrl"
        :submit="submit"
        :formData="formData"
        :submitType="submitType"
        >
    </common-methods>
</div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    export default{

        props: [
        'showModalProp',
        'title',
        'description',
        'url',
        'formData',
        'submitType'
        ],
        
        data() {
            return {
                errorMessage : '',
                successMessage : '',
                showModal: false,
                modalSize: 'sm',
                submit : false,
                loading : false,
                requestUrl : ''
            }
        },
        mounted (){
            this.requestUrl = this.url;
        },
        computed : {
            submitUrl(){
                return this.requestUrl;
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
        methods: {
            validateBeforeSubmit(){
                let self = this;
                this.errorMessage = '';
                self.submit = true;
                self.loading = true;
                self.successMessage = '';

            },
            handleClick() {
                this.showModal = true
            },
            handleClose() {
                if(!this.loading){
                    this.showModal = false;
                    this.loading = false;
                    this.successMessage = '';
                    this.errorMessage = '';
                    this.$emit('form-cancelled')
                    this.$emit('hide-modal');
                }
            },
            formError(response){

                let self = this;

                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                
            },
            formUpdated(response){
                let self = this;
                self.submit = false;
                self.successMessage = response.message;

                setTimeout(function(){
                    self.loading = false;
                    self.showModal = false;
                    self.$emit('form-updated' , response);
                    self.$emit('hide-modal');
                } , 2000);
            },
            formSubmitted(response){
                let self = this;
                self.submit = false;
                self.successMessage = response.message;

                setTimeout(function(){
                    self.loading = false;
                    self.showModal = false;
                    self.$emit('form-submitted' , response);
                    self.$emit('hide-modal');
                } , 2000);
            },
            processRequest(arg){
                let self = this;
                let param = {
                    is_approved: arg,
                    stage:self.formData.to_stage,
                    officer_id:self.formData.approval_request_by,
                    case_number:self.formData.case_number,
                }
                self.caseUrl = 'api/incident-case/'+this.formData._id+'/update-stage';
                self.loading = true;
                this.$http.put( self.caseUrl, param).then(response => {

                    this.$emit('resend-call', self.formData.to_stage);
                    
                     if(Object.keys(response.data.data).length) {
                        this.$store.commit('setCaseData', response.data.data.document);
                        EventBus.$emit('activity-logs-unshift', {
                            tab: 'all',
                            log: response.data.data.log,
                            document: {},
                        });
                    }
                    setTimeout(function() {
                        self.loading = false;
                        self.successMessage = '';
                        self.handleClose();
                    }, 2000);

                })

            }
        },
        
        watch:{
            url (value){
                this.requestUrl = value;
            },
            showModalProp(value) {
                if(value){
                    this.showModal = true
                }
                if(!value){
                    this.showModal = false
                }
            },
        },
    }
</script>
