<template>
    <div class="associate-party-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Associate Involved Party</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                
                <d-form @submit.prevent="validateBeforeSubmit">
                    <div class="row">
                        <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                    {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                        </div>
                        <div class="col-md-12">
                            <p class="modal-des">Select involved party to associate with the case.</p>
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <div :class="[ 'form-group' , 'selectBox', 'multiselect-selectbox', errorBag.first('Involved Party')  ? 'is-invalid' : '']">
                                <label for="involved_party_label">Involved Party</label>
                                <i class="icon-keyboard_arrow_down3"></i>
                                <common-multiselect @selected-value="getUserId" :url="userUrl" v-validate="'required'" name="Involved Party"
                                :class="[errorBag.first('Involved Party') ? 'is-invalid' : '']"></common-multiselect>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div :class="[ 'form-group', 'selectBox' , errorBag.first('Role')  ? 'is-invalid' : '']">
                                <label for="role_in_case_label">Role in case</label>
                                <i class="icon-keyboard_arrow_down3"></i>
                                <d-form-select v-model="selectedRole" v-validate="'required'"
                                name="Role">
                                <option :value="null" selected v-if="!selectedRole">Set involved party role in incident</option>
                                    <option v-for="incidentRole in incidentRoles" :value="incidentRole.id">
                                    {{incidentRole.name}}
                                    </option>
                                </d-form-select>
                            </div>
                        </div>
                    </div>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary" @click.prevent="validateBeforeSubmit()" :class="[ loading ? 'show-spinner' : '']">
                    <span>Associate Now</span>
                    <c-loader></c-loader>
                </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>
        <common-methods 
        @get-response="getRolesResponse"
        :url="roleUrl"
        :infiniteLoad="false"
        :hideLoader="true"
        :formData="formData"
        :submit="submit"
        :submitUrl="submitUrl"
        :submitType="'update'"
        @form-updated="formUpdated"
        @form-error="formError"
        >
    </common-methods>

    </div>
</template>
<script>
    import { EventBus } from '../../event-bus.js';
    export default{

        props: ['showModalProp','currentCase'],

        data () {
            return {
                formData:{
                    associate_involved_party:{
                        user_id:'',
                        person_type_id:''
                    }
                },
                roleUrl : 'api/involved-user-type?is_archived=0',
                loading: false,
                selected_respondent:'',
                respondent:'',
                affected:'',
                showModal: false,
                modalSize: 'sm',
                submit:false,
                errorMessage:'',
                successMessage : '',
                selectedRole:null,
                incidentRoles : [],
                users:'',
                selectedUserId:null,
            }
        },

        methods:{
            handleClick() {
                this.showModal = true
            },
            handleClose() {
                this.loading = false,
                this.successMessage = '',
                this.errorMessage = '',
                this.showModal = false
                this.$emit('hide-modal-value');
                this.selectedRole = null,
                this.selectedUserId = null
                this.formData.associate_involved_party = {
                    
                        user_id:'',
                        person_type_id:''
                    
                }
            },
            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.formData.associate_involved_party.user_id = this.selectedUserId;
                        this.formData.associate_involved_party.person_type_id = this.selectedRole;
                        this.formData.case_number = this.currentCase.case_number;
                        this.formData.method_type = 'show',
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },5000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            formUpdated(response){
                let self = this;

                this.submit = false;

                this.$store.commit('setCaseData' , response.data.document);

                EventBus.$emit('activity-logs-unshift', {
                    tab: 'all',
                    log: response.data.log,
                    document: {},
                });
                
                setTimeout(function () {
                    self.successMessage = '';
                    self.loading = false;
                    self.$emit('case-updated');
                    self.handleClose();         
                } , 2000);

                
            },
            formError(response){
                let self = this;
                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                 setTimeout(function(){
                    self.errorMessage = '';
                },5000);
            },
            getRolesResponse(response){
                if(Object.keys(response.data)){
                    this.incidentRoles = response.data;
                }
            },
            getUsersResponse() {

                let self = this;
                let url = self.userUrl;
                this.errorBag.clear();
                self.$http.get(url).then(response=>{
                    response = response.data;
                    this.users = response.data;
                }).catch(error=>{
                     self.errorMessage = 'No user Found';
                });
            },
            getUserId(response){
                if(response){
                    this.selectedUserId = response.id;
                }
            }
        },
        computed : {

            submitUrl(){
                if(typeof(this.currentCase)!='undefined'){
                    return 'api/incident-case/add-involved-parties/'+ this.currentCase._id;
                }
            },
            userUrl(){
                if(typeof(this.currentCase._id)!='undefined'){
                    return 'api/user?filter_by_case_id=' + this.currentCase._id;
                    //return 'api/user/get-users-to-list/' + this.currentCase._id;
                }
            },

            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },

        watch:{
            currentCase(value){
                this.formData.case_number = value.case_number;

            },
            showModalProp(value) {
                if(value){

                    this.getUsersResponse();
                    this.showModal = true
                }
                if(!value){
                    this.showModal = false
                }
            }
        },
    }
</script>
