<template>
    <div class="case-risk-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>{{currentCase.at_risk == 1 ? 'Unmark Case at Risk' : 'Mark Case at Risk'}}</d-modal-title>
            </d-modal-header>
            <d-modal-body>

                <div class="row">
                    <div class="col-md-12">
                        <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show role="alert">

                            {{ errorMessage ? errorMessage : successMessage }}

                        </d-alert>
                    </div>   
                    <div class="col-md-12">
                        
                        <p v-if = "currentCase.at_risk == 1" class="modal-des">Are you sure you want remove ‘at risk’ mark from this case?</p>
                        <p v-else class="modal-des">Are you sure you want to mark this case as it is at risk?</p>

                    </div> 
                </div>
                
                
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary" @click.prevent="submitForm" :class="[loading ? 'show-spinner' : '']">
                    <span>{{currentCase.at_risk == 1 ? 'Unmark Case at Risk' : 'Mark Case at Risk'}}</span>
                    <c-loader></c-loader>
                </d-btn>
                <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>
    </div>
</template>
<script>
import { EventBus } from '../../event-bus.js';
export default{
    
    props: ['showModalProp','currentCase'],
    
    data () {
        return {
            showModal: false,
            modalSize: 'sm',
            loading:false,
            submit : false,
            url: 'api/incident-case/case-at-risk/',
            formData:{},
            successMessage:'',
            errorMessage:'',
            at_risk:false,
        }
    },
    
    methods:{
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.showModal = false;
            this.$emit('hide-modal-value');
        },
        submitForm(){

            let self = this;
            this.at_risk = this.currentCase.at_risk == 1 ? 0:1;
            let param = {
                at_risk:this.at_risk,
                case_number:this.currentCase.case_number,
                method_type:'show'

            }
            this.loading = true;
            this.$http.put(this.submitUrl, param).then(response => {
                if(Object.keys(response.data.data).length) {
                    this.$store.commit('setCaseData', response.data.data.document);
                    EventBus.$emit('activity-logs-unshift', {
                        tab: 'all',
                        log: response.data.data.log,
                        document: {},
                    });
                }
                setTimeout(function() {
                    self.loading = false;
                    self.successMessage = '';
                    self.handleClose();
                }, 2000);

            })
            .catch(error => {
                self.loading = false
                _.forEach(error.response.data.errors, function(value, key) {
                    self.errorMessage =  error.response.data.errors[key][0];
                });
                setTimeout(function() {
                    self.errorMessage = '';
                }, 5000);
            })
        }
    },
    
    watch:{
        showModalProp(value) {
            if(value){
                this.showModal = true
            }
            if(!value){
                this.showModal = false
            }
        },
        currentCase(value){
            this.incident_type_id = value.incident_type_id;
            
        },
    },
    computed : {

        popupThemeValue(){
            if(this.errorMessage){
                return 'danger';
            }
            if(this.successMessage){
                return 'success';
            }
        },
        submitUrl(){
            if(typeof(this.currentCase)!='undefined'){
                return this.url+ this.currentCase._id;
            }
        },
    },
}
</script>
