<template>
    <div class="add-appeal-outcome-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Move Case</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <p class="modal-des">
                    Are you sure you want to move this case?
                </p>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary" @click="handleAccept">
                    <span>Yes</span>
                    <c-loader></c-loader>
                </d-btn>
                <d-btn theme="link" @click="handleClose">No </d-btn>
            </d-modal-footer>
        </d-modal>
    </div>
</template>
<script>
    export default{
        props: ['showModalProp'],
        data() {
            return {
                showModal: false,
                modalSize: 'sm',
            }
        },
        methods: {
            handleClick() {
                this.showModal = true;
            },
            handleClose() {
                this.showModal = false;
                this.$emit('revertCase');
            },
            handleAccept(){
                this.$emit('caseMoveAccept');
            },
        },
        watch: {
            showModalProp(value) {
                if(value) {
                    this.showModal = true
                }
                if(!value) {
                    this.showModal = false
                }
            }
        },
    }
</script>
