<template>
    <div class="change-status-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <div class="model-content-area">

            <d-modal-header>
                <d-modal-title>Change Stage</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <p class="modal-des">Select new case stage to change. </p>
                <hr />
                <d-form>
                    <div class="row">
                        <div class="col-md-12">

                            <d-alert role="alert" v-if="errorMessage || successMessage" :theme="popupThemeValue" show>

                                {{ errorMessage ? errorMessage : successMessage }}

                            </d-alert>


                        </div>
                        <div class="col-md-12">
                            <div class="form-group selectBox">
                                <label for="change_status_label">Stage</label>
                                <i class="icon-keyboard_arrow_down3"></i>
                                <d-form-select v-model="selectedStage" id="change_status_label" @change="approval($event)">
                                    <option :value="''" v-if="!selectedStage">Please Select</option>
                                    <option v-if="index" v-for="(incidentStage,index) in incidentStages.stages" 
                                    :key="index" 
                                    :value="incidentStage.name">
                                    {{incidentStage.name}}
                                </option>

                            </d-form-select>
                        </div>
                    </div>
                </div>
                <p v-if="requiredApproval && authUser.role_id == 3">
                    <strong>Approval Required : </strong>
                    <br/> 
                Are you sure you want to move a case to next stage ?</p>
            </d-form>
        </d-modal-body>
        <d-modal-footer>
            <d-btn @click.prevent="submitForm" :class="[loading ? 'show-spinner' : '']">
                <span>Change Now</span>
                <c-loader></c-loader>
            </d-btn>
            <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
        </d-modal-footer>
            </div>
    </d-modal>

    <common-methods 
    @get-response="getResponse"
    :url="requestIncidentUrl"
    :infiniteLoad="false"
    :hideLoader="true"
    :formData="formData"
    :submit="submit"
    :submitUrl="submitUrl"
    :submitType="submitType"
    @form-updated="formUpdated"
    @form-submitted="formSubmitted"
    @form-error="formError"
    >
</common-methods>



</div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    export default{

        props: ['showModalProp'],
        
        data() {
            return {
                showModal: false,
                modalSize: 'sm',
                incident_url : 'api/stage',
                incidentStages : [],
                selectedStage : '',
                formData : {},
                submit : false,
                successMessage : '',
                errorMessage : '',
                loading : false,
                requiredApproval: false,
                submitType: 'update',

            }
        },
        
        methods: {
            submitForm(){
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                            if(this.requiredApproval){
                                this.formData.case_id = this.$route.params.id;
                            }
                            this.formData.stage = this.selectedStage;
                            this.submit = true;
                            this.loading = true;
                            this.errorMessage = '';
                            return;
                        }
                        setTimeout(function(){
                            self.errorMessage = '';
                        },2000);
                        this.errorMessage = this.errorBag.all()[0];
                    });
            },
            formUpdated(response){
                let self = this;

                this.submit = false;

                this.$store.commit('setCaseData' , response.data.document);

                EventBus.$emit('activity-logs-unshift', {
                    tab: 'all',
                    log: response.data.log,
                    document: {},
                });

                setTimeout(function () {
                    self.successMessage = '';
                    self.loading = false;
                    self.$emit('case-updated');
                    self.handleClose();         
                } , 2000);


            },
            formError(response){
                let self = this;
                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                setTimeout(function(){
                    self.errorMessage = '';
                },5000);



            },
            formSubmitted(response){
                let self = this;
                self.submit = false;
                self.successMessage = response.message;
                self.requiredApproval = false;
                setTimeout(function(){
                    self.loading = false;
                    self.showModal = false;
                    self.$emit('form-submitted' , response);
                    self.handleClose();
                } , 2000);
            },
            handleClick() {
                this.showModal = true
            },
            handleClose() {
                let self = this;
                this.showModal = false;
                this.requiredApproval = false;
                setTimeout(function () {
                    self.successMessage = '';
                    self.errorMessage = '';
                    self.loading = false;
                } , 2000);


                this.$emit('hide-modal-value');
            },
            getResponse(response){
                if(Object.keys(response.data)){
                    this.incidentStages = response.data[0];
                }
            },
            approval(evt){
                let self = this;
                _.forEach(this.incidentStages.stages, function(val, ind){
                    if(val.name == evt){
                        self.requiredApproval = val.required_approval;
                    }
                });
            }
        },
        computed : {
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            },
            submitUrl(){
                if(this.requiredApproval && this.authUser.role_id == 3){
                    this.submitType = 'post';
                    return 'api/case-move-mail';
                }else{
                    this.submitType = 'update';
                    return 'api/incident-case/'+ this.$route.params.id + '/update-stage';
                }
            },
            requestIncidentUrl(){
                this.incidentOfficers = [];
                if(this.$store.getters.getCaseData){
                    this.selectedStage = this.$store.getters.getCaseData.stage; 
                    return this.incident_url + '?incident_type_id='+this.$store.getters.getCaseData.incident_type_id;
                }
            },
            authUser(){
                return JSON.parse(this.$store.getters.getAuthUser);
            }
        },

        watch:{
            showModalProp(value) {
                if(value){
                    this.showModal = true
                }
                if(!value){
                    this.showModal = false
                }

            }
        },
    }
</script>
