<template>
    <div class="change-clery-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Clery Act Details</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <d-form>
                    <div class="row">
                        <div class="col-md-12">
                            <d-alert theme="success" hide>Alert - Success Theme Example Link</d-alert>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group selectBox">
                                <label for="clery_category_label">Clery Category</label>
                                <i class="icon-keyboard_arrow_down3"></i>
                                <d-form-select id="clery_category_label" v-model="selected" >
                                    <option :value="category" disabled>Select clery category</option>
                                    <option :value="pending">Pending</option>
                                    <option :value="underInvestigation">Under Investigation</option>
                                </d-form-select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group selectBox">
                                <label for="clery_status_label">Clery Status</label>
                                <i class="icon-keyboard_arrow_down3"></i>
                                <d-form-select id="clery_status_label" v-model="selected">
                                    <option :value="status" disabled>Select clery status</option>
                                    <option :value="pending">Pending</option>
                                    <option :value="underInvestigation">Under Investigation</option>
                                    <option :value="newCase">New Case</option>
                                    <option :value="sanctionImposed">Sanction Imposed</option>
                                    <option :value="sanctionCompleted">Sanction Completed</option>
                                    <option :value="inAppeal">In Appeal</option>
                                </d-form-select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group selectBox">
                                <label for="clery_subject_label">Clery Subject</label>
                                <i class="icon-keyboard_arrow_down3"></i>
                                <d-form-select v-model="selected" id="clery_subject_label">
                                    <option :value="subject">Select clery subject</option>
                                </d-form-select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group selectBox">
                                <label for="clery_location_label">Clery Location</label>
                                <i class="icon-keyboard_arrow_down3"></i>
                                <d-form-select v-model="selected" id="clery_location_label">
                                    <option :value="location" disabled>Select clery location</option>
                                    <option :value="brannockHall">Brannock Hall</option>
                                    <option :value="carolinaHall">Carolina Hall</option>
                                    <option :value="collegeHall">College Hall</option>
                                </d-form-select>
                            </div>
                        </div>
                    </div>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary">
                    <span>Update</span>
                    <c-loader></c-loader>
                </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>
    </div>
</template>

<script>
    export default {

        props: ['showModalProp'],

        data() {
            return {
                selected:'',
                category:'',
                underInvestigation:'',
                status:'',
                pending:'',
                newCase:'',
                sanctionImposed:'',
                sanctionCompleted:'',
                inAppeal:'',
                subject:'',
                location:'',
                showModal: false,
                modalSize: 'sm',
                brannockHall:'',
                carolinaHall:'',
                collegeHall:'',
                loading:'',
            }
        },

        methods: {
            handleClick() {
                this.showModal = true
            },
            handleClose() {
                this.showModal = false;
                this.$emit('hide-modal-value');
            }
        },

        watch: {
            showModalProp(value){
                if(value){
                    this.showModal = true
                }
                if(!value){
                    this.showModal = false
                }
            }
        },
    }
</script>
