<template>
    <div class="change-other-detail-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Change Other Details</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <d-form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" v-for="(rec, index) in otherDetailFields" :key="index">
                                <label>{{rec.field.label}}</label>
                                <div v-if="rec.field.type == 'input'">
                                    <d-input  id="" placeholder="Enter text" 
                                    v-model="rec.value" v-validate="{ rules: { required: (false)} }" 
                                    :data-vv-name="rec.field.label+index"
                                    :class="[errorBag.first(rec.field.label+index) ? 'is-invalid' : '']" :key="rec.field.label"
                                    @change="onChangeField(index)"
                                    />
                                </div>

                                <div v-if="rec.field.type == 'radio'">
                                    <d-form-radio 
                                    v-for="(optionValue, ind) in rec.field.options"  
                                    :value="true"
                                    :key="'radio'+ind" 
                                    :name="rec.field.label+index" 
                                    v-model="rec.value[ind].isChecked"
                                    v-validate="{ rules: { required: (false)} }"
                                    :inline="true"
                                    @change="onChangeRadio(rec, ind, index)"
                                    >{{optionValue.value}}</d-form-radio>
                                    <small class="text-danger" v-if="errorBag.first(rec.field.label+index)">The field is required.</small>
                                </div>
                                <div class="formbuild"
                                v-if="rec.field.type == 'checkbox'">
                                        <d-checkbox
                                        v-for="(optionValue, ind) in rec.field.options"
                                        :key="'check'+ind"
                                        :name="rec.field.label"
                                        :value="true"
                                        :inline="true"
                                        v-model="rec.value[ind].isChecked"
                                        v-validate="{ rules: { required: false} }"
                                        @change="onChangeField(index)"
                                        >
                                        {{ optionValue.value }}
                                    </d-checkbox>
                                    <small class="text-danger" v-if="errorBag.first(rec.field.label+index)">The field is required.</small>
                                </div>

                                <div v-if="rec.field.type == 'time'">
                                    <vue-timepicker
                                    hide-clear-button
                                    class="with-icon datepicker-icon form-control"
                                    format="hh:mm a"
                                    placeholder="HH:MM"
                                    v-model="rec.value" 
                                    v-validate="{ rules: { required: (false)} }" 
                                    @input="onChangeTimeField($event, index, rec.value)"
                                    :name="rec.field.label+index"
                                    :class="[errorBag.first(rec.field.label+index) ? 'is-invalid' : '']" 
                                    >
                                    </vue-timepicker>

                                </div>
                                <div v-if="rec.field.type == 'date'">
                                    <d-datepicker class="with-icon datepicker-icon" v-model="rec.value" 
                                    format="MMM/dd/yyyy"
                                    placeholder="MM / DD / YYYY" v-validate="{ rules: { required: (false)} }" 
                                    :name="rec.field.label+index"
                                    @selected="onChangeDateField($event, index)"
                                    :class="[errorBag.first(rec.field.label+index) ? 'is-invalid' : '']" typeable />
                                </div>

                                <div v-if="rec.field.type == 'dropdown'">
                                    <div class="form-group select-detail">
                                    <i class="icon-keyboard_arrow_down3"></i>
                                    <select v-model="rec.value.key" v-validate="{ rules: { required: (false)} }" :name="rec.field.label+index"
                                        :class="['form-control' , errorBag.first(rec.field.label+index) ? 'is-invalid' : '']" :key="rec.field.label"
                                        @change="onChangeDropdown(rec.value.key, rec, index)"
                                        >
                                        <option v-if="rec.value.key == null" value="null" selected="" disabled="">Please select</option>
                                        <option v-if="rec.value.key == ''" value="" selected="" disabled="">Please select</option>
                                        <option  v-for="(optionValue, i) in rec.field.options" :value="i">
                                            {{optionValue.value}}
                                        </option>
                                    </select>
                                    </div>
                                </div>
                                <div v-if="rec.field.type == 'textarea'">
                                    <textarea v-model="rec.value"
                                        id=""
                                        placeholder="Enter details"
                                        rows="3"
                                        max="6" v-validate="{ rules: { required: (false)} }"
                                        :name="rec.field.label"
                                        @change="onChangeField(index)"
                                        :class="['form-control' , errorBag.first(rec.field.label) ? 'is-invalid' : '']"
                                        >
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-button theme="primary"  @click.prevent="validateBeforeSubmit" :class="[loading  ? 'show-spinner' : '' , 'btn' , 'btn-primary' , 'apply-primary-color' ]">
                    <span>Update</span>
                    <c-loader></c-loader>
                </d-button>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>
    </div>
</template>
<script>
    import VueTimepicker from 'vue2-timepicker';
    import { EventBus } from '../../event-bus.js';   
    export default {
        components: { 
            VueTimepicker,
        },
        props : ['showModalProp','otherDetails','currentCase'],
        
        data (){
            return {
                otherDetailUrl:'api/case-other-detail-custom-field',
                selected:'',
                no:'',
                yes:'',
                loading:false,
                showModal: false,
                modalSize: 'sm',
                otherDetailFields: [],
                otherDetailFieldsUpdate: [],
                tempRecord: [],
                oldRecord: [],
                record: [],
                allFields: [],
                checkTime: false,
            }
        },
        
        methods: {
            onChangeTimeField(val, index, oldVal) {
                if(this.checkTime) {
                    this.otherDetails[index].isChanged = true;
                }
            },
            onChangeField(index) {
                this.otherDetails[index].isChanged = true;
            },
            onChangeDateField(e, index) {
                this.otherDetails[index].isChanged = true;
            },
            getOtherDetails() {
                let self = this;
                let url = self.otherDetailUrl;
                this.errorBag.clear();
                this.$http.get(url).then(function(response){
                    response = response.data;
                    self.allFields = response.data;
                }).catch(error=>{
                   self.errorMessage = 'No case Found';
               });
            },
            getDropDownValue(info) {
                if((info.value.key > info.field.options.length -1) || (info.value.key === null || info.value.key === "")) {
                    return "N/A";
                }
                return (typeof(info.value.key) == "string" && info.value.key == "")? "N/A": info.field.options[info.value.key].value;
            },
            onChangeDropdown(index, record, i) {
                var val = record.field.options[index].value;
                record.value = {
                    key: index,
                    value: val
                };
                this.otherDetails[i].isChanged = true;
            },
            onChangeRadio(record, index, i) {
                var values = _.map(record.value, function(obj) {
                    return {
                        value: obj.value,
                        isChecked: false,
                    };
                });
                values[index].isChecked = true;
                record.value = values;
                this.otherDetails[i].isChanged = true;
            },
            handleClick() {
                this.showModal = true
            },
            handleClose() {
                this.showModal = false;
                this.$emit('hide-modal-value', false);
            },
            validateBeforeSubmit() {
                var self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        self.getOtherDetails();
                        self.makeAdditionalDetailsObj(this.otherDetailFields, 'submit');
                        self.onUpdate();
                        this.errorBag.clear();
                        this.errorMessage = '';
                        return;
                    }
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            makeAdditionalDetailsObj(data, type, isUpdate = false) {
            let self = this;
            if(type == "edit") {

                if(self.addField && !isUpdate) {
                    self.customFields = self.addField;
                }
                var details = _.map(self.allFields, function(value, key) {
                    let field = _.find(data, {'id': value._id});
                    if(value.type == "time") {
                        var val = field? field.value: {
                                hh: '00',
                                mm: '00',
                                a: 'am'
                              };
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    if(value.type == "checkbox" || value.type == "radio") {
                        var val = _.map(value.options, function(v, k){
                            return {
                                value: v.value,
                                isChecked: false
                            };
                        });
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.id,
                            type: value.type,
                            value: field? field.value: val,
                            field: value 
                        };
                    }
                    if(value.type == "dropdown") {
                        var val = field? field.value: {
                                key: "",
                                value: ""
                            };
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    if(value.type == "date") {
                        var val = typeof(field) != "undefined"? field :"";
                        if(val) {
                            val = val? val : field.field.value;
                            val = val.value? val.value : field.field.value;
                        }
                        val = val? moment.utc(val).local().format('MMM D, YYYY') :"";
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    var val = field? field.value : "";
                    if(field && field.type != value.type) {
                        val = self.getFieldDefaultValue(value.type);
                    }
                    return {
                        id: value.id,
                        type: value.type,
                        value: val,
                        field: value 
                    };
                });
                self.otherDetailFieldsUpdate = details;
                this.oldRecord = _.cloneDeep(data);
                this.record = data;
            }else {
                var obj = _.cloneDeep(data);
                var d = obj;
                var details = _.map(d, function(value, key) {   
                    if(value.type == "time") {
                        var val = field? field.value: {
                                hh: '00',
                                mm: '00',
                                a: 'am'
                              };
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.field._id,
                            type: value.type,
                            value: value? value.value: {
                                hh: '00',
                                mm: '00',
                                a: 'am'
                              },
                            field: value 
                        };
                    }

                    if(value.type == "checkbox" || value.type == "radio") {
                        var val = value.value;
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.field._id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    if(value.type == "date") {
                        var val = typeof(value) != "undefined"? field :"";
                        val = val? val.value :"";
                        val = val? moment.utc(val).local().format('MMM D, YYYY') :"";
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.field._id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    var val = value.value;
                    if(field && field.type != value.type) {
                        val = self.getFieldDefaultValue(value.type);
                    }
                    var field = {
                        id: value.field._id,
                        type: value.type,
                        value: value.value,
                        field: value
                    };
                    return field;
                });

                self.otherDetailFieldsUpdate = details;
                this.tempRecord = obj;
            }
        },
            getFieldDefaultValue(type) {
                switch(type) {
                    case 'time':
                        return {
                                hh: '00',
                                mm: '00',
                                a: 'am'
                            };
                    break;
                    case 'dropdown':
                        return {
                            key: "",
                            value: ""
                        };
                    return;
                    case 'checkbox':
                    case 'radio':
                        return [
                                {
                                    value: "",
                                    isChecked: false
                                },
                                {
                                    value: "",
                                    isChecked: false
                                }
                            ];
                    break;
                    case 'date':
                    case 'input':
                    case 'textarea':
                        return "";
                    break;
                }
            },
            onUpdate() {
                let self = this;
                this.loading = true;
                let url =  "api/incident-case-other-detail/" + this.currentCase._id;
                var user = JSON.parse(this.$store.getters.getAuthUser);
                var data = {
                    case_number: this.currentCase.case_number,
                    user_id: user.id,
                    other_details: this.otherDetailFieldsUpdate
                };
                this.$http.put(url, data)
                .then(response => {
                    var response = response.data;
                    self.successMessage = response.message;
                    self.loading = false;
                    
                    EventBus.$emit('activity-logs-unshift', {
                        tab: 'all',
                        log: response.data.log,
                        document: {},
                    });

                    setTimeout(function() {
                        self.successMessage = '';
                        self.$emit('hide-modal-value', true);
                    }, 1000);
                })
                .catch(error => {
                    error = error.response.data;

                    setTimeout(function(){
                        self.errorMessage='';
                    }, 2000);
                    _.each(error.errors , function (errorValue) {
                        self.errorMessage = errorValue[0];
                        return false;
                    })

                })
        },
        },
        
        watch: {
            showModalProp(value){
                let self = this;
                if(value) {
                    this.showModal = true
                    setTimeout(function() {
                        self.checkTime = true;
                    }, 1000);
                }
                if(!value) {
                    this.checkTime = false;
                    this.showModal = false
                }
            },
            otherDetails(val) {
                this.otherDetailFields = _.map(val, function(field) {
                    field.isChanged = false;
                    return field;
                });
            }
        },
    }
</script>
