<template>
    <div class="change-case-owner-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>{{ currentCase.assigned_to ?  'Change' : 'Assign'}} Case Owner</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <p v-if="currentCase.assigned_to" class="modal-des">Are you sure you want to change the case owner / officer of this case? If yes, select the new case officer.</p>
                <p v-else class="modal-des">Are you sure you want to assign the case owner / officer of this case? If yes, select the case officer.</p>
                <hr />
                <d-form>
                    <div class="row">
                        <div class="col-md-12">

                            <d-alert role="alert" v-if="errorMessage || successMessage" :theme="popupThemeValue" show>

                                {{ errorMessage ? errorMessage : successMessage }}

                            </d-alert>


                        </div>
                        <div class="col-md-12 mb-3">
                            

                            <common-multiselect @selected-value="getResponse" :url="requestIncidentUrl">
                                
                            </common-multiselect>


                        </div>
                    </div>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn @click.prevent="submitForm" :class="[loading ? 'show-spinner' : '']">
                    <span>{{ currentCase.assigned_to ?  'Change Now' : 'Assign Now'}} </span>
                    <c-loader></c-loader>
                </d-btn>
                <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>

        <common-methods 
        :infiniteLoad="false"
        :hideLoader="true"
        :formData="formData"
        :submit="submit"
        :submitUrl="submitUrl"
        :submitType="'update'"
        @form-updated="formUpdated"
        @form-error="formError"
        >
    </common-methods>


</div>
</template>
<script>
    import { EventBus } from '../../event-bus.js';
    export default{

        props: [
        'showModalProp',
        'currentCase'
        ],

        data() {
            return {
                showModal: false,
                modalSize: 'sm',
                incident_type_id : '',
                incident_url : 'api/user?filter_by_type=admins',                
                incidentOfficers : [],
                selectedOfficer : '',
                formData : {},
                submit : false,
                successMessage : '',
                errorMessage : '',
                loading : false,
            }
        },

        methods: {
            getResponse(response){
                if(response){
                    this.formData.assigned_to = response.id;
                }
            },
            submitForm(){
                 let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        return;
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },2000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            formUpdated(response){
                let self = this;

                this.submit = false;

                this.$store.commit('setCaseData' , response.data.document);

                EventBus.$emit('activity-logs-unshift', {
                    tab: 'all',
                    log: response.data.log,
                    document: {},
                });
                self.$toasted.show("Case owner updated successfully.", {
                       theme: "bubble",
                        position: "bottom-right",
                        duration : 3000,
                        type: ['success'],
                        singleton: true,
                        icon : '',
                        className: 'success-toast alert-success',    
                });

                setTimeout(function () {
                    self.successMessage = '';
                    self.loading = false;
                    self.$emit('case-updated');
                    self.handleClose();         
                } , 2000);

                
            },
            formError(response){
                let self = this;
                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                 setTimeout(function(){
                    self.errorMessage = '';
                },5000);



            },
            handleClick() {
                this.showModal = true
            },
            handleClose() {
                let self = this;
                this.showModal = false;
                this.formData.assigned_to = '';
                setTimeout(function () {
                    self.successMessage = '';
                    self.errorMessage = '';
                    self.loading = false;
                } , 2000);


                this.$emit('hide-modal-value');
            },
        },
        
        computed : {
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            },
            submitUrl(){
                return 'api/incident-case/'+ this.currentCase._id + '/change-owner';
            },
            requestIncidentUrl(){
                if(this.incident_type_id){

                    return this.incident_url;
                }
            }
        },

        watch:{
            currentCase(value){
                this.incident_type_id = value.incident_type_id;
                this.formData.case_number = value.case_number;
                this.formData.case_id = value._id;
                this.formData.type = 'case';
               
            },
            showModalProp(value) {
                if(value){
                    this.showModal = true
                }
                if(!value){
                    this.showModal = false
                }

            }
        },
    }
</script>
