<template>
    <div class="close-case-popup">
        <d-modal v-if="showModalPopup" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Remove Custom Field</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <p class="modal-des">Are you sure you want to Remove custom field?</p>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary" @click="onConfirm">
                    <span>Confirm</span>
                </d-btn>
                <d-btn theme="link" @click="handleClose">Cancel </d-btn>
            </d-modal-footer>
        </d-modal>
    </div>
</template>

<script>
    export default{
        
        props: ['showModal'],
        
        data() {
            return {
                showModalPopup: false,
                modalSize: 'sm',
            }
        },
        
        methods: {
            handleClick() {
                this.showModalPopup = true
            },
            handleClose() {
                this.showModalPopup = false;
                //this.$emit('on-cancel');
            },
            onConfirm() {
                this.showModalPopup = false;
                //this.$emit('on-confirm');
            }
        },
        
        watch:{
            showModal(value) {
                if(value){
                    this.showModalPopup = true
                }
                if(!value){
                    this.showModalPopup = false
                }
            }
        },
    }
</script>
