<template>
    <div class="change-status-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Contact Support</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <d-form @submit.prevent="validateBeforeSubmit">
                    <div class="row">
                        <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                    {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                        </div>
                        <div class="col-md-12">
                            <d-alert theme="success" role="alert" hide>Alert - Success Theme Example Link</d-alert>
                        </div>
                        <div class="col-md-12">
                            <div  :class="[ 'form-group' , 'selectBox', errorBag.first('Reason')  ? 'is-invalid' : '']">
                                <label>Reason</label>
                                <i class="icon-keyboard_arrow_down3"></i>
                                 <d-form-select v-model="selectedReason" v-validate="'required'"
                                name="Reason">
                                    <option :value="null" selected v-if="selectedReason == null">
                                        Please select a reason
                                    </option>
                                    <option :value="null" selected v-if="selectedReason != null && reasons==''">
                                        No reason found
                                    </option>
                                    <option v-for="(reason,index) in reasons"
                                    :value="reason"
                                    :key="index">
                                    {{reason}}
                                    </option>
                                </d-form-select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div :class="[ 'form-group', errorBag.first('Message')  ? 'is-invalid' : '']">
                            
                                <label>Message</label>
                                <d-form-textarea v-model="message"
                                    v-validate="'required|max:500'"
                                    name="Message"
                                    placeholder="Start typing your message"
                                    :rows="3"
                                    :max-rows="6">
                               </d-form-textarea>
                            </div>
                        </div>
                    </div>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary" @click.prevent="validateBeforeSubmit()" :class="[ loading ? 'show-spinner' : '']">
                    <span>Submit</span>
                    <c-loader></c-loader>
                </d-btn>
                <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>

         <common-methods 
        @get-response="getReasons"
        :url="reasonsUrl"
        :formData="formData"
        :hideLoader="true"
        :submit="submit"
        :submitUrl="submitUrl"
        :submitType="'post'"
        @form-submitted="formSubmitted"
        @form-error="formError"
       >
    </common-methods>

    </div>
</template>

<script>
    export default{
        
        props: ['showModalProp'],
        
        data() {
            return {
                formData:{
                },
                submit:false,
                errorMessage:'',
                successMessage : '',
                loading: false,
                showModal: false,
                modalSize: 'sm',
                selectedReason: null,
                reasons:'',
                reasonsUrl:'api/contact-support-reasons',
                submitUrl:'api/contact-support',
                message:''
            }
        },
        
        methods: {
            handleClick() {
                this.showModal = true
            },
            handleClose() {
                this.showModal = false;
                this.formData = {                    
                        reason:'',
                        message:'',
                },
                this.selectedReason = null;
                this.$emit('hide-modal-value');
            },
            getReasons(response){
                if(Object.keys(response.data)){
                    this.reasons = response.data;
                }
            },
            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.formData.reason = this.selectedReason;
                        this.formData.message = this.message;
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },3000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },

            formSubmitted(response){
                this.clearDetails(response);
                this.$emit('form-submitted', response);
            },

            formError(response){

                let self = this;

                this.submit  = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                setTimeout(function(){
                    self.errorMessage = '';
                },5000);  
            },

            clearDetails(response){

                let self = this;
                setTimeout(function(){
                    self.handleClose();
                    self.showModal = false;
                    self.loading = false;
                } , 2000);
                this.successMessage = response.message;
                this.submit = false;
            },
        },
        
        watch:{
            showModalProp(value) {
                if(value){
                    this.showModal = true
                }
                if(!value){
                    this.showModal = false
                }
            }
        },
        computed : {        

            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
    }
</script>
