<template>
    <div class="contact-us-popup">
        <d-modal v-if="showModal"  @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Contact Us</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <d-form @submit.prevent="validateBeforeSubmit">
                    <div class="row">
                        <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                    {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                        </div>
                        <div class="col-md-6">
                            <div :class="[ 'form-group', errorBag.first('First Name')  ? 'is-invalid' : '']">
                                <label for="contact_first_name">First Name</label>
                                <d-input id="contact_first_name" v-model="formData.first_name" placeholder="Enter first name" v-validate="'required|max:50'" name="First Name"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div :class="[ 'form-group', errorBag.first('Last Name')  ? 'is-invalid' : '']">
                                <label for="contact_last_name">Last Name</label>
                                <d-input id="contact_last_name" v-model="formData.last_name" placeholder="Enter last name" v-validate="'required|max:50'" name="Last Name"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div :class="[ 'form-group', errorBag.first('Email')  ? 'is-invalid' : '']">
                                <label for="f2_Email">Email Address</label>
                                <d-input id="f2_Email" v-model="formData.email" placeholder="Enter email address"v-validate="'required|email'" name="Email"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div :class="[ 'form-group', errorBag.first('Message')  ? 'is-invalid' : '']">
                                <label>Message</label>
                                <d-form-textarea v-model="formData.message"
                                    v-validate="'required|max:500'"
                                    name="Message"
                                    placeholder="Start typing message"
                                    :rows="3"
                                    :max-rows="6">
                                </d-form-textarea>
                            </div>
                        </div>
                    </div>
                 </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary" @click.prevent="validateBeforeSubmit()" :class="[ loading ? 'show-spinner' : '']">
                    <span>Send</span>
                    <c-loader></c-loader>
                </d-btn>
            </d-modal-footer>
        </d-modal>
        <common-methods
        :formData="formData"
        :hideLoader="true"
        :submit="submit"
        :submitUrl="submitUrl"
        :submitType="'post'"
        @form-submitted="formSubmitted"
        @form-error="formError"
       >
    </common-methods>
    </div>
</template>

<script>

export default {
    
    props: ['showModalProp'],
    
    data() {
        return {

            submitUrl:'api/contact-support-guest',
            submit:false,
            errorMessage:'',
            successMessage : '',
            loading: false,
            showModal: false,
            modalSize: 'md',
            formData: {
                email: '',
                first_name: '',
                last_name: '',
                message: '',
              }
        }
    },
    
    methods: {
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.showModal = false;
            this.formData = {                    
                        first_name:'',
                        last_name:'',
                        message:'',
                },
            this.$emit('hide-modal-value');
        },

        validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },3000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },

            formSubmitted(response){
                this.clearDetails(response);
                this.$emit('form-submitted', response);
            },

            formError(response){

                let self = this;

                this.submit  = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                setTimeout(function(){
                    self.errorMessage = '';
                },5000);  
            },

            clearDetails(response){
                let self = this;
                setTimeout(function(){
                    self.handleClose();
                    self.showModal = false;
                    self.loading = false;
                } , 2000);
                this.successMessage = response.message;
                this.submit = false;
            },
    },
    computed : {

            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
    
    watch: {
        showModalProp(value){
            if(value){
                this.showModal = true
            }
            if(!value){
                this.showModal = false
            }
        }
    },
}
</script>
