<template>
    <div class="add-building-popup add-rule-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Define Rule</d-modal-title>
            </d-modal-header>
            <d-modal-body class="scrollbar" id="style-2">
                <d-form>
                    <div v-for="(rule, index) in rules" class="row">
                        <div class="col-md-12">
                            <div class="form-group selectBox">
                                <label for="if_rule_is">If value is</label>
                                <i class="icon-keyboard_arrow_down3"></i>
                                <d-form-select id="if_rule_is" name="if" v-validate="'required'" v-model="rule.value">
                                    <option :value="''">Select Option</option>
                                    <option  
                                        v-for="option in currentItem.options" 
                                        :value="option.value"
                                        :title="option.value">    
                                            {{ option.value.substring(0, 25) + (option.value.length > 26 ? '...' : '')}}  
                                    </option>
                                </d-form-select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group selectBox">
                                <label for="
                                .">Then</label>
                                <i class="icon-keyboard_arrow_down3"></i>
                                <d-form-select  name="then" v-validate="'required'" v-model="rule.then">
                                    <option :value="''">Select Field</option>
                                    <option 
                                        v-if="fieldIndex > currentFieldIndex"
                                        v-for="(formField, fieldIndex) in formFields" 
                                        :value="formField"
                                        :title="formField.label"
                                        >
                                        {{ formField.label.substring(0, 50) + (formField.label.length > 51 ? '...' : '')}} 
                                    </option>
                                </d-form-select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group selectBox">
                                <label>Action</label>
                                <i class="icon-keyboard_arrow_down3"></i>
                                <d-form-select v-model="rule.action">
                                    <option value="hide">Hide</option>
                                    <option value="show">Show</option>
                                </d-form-select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr/>
                            <a v-if="index != 0" style="float:right;" @click.prevent="rules.splice(index , 1)" href="javascipt:void(0);">(remove)</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <a @click.prevent="addNewRule" href="javascript:;">+ Add another rule</a>
                            </div>

                            <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>

                                {{ errorMessage ? errorMessage : successMessage }}

                            </d-alert>

                        </div>
                    </div>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn @click.prevent="validateBeforeSubmit">
                    <span>Submit</span>
                    <c-loader></c-loader>
                </d-btn>
                 <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>
    </div>
</template>

<script>
    export default{

        props: [
        'showModalProp',
        'currentFieldIndex',
        'formFields'
        ],

        data() {
            return {
                errorMessage: '',
                successMessage: '',
                showModal: false,
                modalSize: 'sm',
                currentIndex : '',
                currentItem : '',
                selected : '',
                rules : [
                {
                    value : 'no',
                    then : '',
                    action : 'hide'
                }
                ]
            }
        },
        mounted (){
            if(this.currentFieldIndex){
                this.currentItem = JSON.parse(JSON.stringify(this.formFields[this.currentFieldIndex]))
                this.currentIndex = this.currentFieldIndex;
            }
        }, 

        methods: {
            handleClick() {
                this.showModal = true;
            },
            handleClose() {
                this.successMessage = '';
                this.errorMessage = '';
                this.showModal = false;
                this.$emit('hide-modal-value');
            },
            addNewRule(){

                this.rules.push(
                {
                    value : '',
                    then : '',
                    action : 'hide'
                }
                )
            },
            validateBeforeSubmit(){

                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.getRules();
                        return false;
                    }
                    this.errorMessage = this.errorBag.all()[0];
                    return false;

                });

            },

            getRules(){
                let self = this;

                self.errorMessage = '';

                if(!this.validateDuplicateRules()){
                    this.errorMessage = 'Please remove duplicate values';
                    return false;
                }

                if(this.rules){
                    this.$emit('get-rules', this.rules);
                }

            },
            validateDuplicateRules(){

                let self = this;
                let rules = self.rules;

                var result = _.map(rules, function(rule, ruleIndex) {
                    var eq = _.find(rules, function(findRule, findRuleIndex) {
                        if (ruleIndex != findRuleIndex) {
                            if(findRule.then ==  rule.then){
                                return findRule;
                            }
                        }
                    });
                    if (typeof(eq) != 'undefined') {
                        return eq;
                    }
                });

                for (var i = result.length - 1; i >= 0; i--) {
                    if(typeof(result[i]) != 'undefined'){
                        return false;
                    }
                }

                return true;

            },
            setCurrentRuleValues(){

                this.currentItem = JSON.parse(JSON.stringify(this.formFields[this.currentFieldIndex]))

                if(this.currentItem.rules && this.currentItem.rules.length){
                    this.rules = JSON.parse(JSON.stringify(this.currentItem.rules));
                }else{
                    this.rules = [
                    {
                            value : '',
                        then : '',
                        action : 'hide'
                    }
                    ]
                }
            }
        },
        computed : {
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            },
        },
        watch: {
            showModalProp(value) {
                if(value) {
                    this.showModal = true
                    this.setCurrentRuleValues();

                }
                if(!value) {
                    this.currentItem = '';
                    this.showModal = false
                }
            },
            currentFieldIndex(value){
                if(value){            
                    this.currentIndex = value;
                    this.currentItem = JSON.parse(JSON.stringify(this.formFields[value]))
                    this.setCurrentRuleValues();
                }
            },
            formFields(value){
            }
        },
    }
</script>
