<template>
    <div class="add-appeal-outcome-popup delete-item-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Delete Item</d-modal-title>
            </d-modal-header>
            
            <d-modal-body>
                <p class="modal-des">

                    <d-alert role="alert" v-if="errorMessage || successMessage" :theme="popupThemeValue" show>

                        {{ errorMessage ? errorMessage : successMessage }}

                    </d-alert>

                    Are you sure you want to delete this item?
                </p>
            </d-modal-body>
            
            <d-modal-footer>
                <d-btn @click="$emit('remove-rule')" :class="[ loading ? 'show-spinner' : '']">
                    <span>Yes</span>
                    <c-loader></c-loader>
                </d-btn>
                <d-btn @click="handleClose">No </d-btn>
            </d-modal-footer>

        </d-modal>
</div>
</template>

<script>
export default {

    props: ['showModalProp'],

    data() {
        return {
            showModal: false,
            modalSize: 'sm',
            errorMessage : '',
            successMessage : '',
            formData : {
                is_archived: 0
            },
            submit : false,
            loading : false,
            submitType : 'delete',
            requestUrl : ''
        }

    },

    computed : {
    },
    mounted (){


    },

    methods: {
        handleClick() {
            this.showModal = true
            this.deletePopup = true;

        },
        handleClose() {
            this.showModal = false;
            this.deletePopup = false;
            this.loading = false;
            this.successMessage = '';
            this.errorMessage = '';
            this.$emit('hide-modal-value');
        },
    },

    watch:{
        showModalProp(value) {
            if(value){
                this.showModal = true
            }
            if(!value){
                this.showModal = false
            }
        }
    },

}
</script>