<template>
    <div class="add-appeal-outcome-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Delete Item</d-modal-title>
            </d-modal-header>
            
            <d-modal-body>
                <p class="modal-des">
                    Are you sure you want to delete this item?
                </p>

            </d-modal-body>

            
            <d-modal-footer>
                <d-btn @click="archive" :class="[ loading ? 'show-spinner' : '', errorMessage ? 'disable-btn' : '' ]">
                    <span>Yes</span>
                    <c-loader></c-loader>
                </d-btn>
                <button class="btn btn-link" @click="handleClose">Cancel</button>
            </d-modal-footer>

        </d-modal>
        <common-methods 
        @form-updated="formUpdated"
        @form-deleted="formDeleted"
        @form-error="formError"

        :submitUrl="submitUrl"
        :submit="submit"
        :formData="formData"
        :submitType="postType"
        >
    </common-methods>
</div>
</template>

<script>
export default {

    props: ['showModalProp' , 'url', 'currentItem', 'postType', 'listUrl', 'index', 'updateTest'],

    data() {
        return {
            showModal: false,
            modalSize: 'sm',
            errorMessage : '',
            successMessage : '',
            formData : {
                is_archived: 0
            },
            submit : false,
            loading : false,
            submitType : 'delete',
            requestUrl : '',
            spliceIndex  : ''
        }

    },

    computed : {

        submitUrl(){
            return this.requestUrl;
        },

        popupThemeValue(){
            if(this.errorMessage){
                return 'danger';
            }
            if(this.successMessage){
                return 'success';
            }
        }
    },

    mounted (){

        if(this.postType){
            this.submitType = this.postType;
        }

    },

    methods: {

        handleClick() {
            this.showModal = true
            this.deletePopup = true;

        },
        handleClose() {
            this.showModal = false;
            this.deletePopup = false;
            this.loading = false;
            this.successMessage = '';
            this.errorMessage = '';
            this.$emit('hide-modal-value');
        },

        formError(response){

            let self = this;

            this.submit = false;

            _.forEach(response.errors, function(value, key) {
                self.errorMessage =  response.errors[key][0];
                return false;
            });
            setTimeout(function(){
                self.errorMessage = '';
                self.loading = false;
                self.handleClose();
            },3000);

        },
        
        formUpdated(response){
            this.clearDetails(response);
            this.$emit('form-updated' , response);
        },

        formDeleted(response){
            this.clearDetails(response);
            this.$emit('form-deleted' , response);
            this.$emit('list-refresh');
        },

        clearDetails(response){
            let self = this;
            setTimeout(function(){
                self.handleClose();
                self.showModal = false;
                self.loading = false;
                self.deletePopup = false;
            } , 2000);
            this.successMessage = response.message;
            this.submit = false;
        },
        archive(){
            if(!this.formData.stages) {
                this.formData = JSON.parse(JSON.stringify(this.currentItem))
                this.formData.is_archived = 0;
            }
            if(this.formData.stages){
                this.formData.stages.splice(this.index, 1);
            }
            this.submit = true;
            this.loading = true;
            this.deletePopup = false;
            this.errorMessage = '';
            return;
        }
    },

    watch:{

        index (value) {
        },

        url (value){
            this.requestUrl = value;
        },

        showModalProp(value) {
            if(value){
                this.showModal = true
            }
            if(!value){
                this.formData = {
                    is_archived : 0
                };
                this.showModal = false
            }
        },

        currentItem(value){
            if(value){
                this.formData = JSON.parse(JSON.stringify(value))

                if(value.id){
                    this.requestUrl = this.url + '/' + value.id; 
                } 
                else {    
                    this.requestUrl = this.url + '/' + value._id;
                }
                
            } 
        },

        postType(value){
            if(value){
                this.submitType = value;
            }
        }
    },

}
</script>