<template>
    <div class="discard-case-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <div class="model-content-area">

            <d-modal-header>
                <d-modal-title>Discard Case</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <d-form>
                    <div class="row">
                            <div class="col-md-12">
                                <d-alert role="alert" v-if="errorMessage || successMessage" :theme="popupThemeValue" show>

                                    {{ errorMessage ? errorMessage : successMessage }}

                                </d-alert>
                            </div>
                            <div class="col-md-12">
                                <p class="modal-des">Are you sure you want to discard this incident report? Please note, this action is not revertible? (Max characters are allowed: 800)</p>
                        </div>
                        <div class="col-md-12">
                            <d-alert theme="success" hide>Alert - Success Theme Example Link</d-alert>
                        </div>
                        <div class="col-md-12">
                            <div :class="[ 'form-group' , errorBag.first('reason to discard')  ? 'is-invalid' : '']">
                                <label>Reason</label>
                                <textarea class="form-control" v-model="formData.reason_to_discard"
                                    placeholder="Start typing your reason"
                                    :rows="3"
                                    :max-rows="6"
                                    v-validate="'required|max:800'"
                                    name="reason to discard">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="danger" @click.prevent="validateBeforeSubmit" :class="[ loading ? 'show-spinner' : '']">
                    <span>Discard Case</span>
                    <c-loader></c-loader>
                </d-btn>
                <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </div>
        </d-modal>
        <common-methods 



:hideLoader="true"
:submitType="submitType"
:formData="formData"
:submit="submit"

>

</common-methods>
    </div>
</template>

<script>
import { EventBus } from '../../event-bus.js';
export default{
    
    props: ['showModalProp'],
    
    data() {
        return {
            showModal: false,
            modalSize: 'sm',
            formData:
            {
                reason_to_discard: '',
                is_discarded: 1
             },
            errorMessage : '',
            successMessage : '',
            url: 'api/incident-case/',
            dataUrl: 'api/incident-case/',
            loading:false,            
            submitType : 'put',
            submit : false,

        }
    },
    computed : {
            requestUrl(){
                if(this.$route.params){
                    return this.dataUrl + this.$route.params.id;
                }

            },
            submitUrl(){
                return this.requestUrl;
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
    
    methods: {
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.showModal = false;
            this.$emit('hide-modal-value');
            this.formData.reason_to_discard = ''
        },
        validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submit = true;
                        this.errorMessage = '';
                        this.discardCase();
                        return;
                    }
                    if(this.errorBag.items[0].rule == "required") {
                        self.errorMessage = "A reason is required to discard the case.";
                    }else {
                        self.errorMessage = "Maximum character limit has been exceeded.";
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },2000);
                });
            },
            discardCase(){
                let self = this;
                let param = {
                    is_discarded:1,
                    reason_to_discard:this.formData.reason_to_discard,
                    case_id : this.$store.getters.getCaseData._id,
                    case_number : this.$store.getters.getCaseData.case_number
                }
                this.url = this.dataUrl + this.$route.params.id + '/discard-case';
                this.loading = true;
                this.$http.put(this.url, param).then(response => {
                     if(Object.keys(response.data.data).length) {
                        this.$store.commit('setCaseData', response.data.data.document);

                        EventBus.$emit('activity-logs-unshift', {
                            tab: 'all',
                            log: response.data.data.log,
                            document: {},
                        });
                    }
                    setTimeout(function() {
                        self.loading = false;
                        self.successMessage = '';
                        self.handleClose();
                    }, 2000);

                })
                .catch(error => {
                    self.loading = false
                    _.forEach(error.response.data.errors, function(value, key) {
                        self.errorMessage =  error.response.data.errors[key][0];
                    });
                    setTimeout(function() {
                        self.errorMessage = '';
                    }, 2000);
                })
            },
        },
        
    
    watch: {
        showModalProp(value){
            if(value){
                this.showModal = true
            }
            if(!value){
                this.showModal = false
            }
        }
    },
}
</script>
