<template>
    <div class="dissociate-student-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Dissociate Involved Party</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <div class="row">
                    <div class="col-md-12">
                        <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show role="alert">

                            {{ errorMessage ? errorMessage : successMessage }}

                        </d-alert>
                    </div>
                    <div class="col-md-12">
                        <p class="modal-des" v-if="currentInvolvedUser.full_name">
                            Are you sure you want to dissociate <strong>"{{ currentInvolvedUser.full_name}}"</strong> from this case?
                        </p>
                        <p class="modal-des" v-else>
                            Are you sure you want to dissociate this user from this case?
                        </p>
                    </div>
                </div>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary" @click.prevent="deleteParty" :class="[loading ? 'show-spinner' : '']">
                    <span>Dissociate Now</span>
                    <c-loader></c-loader>
                </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>
         <common-methods 
        :infiniteLoad="false"
        :hideLoader="true"
        :submit="submit"
               >
    </common-methods>
    </div>
</template>

<script>
import { EventBus } from '../../event-bus.js';
export default{
    
    props: ['showModalProp','currentInvolvedUser','currentCase'],
     mounted (){
        if(this.currentInvolvedUser){
            this.user = this.currentInvolvedUser;
        }
    },
    data() {
        return {
            dataUrl:'api/incident-case/delete-involved-parties/',
            showModal: false,
            modalSize: 'sm',
            loading:false,
            involvedUserId:'',
            guest_index:'',
            formData : {},
            submit : false,
            successMessage : '',
            errorMessage : '',
            loading : false,
            user:'',
            submitType : 'put',
        }
    },
    computed : {
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
    
    methods: {
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.loading = false;
            this.successMessage = '';
            this.errorMessage = '';
            this.showModal = false;
            this.$emit('hide-modal-value');
        },

        deleteParty(){

            let self = this;
            let param = {

                case_number: this.currentCase.case_number,
                involved_user_id: this.currentInvolvedUser.id,
                guest_index: this.currentInvolvedUser.index,
                method_type: 'show',

            }

            this.url = this.dataUrl + this.$route.params.id;
            this.loading = true;
            this.$http.put(this.url, param).then(response => {
            console.log(response);
            if(Object.keys(response.data.data.document).length) {
                this.$store.commit('setCaseData', response.data.data.document);
                   EventBus.$emit('activity-logs-unshift', {
                       tab: 'all',
                       log: response.data.data.log,
                       document: {},
                   });
            }

            this.successMessage = response.data.data.message;
            setTimeout(function() {
                self.loading = false;
                self.successMessage = '';
                self.handleClose();
            }, 2000);

         });
        },
    },
    
    watch: {
        currentCase(value){

            this.formData.case_no = value.case_number;
        },

        showModalProp(value){
            if(value){
                this.showModal = true
            }
            if(!value){
                this.showModal = false
            }
        }
    },
}
</script>