<template>
    <div class="checklist-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose">
            <d-modal-header>
                <d-modal-title>Edit Checklist</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <d-form @submit.prevent="validateBeforeSubmit();">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Checklist Name</label>
                                <d-input 
                                    v-model="formData.name" 
                                    v-validate="{ required: true, max:150 }"
                                    data-vv-name="checklist" 
                                    :class="[errorBag.first('checklist') ? 'is-invalid' : '']" 
                                    placeholder="Add new checklist item" 
                                    autocomplete="off"/>
                            </div>
                        </div>

                    </div>
                     <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                        {{ errorMessage ? errorMessage : successMessage }}
                    </d-alert>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn :class="[ loading ? 'show-spinner' : '']" @click.prevent="validateBeforeSubmit();">
                    <span>Save</span>
                    <c-loader></c-loader>
                </d-btn>
                <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>
    </div>
</template>
<script>
export default{
    
    props: [
        'showModalProp',
        'formDataVal',
        'checklistData',
        'formCheckIndex',
    ],
    
    data() {
        return {
            showModal: false,
            modalSize: 'sm',
            url: 'api/checklist',
            submitType : "update",
            checklistDataValue: '',
            loading: false,
            submit : false,
            errorMessage : '',
            successMessage : '',
            formData : { }
        }
    },

    mounted (){
        if(this.checklistData){
            this.checklistDataValue = this.checklistData;
        }
    },

    computed: {

        submitUrl(){
            return 'api/checklist/'+this.checklistDataValue._id; 
        },

        popupThemeValue(){
            if(this.errorMessage){
                return 'danger';
            }
            if(this.successMessage){
                return 'success';
            }
        }
    },
    
    methods: {
        handleClick() {
            this.showModal = true;
        },
        handleClose() {
            this.showModal = false;
            this.$emit('hide-modal-value');
        },
        formUpdated(response){
            let self = this;
            this.submit = false;
            this.loading = false;
            this.successMessage = response.message;
            setTimeout(function() {
                self.successMessage = '';
            }, 2000);
        },

        validateBeforeSubmit() {
            let self = this;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.errorMessage = '';
                    this.update();
                    return;
                }
                if(this.errorBag.all()[0] === 'The checklist field may not be greater than 150 characters.'){
                    this.errorMessage = '150 character limit reached';
                }
                if(this.errorBag.all()[0] === 'The checklist field is required.'){
                    this.errorMessage = 'Checklist name is required.';
                }
                else{
                    this.errorMessage = this.errorBag.all()[0];
                }

                setTimeout(function () {
                    self.errorBag.clear();  
                    self.errorMessage = '';
                }, 2000);
            });
        },

        update: function () {
                let self = this;
                self.loading = true;
                this.checklistData.checklist[this.formCheckIndex] = this.formData;
                
                this.$http.put(this.submitUrl, this.checklistDataValue)
                .then(response => {
                    response = response.data;
                    self.successMessage = response.message;
                    
                    self.$emit('form-submitted', response.data);
                    
                    setTimeout(function(){
                        self.loading = false;
                        self.successMessage = '';
                        self.showModal = false; //Modal closes on update
                        self.$emit('hide-modal-value'); // Open popup after update
                    }, 1000);
                })
                .catch(error => {
                    self.loading = false
                    self.errorMessage = error.response.data.errors.message[0];
                    setTimeout(function(){
                        self.errorMessage = '';
                    }, 1000);
                })
            },
        },
    
        watch: {
            showModalProp(value) {
                if(value) {
                    this.showModal = true
                }
                if(!value) {
                    this.showModal = false
                }
            },

            checklistData(value){
                if(value){
                    this.checklistDataValue = this.checklistData;
                }
            },
            formDataVal(value){
                this.formData = JSON.parse(JSON.stringify(value));
            },
            formCheckIndex(value) {

            }
        },
}
</script>