 <template>
    <div class="email-preview-popup prevent-close">
        <d-modal v-if="showModal" @close="handleClose" role="dialog">
            <div class="model-content-area">
                <d-modal-header>

                    <d-modal-title>Email Preview</d-modal-title>
                </d-modal-header>
                <d-modal-body>
                    <div class="modal-content-body">
                        <d-form>
                            <div>
                                <ul class="row email-list-view">
                                    <li>
                                        <div class="col-xs-12 col-md-12">
                                            <label class="modal-auto-text">To:</label>
                                            <p class="modal-des">{{ previewData.recipient_names | arrayToStringNames  }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-xs-12 col-md-12">
                                            <label class="modal-auto-text">CC:</label>
                                            <p class="modal-des">{{  previewData.cc_user_names | arrayToStringNames  }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-xs-12 col-md-12">
                                            <label class="modal-auto-text">BCC:</label>
                                            <p class="modal-des">{{  previewData.bcc_user_names | arrayToStringNames  }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-xs-12 col-md-12">
                                            <label class="modal-auto-text">Subject:</label>
                                            <p class="modal-des">{{ previewData.subject ? previewData.subject : 'No Subject' }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-xs-12 col-md-12">
                                            <label class="modal-auto-text">Message Preview For ( {{previewData.recipient_names[0] ? previewData.recipient_names[0] : 'No recipient selected' }} ):</label>
                                            <p class="modal-des preformatted" v-html=" previewData.message ? replaceEmailString(previewData.message) : 'No Message' "></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-xs-12 col-md-12">
                                            <label class="modal-auto-text">Attachment:</label>
                                            <p class="modal-des">{{ previewData.attachments | attachmentName }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </d-form>
                    </div>
                </d-modal-body>
            </div>
        </d-modal>
    </div>
</template>

<script>
export default {
    props : ['showModalProp','previewData'],

    data() {
        return {           
            showModal: false,
            modalSize: 'md',
            fileName: [],
            names: []
        }
    },
    computed:{
        displaySettings(){
            return this.$store.getters.getDisplaySetting;
        },
    },
    methods: {
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.showModal = false;
            this.$emit('hide-modal-value');
        },
        replaceEmailString(value) {
            return value.replace('[[SENDER_FULL_NAME]]', this.previewData.case_details.reported_by_user.first_name+' '+this.previewData.case_details.reported_by_user.last_name)
                    .replace('[[CASE_REPORTER_FULL_NAME]]', this.previewData.sender_details.first_name+' '+this.previewData.sender_details.last_name)
                    .replace('[[CASE_NUMBER]]', this.previewData.case_details.case_number)
                    // .replace('[[CASE_URL]]','case url')
                    .replace('[[CURRENT_TIME]]', moment().utc().format('hh:mm a'))
                    .replace('[[INCIDENT_NAME]]', this.previewData.case_details.incident_type.name)
                    .replace('[[EXPECTED_CLOSE_DATE]]',this.previewData.case_details.expected_close_date ? moment(this.previewData.case_details.expected_close_date).format('MMM D, YYYY') : 'N/A')
                    .replace('[[UNIVERSITY_NAME]]', this.displaySettings.name)
                    .replace('[[INCIDENT_REPORTED_DATE]]', moment(this.previewData.case_details.created_at.date).format('MMM D, YYYY'))
                    .replace('[[INCIDENT_DATE]]', moment(this.previewData.case_details.incident_info.date_of_incident).format('MMM D, YYYY'))
                    .replace('[[RECEIVER_FULL_NAME]]', this.previewData.recipient_names[0]?this.previewData.recipient_names[0]: 'No Recipient Selected');
        },
    },

    watch:{
        showModalProp(value) {
            if(value) {
                this.showModal = true
            }
            if(!value) {
                this.showModal = false
            }
        },
        previewData(value){
            let self = this;
            _.forEach(value.attachments,function(val,key){
                self.fileName.push(val.display_name);
            });
        }
    },
}
</script>
