<template>
    <div class="student-details-popup">
        <d-modal v-if="showModal" size="md" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>{{ studentName }}'s Information</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <div class="activities-section">
                    <div class="activitylist">
                        <ul class="incident-tabs" role="tablist">
                            <li role="presentation" :class="{ 'active': tabData === 'profile_details' }" @click="tabData = 'profile_details'">
                                <a href="javascript:void(0);" role="tab">
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li role="presentation" :class="{ 'active': tabData === 'contact_details' }" @click="tabData = 'contact_details'">
                                <a href="javascript:void(0);" role="tab">
                                    <span>Contact</span>
                                </a>
                            </li>
                            <li role="presentation" :class="{ 'active': tabData === 'case_handled' }" @click="tabData = 'case_handled'">
                                <a href="javascript:void(0);" role="tab">
                                    <span>Case Handled</span>
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="modal-content-body" v-if="tabData == 'profile_details'">
                    <h4>General Biodemographic</h4>
                    <div id="style-2" class="scrollable">
                        <d-form>
                            <div v-for="list in lists">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="modal-auto-text">{{list.name}}</label>
                                    </div>
                                    <div class="col-xs-12 col-md-8">
                                        <p class="modal-des">{{list.descriptions}}</p>
                                    </div>
                                </div>
                            </div>
                        </d-form>
                    </div>
                </div>
                <div class="modal-content-body" v-if="tabData == 'contact_details'">
                    <h4>Contact Information</h4>
                    <div id="style-2" class="scrollable">
                        <d-form>
                            <div v-for="list in contactLists">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="modal-auto-text">{{ list.name }}</label>
                                    </div>
                                    <div class="col-xs-12 col-md-8">
                                        <p class="modal-des">{{list.descriptions}}</p>
                                    </div>
                                </div>
                            </div>
                        </d-form>
                    </div>
                </div>
                <div class="modal-content-body" v-if="tabData == 'case_handled'">
                    <p>Associated with 3 cases - 1 open, 2 closed</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="manage-listing">
                                <div v-for="list in listing">
                                    <d-card>
                                        <d-card-body>
                                            <div class="prifile-img"  v-bind:style="{'background-image' : 'url('+list.image+')',}"></div>
                                            <div class="profile-content">
                                                <label>{{list.name}}</label>
                                                <p>{{list.content}}</p>
                                            </div>
                                            <span class="action-panel">
                                                <i class="icon-keyboard_arrow_right"></i>
                                            </span>
                                        </d-card-body>
                                    </d-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </d-modal-body>
        </d-modal>
    </div>
</template>

<script>
export default {
    
    props: ['showModalProp'],
    
    data() {
        return {
            showModal: false,
            studentName: 'Greg Eliss',
            tabData: 'profile_details',
            modalSize: 'md',
            activitySelected: 'Profile Details',
            activityList: [
                { name: 'Profile Details'},
                { name: 'Contact Details'},
                { name: 'Case Handled'},
            ],
            listing: [
                {
                    image: '/images/avatars/image5.png',
                    name: 'Case #: 298',
                    content: 'Active case',
                },
                {
                    image: '/images/avatars/image.png',
                    name: 'Case #: 142',
                    content: 'Closed',
                },
                 {
                    image: '/images/avatars/image8.png',
                    name: 'Case #: 85',
                    content: 'Closed',
                },
            ],
            contactLists:[
                {
                    name: 'Campus Email:',
                    descriptions: '138962',
                },
                {
                    name: 'Personal Email:',
                    descriptions: 'Greg',
                },
                {
                    name: 'Address 1:',
                    descriptions: 'Eliss',
                },
                {
                    name: 'Address 2:',
                    descriptions: '—',
                },
                {
                    name: 'Phone Number:',
                    descriptions: '+1 816-235-1000',
                },
            ],
            lists: [
                {
                    name: 'Employee Number:',
                    descriptions: '138962',
                },
                {
                    name: 'First Name:',
                    descriptions: 'Greg',
                },
                {
                    name: 'Last Name:',
                    descriptions: 'Eliss',
                },
                {
                    name: 'Middle Name:',
                    descriptions: '—',
                },
                {
                    name: 'Date of Birth:',
                    descriptions: 'September 12, 1976',
                },
                {
                    name: 'Gender:',
                    descriptions: 'Male',
                },
                {
                    name: 'Person Type:',
                    descriptions: 'Employee',
                },
                {
                    name: 'Terms:',
                    descriptions: '—',
                },
                {
                    name: 'Role:',
                    descriptions: 'Case Type Officer',
                },
            ],
        }
    },
    
    methods: {
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.showModal = false;
            this.$emit('hide-modal-value');
        }
    },
    
    watch:{
        showModalProp(value) {
            if(value){
                this.showModal = true
            }
            if(!value){
                this.showModal = false
            }
        }
    },
};
</script>
