<template>
    <div class="expected-date-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Expected Close Date</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <p class="modal-des">Select the date to set as expected close date of the case.</p>
                <hr />
                <d-form @submit.prevent="validateBeforeSubmit">
                    <div class="row">
                        <div class="col-md-12">
                            <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" role="alert" show>

                                {{ errorMessage ? errorMessage : successMessage }}

                            </d-alert>

                        </div>
                        <div class="col-md-12">
                            <div :class="[ 'form-group' , errorBag.first('Expected close date')  ? 'is-invalid' : '']">
                                <div class="form-group selectBox">
                                    <label for="expected_date">Expected close date</label>
                                    <i class="icon-calendar"></i>
                                    <d-datepicker v-model="formData.expected_close_date"
                                    id="expected_date"
                                    :class="[ 'with-icon datepicker-icon' ,loading ? 'disabled' : '']"
                                    v-validate="'required'"
                                    name="Expected close date"
                                    :format="dateFormat"
                                    :disabled-dates="disabledDates"
                                    placeholder="MM / DD / YYYY" />
                                </div>
                            </div>
                        </div>
                    </div>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary" @click.prevent="validateBeforeSubmit" :class="[ loading ? 'show-spinner' : '']">
                    <span>Change Now</span>
                    <c-loader></c-loader>
                </d-btn>
                <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>
        <common-methods 

        :hideLoader="true"
        :formData="formData"
        :submit="submit"

        >

    </common-methods>
</div>
</template>

<script>

import VueTimepicker from 'vue2-timepicker';
import Selectize from 'vue2-selectize';
import { EventBus } from '../../event-bus.js';

export default {

    props: ['showModalProp', 'expectedCloseDate'],
    
    components: { VueTimepicker },
    
    data() {
        return {
            disabledDates: {
             to: new Date(Date.now() - 8640000)
         },
         formData: { 
                expected_close_date: ''
            },
            dateFormat: 'MMM dd, yyyy',
            showModal: false,
            modalSize: 'sm',
            errorMessage: '',
            successMessage: '',
            loading : false,
            submit : false,
            submitType : 'put',
            url: 'api/incident-case/',
            dataUrl: 'api/incident-case/',

        }
    },

    computed : {
        popupThemeValue(){
            if(this.errorMessage){
                return 'danger';
            }
            if(this.successMessage){
                return 'success';
            }
        }
    },
    methods:{
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.showModal = false,     
            this.$emit('hide-modal-value');
            this.formData = {
                expected_close_date:  this.incidentCase.expected_close_date?this.incidentCase.expected_close_date:''
            };
        },

        validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.errorMessage = '';
                        this.setDate();
                        return;
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },3000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },

        setDate(){
                let self = this;
                let params = {
                    case_number:self.incidentCase.case_number,
                    expected_close_date:moment(this.formData.expected_close_date).format('YYYY-MM-DD')
                }
                this.url = this.dataUrl + this.$route.params.id + '/expected-date';
                this.loading = true;
                this.$http.put(this.url, params).then(response => {
                if(Object.keys(response.data.data).length) {
                    this.$store.commit('setCaseData', response.data.data.document);
                }

                EventBus.$emit('activity-logs-unshift', {
                    tab: 'all',
                    log: response.data.data.log,
                    document: {},
                });

                setTimeout(function() {
                    self.loading = false;
                    self.successMessage = '';
                    self.handleClose();
                }, 3000);

            })
                .catch(error => {
                    self.loading = false
                    _.forEach(error.response.data.errors, function(value, key) {
                        self.errorMessage =  error.response.data.errors[key][0];
                    });
                    setTimeout(function() {
                        self.errorMessage = '';
                    }, 3000);
                })


        },
        
    },
    
    watch:{
        showModalProp(value){
            this.incidentCase = this.$store.getters.getCaseData;
            this.formData.expected_close_date = this.incidentCase.expected_close_date?this.incidentCase.expected_close_date:'';

            if(value){
                this.showModal = true
            }
            if(!value){
                this.showModal = false
            }
        },
    },
}
</script>
