<template>
    <div class="discard-case-popup prevent-close">
        <d-modal v-if="showModal" size="sm" role="dialog" no-close-on-backdrop no-close-on-esc :hide-header-close='true'>
            <div class="model-content-area">
                 <d-modal-header>
                <d-modal-title>Download Export Report</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <d-form>
                    <div class="row">
                            <div class="col-md-12">
                                <p class="modal-des" v-if="loading">Please wait while your request has been processed...</p>
                                <p class="modal-des" v-if="!loading">Export report is ready to download.</p>
                        </div>
                    </div>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <a class="btn btn-primary" v-if="!exportAgain" :href="downloadUrl" @click="onDownloadFile" :class="[ loading ? 'show-spinner' : '']" download  :style="{color: 'white'}">
                    Download
                    <c-loader></c-loader>
                </a>
                <button class="btn btn-primary" v-if="exportAgain" @click="processPDF" :style="{color: 'white'}">
                    Export Again
                    <c-loader></c-loader>
                </button>
                <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
            </div>
        </d-modal>
    </div>
</template>

<script>
import { EventBus } from '../../event-bus.js';
export default{
    
    props: ['showModalProp'],
    
    data() {
        return {
            showModal: false,
            modalSize: 'sm',
            errorMessage : '',
            successMessage : '',
            loading: true,    
            downloadUrl: '',
            exportAgain: false,
        }
    },
    computed : {
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
    
    methods: {
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.showModal = false;
            this.loading = false;
            this.$emit('hide-modal-value');
            this.formData.reason_to_discard = ''
        },
        onDownloadFile() {
            let self = this;
            this.loading = true;
            setTimeout(function(){
                self.loading = false;
                self.handleClose();
            }, 2000);
            // let url = 'api/export-case-pdf-download';
            // this.$http.get(url).then(response => {
            //     response = response.data;
            //     self.loading = false;
            //     self.downloadUrl = response.data;
            // })
            // .catch(error => {
            //     self.exportAgain = true;
            //     self.loading = false
            //     _.forEach(error.response.data.errors, function(value, key) {
            //         self.errorMessage =  error.response.data.errors[key][0];
            //     });
            //     setTimeout(function() {
            //         self.errorMessage = '';
            //     }, 2000);
            // })
        },
        processPDF(){
            let self = this;
            this.loading = true;
            this.exportAgain = false;
            let url = 'api/export-case-pdf';
            let path = this.$route.path;
            let type = path.includes("current-situation")? 'current-situation' : 'current-situation-stats';
            let data = {
                type: type
            };
            this.$http.post(url, data).then(response => {
                response = response.data;
                self.loading = false;
                self.downloadUrl = 'export-case-pdf-download/'+response.data.name;
                // self.downloadUrl = response.data.url;
            })
            .catch(error => {
                self.exportAgain = true;
                self.loading = false
                _.forEach(error.response.data.errors, function(value, key) {
                    self.errorMessage =  error.response.data.errors[key][0];
                });
                setTimeout(function() {
                    self.errorMessage = '';
                }, 2000);
            })
        },
    },
        
    
    watch: {
        showModalProp(value){
            if(value){
                this.showModal = true
                this.processPDF();
            }
            if(!value){
                this.showModal = false
            }
        }
    },
}
</script>
