<template>
    <div class="export-case-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <div class="model-content-area">

            <d-modal-header>
                <d-modal-title>Export Case</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <p class="modal-des">
                    Are you sure you want to export this incident report / case?  this action will take sometime.<br><br>
                    Once done, we will send you email with a link to download case file.
                </p>
            </d-modal-body>
            <d-modal-footer>
                <button @click="onExportCase" :class="['btn btn-primary', loading  ? 'show-spinner' : '']" >
                    <span>Export Case</span>
                    <c-loader></c-loader>
                </button>
                <button class="btn btn-link" @click="handleClose">Cancel </button>
                
            </d-modal-footer>
        </div>
        </d-modal>
    </div>
</template>

<script>

export default{
    
    props: ['showModalProp'],
    
    data() {
        return {
            showModal: false,
            modalSize: 'sm',

            loading: false,
            errorMessage : '',
            successMessage : '',
        }
    },
    
    methods: {
        onExportCase() {
            var self = this;
            this.loading = true;
            let url = "api/export-case";
            let case_id = this.$route.params.id;
            var data = {
                case_id: case_id
            };
            self.$http.post(url, data).then(response => {
                response = response.data;
                self.successMessage = response.message;
                setTimeout(function () {
                    self.successMessage = '';
                    self.loading = false; 
                    self.handleClose();
                } , 2000);
            }).catch(error => {
                let self = this;
                error = error.response.data;
                self.loading = false; 
                let errors = error.errors;
                this.errorBag.clear();
                $.each(errors, function(field, messages) { 
                    self.errorBag.add({
                        field: field,
                        msg: messages[0]
                    }); 
                });
            });
        },  
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.showModal = false
            this.$emit('hide-modal-value');
        }
    },
    
    watch: {
        showModalProp(value){
            if(value){
                this.showModal = true
            }
            if(!value){
                this.showModal = false
            }
        }
    },
}
</script>
