<template>
    <div class="manage-charges-popup">
        <h4>Assign Plea</h4>
        <d-form @submit.prevent="validateBeforeSubmit">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>To</label>

                        <p v-if="formData.plea_to_users">{{ formData.plea_to_users }}</p>

                        <multiselect 
                        v-if="!formData.plea_to_users"
                        v-model="partiesList" 
                        :options="partiesOption"
                        label="first_name"
                        track-by="id" 
                        class="ajax"
                        placeholder="Type to search" 
                        :multiple="true" 
                        :searchable="true" 
                        :clear-on-select="true" 
                        :close-on-select="false" 
                        :options-limit="300"
                        :limit="20" 
                        :limit-text="limitText"
                        open-direction="bottom"
                        v-validate="'required'"
                        data-vv-name="plea to user"
                        @search-change="asyncFind"
                        @select="dispatchAction"
                        :internal-search="true"
                        :showNoResults="false"
                        :class="[errorBag.first('plea to user') ? 'is-invalid' : '']">
                        <template slot="option" slot-scope="partiesOption">
                            <div class="user-options" style="height: 30px;">
                                <div class="option__desc">
                                    <span class="option__title">
                                        {{ partiesOption.option.full_name }}
                                    </span>
                                </div>
                            </div>
                        </template>
                    </multiselect>
                </div>
            </div>

            <div class="col-md-12">
                <label>Plea Type</label>
                <div class="violation-charges">

                    <div class="form-group selectBox" >

                        <d-form-select  
                        v-model="formData.plea_type_id"
                        v-validate="'required'"
                        data-vv-name="plea type"
                        :class="[errorBag.first('plea type') ? 'is-invalid' : '']">
                        <option value="" selected="" disabled="">Select plea type</option>
                        <option 
                        v-for="(plea, index) in pleaType"
                        v-if="plea.is_archived==0 || formData.plea_type_id == plea.id || selectedType == plea.id"
                        :key="index"
                        :value="plea.id">
                        {{ plea.name }}
                    </option>
                </d-form-select>

                <i class="icon-keyboard_arrow_down3"></i>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <label>Plea Outcome</label>
        <div class="violation-charges">

            <div class="form-group selectBox" >

                <d-form-select  
                v-model="formData.plea_outcome_id">
                <option value="null" selected="" disabled="">Select plea outcome</option>
                <option 
                v-for="(outcome, index) in pleaOutcome"
                v-if="outcome.is_archived==0 || formData.plea_outcome_id == outcome.id || selectedOutcome == outcome.id"
                :key="index"
                :value="outcome.id">
                {{ outcome.name }}
            </option>
        </d-form-select>

        <i class="icon-keyboard_arrow_down3"></i>
    </div>
</div>
</div>

<div class="col-md-12">
    <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
        {{ errorMessage ? errorMessage : successMessage }}
    </d-alert>
</div>

<div class="col-md-12">
    <d-btn 
    :class="[ loading ? 'show-spinner' : '']" 
    @click.prevent="validateBeforeSubmit();"
    theme="primary">
    <span>{{(formData.id) ? 'Update' : 'Add'}} Plea</span>
    <c-loader></c-loader>
</d-btn>

</div>

</div>
</d-form>

<common-methods
@get-response="getPleaTypeResponse"
:url="requestPleaTypeList"
:hideLoader="true">
</common-methods>

<common-methods
@get-response="getPleaOutcomeResponse"
:url="requestPleaOutcomeList"
:hideLoader="true">
</common-methods>

<common-methods
@form-submitted="formSubmitted"
@form-error="formError"
@form-updated="formUpdated"
:submitUrl="submitUrl"
:submit="submit"
:formData="formData"
:submitType="submitType"
:isValidSelection="isValidSelection"
:hideLoader="true">
</common-methods>


</div>
</template>

<script>

    import Multiselect from 'vue-multiselect';
    import { EventBus } from '../../event-bus.js';

    export default {

        components: { Multiselect },

        props : ['formValues', 'clearFormData'],


        data() {
            return {
                errorMessage : '',
                successMessage : '', 
                submit : false,
                submitType : 'post',
                partiesList: [],
                formData: { 
                    plea_type_id: "",
                    plea_outcome_id: null,
                    case_number: null,
                    user_id: null,
                    plea_to: [],
                    plea_to_users: '',
                    case_id: null,
                },
                // chargesFormValues:'',
                loading: false,
                urlPleaType: 'api/plea-type?pagination=true&is_archived=0',
                urlPleaOutcome: 'api/plea-outcome?pagination=true&is_archived=0',
                pleaType: [],
                pleaOutcome: [],
                urlInvolvedParties:'api/incident-case/get-involved-parties',
                selected: '',
                incidentCase: {},
                selected_id: null,
                selectedType:'',
                selectedOutcome:'',
            }
        },

        computed: {
            submitUrl(){
                if(this.formData.id){
                    this.submitType = 'update';
                    return 'api/case-plea/' + this.formData.id;
                }
                return 'api/case-plea';
            },
            partiesOption(){
                let partiesOptionArr = [];
                if(this.$store.getters.getCaseData && this.$store.getters.getCaseData.involved_parties_details ) {
                    _.forEach(this.$store.getters.getCaseData.involved_parties_details, function(value, key) {
                        if(value.id){
                            partiesOptionArr.push(value);
                        }
                    });
                }
                return partiesOptionArr;
            },

            requestPleaTypeList() {
                return this.urlPleaType;
            },

            requestPleaOutcomeList() {
                if(this.formData.plea_type_id){
                    return this.urlPleaOutcome;
                }
            },

            popupThemeValue() {
                if (this.errorMessage) {
                    return 'danger';
                }
                if (this.successMessage) {
                    return 'success';
                }
            },

            isValidSelection () {
                return this.selected !== "" && this.selected !== "forbidden value"
            }

        },

        mounted() {

        },

        methods: {

            dispatchAction () {
                let self = this;
                setTimeout(function(){
                    self.$emit('selected-value' , self.selectedValue);
                } , 100);

                setTimeout(function(){
                    self.options = [];
                } , 500);

            },

            asyncFind: _.debounce(function(query) {
                let self = this;
                query = query.trim(' ');

                this.keyword = query;

                if(!query || query.length < 2) {
                    return;
                };

                let requestUrl = this.url ? this.url : 'api/user?ir-restrict=true';
                requestUrl += '&keyword=' + query;

                this.$http.get(requestUrl).then(response => {
                    response = response.data;
                    if(response.data.length) {
                        self.options = response.data;
                    }else{
                        self.options = [];
                        this.loading = false;

                        response.data.error = 'No record found';
                        let errors = response.data.error;

                        self.$toasted.show(errors, {
                            theme: "bubble",
                            position: "bottom-right",
                            duration : 3000,
                            type: ['error'],
                            singleton: true,
                            icon : '',
                            className: 'error-toast alert-danger'
                        })
                        return false

                        response.data.errors = []

                        return Promise.reject(error);
                    }
                    this.loading = false;
                }).catch(error=>{
                    this.loading = false;
                    self.options = [];
                    console.log(error , "Error in file CommonMutliSelect.vue");
                });
            }, 1000),

            limitText (count) {
                return `and ${count} other users`
            },

            getPleaTypeResponse(response){
                let self = this; 
                self.pleaType = response.data;
            },

            getPleaOutcomeResponse(response){
                let self = this; 
                self.pleaOutcome = response.data;
            },

            handleClick() {
                this.showModal = true
            },

            handleClose() {
                this.showModal = false;
                this.formData = {
                    violations: [],
                    case_number: null,
                    user_id: null,
                    charged_to: [],
                    statement: '',
                    charged_to_users: '',
                };
                this.partiesList = [];
                this.loading = false;
                this.successMessage = '';
                this.errorMessage = '';
            },

            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.incidentCase = this.$store.getters.getCaseData;
                        self.formData.case_number = self.incidentCase.case_number;
                        self.formData.case_id = self.incidentCase._id;
                        if(self.submitType == 'post') {
                            _.forEach(self.partiesList, function(value, key) {
                                if(value.id){
                                    self.formData.plea_to.push(value.id);
                                }
                            });
                        }
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        return;

                    }
                    this.errorMessage = this.errorBag.all()[0];

                    setTimeout(function () {
                        Vue.nextTick(() => {
                            self.errorMessage = '';
                            self.errorBag.clear();
                        })
                    }, 3000);
                });
            },

            formError(response){

                let self = this;

                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                setTimeout(function(){
                    self.errorMessage = '';
                },5000);
            },

            formSubmitted(response){
                this.clearDetails(response);
                _.forEach(response.data.document, function(value, key) {
                    EventBus.$emit('activity-logs-unshift', {
                        tab: 'all',
                        log: {},
                        document: response.data.log[key],
                    });        
                });
                this.$emit('form-submitted', response);
            },

            formUpdated(response){
                this.clearDetails(response);
                EventBus.$emit('activity-logs-unshift', {
                    tab: 'all',
                    log: {},
                    document: response.data.log,
                });
                this.$emit('form-updated' , response);
            },

            clearDetails(response){
                let self = this;
                self.handleClose();

                setTimeout(function(){
                    self.showModal = false;
                    self.loading = false;
                    self.successMessage = '';
                    self.submitType = 'post';
                    self.formData = {
                        plea_type_id: '',
                        plea_outcome_id: null,
                        case_number: null,
                        user_id: null,
                        plea_to: [],
                        plea_to_users: '',
                        case_id: null,
                    }
                } , 50);

                this.successMessage = response.message;
                this.submit = false;

                setTimeout(function () {
                    Vue.nextTick(() => {
                        self.errorBag.clear();
                    })
                }, 80);

            },

            limitText (count) {
                return `and ${count} more`
            }

        },

        watch: {
            formValues(value) {
                this.formData = JSON.parse(JSON.stringify(value));
                this.selectedType = this.formData.plea_type_id;
                this.selectedOutcome = this.formData.plea_outcome_id
                this.chargesFormValues = value; 
            },
            clearFormData(value){
                let self = this;
                if(value){
                    self.formData = {
                        plea_type_id: '',
                        plea_outcome_id: null,
                        case_number: null,
                        user_id: null,
                        plea_to: [],
                        plea_to_users: '',
                        case_id: null,
                    }
                    setTimeout(function () {
                        Vue.nextTick(() => {
                            self.errorBag.clear();
                        })
                    }, 100);
                }
            }
        },
    }
</script>
