<template>

    <div class="manage-appeals-popup">
        <div v-if="formData.id">

            <h4>{{ formData.title }}'s Appeal Details</h4>
            <d-form>
                <div class="row">

                    <div class="col-md-12">
                        <p class="modal-auto-text">Appeal Type:</p>
                        <p class="modal-des">{{ formData.appeal_type }}</p>
                        <p class="modal-auto-text">Statement:</p>
                        
                        <p class="modal-des" 
                            v-model="formData.statement"
                            v-if="!isReadMore">
                            {{ formData.statement.substring(0, 150) }}

                            <a href="javascript:;" 
                                v-if="formData.statement.length > 150 && !isReadMore" 
                                @click="showReadMore">
                                Read More
                            </a>

                        </p>

                        <p class="modal-des" 
                            v-model="formData.statement" 
                            v-if="isReadMore">
                            {{ formData.statement }}

                            <a href="javascript:;" 
                                v-if="isReadMore" 
                                @click="showReadLess">
                                Read Less
                            </a>

                        </p>

        </div>
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-md-12">
            <div class="form-group selectBox">
                <label>Appeal Status</label>
                <i class="icon-keyboard_arrow_down3"></i>
                <d-form-select 
                v-model="formData.appeal_status_id"
                v-validate="'required'"
                data-vv-name="appeal status"
                :class="[errorBag.first('appeal status') ? 'is-invalid' : '']"
                >
                <option value="null" disabled="" selected="">Select an option</option>
                <option 
                v-for="(appeal , index) in appealStatus"
                v-if="appeal.is_archived==0 || formData.appeal_status_id == appeal.id || selectedStatus == appeal.id"
                :value="appeal.id" 
                :key="index">  
                {{ appeal.name }}      
            </option>
        </d-form-select>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group selectBox">
        <label>Appeal Review </label>
        <i class="icon-keyboard_arrow_down3"></i>
        <d-form-select  
        v-model="formData.appeal_review_type_id"
        v-validate="'required'"
        data-vv-name="appeal review"
        :class="[errorBag.first('appeal review') ? 'is-invalid' : '']">
        <option value="null" selected="" disabled="">Select appeal review type</option>
        <option 
        v-for="(review , index) in appealReview"
        v-if="review.is_archived==0 || formData.appeal_review_type_id == review.id || selectedReview == review.id"
        :key="index"
        :value="review.id">
        {{ review.name }}
    </option>
</d-form-select>
</div>
</div>
<div class="col-md-12">
    <div class="form-group selectBox">
        <label>Appeal Outcome</label>
        <i class="icon-keyboard_arrow_down3"></i>
        <d-form-select 
        v-model="formData.appeal_outcomes_id"
        v-validate="'required'"
        data-vv-name="appeal outcome"
        :class="[errorBag.first('appeal outcome') ? 'is-invalid' : '']"
        >
        <option value="null" selected="" disabled="">Select appeal outcome</option>
        <option 
        v-for="(outcome , index) in appealOutcome"
        v-if="outcome.is_archived==0 || formData.appeal_outcomes_id == outcome.id || selectedOutcome == outcome.id"
        :key="index"
        :value="outcome.id">
        {{ outcome.name }}
    </option>
</d-form-select>
</div>
<d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
    {{ errorMessage ? errorMessage : successMessage }}
</d-alert>
</div>



<div class="col-md-12">
    <d-btn 
    theme="primary"
    :class="[ loading ? 'show-spinner' : '']" 
    @click.prevent="validateBeforeSubmit();">
    <span>Save</span>
    <c-loader></c-loader>
</d-btn>

</div>
</div>
</d-form>
</div>

<common-methods     

@get-response="getAppealResponse"   
@form-updated="formUpdated"
@form-error="formError"

:url="requestListAppeal"
:submitUrl="submitUrl"
:submit="submit"
:submitType="submitType"
:formData="formData"
:hideLoader="true"
>

</common-methods>

<common-methods 

@get-response="getReviewResponse"
:url="requestListReview"
:hideLoader="true">

</common-methods>

<common-methods 

@get-response="getOutcomeResponse"
:url="requestListOutcome"
:hideLoader="true">

</common-methods>

</div>
</template>

<script>

import VueTimepicker from 'vue2-timepicker';
import Selectize from 'vue2-selectize';
import { EventBus } from '../../event-bus.js';

export default {


    props: [
    'showModalProp',
    'appealList',
    'caseFormDataVal',
    'caseFormData'
    ],

    components: { VueTimepicker },

    data() {
        return {
            showAppealText: "Select an appeal from the list to view it's details",
            isReadMore: false,
            submit : false,
            submitType : 'update',
            errorMessage : '',
            successMessage : '',
            loading : false,
            // value: null,
            formData: {
                type: 'appeal_review',
                appeal_type: '',
                appeal_type_id: 1,
                appeal_status_id: null,
                appeal_review_type_id: null,
                appeal_outcomes_id: null,
                statement: '',
                case_number: null,
                id: '',
                status: 'admin_review',
            },
            showModal: false,
            text:' ',
            appealStatus: [1],
            urlAppealStatus: 'api/appeal-status?filter_by_name=true',
            appealReview: [1],
            urlappealReview: 'api/appeal-review-type?filter_by_name=true',
            appealOutcome: [1],
            urlappealOutcome: 'api/appeal-outcome?filter_by_name=true',
            typeName:'',
            appealStatment: '',
            manageAppeal: '',
            appealUser: '',
            appealId: '', 
            appelCaseFormData: '', 
            incidentCase: {},
            selectedStatus:'',
            selectedReview:'',
            selectedOutcome:'',
        }
    },

    mounted() {

    },

    computed: {

        requestListAppeal() {
            return this.urlAppealStatus;
        },

        requestListReview() {
            return this.urlappealReview;
        },

        requestListOutcome() {
            return this.urlappealOutcome;
        },

        submitUrl(){
            if(this.caseFormDataVal) {
                return 'api/appeal/'+this.caseFormDataVal.id;
            }
        },

        popupThemeValue() {
            if (this.errorMessage) {
                return 'danger';
            }
            if (this.successMessage) {
                return 'success';
            }
        },


    },

    methods: {

        handleClick() {
            this.showModal = true
        },

        handleClose() {
            this.showModal = false;
            this.$emit('hide-modal-value');
        },

        getAppealResponse(response) {
            this.appealStatus = response.data;
        },

        getReviewResponse(response) {
            this.appealReview = response.data;
        },

        getOutcomeResponse(response) {
            this.appealOutcome = response.data;
        },

        formError(response){

            let self = this;

            this.submit = false;
            this.loading = false;

            _.forEach(response.errors, function(value, key) {
                self.errorMessage =  response.errors[key][0];
                return false;
            });
            setTimeout(function(){
                self.errorMessage = '';
            },5000);
        },

        formUpdated(response){
            this.clearDetails(response);
            EventBus.$emit('activity-logs-unshift', {
                tab: 'appeal',
                log: {},
                document: response.data.log,
            });
            this.$emit('form-updated' , response);
        },

        clearDetails(response){
            let self = this;
            self.handleClose();
            setTimeout(function(){
                self.showModal = false;
                self.loading = false;
                self.successMessage = '';
            } , 2000);
            this.successMessage = response.message;
            this.submit = false;

            setTimeout(function () {
                Vue.nextTick(() => {
                    self.errorBag.clear();
                })
            }, 100);

        },

        validateBeforeSubmit() {
            let self = this;
            this.$validator.validateAll().then((result) => {
                this.incidentCase = this.$store.getters.getCaseData;
                this.formData.case_number = this.incidentCase.case_number;
                if (result) {
                    this.errorMessage = '';
                    this.submit = true;
                    this.loading = true;
                    return;
                }
                this.errorMessage = this.errorBag.all()[0];
                setTimeout(function(){
                    self.errorBag.clear();
                    self.errorMessage = '';
                },2000);
            });
        },

        showReadMore() {
            this.isReadMore = true;
        },

        showReadLess() {
            this.isReadMore = false;
        }
    },

    watch: {

        caseFormDataVal(value) {  
            let self = this;
            this.formData = JSON.parse(JSON.stringify(value));
            self.selectedStatus = this.formData.appeal_status_id;
            self.selectedReview = this.formData.appeal_review_type_id
            self.selectedOutcome = this.formData.appeal_outcomes_id
            setTimeout(function () {
                Vue.nextTick(() => {
                    self.errorBag.clear();
                })
            }, 10);
        },

        showModalProp(value) {
            if(value) {
                this.showModal = true
            }
            if(!value) {
                this.showModal = false
            }
        },   

    },
}

</script>
