<template>
    <div class="clery-field-popup">
        <d-modal v-if="showModal" size="lg" @close="handleClose">
            <d-modal-header>
                <d-modal-title>Manage Clery Act Fields</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="manage-listing">
                            <div v-for="list in listing">
                                <d-card>
                                    <d-card-body>
                                        <label>{{ list.name }}</label>
                                        <p>{{ list.description }}</p>
                                        <span class="action-panel">
                                            <i class="icon-edit"></i>
                                            <i class="icon-delete"></i>
                                        </span>
                                    </d-card-body>
                                </d-card>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <h4>Add clery act field</h4>
                        <d-form>
                            <div class="row">
                                <div class="col-md-12">
                                    <d-alert role="alert" theme="success" hide>Alert - Success Theme Example Link</d-alert>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="field_name">Field name</label>
                                        <d-input v-model="inputValue" id="field_name" placeholder="Enter field name" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group selectBox">
                                        <label for="field_type">Field Type</label>
                                        <i class="icon-keyboard_arrow_down3"></i>
                                        <d-form-select v-model="selected" id="field_type">
                                            <option :value="field">Select field Type</option>
                                        </d-form-select>
                                    </div>
                                </div>
                                <div class="col-md-12 value-section">
                                    <div class="form-group">
                                        <label for="value">Value</label>
                                        <br>
                                        <d-input v-model="inputValue" placeholder="(none)" id="value" />
                                        <div class="section-form-left">
                                            <d-input v-model="inputValue" placeholder="Add new value" />
                                        </div>
                                        <div class="section-form-right">
                                            <d-btn theme="secondary">
                                                <span>
                                                    <d-img src="images/plus.svg" alt="Add value icon" />
                                                </span>
                                                <c-loader></c-loader>
                                            </d-btn>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <d-btn theme="primary">
                                        <span>Save</span>
                                        <c-loader></c-loader>
                                    </d-btn>
                                </div>
                            </div>
                        </d-form>
                    </div>
                </div>
            </d-modal-body>
        </d-modal>
    </div>
</template>

<script>

export default {
    
    props: ['showModalProp'],
    
    data() {
        return {
            inputValue:'',
            selected:'',
            field:'',
            showModal: false,
            modalSize: 'lg',
            listing: [
                {
                    name: 'Clery Act Status',
                    description:'Dropdown',
                },
                {
                    name: 'Clery Act Location',
                    description:'Text',
                },
                {
                    name: 'Clery Act Subject',
                    description:'Radio buttons',
                },
                {
                    name: 'Clery Act Category',
                    description:'Checkbox',
                },
            ],
        }
    },
    
    methods: {
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.showModal = false;
            this.$emit('hide-modal-value');
        }
    },
    
    watch: {
        showModalProp(value){
            if(value){
                this.showModal = true
            }
            if(!value){
                this.showModal = false
            }
        }
    },
}
</script>
