<template>
    <div class="custom-field-popup prevent-close">
        <d-modal v-if="showModal" size="lg" @close="handleClose" id="detail" no-close-on-backdrop no-close-on-esc>
            <div class="model-content-area">
                <block-spinner v-if="loader"></block-spinner>
                <d-modal-header v-show="!loader">
                    <d-modal-title>Manage Custom Fields</d-modal-title>
                </d-modal-header>
                <d-modal-body v-show="!loader">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="manage-listing scrollable height-normal pl-1">

                                <div v-for="(field, index) in customFields" @click.prevent="onSelect(field)">

                                    <d-card >
                                        <d-card-body>
                                            <label>{{ field.label }}</label>
                                            <p>{{ field.type }}</p>
                                            <span class="action-panel">
                                                <i @click.prevent="onEditField($event, field, index)" :class="['icon-edit', confirmDelete[index].disabledRemove? 'disabled' : '']"></i>

                                                <i @click.prevent="onDeleteField($event, field, index)" :class="['icon-delete', confirmDelete[index].disabledRemove? 'disabled' : '']"></i>
                                            </span>
                                        </d-card-body>
                                        <div 
                                            class="manage-alert-popover"
                                            v-if="confirmDelete[index].isRemove">
                                            <p>Are you sure you want to delete this custom field?</p>
                                            <button class="btn btn-primary btn-xs" @click.prevent="onConfirm(field)">Confirm</button>
                                            <button class="btn btn-link" @click.prevent="onCancel(field)">Cancel</button>
                                        </div>
                                    </d-card>
                                </div>

                            <no-record-found v-if="!customFields.length" class="mt-5 mb-5"></no-record-found>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6" style="border-left: 1px solid lightgrey;">
                            <h4>{{ customFieldTitle }}</h4>
                            <custom-field-component :url="url" @form-submitted="formSubmitted" :updateField="field" @form-updated="formUpdated" @form-cancelled="formCancelled"></custom-field-component>
                        </div>
                    </div>
                </d-modal-body>
            </div>
        </d-modal>
    </div>
</template>

<script>

export default {
    
    props: ['showModalProp'],
    
    data() {
        return {
            url: 'api/user-custom-field',
            showModal: false,
            loader: true,
            modalSize: 'lg',
            customFields: [],
            field: false,
            isEdit: false,
            customFieldTitle: "Add new custom field",
            tempCustomFields: [],
            confirmDelete: [],
        }
    },
    
    methods: {
        onConfirm(field) {
            let self = this;
            self.loading = true
            let url = this.url + "/" + field._id;
            this.$http.delete(url, field)
            .then(response => {
                response = response.data;
                self.successMessage= response.message;
                self.getAllFields();
            })
            .catch(error => {
                self.loading = false
                error = error.response.data;

                setTimeout(function(){
                    self.errorMessage='';
                }, 2000);
                _.each(error.errors , function (errorValue) {
                    self.errorMessage = errorValue[0];
                    return false;
                })

            })
        },
        onCancel(field) {
            this.confirmDelete = _.map(this.confirmDelete, function() {
                return {
                    isRemove: false,
                };
            });
        },
        onSelect(field) {
            //this.$emit('on-field-selection', field);
        },
        getAllFields() {
            let self = this;
            this.loader = true;
            let url = this.url + "?pagination=true";
            self.$http.get(url).then(response=>{
                self.loader = false;
                response = response.data.data;
                self.setConfirmDeleteArray(response);
                self.customFields = response;
                self.tempCustomFields = _.cloneDeep(response);
                self.field = false;
            }).catch(error=>{
            });
        },
        onDeleteField(e, field, index) {
            e.stopPropagation();
            this.field = false;
            this.confirmDelete = _.map(this.confirmDelete, function() {
                return {
                    isRemove: false,
                    disabledRemove: false,
                };
            });
            this.confirmDelete[index].isRemove = true;
        },
        onEditField(e, data, index) {
            e.stopPropagation();
            this.field = false;
            this.confirmDelete = _.map(this.confirmDelete, function() {
                return {
                    isRemove: false,
                    disabledRemove: false,
                };
            });
            this.field = data;
            this.isEdit = true;
            this.customFieldTitle = "Update custom field";
            this.confirmDelete[index].isRemove = false;
            this.confirmDelete[index].disabledRemove = true;
            // var fields = _.map(this.customFields, function(value, key) {
            //     if(value._id != data._id) {
            //         return value;
            //     }
            // });
            // fields = _.without(fields, undefined);
            //this.setConfirmDeleteArray(fields);
            //this.customFields = fields;
        },
        setConfirmDeleteArray(fields) {
            this.confirmDelete = _.map(fields, function(value, index) {
                return {
                    isRemove: false,
                    disabledRemove: false,
                };
            });
        },
        formSubmitted(response){
            this.customFields.unshift(response);
            this.setConfirmDeleteArray(response);
            this.handleClose();
        },
        formCancelled(field){
            var temp = _.cloneDeep(this.tempCustomFields);
            this.setConfirmDeleteArray(temp);
            this.customFields = temp;
            this.field = false;
            this.isEdit = false;
            this.customFieldTitle = "Add new custom field";
        },
        formUpdated(response){
            this.field = false;
            this.isEdit = false;
            //this.getAllFields();
            this.handleClose();
        },
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.showModal = false;
            this.customFieldTitle = "Add new custom field";
            this.confirmDelete = [];
            if(this.isEdit) {
                this.customFields = this.tempCustomFields;
            }
            this.$emit('hide-modal-value', this.customFields);
        }
    },
    
    watch: {
        showModalProp(value){
            if(value){
                this.showModal = true;
                this.isEdit = false;
                this.confirmDelete = [];
                this.tempCustomFields = [];
                this.getAllFields();
            }
            if(!value){
                this.confirmDelete = [];
                this.tempCustomFields = [];
                this.customFields = [];
                this.showModal = false
            }
        }
    },
    computed: {
    }
}
</script>
