<template>
    <div class="manage-sanctions-popup">
        <h4>Assign Sanction</h4>

        <div id="style-2" class="scrollable merge-cases-scroll">
            <d-form>
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>To</label>
                            <p v-if="formData.title">{{ formData.title }}</p>

                            <multiselect 
                            v-if="!formData.title"
                            v-model="partiesList" 
                            label="first_name"  
                            track-by="id" 
                            placeholder="Type to search" 
                            data-vv-name="sanction assigned to"
                            v-validate="'required'"
                            open-direction="bottom"
                            :options="partiesOption"
                            :multiple="true" 
                            :searchable="true" 
                            :clear-on-select="false" 
                            :close-on-select="false" 
                            :options-limit="300"
                            :limit="2" 
                            :limit-text="limitText"
                            @search-change="asyncFind"
                            @select="dispatchAction"
                            :internal-search="true"
                            :showNoResults="false"
                            :class="[errorBag.first('sanction assigned to') ? 'is-invalid' : '']">
                            <template slot="option" slot-scope="partiesOption">
                                <div class="user-options" style="height: 30px;">
                                    <div class="option__desc">
                                        <span class="option__title">
                                            {{ partiesOption.option.full_name }}
                                        </span>
                                    </div>
                                </div>
                            </template>
                        </multiselect>

                    </div>
                </div>

                <div 
                class="col-md-12 modal-column"
                v-for="(sanctionValue, index) in formData.sanctions"
                :key="index"
                >

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group selectBox">
                            <label>Sanction</label>
                            <i class="icon-keyboard_arrow_down3"></i>
                            <d-form-select 
                                v-model="sanctionValue.id" 
                                placeholder="Add new value"
                                v-validate="'required'"
                                :name="'sanction'+index"
                                :class="[errorBag.first('sanction'+index) ? 'is-invalid' : '']">
                            <option value="null" disabled="" selected="">Select Sanction</option>
                            <option
                            v-for="(sanction , sanctionIndex) in sanctions"
                            v-if="sanction.is_archived==0 || sanctionValue.id == sanction.id || (sanctionsValuesPopup && sanctionsValuesPopup.sanctions[index] &&sanctionsValuesPopup.sanctions[index].id == sanction.id)"
                            :value="sanction.id"
                            :key="sanctionIndex"
                            :title="sanction.name"
                            placeholder="Select an option">

                            {{ sanction.name.substring(0, 19) + (sanction.name.length > 20 ? '...' : '')}}

                        </option>
                    </d-form-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group selectBox">
                    <label>Status</label>
                    <i class="icon-keyboard_arrow_down3"></i>
                    <d-form-select 
                        v-model="sanctionValue.status"
                        v-validate="'required'"
                        :name="'sanction status'+index"
                        :class="[errorBag.first('sanction status'+index) ? 'is-invalid' : '']"
                    >
                        <option value="" disabled="" selected="">Select Status</option>
                        <option value="pending">Pending</option>
                        <option value="active">Active</option>
                        <option value="temporary freeze">Temporary freeze</option>
                        <option value="permanent freeze">Permanent freeze</option>
                        <option value="completed">Completed</option>
                    </d-form-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group selectBox">
                    <label>Period</label>
                    <i class="icon-calendar"></i>
                    <d-datepicker 
                    @selected = "setToDate(index,$event)"
                    :disabled-dates="disabledDates"
                    :format="dateFormat"
                    class="with-icon datepicker-icon" 
                    v-model="sanctionValue.period.from" 
                    placeholder="Start date" 
                    v-validate="'required'"
                    :name="'Sanction start date'+index"
                    :class="[errorBag.first('Sanction start date'+index) ? 'is-invalid' : '']"/>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group selectBox custom-left-calendar">
                    <label>&nbsp;</label>
                    <i class="icon-calendar"></i>
                    <d-datepicker
                    :disabled-dates="toDisabledDates[index]" 
                    :format="dateFormat"
                    v-model="sanctionValue.period.to" 
                    placeholder="End date" 
                    v-validate="'required'"
                    :name="'Sanction end date'+index"
                    :class="['with-icon datepicker-icon' , isDisabled[index] == false  ? '' : 'disabled',errorBag.first('Sanction end date'+index) ? 'is-invalid' : '']"/>
                </div>
            </div>
            <div class="col-md-6" v-if="displaySetting.value_point == 1">
                <div class="form-group">
                    <label>Value Point</label>
                    <d-input 
                        v-model="sanctionValue.value_point"
                        placeholder="Add Value Point"
                        v-validate="{ required: true, numeric: true, max_value: 999 }"
                        :name="'sanction value point'+index"
                        :class="[errorBag.first('sanction value point'+index) ? 'is-invalid' : '']"
                    />
                </div>
            </div>
            <a 
            v-if="index != 0" 
            class="custom-sanctions-remove" 
            @click.prevent="formData.sanctions.splice(index , 1)" 
            href="javascipt:void(0);">
            <span>remove</span>

        </a>
    </div>
    <div class="row mb-2">
        <div class="col-md-12" v-if="sanctionValue.attachments">
            <label>Attachments:
            </label>
        </div>
        <div class="col-xs-12 col-md-9" v-if="sanctionValue.attachments">
            <div class="file-attachment file-img">
                <div v-for="(file,index) in sanctionValue.attachments"
                    :key="index" class="file-list">
                    <img :src="file.original_name | attachmentIconUrl" />
                        <a class="truncate-link" :href="`${file.upload_url}`" download>
                       {{ file.display_name }}
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-md-12">
    <div class="">
        <a href="javascript:;" class="add-more-sanction" @click.prevent="addMoreSanctions">+ Add more sanction</a>
    </div>
</div>

<div class="col-md-12">
    <div class="section-form-left custom-fields-arrow">
        <label>Fine</label>
        <div 
        class="violation-charges"
        v-for="(finesId, finesIndex) in formData.fine_ids"
        :key="finesIndex"
        >

        <div class="form-group selectBox">
            <d-form-select 
            v-validate="'required'"
            :class="[errorBag.first('fines'+finesIndex) ? 'is-invalid' : '']"
            v-model="formData.fine_ids[finesIndex]"
            :key="finesIndex"
            :name="'fines'+finesIndex"
            >
            <option value="" disabled="" selected="">Select Fine</option>
                <option 
                    v-for="(fine , index) in fines"
                    v-if="fine.is_archived==0 || formData.fine_ids[finesIndex] == fine.id || (sanctionsValuesPopup && sanctionsValuesPopup.fines[finesIndex] && sanctionsValuesPopup.fines[finesIndex].id == fine.id)"
                    :value="fine.id"
                    :key="index">
                    {{ fine.name }}
                </option>

        </d-form-select>
        <i class="icon-keyboard_arrow_down3"></i>
    </div>
<a 
v-if="finesIndex != 0" 
class="custom-fields-remove" 
@click.prevent="deleteFines(finesIndex)" 
href="javascipt:void(0);">
<i class="icon-delete"></i>

</a>
</div>

</div>
<div class="section-form-right">
    <label>&nbsp;</label>

    <d-btn @click.prevent="addFinesOptions" theme="secondary">
        <span>
            <d-img src="images/plus.svg" />
        </span>
        <c-loader></c-loader>
    </d-btn>
</div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label>Details</label>
        <textarea 
        class="form-control"
        v-model="formData.details"
        v-validate="'required'"
        data-vv-name="details"
        :class="[errorBag.first('details') ? 'is-invalid' : '']"
        placeholder="Start typing details" rows="3" cols="6">
        {{ formData.statement }}     
    </textarea>
</div>
</div>
<div class="col-md-12">
    <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
        {{ errorMessage ? errorMessage : successMessage }}
    </d-alert>
</div>
<div class="col-md-12">
    <d-btn theme="primary"
    :class="[ loading ? 'show-spinner' : '']" 
    @click.prevent="validateBeforeSubmit();"
    >
    <span>{{ formData.id ? 'Update' : 'Add' }} Sanction</span>
    <c-loader></c-loader>
</d-btn>
</div>
</div>
</d-form>

</div>

<common-methods 

@get-response="getResponse"
@form-submitted="formSubmitted"
@form-error="formError"
@form-updated="formUpdated"
:formData="formData"
:url="requestList"
:hideLoader="true"
:submitUrl="submitUrl"
:submit="submit"
:submitType="submitType"
>

</common-methods>

<common-methods 

@get-response="getFineResponse"
:url="requestListFine"
:hideLoader="true"
>

</common-methods>




</div>
</template>

<script>

import VueTimepicker from 'vue2-timepicker';
import Treeselect from '@riophae/vue-treeselect';
import Multiselect from 'vue-multiselect';
import { EventBus } from '../../event-bus.js';

export default {

    components: { VueTimepicker, Treeselect, Multiselect },

    props: [
    'showModalProp',
    'sanctionsValuesPopup',
    'clearFormData'
    ],

    data () {
        return {
            toDisabledDates:[],
            isDisabled : [],
            errorMessage : '',
            successMessage : '', 
            submit: '',
            submitType: 'post',
            value: null,
            options: ['list', 'of', 'options'],
            formData: {

                case_number: null,
                fine_ids: [],
                fines: {},
                details: '',
                status: '',
                imposed_on: [],
                title: '',
                sanctions: [{ 
                    id: null,
                    name: '',
                    status: '',
                    period: {
                        to: '',
                        from: '',
                    },
                    value_point:'',
                }],
            },

            isInvalid: '',
            fine: '',
            form: {
                startDate: '',
                endDate: '',
            },
            text: '',
            showModal: false,
            modalSize: 'lg',
            members: null,
            urlSanctions: 'api/sanction?filter_by_name=true',
            sanctions: [],
            fines: [],
            urlFines: 'api/fine?filter_by_name=true',
            finesValues: 1,
            loading: false,
            partiesList: [],
            disabledDates: {
                to: new Date(Date.now() - 8640000)
            },
            dateFormat: 'MMM dd yyyy',
            selected_id: null,
            validDate : false,
            sanctionFormValues:'',

        }
    },

    computed: {

        displaySetting(){
                return this.$store.getters.getDisplaySetting ? this.$store.getters.getDisplaySetting : '';
            },

        requestList() {
            return this.urlSanctions; // Requesting URL from API
        },

        requestListFine() {
            return this.urlFines;
        },

        submitUrl(){

            if(this.formData.id){
                this.submitType = 'update';
                return 'api/case-sanction/'+this.formData.id;
            }else{
                this.submitType = 'post';
            }

            return 'api/case-sanction';

        },

        partiesOption(){

            let partiesOptionArr = [];
            if(this.$store.getters.getCaseData && this.$store.getters.getCaseData.involved_parties_details ) {
                _.forEach(this.$store.getters.getCaseData.involved_parties_details, function(value, key) {
                    if(value.id){
                        partiesOptionArr.push(value);
                    }
                });
            }
            return partiesOptionArr;
        },

        popupThemeValue() {
            if (this.errorMessage) {
                return 'danger';
            }
            if (this.successMessage) {
                return 'success';
            }
        },

    },

    methods: {
        setToDate(index,event){

            this.toDisabledDates[index] = {
                to: (event),
            }
            this.isDisabled[index] = false;

        },

        getResponse(response) {
            this.sanctions = response.data;
        },

        getFineResponse(response) {
            let self = this;
            this.fines = response.data;
            self.formData.fine_ids = [''];
        },

        addMoreSanctions() {
            this.formData.sanctions.push(
            { 
                id: null,
                name: '',
                status: '',
                period: {
                    to: '',
                    from: '',
                },
            }
            );
        },

        deleteFines(finesIndex) {
            this.formData.fine_ids.splice(finesIndex , 1);
        },

        addFinesOptions(){
            // this.formData.fine_ids.push(1);
            this.formData.fine_ids.push('');
        },
        validateBeforeSubmit() {
            let self = this;
            this.$validator.validateAll().then((result) => {
                this.incidentCase = this.$store.getters.getCaseData;
                this.formData.case_number = this.incidentCase.case_number;
                this.formData.case_id = this.incidentCase._id;

                if (result) {
                    self.formData.sanctions = self.formData.sanctions.reduce((unique, o) => {
                        if(!unique.some(obj => obj.id === o.id)) {
                          unique.push(o);
                        }
                        return unique;
                    },[]);
                    if(self.submitType == 'post') {
                        _.forEach(self.partiesList, function(value, key) {
                            if(value.id){
                                self.formData.imposed_on.push(value.id);
                            }
                        });
                    }
                    this.submit = true;
                    this.loading = true;
                    this.errorMessage = '';
                    return;
                }
                this.errorMessage = this.errorBag.all();
                this.errorMessage = this.errorMessage[0].replace(/[0-9]/g, '');
               
                setTimeout(function () {
                Vue.nextTick(() => {
                    self.errorMessage = '';
                    self.errorBag.clear();
                })
            }, 3000);
            });
        },

        handleClick() {
            this.showModal = true;
        },

        handleClose() {
            this.showModal = false;
            this.partiesList = [],
            this.formData = {
                case_number: null,
                fine_ids: [''],
                fines: {},
                details: '',
                status: '',
                imposed_on: [],
                title: '',
                sanctions: [{ 
                    id: null,
                    name: '',
                    status: '',
                    period: {
                        to: new Date(),
                        from: new Date()
                    },
                }],
            };
            this.loading = false;
            this.successMessage = '';
            this.errorMessage = '';
            //this.$emit('hide-modal-value');
        },

        formError(response){

            let self = this;

            this.submit = false;
            this.loading = false;

            _.forEach(response.errors, function(value, key) {
                self.errorMessage =  response.errors[key][0];
                return false;
            });
            setTimeout(function(){
                self.errorMessage = '';
            },3000);
        },

        formSubmitted(response){
            this.clearDetails(response);
            _.forEach(response.data.document, function(value, key) {
                EventBus.$emit('activity-logs-unshift', {
                    tab: 'sanction',
                    log: {},
                    document: response.data.log[key],
                });        
            });
            this.$emit('form-submitted', response);
        },

        formUpdated(response){
            this.clearDetails(response);
            EventBus.$emit('activity-logs-unshift', {
                tab: 'sanction',
                log: {},
                document: response.data.log,
            });
            this.$emit('form-updated' , response);
        },

        clearDetails(response){
            let self = this;
            self.handleClose();
            setTimeout(function(){
                self.showModal = false;
                self.loading = false;
                self.successMessage = '';
            } , 2000);
            this.successMessage = response.message;
            this.submit = false;

            setTimeout(function () {
                Vue.nextTick(() => {
                    self.errorBag.clear();
                })
            }, 100);
                      
        },

        asyncFind: _.debounce(function(query) {
            let self = this;
            query = query.trim(' ');

            this.keyword = query;

            if(!query || query.length < 2) {
                return;
            };

            let requestUrl = this.url ? this.url : 'api/user?ir-restrict=true';
            requestUrl += '&keyword=' + query;

            // this.loading = true;
            this.$http.get(requestUrl).then(response => {
                response = response.data;
                if(response.data.length) {
                    self.options = response.data;
                }else{
                    self.options = [];
                    this.loading = false;

                    response.data.error = 'No record found';
                    let errors = response.data.error;

                    self.$toasted.show(errors, {
                        theme: "bubble",
                        position: "bottom-right",
                        duration : 3000,
                        type: ['error'],
                        singleton: true,
                        icon : '',
                        className: 'error-toast alert-danger'
                    })
                    return false

                    response.data.errors = []

                    return Promise.reject(error);
                }
                this.loading = false;
            }).catch(error=>{
                this.loading = false;
                self.options = [];
                console.log(error , "Error in file CommonMutliSelect.vue");
            });
        }, 1000),

        limitText (count) {
            return `and ${count} other users`
        },

        dispatchAction () {
            let self = this;
            setTimeout(function(){
                self.$emit('selected-value' , self.selectedValue);
            } , 100);

            setTimeout(function(){
                self.options = [];
            } , 500);

        },
        
    },

    watch:{
        showModalProp(value) {
            if(value){
                this.showModal = true
            }
            if(!value){
                this.showModal = false
            }
        },


        sanctionsValuesPopup(value) {
            this.formData = JSON.parse(JSON.stringify(value));
            this.sanctionFormValues = value; 
        },
        clearFormData(value){
            let self = this;
            if(value){
                this.formData = {
                    case_number: null,
                    fine_ids: [''],
                    fines: {},
                    details: '',
                    status: '',
                    imposed_on: [],
                    title: '',
                    sanctions: [{ 
                        id: null,
                        name: '',
                        status: '',
                        period: {
                            to: new Date(),
                            from: new Date()
                        },
                    }],
                };
                setTimeout(function () {
                    Vue.nextTick(() => {
                        self.errorBag.clear();
                    })
                }, 100);
            }
        }
    },
}
</script>

