<template>
    <div class="manage-charges-popup">
        <h4>Assign Charges</h4>
        <d-form @submit.prevent="validateBeforeSubmit">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>To</label>

                        <p v-if="formData.charged_to_users">{{ formData.charged_to_users }}</p>

                        <multiselect 
                            v-if="!formData.charged_to_users"
                            v-model="partiesList" 
                            :options="partiesOption"
                            label="first_name"
                            track-by="id" 
                            class="ajax"
                            placeholder="Type to search" 
                            :multiple="true" 
                            :searchable="true" 
                            :clear-on-select="true" 
                            :close-on-select="false" 
                            :options-limit="300"
                            :limit="20" 
                            :limit-text="limitText"
                            open-direction="bottom"
                            v-validate="'required'"
                            data-vv-name="charged to user"
                            @search-change="asyncFind"
                            @select="dispatchAction"
                            :internal-search="true"
                            :showNoResults="false"
                            :class="[errorBag.first('charged to user') ? 'is-invalid' : '']">
                            <template slot="option" slot-scope="partiesOption">
                                <div class="user-options" style="height: 30px;">
                                    <div class="option__desc">
                                        <span class="option__title">
                                            {{ partiesOption.option.full_name }}
                                        </span>
                                    </div>
                                </div>
                            </template>
                        </multiselect>
                </div>
            </div>

            <div class="col-md-12 scrollable merge-cases-scroll">
                <div class="section-form-left custom-fields-arrow">
                    <label>Violation</label>
                    <div class="violation-charges" 
                    v-for="(violationId, violationIndex) in formData.violation_ids"
                    :key="violationIndex">
                        <div class="form-group selectBox" >

                            <d-form-select
                            v-validate="'required'"
                            :name="'violation'+ violationIndex"
                            :class="[errorBag.first('violation'+violationIndex) ? 'is-invalid' : '']"
                            v-model="formData.violation_ids[violationIndex]"
                            :key="violationIndex" 
                            placeholder="Add new value" >
                            {{ violations }}
                            <option
                            v-for="(violation , index) in violations"
                            :value="violation.id"
                            :key="index"
                             v-if="violation.is_archived==0 || formData.violation_ids[violationIndex] == violation.id || (chargesFormValues && chargesFormValues.violation_ids[violationIndex] == violation.id)"
                            >
                            {{ violation.name }} 
                        </option>
                    </d-form-select>
                    <i class="icon-keyboard_arrow_down3"></i>
                </div>
                <a 
                v-if="violationIndex != 0" 
                class="custom-fields-remove" 
                href=""
                @click.prevent="deleteViolation(violationIndex)">
                <i class="icon-delete"></i>
            </a>
        </div>
    </div>
    <div class="section-form-right">
        <label>&nbsp;</label>
        <d-btn @click.prevent="addOptions" theme="secondary">
            <span>
                <d-img src="images/plus.svg" />
            </span>
            <c-loader></c-loader>
        </d-btn>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label>Officer Statement</label>
        <textarea 
        class="form-control"
        v-model="formData.statement"
        v-validate="'required'"
        data-vv-name="officer statement"
        :class="[errorBag.first('officer statement') ? 'is-invalid' : '']"
        placeholder="Start typing statement" rows="5" cols="5">
        {{ formData.statement }}     
    </textarea>
</div>
</div>
<div class="col-md-12">
    <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
        {{ errorMessage ? errorMessage : successMessage }}
    </d-alert>
</div>
<div class="col-md-12">
    <d-btn 
        :class="[ loading ? 'show-spinner' : '']" 
        @click.prevent="validateBeforeSubmit();"
        theme="primary">
        <span>{{ (formData.id) ? 'Update' : 'Add'   }} Charge</span>
        <c-loader></c-loader>
    </d-btn>

</div>
 
</div>
</d-form>

<common-methods 

@get-response="getResponse"
:url="requestList"
:hideLoader="true"

>

</common-methods>

<common-methods 

@form-submitted="formSubmitted"
@form-error="formError"
@form-updated="formUpdated"

:submitUrl="submitUrl"
:submit="submit"
:formData="formData"
:submitType="submitType"
:isValidSelection="isValidSelection"
:hideLoader="true"

>

</common-methods>


</div>
</template>

<script>

import Multiselect from 'vue-multiselect';
import { EventBus } from '../../event-bus.js';

export default {

    components: { Multiselect },

    props : ['showModalProp','formValues', 'clearFormData'],


    data() {
        return {

            errorMessage : '',
            successMessage : '', 
            submit : false,
            loading : false,
            submitType : 'post',
            partiesList: [],
            violationIndex: '',
            formData: { 
                violations: [],
                violation_ids:[1],
                case_number: null,
                user_id: null,
                charged_to: [],
                statement: '',
                charged_to_users: '',
                case_id: null,
            },
            chargesFormValues:'',
            loading: false,
            recieveFormPopupValues:'',
            errorMessage : '',
            successMessage : '', 
            value: null,
            index:1,
            stageValue:'',
            showModal: false,
            violationList: 1,
            urlViolation: 'api/violation?filter_by_name=true',
            violations: [],
            involvedParties: [],
            urlInvolvedParties:'api/incident-case/get-involved-parties',
            selected: '',
            text: '',
            members: null,
            incidentCase: {},
            selected_id: null,
        }
    },

    computed: {
        submitUrl(){
            if(this.formData.id){
                this.submitType = 'update';
                return 'api/charge/'+this.formData.id;
            }
            return 'api/charge';

        },

        partiesOption(){
            let partiesOptionArr = [];
            if(this.$store.getters.getCaseData && this.$store.getters.getCaseData.involved_parties_details ) {
                _.forEach(this.$store.getters.getCaseData.involved_parties_details, function(value, key) {
                    if(value.id){
                        partiesOptionArr.push(value);
                    }
                });
            }
            return partiesOptionArr;
        },

        requestList() {
            return this.urlViolation; // Requesting URL from API
        },

        popupThemeValue() {
            if (this.errorMessage) {
                return 'danger';
            }
            if (this.successMessage) {
                return 'success';
            }
        },

        isValidSelection () {
            return this.selected !== "" && this.selected !== "forbidden value"
        }

    },

    mounted() {

    },

    methods: {

        dispatchAction () {
            let self = this;
            setTimeout(function(){
                self.$emit('selected-value' , self.selectedValue);
            } , 100);

            setTimeout(function(){
                self.options = [];
            } , 500);

        },

        asyncFind: _.debounce(function(query) {
            let self = this;
            query = query.trim(' ');

            this.keyword = query;

            if(!query || query.length < 2) {
                return;
            };

            let requestUrl = this.url ? this.url : 'api/user?ir-restrict=true';
            requestUrl += '&keyword=' + query;

            // this.loading = true;
            this.$http.get(requestUrl).then(response => {
                response = response.data;
                if(response.data.length) {
                    self.options = response.data;
                }else{
                    self.options = [];
                    this.loading = false;

                    response.data.error = 'No record found';
                    let errors = response.data.error;

                    self.$toasted.show(errors, {
                        theme: "bubble",
                        position: "bottom-right",
                        duration : 3000,
                        type: ['error'],
                        singleton: true,
                        icon : '',
                        className: 'error-toast alert-danger'
                    })
                    return false

                    response.data.errors = []

                    return Promise.reject(error);
                }
                this.loading = false;
            }).catch(error=>{
                this.loading = false;
                self.options = [];
                console.log(error , "Error in file CommonMutliSelect.vue");
            });
        }, 1000),

        limitText (count) {
            return `and ${count} other users`
        },

        addOptions(){
            const opt = this.violations.find((v) => { return v.is_archived == 0;});
            this.formData.violation_ids.push(opt.id);
        },

        deleteViolation(violationIndex) {
            this.formData.violation_ids.splice(violationIndex , 1);
        },

        getResponse(response){    
            let self = this;
            self.violations = response.data;
            self.formData.violation_ids = [];
            if(this.violations.length) {
                self.selected_id = Object.values(this.violations)[0].id;
                self.formData.violation_ids = [Object.values(this.violations)[0].id];                
            }
        },

        handleClick() {
            this.showModal = true
        },

        handleClose() {
            this.showModal = false;
            this.formData = {
                violations: [],
                violation_ids:[1],
                case_number: null,
                user_id: null,
                charged_to: [],
                statement: '',
                charged_to_users: '',
            };
            this.partiesList = [];
            this.formData.violation_ids =  [1];
            this.loading = false;
            this.successMessage = '';
            this.errorMessage = '';
            this.$emit('hide-modal-value');
        },

        validateBeforeSubmit() {
            let self = this;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.incidentCase = this.$store.getters.getCaseData;
                    self.formData.case_number = self.incidentCase.case_number;
                    self.formData.case_id = self.incidentCase._id;
                    if(self.submitType == 'post') {
                        _.forEach(self.partiesList, function(value, key) {
                            if(value.id){
                                self.formData.charged_to.push(value.id);
                            }
                        });
                    }

                    this.submit = true;
                    this.loading = true;
                    this.errorMessage = '';
                    return;

                }
                this.errorMessage = this.errorBag.all()[0];

                setTimeout(function () {
                Vue.nextTick(() => {
                    self.errorMessage = '';
                    self.errorBag.clear();
                })
            }, 3000);
            });
        },

        formError(response){

            let self = this;

            this.submit = false;
            this.loading = false;

            _.forEach(response.errors, function(value, key) {
                self.errorMessage =  response.errors[key][0];
                return false;
            });
            setTimeout(function(){
                self.errorMessage = '';
            },5000);
        },

        formSubmitted(response){
            this.clearDetails(response);

            _.forEach(response.data.document, function(value, key) {
                EventBus.$emit('activity-logs-unshift', {
                    tab: 'all',
                    log: {},
                    document: response.data.log[key],
                });        
            });
            
            this.$emit('form-submitted', response);
        },

        formUpdated(response){
            this.clearDetails(response);
            EventBus.$emit('activity-logs-unshift', {
                tab: 'all',
                log: {},
                document: response.data.log,
            });
            this.$emit('form-updated' , response);
        },

        clearDetails(response){
            let self = this;
            self.handleClose();
            setTimeout(function(){
                self.showModal = false;
                self.loading = false;
                self.successMessage = '';
                self.submitType = 'post';
                self.formData = {
                    violations: [],
                    violation_ids:[1],
                    case_number: null,
                    user_id: null,
                    charged_to: [],
                    statement: '',
                    charged_to_users: '',
                    case_id: null,
                }
            } , 2000);
            this.successMessage = response.message;
            this.submit = false;

            setTimeout(function () {
                Vue.nextTick(() => {
                    self.errorBag.clear();
                })
            }, 100);
                      
        },

        onCancel() {

        },
        limitText (count) {
          return `and ${count} more`
        }
        

    },

    watch: {
        showModalProp(value){
            if(value) {
                this.showModal = true
            }
            if(!value) {
                this.showModal = false
            }
        },

        formValues(value) {
            this.formData = JSON.parse(JSON.stringify(value));
            this.chargesFormValues = value; 
        },
        clearFormData(value){
            let self = this;
            if(value){
                this.formData = {
                    violations: [],
                    violation_ids:[1],
                    case_number: null,
                    user_id: null,
                    charged_to: [],
                    statement: '',
                    charged_to_users: '',
                    case_id: null,
                }
                setTimeout(function () {
                    Vue.nextTick(() => {
                        self.errorBag.clear();
                    })
                }, 100);
            }
        }
    },
}
</script>
