<template>
    <div class="under-age-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Mark Flag</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                    <d-form @submit.prevent="validateBeforeSubmit">
                        <div class="row">
                        <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                    {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                            </div>
                            <div class="col-md-12">
                                <p class="modal-des" v-if="currentInvolvedUser">
                                 Are you sure you want to flag <strong>"{{ currentInvolvedUser | fullName }}"</strong> profile?</p><hr />
                            </div>
                            <div class="col-md-12">
                            <block-spinner class="block-spinner-medium" v-if="!flagTypes.length"></block-spinner>
                                    <div class="form-group" v-else>
                                        <label for="flags">Select Flags</label>
                                            <d-checkbox name="flags[]" v-for="(flagType,index) in flagTypes" :class="[ flagType.is_archived ==1 ? 'disabled' : '']" :disabled="flagType.is_archived ==1 ? true : false"
                                            role="checkbox" :value="flagType.id" :key="index" v-model="formData.flag_ids">{{flagType.name}}</d-checkbox>
                                    </div>
                            </div>
                        </div>
                    </d-form>
                </d-modal-body>
                <d-modal-footer>
                    <d-btn theme="primary"  @click.prevent="validateBeforeSubmit()" :class="[ loading ? 'show-spinner' : '']">
                        <span>Submit</span>
                        <c-loader></c-loader>
                    </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
                </d-modal-footer>
        <common-methods 
        @get-response="getFlagsResponse"
        :url="flagUrl"
        :infiniteLoad="false"
        :hideLoader="true"
        :formData="formData"
        :submit="submit"
        :submitUrl="submitUrl"
        :submitType="'update'"
        @form-updated="formUpdated"
        @form-error="formError"
        >
    </common-methods>
            </d-modal>
        </div>
</template>

<script>
import { EventBus } from '../../event-bus.js';
export default {
    
    props : ['showModalProp','currentInvolvedUser','currentCase'],
    
    data() {
        return {

            flagUrl : 'api/student-flag',
            flagTypes : [],
            selectedFlags:[],
            formData : {
                flag_ids:[],
            },
            showModal: false,
            modalSize: 'sm',
            loading:false,
            submit:false,
            errorMessage:'',
            successMessage : '',
        }
    },
    computed : {
            submitUrl(){
                    return 'api/incident-case/flag-involved-parties/'+ this.currentCase._id;
                },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
    
    methods: {
        getFlagsResponse(response){
              if(Object.keys(response.data)){
                    this.flagTypes = response.data;
                }
        },
        formUpdated(response){
                let self = this;

                this.submit = false;

                this.$store.commit('setCaseData' , response.data.document);
                
                EventBus.$emit('activity-logs-unshift', {
                    tab: 'all',
                    log: response.data.log,
                    document: {},
                });
                setTimeout(function () {
                    self.successMessage = '';
                    self.loading = false;
                    self.$emit('case-updated');
                    self.handleClose();         
                } , 2000);

                
            },
            formError(response){
                let self = this;
                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                 setTimeout(function(){
                    self.errorMessage = '';
                },5000);



            },
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.loading = false,
            this.successMessage = '',
            this.errorMessage = '',
            this.showModal = false
            this.$emit('hide-modal-value');
            this.formData.flag_ids = this.currentInvolvedUser.flag_ids;
        },
        validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.formData.flag_ids!='' ? this.formData.is_flagged = 1 : this.formData.is_flagged = 0;
                        this.formData.involved_user_id = this.currentInvolvedUser.id;
                        this.formData.email = this.currentInvolvedUser.email;
                        this.formData.case_number = this.currentCase.case_number;
                        this.formData.method_type = 'show',
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },5000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
    },
    
    watch: {
        showModalProp(value) {
             this.formData.flag_ids = this.currentInvolvedUser.flag_ids ?   this.currentInvolvedUser.flag_ids : [];
            if(value) {
                this.showModal = true
            }
            if(!value) {
                this.showModal = false
            }
        }
    },
}
</script>
