<template>
    <div class="merge-case-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <div class="model-content-area">
                <d-modal-header>
                    <d-modal-title>Merge Case</d-modal-title>
                </d-modal-header>
                <d-modal-body>
                    <p class="modal-des">Are you sure you want to merge this incident report/case with an already existing one?</p>
                    <hr />
                    <d-form>
                        <div class="row">
                            <div class="col-md-12">
                                <d-alert role="alert" v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                    {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                            </div>
                            <div class="col-md-12">
                                
                                
                                <div :class="[ 'form-group' , 'selectBox', errorBag.first('Primary  Case')  ? 'is-invalid' : '']">
                                    <label for="add_role_class">Primary Case</label>
                                    <i class="icon-keyboard_arrow_down3"></i>
                                    <d-form-select v-model="formData.case_id" v-validate="'required'"
                                    name="Primary Case">
                                    <option :value="null" selected v-if="cases!=''">Please select a case</option>
                                    <option :value="null" selected v-if="cases==''">
                                        No case found
                                    </option>
                                    <option v-for="caseList in cases" :value="caseList._id">
                                        Case #: {{caseList.case_number}}
                                    </option>
                                </d-form-select>
                            </div>

                            
                        </div>
                        <div class="col-md-12">
                            <hr class="divider" />
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="checkbox-heading">Select the type of data to copy in new case</label>
                                <div class="entity-block scrollable" id="style-2">
                                <!-- <div class="scrollable split-case-scroll" id="style-2"> -->
                                    <!-- <p class="custom-checkbox-tick" v-for="(dataTypeList,index) in dataTypeListing">
                                        <input 
                                        type="checkbox" 
                                        :id="'dataTypeList'+index"
                                        :checked="dataTypeList.value"
                                        v-model="formData.incident_case_types"
                                        name="dataTypeListing"
                                        :value="dataTypeList.value"
                                        v-validate="'required'">
                                        <label :for="'dataTypeList'+index">{{dataTypeList.name}}</label>
                                    </p> -->
                                    <treeselect 
                                      instanceId="merge_case"
                                      :options="dataTypeListing"
                                      :multiple="multiple"
                                      placeholder="Select Activities"
                                      :searchable="searchable"
                                      :clear-on-select="clearOnSelect"
                                      v-model="formData.incident_case_types"
                                      :alwaysOpen="true"
                                      />
                                </div>

                            </div>
                        </div>
                        
                    </div>
                    
                    
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn  @click.prevent="validateBeforeSubmit()" :class="[ loading ? 'show-spinner' : '', (cases=='') ? 'disable-btn' : '']">
                    <span>Merge Case</span>
                    <c-loader></c-loader>
                </d-btn>
                <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </div>
    </d-modal>
    <common-methods 
    :infiniteLoad="false"
    :hideLoader="true"
    :formData="formData"
    :submit="submit"
    :submitUrl="submitUrl"
    :submitType="'post'"
    @form-submitted="formSubmitted"
    @form-error="formError"
    >
</common-methods>   
</div>
</template>

<script>
import { EventBus } from '../../event-bus.js';
import Treeselect from '@riophae/vue-treeselect';
export default {

    components: { Treeselect },

    props : ['showModalProp','currentCase'],

    data () {
        return {
            showModal: false,
            modalSize: 'sm',
            formData : {
                case_id : null,
                incident_case_types:[],
                merge_case_id:'',
                
            },
            alwaysOpen: false,
            clearOnSelect: true,
            searchable:true,
            multiple:true,
            marge_case_url : 'api/merge-case',
            url:'api/incident-case',
            submit : false,
            successMessage : '',
            errorMessage : '',
            loading : false,
            merge_case_id:'',
            merge_case_number:'',
            incident_type_id:'',
            selectedCase:null,
            cases:[],
            // dataTypeListing: [
            // {
            //     id: 'Notes',
            //     label: 'notes',
            // },
            // {
            //     id: 'Files',
            //     label: 'attachment',
            // },
            // {
            //     id: 'Meeting',
            //     label: 'meeting',
            // },
            // {
            //     id: 'Emails',
            //     label: 'email',
            // },
            // {
            //     id: 'Sanction Activites',
            //     label: 'sanction',
            // },
            // {
            //     id: 'Appeal Activites',
            //     label: 'appeal',
            // },
            // {
            //     id: 'Charge Activites',
            //     label: 'charge',
            // },
            // ]
            dataTypeListing: [
            {
                id: 'All',
                label: 'All',
                isDefaultExpanded: true,
                children: [
                    {
                        id: 'notes',
                        label: 'Notes',
                    },
                    {
                        id: 'attachment',
                        label: 'Files',
                    },
                    {
                        id: 'meeting',
                        label: 'Meeting',
                    },
                    {
                        id: 'email',
                        label: 'Email',
                    },
                    {
                        id: 'sanction',
                        label: 'Sanction  Activites',
                    },
                    {
                        id: 'appeal',
                        label: 'Appeal Activites',
                    },
                    {
                        id: 'charge',
                        label: 'Charge Activites',
                    },
                ]
            }
        ]
        }
    },

    methods: {
        validateBeforeSubmit() {
            let self = this;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.submit = true;
                    this.loading = true;
                    this.errorMessage = '';
                    return;
                }
                setTimeout(function(){
                    self.errorMessage = '';
                },5000);
                this.errorMessage = this.errorBag.all()[0];
            });
        },
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            let self = this;
            this.showModal = false
            this.formData ={
                incident_case_types:[],
                case_id:null,
                merge_case_id:'',
                
            }
            setTimeout(function () {
                self.successMessage = '';
                self.errorMessage = '';
                self.loading = false;
            } , 2000);
            this.$emit('hide-modal-value');
        },
        formError(response){

            let self = this;

            this.submit  = false;
            this.loading = false;

            _.forEach(response.errors, function(value, key) {
                self.errorMessage =  response.errors[key][0];
                return false;
            });    
        },
        formSubmitted(response){
            EventBus.$emit('activity-reload-event');
            this.clearDetails(response);
        },
        clearDetails(response){
            
            let self = this;
            this.successMessage = response.message;
            this.submit = false;
            setTimeout(function(){
                self.handleClose();
                self.loading = false;
                self.showModal = false;
                self.successMessage = '';
                // self.$router.push({ name : 'incident-case.view' , params : { id : response.data._id}});
                window.location.href = '/conduct-incidents/case-details/'+response.data._id;
            } , 2000);
        },
        getAllPrimaryCases() {

            let self = this;
            let url = self.url;
            url = url+'?type=case&is_discarded=0&incident_type_id='+this.incident_type_id+'&merge_case_id='+this.merge_case_id;
            this.errorBag.clear();
            self.$http.get(url).then(response=>{
                response = response.data;
                this.cases = response.data;
            }).catch(error=>{
            });
        },
    },
    computed : {
        popupThemeValue(){
            if(this.errorMessage){
                return 'danger';
            }
            if(this.successMessage){
                return 'success';
            }
        },
        submitUrl(){
            return this.marge_case_url;
        },
    },
    watch:{
        currentCase(value){
            this.merge_case_id = value._id;
            this.merge_case_number = value.case_number;
            this.incident_type_id = value.incident_type_id;
            this.formData ={
                incident_case_types:[],
                case_id:null,
                merge_case_id:value._id,
                merge_case_number:value.case_number
            }
        },
        showModalProp(value) {
            if(value) {
                this.getAllPrimaryCases();
                this.showModal = true
            }
            if(!value) {
                this.showModal = false
            }
        }
    },
}
</script>
