<template>
    <div class="organization-profile-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Organization</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <d-form @submit.prevent="validateBeforeSubmit">
                             <div class="row">
                                    <div class="col-xs-12 col-md-5">
                                        <label class="modal-auto-text">Student Number</label>
                                    </div>
                                    <div class="col-xs-12 col-md-7">
                                        <p class="modal-des">{{currentInvolvedUser.university_id ? currentInvolvedUser.university_id : 'N/A'}}</p>
                                    </div>
                                    <div class="col-xs-12 col-md-5">
                                        <label class="modal-auto-text">Name</label>
                                    </div>
                                    <div class="col-xs-12 col-md-7">
                                        <p class="modal-des">{{currentInvolvedUser.full_name ? currentInvolvedUser.full_name:'N/A'}}</p>
                                    </div>
                                    <div class="col-xs-12 col-md-5">
                                        <label class="modal-auto-text">Email</label>
                                    </div>
                                    <div class="col-xs-12 col-md-7">
                                        <p class="modal-des">{{currentInvolvedUser.email ? currentInvolvedUser.email : 'N/A'}}</p>
                                    </div>
                                    <div class="col-xs-12 col-md-5">
                                        <label class="modal-auto-text">Phone Number</label>
                                    </div>
                                    <div class="col-xs-12 col-md-7">
                                        <p class="modal-des">{{currentInvolvedUser.phone_number ? currentInvolvedUser.phone_number : 'N/A'}}</p>
                                    </div>
                                </div>
                      </d-form>
                    </div>    
                </div>
            </d-modal-body>
        </d-modal>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    export default {
        
        props: ['showModalProp','currentInvolvedUser','currentCase','fromPopup'],
        
        data () {
            return {
                inputValue:'',
                showModal: false,
                modalSize: 'lg',
                submit:false,
                errorMessage:'',
                successMessage : '',
                loading: false,
                formData:{},
                users:'',
                selectedUserId:null,
                organization: 7,
            }
        },
        
        methods: {
            handleClose() {
                this.showModal = false
                this.$emit('hide-modal-value');
            },
        },
        computed : {

            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
        
        watch:{
            showModalProp(value) {
                if(value){
                    this.showModal = true
                }
                if(!value){
                    this.showModal = false
                }
            }
        },
    }
</script>
