<template>
    <div class="remove-related-case-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Remove Title IX</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <div class="row">
                    <div class="col-md-12">
                            <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                {{ errorMessage ? errorMessage : successMessage }}
                            </d-alert>
                    </div>
                    <div class="col-md-12">  
                        <p class="modal-des">Are you sure you want to remove ?</p>
                    </div>
                </div>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary"  @click.prevent="submitForm" :class="[loading ? 'show-spinner' : '']">
                    <span>Remove</span>
                    <c-loader></c-loader>
                </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>
        <common-methods 
        :hideLoader="true"
        :formData="formData"
        :submit="submit"
        :submitUrl="submitUrl"
        :submitType="'update'"
        @form-updated="formUpdated"
        @form-error="formError"
        >
    </common-methods>
    </div>
</template> 
<script>
import { EventBus } from '../../event-bus.js';
export default {

    props : ['showModalProp','currentCase','currentTitleIx'],
    
    data() {
        return {
            showModal: false,
            modalSize: 'sm',
            loading:false,
            submit:false,
            loading:false,
            successMessage : '',
            errorMessage : '',
            formData:{},
        }
    },
    
    methods: {
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.showModal = false;
            this.$emit('hide-modal-value');
        },
        submitForm(){
                 let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.formData.title_ix_id = this.currentTitleIx.id;
                        this.formData.case_number = this.currentCase.case_number;
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        return;
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },2000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            formUpdated(response){
                let self = this;
                this.submit = false;
                this.$store.commit('setCaseData' , response.data.document);
                EventBus.$emit('activity-logs-unshift', {
                    tab: 'all',
                    log: response.data.log,
                    document: {},
                });

                setTimeout(function () {
                    self.successMessage = '';
                    self.loading = false;
                    self.$emit('case-updated');
                    self.handleClose();         
                } , 2000);

                
            },
            formError(response){
                let self = this;
                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                 setTimeout(function(){
                    self.errorMessage = '';
                },5000);



            },
    },
    computed : {
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            },
            submitUrl(){
                if(typeof(this.currentCase)!='undefined'){
                    return 'api/incident-case/remove-title-ix/'+ this.currentCase._id;
                }
            },
        },
    
    watch:{
        showModalProp(value) {
            if(value) {
                this.showModal = true
            }
            if(!value) {
                this.showModal = false
            }

        }
    },
}
</script>
