<template>
    <div class="close-case-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Reopen Case</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <div class="row">
                    <div class="col-md-12">
                        <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show role="alert">

                            {{ errorMessage ? errorMessage : successMessage }}

                        </d-alert>
                    </div>
                    <div class="col-md-12">
                        <p class="modal-des">Are you sure you want to reopen this case?</p>
                    </div>
                </div>

            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary" @click.prevent="reopenCase()" :class="[ loading ? 'show-spinner' : '']">
                    <span>Reopen Now</span>
                    <c-loader></c-loader>
                </d-btn>
                <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    export default{
        
        props: ['showModalProp'],
        
        data() {
            return {
                showModal: false,
                modalSize: 'sm',
                errorMessage : '',
                successMessage : '',
                url: 'api/incident-case/',
                dataUrl: 'api/incident-case/',
                loading:false,            
                submitType : 'put',
                submit : false,
            }
        },
        computed : {
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
        
        methods: {
            handleClick() {
                this.showModal = true
            },
            handleClose() {
                this.showModal = false;
                this.$emit('hide-modal-value');
            },
            reopenCase(){
                let self = this;
                let param = {
                    status:"active",
                    case_id : this.$store.getters.getCaseData._id,
                    case_number : this.$store.getters.getCaseData.case_number

                }
                this.url = this.dataUrl + this.$route.params.id + '/reopen-case';
                this.loading = true;
                this.$http.put(this.url, param).then(response => {
                    if(Object.keys(response.data.data).length) {
                        this.$store.commit('setCaseData', response.data.data.document);

                        EventBus.$emit('activity-logs-unshift', {
                            tab: 'all',
                            log: response.data.data.log,
                            document: {},
                        });
                    }
                    setTimeout(function() {
                        self.loading = false;
                        self.successMessage = '';
                        self.handleClose();
                    }, 2000);

                })
                .catch(error => {
                    self.loading = false
                    _.forEach(error.response.data.errors, function(value, key) {
                        self.errorMessage =  error.response.data.errors[key][0];
                    });
                    setTimeout(function() {
                        self.errorMessage = '';
                    }, 5000);
                })
            }
        },
        
        watch:{
            showModalProp(value) {
                if(value){
                    this.showModal = true
                }
                if(!value){
                    this.showModal = false
                }
            }
        },
    }
</script>
