<template>
    <div class="role-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose(false)" id="detail" no-close-on-backdrop no-close-on-esc>
            <div class="model-content-area">
                <d-modal-header>
                <d-modal-title>{{ fullName }}’s Role</d-modal-title>
                </d-modal-header>
                <d-modal-body class="scrollbar" id="style-2">
                        <!-- <info-message v-if="!userRoles.length" :text="roleInfoText"></info-message> -->
                    <d-form>
                        <div class="row">
                            <div class="col-md-12">
                                
                            <block-spinner v-if="!userRoles.length"></block-spinner>
                            <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                {{ errorMessage ? errorMessage : successMessage }}
                            </d-alert>
                            </div>
                            <div v-for="(userIncidentType, index) in userRoles" class="role-container" style="width: 100%;">
                                <div class="col-md-12 clearfix">
                                    <div class="form-group selectBox">
                                        <label>Role
                                        </label>
                                        <i class="icon-keyboard_arrow_down3"></i>
                                        <d-form-select v-model="userIncidentType.role_id" :name="'user_roles.'+index+'.role_id'" v-validate="'required'" :class="['form-group' , errorBag.first('user_roles.'+index+'.role_id') ? 'is-invalid' : '']"
                                        @change="onChangeRole($event, userIncidentType, index)">
                                            <option value="" disabled="" title="Please select role">Please select role</option>
                                            <option :value="role.id" v-if="(user.role_id != INCIDENTTYPEADMIN) || (user.role_id == INCIDENTTYPEADMIN && role.id != SUPERADMIN)" v-for="role in roles" :title="role.name">{{role.name.substring(0, 44) + (role.name.length > 45? '...' : '')}}</option>
                                        </d-form-select>
                                    </div>
                                </div>
                                <div class="col-md-12 modal-column">
                                    <div class="row">
                                        <div class="col-md-6" v-if="userIncidentType.role_id != STAFF && userIncidentType.role_id != STUDENTSTAFF">
                                            <div class="form-group selectBox">
                                                <label>Case Type</label>
                                                <i class="icon-keyboard_arrow_down3"></i>
                                                <d-form-select :disabled="userIncidentType.role_id == SUPERADMIN" v-model="userIncidentType.incident_type_parent_id" :name="'case_type.'+index+'.role_id'" v-validate="'nullValidater'" :class="['form-group' , errorBag.first('case_type.'+index+'.role_id') ? 'is-invalid' : '']"
                                                @change="onChangeCaseType(index)"
                                                >
                                                    <option value="default" disabled="" title="Please select case type">{{'Please select case type'.substring(0, 17) + '...'}}</option>
                                                    <option :value="null" v-if="userIncidentType.role_id == SUPERADMIN" title="All">All</option>
                                                    <option :value="caseType.id" v-for="caseType in getCaseType()" :title="caseType.name">{{caseType.name.substring(0, 17) + (caseType.name.length > 18? '...' : '')}}</option>
                                                </d-form-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6" v-if="userIncidentType.role_id != STAFF && userIncidentType.role_id != STUDENTSTAFF">
                                            <div class="form-group selectBox">
                                                <label>Sub Case Type</label>
                                                <i class="icon-keyboard_arrow_down3"></i>
                                                <d-form-select 
                                                :disabled="userIncidentType.role_id == SUPERADMIN" 
                                                v-model="userIncidentType.incident_type_id" :name="'sub_case_type.'+index+'.role_id'"  v-validate="'nullValidater'" :class="['form-group' , errorBag.first('sub_case_type.'+index+'.role_id') ? 'is-invalid' : '']">
                                                    <option value="default" disabled="" title="Please select sub case type">{{'Please select sub case type'.substring(0, 17) + '...'}}</option>
                                                    <option :value="null" title="All" v-if="getSubCaseType(userIncidentType.incident_type_parent_id, index).length > 0">All</option>
                                                    <option :value="subCaseType.id" v-for="subCaseType in getSubCaseType(userIncidentType.incident_type_parent_id, index)" :title="subCaseType.name">{{subCaseType.name.substring(0, 17) + (subCaseType.name.length > 18? '...' : '')}}</option>
                                                </d-form-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="custom-alert" v-if="userIncidentType.role_id == SUPERADMIN && userRoles.length > 1">
                                        <p class="role-alert-msg">As a Super Admin role assigned to this user, any other roles further associated will be ignored.</p>
                                    </div>
                                </div>
                                <a v-if="userRoles.length > 1" href="javascript:void(0);" class="role-remove-icon" @click="removeRole(index)">
                                    <i class="icon-delete"></i>
                                </a>
                                <div class="col-md-12"><hr /></div>
                                </div>
                                <div class="col-md-12" v-if="showAddOrUpdate && userRoles.length">
                                    <div class="form-group">
                                        <a  href="javascript:void(0);" @click.prevent="addRole">+ Add another role</a>
                                    </div>
                                </div>
                        </div>
                    </d-form>
                </d-modal-body>
                <d-modal-footer>
                <button @click="validateBeforeSubmit" :class="['btn btn-primary', loading  ? 'show-spinner' : '']" >
                        <span>Update</span>
                        <c-loader></c-loader>
                    </button>
                    <button class="btn btn-link" @click="handleClose(false)">Cancel </button>
                </d-modal-footer>
            </div>
        </d-modal>
    </div>
</template>

<script>
export default {
    
    props : ['showModalProp', 'record', 'userInfo'],
    
    data () {
        return {
            selected: "",
            options: [
                { value: 'first', text: 'Case Type Admin' },
            ],
            showModal: false,
            modalSize: 'sm',
            roleInfoText: 'Please add role by clicking on the link below.',
            roles: [],
            tempRoles: [],
            incidentTypes: [],
            caseTypeId: '',
            caseType: '',
            subCaseType: [],
            userRoles: [],
            tempRoleCount: 0,
            loading: false,
            showAddOrUpdate: true,
            errorMessage : '',
            successMessage : '',
            user: '',
            SUPERADMIN: 1,
            INCIDENTTYPEADMIN: 2,
            INCIDENTTYPEOFFICER: 3,
            STAFF: 4,
            STUDENTSTAFF: 5,
            STUDENT: 6,
        }
    },
    created() {
        this.$validator.extend('nullValidater',{
            getMessage: field => {
                return 'This field is required.';
            },
            validate: value => {
                if(value == "default") {
                    return false;
                }
                return true;
            }
        });
    },
    mounted() {

        this.user = JSON.parse(this.$store.getters.getAuthUser);
    },
    methods: {
        removeRole(index) {
            let self = this;
            this.userRoles.splice(index, 1);
            setTimeout(function () {
               Vue.nextTick(() => {
                self.errorBag.clear()
               })
            }, 50);
        },
        onChangeRole(e, userIncidentType, index) {
            let self = this;
            this.userRoles[index].incident_type_parent_id = null;
            this.userRoles[index].incident_type_id = null;
            if(e != 1 && e != 4 && e != 5) {
                this.userRoles[index].incident_type_parent_id = "default";
                this.userRoles[index].incident_type_id = "default";
            }
            setTimeout(function () {
               Vue.nextTick(() => {
                self.errorBag.clear()
                var checkAdminRole = _.find(self.userRoles, ["role_id", 1]);
                if(typeof(checkAdminRole) == "undefined") {
                    self.showAddOrUpdate = true;
                }else {
                    self.showAddOrUpdate = false;
                }
               })
            }, 50);
        },
        addRole() {
            var self = this;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    self.userRoles.push({
                        incident_type_id: "default",
                        incident_type_parent_id: "default",
                        role_id: "",
                        user_id: this.userInfo.id,
                    });
                    self.errorBag.clear();
                    return;
                }
            });
        },
        onChangeCaseType(index) {
            let self = this;
            this.userRoles[index].incident_type_id = null;
            setTimeout(function () {
               Vue.nextTick(() => {
                self.errorBag.clear()
               })
            }, 50);
        },
        validateBeforeSubmit() {
            var self = this;
            // if(!this.tempRoleCount) {
            //     return;
            // }
            this.$validator.validateAll().then((result) => {
                if (result) {
                    self.onUpdate();
                    self.errorBag.clear();
                    //this.errorMessage = '';
                    return;
                }
                //this.errorMessage = this.errorBag.all()[0];
            });
        },
        onUpdate() {
            var self = this;
                this.loading = true;
                let url = "api/user-incident-type";
                var data = {
                    user_id: this.userInfo.id,
                    user_roles: this.userRoles
                };
                self.$http.post(url, data).then(response => {
                    response = response.data.response;
                    // self.successMessage = response.message;
                    self.$toasted.show("User role has been added successfully.", {
                        theme: "bubble",
                        position: "bottom-right",
                        duration : 3000,
                        type: ['success'],
                        singleton: true,
                        icon : '',
                        className: 'success-toast alert-success'   
                    });
                    setTimeout(function () {
                        self.successMessage = '';
                        self.handleClose(true);  
                        self.loading = false; 
                    } , 3000);

                }).catch(error => {
                    let self = this;
                    error = error.response.data;
                    self.loading = false; 
                    let errors = error.errors;
                    this.errorBag.clear();
                    $.each(errors, function(field, messages) { 
                        self.errorBag.add({
                            field: field,
                            msg: messages[0]
                        }); 
                    });
                });
        },
        handleClick() {
            this.showModal = true;
        },
        handleClose(val) {
            this.showModal = false;
            this.tempRoleCount = 0;
            this.errorBag.clear();
            this.userRoles = [];
            this.$emit('hide-modal-value', val);
        },
        getRoleList() {
            let self = this;
            let roleUrl = "api/role?pagination=true&filter_by_type=employee&limitRole=5";
            self.$http.get(roleUrl).then(response=>{
                response = response.data.data;
                self.roles = response;
            }).catch(error=>{
            });
        },
        getIncidentTypeList(val) {
            let self = this;
            let icUrl = "api/incident-type?employee_list=true&orderby_name=true";
            self.$http.get(icUrl).then(response=>{
                response = response.data.data;
                self.incidentTypes = response;
                var checkAdminRole = _.find(self.incidentTypes, ["role_id", 1]);
                if(typeof(checkAdminRole) == "undefined" || !self.incidentTypes.length) {
                    self.showAddOrUpdate = true;
                }else {
                    self.showAddOrUpdate = false;
                }
                self.userRoles = val;
                if(!val.length) {
                    self.userRoles = [{
                        incident_type_id: "default",
                        incident_type_parent_id: "default",
                        role_id: "",
                        user_id: self.userInfo.id,
                    }];
                }
            }).catch(error=>{
            });
        },
        getCaseType() {
            var caseType = _.map(this.incidentTypes, function(value, key) {
                        if(!value.parent_id) {
                            return value;
                        }
                    });
            caseType = _.without(caseType, undefined);
            return caseType;
        },
        functionForEach(value, opts) {
            if(value.parent_id == opts) {
                return value;
            }
        }, 
        getSubCaseType(id, index) {
            let self = this;
            var caseType = [];
            caseType = _.map(this.incidentTypes, function(value, key){
                return self.functionForEach(value, id);
            });
            caseType = _.without(caseType, undefined);
            if(caseType.length == 0) {
                this.userRoles[index].incident_type_id = 'default';
            }
            return caseType;
        } 
    },
    
    watch:{
        showModalProp(value) {
            if(value) {
                this.showModal = true;
            }
            if(!value) {
                this.showModal = false
            }
        },
        record(val) {

            this.getRoleList();
            this.getIncidentTypeList(val);
        }
    },
    computed: {
        popupThemeValue(){
            if(this.errorMessage){
                return 'danger';
            }
            if(this.successMessage){
                return 'success';
            }
        },
        fullName() {
            var user = this.userInfo;
            return user.first_name + " " + user.middle_name + " " + user.last_name;
        }
    },
}
</script>
