<template>
    <div class="save-report-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <div class="model-content-area">
                <d-modal-header>
                    <d-modal-title>{{ customReportData.title  ? 'Update Report' : 'Save Report' }} </d-modal-title>
                </d-modal-header>
                <d-modal-body>
                    <d-form>
                        <div class="row">
                            <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                    {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                            </div>
                            <div class="col-md-12">
                                <div :class="[ 'form-group' , errorBag.first('Report Title')  ? 'is-invalid' : '']">
                                   <label>Report Title</label>
                                    <d-input v-validate="'required|max:250'"  v-model="formData.title" placeholder="Enter report title" name="Report Title"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Availability</label>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-5">
                                            <d-form-radio inline name="availability" value="me" v-model="formData.availability" ref="available_user">Only me</d-form-radio>
                                        </div>
                                        <div class="col-xs-12 col-sm-7">
                                            <d-form-radio inline name="availability" value="incident_type_admins" v-model="formData.availability" ref="available_user">All Incident Type Admin</d-form-radio>
                                        </div>
                                        <div class="col-md-12">

                                            <d-form-radio inline name="availability" value="specific_users" v-model="formData.availability" ref="available_user">Specific Users</d-form-radio>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 specific-user-select" v-if="formData.availability == 'specific_users'">
                                <common-multiselect @selected-value="getUsersList" :url="requestUsersListUrl" :multiple="true" :clearOptions="clearOptions" :selected="selected" :searchOptions="{ 'track_by' : 'id' , 'label' : 'first_name'}"></common-multiselect>
                            </div>
                        </div>
                    </d-form>
                </d-modal-body>
                <d-modal-footer>
                    <d-btn 
                        :class="[ loading ? 'show-spinner' : '']"
                        theme="primary" 
                        @click.prevent="validateBeforeSubmit()">
                        <span>{{ customReportData.title ? 'Update Report' : 'Save Report' }}</span>
                        <c-loader></c-loader>
                    </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
                </d-modal-footer>
            </div>
        </d-modal>
        <common-methods 
        @get-response="getSpecificUsersResponse"
        :url="requestUsersListUrl"
        :infiniteLoad="false"
        :hideLoader="true"
        >
        </common-methods>
        <common-methods 
        @form-updated="formUpdated"
        @form-error="formError"
        :submitUrl="submitUrl"
        :submit="submit"
        :formData="formData"
        :submitType="submitType"
        :hideLoader="true"

        >
        </common-methods>
    </div>
</template>

<script>
export default{

    props: ['showModalProp', 'customReportData'],
    data() {
        return {
            errorMessage: '',
            successMessage: '',
            selected: [],
            url: 'api/report',
            userListUrl: 'api/user',
            formData:{
                title: '',
                availability: 'me',
                specific_users: [''],
                status: 1,
            },
            showModal: false,
            modalSize: 'sm',
            specificUsers: [],
            submitType: '',
            submit: false,
            loading: false,
            clearOptions: false,

        }
    },
    computed: {
        requestUsersListUrl(){
            return this.userListUrl+'?filter_by_type=except_student';
        },
        submitUrl(){

            if(typeof this.customReportData !== 'undefined' && this.customReportData != ''){
                return this.url+'/'+this.customReportData._id;
            }else{
                return this.url+'/'+ this.$route.params.id;
            }
        },
        authUser(){
            return JSON.parse(this.$store.getters.getAuthUser);
        },
        popupThemeValue(){
            if(this.errorMessage){
                return 'danger';
            }
            if(this.successMessage){
                return 'success';
            }
        }
    },
    methods: {
        getSpecificUsersResponse(response){
            if(Object.keys(response.data).length){
                this.specificUsers = response.data;
            }
        },
        handleClick() {
            this.showModal = true;
        },
        handleClose() {
            let self =this;
            this.showModal = false;
            if(this.customReportData != '' && this.customReportData.status){
                this.formData =  (JSON.parse(JSON.stringify(this.customReportData)));
                this.selected = [];
                 _.forEach(this.formData.specific_user_array, function(val, key){
                    self.selected.push(val);
                });               
            }else{
                this.formData = {
                    title: '',
                    availability: 'me',
                    specific_users: [''],
                    status: 1,
                }
            }

            this.clearOptions = true;
            this.$emit('hide-modal-value');
        },
        validateBeforeSubmit() {
            let self = this;
            this.$validator.validateAll().then((result) => {

                if (result) {
                    if(this.formData.availability != 'specific_users'){
                        this.formData.specific_users = [];
                    }
                    this.formData.status = 1;
                    this.submit = true;
                    this.loading = true;
                    this.errorMessage = '';
                    this.submitType = 'update';
                    return;
                }
                this.errorMessage = this.errorBag.all()[0];
               
                setTimeout(function () {
                Vue.nextTick(() => {
                    self.errorMessage = '';
                    self.errorBag.clear();
                })
            }, 3000);
            });
        },
        formUpdated(response){

            this.clearDetails(response);
            this.$emit('form-updated' , response);
        },
        formError(response){
            let self = this;
            this.submit = false;
            this.loading = false;

            _.forEach(response.errors, function(value, key) {
                self.errorMessage =  response.errors[key][0];
                return false;
            });
            setTimeout(function(){
                self.errorMessage = '';
            },3000);
        },
        clearDetails(response){
            let self = this;
            setTimeout(function(){
                self.handleClose();
                self.loading = false;
                self.showModal = false;
                self.clearOptions = true;
                self.formData = this.customReportData ? (JSON.parse(JSON.stringify(this.customReportData))):'';
                self.selected = [];
            } , 3000);
            this.submit = false;
        },
        getUsersList(values){
            let self = this;
            self.formData.specific_users = [];
            _.forEach(values, function(val, key){
                self.formData.specific_users.push(val.id);
            });
        }

    },
    watch: {
        showModalProp(value) {
            if(value) {
                this.showModal = true
            }
            if(!value) {
                this.showModal = false
            }
        },
        customReportData(value){
                if(value != '' && value.status != null){
                    let self = this;
                    this.selected = [];
                    this.formData =  (JSON.parse(JSON.stringify(self.customReportData)));
                     _.forEach(self.formData.specific_user_array, function(val, key){
                        self.selected.push(val);
                    });
            }
        }
    },
}
</script>