<template>
    <div class="report-info-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" ok-only>

            <d-modal-header>
                <d-modal-title>Alert</d-modal-title>
            </d-modal-header>

            <d-modal-body>
                <d-form>
                    <div class="row">

                        <div class="col-md-12 view-special-code-text">
                            <p>Please save the report first</p>
                        </div>
                        

                    </div>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary" @click="handleClose">OK </d-btn>
            </d-modal-footer>
        </d-modal>
    </div>
</template>
<script>
export default{
    props: ['showModalProp'],
    data() {
        return {
            showModal: false,
            modalSize: 'md',
        }
    },
    methods: {
        handleClick() {
            this.showModal = true;
        },
        handleClose() {
            this.showModal = false;
            this.$emit('hide-modal-value');
        }
    },
    watch: {
        showModalProp(value) {
            if(value) {
                this.showModal = true
            }
            if(!value) {
                this.showModal = false
            }
        }
    },
}
</script>