<template>
    <div class="schedule-report-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <div class="model-content-area">
            <d-modal-header>
                <d-modal-title>{{ formData._id ? 'Update Report': 'Schedule Report' }}</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <d-form>
                    <div class="row">
                        <div class="col-md-12">
                            <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                {{ errorMessage ? errorMessage : successMessage }}
                            </d-alert>
                        </div>
                        <div class="col-md-12">
                            <div :class="['form-group','disabled', errorBag.first('report title') && formInvalid ? 'is-invalid' : '']">
                                <label>Report Title</label>
                                <d-input 
                                    v-model="formData.title"
                                    placeholder="Enter report title" 
                                    v-validate="'required|max:250'"
                                    name="report title"
                                />
                            </div>
                        </div>
                        <div class="col-md-12 modal-column">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group selectBox">
                                        <label>Repeat</label>
                                        <i class="icon-keyboard_arrow_down3"></i>
                                        <d-form-select v-model="formData.repeat">
                                            <option selected="" disabled>Select Value</option>
                                            <option value="week">Every Week</option>
                                            <option value="month">Every Month</option>
                                            <option value="two_weeks">Every 2 Week</option>
                                        </d-form-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div :class="['form-group', errorBag.first('schedule time') && formInvalid ? 'is-invalid' : '']">
                                        <label>Time</label>
                                        <div class="icon-right">
                                            <i class="icon-clock"></i>
                                            <vue-timepicker
                                                name="schedule time"
                                                class="with-icon datepicker-icon form-control"
                                                v-model="formData.schedule_time"
                                                format="hh:mm a"
                                                placeholder="Start Time"
                                                :minute-interval="minuteInterval"
                                                v-validate="'timeValidate'">
                                            </vue-timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" v-if="formData.repeat == 'month'">
                                    <div :class="['form-group', 'selectBox', errorBag.first('month date') && formInvalid ? 'is-invalid' : '']">
                                        <label>Day Of Month</label>
                                        <i class="icon-keyboard_arrow_down3"></i>
                                        <d-form-select v-model="formData.date" name='month date'v-validate="'required'">
                                            <option :value="''" selected="" disabled>Select date</option>
                                            <option :value="day" v-for="(day, index) in 
                                            monthDays">{{ day }}</option>
                                        </d-form-select>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div :class="['form-group']"  v-if="formData.repeat != 'month'">
                                <label>Select days</label><br>
                                <div class="days-checkbox" v-for="(day, ind) in daysOptions">
                                    <input :id="day.id" :name="day.id" type="checkbox" v-model="formData.days[ind]" :value="day.value"/>
                                    <label :for="day.id">{{day.label}}</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Send to</label>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-5">
                                            <div class="form-group">
                                                <d-form-radio inline name="sendTo" value="me" v-model="formData.send_to">Only me</d-form-radio>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-7">
                                            <div class="form-group">
                                                <d-form-radio inline name="sendTo" value="incident_type_admins" v-model="formData.send_to">All Incident Type Admin</d-form-radio>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-5">
                                            <div class="form-group">
                                                <d-form-radio inline name="sendTo" value="specific_users" v-model="formData.send_to">Specific Users</d-form-radio>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-7">
                                            <div :class="['form-group', 'specific-users', errorBag.first('users') && formInvalid ? 'is-invalid' : '']">
                                               &nbsp;
                                            </div>
                                        </div>
                                        <div class="col-md-12" v-if="formData.send_to == 'specific_users'">
                                            <common-multiselect
                                            @selected-value="getUsers"
                                            :multiple="true"
                                            :url="requestUsersUrl" 
                                            :clearOptions="clearOptions"
                                            :searchOptions="{'track_by' : 'email',
                                                'label' : 'email'}"
                                            :tagging="true"
                                            :selected="selected"
                                            
                                            name="users">
                                            </common-multiselect>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </d-form>
            </d-modal-body>

            <d-modal-footer>
                <d-btn theme="primary" @click.prevent="validateBeforeSubmit" :class="[ loading ? 'show-spinner' : '']">
                    <span>{{ formData._id ? 'Update Schedule' : 'Schedule Report' }}</span>
                    <c-loader></c-loader>
                </d-btn>
                <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>            
            </d-modal-footer>
            </div>
        </d-modal>
        <common-methods
        @form-updated="formUpdated"
        @form-submitted="formSubmitted"
        @form-error="formError"
        :submitUrl="submitUrl"
        :submit="submit"
        :formData="formData"
        :submitType="submitType"
        :hideLoader="true"
        >
        </common-methods>
    </div>
</template>
<script>
    import VueTimepicker from 'vue2-timepicker';
    import { Validator } from 'vee-validate';
    export default{
        components: {
            VueTimepicker,
        },
        props: ['showModalProp', 'customReportData'],
        data() {
            return {
                selected : [],
                errorMessage: '',
                successMessage: '',
                formInvalid: false,
                loading: false,
                submit: false,
                submitType: '',
                urlUsersList: 'api/user?filter_by_type=employee',
                url: 'api/schedule-report',
                showModal: false,
                modalSize: 'sm',
                formData: {
                    date: '',
                    title: '',
                    repeat: 'week',
                    schedule_time: {
                        hh: '',
                        mm: '',
                        a: 'am'
                    },
                    days: [],
                    send_to: 'me',
                    specific_users: [],
                    saved_report_id: null,
                    report_data: []
                },
                daysOptions: [
                    {   id: 'monday',
                        label: 'M',
                        value: false
                    },
                    {
                        id: 'tuesday',
                        label: 'T',
                        value: false
                    },
                    {
                        id: 'wednesday',
                        label: 'W',
                        value: false
                    },
                    {
                        id: 'thursday',
                        label: 'T',
                        value: false
                    },
                    {
                        id: 'friday',
                        label: 'F',
                        value: false
                    },
                    {
                        id: 'saturday',
                        label: 'S',
                        value: false
                    },
                    {
                        id: 'sunday',
                        label: 'S',
                        value: false
                    }
                ],
                clearOptions: false,
                minuteInterval: 30,
                monthDays : 31
            }
        },
        created(){
            Validator.extend("timeValidate", value => {
                if( value.hh === "" ||  value.mm === "" || value.a === "") {
                    return false;
                }
                return true;
            })
        },
        computed:{
            requestUsersUrl(){
                return this.urlUsersList;
            },
            submitUrl(){
                    if(this.formData._id){
                        this.submitType = 'update';
                        return this.url + '/' + this.formData._id;
                    }
                    this.submitType = 'post';
                    return this.url;
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            },

        },
        methods: {
            handleClick() {
                this.showModal = true;
            },
            handleClose() {
                this.showModal = false;
                this.clearOptions = true;
                if(this.customReportData && this.customReportData.show_data){
                    this.formData = (JSON.parse(JSON.stringify(this.customReportData)));
                }else{
                    this.selected = [];
                    this.formData = {
                        date: '',
                        repeat: 'week',
                        schedule_time: {
                            hh: '',
                            mm: '',
                            a: 'am'
                        },
                        days: [],
                        send_to: 'me',
                        specific_users: [],
                        saved_report_id: null,
                    }
                    if(this.customReportData.status == 1){
                        this.formData.title = this.customReportData.title;
                    }
                }
                this.$emit('hide-modal-value');
            },
            getUsers(values){
                let self = this;
                self.formData.specific_users = [];
                _.forEach(values, function(val, key){
                    self.formData.specific_users.push(val.email);
                });

            },
            validateBeforeSubmit() {
                let self = this;
                if((this.formData.repeat == 'week' || this.formData.repeat == 'two_weeks') && !this.formData.days.length){
                    this.formInvalid = true;
                }else if(this.formData.repeat == 'month' && this.formData.date == ''){
                    this.formInvalid = true;        
                }

                this.$validator.validateAll().then((result) => {
                    if (result && !this.formInvalid) {
                        this.formData.saved_report_id = this.$route.params.id;
                        if(this.formData.send_to != 'specific_users'){
                            this.formData.specific_users = [];
                        }
                        /*self.formData.specific_users  = self.formData.specific_users.filter(function(email, pos){
                            return (self.formData.specific_users.indexOf(email) == pos && email != null);
                        });*/

                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        return;
                    }
                    this.formInvalid = true;
                    if((this.formData.repeat == 'week' || this.formData.repeat == 'two_weeks') && !this.formData.days.length){
                        this.errorMessage = 'Select atleast one day';
                    }else if(this.formData.repeat == 'month' && this.formData.date == ''){
                        this.errorMessage = 'Select date of month';
                        this.errorBag.add({field: 'month date',
                            msg: 'Select date of month'});
                    }else if(this.formData.send_to == 'specific_users' && !this.formData.specific_users.length){
                        this.errorMessage = 'Select atleast one user';
                        this.errorBag.add({field: 'users',
                            msg: 'Select atleast one user'});
                    }else{
                        this.errorMessage = this.errorBag.all()[0];
                    }
                   
                    setTimeout(function () {
                        Vue.nextTick(() => {
                            self.formInvalid = false;
                            self.errorMessage = '';
                            self.errorBag.clear();
                        })
                    }, 3000);
                });
        },
            formSubmitted(response){
                this.clearDetails(response);
                this.$emit('form-submitted' , response);
            },
            formUpdated(response){
                this.clearDetails(response);
                this.$emit('form-updated' , response);
            },
            formError(response){
                let self = this;
                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                setTimeout(function(){
                    self.errorMessage = '';
                },3000);
            },
            clearDetails(response){
                let self = this;
                setTimeout(function(){
                    self.handleClose();
                    self.loading = false;
                    self.showModal = false;
                    self.clearOptions = true;
                    self.formData =  {
                        date: '',
                        title: '',
                        repeat: 'week',
                        schedule_time: {
                            hh: '',
                            mm: '',
                            a: 'am'
                        },
                        days: [],
                        send_to: 'me',
                        specific_users: [],
                        saved_report_id: '',
                    };
                } , 3000);
                this.submit = false;
            },
        },
        watch: {
            showModalProp(value) {
                if(value) {
                    this.showModal = true
                }
                if(!value) {
                    this.showModal = false
                }
            },
            customReportData(value){
                let self = this;
                if(this.customReportData.status == 1){
                    this.formData.title = this.customReportData.title;
                }
                if(value != ''){
                    this.selected = [];
                    this.formData =  (JSON.parse(JSON.stringify(this.customReportData)));
                    _.forEach(self.formData.specific_user_array, function(val, key){
                        self.selected.push(val);
                    });
                }
            }
        },
    }
</script>
