<template>
    <div class="split-case-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose">
            <div class="model-content-area">
                <d-modal-header>
                    <d-modal-title>Split Case</d-modal-title>
                </d-modal-header>     
                <d-modal-body>
                    <d-form>
                        <div class="row">
                            <div class="col-md-12">
                                <d-alert role="alert" v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                            </div>
                            <div class="col-md-12">
                                    <div class="form-group">
                                        <!-- <label for="split_cases" class="checkbox-heading">Select involved parties to split case</label>
                                        <d-checkbox
                                            name="involved_parties[]" 
                                            v-for="(involvedParty,index) in involvedParties"
                                                role="checkbox" :value="involvedParty.id" :key="index" v-model="formData.associate_involved_party">{{involvedParty.first_name}} {{involvedParty.middle_name}} {{involvedParty.last_name}}
                                        </d-checkbox> -->
                                        <label class="checkbox-heading">Select involved parties to split case</label>

                                    <div class="scrollable split-case-scroll" id="style-2">
                                        <p class="custom-checkbox-tick" v-for="(involvedParty,index) in involvedParties">
                                        <input type="checkbox" :id="index"
                                        :checked="involvedParty"
                                        v-model="formData.associate_involved_party"
                                        name="Involved Parties"
                                        :value="involvedParty"
                                        v-validate="'required'">
                                        <label :for="index">{{ $options.filters.fullName(involvedParty) ? $options.filters.fullName(involvedParty) : 'Unknown User' }}</label>
                                        </p>
                                        <!-- <small class="text-danger" v-if="errorBag.first('involved_parties')">This field is required.</small> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12"><hr /></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label  class="checkbox-heading">Select the type of data to copy in new case</label>
                                    <!-- <div class="scrollable split-case-scroll" id="style-2">
                                        <p class="custom-checkbox-tick" v-for="(dataTypeList,index) in dataTypeListing">
                                        <input 
                                        type="checkbox" 
                                        :id="'dataTypeList'+index"
                                        :checked="dataTypeList.value"
                                        v-model="formData.incident_case_types"
                                        name="dataTypeListing"
                                        :value="dataTypeList.value"
                                        v-validate="'required'">
                                        <label :for="'dataTypeList'+index">{{dataTypeList.name}}</label>
                                        </p>
                                    </div> -->
                                    <div class="entity-block scrollable" id="style-2">
                                        <treeselect 
                                          instanceId="split_case"
                                          :options="dataTypeListing"
                                          :multiple="multiple"
                                          placeholder="Select Activities"
                                          :searchable="searchable"
                                          :clear-on-select="clearOnSelect"
                                          v-model="formData.incident_case_types"
                                          :alwaysOpen="true"
                                          />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </d-form>
                </d-modal-body>
                <d-modal-footer>
                    <d-btn  @click.prevent="validateBeforeSubmit()" :class="[loading ? 'show-spinner' : '']">
                        <span>Split Now</span>
                        <c-loader></c-loader>
                    </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
                </d-modal-footer>
            </div>
        </d-modal>
        
        <common-methods 
        :infiniteLoad="false"
        :hideLoader="true"
        :formData="formData"
        :submit="submit"
        :submitUrl="submitUrl"
        :submitType="'post'"
        @form-submitted="formSubmitted"
        @form-error="formError"
        >
        </common-methods>   
        

    </div>
</template>

<script>
import { EventBus } from '../../event-bus.js';
import Treeselect from '@riophae/vue-treeselect';
export default {
    
    components: { Treeselect },
    props: ['showModalProp','currentCase'],
    
    data () {
        return {
            alwaysOpen: false,
            clearOnSelect: true,
            searchable:true,
            multiple:true,
            showModal: false,
            modalSize: 'sm',
            formData : {
                case_id : '',
                incident_case_types:[],
                associate_involved_party:[],
                
            },
            split_case_url : 'api/split-case',
            url:'api/incident-case',
            submit : false,
            successMessage : '',
            errorMessage : '',
            loading : false,
            involvedParties : [],
            caseId:'',
            dataTypeListing: [
                {
                id: 'All',
                label: 'All',
                isDefaultExpanded: true,
                children: [
                    {
                        id: 'notes',
                        label: 'Notes',
                    },
                    {
                        id: 'attachment',
                        label: 'Files',
                    },
                    {
                        id: 'meeting',
                        label: 'Meeting',
                    },
                    {
                        id: 'email',
                        label: 'Emails',
                    },
                    {
                        id: 'sanction',
                        label: 'Sanction Activites',
                    },
                    {
                        id: 'appeal',
                        label: 'Appeal Activites',
                    },
                    {
                        id: 'charge',
                        label: 'Charge Activites',
                    },
                    
                ]
            }
            ]
        }
    },
    
    methods: {
        validateBeforeSubmit() {
            let self = this;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.submit = true;
                    this.loading = true;
                    this.errorMessage = '';
                    return;
                }
                setTimeout(function(){
                    self.errorMessage = '';
                },5000);
                this.errorMessage = this.errorBag.all()[0];
            });
        },
        
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            let self = this;
            this.showModal = false
            this.formData ={
                incident_case_types:[],
                associate_involved_party:[],
                case_id : '',
                
            }
            setTimeout(function () {
                self.successMessage = '';
                self.errorMessage = '';
                self.loading = false;
            } , 3000);
            this.$emit('hide-modal-value');
        },
        formError(response){

            let self = this;

            this.submit  = false;
            this.loading = false;

            _.forEach(response.errors, function(value, key) {
                self.errorMessage =  response.errors[key][0];
                return false;
            });    
        },
        formSubmitted(response){
            EventBus.$emit('activity-reload-event');
            this.clearDetails(response);
        },
        clearDetails(response){
                
                let self = this;
                this.successMessage = response.message;
                this.submit = false;
                setTimeout(function(){
                    self.handleClose();
                    self.loading = false;
                    self.showModal = false;
                    self.successMessage = '';
                    self.$router.push({ name : 'incident-case.view' , params : { id : response.data._id}});
                    window.location.href = '/conduct-incidents/case-details/'+response.data._id;
                } , 2000);
            },
    },
    computed : {
        popupThemeValue(){
            if(this.errorMessage){
                return 'danger';
            }
            if(this.successMessage){
                return 'success';
            }
        },
        submitUrl(){
            return this.split_case_url;
        },
    },
    watch: {
        currentCase(value){
            this.involvedParties = value.involved_parties_details;
            this.caseId = value.id;
            this.formData ={
                incident_case_types:[],
                associate_involved_party:[],
                case_id:value._id
            }
        },

        showModalProp(value) {
            if(value) {
                this.showModal = true
            }
            if(!value) {
                this.showModal = false
            }
        }
    },
}
</script>