<template>
    <div class="student-sanctions-popup prevent-close">
        <d-modal v-if="showModal" @close="handleClose" role="dialog" size="lg">
            <div class="model-content-area">
                <d-modal-header>
                    <d-modal-title>Sanction Applied</d-modal-title>
                </d-modal-header>
                <d-modal-body>
                    <div class="row" v-if="!noRecordFound && !showLoading">
                        <div class="col-xs-12 col-md-6">
                            <div class="manage-listing scrollable height-normal pl-1">
                                <div v-for="(field, index) in sanctionDetails.sanctions"
                                @click.prevent="currentIndex = index, viewDetails(field)"
                                :class="{ 'active-case-list' : typeof(currentIndex) !== 'string' && currentIndex == index  }">
                                <d-card >
                                    <d-card-body>
                                        <label>{{ field.name }}</label>
                                        <p>{{ field.status }}</p>
                                        <span :class="['action-panel', field.status != 'completed' && field.status != 'temporary freeze' && field.status != 'permanent freeze' ? '' : 'cursor-not-allowed']">
                                            <i 
                                            class="icon-edit"
                                            v-tooltip.top-center="editMsg"
                                            @click.prevent="onEditField(field, index)"> 
                                        </i>
                                    </span>
                                </d-card-body>
                            </d-card>
                        </div>
                        <div @click="showFines(sanctionDetails.fines)" :class="activeFine" v-if="sanctionDetails.fines">
                            <d-card>
                                <d-card-body>
                                    <label>Fine(s)</label>
                                    <p>{{ sanctionDetails.fines | description }}</p>
                                </d-card-body>
                            </d-card>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <complete-sanction
                    @refresh-list="resendCall"
                    @form-updated="formUpdated"
                    :fineDetails="fineDetails"
                    :updateData="field" 
                    :sanctionDetails="sanctionDetails"
                    :showUpload="showUpload"
                    ></complete-sanction>
                </div>
            </div>

            <no-record-found v-if="noRecordFound" class="mt-5 mb-5"></no-record-found>
            <block-spinner v-if="showLoading"></block-spinner>
        </d-modal-body>
    </div>
</d-modal>
<common-methods 
@get-response="getSanctionDetailsResponse"
:url="requestSanctionDetailsUrl"
:infiniteLoad="false"
:hideLoader="true"
>
</common-methods>
</div>
</template>

<script>
import { EventBus } from '../../event-bus.js';
export default {
    props: ['showModalProp'],

    data () {
        return {
            errorMessage: '',
            successMessage: '',
            loading: true,
            progressValue: 0,
            fileResponse:false,
            sanctionDetailsUrl: 'api/case-sanction-get-sanction-details',
            caseSanctionUrl: 'api/case-sanction-update-sanction-status',
            uploadKey: 'sanction_attachment',
            fileExtensions :'.jpg,.png,.bmp,.mp3,.mp4,.xls,.docx,.doc,.pdf,.ppt,pptx,mpga',
            url: 'api/attachment',
            submitType: 'update',
            submit: false,
            loading: false,
            sanctionDetails: {

            },
            formData: {
                case_number: null,
                case_id: '',
                attachments: [],
            },
            stageValue:'',
            showModal: false,
            field: {
                name: '',
                status: '',
                period:{
                    to: '',
                    from: ''
                }
            },
            updateId: '',
            currentIndex: 0,
            editMsg: 'Edit',
            showUpload: false,
            fineDetails: '',
            activeFine: '',
            noRecordFound: false,
            showLoading : true,
        }
    },
    computed:{
        requestSanctionDetailsUrl(){
            if(typeof this.incidentCase != 'undefined' && this.incidentCase){
                return this.sanctionDetailsUrl+'?case_number='+this.incidentCase.case_number+'&case_id='+this.incidentCase._id;
            }
        },
        incidentCase(){
            return this.$store.getters.getCaseData;
        },
        popupThemeValue(){
            if(this.errorMessage){
                return 'danger';
            }
            if(this.successMessage){
                return 'success';
            }
        },
    },
    methods: {
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.showModal = false;
            this.activeFine = '';
            this.fineDetails = '';
            this.currentIndex = 0;
            this.$emit('hide-modal-value');
        },
        getSanctionDetailsResponse(response){
            this.noRecordFound = false;
            this.loading = true;
            if(Object.keys(response.data).length){
                this.sanctionDetails = response.data.data;
                this.updateId = response.data._id;
                this.viewDetails(response.data.data.sanctions[0]);
                var disableAppealPopup = response.data.data.sanctions.filter(function(ele){
                    if(ele.status == 'active' || ele.status == 'pending'){
                        return ele.id;
                    }
                });
                if(disableAppealPopup.length){
                    this.$emit('disable-appeal-popup','');
                }else{
                    this.$emit('disable-appeal-popup','disabled');
                }
            }else{
                this.$emit('disable-appeal-popup','disabled');
            }

            if(Object.keys(response.data).length || response.noRecordFound){
                this.loading = false;
                this.showLoading = false;
                this.noRecordFound = !response.noRecordFound;
            }

            if(!Object.keys(response.data).length && response.noRecordFound){
                this.noRecordFound = true;
            }

        },
        getFileUploadResponse(response) {
            let self = this;
            response.display_name = response.original_name;
            this.formData.attachments.push(JSON.parse(JSON.stringify(response)));
            this.fileResponse = true;

        },
        getError(response) {
            let self = this;
            self.errorMessage = response;
            setTimeout(function() {
                self.errorMessage = '';
            }, 3000);
        },
        showProgress(value){
            this.progressValue = value;
        },
        remove: function(index) {
            this.file_data.splice(index, 1)
        },
        validateBeforeSubmit() {
            let self = this;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.formData.case_number = this.incidentCase.case_number;
                    this.formData.case_id = this.$route.params.id;
                    this.formData.status = 'completed';
                    this.submit = true;
                    this.loading = true;
                    this.errorMessage = '';
                    return;
                }
                setTimeout(function(){
                    self.errorMessage = '';
                },2000);
                this.errorMessage = this.errorBag.all()[0];
            });
        },
        formError(response){
            let self = this;
            this.submit = false;
            this.loading = false;

            _.forEach(response.errors, function(value, key) {
                self.errorMessage =  response.errors[key][0];
                return false;
            });
            setTimeout(function(){
                self.errorMessage = '';
            },2000);
        },
        formUpdated(response){
            this.clearDetails(response);
            EventBus.$emit('activity-logs-unshift', {
                tab: 'sanction',
                log: {},
                document: response.response.log,
            });
            this.$emit('form-updated' , response);
        },
        clearDetails(response){
            let self = this;
            setTimeout(function(){
                self.handleClose();
                self.loading = false;
                self.showModal = false;
                self.successMessage = '';
                self.formData =  {
                };
            } , 2000);
            this.successMessage = response.message;
            this.submit = false;
        },
        onEditField(data, index) {
            this.showUpload = true;
            this.field = data;
            this.field._id = this.updateId;
        },
        viewDetails(data){
                //this.showUpload = false;
                this.fineDetails = '';
                this.activeFine = false;
                this.field = data;
                this.field._id = this.updateId;
            },
            resendCall(){
               if(typeof this.incidentCase != 'undefined' && this.incidentCase){
                var newDate = new Date().getMilliseconds();
                this.sanctionDetailsUrl = this.sanctionDetailsUrl+'?case_number='+this.incidentCase.case_number+'&case_id='+this.incidentCase._id+'&time='+newDate;
            }
        },
        showFines(data){
            this.activeFine = 'active-case-list';
            this.currentIndex = '';
            this.fineDetails = data;
        },
    },

    watch:{
        showModalProp(value) {
            if(value){
                this.showLoading = true;
                this.loading = true;
                var newDate = new Date().getMilliseconds();
                this.sanctionDetailsUrl = this.sanctionDetailsUrl+'?case_number='+this.incidentCase.case_number+'&case_id='+this.incidentCase._id+'&time='+newDate;
                this.showModal = true
            }
            if(!value){
                this.showLoading = false;
                this.loading = false;
                this.showModal = false
            }
        },
        showUpload(value){
            return value;
        }
    },
}
</script>
