<template>
    <div class="student-details-popup prevent-close">
        <d-modal v-if="showModal" size="lg" @close="handleClose" id="detail" no-close-on-backdrop no-close-on-esc>
            <div class="model-content-area">
           <block-spinner v-if="showLoader"></block-spinner>
            <d-modal-header v-show="!showLoader">
                <d-modal-title>{{ fullName }}'s Information</d-modal-title>
            </d-modal-header>
            <d-modal-body v-show="!showLoader" >
                <div class="activities-section p-t-0">
                    <div class="activitylist">
                        <ul class="incident-tabs">
                            <li 
                                :class="{ 'active': tabData === 'profile_details' }" 
                                @click="tabData = 'profile_details'">
                                <a href="javascript:void(0);">
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li 
                                :class="{ 'active': tabData === 'contact_details' }" 
                                @click="tabData = 'contact_details'">
                                <a href="javascript:void(0);">
                                    <span>Contact</span>
                                </a>
                            </li>
                            <li 
                                v-if="hideTab == 'student'"
                                :class="{ 'active': tabData === 'class_schedule' }" 
                                @click="tabData = 'class_schedule'">
                                <a href="javascript:void(0);">
                                    <span>Class Schedule</span>
                                </a>
                            </li>
                            <li 
                                v-if="hideTab == 'student'"
                                :class="{ 'active': tabData === 'prior_cases' }" 
                                @click="tabData ='prior_cases'">
                                <a href="javascript:void(0);">
                                    <span>Prior Cases</span>
                                </a>
                            </li>
                            <li 
                                v-if="hideTab == 'student'"
                                :class="{ 'active': tabData === 'additional_details' }" 
                                @click="tabData = 'additional_details'">
                                <a href="javascript:void(0);">
                                    <span>Additional Details</span>
                                </a>
                            </li>
                            <li 
                                v-if="hideTab == 'employee'"
                                :class="{ 'active': tabData === 'case_handled' }" 
                                @click="tabData = 'case_handled'">
                                <a href="javascript:void(0);">
                                    <span>Case History</span>
                                </a>
                            </li>
                            <li
                                v-if="hideTab == 'student'"
                                :class="{ 'active': tabData === 'notes' }"
                                @click="tabData = 'notes'">
                                <a href="javascript:void(0);">
                                    <span>Notes</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div 
                    v-if="tabData == 'profile_details'" 
                    class="modal-content-body">
                    <h4>General Biodemographic</h4>
                    <div id="style-2" class="scrollable height-normal pl-1">
                        <d-form>
                            <div v-for="(info, index) in record.basic_info">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="modal-auto-text">{{getFormattedKey(index)}}</label>
                                    </div>
                                    <div class="col-xs-12 col-md-8">
                                        <p class="modal-des">{{ getFormattedValue(info, index)}}</p>
                                    </div>
                                </div>
                            </div>
                        </d-form>
                    </div>
                </div>
                <div 
                    v-if="tabData == 'contact_details'" 
                    class="modal-content-body">
                    <h4>Contact Details</h4>
                    <div id="style-2" class="scrollable height-normal pl-1">
                        <d-form>
                            <div v-for="(info, index) in record.contact_info">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="modal-auto-text">{{getFormattedKey(index)}}</label>
                                    </div>
                                    <div class="col-xs-12 col-md-8">
                                        <p class="modal-des">{{ getFormattedValue(info, index)}}</p>
                                    </div>
                                </div>
                            </div>

                        </d-form>
                    </div>
                </div>
                <div 
                    v-if="tabData == 'class_schedule' && hideTab == 'student'" 
                    class="modal-content-body">
                    <h4>Class Schedule</h4>
                        <d-form>
                            <div class="week-calendar">
                                <class-schedule :data="record.class_schedule"></class-schedule>
                            </div>
                        </d-form>
                </div>
                <div 
                    v-if="tabData == 'prior_cases' && hideTab == 'student'" 
                    class="modal-content-body">
                        <d-form>
                            <div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-12" v-show="totalPriorCases">
                                        <p>{{totalPriorCases}} prior cases associated with {{ fullName }} with {{ value_points }} value points</p>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="manage-listing scrollable height-normal pl-1 prior-case-listing">
                                            <div v-for="involved_case in priorCases">
                                                <d-card class="mb-1" :key="index" v-for="(involvedParty, index) in involved_case.involved_parties_details">
                                                    <d-card-header class="px-3 py-2" role="tab">
                                                        <d-btn block-level type="button" size="small" theme="transparent" href="javascript:;" v-d-toggle="'collapse'+involved_case.case_number" @click="getSanctions(involved_case,involvedParty)">
                                                            
                                                            <div 
                                                                class="prifile-img"  
                                                                v-bind:style="{'background-image' : 'url('+getImage(involved_case)+')',}">
                                                            </div>
                                                            <div class="profile-content" >
                                                                <label @click="onCaseClick(involved_case._id, 'student')" 
                                                                :style="{cursor: (loginUser.role_id != STUDENTSTAFF)?'pointer' : '',}">
                                                                {{involved_case.type == "case"? "Case" : "IR"}} #: {{involved_case.case_number}}
                                                            </label>
                                                                <p>{{ involvedParty.person_type_id | personType }}</p>
                                                            </div>
                                                            <span class="action-panel">
                                                                <i class="icon-keyboard_arrow_right"></i>
                                                            </span>
                                                        </d-btn>        
                                                    </d-card-header>
                                                    <d-collapse :id="'collapse'+involved_case.case_number" accordion="my-accordion" role="tabpanel">
                                                        <d-card-body>
                                                            <div class="prior-cases-list">
                                                        <div class="row">
                                                            <div v-for="sd in sanctionData" v-if="!loadingSanctions" class="col-md-6 prior-case-sanction">
                                                                <div class="case-box">
                                                                    <div class="sanction-col" v-if="sanctionData">
                                                                        <label>Sanction:</label>
                                                                        <p>{{ sd.name }}</p>
                                                                    </div>
                                                                    <div class="sanction-col" v-if="sanctionData">
                                                                        <label>Status:</label>
                                                                        <p>{{ sd.status }}</p>
                                                                    </div>
                                                                     <div class="sanction-col" v-if="sanctionData">
                                                                        <label>Period:</label>
                                                                        <p>{{$options.filters.formatDate(sd.period.from)}} to {{ $options.filters.formatDate(sd.period.to) }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                        <block-spinner v-if="loadingSanctions"></block-spinner>
                                                        </div>
                                                        </d-card-body>
                                                        <d-card-body v-if="sanctionData=='' &&
                                                        !loadingSanctions">
                                                            <no-record-found></no-record-found>
                                                        </d-card-body>
                                                    </d-collapse>
                                                </d-card>
                                            </div>

                                            <common-methods 
                                            :url="priorCasesUrl"
                                            @get-response="getPriorCasesResponse"
                                            >   
                                            </common-methods>
                                        </div>
                                        <no-record-found v-if="noPriorCasesFound" class="mt-5"></no-record-found>
                                    </div>
                                </div>
                            </div>
                        </d-form>
                </div>

                <div class="modal-content-body" v-if="tabData == 'case_handled' && hideTab == 'employee'">
                    <div class="clearfix"></div>
                    <div class="row">
                            <div class="col-md-12" v-show="handledCases.length">
                                <p>{{getCaseStats}}</p>
                            </div>
                            <div class="col-md-12">
                                <div class="manage-listing scrollable height-normal pl-1">
                                    <div v-for="handled_case in handledCases">
                                        <d-card>
                                            <d-card-body>
                                                <div class="prifile-img"  v-bind:style="{'background-image' : 'url('+getReporterImage(handled_case, record.user_id)+')',}"></div>
                                                <div class="profile-content" >
                                                    <label @click="onCaseClick(handled_case._id, 'employee')" style="cursor: pointer;">
                                                    {{handled_case.type == 'case'? 'Case' : "IR"}} #: {{handled_case.case_number}}</label>
                                                    <p>{{handled_case.status}}</p>
                                                </div>
                                                <span class="action-panel">
                                                    <i class="icon-keyboard_arrow_right"></i>
                                                </span>
                                            </d-card-body>
                                        </d-card>
                                    </div>
                                    <common-methods 
                                    :url="handleCasesUrl"
                                    @get-response="getHandleCasesUrlResponse"
                                    >   
                                    </common-methods>
                                    <no-record-found v-if="noCasesFound" class="mt-5"></no-record-found>
                                </div>
                            </div>
                        </div>
                    </div>
                <div 
                    v-if="tabData == 'additional_details' && hideTab == 'student'" 
                    class="modal-content-body">
                        <div class="modify-details"
                                    v-show="additionalDetails == 'goback'">
                            <h4 class="modal-left">Additional Details</h4>
                            <a class="modal-right" href="javascript:void(0);" @click.prevent="modifyDetails('modify')">Modify Details </a>
                            <d-form>
                            <div class="clearfix"></div>
                                <div v-for="(info, index) in record.additional_details" >
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <label class="modal-auto-text">{{info.field.label}}</label>
                                            </div>
                                            <div class="col-xs-12 col-md-8">
                                                <p v-if="info.field.type == 'time'" class="
                                                modal-des"><span v-for="(i,index) in info.value">{{i}}{{(index=='hh')? ":":index=='mm'? " ": ""}}</span></p>

                                                <p v-else-if="info.field.type == 'checkbox' || info.field.type == 'radio'" class="modal-des" v-html="getFormattedCheckbox(info.value)"></p>
                                                <!-- {{(info.value != "" && info.value != 'null')? (typeof(info.field.options[info.value.key].value) != "undefined")? info.field.options[info.value.key].value:"N/A" : "N/A"}} -->
                                                <p v-else-if="info.field.type == 'dropdown'" class="modal-des">
                                                {{getDropDownValue(info)}}</p>
                                                <p v-else class="modal-des">{{info.value? info.value:"N/A"}}</p>
                                            </div>
                                        </div>
                                </div>
                                 <info-message v-if="typeof(record.additional_details) != 'undefined' 
                                 && !record.additional_details.length" :text="additionalDetailInfoText"></info-message>
                            </d-form>
                        </div>
                        <div
                            class="modify-additional-details"
                            v-if="additionalDetails == 'modify'">
                            <h4 class="modal-left">Modify Additional Details</h4>
                            <a
                                class="modal-right"
                                href="javascript:void(0);"
                                @click="modifyDetails('goback')">
                                Go back
                            </a>
                            <d-form>
                                <div class="clearfix"></div>
                                <div>
                                    <d-form>
                                        <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                            {{ errorMessage ? errorMessage : successMessage }}
                                        </d-alert>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-8">
                                                        <div class="form-group" v-for="(rec, index) in record.additional_details" :key="index">
                                                            <label>{{rec.field.label}}</label>
                                                            <div v-if="rec.field.type == 'input'">
                                                                <d-input  id="" placeholder="Enter text" 
                                                                v-model="rec.value" v-validate="{ rules: { required: (false)} }" 
                                                                :data-vv-name="rec.field.label+index"
                                                                :class="[errorBag.first(rec.field.label+index) ? 'is-invalid' : '']" :key="rec.field.label"/>
                                                            </div>

                                                            <div v-if="rec.field.type == 'radio'">
                                                                <d-form-radio 
                                                                v-for="(optionValue, ind) in rec.field.options"  
                                                                :value="true"
                                                                :key="'radio'+ind" 
                                                                :name="rec.field.label+index" 
                                                                v-model="rec.value[ind].isChecked"
                                                                v-validate="{ rules: { required: (false)} }"
                                                                :inline="true"
                                                                @change="onChangeRadio(rec, ind)"
                                                                >{{optionValue.value}}</d-form-radio>
                                                                <small class="text-danger" v-if="errorBag.first(rec.field.label+index)">The field is required.</small>
                                                            </div>
                                                            <div class="formbuild"
                                                            v-if="rec.field.type == 'checkbox'">
                                                                    <d-checkbox
                                                                        v-for="(optionValue, ind) in rec.field.options"
                                                                        :key="'check'+ind"
                                                                        :name="rec.field.label"
                                                                        :value="true"
                                                                        :inline="true"
                                                                        v-model="rec.value[ind].isChecked"
                                                                        v-validate="{ rules: { required: false} }"
                                                                        >
                                                                        {{ optionValue.value }}
                                                                    </d-checkbox>
                                                                <small class="text-danger" v-if="errorBag.first(rec.field.label+index)">The field is required.</small>
                                                            </div>

                                                            <div v-if="rec.field.type == 'time'">
                                                                <vue-timepicker
                                                                hide-clear-button
                                                                class="with-icon datepicker-icon form-control"
                                                                format="hh:mm a"
                                                                placeholder="HH:MM"
                                                                v-model="rec.value" 
                                                                v-validate="{ rules: { required: (false)} }" 
                                                                :name="rec.field.label+index"
                                                                :class="[errorBag.first(rec.field.label+index) ? 'is-invalid' : '']" 
                                                                >
                                                                </vue-timepicker>

                                                            </div>
                                                            <div v-if="rec.field.type == 'date'">
                                                                <d-datepicker class="with-icon datepicker-icon" v-model="rec.value" 
                                                                format="MMM/dd/yyyy"
                                                                placeholder="MM / DD / YYYY" v-validate="{ rules: { required: (false)} }" 
                                                                :name="rec.field.label+index"
                                                                :class="[errorBag.first(rec.field.label+index) ? 'is-invalid' : '']" typeable />
                                                            </div>

                                                            <div v-if="rec.field.type == 'dropdown'">
                                                                <div class="form-group select-detail">
                                                                <i class="icon-keyboard_arrow_down3"></i>
                                                                <select v-model="rec.value.key" v-validate="{ rules: { required: (false)} }" :name="rec.field.label+index"
                                                                    :class="['form-control' , errorBag.first(rec.field.label+index) ? 'is-invalid' : '']" :key="rec.field.label"
                                                                    @change="onChangeDropdown(rec.value.key, rec)"
                                                                    >
                                                                    <option v-if="rec.value.key == null" value="null" selected="" disabled="">Please select</option>
                                                                    <option v-if="rec.value.key == ''" value="" selected="" disabled="">Please select</option>
                                                                    <option  v-for="(optionValue, i) in rec.field.options" :value="i">
                                                                        {{optionValue.value}}
                                                                    </option>
                                                                </select>
                                                                </div>
                                                            </div>
                                                            <div v-if="rec.field.type == 'textarea'">
                                                                <textarea v-model="rec.value"
                                                                    id=""
                                                                    placeholder="Enter details"
                                                                    rows="3"
                                                                    max="6" v-validate="{ rules: { required: (false)} }"
                                                                    :name="rec.field.label"
                                                                    :class="['form-control' , errorBag.first(rec.field.label) ? 'is-invalid' : '']"
                                                                    >
                                                                </textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-8">
                                                        <a  href="javascript:void(0);" @click.prevent="$emit('show-manage-field-popup')">+ Add or update custom fields</a>
                                                    </div>
                                                    <div class="col-xs-12 col-md-8">
                                                        <br>
                                                        <d-button theme="primary"  @click.prevent="validateBeforeSubmit" :class="[loading  ? 'show-spinner' : '' , 'btn' , 'btn-primary' , 'apply-primary-color' ]" :disabled="!record.additional_details.length">
                                                            <c-loader></c-loader>
                                                            <span>Update</span>
                                                        </d-button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </d-form>
                                </div>
                            </d-form>
                        </div>
                </div>
                <div
                    v-if="tabData == 'notes' && hideTab == 'student'"
                    class="modal-content-body">
                    <d-form>
                        <div class="notes-body">
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>

                                        {{ errorMessage ? errorMessage : successMessage }}

                                    </d-alert>
                                    <div class="form-group">
                                        <label>Student Notes</label>
                                        <textarea v-model="textNote"
                                            :placeholder="'Add a note about ' + user.first_name +' '+ user.middle_name +' '+ user.last_name"
                                            rows="3"
                                            max-rows="6" 
                                            v-validate="'required|max:500'"
                                            name="student notes"
                                            :class="['form-control' , errorBag.first('student notes') ? 'is-invalid' : '']">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <d-btn theme="primary" @click.prevent="validatePost" :class="[loading  ? 'show-spinner' : '' , 'btn' , 'btn-primary' , 'apply-primary-color' ]">
                                        <span>Post</span>
                                        <c-loader></c-loader>
                                    </d-btn>
                                </div>
                                <div class="col-md-12"><hr /></div>
                                <div class="col-md-12">
                                    <div class="listing-sections">
                                        <div class="activitycontent scrollable height-normal">
                                            <div class="activity-list-content" v-for="note in notes">
                                                <div class="indecation-icon">
                                                    <div class="icon-oval notes">
                                                        <i class="icon-messenger"></i>
                                                    </div>
                                                </div>
                                                <div class="activity-detail-content">
                                                    <div class="activity-details m-t-0">
                                                        <p>
                                                            <strong>
                                                                {{ note.posted_user_detail 
                                                                    | fullName 
                                                                }}
                                                            </strong> 
                                                        added new note
                                                        </p>
                                                        <p class="italic">
                                                            {{ note.note }}
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="activity-post-detail">
                                                    <div class="float-left">
                                                        <p>Posted by <span>{{ note.posted_user_detail | fullName }}</span></p>
                                                    </div>
                                                    <div class="float-right">
                                                        <p>
                                                            <i class="icon-clock"></i>
                                                            <span>{{ getFormattedDateTime(note.created_at.date) }}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <common-methods 
                                            :url="notesUrl"
                                            :hideLoader="true"
                                            @get-response="getNotesResponse"
                                            >   
                                            </common-methods>
                                            <block-spinner v-if="!notes.length && !noNotesFound"></block-spinner>
                                            <no-record-found v-if="noNotesFound"></no-record-found>
                                         </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </d-form>
                </div>
            </d-modal-body>
            </div>
        </d-modal>
    </div>
</template>

<script>
import _ from 'lodash';
import { Calendar, Weekday, Month } from 'dayspan';
import VueTimepicker from 'vue2-timepicker';
export default {
    props: ['showModalProp', 'user', 'tab', 'type', 'addField'],
    name: 'app',
    components: {
            VueTimepicker,
         },
    data() {
        return {
            loadingSanctions: false,
            sanctionData:false,
            SUPERADMIN: 1,
            INCIDENTTYPEADMIN: 2,
            INCIDENTTYPEOFFICER: 3,
            STAFF: 4,
            STUDENTSTAFF: 5,
            STUDENT: 6,
            totalPriorCases: 0,
            totalHandledCases: 0,
            value_points:0,
            priorCasesUrl: "",
            handleCasesUrl: "",
            notesUrl: "",
            priorCases: [],
            handledCases: [],
            notes: [],
            isPriorCasesTab: false,
            isHandledCasesTab: false,
            noNotesFound: false,
            noCasesFound: false,
            showModal: false,
            isUpdate: false,
            errorMessage : '',
            loginUser : '',
            successMessage : '',
            loading: false,
            noPriorCasesFound: false,
            customFields: [],
            studenAdditionalDetails: [],
            tabData: 'profile_details',
            additionalDetails: 'goback',
            modalSize: 'md',
            dummyImage: 'images/dummy/user-placeholder.svg',
            additionalDetailInfoText: 'Add additional details by clicking on modify details link.',
            activitySelected: 'Profile Details',
            record: [],
            tempRecord: [],
            oldRecord: [],
            textNote: "",
            // Class Schedule Calendar
            storeKey: 'dayspanState',
            calendar: Calendar.weeks(),
            readOnly: true,
            isAddDetail: false,
            activityList: [
                { name: 'Profile Details'},
                { name: 'Contact Details'},
                { name: 'Class Schedule'},
                { name: 'Prior Cases'},
                { name: 'Notes'},
            ],
            lists: [],
            defaultEvents: [
                {
                    data: {
                      title: 'Martin Luther King, Jr. Day',
                      color: '#0067A9',
                      calendar: 'US Holidays'
                    },
                    schedule: {
                        month: [1],
                        dayOfWeek: [Weekday.TUESDAY],
                        lastWeekspanOfMonth: [3],
                        times: [9],
                    }
                },
                {
                    data: {
                        title: 'Inauguration Day',
                        color: '#2196F3',
                        calendar: 'US Holidays'
                    },
                    schedule: {
                        month: [Month.JANUARY],
                        dayOfWeek: [Weekday.WEDNESDAY],
                        lastWeekspanOfMonth: [1],
                        dayOfMonth: [20]
                    }
                },
            ],
        }
    },
    methods: {
        getSanctions(caseData,user){
            let self = this;
            self.loadingSanctions = true;
            this.sanctionUrl = 'api/case-sanction-get-sanction-details?case_number='+caseData.case_number+'&case_id='+caseData._id+'&imposed_on='+user.id;
            this.$http.get(this.sanctionUrl).then(response => { 
                     self.sanctionData = '';
                     if(Object.keys(response.data.data).length) {
                        this.sanctionData = response.data.data.data.sanctions;
                    }
                    else{
                        self.sanctionData = '';
                    }
                    setTimeout(function() {
                        self.loadingSanctions = false;
                    }, 1000)

                })

        },
        getDropDownValue(info) {
            if((info.value.key > info.field.options.length -1) || (info.value.key === null || info.value.key === "")) {
                return "N/A";
            }
            return (typeof(info.value.key) == "string" && info.value.key == "")? "N/A": info.field.options[info.value.key].value;
        },
        onChangeDropdown(index, record) {
            var val = record.field.options[index].value;
            record.value = {
                key: index,
                value: val
            };
        },
        onChangeRadio(record, index) {
            var values = _.map(record.value, function(obj) {
                return {
                    value: obj.value,
                    isChecked: false,
                };
            });
            values[index].isChecked = true;
            record.value = values;
        },
        getFieldDefaultValue(type) {
            switch(type) {
                case 'time':
                    return {
                            hh: '00',
                            mm: '00',
                            a: 'am'
                        };
                break;
                case 'dropdown':
                    return {
                        key: "",
                        value: ""
                    };
                return;
                case 'checkbox':
                case 'radio':
                    return [
                            {
                                value: "",
                                isChecked: false
                            },
                            {
                                value: "",
                                isChecked: false
                            }
                        ];
                break;
                case 'date':
                case 'input':
                case 'textarea':
                    return "";
                break;
            }
        },
        onCaseClick(id, type) {
            if(type == 'student') {
                if(this.loginUser.role_id != this.STUDENTSTAFF) {
                    this.$router.push({ name: 'incident-case.view', params: {id: id} });
                }
            }else {
                this.$router.push({ name: 'incident-case.view', params: {id: id} });
            }
        },
        getFormattedCheckbox(val) {
            if(!val) {
                val = [];
            }
            var checkedVal = "";
            var arr = _.map(val, function(item) {
                //checkedVal = item['isChecked']? '<span class="icon-change-status text-primary"></span>' : '<span class="icon-change-status text-primary"></span>';
                    if(item['isChecked']){
                      return item['value'];
                    }
                });
            arr = _.without(arr, undefined);
            if(!arr || !arr.length) {
                return "N/A";
            }
            arr = arr.join(", ");
            return arr;
        },
        getFormattedDateTime(date) {
            return moment.utc(date).local().format('MMM D, YYYY \\a\\t h:mm a');
        },
        getPriorCasesResponse(response) {
            if(Object.keys(response.data).length){
                    for (var i = 0; i < response.data.length; i++) {

                        this.priorCases.push(response.data[i]);
                    }
                }
                this.totalPriorCases = typeof(response.pagination) != "undefined"? response.pagination.total : 0;
                this.pageLoader = false;
                this.noPriorCasesFound = response.noRecordFound;
            
        },
        getHandleCasesUrlResponse(response) {
            if(Object.keys(response.data).length){
                    for (var i = 0; i < response.data.length; i++) {
                        this.handledCases.push(response.data[i]);
                    }
                }
                this.totalHandledCases = typeof(response.pagination) != "undefined"? response.pagination.total : 0;
                this.a = false;
                this.noCasesFound = response.noRecordFound;
            
        },
        getNotesResponse(response) {
            if(Object.keys(response.data).length){
                    for (var i = 0; i < response.data.length; i++) {
                        this.notes.push(response.data[i]);
                    }
                }
                this.a = false;
                this.noNotesFound = response.noRecordFound;
            
        },
         onUpdate() {
            let self = this;
            this.loading = true;
            let url =  "api/user-profile/" + this.record.user_id;
            this.$http.put(url, this.tempRecord)
            .then(response => {
                response = response.data;
                self.successMessage = response.message;
                self.loading = false;
                setTimeout(function() {
                    self.successMessage = '';  
                    self.additionalDetails = 'goback';
                    //self.modifyDetails('goback');
                    self.makeAdditionalDetailsObj(response.data, 'edit', false);
                }, 1000);
            })
            .catch(error => {
                error = error.response.data;

                setTimeout(function(){
                    self.errorMessage='';
                }, 2000);
                _.each(error.errors , function (errorValue) {
                    self.errorMessage = errorValue[0];
                    return false;
                })

            })
        },
        validateBeforeSubmit() {
            var self = this;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.makeAdditionalDetailsObj(this.record, 'submit');
                    this.onUpdate();
                    this.errorBag.clear();
                    this.errorMessage = '';
                    return;
                }
                //this.errorMessage = this.errorBag.all()[0];
            });
        },
        validatePost() {
            var self = this;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.onSubmitPost();
                    this.errorBag.clear();
                    this.errorMessage = '';
                    return;
                }
                this.errorMessage = this.errorBag.all()[0];
                setTimeout(function(){
                    self.errorMessage = "";
                }, 3000);
            });
        },
        onSubmitPost() {
            let self = this;
            this.loading = true;
            var url =  "api/student-note";
            var data = {
                student_id: this.user.id,
                note: this.textNote,
                posted_by: this.loginUser.id
            };
            this.$http.post(url, data)
            .then(response => {
                response = response.data;
                self.successMessage = response.message;
                self.loading = false;
                self.notes.unshift(response.data);
                self.noNotesFound = self.notes.length? false : true;
                self.textNote = "";

                setTimeout(function () {
                    Vue.nextTick(() => {
                        self.errorBag.clear();
                    })
                }, 50);
                setTimeout(function() {
                    self.successMessage = '';
                }, 3000);
            })
            .catch(error => {
                error = error.response.data;
                setTimeout(function(){
                    self.errorMessage='';
                }, 3000);
                _.each(error.errors , function (errorValue) {
                    self.errorMessage = errorValue[0];
                    return false;
                })

            })
        },
        getAllFields() {
            let self = this;
            this.loader = true;
            let url = "api/user-custom-field?pagination=true";
            self.$http.get(url).then(response=>{
                self.loader = false;
                response = response.data.data;
                self.customFields = response;
                self.getRecords();
            }).catch(error=>{
            });
        },
        getLabel(id) {
            var field = _.map(this.customFields, function(value, index) {
                if(value.id == id) {
                    return value;
                }
            });
            field = _.without(field, undefined);
            return field[0].label;
        },
        getValue(id) {
            var field = _.map(this.record.additional_details, function(value, index) {
                if(value.id == id) {
                    return value;
                }
            });
            field = _.without(field, undefined);
            field = typeof(field[0]) != "undefined"? field[0]: "";
            field = typeof(field.value) != "undefined"? field.value: "";
            return (field != "" || field != 'null')? field : "N/A";
        },
        resetFields() {
            this.errorMessage = '';
            this.successMessage = '';
            this.tabData = 'profile_details';
            this.record = [];
            this.tempRecord = [];
            this.oldRecord = [];
            this.isPriorCasesTab = false;
            this.isHandledCasesTab = false;
        },
        modifyDetails(val) {
            this.errorMessage = '';
            this.successMessage = '';
            if(val == "goback" && !this.isUpdate) {
                this.record = _.cloneDeep(this.oldRecord);
                this.errorBag.clear();
            }
            this.additionalDetails = val;
        },
        getInvolvedType(involvedParties, userId) {
            var involvedParties = involvedParties.involved_parties_details;
            var name = (typeof(involvedParties['user.'+userId].person_type) != "undefined" && involvedParties['user.'+userId].person_type != null)? involvedParties['user.'+userId].person_type['name'] : "";
            return name;
        },
        getImage(img) {
            return (img.reported_by_user && (typeof(img.reported_by_user.profile_image) != "undefined"))? img.reported_by_user.profile_image: this.dummyImage;
        },
        getReporterImage(involvedParties, userId) {
            var user = typeof(involvedParties.assigned_to_user)!="undefined"?involvedParties.assigned_to_user:"";
            return user? user.profile_image : this.dummyImage;
        },
        getFormattedKey(key) {
            key = key.replace(/_/g, ' ');
            key = key.replace(/(\w)(\w*)/g,
            function(g0,g1,g2){return g1.toUpperCase() + g2.toLowerCase();});
            return key;
        },
        getFormattedValue(info, index) {
            if(Array.isArray(info)) {
                return info.join(", ");
            }
            switch(index) {
                case "dob":
                var date = new Date(info.date);
                return date.toISOString().split('T')[0];
                break;
                default:
                    return info? info : 'N/A';
            }

        },
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.showModal = false;
            this.resetAll();
            this.tabData = 'profile_details',
            this.$emit('hide-modal-value');
        },
        resetAll() {
            this.notes = [];
            this.textNote = "";
            this.priorCases = [];
            this.handledCases = [];
            this.noCasesFound = false;
            this.priorCasesUrl = null;
            this.handleCasesUrl = null;
            this.notesUrl = null;
            this.totalPriorCases = 0;
        },
        saveState()
        {
            let state = this.calendar.toInput(true);
            let json = JSON.stringify(state);
            localStorage.setItem(this.storeKey, json);
        },

        loadState() {
            let state = {};
            try {
                let savedState = JSON.parse(localStorage.getItem(this.storeKey));
                    if (savedState)
                    {
                        state = savedState;
                        state.preferToday = false;
                    }
                }
            catch (e) {
                console.log( e );
            }
            if (!state.events || !state.events.length) {
                state.events = this.defaultEvents;
            }
            state.events.forEach(ev => {
                    let defaults = this.$dayspan.getDefaultEventDetails();
                    ev.data = Vue.util.extend( defaults, ev.data );
                });
        },

        getRecords() {
            let self = this;
            let studentProfileurl = "api/user-profile?pagination=true&user_id=" + this.user.id;
            if(typeof(tab) != "undefined") {
                this.tabValue = tab;
            }
            self.$http.get(studentProfileurl).then(response=>{
                self.value_points = 0;
                response = response.data.data[0];
                if(response.case_points){
                     _.forEach(response.case_points, function(val, key){
                        self.value_points += val.value_point;
                    });
                }
                var isUpdate = this.tab == "additional_details"? true: false;
                self.makeAdditionalDetailsObj(response, 'edit', isUpdate);
            }).catch(error=>{
            });
        },
        getPriorCases() {
            this.priorCasesUrl = "api/incident-case?pagination=true&involved_parties_user_ids="+parseInt(this.user.id)+"&studentListing=true&user_id=" + this.user.id;
             this.isPriorCasesTab = true;
        },
        getHandledCases() {
            this.tabValue = 'case_handled';
            this.handleCasesUrl = "api/incident-case?pagination=true&assigned_to="+this.user.id+"&user_id=" + this.user.id;
                this.isHandledCasesTab = true;
        },
        getNotes() {
            let self = this;
            this.tabValue = 'notes';
            this.notesUrl = "api/student-note?pagination=true&student_id="+this.user.id;
        },
        makeAdditionalDetailsObj(data, type, isUpdate = false) {
            let self = this;
            if(type == "edit") {
                if(self.addField && !isUpdate) {
                    self.customFields = self.addField;
                }
                var details = _.map(self.customFields, function(value, key) {
                    let field = _.find(data.additional_details, {'id': value._id});
                    field = typeof(field) != "undefined"? field: "";
                    if(value.type == "time") {
                        var val = field? field.value: {
                                hh: '00',
                                mm: '00',
                                a: 'am'
                              };
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    if(value.type == "checkbox" || value.type == "radio") {
                        // var val = _.map(value.options, function(v, k){
                        //     return {
                        //         value: v.value,
                        //         isChecked: false
                        //     };
                        // });
                        var val = _.map(value.options, function(v, k){
                            var findVal = _.find(field.value, ['value', v.value]);
                            if(findVal) {
                                return {
                                    value: findVal.value,
                                    isChecked: typeof(findVal.isChecked) != "undefined"? findVal.isChecked : false
                                };
                            }else {
                                return {
                                    value: v.value,
                                    isChecked: false
                                };                                    
                            }
                        });
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    if(value.type == "dropdown") {
                        var val = field? field.value: {
                                key: "",
                                value: ""
                            };
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    if(value.type == "date") {
                        var val = typeof(field) != "undefined"? field :"";
                        if(val) {
                            val = val? val : field.field.value;
                            val = val.value? val.value : field.field.value;
                        }
                        val = val? moment.utc(val).local().format('MMM D, YYYY') :"";
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    var val = field? field.value : "";
                    if(field && field.type != value.type) {
                        val = self.getFieldDefaultValue(value.type);
                    }
                    return {
                        id: value.id,
                        type: value.type,
                        value: val,
                        field: value 
                    };
                });
                data.additional_details = details;
                if(isUpdate) {
                    this.tabData = 'additional_details';
                    this.modifyDetails('modify');
                    this.errorBag.clear();
                }else {
                    this.modifyDetails('goback');
                }
                this.oldRecord = _.cloneDeep(data);
                this.record = data;
            }else {
                var obj = _.cloneDeep(data);
                var d = obj.additional_details;
                var details = _.map(d, function(value, key) {   
                    if(value.type == "time") {
                        var val = field? field.value: {
                                hh: '00',
                                mm: '00',
                                a: 'am'
                              };
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.field._id,
                            type: value.type,
                            value: value? value.value: {
                                hh: '00',
                                mm: '00',
                                a: 'am'
                              },
                        };
                    }

                    if(value.type == "checkbox" || value.type == "radio") {
                        var val = value.value;
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.field._id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    if(value.type == "date") {
                        var val = typeof(value) != "undefined"? field :"";
                        val = val? val.value :"";
                        val = val? moment.utc(val).local().format('MMM D, YYYY') :"";
                        if(field && field.type != value.type) {
                            val = self.getFieldDefaultValue(value.type);
                        }
                        return {
                            id: value.field._id,
                            type: value.type,
                            value: val,
                            field: value 
                        };
                    }
                    var val = value.value;
                    if(field && field.type != value.type) {
                        val = self.getFieldDefaultValue(value.type);
                    }
                    var field = {
                        id: value.field._id,
                        type: value.type,
                        value: value.value
                    };
                    return field;
                });
                obj.additional_details = details;
                this.tempRecord = obj;
            }
            // if(this.tab == "additional_details") {
            //     this.modifyDetails('modify');
            // }
        }
    },

    mounted() {
        this.loginUser = JSON.parse(this.$store.getters.getAuthUser);
        window.app = this.$refs.app;
        this.loadState();
    },

    watch: {
        addField(field) {
        },
        showModalProp(value) {
            if(value){
                this.showModal = true;
                this.getAllFields();
            }
            if(!value){
                this.resetFields();
                this.showModal = false;
            }
        },
        tabData(val) {
            let self = this;
            if(val != "additional_details") {
                this.modifyDetails('goback');
            }else {
            }
            if(val == "prior_cases") {
                this.getPriorCases();
            }else if(val == "case_handled") {
                this.getHandledCases();
            }else if(val == "notes") {
                this.getNotes();
            }else {
                this.resetAll()
            }
        },
        tab(val) {
            this.tabData = val;
        }
    },
    computed: {
        popupThemeValue(){
            if(this.errorMessage){
                return 'danger';
            }
            if(this.successMessage){
                return 'success';
            }
        },
        getCaseStats() {
            
            if(typeof(this.handledCases) == "undefined") {
                return "";
            }            
            var cases = this.handledCases;
            if(!cases.length) {
                return `Associated with 0 cases`;
            }

            var openCases =  _.map(cases, function(value, key) {
                if(value.status == "active") {
                    return value;
                }
            });
            openCases = _.without(openCases, undefined);

            var closedCases =  _.map(cases, function(value, key) {
                if(value.status == "closed") {
                    return value;
                }
            });
            closedCases = _.without(closedCases, undefined);

            var pendingCases =  _.map(cases, function(value, key) {
                if(value.status == "pending") {
                    return value;
                }
            });
            pendingCases = _.without(pendingCases, undefined);
            var str = "";
            str += "- " + openCases.length + " active";
            str += ", " + pendingCases.length + " pending";
            str += ", " + closedCases.length + " closed";

            return `Associated with ${this.totalHandledCases} cases ${str}`;
        },
        hideTab() {
            return this.type;
        },
        fullName() {
            if(typeof(this.record.basic_info) == "undefined") {
                return "";
            }            
            var record = this.record.basic_info;
            return record.first_name + " " + record.middle_name + " " + record.last_name;
        },
        showLoader() {
            if(typeof(this.record.basic_info) == "undefined") {
                return true;
            }else {
                return false;
            }
        },        
    },
};
</script>
