<template>
    <div class="add-appeal-type-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <div class="model-content-area">
                <d-modal-header>
                    <d-modal-title>Appeal</d-modal-title>
                </d-modal-header>
                <d-modal-body>
                    <d-form @submit.prevent="validateBeforeSubmit">
                        <div class="row">
                            <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>

                                    {{ errorMessage ? errorMessage : successMessage }}

                                </d-alert>
                            </div>
                            <div class="col-md-12">
                                <div :class="[ 'form-group' ,'selectBox', errorBag.first('appeal type') ? 'is-invalid' : '']">
                                    <label>Type</label>
                                    <i class="icon-keyboard_arrow_down3"></i>
                                    <d-form-select v-model="formData.appeal_type_id" name="appeal type" v-validate="'required'">
                                        <option :value="null">Select Appeal Type</option>
                                        <option :value="appealType.id" v-for="appealType in appealTypes">{{ appealType.name }}</option>
                                    </d-form-select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div :class="[ 'form-group', errorBag.first('statement') ? 'is-invalid' : '']">
                                    <label>Statement</label>
                                    <textarea v-model="formData.statement" class="form-control"
                                        name="statement" 
                                        placeholder="Enter statement"
                                        v-validate="'required'"
                                        :rows="3"
                                        :max-rows="6">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </d-form>
                </d-modal-body>
                <d-modal-footer>                    
                    <d-btn :class="[ loading ? 'show-spinner' : '']" @click.prevent="validateBeforeSubmit">Request Appeal
                        <c-loader></c-loader>
                    </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>                
                </d-modal-footer>
            </div>
        </d-modal>
        <common-methods 
        @get-response="getAppealTypeResponse"
        :url="requestAppealTypeUrl"
        :infiniteLoad="false"
        :hideLoader="true">
        </common-methods>

        <common-methods
        @get-response="getAppealUpdateResponse"
        :url="requestAppealUpdateUrl"
        :infiniteLoad="false"
        :hideLoader="true">
        </common-methods>

        <common-methods 
        @form-submitted="formSubmitted"
        @form-error="formError"
        :submitUrl="submitUrl"
        :submit="submit"
        :formData="formData"
        :submitType="submitType"
        :hideLoader="true">
        </common-methods>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    export default{
        
        props: ['showModalProp'],
        
        data() {
            return {
                user: '',
                showModal: false,
                modalSize: 'sm',
                loading: false,
                submit: false,
                submitType: 'post',             
                successMessage: '',
                errorMessage: '',
                appealUpdateUrl: '',
                appealTypeUrl: 'api/appeal-type?is_archived=0',
                url: 'api/appeal',
                appealTypes: [],
                formData:{
                    appeal_type_id: null,
                    statement: '',
                    case_number: null,
                    case_id: null,
                    status: 'student_appeal'
                },
            }
        },
        computed:{
            requestAppealTypeUrl(){
                return this.appealTypeUrl;
            },
            submitUrl(){
                return this.url;
            },
            requestAppealUpdateUrl(){
                if(this.user){

                    if(this.appealUpdateUrl){
                        return this.appealUpdateUrl;
                    }else{
                        return 'api/appeal-update?case_id='+this.incidentCase._id+'&user_id='+this.user.id;            
                    }
                }
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            },
            incidentCase(){
                return this.$store.getters.getCaseData;
            }
        },
        mounted (){
            this.requestUrl = this.url;
            this.user = JSON.parse(this.$store.getters.getAuthUser);
        },
        methods: {
            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.formData.case_number = this.incidentCase.case_number;
                        this.formData.case_id = this.incidentCase._id;
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        return;
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },3000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            handleClick() {
                this.showModal = true;
            },
            handleClose() {
                this.showModal = false;
                this.$emit('hide-modal-value');
            },
            getAppealTypeResponse(response){
                if(Object.keys(response.data).length){
                    this.appealTypes = response.data;
                }
            },
            getAppealUpdateResponse(response){
                if(Object.keys(response.data).length){
                    var result = response.data;
                    this.formData.appeal_type_id = result.data.appeal_type_id;
                    this.formData.statement = result.data.statement;
                }
            },
            formError(response){

                let self = this;

                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                setTimeout(function(){
                    self.errorMessage = '';
                },3000);
            },
            formSubmitted(response){
                this.clearDetails(response);
                EventBus.$emit('activity-logs-unshift', {
                    tab: 'appeal',
                    log: {},
                    document: response.data.log,
                });
                this.$emit('form-submitted', response);
            },
            clearDetails(response){
                let self = this;
                setTimeout(function(){
                    self.handleClose();
                    self.loading = false;
                    self.successMessage = '';
                    self.formData =  {
                        appeal_type_id: response.data.document.data.appeal_type_id,
                        statement: response.data.document.data.statement,
                        status: 'student_appeal',
                    };
                } , 3000);
                this.successMessage = response.message;
                this.submit = false;
            }
        },
        
        watch: {
            showModalProp(value) {
                if(value) {
                    this.showModal = true
                }
                if(!value) {
                    this.showModal = false
                }
            }
        },
    }
</script>