<template>
    <div class="update-profile-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>Profile picture</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <d-form>
                    <div class="row">
                        <div class="col-md-12">
                            <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                {{ errorMessage ? errorMessage : successMessage }}
                            </d-alert>
                        </div>
                        <div class="col-md-12">
                             <div class="profile-picture" 
                                v-if="!newImage && userInfo.profile_image" 
                                v-bind:style="{ backgroundImage: `url('${userInfo.profile_image}')` }"></div>
                            <div class="profile-picture" v-if="newImage" v-bind:style="{ backgroundImage: `url('${newImage}')` }"></div>
                            <div class="profile-picture" v-if="!newImage && !userInfo.profile_image" v-bind:style="{ backgroundImage: `url('../images/dummy/image-placeholder.jpg')` }"></div>
                            
                        </div>
                        <div class="col-md-12">
                            <div class="file_upload_block">
                                <h5>Click here or drag &amp; drop photo here to upload</h5>
                                <p>Supported file formats are JPG, PNG, BMP</p>
                                <!--  <input type="file" name="upload_file"/> -->
                                <file-upload-component @get-response="getFileUploadResponse" @errorMessage="getError" :uploadKey="uploadKey" :class="[ loading ? 'disabled' : '', errorMessage ? 'disabled' : '']">
                                </file-upload-component>
                            </div>
                        </div>
                    </div>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary" @click="update()" :class="[ loading ? 'show-spinner' : '', errorMessage ? 'disabled' : '']">
                   <!--  <span> -->Submit<!-- </span> -->
                    <c-loader></c-loader>
                </d-btn>
               <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>
        <common-methods 
        @form-submitted="formSubmitted"
        @get-response="getResponse"
        @form-error="formError" 

        :submitUrl="url"
        :submitType="submitType"
        :formData="formData"
        :submit="submit"
        >
        </common-methods>
    </div>
</template>
<script>
export default {

    props: [
    'showModalProp',
    'info',
    'userDetail'
    ],
    mounted (){
        if(this.userDetail){
            this.userInfo = this.userDetail;
        }
    },
    data() {
        return {
            uploadKey: 'user',
            fileResponse:false,
            successMessage: '',
            errorMessage: '',
            showModal: false,
            modalSize: 'sm',
            url: 'api/user/',
            submit: false,
            submitType: 'post',
            loading: false,
            formData: {
                profile_image: ''
            },
            userInfo : '',
            newImage : '',
        }
    },
    computed: {
        submitUrl() {
            return this.requestUrl;
        },
        popupThemeValue() {
            if (this.errorMessage) {
                return 'danger';
            }
            if (this.successMessage) {
                return 'success';
            }
        }
    },

    methods: {
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.errorMessage='';
            this.showModal = false;
            this.newImage = '';
            this.$emit('hide-modal-value');
        },
        getFileUploadResponse(response) {
            let self = this;
            self.newImage = response.file_url;
            self.fileResponse = true;
        },
        getError(response) {
            let self = this;
            if(response = 'The file must be a file of type: jpeg, jpg, png.'){
                self.errorMessage = 'Uploaded file is not a valid image format.';
                
            }
            else{
                self.errorMessage = response;
            }
            setTimeout(function() {
                    self.errorMessage = '';
                }, 3000);
        },
        update() {
            let self = this;
            let method;
                if(!this.newImage){
                    this.newImage = this.userInfo.profile_image;
                }
            this.loading = true;
            method = this.$http.put(this.url + this.userInfo.id, { profile_image: this.newImage });
            method
                .then(response => {
                    self.successMessage = response.data.message;
                    setTimeout(function() {
                        self.loading = false;
                        self.successMessage = '';
                        self.userInfo.profile_image = self.newImage;
                        self.$emit('hide-modal-value');
                    }, 3000);

                })
                .catch(error => {
                    self.loading = false
                    self.errorMessage = error.response.data.message;
                    setTimeout(function() {
                        self.errorMessage = '';
                    }, 3000);
                })
        },
        getResponse(response) {
            if (Object.keys(response.data).length) {
                this.userInfo = response.data[0];

            }
        },
        formError(response) {
            this.submit = false;
        },
        formSubmitted(response) {
            this.clearDetails(response);
            this.$emit('form-submitted', response);
        },
        formUpdated(response) {
            this.clearDetails(response);
            this.$emit('form-updated', response);
        },

    },


    watch: {
        showModalProp(value) {
            if (value) {
                this.showModal = true
            }
            if (!value) {
                this.showModal = false;
                this.fileResponse = false;
            }

        },
        userDetail(value){
            this.userInfo = value;
        }

    },
}

</script>
