<template>
    <div class="close-case-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" role="dialog">
            <d-modal-header>
                <d-modal-title>{{ headerText }}</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <div class="row" v-if="list.role_id == STUDENT">
                    <div class="col-md-12">
                        <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show role="alert">

                            {{ errorMessage ? errorMessage : successMessage }}

                        </d-alert>
                    </div>
                    <div class="col-md-12">
                        <p class="modal-des">{{ bodyText }}</p>
                    </div>
                </div>
                <div class="row" v-if="list.role_id != STUDENT">
                    <!-- <div class="col-md-12" v-show="handledCases.length">
                        <p>{{getCaseStats}}</p>
                    </div> -->

                    <div class="col-md-12" v-if="noCasesFound || handledCases.length">
                        <p class="modal-des">{{ bodyText }}</p>
                    </div>
                    <div class="col-md-12" v-if="handledCases.length">
                        <p class="modal-des"><i>The student is a case owner of following cases. Please change the case owner and try again</i></p>
                    </div>
                    <div class="col-md-12">
                        <div class="manage-listing scrollable height-normal pl-1">
                            <div v-for="handled_case in handledCases">
                                <d-card>
                                    <d-card-body>
                                        <div class="prifile-img"  v-bind:style="{'background-image' : 'url('+getReporterImage(handled_case)+')',}"></div>
                                        <div class="profile-content" >
                                            <label @click="onCaseClick(handled_case._id, 'employee')" style="cursor: pointer;">
                                            {{handled_case.type == 'case'? 'Case' : "IR"}} #: {{handled_case.case_number}}</label>
                                            <p>{{handled_case.status}}</p>
                                        </div>
                                        <span class="action-panel">
                                            <i class="icon-keyboard_arrow_right"></i>
                                        </span>
                                    </d-card-body>
                                </d-card>
                            </div>
                            <common-methods 
                            :url="handleCasesUrl"
                            @get-response="getHandleCasesUrlResponse"
                            >   
                            </common-methods>
                        </div>
                    </div>
                </div>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary" @click.prevent="onConfirm()" :class="[ loading ? 'show-spinner' : '']"
                :disabled="!noCasesFound && list.role_id != STUDENT"
                >
                    <span>Confirm</span>
                    <c-loader></c-loader>
                </d-btn>
                <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    export default{
        
        props: ['showModalProp', 'type', 'list'],
        
        data() {
            return {
                showModal: false,
                modalSize: 'sm',
                errorMessage : '',
                successMessage : '',
                headerText : '',
                handleCasesUrl : null,
                handledCases: [],
                bodyText : '',
                url: 'api/incident-case/',
                dataUrl: 'api/incident-case/',
                loading:false,            
                submitType : 'put',
                submit : false,
                SUPERADMIN: 1,
                INCIDENTTYPEADMIN: 2,
                INCIDENTTYPEOFFICER: 3,
                STAFF: 4,
                STUDENTSTAFF: 5,
                STUDENT: 6,
                ORGANIZATION: 7,
                totalHandledCases: 0,
                noCasesFound: false,
            }
        },
        computed : {
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
        
        methods: {
            handleClick() {
                this.showModal = true
            },
            handleClose() {
                this.showModal = false;
                this.handleCasesUrl = false;
                this.handledCases = [];
                // this.$emit('refresh-list', false);
                this.$emit('hide-modal-value', false, 'student');
            },
            onConfirm(){
                var self = this;
                let url = "api/user/" + this.list.id;
                this.loading = true;
                var role = '';
                if(this.list.role_id == this.STUDENT) {
                    role = this.STUDENTSTAFF;
                }else {
                    role = this.STUDENT;
                }
                var data = {
                    "role_id": role
                };
                self.$http.put(url, data).then(response => {
                    response = response.data.data;
                    self.successMessage = response.message;
                    self.$emit('refresh-list', true);
                    setTimeout(function() {
                        self.loading = false;
                        self.handleClose();
                    }, 2000);
                }).catch(error => {
                    error = error.response.data;
                    let errors = error.errors;
                    this.loading = false;
                });
            },
            getHandledCases() {
                this.handleCasesUrl = "api/incident-case?pagination=true&status=active&assigned_to="+this.list.id+"&user_id=" + this.list.id;
            },
            getHandleCasesUrlResponse(response) {
                if(Object.keys(response.data).length){
                    for (var i = 0; i < response.data.length; i++) {
                        this.handledCases.push(response.data[i]);
                    }
                }
                this.totalHandledCases = typeof(response.pagination) != "undefined"? response.pagination.total : 0;
                this.noCasesFound = response.noRecordFound;
            },
            getReporterImage(involvedParties) {
                var user = typeof(involvedParties.assigned_to_user)!="undefined"?involvedParties.assigned_to_user:"";
                return user? user.profile_image : this.dummyImage;
            },
            onCaseClick(id, type) {
                if(type == 'student') {
                    if(this.loginUser.role_id != this.STUDENTSTAFF) {
                        let routeData = this.$router.resolve({ name: 'incident-case.view', params: {id: id} });
                        window.open(routeData.href, '_blank');
                    }
                }else {
                    let routeData = this.$router.resolve({ name: 'incident-case.view', params: {id: id} });
                    window.open(routeData.href, '_blank');
                }
            },
        },
        
        watch:{
            showModalProp(value) {
                if(value){
                    this.showModal = true
                }
                if(!value){
                    this.showModal = false
                }
            },
            type(val) {
                if(val == 'student') {
                    this.headerText = 'Convert Student to Student Staff';
                    this.bodyText = 'Are you sure you want to assign the Student Staff role to this user?';
                }else {
                    this.headerText = 'Convert Student Staff To Student';
                    this.bodyText = 'Are you sure you want to remove the Student Staff role of this student?';
                    this.getHandledCases();
                }
            }
        },
    }
</script>
