<template>
    <div class="view-special-code-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose" ok-only>

            <d-modal-header>
                <d-modal-title>Special Code</d-modal-title>
            </d-modal-header>

            <d-modal-body>
                <d-form>
                    <div class="row">

                        <div class="col-md-12 view-special-code-text">

                            <p>[[SENDER_FULL_NAME]]</p>
                            
                            <p>[[RECEIVER_FULL_NAME]]</p>

                            <p>[[CASE_REPORTER_FULL_NAME]]</p>

                            <p>[[CASE_NUMBER]]</p>

<!--                             <p>[[CASE_URL]]</p>
 -->
                            <p>[[CURRENT_TIME]]</p>

                            <p>[[INCIDENT_NAME]]</p>
                            
                            <p>[[EXPECTED_CLOSE_DATE]]</p>
                            
                            <p>[[UNIVERSITY_NAME]]</p>
                            
                            <p>[[INCIDENT_DATE]]</p>

                            <p>[[INCIDENT_REPORTED_DATE]]</p>

                            
                            <br>
                        </div>
                        

                    </div>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn theme="primary" @click="handleClose">Cancel </d-btn>
            </d-modal-footer>
        </d-modal>
    </div>
</template>
<script>
export default{
    props: ['showModalProp'],
    data() {
        return {
            showModal: false,
            modalSize: 'md',
        }
    },
    methods: {
        handleClick() {
            this.showModal = true;
        },
        handleClose() {
            this.showModal = false;
            this.$emit('hide-modal-value');
        }
    },
    watch: {
        showModalProp(value) {
            if(value) {
                this.showModal = true
            }
            if(!value) {
                this.showModal = false
            }
        }
    },
}
</script>