<template>
    <div class="view-all-listing-popup">
        <d-modal v-if="showModal" size="lg" @close="handleClose" role="dialog">
            <d-modal-header>
            </d-modal-header>
            <d-modal-body>
                <div class="scrollable" id="style-2">
                    <div class="case-body">
                        <div class="caseTableBlock">
                            <div class="table table-lite top-left-radius pl-thead-0 incidentReportTable">
                                <table class="table mb-0 ">
                                    <thead class="bg-light case-thead-widget">
                                        <tr class="thead-with-icon">
                                            <th
                                            scope="col">
                                            {{ popupTitle.columnTitle }}
                                        </th>

                                        <th
                                        scope="col">
                                        {{ popupTitle.valueTitle }}
                                    </th>

                                </tr>
                            </thead>
                            <tbody class="case-tbody-widget">
                                <tr v-for="(item, index) in items"
                                :key="index">
                                <td class="color-pallet">
                                    <div class="color-ico-pallet"
                                    v-bind:style="{'background-color' : ''+ colorCodes[index] +''}">
                                </div>
                                <span> {{ item.name | | tableWidgetKeyValue }} </span>
                            </td>
                            <td>
                                <span> {{ item.total_value < 1 ? 0 : item.total_value }} </span>
                                <span v-if="compare"> vs </span>
                                <span v-if="compare">{{ item.previous_total_value ? item.previous_total_value : 0 }}</span>
                                <span v-if="compare">{{ item | calculatePercentageDiff }}</span>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <common-methods
                :url="requestUrl"
                @get-response="getResponse"
                >
                </common-methods>


        </div>
    </div>
</div>
</div>
</d-modal-body>
</d-modal>

</div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default{
        props: [
        'showModalProp',
        'popupTitle',
        'url',
        'compare'
        ],

        computed : {
            requestUrl(){
                if(this.url){
                    return this.url+'&pagination=0';
                }
            },

            ...mapGetters('reports', {
                colorCodes: "getColors",
            }),

        },
        watch : {
            url(value){
                this.items = [];
            },      
            showModalProp(value) {
                if(value) {
                    this.showModal = true
                }
                if(!value) {
                    this.showModal = false
                }
            },
            compare(value){
                
            }

        },
        data() {
            return {
                noRecordFound : false,
                pagination : '',
                showModal: false,
                modalSize: 'lg',
                items : []
            }
        },
        methods: {
            getResponse(response){
                this.items = [];
                this.items = response.data;
                this.noRecordFound = response.noRecordFound;
                this.pagination = response.pagination;
            },
            handleClick() {
                this.showModal = true;
            },
            handleClose() {
                this.items = [];
                this.showModal = false;
                this.$emit('hide-modal-value');
            }
        },
    }
</script>