<template>
    <div class="activities-section w-100">
        <div class="activitylist">
            <ul class="convert-tabs convert-tabs-desktop" @click="dropDownEvent" role="tablist">
                <li
                    v-for="(activity, index) in activityList"
                    :key="index"
                    role="presentation"
                    :class="{ 'active': activitySelected === activity.name }"
                    >
                    <a 
                        href="javascript:void(0);"
                        role="tab"
                        @click="activitySelected = activity.name;
                        $emit('changed-activity-tabs' , activity.name)"
                        v-show="tabsOptions">
                        {{ activity.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            activitySelected: 'All',
            tabsOptions:false,
            activityList:[
                { name: 'All'},
                { name: 'Case Details'},
                { name: 'Notes'},
                { name: 'Files'},
                { name: 'Emails'},
                { name: 'Meetings'},
                // { name: 'Checklist'},
                { name: 'Sanction'},
                { name: 'Appeal'},
            ],
        }
    },
   methods: {
        dropDownEvent(){
            this.tabsOptions = !this.tabsOptions;
        }
    },    
}
</script>