<template>
    <div class="conduct-incident-side-panel-area">

        <!-- Content placeholder -->

        <content-placeholder v-if="!incidentCase"></content-placeholder>

        <!-- Content placeholder -->
        <div v-else>
            <div v-if="incidentCase" class="card-heading">
                <h2>{{ incidentCase.type == 'ir' ? 'IR' : 'Case' }} # {{ incidentCase.case_number }}</h2>
                <p>Incident type
                    <strong v-if="incidentCase && incidentCase.incident_type.parent.name">{{ incidentCase.incident_type.parent.name }} , {{ incidentCase.incident_type.name  }} </strong>
                    <strong v-if="incidentCase && !incidentCase.incident_type.parent.name">
                    {{ incidentCase.incident_type.name  }} </strong>

                </p>
            </div>
            <div class="inner-content">
                <div id="style-2" class="scrollable">
                    <case-owner :incidentCase="incidentCase"></case-owner>


                    <div v-if="incidentCase && authUser && incidentCase.reported_by == authUser.id" class="report-stage stage-block">
                        <h3>Reported by</h3>
                        <div class="list-profile-view">
                            <div v-if="incidentCase && incidentCase.reported_by && incidentCase.reported_by_user.profile_image" v-bind:style="{'background-image' : 'url('+incidentCase.reported_by_user.profile_image+')',}" class="image-block">
                            </div>
                            <div v-else v-bind:style="{'background-image' :  `url('../images/dummy/user-placeholder.svg')`,}" class="image-block">
                            </div>
                            <div class="profile-detail">
                                <h4>
                                    <li v-if="incidentCase && incidentCase.reported_by">
                                        {{ incidentCase.reported_by_user | fullName }}
                                    </li>
                                    <li v-if="incidentCase && !incidentCase.reported_by">
                                        {{ incidentCase.background_info.full_name }}
                                    </li>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <involved-parties 
                    :showIcons="false"
                    v-if="incidentCase && authUser && incidentCase.reported_by == authUser.id"
                    :involvedParties="involvedParties">
                    </involved-parties>



            </div>
        </div>
    </div>
</div>
</template>


<script>
    export default{

        data () {
            return {
            }
        },
        methods: {

        },
        computed : {
            involvedParties(){
                return this.$store.getters.getCaseData ? this.$store.getters.getCaseData.involved_parties_details : [];
            },
            authUser(){
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            incidentCase(){
                return this.$store.getters.getCaseData;
            }
        }

    }
</script>
