<template>
    <div>
        <div id="style-2" class="left-side-nav scrollable">
            <left-nav-student
                :disableAppealPopup="disableAppeal"
                @student-sanctions-popup="studentSanctionsPopup = true"
                @student-appeals-popup="studentAppealsPopup = true"
                @modify-details="modifyDetails"
            > 
        </left-nav-student>
    </div>
    <div class="conduct-incident-side-panel-container student-detail-sidebar">
        <student-portal-sidebar></student-portal-sidebar>
    </div>

    <div class="case-detail-wrapper student-wrapper">
        <case-activities></case-activities>        
    </div>




    <student-sanctions-popup
    :showModalProp="studentSanctionsPopup"
    @hide-modal-value="closeAllPopup"
    @disable-appeal-popup="disableAppealPopup">
</student-sanctions-popup>

<student-appeals-popup
:showModalProp="studentAppealsPopup"
@hide-modal-value="closeAllPopup">
</student-appeals-popup>


<common-methods 
:url="requestUrl"
@get-response="getResponse"
:force="force"
:hideLoader="true"
>   
</common-methods>


</div>
</template>


<script>
    export default{
        data() {
            return {
                url: 'api/incident-case/',        
                activitySelected: 'All',
                studentSanctionsPopup: false,
                studentAppealsPopup:false,
                force : false,
                incidentCase: {},
                disableAppeal: '',
            }
        },
        computed: {
            requestUrl(){
                if(this.$route.params){
                    return this.url + this.$route.params.id;
                }
            },
        },
        methods:{
            getResponse(response) {
                this.force = false;
                if(Object.keys(response.data).length) {
                    this.$store.commit('setCaseData', response.data);
                }
            },
            swicthTabsContent(tab){
                this.activitySelected = tab;
            },
            closeAllPopup(){
                this.studentSanctionsPopup= false;  
                this.studentAppealsPopup= false;  
            },
            sanctionAppeal(){
                this.studentSanctionsPopup= false;  
                this.studentAppealsPopup= true;    
            },
            disableAppealPopup(value){
                this.disableAppeal = value; 
            },
            modifyDetails(){
                var caseID = this.$router.currentRoute.params.id;              
                var routeName = typeof(this.$route.meta.modifyDetail) != "undefined"? this.$route.meta.modifyDetail : "student-portal-new-report.update";              
                this.$router.push({name: routeName, params: {id: caseID}});
            }
        },
    }
</script>