<template>
    <div class="add-building-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose">
            <div class="model-content-area">
                <d-modal-header>
                    <d-modal-title>{{currentItem ? 'Update' : 'Add'}} {{title | replaceSpecialCharacterWithSpace | toTitleCase }}</d-modal-title>
                </d-modal-header>
                <d-modal-body>
                    <d-form @submit.prevent="validateBeforeSubmit">
                        <div class="row">
                            <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>

                                    {{ errorMessage ? errorMessage : successMessage }}

                                </d-alert>
                            </div>
                            <div class="col-md-12">
                                <div :class="[ 'form-group' , errorBag.first(title+' title')  ? 'is-invalid' : '']">
                                    <label>{{title | replaceSpecialCharacterWithSpace | toTitleCase }} {{ title=='hearing location'? '' : 'Title'}}</label>
                                    <d-input v-validate="'required|max:50'" :name="title+' title'" v-model="formData.name" :placeholder="'Enter '+placeHolder | replaceSpecialCharacterWithSpace | toTitleCase" />
                                </div>
                            </div>
                            <div class="col-md-12" v-if="title == 'sanction'">
                                <div :class="[ 'form-group' , errorBag.first('description')  ? 'is-invalid' : '']">
                                    <label>Description</label>
                                            <textarea 
                                            class="form-control"
                                            v-model="formData.description"
                                            v-validate="'max:500'"
                                            data-vv-name="description"
                                            :class="[errorBag.first('description') ? 'is-invalid' : '']"
                                            placeholder="Enter description" rows="3" cols="6">
                                            {{ formData.statement }}     
                                        </textarea>
                                </div>
                            </div>
                        </div>
                    </d-form>
                </d-modal-body>
                <d-modal-footer>
                    <d-btn @click.prevent="validateBeforeSubmit" :class="[ loading ? 'show-spinner' : '']">
                        <span v-if="!loading">{{currentItem ? 'Update' : 'Submit'}}</span>
                        <c-loader></c-loader>
                    </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
                </d-modal-footer>
            </div>
        </d-modal>


        <common-methods 

        @form-submitted="formSubmitted"
        @form-error="formError"
        @form-updated="formUpdated"

        :submitUrl="submitUrl"
        :submit="submit"
        :formData="formData"
        :submitType="submitType"
        >

    </common-methods>

</div>
</template>

<script>
    export default{

        props: [
        'showModalProp',
        'title',
        'description',
        'url',
        'currentItem',
        'placeHolder'
        ],
        
        data() {
            return {
                errorMessage : '',
                successMessage : '',
                showModal: false,
                modalSize: 'sm',
                formData : {
                    name : '',
                    modify_name: true
                },
                submit : false,
                loading : false,
                submitType : 'post',
                requestUrl : ''
            }
        },
        mounted (){
            this.requestUrl = this.url;
        },
        computed : {
            submitUrl(){
                if(this.$route.name == 'configuration-buildings'){
                    this.formData.is_building = 1;
                }
                return this.requestUrl;
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
        methods: {
            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        return;
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },5000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            handleClick() {
                this.showModal = true;
            },
            handleClose() {
                this.showModal = false;
                this.formData = {
                    name : ''
                };
                this.loading = false;
                this.successMessage = '';
                this.errorMessage = '';
                this.$emit('hide-modal-value');
            },
            formError(response){

                let self = this;

                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                setTimeout(function(){
                    self.errorMessage = '';
                },5000);
            },
            formSubmitted(response){
                this.clearDetails(response);
                this.$emit('form-submitted', response);
            },
            formUpdated(response){
                this.clearDetails(response);
                this.$emit('form-updated' , response);
            },
            clearDetails(response){

                let self = this;
                setTimeout(function(){
                    self.handleClose();
                    self.showModal = false;
                    self.loading = false;
                } , 2000);
                this.successMessage = response.message;
                this.submit = false;
            }
        },
        
        watch: {
            url (value){
                this.requestUrl = value;
            },
            showModalProp(value) {
                if(value) {
                    this.formData = {
                        name : '',
                        modify_name: true
                    };
                    this.showModal = true
                }
                if(!value) {
                    this.showModal = false
                }
            },
            currentItem(value){
                if(value){
                    this.requestUrl = this.url + '/' + value.id;
                    this.formData = JSON.parse(JSON.stringify(value))
                    this.formData.modify_name = true;
                    this.submitType = 'update';
                }else{
                    this.submitType = 'post';
                    this.requestUrl = this.url;
                }
            }
        },
    }
</script>