<template>
    <div style="display: block; position: relative;" class="loader-sm block-loader">
        <div class="button-loader">
            <div class="loader">Loading...</div>
        </div>
    </div>
</template>