<template>


    <div class="case-stage stage-block">
        <h3>Case Owner</h3>
        <div class="list-profile-view">
            <div v-if="incidentCase.assigned_to_user"
                v-bind:style="{'background-image' : 'url('+incidentCase.assigned_to_user.profile_image+') , url(../images/dummy/user-placeholder.svg)',}"
                class="image-block">
            </div>
            <div v-else
                v-bind:style="{'background-image' :  `url('../images/dummy/user-placeholder.svg')`,}" 
                class="image-block">
            </div>
        <div class="profile-detail">
            <h4 v-if="!incidentCase.assigned_to_user">NOT ASSIGNED</h4>
            <h4 v-if="incidentCase.assigned_to_user">{{ incidentCase.assigned_to_user | fullName }}</h4>
        </div>
    </div>
</div>


</template>

<script>
    export default{
        props : ['incidentCase']
    }
</script>