<template>
    <v-app id="app" v-cloak>
                <ds-calendar-app ref="app"
                    :calendar="calendar"
                    :read-only="readOnly"
                    @change="saveState">
                    <template slot="eventPopover" slot-scope="slotData">
                        <ds-calendar-event-popover
                            v-bind="slotData"
                            :read-only="readOnly"
                            @finish="saveState">
                        </ds-calendar-event-popover>
                    </template>
                    <template slot="eventCreatePopover" slot-scope="{placeholder, calendar, close}">
                        <ds-calendar-event-create-popover
                            :calendar-event="placeholder"
                            :calendar="calendar"
                            :close="$refs.app.$refs.calendar.clearPlaceholder"
                            @create-edit="$refs.app.editPlaceholder"
                            @create-popover-closed="saveState">
                        </ds-calendar-event-create-popover>
                    </template>                    
                </ds-calendar-app>
            </v-app>
</template>
<script>
import { Calendar, Weekday, Month } from 'dayspan';
import Vue from 'vue';
export default {
    name: 'app',
    props: ['data'],
    data: () => ({
        storeKey: 'dayspanState',
        calendar: Calendar.weeks(),
        readOnly: true,
        defaultEvents: this.data
    }),
    mounted(){
        window.app = this.$refs.app;
        this.defaultEvents = this.data;
        this.loadState();
        
    },
    methods:
    {
        saveState()
        {
            let state = this.calendar.toInput(true);
            let json = JSON.stringify(state);
            localStorage.setItem(this.storeKey, json);
        },
        loadState() {
            let state = {};
            // sample format
            // this.defaultEvents = [
            // {
            //     data: {
            //         busy: true,
            //         calendar: "",
            //         color: "#3F51B5",
            //         description: "",
            //         forecolor: "#ffffff",
            //         icon: "",
            //         location: "",
            //         title: "Weekly Meeting",
            //     },
            //     schedule: {
            //         times: ["00"],
            //         duration: 30,
            //         durationUnit: "minutes",
            //         dayOfWeek: [0, 1, 2, 3, 4, 5],
            //         // weekspanOfMonth: [4],
            //         month: [1, 2],
            //     }
            // }
            // ];
            state.events = this.defaultEvents;
            state.events.forEach(ev => {
                    let defaults = this.$dayspan.getDefaultEventDetails();
                    ev.data = Vue.util.extend( defaults, ev.data );
                });
                this.$refs.app.setState( state );
            }
        },
        watch: {
            data(val) {
                this.defaultEvents = val;
                this.loadState();
            }
        }
    }
</script>
<!-- <script>
import { Calendar, Weekday, Month } from 'dayspan';
export default {
    props: ['showModalProp','showAdditional'],
    name: 'app',
    data() {
        return {           
            postName:'Lori Garza',
            postDescription:'The first time he walked into class late (January 7) he was talking on his Phone and finished his call just as he sat down on a chair in the back of the classroom. When he entered, I had to stop lecturing and the entire class followed john as he walked to the back of the room. He was smiling when he sat down. I asked the class to return their attention to me. I didn’t say anything to Laura at that time.',
            showModal: false,
            studentName: 'Laura Payne',
            tabData: 'profile_details',
            additionalDetails: 'goback',
            modalSize: 'md',
            activitySelected: 'Profile Details',
            // Class Schedule Calendar
            storeKey: 'dayspanState',
            calendar: Calendar.weeks(),
            readOnly: true,
            activityList: [
                { name: 'Profile Details'},
                { name: 'Contact Details'},
                { name: 'Class Schedule'},
                { name: 'Prior Cases'},
                { name: 'Notes'},
            ],
            listing: [
                {
                    image: '/images/avatars/image5.png',
                    name: 'Case #: 298',
                    content: 'Affected / Victim',
                },
                {
                    image: '/images/avatars/image.png',
                    name: 'Case #: 142',
                    content: 'Witness',
                },
            ],
            detailLists:[
                {
                    name: 'Parental Occupation:',
                    descriptions: 'Doctor',
                },
                {
                    name: 'Mother Tongue:',
                    descriptions: 'French',
                },
                {
                    name: 'Custom Field:',
                    descriptions: 'Custom Field Value',
                },
            ],
            lists: [
                {
                    name: 'Student Number:',
                    descriptions: '138962',
                },
                {
                    name: 'First Name:',
                    descriptions: 'Laura',
                },
                {
                    name: 'Last Name:',
                    descriptions: 'Payne',
                },
                {
                    name: 'Middle Name:',
                    descriptions: 'Klingeisen',
                },
                {
                    name: 'Date of Birth:',
                    descriptions: 'September 12, 2002',
                },
                {
                    name: 'Gender:',
                    descriptions: 'Female',
                },
                {
                    name: 'Preferred first name:',
                    descriptions: 'Laura',
                },
                {
                    name: 'Person Type:',
                    descriptions: 'Motivated',
                },
                {
                    name: 'Class Stutas:',
                    descriptions: 'Non-matriculated',
                },
                {
                    name: 'Student Status:',
                    descriptions: 'Full time',
                },
                {
                    name: 'Major:',
                    descriptions: 'English Lecturer',
                },
                {
                    name: 'Credit Hours Semester:',
                    descriptions: '12',
                },
                {
                    name: 'Credit Hours Cumulative:',
                    descriptions: '45',
                },
                {
                    name: 'GPA:',
                    descriptions: '2.8',
                },
                {
                    name: 'Ethnicity:',
                    descriptions: 'Brown',
                },
                {
                    name: 'Holds:',
                    descriptions: '-',
                },
                {
                    name: 'Room Assignment:',
                    descriptions: '32 B, Building 5',
                },
                {
                    name: 'Roommate(s):',
                    descriptions: 'Christine Dixon, Shirley Burke',
                },
            ],
        }
    },
    mounted(){
        window.app = this.$refs.app;
        this.loadState();
    },
    methods: {
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.showModal = false;
            this.$emit('hide-modal-value');
        },
        saveState()
        {
            let state = this.calendar.toInput(true);
            let json = JSON.stringify(state);
            localStorage.setItem(this.storeKey, json);
        },
        loadState() {
            let state = {};
            try {
                let savedState = JSON.parse(localStorage.getItem(this.storeKey));
                    if (savedState)
                    {
                        state = savedState;
                        state.preferToday = false;
                    }
                }
            catch (e) {
                // eslint-disable-next-line
                console.log( e );
            }
            if (!state.events || !state.events.length) {
                state.events = this.defaultEvents;
            }
            state.events.forEach(ev => {
                    let defaults = this.$dayspan.getDefaultEventDetails();
                    ev.data = Vue.util.extend( defaults, ev.data );
                });
                this.$refs.app.setState( state );
            }
    },
    watch: {
        showModalProp(value) {
            if(value){
                this.showModal = true
                this.tabData = 'profile_details';
                this.additionalDetails = 'goback';
            }
            if(!value){
                this.showModal = false
            }
        },
        showAdditional(value){
            if(value){
                this.showModal = true;
                this.tabData = 'additional_details';
                this.additionalDetails = 'modify';
            }
            if(!value){
                this.showModal = false;
            }
        }
    },
};
</script>
 -->