    <template>
        <div 
        class="main-navbar sticky-top bg-white"
        v-bind:class="{ active: activeClassElm }">
        <div class="main-navbar-inner">
            <div class="mobile-menu-icon" @click="mobileIconEvent">
                <i class="icon-list111"></i>                
            </div>            
            
            <!-- Logo -->

            <div class="logo float-left">
                <div>
                    <router-link class="logo main-logo" to="/">
                        <img :src="mainLogo">
                    </router-link>
                </div>
            </div>

            <div class="logo float-left">
                <c-logo></c-logo>
            </div>

            <!-- Top Right Options -->
            <div class="top-right-options user-profile-info-options"
            v-bind:class="{ active: isActive }">
            <user-profile
            @update-profile-popup="getUserinfo"
            @contact-support-popup="contactSupportPopup = true"
            v-bind:class="{ active: isActive }">
            </user-profile>
    </div>

    <!-- Top Main Navigation -->
    <div class="top-right-options top-categories"
    v-bind:class="{ active: isActive }" @click="isActive = false"
    > 
    <c-navigation></c-navigation>
</div>
</div>

<!-- Update Profile Popup -->
<update-profile-popup
:userDetail="userDetail"
:showModalProp="updateProfilePopup"
@hide-modal-value="closeAllPopup" >
</update-profile-popup>

<!-- Contact Support Popup -->
<contact-support-popup
:showModalProp="contactSupportPopup"
@hide-modal-value="closeAllPopup">
</contact-support-popup>
<c-overlay v-show="showMobileOverlay"></c-overlay>
</div>
</template>

<script>
export default {
    data () {
        return {
            updateProfilePopup: false,
            contactSupportPopup: false,
            userDetail : '',
            isActive:false,
            showMobileOverlay:false,
            activeClassElm: false,
            mainLogo: '../images/logo-main.png',
        }
    },
    methods: {
        getUserinfo(response){
            this.updateProfilePopup = true;
                this.userDetail = response;
            },
            closeAllPopup(){
               this.updateProfilePopup = false;
               this.contactSupportPopup = false;
           },
           mobileIconEvent(){
            this.isActive = !this.isActive;
        },
    },
    computed : {
        user(){
            return JSON.parse(this.$store.getters.getAuthUser);
        },
    },
}
</script>
