<template>
    <div>
        <router-link class="logo" to="/">
            <img :src="getLogo">
        </router-link>
        <common-methods 
    @get-response="getResponse"
    :url="url"
    :hideLoader="true"
    >
    </common-methods>
</div>
</template>

<script>

export default {
    data: function() {
        return {
            url : 'api/display-setting',
            logo: ''
        }
    },
    methods : {
        getResponse(response){
            if(Object.keys(response.data).length){
                this.$store.commit('setDisplaySetting', response.data[0]);
            }
        },

    },
        computed : {
            getLogo(){
                if(this.$store.getters.getDisplaySetting){
                    document.querySelector(':root').style.setProperty('--primary-color', this.$store.getters.getDisplaySetting.primary_color);
                    document.querySelector(':root').style.setProperty('--secondary-color', this.$store.getters.getDisplaySetting.secondary_color);
                }
                return this.$store.getters.getDisplaySetting ? this.$store.getters.getDisplaySetting.logo : '';
            },
        },

    }
</script>
