<template>
    <div>
        <div v-if="!loaderSm" class="loader-wrapper">
            <div class="loader">Loading...</div>
        </div>

        <div v-if="loaderSm" class="loader-wrapper-sm">
            <div class="loader-sm">Loading...</div>
        </div>

    </div>
</template>

<script>

	export default {

		props: ['loaderSm'],

		data() {
			return {
			}
		}

	}

</script>