<template>

    <div>
        <c-pagination 
        :showLoadMore="showLoadMore" 
        :direction="direction" 
        :infiniteLoad="infiniteLoad" 
        :loadingStart="loading" class="col-xs-12 col-md-12" 
        :loadingNotification="loadingForNotification" 
        @page-changed="getList" 
        :pagination="pagination" 
        :paginationText="paginationText"
        :hidePagination="hidePagination"
        >  
    </c-pagination>
</div>

</template>


<script>
    export default {
        props : [
        'url',
        'search',
        'infiniteLoad',
        'force',
        'formData',
        'submit',
        'submitUrl',
        'hideLoader',
        'trueLoader',
        'direction',
        'submitType',
        'showLoadMore',
        'paginationText',
        'hidePagination'
        ],
        data () {
            return {
                records : [],
                pagination : '',
                loading : false,
                loadingForNotification: false,
                noRecordFound : false,
            }  
        },
        mounted(){
            if(!this.infiniteLoad){
                this.getList(false);
            }
        },
        methods: {
            getList(page, successCallback){
                let self = this;    
                let url = self.url;
                if(!url){
                    return false;
                }

                let result = {
                    data : [],
                    noRecordFound : false
                };

                self.$emit('get-response', result);

                if(!this.hideLoader){
                    self.loading = true;
                }

                if(!this.trueLoader){
                    self.loadingForNotification = true;
                }

                url = self.url;

                self.$emit('start-loading');

                if(typeof(page) !== 'undefined' && page){
                    url += '&page='+page;   
                }

                if(self.loadingForNotification != false)
                {
                    this.pagination = ''; //imp
                }

                self.$http.get(url).then(response=>{

                    response = response.data;

                    let result = {
                        data : response.data,
                        noRecordFound : false,
                        pagination : response.pagination,
                        additionalData : response.additionalData
                    };

                    if(!response.data.length){
                        result.noRecordFound = true;
                    }

                    if(response.pagination){
                        result.noRecordFound = !response.pagination.total;
                    }

                    self.$emit('get-response', result);

                    self.pagination = response.pagination;


                    self.loading = false;
                    self.loadingForNotification = false;

                    if(typeof successCallback !== 'undefined'){
                        successCallback(true);
                    }


                }).catch(error=>{
                    console.log(error , 'exceptional handling error in generalize CommonMethods.vue@getList for url : '+this.url);


                    let result = {
                        data : [],
                        noRecordFound : false,
                        pagination : [],
                        status : error.status

                    };


                    self.$emit('get-response', result);

                    self.loading = false;
                });
            },
            submitForm(successCallback) {
                let self = this;
                let emitType = '';

                let url = self.submitUrl;
                let data = this.formData;
                var urlRequest = '';
                if(this.submitType){
                    urlRequest = '';
                    if(this.submitType == 'delete'){
                        emitType = 'form-deleted';
                        urlRequest = self.$http.delete(url);
                    }else if(this.submitType == 'update'){
                        emitType = 'form-updated';

                        urlRequest = self.$http.put(url, data);
                    }else{
                        emitType = 'form-submitted';
                        urlRequest = self.$http.post(url, data);
                    }
                }



                urlRequest.then(response => {
                    self.$emit(emitType, response.data);
                }).catch(error => {


                    if(typeof(successCallback) !== 'undefined'){
                        return successCallback(true);
                    }

                    console.log(error.response , 'exceptional handling error in generalize CommonMethods.vue@submitForm');
                    self.$emit('form-error', error.response.data);


                });

            },
        },
        watch:{
            url(val){
                this.url = val;
                this.getList();
            },
            force(value){
                if(value){
                    this.getList();
                }
            },
            submit(value){
                if(value && this.submitUrl){
                    this.submitForm();
                }
            },
            showLoadMore(value) {
            },
            infiniteLoad(value){
            }
        }
    }
</script>
