<template>

    <div>


        <common-listing
        
        :pageTitleProp="pageTitleProp"
        :tableTitleProp="tableTitleProp"
        :placeHolderProp="placeHolderProp"
        :params="params"
        :url="requestUrl"

        >

    </common-listing>


</div>


</template>

<script>
    export default{
        data(){
            return {
                pageTitleProp : '',
                placeHolderProp : '',
                tableTitleProp: '',
                url : '',
                params : {

                }
            }
        },
        mounted (){
            if(this.$route.meta.apiRoute){
                this.url = this.$route.meta.apiRoute;
                if(this.$route.meta.params){
                    this.params = this.$route.meta.params;
                }
            }
        },
        methods : {
            setPropValues(){
                if(this.$route.meta.componentName){
                    this.pageTitleProp = this.$route.meta.componentName;
                    this.placeHolderProp = this.$route.meta.tableTitle;
                    this.tableTitleProp = this.$route.meta.tableTitle;
                }
            }
        },
        computed : {
            requestUrl(){
                this.setPropValues();
                return 'api/'+this.url;
            }
        },
        watch: {
            '$route'(to, from) {
                if(this.$route.meta.apiRoute){
                    this.url = this.$route.meta.apiRoute;
                    if(this.$route.meta.params){
                        this.params = this.$route.meta.params;
                    }
                }
            }
        },   
    }
</script>