<template>

    <div>
        <!-- top section -->
        <div class="config-top">
            <div class="float-left filter-left">
                <h3>{{ pageTitle | replaceSpecialCharacterWithSpace | toTitleCase }}</h3>
            </div>
            <div class="float-right">
                <div class="filter-tabs itypes-filter-btns">
                    <div class="btn-group mob-btn-group">
                        <label class="btn btn-default" :class="[{active: listValue == 'active'}, {disabled: pageLoader}]">
                            <input 
                            v-model="listValue" 
                            type="radio" 
                            autocomplete="off"
                            name="filters"
                            value="active"
                            >
                            Active
                        </label>
                        <label class="btn btn-default" :class="[{active: listValue == 'archived'}, {disabled: pageLoader}]">
                            <input 
                            v-model="listValue" 
                            type="radio" 
                            autocomplete="off"
                            name="filters"
                            value="archived"
                            >
                            Archived
                        </label>
                    </div>
                </div>
                <!-- theme="secondary add-itype-btn" -->
                <d-button theme="secondary" @click="showAddModal()/*showModal = true*/; currentItem ='';">+ Add {{ tableTitle | replaceSpecialCharacterWithSpace | toTitleCase }}</d-button>
            </div>
        </div>
        <!-- LIsting -->
        <div class="table table-lite top-left-radius pl-thead-0">
            <table class="table mb-0 conduct-incident-list-tb">
                <thead class="bg-light">
                    <tr class="thead-with-icon">
                        <th
                        v-for="(itemHeader, index) in itemHeaders"
                        scope="col"
                        :key="index"
                        :class="{ 'text-center': index === 0 }" >
                        {{ itemHeader | replaceSpecialCharacterWithSpace | toTitleCase}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                v-for="(item, index) in items"
                :key="index">
                <td class="case-num-colmn text-center" width="130">
                    {{ index+1 }}
                </td>
                <td>{{ item.name }}</td>
                <td v-if="$route.name == 'configuration-buildings'">{{ item.parent.name }}</td>
                <td v-if="$route.name == 'configuration-specific-locations'">{{ item.parent.name }}</td>
                <td v-if="$route.name == 'configuration-board-member-types'">
                    <span v-if="item.users.length == 0">
                        -
                    </span>
                    <span v-if="item.users.length <= 1" 
                        v-for="(user, index) in item.users">
                        {{ user }}
                    </span>
                    <p class="cardview" 
                        v-if="item.users.length >= 2" >
                    <span>
                        {{ item.users[0] }},
                    </span>
                    <a class="moreitem scrollbar" id="style-2">
                        <span class="linked">{{item.users.length - 1}} More</span>
                        <div class="personare scrollbar" id="style-2">
                            <span v-for="per in startFrom(item.users, 1)">
                                {{per}}
                            </span>
                        </div>
                    </a>
                </p>
                </td>
                <td v-if="$route.name == 'configuration-hearing-types'">
                    <span v-if="item.board_member_types.length == 0">
                        -
                    </span>
                    <span v-if="item.board_member_types.length <= 1" 
                        v-for="(user, index) in item.board_member_types">
                        {{ user }}
                    </span>
                    <p class="cardview" 
                        v-if="item.board_member_types.length >= 2" >
                    <span>
                        {{ item.board_member_types[0] }},
                    </span>
                    <a class="moreitem scrollbar" id="style-2">
                        <span class="linked">{{item.board_member_types.length - 1}} More</span>
                        <div class="personare scrollbar" id="style-2">
                            <span v-for="per in startFrom(item.board_member_types, 1)">
                                {{per}}
                            </span>
                        </div>
                    </a>
                </p>
                </td>
                <td class="icon-actions icon-actions-config" :style="{width: $route.name == 'configuration-board-member-types'?'385px':'250px'}">
                    <a href="javascript:void(0);" 
                    role="button"
                    @click="currentItem=item;showAddModal()"> <i class="icon-edit"></i> <span>Modify</span></a>
                    <a href="javascript:void(0);" 
                    role="button"
                    @click="currentItem=item;showArchiveModal = true; archiveRecord = true" v-if="listValue == 'active'"> <i class="icon-archive"></i> <span>Archive</span></a>
                    <a href="javascript:void(0);" 
                    role="button"
                    @click="currentItem=item;showArchiveModal = true; archiveRecord = false" v-if="listValue == 'archived'"> <i class="icon-archive"></i> <span>Unarchive</span></a>
                    <a href="javascript:void(0);"
                    role="button"
                     @click="currentItem=item;showEmployeeModal()" v-if="$route.name == 'configuration-board-member-types'">
                        <i class="icon-employee1"></i><span>Employee</span></a>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <block-spinner v-show="pageLoader"></block-spinner> -->
</div>

<no-record-found class="fixRecord" v-if="noRecordFound"></no-record-found>
<common-methods 
    @get-response="getResponse"
    :url="requestUrl"
    :infiniteLoad="false"
    >
</common-methods>


<common-add-basic-popup 
    @form-submitted="reSendCall"
    @form-updated="reSendCall"
    @hide-modal-value="modalClosed"

    :currentItem="currentItem"
    :title="tableTitleProp | replaceSpecialCharacterWithSpace"
    :url="url"
    :description="pageTitle"
    :placeHolder="placeHolder"
    :showModalProp="showModal"
>

</common-add-basic-popup>
<add-building-popup 
        @form-submitted="reSendCall"
        @form-updated="reSendCall"
        @hide-modal-value="modalClosed"
        :currentItem="currentItem"
        :showModalProp="showBuildingModal"
        
        >
</add-building-popup>

<add-specific-location-popup 
        @form-submitted="reSendCall"
        @form-updated="reSendCall"
        @hide-modal-value="modalClosed"
        :currentItem="currentItem"
        :showModalProp="showSpecificLocationModal"
        
        >
</add-specific-location-popup>

<common-alert-popup

    @form-updated="reSendCall"
    @hide-modal-value="modalClosed"

    :title="archiveTitle"
    :description="archiveDescription"
    :placeHolder="placeHolder"
    :currentItem="currentItem"
    :url="archiveUrl"
    :showModalProp="showArchiveModal"
    :archiveRecord="archiveRecord"
    >
</common-alert-popup>

<add-board-members
    @form-submitted="reSendCall"
    @form-updated="reSendCall"
    @hide-modal-value="modalClosed"
    :currentItem="currentItem"
    :showModalProp="showMemberModal"
    >
</add-board-members>

<add-hearing-types-popup
    @form-submitted="reSendCall"
    @form-updated="reSendCall"
    @hide-modal-value="modalClosed"
    :currentItem="currentItem"
    :showModalProp="showHearingModal"
    >
</add-hearing-types-popup>
</div>

</template>

<script>
    export default{
        props : [
        'itemHeadersProp',
        'placeHolderProp',
        'pageTitleProp',
        'tableTitleProp',
        'params',
        'url',
        ],
        data(){
            return{
                pageTitle : '',
                placeHolder : '',
                itemHeaders : [
                'S.no',
                'Name',
                'Action'
                ],
                items : [],
                showModal : false,
                listValue : 'active',
                listUrl : '',
                currentItem : '',
                showArchiveModal : false,
                noRecordFound: false,
                pageLoader: true,
                archiveRecord: true,
                showBuildingModal: false,
                showSpecificLocationModal: false,
                tableTitle: '',
                boardMemberType : false,
                showMemberModal : false,
                showHearingModal : false,

            }
        },
        methods : {
            startLoading() {
            this.pageLoader = true;
        },
            getResponse(response){
                if(Object.keys(response.data).length){
                    for (var i = 0; i < response.data.length; i++) {
                        this.items.push(response.data[i]);
                    }
                }
                this.pageLoader = false;
                this.noRecordFound = response.noRecordFound;
            },
            modalClosed(){
                this.showModal = false;
                this.showArchiveModal = false;
                this.showBuildingModal = false;
                this.showSpecificLocationModal = false;
                this.showMemberModal = false;
                this.showHearingModal = false;
                this.currentItem ='';
            },
            formSubmitted(response){
                this.items.unshift(response.data);
            },
            reSendCall(){
                this.items = [];
                this.composeUrl();
            },
            composeUrl(archiveStatus){
                let archived = 0;
                this.listValue = 'active';
                if(archiveStatus  == 'archived'){
                    archived = 1;
                    this.listValue = 'archived';
                }

                let newDate  = new Date().getMilliseconds();
                this.listUrl = this.url + '?pagination=true&is_archived='+archived+'&time='+newDate+this.addCustomParams();

            },
            addCustomParams(){
                let customParamsString = ''
                if(this.params){
                    for (var k in this.params) {
                        if (this.params.hasOwnProperty(k)) {
                            customParamsString += '&'+k+'='+this.params[k];     
                        }
                    }
                    return customParamsString;
                }


            },
            showAddModal(){
                if(this.$route.name == 'configuration-buildings' ){
                    return this.showBuildingModal = true;
                }
                if(this.$route.name == 'configuration-specific-locations' ){
                    return this.showSpecificLocationModal = true;
                }
                
                if(this.$route.name == 'configuration-hearing-types'){
                    return this.showHearingModal = true;
                }
                return this.showModal = true;
            },
            showEmployeeModal(){
                if(this.$route.name == 'configuration-board-member-types'){
                    return this.showMemberModal = true;
                }
            },
            startFrom(arr, idx) {
               return arr.slice(idx)
            },
        },
        computed : {
            requestUrl(){
                return this.listUrl;
            },
            archiveUrl(){
                return this.url;
            },
            archiveTitle(){
                if(this.archiveRecord == false){
                    return 'Unarchive ' + this.tableTitle;
                }
                return 'Archive ' + this.tableTitle;
            },
            archiveDescription(){
                    if(this.archiveRecord == false){
                        return 'Are you sure you want to unarchive this item?';
                    }
                    return 'Are you sure you want to archive this item?';
            } 
        },
        watch :{
            listValue(value){
                this.items = [];
                this.composeUrl(value);
            },
            url(value){
                this.items = [];
                this.pageTitle = this.pageTitleProp;
                this.placeHolder = this.placeHolderProp;
                this.tableTitle = this.tableTitleProp;
                this.itemHeaders = [
                    'S.No',
                    this.tableTitle,
                    'Action'
                ];
                if(this.$route.name == 'configuration-buildings'){
                    this.itemHeaders = [
                        'S.No',
                        this.tableTitle,
                        'Parent Location',
                        'Action'
                    ];
                }
                if(this.$route.name == 
                    'configuration-specific-locations'){
                    this.itemHeaders = [
                        'S.No',
                        this.tableTitle,
                        'Parent ',
                        'Action'
                    ];
                }
                if (this.$route.name == 'configuration-board-member-types') {
                    this.boardMemberType = true;
                    this.itemHeaders = [
                        'S.No',
                        this.tableTitle,
                        'Employees',
                        'Action'
                    ];
                }
                if (this.$route.name == 'configuration-hearing-types') {
                    this.itemHeaders = [
                        'S.No',
                        this.tableTitle,
                        'Board Member Types',
                        'Action'
                    ];
                }

                this.listValue = 'active';
                this.composeUrl();
            },
            params(){
                this.items = [];
                this.pageTitle = this.pageTitleProp;
                this.placeHolder = this.placeHolderProp;
                this.tableTitle = this.tableTitleProp;
                this.itemHeaders = [
                    'S.No',
                    this.tableTitle,
                    'Action'
                ];
                if(this.$route.name == 'configuration-buildings' ){
                    this.itemHeaders = [
                        'S.No',
                        this.tableTitle,
                        'Parent Location',
                        'Action'
                    ];
                }
                if(this.$route.name == 'configuration-specific-locations'){
                    this.itemHeaders = [
                        'S.No',
                        this.tableTitle,
                        'Parent Building',
                        'Action'
                    ];
                }
                this.listValue = 'active';
                this.composeUrl();
            },

        }
    }
</script>