<template>

    <multiselect
    id="ajax"
    :placeholder="commonPlaceHolder"
    v-model="selectedValue"
    :track-by="selectOptions.track_by" 
    :label="selectOptions.label"
    open-direction="bottom"
    name="search"
    
    :options="options" 
    :custom-label="selectOptions.track_by == 'id' ||  selectOptions.track_by == 'email'? customLabel : caseCustomLabel" 
    :loading="loading"
    :searchable="true"
    :options-limit="300"
    :limit="20"
    :limit-text="limitText"
    :max-height="600"
    :internal-search="false"
    :showNoResults="false"
    :multiple="multiple"
    :taggable="tagging"
    @select="dispatchAction"
    @search-change="asyncFind"
    @tag="addTag"
    
    >
    <template  slot="singleLabel" slot-scope="props">
        <img v-if="selectOptions.track_by == 'id'" @error="imageLoadError" class="student-image student-image-float" :src="props.option.profile_image" alt="profile image">
        <span class="option__title student-name" v-if="selectOptions.track_by == 'id'">
            {{  props.option | fullName }}
        </span>
        <span class="option__title student-name" v-if="selectOptions.track_by == '_id'">
            {{ props.option.case_number }}
        </span>
        <span class="option__title student-name" v-if="selectOptions.track_by == 'email'">
            {{ props.option.email }}
        </span>
    </template>
    
    <template slot="option" slot-scope="props">
        <div class="user-options" style="height: 30px;">

            <img v-if="props.option.profile_image" @error="imageLoadError" class="student-image student-image-float" :src="props.option.profile_image" alt="profile image">

            <div class="option__desc">
                <span v-if="selectOptions.track_by == 'id'" class="option__title student-name-option">
                    {{ props.option | fullName }}
                </span>

                <span v-if="selectOptions.track_by == '_id'" class="option__title student-name-option">
                    Case # {{ props.option.case_number }}
                </span>
                <span v-if="selectOptions.track_by == 'email'" class="option__title student-name-option">
                    {{ props.option.email }}
                </span>

            </div>
        </div>
    </template>




</multiselect>



</template>

<script type="text/javascript">
import Multiselect from 'vue-multiselect'

export default{
    props : [
    'url',
    'multiple',
    'clearOptions',
    'searchOptions',
    'placeHolder',
    'tagging',
    'selected'
    ],
    components: { 
        Multiselect
    },
    data(){
        return {
            options : [],
            selectOptions : {
                'track_by' : 'id',
                'label' : 'first_name'

            },
            commonPlaceHolder: 'Start typing name',
            selectedValue : '',
            loading : false,
            clearOnSelect: false,
            keyword : false,
        }
    },
    mounted (){
        if(this.selected){
        this.selectedValue = this.selected;
        }

        if(this.searchOptions){
            this.selectOptions = this.searchOptions;
        }
        if(this.placeHolder){
            this.commonPlaceHolder = this.placeHolder;
        }
    },
    methods : {
        dispatchAction () {
            let self = this;
            setTimeout(function(){
                self.$emit('selected-value' , self.selectedValue);
            } , 100);

            setTimeout(function(){
                self.options = [];
            } , 500);

        },
        customLabel ({ first_name, middle_name, last_name, email }) {
            if(this.selectOptions.track_by == 'email'){
                return `${email}`
            }
            return `${first_name} ${middle_name} ${last_name}`
        },
        caseCustomLabel ({ case_number }) {
            return case_number;
        },
        addTag (newTag, selectedUser) {
            let self = this;
          const tag = {
            fullname: newTag,
            first_name: "",
            middle_name: "",
            last_name: "",
            profile_image: '../images/dummy/image-placeholder.jpg',
            email: newTag
        }
        this.options.push(tag);
 
        this.selectedValue.push(tag);        
        //setTimeout(function(){
                self.$emit('selected-value' , self.selectedValue);
          //  } , 100);
    },
    imageLoadError(event){
        event.target.src = "/images/dummy/image-placeholder.jpg";
    },

    asyncFind: _.debounce(function(query) {
        let self = this;
        query = query.trim(' ');

        this.keyword = query;

        if(!query || query.length < 2) {
            return;
        };

        let requestUrl = this.url ? this.url : 'api/user?ir-restrict=true';
        requestUrl += '&keyword=' + query;

        this.loading = true;
        this.$http.get(requestUrl).then(response => {
            response = response.data;
            if(response.data.length) {
                self.options = response.data;
            }else{
                self.options = [];
                this.loading = false;
                if(this.selectOptions.track_by != 'email' ){
                    response.data.error = 'No record found';
                }else{
                    response.data.error = '';
                }

                let errors = response.data.error;

                self.$toasted.show(errors, {
                    theme: "bubble",
                    position: "bottom-right",
                    duration : 3000,
                    type: ['error'],
                    singleton: true,
                    icon : '',
                    className: 'error-toast alert-danger'
                })
                return false

                response.data.errors = []

                return Promise.reject(error);
            }
            this.loading = false;
        }).catch(error=>{
            this.loading = false;
            self.options = [];
            console.log(error , "Error in file CommonMutliSelect.vue");
        });
    }, 1000),
    limitText (count) {
        return `and ${count} other users`
    },
},
watch: {
    searchOptions(value){
        this.selectOptions = value
    },
    selected(value){
        this.selectedValue = value
    },
    placeHolder(value){
        this.commonPlaceHolder = value
    },
    clearOptions(value){
        if(value){
            this.selectedValue = '';
            this.options = [];
        }
    },
    selectedValue(value){
        if(value != null && !value.length){
            this.options = [];
        }
        this.$emit('selected-value' , this.selectedValue);
    },
}
}

</script>