<template>
    <div class="close-case-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose" :no-close-on-backdrop="true">
            <div class="model-content-area">
                <d-modal-header>
                    <d-modal-title>{{title | replaceSpecialCharacterWithSpace | toTitleCase}} </d-modal-title>
                </d-modal-header>
                <d-modal-body>
                    <d-form>
                        <div class="row">
                            <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>

                                    {{ errorMessage ? errorMessage : successMessage }}

                                </d-alert>

                            </div>
                        </div>
                    </d-form>
                    <p class="modal-des">{{description}}</p>
                </d-modal-body>
                <d-modal-footer>
                    <d-btn  @click="archive" :class="[ loading ? 'show-spinner' : '']">
                        <c-loader></c-loader>
                        <span>Confirm</span>
                    </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
                </d-modal-footer>
            </div>
        </d-modal>
        <common-methods 
        @form-updated="formUpdated"
        @form-error="formError"

        :submitUrl="submitUrl"
        :submit="submit"
        :formData="formData"
        :submitType="submitType"
        >
    </common-methods>
    </div>
</template>

<script>
    export default{
        
        props: [
        'showModalProp',
        'title',
        'description',
        'url',
        'currentItem',
        'archiveRecord'
        ],
        
        data() {
            return {
                errorMessage : '',
                successMessage : '',
                showModal: false,
                modalSize: 'sm',
                formData : {
                    is_archived: 0,
                    modify_name: false
                },
                submit : false,
                loading : false,
                submitType : 'post',
                requestUrl : ''
            }
        },
        mounted (){
            this.requestUrl = this.url;
        },
        computed : {
            submitUrl(){
                return this.requestUrl;
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
        methods: {
            handleClick() {
                this.showModal = true
            },
            handleClose() {
                this.showModal = false;
                this.loading = false;
                this.successMessage = '';
                this.errorMessage = '';
                this.$emit('hide-modal-value');
            },
            formError(response){

                let self = this;

                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                
            },
            formUpdated(response){
                this.clearDetails(response);
                this.$emit('form-updated' , response);

            },
            clearDetails(response){
                let self = this;
                setTimeout(function(){
                    self.handleClose();
                    self.showModal = false;
                    self.loading = false;
                } , 2000);
                this.successMessage = response.message;
                this.submit = false;
            },
            archive(){
                this.submit = true;
                this.loading = true;
                this.errorMessage = '';
                return;
            }
        },
        
        watch:{
            url (value){
                this.requestUrl = value;
            },
            showModalProp(value) {
                if(value){
                    this.formData = {
                    },
                    this.showModal = true
                }
                if(!value){
                    this.showModal = false
                }
            },
            currentItem(value){
                if(value){
                    this.requestUrl = this.url + '/' + value.id;
                    this.formData = JSON.parse(JSON.stringify(value))
                    if(this.archiveRecord){
                        this.formData.is_archived = 1;
                    }else{
                        this.formData.is_archived = 0;
                    }
                    this.formData.modify_name = false;
                    this.submitType = 'update';
                } 
            }
        },
    }
</script>
