<template>
    <div>        
        <nav class="nav top-categories" role="navigation" aria-label="Main navigation">
            <i class="icon-close-custom closenav"></i>
            <d-nav>
                <d-nav-item
                    v-can:view="'student-conduct-incidents-section'"
                    :to="'/student-portal'" role="button"
                    class="nav-li">
                    <i class="icon-conduct"></i>
                    Cases
                </d-nav-item>
                <d-nav-item
                    v-can:view="'conduct-incidents-section'"
                    :to="'/conduct-incidents'" role="button"
                    class="nav-li">
                    <i class="icon-conduct"></i>
                    Cases
                </d-nav-item>
                <d-nav-item
                    v-can:view="'my-cases-section'"
                    :to="'/my-cases'" role="button"
                    class="nav-li"> 
                    <i class="icon-conduct"></i>
                    My Cases
                </d-nav-item>
                <d-nav-item v-can:view="'reports-section'" href='/reports'
                    class="nav-li"
                    role="button"
                    :class="{'link-active' : $route.meta.reportLink === true}">
                    <i class="icon-report"></i>
                    Reports
                </d-nav-item>
                <d-nav-item v-can:view="'student-section'" :to="'/students'"
                    class="nav-li"
                    role="button">
                    <i class="icon-student"></i>
                    Students
                </d-nav-item>
                <d-nav-item v-can:view="'employee-section'" :to="'/employee'"
                    class="nav-li"
                    role="button">
                    <i class="icon-employee"></i>
                    Employees
                </d-nav-item>
                <d-nav-item v-can:view="'configurations-section'" :to="'/configurations'"
                    class="nav-li"
                    role="button">
                    <i class="icon-setting"></i>
                    Configurations
                </d-nav-item>
                <d-nav-item v-can:view="'system-log-section'" href='/system-log'
                    role="button"
                    :class="{'link-active' : $route.meta.systemLog === true}"
                    class="system-log-link nav-li">
                    <i class="icon-note"></i>
                </d-nav-item>

            </d-nav>
        </nav>
    </div>
</template>

<script>
export default {
    data() {
        return {
            activeLink: false,
            active_el: 0,
            navListing: [
                {
                    menuName: 'Conduct Incidents',
                    menuIcon: 'icon-conduct',
                    menuAnchor: '/conduct-incidents',
                },
                {
                    menuName: 'Reports',
                    menuIcon: 'icon-report',
                    menuAnchor: '/conduct-incidents',
                },
                {
                    menuName: 'Students',
                    menuIcon: 'icon-student',
                    menuAnchor: '/students',
                },
                {
                    menuName: 'Employees',
                    menuIcon: 'icon-employee',
                    menuAnchor: '/employee',
                },
                {
                    menuName: 'Configurations',
                    menuIcon: 'icon-setting',
                    menuAnchor: '/configurations',
                },
                {
                    menuName: '',
                    menuIcon: 'icon-block',
                    menuAnchor: '/system-log',
                },
            ]
        }
    },
   
    methods:{
        reportLink(){
            if (window.location.href.indexOf("reports") > -1) {
                 this.activeLink = true;
            }
            else{
                 this.activeLink = false;
            }
        }
    },
    mounted(){
        this.reportLink();
    },
    watch: {
        '$route' (to, from) {
                 this.$store.commit('setCaseData', '');                      
        }
    }
}
</script>
