<template>
    <div>
        <a
        class="nav-link nav-link-icon text-center"
        href="javascript:void(0);"
        @click="[showNotificationEvent(),notifyMobile()]"
        role="button"
        aria-haspopup="true"
        aria-expanded="false">
        <div class="nav-link-icon__wrapper">
            <i class="icon-notification"></i>
            <span class="badge badge-pill badge-danger">{{ notificationCount ? notificationCount : '0' }}</span>
        </div>
    </a>
    <div 
    class="dropdown-menu dropdown-menu-small notification-wrapper com-notification show" aria-labelledby="dropdownMenuLink" 
    v-if="showNotificationPopup"
    v-on-clickaway="closeNotificationEvent">
    <div class="box-header">
        <h4>Notifications</h4>
        <!-- <span @click="showNotificationPopup = false" class="icon-close-custom close-notification"></span> -->
        <div aria-label="Close">
            <span @click="[showNotificationPopup = false, notifyMobileOff()]" class="icon-close-custom close-notification" aria-hidden="true"></span>
        </div>
    </div>

    <div class="scrollbar" id="style-2">
    
        <no-record-found v-if="this.noRecordFound"></no-record-found>
    
    <a
    v-for="(notificationsList, index) in notificationData"
    role="button"
    :key="index"
    class="dropdown-item header-notification">
        <div class="notification__icon-wrapper">
            <div v-if="notificationsList.data.profile_image" class="notification__icon">
                <img 
                    :src="notificationsList.data.profile_image" 
                    alt="User Profile Picture" 
                    @onerror="imgUrlAlt">
            </div>

            <div v-else class="notification__icon notify-icon-ph">
                <img :src="'../images/dummy/user-placeholder.svg'">
            </div>
        </div>
        <div class="notification__content">
            <p 
                v-if="!notificationsList.isReadMore && notificationsList.data.display_message.length > 0" 
                v-html="notificationsList.data.display_message.substring(0, 200)">
                
            </p>
                <a href="javascript:;" 
                    v-if="notificationsList.data.display_message.length > 200 && !notificationsList.isReadMore" 
                    @click="isShowRead(notificationsList,index, notificationsList.isReadMore)">
                    Read More 
                </a>
            <p v-if="notificationsList.isReadMore" v-html="notificationsList.data.display_message">
            </p>
                <a href="javascript:;" 
                    v-if="notificationsList.isReadMore" 
                    @click="isShowRead(notificationsList, index, notificationsList.isReadMore)">
                    Read Less
                </a>

            <!-- <div class="notify-status">
                 <a 
                    v-if="notificationsList.data.type == 'change_stage_mail'" 
                    href="javascript:;" 
                    @click="showConfirmationPopup(notificationsList)"
                    class="mr-2">
                    Approve 
                </a>
                <a v-if="notificationsList.data.type == 'change_stage_mail'" href="javascript:;" @click="decline(notificationsList)">
                    Decline 
                </a>
            </div> -->
        </div>
    </a>

    <!-- Content placeholder -->
        
        <content-placeholder 
            v-if="!notificationData.length && !noRecordFound"
            v-bind:class="{ 'notify-ph': isNotifyPlaceHolder }">
        </content-placeholder>

    <!-- Content placeholder -->


</div>
<common-methods
    :hideLoader="true"
    :trueLoader="true"
    @get-response="getNotificationRecords"
    :url="requestUrl">
</common-methods>

</div>

<common-methods
    :hideLoader="true"
    @get-response="getUnreadNotificationCount"
    :url="unreadCountUrl">
</common-methods>

<confirm-alert
:showModalProp="showModal"
:title="'Confirm'"
:description="'Are you sure you want to request a move to next stage ?'"
:url="submitUrl"
:submitType="'update'"
:formData="formData"
@hide-modal="showModal = false;"
>
</confirm-alert>


</div>
</template>



<script>
    import { directive as onClickaway } from 'vue-clickaway';

    export default{
        directives: {
            onClickaway: onClickaway,
        },
        props: [
        'isShowTab'
        ],
        data () {
            return {
                isNotifyPlaceHolder: true,
                notificationPlaceholder: true,
                notificationCount : 0,
                notificationData : [],
                pagination : false,
                noRecordFound: false,
                page : 0,
                loading : false,
                url : 'api/user/notification?pagination=true',
                infiniteLoad : false,
                show: false,
                showNotificationPopup: false,
                unreadCountUrl:'api/user/unread-notification-count',
                total:0,
                showModal: false,
                submitUrl: '',
                formData: {

                }
                
            }
        },
        computed : {
            requestUrl(){
                return this.url;
            },
        },
        methods: {
            showNotificationEvent(){
                this.showNotificationPopup = true;
            },
            closeNotificationEvent() { this.showNotificationPopup = false
             this.notificationData = []; },
            notifyMobile(){
                this.$emit('notifyPopupon');
            },
            notifyMobileOff(){
                this.$emit('notifyPopupoff');
            },
            getNotificationRecords(response){
                    let self = this
                    this.infiniteLoad = true;
                    _.forEach(response.data, function(value, key) {
                        self.notificationData.push(value);
                        self.notificationData[key].isReadMore = false;
                    })
                    this.notificationPlaceholder = false;
                    this.noRecordFound = response.noRecordFound
            },
            getUnreadNotificationCount(response){
                 this.notificationCount = response.data.count ? response.data.count : "";
                 this.$parent.notificationCount = this.notificationCount;
                 this.total = response.data.total ? response.data.total : '0';

            },
            markRead() {
                let self = this;
                self.loading = true;

                let url = 'api/user/mark-read-notification';

                let urlRequest = self.$http.post(url)

                urlRequest.then(response => {

                }).catch(error => {

                });
            },

            imgUrlAlt(event) {
                event.target.src = "../images/dummy/user-placeholder.svg";
            },

            isShowRead(notificationsList,ind, value) {
                notificationsList.isReadMore = !value;
                this.$set(this.notificationData, ind, notificationsList)
                
            },
            showConfirmationPopup(notificationsList){
                this.showModal = true;
                this.submitUrl = 'api/incident-case/'+notificationsList.data.case_id+'/update-stage';
                this.formData = {
                    stage : notificationsList.data.stage,
                    is_approved: true,
                    officer_id:notificationsList.data.user_id,
                };
            },
            decline(notificationsList){
                let self = this;
                let param = {
                    is_approved: false,
                    stage:notificationsList.data.stage,
                    officer_id:notificationsList.data.user_id,
                    case_number:notificationsList.data.case_number,
                }
                self.submitUrl = 'api/incident-case/'+notificationsList.data.case_id+'/update-stage';
                this.$http.put( self.submitUrl, param).then(response => {
                     if(Object.keys(response.data.data).length) {
                        this.$store.commit('setCaseData', response.data.data.document);

                        EventBus.$emit('activity-logs-unshift', {
                            tab: 'all',
                            log: response.data.data.log,
                            document: {},
                        });
                    }
                    setTimeout(function() {
                        self.loading = false;
                        self.successMessage = '';
                    }, 2000);

                })
            }
        },
        watch:{
            isShowTab(val){
                if(val == 1){
                    this.markRead();
                    this.notificationCount = 0;
                    this.$parent.notificationCount = "";
                }
            },

        }

    }
</script>