<template>
	<div>
		<div class="mobile-menu-overlay"></div>
	</div>
</template>
<script>
    export default {
        data () {
            return {
                showMobileOverlay:false,
            }
        }
    }  	
</script>