<template>
    <div>
        <div v-if="!getShowLoadMore && pagination && !hidePagination" class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 my-2">
                <p class="pagination-total-count">Total {{getTotalRecords}} {{getPaginationText}} - Page {{page}} of {{getTotalPages}}</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="float-right pagination-mob" aria-label="Page navigation">
                    <paginate
                    v-model="page"
                    :page-count="getTotalPages"
                    :click-handler="clickCallback"
                    :page-range="5"
                    :margin-pages="2"
                    :prev-text="'Prev'"
                    :next-text="'Next'"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
                </paginate>
            </div>
        </div>
    </div>

    <div v-if="showLoadMoreButton && !hidePagination" class="col-xs-12 text-center mb-2">
        <d-button @click.prevent="changePage" :class="[ loading || loadingNotification ? 'show-spinner' : '']">
            <c-loader></c-loader>
            <span>Load More</span>
        </d-button>
    </div>


    <infinite-loading v-if="infiniteLoad" @infinite="infiniteHandler" required="false">
        <span slot="no-more">
        </span>
        <span slot="spinner"></span>
    </infinite-loading>    

    <block-spinner v-if="loadingStart"></block-spinner>

</div>
</template>
<script>
    import InfiniteLoading from 'vue-infinite-loading';

    export default{
        components : {
            InfiniteLoading
        },
        props : [
        'pagination',
        'loadingStart',
        'loadingNotification',
        'infiniteLoad',
        'showLoadMore',
        'paginationText',
        'hidePagination'
        ],
        data(){
            return{
                loading : false,
                records : [],
                showNoRecordFound : false,
                page : 1,
            }
        },
        mounted(){
        },
        computed : {
            getPaginationText() {
                var pageText = typeof(this.paginationText) != "undefined"? this.paginationText : "";
                return (this.pagination && this.pagination.total > 1)? pageText + 's' : pageText;
            },
            getShowLoadMore() {
                if(typeof(this.showLoadMore) == "undefined") {
                    return true;
                }else {
                    false;
                }
            },
            showLoadMoreButton : {
                get: function() {
                    return this.getShowLoadMore && this.pagination && this.pagination.current !== this.pagination.next;
                },
                set: function() {

                }
            },
            getTotalPages() {
                return this.pagination ? this.pagination.pages.length : 0;
            },
            getTotalRecords() {
                return this.pagination ? this.pagination.total : 0;
            }
        },
        watch :{
            loadingStart(value){
            },
            loadingNotification(value){
            },
            pagination(value){
                this.loading = false;
                this.page = this.pagination? this.pagination.current : 1;
            },
            infiniteLoad(value){
                
            }
        },
        methods: {
            clickCallback() {
                this.$emit('page-changed', this.page); 
            },
            changePage(){
                this.loading = true;
                this.page = this.pagination.next;
                this.$emit('page-changed', this.page);       
            },
            infiniteHandler($state) {
                let self = this;

                if(self.loading) {
                    return false;
                }


                if(!self.pagination){
                    self.loading = true;
                    self.$parent.getList(false , function (response) {
                        setTimeout(function () {
                            self.loading = false;
                            $state.loaded();
                        } , 3000);
                    });

                }else{

                    self.loading = true;
                    if(self.pagination && self.pagination.current != self.pagination.next){

                        self.$parent.getList(self.pagination.next , function (response) {

                            setTimeout(function () {
                                $state.loaded();
                                self.loading = false;
                            } , 3000);

                        });

                    }else{

                        self.loading = false;
                        $state.complete();
                    }

                }

            },

        }
    }
</script>
