<template>
    <div v-if="updateData">
        <label>{{ fineDetails  ? 'Fines Details' : 'Sanction Details' }}</label>
               <div class="row scrollable">
                    <div class="col-md-12">
                        <d-form>
                            <ul class="student-sanction-detail">
                                <li>
                                    <div class="row" v-if="fineDetails">
                                    <div class="col-xs-12 col-md-3">
                                        <label class="modal-auto-text w-70">Fine(s):</label>
                                    </div>
                                    <div class="col-xs-12 col-md-9">
                                        <p class="modal-des">
                                            {{ fineDetails | description }}
                                            
                                        </p>
                                    </div>
                                </div>   
                                </li>
                                <li>
                                    <div class="row" v-if="!fineDetails">
                                        <div class="col-xs-12 col-md-3">
                                            <label class="modal-auto-text w-70">Details:</label>
                                        </div>
                                        <div class="col-xs-12 col-md-9">
                                            <p class="modal-des">
                                                {{ sanctionDetails.details }}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </d-form>
                    </div>
                    <div class="col-md-12"><hr /></div>
                    <div v-if="!fineDetails" class="col-md-12">

                        <d-form class="list-gaph">
                            <ul class="student-sanction-detail">
                                <li>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-3">
                                            <label class="modal-auto-text w-70">Type:
                                            </label>
                                        </div>
                                        <div class="col-xs-12 col-md-9">
                                            <p class="modal-des">{{updateData.name}} </p>
                                        </div>
                                    </div>
                                    <div class="row" v-if="updateData.description">
                                        <div class="col-xs-12 col-md-3">
                                            <label class="modal-auto-text w-70">Description:
                                            </label>
                                        </div>
                                        <div class="col-xs-12 col-md-9">
                                            <p class="modal-des">{{updateData.description}} </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-3">
                                            <label class="modal-auto-text w-70">Status:
                                            </label>
                                        </div>
                                        <div class="col-xs-12 col-md-9">
                                            <p class="modal-des">{{updateData.status}} </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-3">
                                            <label class="modal-auto-text w-70">Start Date:
                                            </label>
                                        </div>
                                        <div class="col-xs-12 col-md-9">
                                            <p class="modal-des">{{ updateData.period.from | fullDateTime }} </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-3">
                                            <label class="modal-auto-text w-70">End Date:
                                            </label>
                                        </div>
                                        <div class="col-xs-12 col-md-9">
                                            <p class="modal-des">{{updateData.period.to | fullDateTime }} </p>
                                        </div>
                                    </div>
                                    <div class="row" v-if="updateData.attachments && updateData.attachments.length">
                                        <div class="col-xs-12 col-md-3">
                                            <label class="modal-auto-text w-70">Attachments:
                                            </label>
                                        </div>
                                        <div class="col-xs-12 col-md-9">
                                            <div class="file-attachment file-img">
                                                <div v-for="(file,index) in updateData.attachments"
                                                    :key="index" class="file-list">
                                                    <img :src="file.original_name | attachmentIconUrl" />
                                                        <a class="truncate-link" :href="`${file.upload_url}`" download>
                                                       {{ file.display_name }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </d-form>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                <div class="col-md-12" v-if="updateData.status != 'completed' && updateData.status != 'temporary freeze' && updateData.status != 'permanent freeze' && !fineDetails">
                    <d-form>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <label>Upload Document</label>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <div class="file_upload_block">
                                    <h4>Click here or drag &amp; drop file here to upload</h4>
                                    <p>Supported file format are JPG, PNG, BMP, MP3, MP4, DOCX, XLS, PPT and PDF</p>
                                    <file-upload-component :uploadKey="uploadKey"  
                                    @get-response="getFileUploadResponse" 
                                    @errorMessage="getError" 
                                    @show-progress="showProgress"
                                    :class="[ loading ? 'disabled' : '', errorMessage ? 'disabled' : '',
                                    (progressValue < 100 &  progressValue > 0) ? 'disabled' :''] ">
                                    </file-upload-component>
                                </div>
                                <div class="document_item">
                                    <div class="items student-sanction-images flex-100" v-for="(fileData,index) in formData.attachments">
                                        <div class="file-icon">
                                            <img :src="fileData.original_name | attachmentIconUrl" />
                                        </div>
                                        <div class="file-title">
                                            <i class="icon-close-custom" @click.prevent="remove(index)"></i>
                                            <input type="text" class="form-control" name="upload1" placeholder="Enter related file title" v-model="fileData.display_name"/>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-3"> 
                                        <progress-bar max="100" :progress="progressValue" v-if="(progressValue < 100 && progressValue > 0)"></progress-bar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                                    {{ errorMessage ? errorMessage : successMessage }}
                                </d-alert>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <d-btn 
                                    :class="[ loading ? 'show-spinner' : '', (progressValue != 100 && progressValue != 0) || (updateData.status == 'completed') ? 'disable-btn' : '']" 
                                    @click.prevent="validateBeforeSubmit();"
                                    theme="primary">
                                    <span>Complete Sanction</span>
                                    <c-loader></c-loader>
                                </d-btn>
                            </div>
                        </div>
                </d-form>
            </div>
            </div>
            <common-methods 
            @form-updated="formUpdated"
            @form-error="formError"
            :submitUrl="submitUrl"
            :submit="submit"
            :formData="formData"
            :submitType="submitType"
            >
            </common-methods>
    </div>
</template>


<script>

    export default {
        props: ['updateData', 'sanctionDetails', 'showUpload', 'fineDetails'],

        data () {
            return {
                errorMessage: '',
                successMessage: '',
                loading: false,
                progressValue: 0,
                fileResponse:false,
                caseSanctionUrl: 'api/case-sanction-update-sanction-status',
                uploadKey: 'sanction_attachment',
                fileExtensions :'.jpg,.png,.bmp,.mp3,.mp4,.xls,.docx,.doc,.pdf,.ppt,pptx,mpga',
                url: 'api/attachment',
                submitType: 'update',
                submit: false,
                formData: {
                    sanction_id: null,
                    case_number: null,
                    case_id: '',
                    attachments: [],
                },
                showModal: false,
                field: {
                    name: '',
                    status: '',
                    period:{
                        to: '',
                        from: ''
                    }
                },

            }
        },
        computed:{
            submitUrl(){
                return this.caseSanctionUrl+'/'+this.updateData._id;
            },
            incidentCase(){
                return this.$store.getters.getCaseData;
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            },
        },
        methods: {
            handleClick() {
                this.showModal = true
            },
            handleClose() {
                this.showModal = false;
                this.$emit('hide-modal-value');
            },
            getFileUploadResponse(response) {
                let self = this;
                response.display_name = response.original_name;
                this.formData.attachments.push(JSON.parse(JSON.stringify(response)));
                this.fileResponse = true;

            },
            getError(response) {
                let self = this;
                self.errorMessage = response;
                setTimeout(function() {
                    self.errorMessage = '';
                }, 3000);
            },
            showProgress(value){
                this.progressValue = value;
            },
            remove: function(index) {
                this.formData.attachments.splice(index, 1)
            },
            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.formData.case_number = this.incidentCase.case_number;
                        this.formData.case_id = this.$route.params.id;
                        this.formData.sanction_id = this.updateData.id;
                        this.formData.status = 'completed';
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        return;
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },3000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            formError(response){
                let self = this;
                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                setTimeout(function(){
                    self.errorMessage = '';
                },3000);
            },
            formUpdated(response){
                this.clearDetails(response);
                this.$emit('form-updated' , response);
            },
            clearDetails(response){
                let self = this;
                setTimeout(function(){
                    self.handleClose();
                    self.loading = false;
                    self.showModal = false;
                    self.successMessage = '';
                    self.formData =  {
                    };
                } , 3000);
                this.successMessage = response.response.message;
                this.$emit('refresh-list');
                this.submit = false;
            },
        },

        watch:{
            showModalProp(value) {
                if(value){
                    this.showModal = true
                }
                if(!value){
                    this.showModal = false
                }
            }
        },
    }
</script>