<template>
    <div class="close-case-popup prevent-close">
        <d-modal v-if="showModal" size="sm" @close="handleClose" :no-close-on-backdrop="true">
            <div class="model-content-area">
                <d-modal-header>
                    <d-modal-title>{{title | replaceSpecialCharacterWithSpace | toTitleCase}} </d-modal-title>
                </d-modal-header>
                <d-modal-body>
                    <d-form>
                        <div class="row">
                            <div class="col-md-12">
                                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>

                                    {{ errorMessage ? errorMessage : successMessage }}

                                </d-alert>

                            </div>
                        </div>
                    </d-form>
                    <p class="modal-des">{{description}}</p>
                </d-modal-body>
                <d-modal-footer>
                    <d-btn  @click="validateBeforeSubmit()" :class="[ loading ? 'show-spinner' : '']">
                        <c-loader></c-loader>
                        <span>Confirm</span>
                    </d-btn>
                    <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
                </d-modal-footer>
            </div>
        </d-modal>
        <common-methods 
        @form-updated="formUpdated"
        @form-submitted="formSubmitted"
        @form-error="formError"
        @form-deleted="formDeleted"

        :submitUrl="submitUrl"
        :submit="submit"
        :formData="formData"
        :submitType="submitType"
        >
    </common-methods>
</div>
</template>

<script>
    export default{

        props: [
        'showModalProp',
        'title',
        'description',
        'url',
        'formData',
        'submitType'
        ],
        
        data() {
            return {
                errorMessage : '',
                successMessage : '',
                showModal: false,
                modalSize: 'sm',
                submit : false,
                loading : false,
                requestUrl : ''
            }
        },
        mounted (){
            this.requestUrl = this.url;
        },
        computed : {
            submitUrl(){
                return this.requestUrl;
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
        methods: {
            validateBeforeSubmit(){
                let self = this;
                this.errorMessage = '';
                self.submit = true;
                self.loading = true;
                self.successMessage = '';

            },
            handleClick() {
                this.showModal = true
            },
            handleClose() {
                if(!this.loading){
                    this.showModal = false;
                    this.loading = false;
                    this.successMessage = '';
                    this.errorMessage = '';
                    this.$emit('form-cancelled')
                    this.$emit('hide-modal');
                }
            },
            formError(response){

                let self = this;

                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                
            },
            formUpdated(response){
                let self = this;
                self.submit = false;
                self.successMessage = response.message;

                setTimeout(function(){
                    self.loading = false;
                    self.showModal = false;
                    self.$emit('form-updated' , response);
                    self.$emit('hide-modal');
                } , 2000);
            },
            formSubmitted(response){
                let self = this;
                self.submit = false;
                self.successMessage = response.message;

                setTimeout(function(){
                    self.loading = false;
                    self.showModal = false;
                    self.$emit('form-submitted' , response);
                    self.$emit('hide-modal');
                } , 2000);
            },
            formDeleted(response){
                let self = this;
                self.submit = false;
                self.successMessage = response.message;

                setTimeout(function(){
                    self.loading = false;
                    self.showModal = false;
                    self.$emit('form-deleted' , response);
                    self.$emit('hide-modal');
                } , 2000);
                /*this.clearDetails(response);
                this.$emit('form-deleted' , response);*/
            },
        },
        
        watch:{
            url (value){
                this.requestUrl = value;

            },
            showModalProp(value) {
                if(value){
                    this.showModal = true
                }
                if(!value){
                    this.showModal = false
                }
            },
        },
    }
</script>
