<template>
	<div>
		<div class="content-placeholder">
			<div class="ph-wrapper">
				<div class="ph-image ph-animated"></div>
				<div class="ph-text shorter ph-animated"></div>
				<div class="ph-text ph-animated"></div>
				<div class="ph-text short ph-animated"></div> 


				<div class="ph-image ph-animated"></div>
				<div class="ph-text shorter ph-animated"></div>
				<div class="ph-text ph-animated"></div>
				<div class="ph-text short ph-animated"></div> 

				<div class="ph-text shorter ph-animated"></div>
				<div class="ph-text ph-animated"></div>
				<div class="ph-text short ph-animated"></div>
			</div> 
		</div>   
	</div>
</template>