<template>
    <div id="style-2" class="scrollable height-normal pl-2">
        <div class="ir-form-sections">
            <d-form>
                <div class="row">
                    <div class="col-md-12">
                        <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>

                            {{ errorMessage ? errorMessage : successMessage }}

                        </d-alert>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Field Name</label>
                            <d-input name="name" v-validate="'required|max:50'" v-model="field.label" placeholder="Enter field name" :class="[errorBag.first('name') ? 'is-invalid' : '']" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group selectBox">
                            <label>Field Type</label>
                            <i class="icon-keyboard_arrow_down3"></i>
                            <d-form-select v-model="field.type" @change="onFieldTypeChange($event)">
                                <option :value="fieldType.key" v-for="fieldType in fieldTypes">{{fieldType.value}}</option>
                            </d-form-select>
                        </div>
                    </div>
                    <div v-if="componentType" class="col-md-12 value-section">
                        <div class="form-group">
                            <label>Value</label>
                            <br>
                            <div>
                                <div class="section-form-right">
                                    <d-btn @click.prevent="addOptions" theme="secondary">
                                        <span>
                                            <d-img src="images/plus.svg" />
                                        </span>
                                    </d-btn>
                                </div>
                                <div class="section-form-left"  v-for="(optionValue, index) in field.options">
                                    <d-input :name="'option field'+index" v-validate="'required|max:50'" :key="index" v-model="optionValue.value" placeholder="Add new value" :class="[errorBag.first('option field'+index) ? 'is-invalid' : '']"/>
                                    <a v-if="field.options.length > 2" style="float:right;" @click.prevent="field.options.splice(index , 1)" href="javascipt:void(0);" class="remove-field-value">
                                        <i class="icon-delete"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <d-btn  :class="[ loading ? 'show-spinner' : '']" @click.prevent="validateBeforeSubmit" theme="primary">
                            <span>{{!isUpdate? "Add Component":"Update Component"}}</span>
                            <c-loader></c-loader>
                        </d-btn>
                        <button v-if="isUpdate" class="btn btn-link" @click.prevent="onCancel">
                            <span>Cancel</span>
                        </button>
                    </div>
                </div>
            </d-form>
        </div>
    </div>


</template>


<script>
    export default{
        props: ['url', 'updateField'],
        data(){
            return {
                isUpdate: false,
                errorMessage : '',
                successMessage : '',
                loading : false,
                field : {
                    label : '',
                    type : 'input',
                    options : [
                        {
                            value : ''
                        },
                        {
                            value : ''
                        }
                    ]
                },
                fieldTypes : [
                {
                    key : 'input',
                    value : 'Input'
                },
                {
                    key : 'textarea',
                    value : 'Textarea'
                },
                {
                    key : 'dropdown',
                    value : 'Dropdown'
                },
                {
                    key : 'radio',
                    value : 'Radio'
                },
                {
                    key : 'checkbox',
                    value : 'Checkbox'
                },
                {
                    key : 'date',
                    value : 'Date'
                },
                {
                    key : 'time',
                    value : 'Time'
                },
                ]
            }
        },
        methods : {
            onFieldTypeChange(e) {
                let self = this;
                if(this.isUpdate) {
                    this.field.options = [
                        { 
                            value : ''
                        },
                        { 
                            value : ''
                        },
                    ];
                    setTimeout(function () {
                        Vue.nextTick(() => {
                            self.errorBag.clear();
                        })

                    }, 50);
                }
            },
            onCancel() {
                this.$emit('form-cancelled', this.updateField);
            },
            onUpdate() {
                let self = this;
                let url = this.url + "/" + this.field._id;
                self.loading = true
                this.$http.put(url, this.field)
                .then(response => {
                    response = response.data;
                    self.successMessage = response.message;
                    
                    self.field = {
                        label : '',
                        type : 'input',
                        options : [
                            {
                                value : ''
                            },
                            {
                                value : ''
                            }
                        ]
                    };
                    setTimeout(function(){
                        self.loading = false;
                        self.successMessage='';
                        self.$emit('form-updated', response);
                    }, 2000);

                    setTimeout(function () {
                        Vue.nextTick(() => {
                            self.errorBag.clear();
                        })

                    }, 50);
                })
                .catch(error => {
                    self.loading = false
                    error = error.response.data;

                    setTimeout(function(){
                        self.errorMessage='';
                    }, 2000);
                    _.each(error.errors , function (errorValue) {
                        self.errorMessage = errorValue[0];
                        return false;
                    })

                });
            },
            addOptions(){
                this.field.options.push({
                    value : ''
                });
            },
            validateBeforeSubmit() {
                let self = this;
                var checkDuplicate = _.filter(_.uniq(_.map(self.field.options, function (item) {
                      if (_.filter(self.field.options, { value: item.value }).length > 1) {
                        return item.value;
                      }

                      return false;
                    })),
                  function (value) { return value; });
                if(checkDuplicate.length) {
                    this.errorMessage = 'Duplicate values are not allowed.';
                    return;
                }
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if((this.field.type == "radio" || this.field.type == "checkbox" || this.field.type == "dropdown") && this.field.options.length < 2) {
                            this.errorMessage = 'Please add atleast two value.';
                            setTimeout(function() {
                                self.errorMessage = "";
                            }, 2000);
                            return;
                        }
                        if(this.isUpdate) {
                            this.onUpdate();
                        }else {
                            this.onSubmit();
                        }
                        this.errorMessage = '';
                        return;
                    }
                    var errorText = this.errorBag.items[0];

                    if(_.includes(errorText.field, "option")) {
                        errorText = (errorText.rule == "max")? "The value cannot be greater than 50." : "The value field is required.";
                    }else {
                        errorText = this.errorBag.all()[0];                        
                    }
                    this.errorMessage = errorText;
                    setTimeout(function() {
                        self.errorMessage = "";
                    }, 2000);
                });
            },
            onSubmit: function () {
                let self = this;
                self.loading = true
                this.$http.post(this.url, this.field)
                .then(response => {
                    response = response.data;

                    self.field = {
                        label : '',
                        type : 'input',
                        options : [
                            {
                                value : ''
                            },
                            {
                                value : ''
                            }
                        ]
                    };
                    setTimeout(function () {
                        Vue.nextTick(() => {
                            self.errorBag.clear();
                        })

                    }, 50);
                    setTimeout(function(){
                        self.loading = false;
                        self.successMessage='';
                        self.$emit('form-submitted', response.data);
                    }, 2000);
                })
                .catch(error => {
                    self.loading = false
                    error = error.response.data;

                    setTimeout(function(){
                        self.errorMessage='';
                    }, 2000);
                    _.each(error.errors , function (errorValue) {
                        self.errorMessage = errorValue[0];
                        return false;
                    })

                });
            },
        },
        computed : {
            componentType(){
                return this.field.type == 'checkbox' || this.field.type == 'dropdown' || this.field.type == 'radio';
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
        watch : {
            updateField(val) {
                let self = this;
                if(val) {
                    this.field = val;
                    this.isUpdate = true;
                }else {
                    this.isUpdate = false;
                    this.field = {
                        label : '',
                        type : 'input',
                        options : [
                            {
                                value : ''
                            },
                            {
                                value : ''
                            }
                        ]
                    };
                     setTimeout(function () {
                        Vue.nextTick(() => {
                            self.loading = false;
                            self.successMessage ='';
                            self.errorBag.clear();
                        })
                    }, 50);
                }
            }
        }
    }
</script>