<template>


    <div >
        <div > 

            <input 
            :disabled="disabled" 
            @change="onFileChange"
            :multiple="multiple"
            :class="['form-control','file-upload-input', 'form-group']"
            :accept="acceptedFiles"
            name="upload image"
            ref="fileinput"
            type="file"

            />
        </div>

           <div v-if="displayImage" class="display-setting-img">
               <img :src="image ? image : displayImage" />
               <span class="file-name">{{ original_name }}</span>
           </div>
       </div>

    

   

</template>    

<script type="text/javascript">

    // uploadKey determines the folder name 

    export default{
        mounted (){
            this.file = this.currentRecord;
            this.acceptedFiles = this.fileExtensions ? this.fileExtensions : this.acceptedFiles;
        },
        
        props : [
        'size',
        'uploadKey',
        'disabled',
        'fileExtensions',
        'currentRecord',
        'multiple',
        'imageBlock',
        'logo',
        'displayImage', 
        'supportedType'
        ],

        data(){
            return {
                acceptedFiles : '.png, .jpg, .jpeg',
                file : '',
                isFileUpload : false,
                image: '',
                original_name: '',
            }
        },
        methods : {

            removeImage: function (e) {
              this.image = '';
          },  

          onFileChange(e) {
            var supportedType = [
                'png',
                'jpg',
                'jpeg',
                'pdf',
                'xlsx',
                'csv',
                'xls',
                'doc',
                'docx',
                'mp3',
                'mp4',
                'bmp',
                'ppt',
                'pptx',
                'mpga',
                'txt'
                ];
            if(typeof(this.supportedType) != "undefined") {
                supportedType = this.supportedType;
            }
            var files = e.target.files || e.dataTransfer.files;

            this.errorMessage = "";

            if (!files.length){
                return;
            }

            for (var i = files.length - 1; i >= 0; i--) {


                if(supportedType.includes(files[i].name.split('.').pop())) {
                 this.errorBag.clear();
                 this.isFileUpload = null;
                 if(this.formatBytes(files[i].size)) {
                    this.errorMessage = 'The file size must not be larger than 20 MB.';
                    $('input[type=file]').val('');
                    this.$emit('errorMessage', this.errorMessage);
                 }else {
                    this.createImage(files[i]);
                 }
             }else{
                this.errorMessage = 'This file format is not supported';
                $('input[type=file]').val('');
                this.$emit('errorMessage', this.errorMessage);
            }


        }

    },
    formatBytes(bytes) {
        return (bytes / 1048576).toFixed(3) > (typeof(this.size) != "undefined"? this.size : 20);
    },
    createImage(file) {
        var self = this;    
        var image = new Image();
        var reader = new FileReader();
        reader.onload = (e) => {
        };
        reader.readAsDataURL(file);
        this.onUpload(file);
    },
    onUpload(file) {
        var self = this;
        let url = "api/file/upload";
        if(this.uploadKey){
            this.fileUploadKey = this.uploadKey;
        }

        var data = new FormData;
        data.append('key', this.fileUploadKey);
        data.append('file', file);
        this.$http.post(url, data, {
            onUploadProgress: progressEvent => {
              var uplaodPercentage = parseInt(Math.round(progressEvent.loaded / progressEvent.total *100));
              self.$emit('show-progress',uplaodPercentage);
          }
      }).then(response => {
        response = response.data;
        self.$emit('get-response', response);
        self.image = response.upload_url;
        this.original_name = response.original_name;
        $('input[type=file]').val('')

    }).catch(error => {
        error = error.response.data;
        let errors = error.errors;
        self.isFileUpload = false;
        $('input[type=file]').val('')
        if(!errors.length && error.message) {
            self.$emit('errorMessage', self.errorMessage);
        }
        _.forEach(errors, function(value, key) {
            self.errorMessage =  errors[key][0];
            self.$emit('errorMessage', self.errorMessage);
            return false;
        });
    });
},

},

watch : {
    currentRecord(value){
    },
    fileExtensions(value){
        if(value){
            this.acceptedFiles = value;
        }
    }
}
}

</script>