<template>


    <div class="involve-party-stage stage-block">
        <h3>Involved Parties</h3>
        <div
            v-for="(involveParty, index) in incidentCase.involved_parties"
            :key="index"
            class="list-profile-view">
        <div
            v-if="incidentCase.involved_parties" v-bind:style="{'background-image' : 'url('+involveParty.image+')',}"
            class="image-block">
        </div>
        <div
            v-else v-bind:style="{'background-image' :  `url('../images/dummy/user-placeholder.svg')`,}" class="image-block">
        </div>

            <div class="profile-detail">
                <h4>
                    <a href="javascript:void(0);">{{ involveParty.first_name }}</a>
                </h4>
                <p>Affected Party / Victim</p>
            </div>
        </div>
    </div>

</template>

<script>
    export default{
        props : ['incidentCase']
    }
</script>