<template>
    <div class="reporting-container">
        <div class="reporting-section">
            <div class="incident-section">
                <div class="row" v-if="!isLoggedIn">
                    <div class="col-sm-4 panel-main-heading">
                        <c-logo class="mt-3"></c-logo>
                    </div>
                    <div class="col-sm-8 panel-main-heading text-right">
                        <h3>{{irDetails.title}}</h3>
                    </div>
                </div>
                <div class="row" v-if="isLoggedIn">
                    <div class="col-md-12 panel-main-heading">
                        <h3>{{irDetails.title}}</h3>
                        <d-button @click.prevent="redirectToDashboard()">Go Back</d-button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="roport-msg">
                        <h5 v-html="irDetails.sub_title"></h5>
                        <p v-html="irDetails.details"></p>
                    </div>
                </div>
            </div>
            <div class="incident-section">
                <div class="row">
                    <d-form>
                        <div class="col-md-12" v-if="!isLoggedIn">  
                            <div class="report-panel">
                                <div class="report-panel-heading">
                                    <h4>Background Information</h4>
                                    <p><i class="icon-exclamation-outline"></i> The following information should be completed by the individual(s) submitting the incident report.</p>
                                </div>
                                <div class="report-panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label>Full Name<sup class="text-danger">*</sup></label>
                                                <input type="hidden" placeholder="Enter full name" name="" class="hidden" />

                                                <d-input id="full_name" placeholder="Enter full name" v-model="form.background_info.full_name" name="Full Name" :class="['form-control' , errorBag.first('Full Name') ? 'is-invalid' : '']" v-validate="'required'" />
                                            </div>      
                                        </div>
                                        <div class="col-xs-12 col-sm-4"><label>&nbsp;</label> <p class="auto-text">Enable additional features by <a href="javascript:void(0);" @click.prevent="onLogin">logging in</a>.</p></div>
                                        <div class="col-xs-12 col-sm-4"></div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label>Position/title<sup class="text-danger">*</sup></label>
                                                <d-input id="position_title" placeholder="Enter position or title" v-model="form.background_info.title" name="Position/title" :class="['form-control' , errorBag.first('Position/title') ? 'is-invalid' : '']" v-validate="'required|max:50'" />
                                            </div>      
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label>Email Address<sup class="text-danger">*</sup></label>
                                                <d-input id="email_address1" placeholder="Enter email address" v-model="form.background_info.email" name="Email Address" :class="['form-control' , errorBag.first('Email Address') ? 'is-invalid' : '']" v-validate="'required|email'"/>
                                            </div>      
                                        </div>
                                        <div class="col-xs-12 col-sm-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                        </div>
                        <div class="col-md-12">
                            <div class="report-panel">
                                <div class="report-panel-heading">
                                    <h4>Involved Parties</h4>
                                </div>
                                <div class="report-panel-body">
                                    <div class="row cloneItem"  v-for="(involved_party, index) in form.involved_parties">    
                                        <a  
                                            href="javascript:void(0);" 
                                            v-if="form.involved_parties.length > 1"   
                                            class="delete-area-box ir-form-delete-row" 
                                            @click.prevent="removeInvolvedParty(index)">
                                            <i class="icon-delete"></i>
                                        </a>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label>Individual or Organization</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <d-form-radio inline :name="'organization_type' + index" value="individual" v-model="involved_party.type"
                                                        @change="onChangePartyType(involved_party, involved_party.type)"
                                                        >Individual</d-form-radio>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <d-form-radio inline :name="'organization_type' + index" value="organization" v-model="involved_party.type"
                                                        @change="onChangePartyType(involved_party, involved_party.type)"
                                                        >Organization</d-form-radio>
                                                    </div>
                                                </div>
                                            </div>      
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label>Name<sup class="text-danger" v-if="(involved_party.person_type_id || involved_party.full_name || involved_party.phone_no || involved_party.email || involved_party.person_type_id)? true : false">*</sup>
                                                </label>

                                                <input  type="hidden" id="position_title" placeholder="Enter involved party name" name="" :class="['hidden']" />

                                                <d-input v-if="!isLoggedIn" id="position_title" placeholder="Enter involved party name" v-model="involved_party.full_name"
                                                v-validate="{required: (involved_party.person_type_id || involved_party.phone_no || involved_party.email)? true : false}"
                                                :name="'Name'+index"
                                                :class="['form-control' , (errorBag.first('Name'+index) || ((involved_party.person_type_id || involved_party.phone_no || involved_party.email) && (!involved_party.full_name))) ? 'is-invalid' : '']"
                                                />

                                                <multiselect v-if="isLoggedIn" v-model="involved_party.full_name" 
                                                :class="{ 'invalid': ( !involved_party.full_name && (involved_party.person_type_id || involved_party.person_type_id || involved_party.phone_no || involved_party.email))? true : false }" :options="options" :custom-label="customLabel" placeholder="Search involved party" track-by="id" label="first_name" :loading="involved_party.isLoading"  id="ajax" open-direction="bottom" :searchable="true" :options-limit="300" :limit="8" :limit-text="limitText" :max-height="600" @search-change="asyncFind($event, involved_party, involved_party.type)" name="search" @close="onTouch" :internal-search="false" :showNoResults="false" @remove="onRemoveParty(involved_party)"
                                                @select="dispatchAction(involved_party)" @keyup.enter="selectUser(involved_party)" 
                                                >
                                                <template slot="singleLabel" slot-scope="props">
                                                    <img @error="imageLoadError" class="student-image student-image-float" :src="props.option.profile_image" alt="profile image">
                                                    <span class="option__title student-name">
                                                        {{ props.option | fullName }}
                                                    </span>
                                                </template>
                                                <template slot="option" slot-scope="props">
                                                    <div class="user-options" style="height: 30px;">
                                                        <img @error="imageLoadError" class="student-image student-image-float" :src="props.option.profile_image" alt="profile image">
                                                        <div class="option__desc">
                                                            <span class="option__title student-name-option">
                                                                {{ props.option | fullName }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </template>
                                                <span slot="noResult">No service found.</span>
                                            </multiselect>
                                        </div>     
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group selectBox">
                                            <label>Role<sup class="text-danger" v-if="(involved_party.person_type_id || involved_party.full_name || involved_party.phone_no || involved_party.email)? true : false">*</sup>
                                            </label>
                                            <i class="icon-keyboard_arrow_down3"></i>
                                            <d-form-select v-model="involved_party.person_type_id"
                                            v-validate="{required: (involved_party.full_name || involved_party.phone_no || involved_party.email)? true : false}"
                                            :name="'Role'+index"
                                            :class="['form-control' , (errorBag.first('Role'+index) || 
                                            ((involved_party.full_name || involved_party.phone_no || involved_party.email) 
                                            && !involved_party.person_type_id)) ? 'is-invalid' : '']"
                                            >
                                            <option value="">Choose role in incident</option>
                                            <option :value="userTypeRole.id" v-for="userTypeRole in userTypeRoles">
                                                {{userTypeRole.name}}
                                            </option>
                                        </d-form-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4" v-if="isLoggedIn && involved_party.type == 'individual'">
                                    <div class="form-group">
                                        <label>University ID Number</label>
                                        <d-input id="university_id" class="number-field" placeholder="Enter university ID number (optional)"
                                        name="University ID Number"
                                        :class="['form-control']" v-model="involved_party.university_id"
                                        :disabled="involved_party.disabledUniversityID"
                                        />
                                    </div>      
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Phone Number<sup class="text-danger" v-if="(involved_party.person_type_id || involved_party.full_name || involved_party.phone_no || involved_party.email)? true : false">*</sup></label>
                                        <d-input class="number-field" id="phone_no" placeholder="Enter phone number" v-model="involved_party.phone_no" 
                                        :name="'PhoneNumber'+index"
                                        v-validate="{max:15, regex: (!involved_party.disabledPhone? /^[0-9-]*$/ : false), required: (involved_party.person_type_id || involved_party.full_name || involved_party.phone_no || involved_party.email)? true : false}"
                                        :class="['form-control' , (errorBag.first('PhoneNumber'+index) || 
                                        ((involved_party.person_type_id || involved_party.full_name || involved_party.email) && (!involved_party.phone_no))) ? 'is-invalid' : '']"
                                        :disabled="involved_party.disabledPhone"
                                        />
                                    </div>      
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Email Address<sup class="text-danger" v-if="(involved_party.person_type_id || involved_party.full_name || involved_party.phone_no || involved_party.email)? true : false">*</sup>
                                        </label>
                                        <d-input id="email_address" placeholder="Enter email address" v-model="involved_party.email" 
                                        :name="'EmailAddress'+index"
                                        v-validate="{required: (involved_party.person_type_id || involved_party.full_name || involved_party.phone_no || involved_party.email)? true : false, email: !involved_party.disabledEmail}"
                                        :class="['form-control' , (errorBag.first('EmailAddress'+index) || 
                                        ((involved_party.person_type_id || involved_party.full_name || involved_party.phone_no) && (!involved_party.email))) ? 'is-invalid' : '']"
                                        :disabled="involved_party.disabledEmail"/>
                                    </div>      
                                </div>
                                <div class="col-md-12">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="javascript:void(0);" class="btn btn-link" @click.prevent="addInvolvedParty">+ Add another</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="report-panel">
                        <div class="report-panel-heading">
                            <h4>Incident Information</h4>
                        </div>
                        <div class="report-panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group selectBox">
                                        <label>Incident Type<sup class="text-danger">*</sup></label>
                                        <i class="icon-keyboard_arrow_down3"></i>
                                        <d-form-select v-model="form.incident_info.incident_type_id"
                                        v-validate="'required'"
                                        name="Incident Type"
                                        :class="['form-control' , errorBag.first('Incident Type') ? 'is-invalid' : '']"
                                        >
                                        <option value="" >Choose incident type</option>
                                        <option :value="incidentType.id" v-for="incidentType in incidentTypes">{{incidentType.name}}</option>
                                    </d-form-select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4"></div>
                            <div class="col-xs-12 col-sm-4"></div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group selectBox">
                                    <label>Date of Incident<sup class="text-danger">*</sup></label>
                                    <i class="icon-calendar"></i>
                                    <d-datepicker class="with-icon datepicker-icon" 
                                    v-model="form.incident_info.date_of_incident" placeholder="MM / DD / YYYY"
                                    :disabled-dates="disabledDates"
                                    :format="dateFormat"
                                    v-validate="'required'"
                                    name="Date of Incident"
                                    :class="[errorBag.first('Date of Incident') ? 'v-is-invalid' : '']"
                                    />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group selectBox">
                                    <label>Time of Incident<sup class="text-danger">*</sup></label>
                                    <i class="icon-clock"></i>
                                    <vue-timepicker class="with-icon datepicker-icon form-control" 
                                    format="h:mm a" 
                                    v-model="form.incident_info.time_of_incident" 
                                    v-validate="'timeValidate'"
                                    name="Time of Incident"
                                    :class="[errorBag.first('Time of Incident') ? 'is-invalid' : '']"
                                    @change="changeTimePickerHandler"
                                    hide-clear-button
                                    ></vue-timepicker>
                                </div>    
                            </div>
                            <div class="col-xs-12 col-sm-4"></div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group selectBox">
                                    <label>Location of incident<sup class="text-danger">*</sup></label>
                                    <i class="icon-keyboard_arrow_down3"></i>
                                    <d-form-select v-model="form.incident_info.location_id"
                                    v-validate="'required'" @change="onLocationChange($event)"
                                    name="Location of incident"
                                    :class="['form-control' , errorBag.first('Location of incident') ? 'is-invalid' : '']"
                                    >
                                    <option value="" disabled="disabled">Choose location of incident</option>
                                    <option :value="incidentLocation.id" v-for="incidentLocation in location">{{incidentLocation.name}}</option>
                                </d-form-select>
                            </div> 
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group selectBox">
                                <label>Building<sup class="text-danger">*</sup></label>
                                <i class="icon-keyboard_arrow_down3"></i>
                                <d-form-select v-model="form.incident_info.building_id"
                                name="Building"
                                v-validate="'required'" @change="getIncidentSpecificLocation($event)"
                                :class="['form-control' , errorBag.first('Building') ? 'is-invalid' : '']"
                                >
                                <option value="" disabled="disabled">Choose building of incident</option>
                                <option :value="incidentLocation.id" v-for="incidentLocation in subLocation"
                                v-if="incidentLocation.parent_id == form.incident_info.location_id"
                                >
                                {{incidentLocation.name}}
                            </option>
                            <option value="none">None</option>
                        </d-form-select>
                    </div>  
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group selectBox">
                        <label>Specific Location<sup class="text-danger">*</sup></label>
                        <i class="icon-keyboard_arrow_down3"></i>
                        <d-form-select v-model="form.incident_info.specific_location_id"
                            name="Specific Location"
                            v-validate="'required'"
                            :disabled="!form.incident_info.building_id || form.incident_info.building_id == 'none'"
                            :class="['form-control' , errorBag.first('Specific Location') ? 'is-invalid' : '']"
                            >
                            <option value="" disabled="disabled">Choose specific location of incident</option>
                            <option :value="specificLocation.id" v-for="specificLocation in subSpecificLocation"
                            >
                            {{specificLocation.name}}
                        </option>
                        <option :value="'none'">None</option>
                    </d-form-select>
                    </div>  
                </div>
                <div class="col-xs-12 col-sm-4"></div>
                <div class="col-md-12">
                    <hr />
                </div>
                <div :class="[(field.type == 'input' || field.type == 'dropdown' || field.type == 'time' || field.type == 'date')? 'col-xs-12 col-sm-6' : 'col-xs-12 col-sm-12' ]" v-for="(field, index) in formFields" :key="index" v-if="formFields.length && customFields[index].is_show">
                    <div class="form-group selectBox" v-if="customFields[index].is_show">
                        <label>{{field.label}}<sup class="text-danger" v-if="typeof(field.is_required) != 'undefined'? true : false">*</sup></label>
                        <div v-if="field.type == 'input'">
                            <d-input  id="" placeholder="Please explain" v-model="customFields[index].value" v-validate="{ rules: { required: (typeof(field.is_required) != 'undefined'? field.is_required : false), max: 250} }" :data-vv-name="field.label"
                            :class="[errorBag.first(field.label) ? 'is-invalid' : '']" :key="field.label" />
                        </div>

                        <div v-if="field.type == 'radio'">
                            <d-form-radio :key="'radio'+ind" 
                            :name="getLabel(field.label)+index" 
                            v-for="(optionValue, ind) in field.options"  :value="optionValue.value"
                            v-model="customFields[index].value"
                            v-validate="{ rules: { required: (typeof(field.is_required) != 'undefined'? field.is_required : false)} }" @change="onChangeBuilder($event, field)"
                            >{{optionValue.value}}</d-form-radio>
                            <small class="text-danger" v-if="errorBag.first(getLabel(field.label)+index)">This field is required.</small>
                        </div>
                        <div class="formbuild"
                        v-if="field.type == 'checkbox'">
                        <p class="custom-checkbox-tick" v-for="(optionValue, ind) in field.options">
                         <input type="checkbox" :id="optionValue.value+ind" 
                         :checked="customFields[index].value[ind].value"
                         v-model="customFields[index].value[ind].value"
                         :name="getLabel(field.label)+index"
                         :value="true"
                         v-validate="{ rules: { required: (typeof(field.is_required) != 'undefined'? field.is_required : false)} }"
                         @change="onChangeBuilderCheckBox(customFields[index].value[ind].value, field, optionValue.value)"
                         >
                         <label :for="optionValue.value+ind">{{optionValue.value}}</label
                            >
                        </p>
                        <small class="text-danger" v-if="errorBag.first(getLabel(field.label)+index)">This field is required.</small>
                    </div>
                    <div v-if="field.type == 'time'">
                        <i class="icon-clock"></i>
                        <vue-timepicker
                        class="with-icon datepicker-icon form-control"
                        format="h:mm a"
                        hide-clear-button
                        placeholder="h:mm a"
                        v-model="customFields[index].value" v-validate="{ rules: { timeValidate2: (typeof(field.is_required) != 'undefined'? field.is_required : false)} }" :name="field.label"
                        :class="[errorBag.first(field.label) ? 'is-invalid' : '']" :key="field.label"
                        >
                    </vue-timepicker>
                </div>
                <div v-if="field.type == 'date'">
                    <i class="icon-calendar"></i>
                    <d-datepicker class="with-icon datepicker-icon" placeholder="MM / DD / YYYY"
                    v-model="customFields[index].value" v-validate="{ rules: { required: (typeof(field.is_required) != 'undefined'? field.is_required : false)} }"
                    :name="field.label"
                    :class="[errorBag.first(field.label) ? 'is-invalid' : '']" :key="field.label"
                    />
                </div> 

                <div v-if="field.type == 'dropdown'">
                    <div class="form-group select-detail">
                        <i class="icon-keyboard_arrow_down3"></i>
                        <d-form-select
                        v-model="customFields[index].value" v-validate="{ rules: { required: (typeof(field.is_required) != 'undefined'? field.is_required : false)} }" :name="field.label"
                        :class="['form-control' , errorBag.first(field.label) ? 'is-invalid' : '']" :key="field.label" @change="onChangeBuilder($event, field)"
                        >
                        <option value="null" disabled="" selected="">Please select</option>
                        <option  v-for="optionValue in field.options" :value="optionValue.value">
                            {{optionValue.value}}
                        </option>
                    </d-form-select>
                </div>
            </div>
            <div v-if="field.type == 'textarea' ">
                <textarea v-model="customFields[index].value"
                id=""
                placeholder="Enter Details"
                rows="3"
                max-rows="6" v-validate="{ rules: { required: (typeof(field.is_required) != 'undefined'? field.is_required : false), max: 1000} }"
                :name="field.label"
                :class="['form-control' , errorBag.first(field.label) ? 'is-invalid' : '']"
                >
            </textarea>
        </div>
    </div>
</div>
<div class="col-md-12" v-if="formFields.length"><hr /></div>
<div class="col-md-12">
    <div class="form-group">
        <label>Incident Details<sup class="text-danger">*</sup></label>
        <textarea v-model="form.incident_info.incident_details"
        placeholder="Enter something"
        rows="3"
        max-rows="6" v-validate="'required|max:500'"
        name="Incident Details"
        :class="['form-control' , errorBag.first('Incident Details') ? 'is-invalid' : '']"
        >
    </textarea>
    <p class="report-content">
        Please provide a detailed description of the incident/concern using specific, concise and objective language (Who, what, when, where, and how).
        Each individual listed as "involved" should appear in your incident description.
    </p>
</div>  
</div>                               
</div>
</div>
</div>
<div class="report-panel">
    <div class="report-panel-heading">
        <h4>Supporting Documentation</h4>
    </div>
    <div class="report-panel-body">
        <label>Please upload any supporting documentation that may provide additional context to the incident report (pictures, text messages, emails, etc.).</label>
        <div class="row">
            <div class="col-md-12">
                <div class="file_upload_block">
                    <h4>Click here or drag &amp; drop file here to upload</h4>
                    <p>Support file format are JPG, PNG, BMP, MP3, MP4, DOCX, XLS, PPT and PDF</p>

                    <!-- <input type="file" name="upload_file" @change="onFileChange"  ref="fileupload"/> -->

                    <file-upload-component 
                        :size="20"
                        :uploadKey="'ir'" 
                        :fileExtensions='fileExtensions' 
                        multiple='true'
                        @get-response="getFileUploadResponse" 
                        @errorMessage="getError" 
                        @show-progress="showProgress"
                        :class="[ loading ? 'disabled' : '', errorMessage ? 'disabled' : '',
                        (progressValue < 100 &  progressValue > 0) ? 'disabled' :''] ">
                    </file-upload-component>
            </div>
            <div class="document_item form-item">
                <div class="items" v-for="(fileData,index) in form.supporting_documents">
                    <div class="file-icon">
                        <img :src="fileData.original_name | attachmentIconUrl" />
                    </div>
                    <div class="file-title">
                        <i class="icon-close-custom" @click.prevent="onDeleteImage(fileData, index)"></i>
                        <input type="text" class="form-control" name="upload1" placeholder="Enter related file title" v-model="fileData.title" @blur="onImageTitleBlur(fileData.title, index)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="report-panel" v-if="!isLoggedIn">
    <div class="report-panel-heading">
        <h4>One last step...</h4>
    </div>
    <div class="report-panel-body">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <div class="captcha-loader" v-if="!delayLoad">
                        <block-spinner></block-spinner>
                    </div>
                    <vue-recaptcha v-if="delayLoad" @verify="onRecaptchaVerified"
                    :sitekey="googleReCaptchaSiteKey" @expired="onRecaptchaExpires">
                    </vue-recaptcha>
                    <small v-if="isRecaptchaVerifiedText" class="text-danger">Please verify the captcha.</small>
                </div>
        </div>
        <div class="col-md-8"><p>
            Help us prevent spam reports by completing this captcha.<br> <strong>NOTE:</strong> If you do not see a gray box with a checkbox that says "I'm not a robot", please try a different web browser.
        </p></div>
    </div>
</div>
</div>
<div class="report-panel">
    <div class="report-panel-body incident-form">
        <div class="row">
            <div class="col-md-12"><hr /></div>
            <div class="col-md-12">
                <d-alert v-if="errorMessage" :theme="'danger'" show>
                    {{ errorMessage }}
                </d-alert>
                <d-btn size="lg"
                @click.prevent="validateBeforeSubmit" :class="[loading  ? 'show-spinner' : '' , 'btn' , 'btn-primary' , 'apply-primary-color' ]">
                <span>Submit Report</span>
                <c-loader></c-loader>
            </d-btn>
        </div>
    </div>
</div>
</div>
</div>

</d-form>
</div>
</div>

</div>
</div>
</template>
</script>
<script>

    import VueRecaptcha from 'vue-recaptcha';
    import Selectize from 'vue2-selectize';
    import VueTimepicker from 'vue2-timepicker';
    import Multiselect from 'vue-multiselect'
    //import Vue from "vue";
    import VeeValidate from "vee-validate";
    import { Validator } from 'vee-validate';
    export default {
        components: { 
            Selectize,
            VueTimepicker,
            VueRecaptcha,
            Multiselect,
        },
        data () {
            return {
                irFormDetails: {
                    title: 'Student Conduct Incident Reporting Form',
                    sub_title: 'The reporting form is not a 911 or Emergency Service',
                    details: 'Do not use this site to report events, presenting an immediate threat safety or security threat. If this is an emergency, please contact UMKC Campus Safety & Police at +1 816-235-1000 or dial 911.',
                    thank_you_title: 'Thank you for your submission',
                    thank_you_details: 'This is confirmation that you have successfully submitted this incident.'
                },
                fileExtensions: 'jpg,jpeg,png,bmp,mp3,mp4,xls,docx,doc,pdf,ppt,xlsx,pptx,mpga,txt',
                googleReCaptchaSiteKey: '',
                disabledDates: {
                    from: new Date(Date.now() + 8640000)
                },
                dateFormat: 'MMM dd, yyyy',
                progressValue: 0,
                isTimeInvalid: false,
                test: "",
                isLoggedIn: false,
                errorMessage: "",
                successMessage: "",
                loading: false,
                url: "api/incident-case",
                file: "",
                customFields: [],
                options: [],
                isLoading: false,
                location: [],
                subLocation: [],
                subSpecificLocation: [],
                involvedUserIds: [],
                form: {   
                    case_number: "",
                    type: "ir",
                    stage: "Pending",
                    case_type: "", //split , merge
                    reported_by: "", 
                    at_risk: 0,
                    status: 'active', //"pending", "closed", "active"
                    is_discarded: 0,
                    assigned_by: "", // superadmin_id, admin_id
                    assigned_to: "", // superadmin_id, admin_id
                    incident_type_id: "",
                    form_id: "",
                    form_template: [],
                    rules: [],
                    background_info: {
                        user_id: "",
                        full_name: "",
                        title: "",
                        email: ""
                    },
                    involved_parties: [
                    {
                        user_id: "",
                        person_type_id: "",
                        is_flagged: 0,
                        type: "individual",
                        full_name: "",
                        person_type_id: "",
                        university_id: "",
                        phone_no: "",
                        email: "",
                        disabledEmail: false,
                        disabledPhone: false,
                        disabledUniversityID: false,
                        isLoading: false,
                    }
                    ],
                    incident_info: {
                        extra_details: "",
                        type_of_incident: "",
                        incident_type_id: "",
                        date_of_incident: "",
                        time_of_incident: {
                            h: "",
                            mm: "",
                            a: "am"
                        },
                        location_id: "",
                        building_id: "",
                        specific_location_id: "",
                        stage_id: "",
                        involved_incident: [],
                        assistance_service: [],
                        custom_field: [],
                        incident_details: "",
                    },
                    supporting_documents: [   
                    ],
                    parent_case_id: [],
                    child_case_ids: [],
                    other_details: []
                },
                userTypeRoles: [],
                incidentTypes: [],
                incidentLocations: [],
                incidentSubLocations: [],
                formFields: [],
                isRecaptchaVerified: false,
                isRecaptchaVerifiedText: false,
                irDetails: '',
                delayLoad: false,
            }
        },

        watch: {
            'form.incident_info.date_of_incident'(val) {

                var time = this.form.incident_info.time_of_incident;
                var a = (time.h == "" || time.h == "h")? moment().format('a') : time.a;
                var h = (time.h == "" || time.h == "h")? moment().format('h') : time.h;
                var mm = (time.mm == "" || time.mm == "mm")? moment().format('mm') : time.mm;

                var timeObj = {
                    h: h,
                    mm: mm,
                    a: a
                };
                this.form.incident_info.time_of_incident = timeObj;
            },
            'form.incident_info.incident_type_id'(val) {
                let self = this;
                self.formFields = [];
                //this.errorBag.clear();
                if(!val) {
                    return;
                }
                this.form.incident_type_id = val;
                var url = 'api/ir-form';
                if(!this.isLoggedIn) {
                    url = 'api/ir-form-guest';
                }
                url = url + '/' + val;
                this.$http.get(url).then(response=>{
                    response = response.data.data;
                    self.customFields = [];
                    self.formFields = [];
                    if(!response) {
                        return;
                    }else {
                        
                        self.formFields = response.formFields;
                        let len = self.formFields.length;
                        for(let i = 0 ; i < len; i++) {
                            var val = null;
                            if(self.formFields[i].type == "time") {
                                val = {
                                    h: moment().format('h'),
                                    mm: moment().format('mm'),
                                    a: "am",
                                };
                            }
                            if(self.formFields[i].type == "checkbox") {
                                val = _.map(self.formFields[i].options, function(obj) {
                                    return {
                                        label: obj.value,
                                        value: false,
                                        isChecked: false
                                    };
                                });
                            }
                            var optionLabels = [];
                            if(self.formFields[i].type == "radio" || self.formFields[i].type == "dropdown") {
                                optionLabels = _.map(self.formFields[i].options, function(obj) {
                                    return {
                                        label: obj.value
                                    };
                                });
                            }
                            self.customFields.push({
                                label: self.formFields[i].label,
                                value: val,
                                optionLabels: optionLabels,
                                type: self.formFields[i].type,
                                is_required: self.formFields[i].is_required,
                                is_show: self.checkState(self.formFields[i].label)
                            });
                        }
                    }
                }).catch(error=>{
                });
            }
        },
        computed: {
        },
        created() {
            let self = this;

            this.googleReCaptchaSiteKey = window.googleReCaptchaSiteKey;
            Validator.extend("timeValidate", value => {
                var now = moment();
                var formDate = this.form.incident_info.date_of_incident;

                if(formDate) {
                    var date_formatted = moment(formDate).format('YYYY-MM-DD');
                    var start = date_formatted+' '+value.h+':'+value.mm + ' ' + this.form.incident_info.time_of_incident.a;

                    var isToday = moment(formDate).isSame(moment(), 'day');
                    if(isToday &&  moment(start).isAfter(now)) {
                        return false;
                    }
                }else {
                    var date_formatted = moment().format('YYYY-MM-DD');
                    var start = date_formatted+' '+value.h+':'+value.mm + ' ' + this.form.incident_info.time_of_incident.a;
                    if(moment(start).isAfter(now)) {
                        return false;
                    }
                }

                if((value.h === "00" || value.h === "" || value.h === "h") || (value.mm === "") || value.a === "") {
                 return false;
                 }
                 return true;
             });
            Validator.extend("timeValidate2", value => {
                if(((value.mm !== "" && value.h !== "h") && (value.mm === "" || value.mm === "NaN"))) {
                    return false;
                }
                if(((value.mm !== "" && value.mm !== "NaN") && value.h === "h")) {
                    return false;
                }
                if((value.h === "00" || value.h === "") || (value.mm === "") || (value.a === "")) {
                    return false;
                }
                return true;
             });
            setTimeout(function () {
                Vue.nextTick(() => {
                    self.errorBag.clear();
                })
            }, 100);
        },
        mounted() {
            this.verifyUser();
            this.getUserTypeRoles();
            this.getIncidentTypes();
            this.getIncidentLocation();
            if(typeof(this.$store.getters.getDisplaySetting) == "undefined" || this.$store.getters.getDisplaySetting == null) {
                this.irDetails = this.irFormDetails;
            }else {
                this.irDetails = this.$store.getters.getDisplaySetting.ir_page;
            }
            setTimeout(() => {
                this.delayLoad = true;
            }, 2000);
            if(!this.isLoggedIn) {
                $('html').find('body').addClass('incident-reporting-guest');
            }
        },
        methods: {
            getLabel(label) {
                label = label.replace(/\s+/g,"_");
                return label.replace(/:+/g,"");
            },
            imageLoadError(event){
                event.target.src = "/images/dummy/image-placeholder.jpg";
            },
            changeTimePickerHandler(eventData) {
                let self = this;
                var val = eventData.data;
                if(val.h != 'h' && val.h != "" && val.h != "00" && (val.mm == "" || val.mm == "mm")){
                    eventData.data.mm = '00';
                    setTimeout(function(){
                        self.form.incident_info.time_of_incident = {
                            h: eventData.data.h,
                            mm: '00',
                            a: eventData.data.a
                        };
                    }, 100);
                }
            },
            onImageTitleBlur(title, index) {
                if(!title) {
                    this.form.supporting_documents[index].title = "untitled";
                }
            },
            onRemoveParty(removedOption) {
                removedOption.disabledPhone = false;
                removedOption.disabledEmail = false;
                removedOption.disabledUniversityID = false;
                removedOption.email = "";
                removedOption.university_id = "";
                removedOption.phone_no = "";
                removedOption.user_id = "";
                this.involvedUserIds = [];
                this.options = [];
                this.makeInvolvedUserId();
            },
            onChangePartyType(removedOption, val) {
                removedOption.full_name = "";
                removedOption.disabledPhone = false;
                removedOption.disabledUniversityID = false;
                removedOption.disabledEmail = false;
                removedOption.email = "";
                removedOption.university_id = "";
                removedOption.phone_no = "";
                removedOption.user_id = "";
                this.involvedUserIds = [];
                this.options = [];
                this.makeInvolvedUserId();
            },
            showProgress(value){
                this.progressValue = value;
            },
            getError(response) {
                let self = this;
                self.errorMessage = response;
                setTimeout(function() {
                    self.errorMessage = '';
                }, 2000);
            },
            getFileUploadResponse(response) {
                let self = this;
                var data = {
                    name: response.name,
                    original_name: response.original_name,
                    title: response.original_name,
                    upload_url: response.upload_url
                };
                self.form.supporting_documents.push(data);
            },
            checkState(label) {
                var isFound = _.find(this.formFields, function(field) {
                    return _.find(field.rules, function(rule) {
                        return rule.then.label == label;
                    });
                });
                if(typeof(isFound) != "undefined") {
                 var rule = _.find(isFound.rules, function(rule) {
                        return rule.then.label == label;
                    }); 
                 return rule.action == "show"? false : true;
             }else {
                return true;
            }
        },
        onChangeBuilderCheckBox(e, field, option) {
            var rule = _.find(field.rules, {"value": option});
            if(typeof(rule) != "undefined") {
                var targetFieldIndex = _.findIndex(this.customFields, {"label": rule.then.label});
                if(e) {
                    this.customFields[targetFieldIndex].is_show = rule.action == "show"? true : false;
                }else {
                    this.customFields[targetFieldIndex].is_show = rule.action == "show"? false : true;
                }
            }
        },
        onChangeBuilder(option, field) {
            let self = this;
            _.forEach(field.rules, function(rule) {
                var targetFieldIndex = _.findIndex(self.customFields, {"label": rule.then.label});
                if(targetFieldIndex != -1) {
                    self.customFields[targetFieldIndex].is_show = self.checkState(rule.then.label);
                }
            });

            var rule = _.find(field.rules, {"value": option});
            if(typeof(rule) != "undefined") {
                var targetFieldIndex = _.findIndex(this.customFields, {"label": rule.then.label});
                if(targetFieldIndex != -1) {
                    this.customFields[targetFieldIndex].is_show = rule.action == "show"? true : false;
                }
            }

        },
        addTag (newTag, selectedUser) {
          const tag = {
            fullname: newTag,
            first_name: "",
            middle_name: "",
            last_name: "",
            profile_image: '../images/dummy/image-placeholder.jpg',
        }
        this.options.push(tag);
    },
    onLocationChange(locationId) {
        var location = _.map(this.incidentLocations, function(value, key) {
            if(value.parent_id == locationId) {
                return value;
            }
        });
        location = _.without(location, undefined);
        location = _.orderBy(location, ['name'],['asc']);
        this.subLocation = location;
        this.subSpecificLocation = [];
        this.form.incident_info.building_id = "";
        this.form.incident_info.specific_location_id = "";
    },
    getLocation(incidentLocations) {
        var location = _.map(incidentLocations, function(value, key) {
            if(!value.parent_id) {
                return value;
            }
        });
        location = _.without(location, undefined);
        return location;
    },
    customLabel ({ first_name, middle_name, last_name }) {
      return `${first_name} ${middle_name} ${last_name}`
  },
  dispatchAction (selectedUser) {
    let self = this;
    this.options = [];
    setTimeout(function() {
        var user = selectedUser.full_name;
        var tempProfile = {
            first_name: user.first_name,
            middle_name: user.middle_name,
            last_name: user.last_name,
            profile_image: user.profile_image,
        };
        selectedUser.full_name = tempProfile;
        selectedUser.email = user.email;
        var temp = (user.user_profile && typeof(user.user_profile.contact_info) != "undefined")?user.user_profile.contact_info : "";
        temp = temp? temp.mobile_number : "";
        temp = temp? temp : temp.home_number;
        temp = temp? temp : "";
        selectedUser.user_id = user.id;
        selectedUser.university_id = user.external_user_id;
        selectedUser.phone_no = user.phone_number? user.phone_number : temp;
        selectedUser.disabledEmail = true;
        selectedUser.disabledUniversityID = true;
        selectedUser.disabledPhone = selectedUser.phone_no? true : false;
        self.makeInvolvedUserId();
    }, 500);
},
makeInvolvedUserId(id = false) {
    var temp = _.map(this.form.involved_parties, function(obj) {
        return obj.user_id;
    });
    temp = _.without(temp, "");
    if(id){
        temp = _.without(temp, id);
    }
    this.involvedUserIds = temp;
                // this.isLoading = _.map(this.involvedUserIds, function() {
                //     return false;
                // });
            },
            selectUser (user) {
            },
            onTouch () {
            //this.options = [];
            this.loading = false;
            this.isTouched = true;
        },
        asyncFind: _.debounce(function(query, field, type) {
            let self = this;
                if(!query || query.length < 3) {
                    return;
                };
                this.searchUrl  = 'api/user?ir-restrict=true&with_user_profile=true&keyword=' + query +'&search_type='+type;
                field.isLoading = true;
                this.$http.get(this.searchUrl).then(response => {
                    response = response.data;
                    if(response.data.length) {
                        var tempData = _.map(response.data, function(item) {
                            if((self.involvedUserIds.length && self.involvedUserIds.indexOf(item.id) == -1) || !self.involvedUserIds.length) {
                                return item;
                            }
                        });
                        tempData = _.without(tempData, undefined);
                        self.options = tempData;
                    }
                    else{
                        self.options = [];
                        field.isLoading = false;

                        response.data.error = 'No record found';
                        let errors = response.data.error;

                            self.$toasted.show(errors, {
                                theme: "bubble",
                                position: "bottom-right",
                                duration : 3000,
                                type: ['error'],
                                singleton: true,
                                icon : '',
                                className: 'error-toast alert-danger'
                            })
                            return false

                        response.data.errors = []

                        return Promise.reject(error);
                    }
                    field.isLoading = false;
                }).catch(error=>{
                });
            }, 1000),
        limitText (count) {
          return `and ${count} other users`
      },
      onLogin() {
        this.$router.push({ name: 'login' });
    },
    clearFile () {
        const input = this.$refs.fileupload;
        input.type = 'text';
        input.type = 'file';
    },
    verifyUser() {
        var user = JSON.parse(this.$store.getters.getAuthUser);
        if (typeof(user.id) != 'undefined') {
            this.isLoggedIn = true;
            this.isRecaptchaVerified = true;
            this.form.reported_by = user.id;
            this.form.background_info = {
                user_id: user.id,
                full_name: user.first_name +" "+ user.middle_name +" "+ user.last_name,
                title: "Engineer",
                email: user.email
            };
        }else {

            this.isLoggedIn = false;
            this.isRecaptchaVerified = false;
        }
    },
    onRecaptchaVerified(response) {
      this.isRecaptchaVerified = true;
  },
  onRecaptchaExpires(response) {
      this.isRecaptchaVerified = false;
  },
  onSetImageTitle(img) {
    if(!img.title) {
        img.title = "Untitled";
    }
},
getImageUrl(img) {
    var type = img.split(".")[1];
    var icons = {
        'png': 'images/files/jpg.svg',
        'jpg': 'images/files/jpg.svg',
        'jpeg': 'images/files/jpeg.svg',
        'mp4': 'images/files/mp4.svg',
        'mp3': 'images/files/mp3.svg',
        'word': 'images/files/word.svg',
    };
    return icons[type];
},
getUserTypeRoles() {
    let self = this;
    let url = "api/involved-user-type";
    if(!this.isLoggedIn) {
        url = "api/involved-user-type-guest";
    }
    self.$http.get(url).then(response=>{
        response = response.data.data;
        self.userTypeRoles = response;
    }).catch(error=>{
    });
},
getIncidentLocation() {
    let self = this;
    let url = "api/location?is_archived=0&order_by=name";
    if(!this.isLoggedIn) {
        url = "api/location-guest?is_archived=0&order_by=name";
    }
    self.$http.get(url).then(response=>{
        response = response.data.data;
        self.incidentLocations = response;
        self.location = self.getLocation(response);
        self.subLocation = [];
    }).catch(error=>{
    });
},
getIncidentSpecificLocation(id) {
    if (!id || id == "none") {
        this.form.incident_info.specific_location_id = "none";
        return;
    };
    let self = this;
    let url = "api/specific-location?is_archived=0&order_by=name&building_id=" + id;
    if(!this.isLoggedIn) {
        url = "api/specific-location-guest?is_archived=0&order_by=name&building_id=" + id;
    }
    self.$http.get(url).then(response=>{
        response = response.data.data;
        self.subSpecificLocation = response;
    }).catch(error=>{
    });
},
getIncidentTypes() {
    let self = this;
    let url = "api/incident-type-guest?is_archived=0&orderby_name=true&filter_by_child=1";
    self.$http.get(url).then(response=>{
        response = response.data.data;
        self.incidentTypes = response;
    }).catch(error=>{
    });
},

removeInvolvedParty(index) {
    this.options = [];
    this.form.involved_parties.splice(index, 1);
    this.makeInvolvedUserId();
},
addInvolvedParty() {
    this.form.involved_parties.push(
    {
        user_id: "",
        person_type_id: '',
        is_flagged: 0,
        type: "individual",
        full_name: "",
        person_type_id: "",
        university_id: "",
        phone_no: "",
        email: "",
        disabledEmail: false,
        disabledPhone: false,
        disabledUniversityID: false,
        isLoading: false,
    });
    this.makeInvolvedUserId();
},
involvedPartyName(e, involved_party) {
    let name = e.split(" ");
    involved_party.first_name = this.getName(name[0]);
    involved_party.middle_name = this.getName(name[1]);
    involved_party.last_name = this.getName(name[2]);
    return e;
},
validateBeforeSubmit() {
    var self = this;
    this.$validator.validateAll().then((result) => {
        if (result) {
            var checkNull = _.filter(this.form.involved_parties, function(obj) {
                return ((obj.full_name == "" || obj.full_name == null) && (obj.phone_no || obj.email));
            });
            if(checkNull.length) {
                if(!self.$toasted.toasts.length) {

                    self.$toasted.show("The 'Name' field is required.", {
                                theme: "bubble",
                                position: "bottom-right",
                                duration : 3000,
                                type: ['error'],
                                singleton: true,
                                icon : '',
                                className: 'error-toast alert-danger'    
                    });
                }
                return;
            }
            if(this.isRecaptchaVerified) {
                this.errorBag.clear();
                this.onSubmit();
                this.errorMessage = '';
                this.isRecaptchaVerifiedText = false;
                return;
            }else {
                this.isRecaptchaVerifiedText = true;
            }
        }
        var msg = this.errorBag.all()[0];
        var label = this.errorBag.items[0].field;
        // var replaceLabel = label.replace(/[0-9]+/g,'');
        var replaceLabel = '"' + label.replace(/_+/g," ") + '"';
        var regex = new RegExp(label + "[0-9]*", "g");
        msg = msg.replace(regex, replaceLabel);
        msg = msg.replace(/PhoneNumber[0-9]*/g, "Phone Number");
        msg = msg.replace(/Role[0-9]*/g, "Role");
        msg = msg.replace(/Name[0-9]*/g, "Name");
        msg = msg.replace(/EmailAddress[0-9]*/g, "Email Address");
        this.errorMessage = 'Fill all highlighted field first.';

        setTimeout(function() {
            self.errorMessage = "";
        }, 3000);
    });
},
onDeleteImage(doc, index) {
    var self = this;
    let url = "api/file/remove";
    var data = {
        file_name: doc.name
    };
    this.form.supporting_documents.splice(index, 1);
    this.$http.post(url, data).then(response => {
        response = response.data;
    }).catch(error => {
        error = error.response.data;
        let errors = error.errors;
        _.forEach(errors, function(value, key) {
            self.errorMessage =  errors[key][0];
            return false;
        });
    });
},
getName(name) {
    return typeof(name) != "undefined"? name : "";
},
onSubmit() {
    var self = this;
    this.loading = true;  
    let url = this.url;
    if(!this.isLoggedIn){
        url = 'api/incident-case-guest';    
    }
    this.form.incident_info.custom_field = this.customFields;

    var data = this.form;
    this.$http.post(url, data).then(response => {
        response = response.data.data;
        self.successMessage = response.message;
        setTimeout(function () {
            self.successMessage = '';
            self.loading = false;  
            self.form = {};
            self.$emit('show-report', response.case_number, self.irDetails);         
        } , 2000);

    }).catch(error => {
        let self = this;
        error = error.response.data;
        let errors = error.errors;

        this.errorBag.clear();
        $.each(errors, function(field, messages) { 
            self.errorBag.add({
                field: field,
                msg: messages[0]
            }); 
        });
        this.loading = false;
    });
},
redirectToDashboard() {
    this.$router.push({name: 'conduct-incidents'});
}
},
}
</script>