<template>
    <div>
        <i @click="isActive = !isActive"
            class="icon-menu2 showNavIcon">                
        </i>
    
    <div class="left-side-nav scrollable" id="style-2" v-bind:class="{ active: isActive }">
        <ul role="tablist">
            <li

            v-for="(menuList, index) in menuListing"
            v-if="showReopen(menuList.menuName) ||  (menuList.menuAnchor != 'reopen-case-popup')"
            :key="index"
            role="presentation"
            :class="[ showComposeArea &&  menuList.menuAnchor != 'reopen-case-popup'? 'is-inactive' : '' ,
            incidentTypeDisable && !menuList.isCase ? 'is-inactive' : '' , !incidentTypeDisable ? menuList.hideClass : '' ,
            (menuList.menuAnchor == 'discard-case-popup' && caseData && (caseData.is_discarded != 1 && caseData.status != 'closed'))? 'is-delete' : '',
            (menuList.menuAnchor == 'discard-case-popup' && caseData && (caseData.is_discarded == 1 || caseData.status == 'closed')) ? 'is-inactive' : '',
            (menuList.menuAnchor == 'close-case-popup' && caseData &&  caseData.status == 'closed')? 'hide' : '',
            (menuList.menuAnchor == 'change-status-popup' && caseData &&  !caseData.assigned_to)? 'is-inactive' : '',
            
            ] ">

            <a @click="$emit('manage-cases-popups', menuList)"
                href="javascript:void(0);"
                role="tab">
            <i :class="menuList.menuIcon"></i>
            {{ menuList.menuName }}
        </a>
    </li>
</ul>

<common-methods 
:url="requestUrl"
@get-response="getResponse"
>   
</common-methods>
</div>
</div>
</template>

<script>
    export default {
        props: [ 
        'checkIncident'
        ],
        data(){
            return {
                url: 'api/incident-case/',
                addDisableCases: '',
                incidentTypeDisable:'',
                formData: {
                    case_no: '',
                },
                isActive: false,
                menuListing: [
                    {
                        menuName: 'Modify Details',
                        menuIcon: 'icon-edit',
                        menuAnchor: '',
                        isCase : true,
                        disabledClass: '',
                        hideClass:'',
                        url: 'Modify Details',
                        isDiscard: false,
                    },
                    {
                        menuName: 'Convert to Case',
                        modalTitleName: 'Convert to Case',
                        menuIcon: 'icon-convert-to-case',
                        menuAnchor: 'convert-case-popup',
                        isCase : true,
                        disabledClass: '',
                        hideClass:'hide',
                        url: 'Convert to Case',
                        isDiscard: false,
                        openPopup: 'convertCasePopup'
                    },
                    {
                        menuName: 'Change Stage',
                        modalTitleName: 'Change Case Status',
                        menuIcon: 'icon-change-status',
                        menuAnchor: 'change-status-popup',
                        isCase : false,
                        disabledClass: 'disabled',
                        hideClass:'',
                        url: 'Change Status',
                        isDiscard: false,
                        openPopup: 'changeStatusPopup',

                    },
                    {
                        menuName: 'Merge Case',
                        modalTitleName: 'Merge Case',
                        menuIcon: 'icon-merge-case1',
                        isCase : true,
                        menuAnchor: 'merge-case-popup',
                        disabledClass: '',
                        hideClass:'',
                        url: 'Merge Case',
                        isDiscard: false,
                        openPopup: 'mergeCasePopup',

                    },
                    {
                        menuName: 'Split Case',
                        modalTitleName: 'Split Case',
                        menuIcon: 'icon-shuffle',
                        isCase : false,
                        menuAnchor: 'split-case-popup',
                        disabledClass: 'disabled',
                        hideClass:'',
                        url: 'Split Case',
                        isDiscard: false,
                        openPopup: 'splitCasePopup',
                    },
                    {
                        menuName: 'Charges',
                        modalTitleName: 'Manage Charges',
                        menuIcon: 'icon-assign-charges',
                        isCase : false,
                        menuAnchor: 'manage-charges-popup',
                        disabledClass: 'disabled',
                        hideClass:'',
                        url: 'api/charge',
                        isDiscard: false,
                        openPopup: 'manageCases'
                    },
                    {
                        menuName: 'Sanctions',
                        modalTitleName: 'Manage Sanctions',
                        menuIcon: 'icon-assign-sanctions',
                        isCase : false,
                        menuAnchor: 'manage-sanctions-popup',
                        disabledClass: 'disabled',
                        hideClass:'',
                        url: 'api/case-sanction',
                        isDiscard: false,
                        openPopup: 'manageCases'
                    },
                    {
                        menuName: 'Plea',
                        modalTitleName: 'Manage Plea',
                        menuIcon: 'icon-assign-charges',
                        isCase : false,
                        menuAnchor: 'manage-plea-popup',
                        disabledClass: 'disabled',
                        hideClass:'',
                        url: 'api/case-plea',
                        isDiscard: false,
                        openPopup: 'manageCases'
                    },
                    {
                        menuName: 'Appeal',
                        modalTitleName: 'Manage Appeal',
                        menuIcon: 'icon-appeal',
                        isCase : false,
                        menuAnchor: 'manage-appeals-popup',
                        disabledClass: 'disabled',
                        hideClass:'',
                        url: 'api/appeal',
                        isDiscard: false,
                        openPopup: 'manageCases'
                    },
                    {
                        menuName: 'Export Case',
                        modalTitleName: 'Export Case',
                        menuIcon: 'icon-export',
                        isCase : true,
                        menuAnchor: 'export-case-popup',
                        disabledClass: '',
                        hideClass:'',
                        url: 'Export Case',
                        isDiscard: false,
                        openPopup: 'exportCasePopup'

                    },
                    {
                        menuName: 'Reopen Case',
                        modalTitleName: 'Reopen Case',
                        menuIcon: 'icon-edit',
                        isCase : true,
                        menuAnchor: 'reopen-case-popup',
                        disabledClass: '',
                        hideClass:'',
                        url: 'Reopen Case',
                        isDiscard: false,
                        openPopup: 'reopenCasePopup'
                    },
                    {
                        closed: this.$store.getters.getCaseData ? this.$store.getters.getCaseData.status == 'closed' : false,
                        menuName: 'Close Case',
                        modalTitleName: 'Close Case',
                        menuIcon: 'icon-edit',
                        isCase : false,
                        menuAnchor: 'close-case-popup',
                        disabledClass: 'disabled',
                        hideClass:'',
                        url: 'Close Case',
                        isDiscard: false,
                        openPopup: 'closeCasePopup'

                    },
                    {
                        discarded: this.$store.getters.getCaseData ? this.$store.getters.getCaseData.is_discarded == 1 || this.$store.getters.getCaseData.status == 'closed': false,
                        menuName: 'Discard Case',
                        modalTitleName: 'Discard Case',
                        menuIcon: 'icon-delete',
                        isCase : true,
                        menuAnchor: 'discard-case-popup',
                        disabledClass: 'danger',
                        hideClass:'',
                        url: 'Discard Case',
                        isDiscard: true,
                        openPopup: 'discardCasePopup'
                    },
                ]
            }
        },

        computed: {
            requestUrl(){
            if(this.$route.params){
                return this.url + this.$route.params.id;
            }
        },
        caseData(){
            return this.$store.getters.getCaseData;
        },

        showComposeArea(){
            var caseData = this.$store.getters.getCaseData;
            return caseData ? (caseData.status == 'closed' || caseData.is_discarded) : false;
        }

        },  

        watch: {
            checkIncident(value) {
                if(value) {
                    if (value == 'ir') {
                        this.incidentTypeDisable = true;
                    }else{
                        this.incidentTypeDisable = false;
                    }
                }  
            },  
        },
        methods: {

        getResponse(response) {
            if(Object.keys(response.data).length) {
                this.$store.commit('setCaseData', response.data);
            }
        },

        showReopen(tabValue){
          return tabValue == 'Reopen Case' && this.caseData  && this.caseData.status == 'closed'
        },

    },
}

</script>
