<template>
    <div>
        <i @click="isActive = !isActive"
        class="icon-menu2 showNavIcon">                
    </i>
    <div
    v-bind:class="{ active: isActive }"
    class="left-side-nav with-parallel-icon scrollable" 
    id="style">        
    <ul role="tablist">
        <li
            @click="isActive = !isActive"
            v-can:view="menuList.viewScope"        
            v-for="(menuList, index) in menuListing"
            :key="index"
            role="presentation">
            <router-link        
                :to="{ name:''+menuList.menuAnchor+''}"
                :class="menuList.disabledClass"
                role="button">
                <i :class="menuList.menuIcon"></i>
                {{ menuList.menuName }}
            </router-link>
        </li>
    </ul>
</div></div>
</template>
<script>
    export default {
        data() {
            return {
                isActive: false,
                menuListing: [
                {
                    menuName: 'Incident Types',
                    menuIcon: 'icon-list1',
                    menuAnchor: 'configuration-incident-type',
                    disabledClass: '',
                    viewScope : 'incident-type-section'
                },
                {
                    menuName: 'Workflows',
                    menuIcon: 'icon-workflow2',
                    menuAnchor: 'configuration-workflows',
                    disabledClass: '',
                    viewScope : 'configurations-section'
                },
                {
                    menuName: 'Organization',
                    menuIcon: 'icon-house',
                    menuAnchor: 'configuration-organization',
                    disabledClass: '',
                    viewScope : 'organization'
                },
                {
                    menuName: 'IR Form Builder',
                    menuIcon: 'icon-compose',
                    menuAnchor: 'ir-form-builder',
                    disabledClass: '',
                    viewScope : 'ir-form-builder-section'
                },
                {
                    menuName: 'Email Templates',
                    menuIcon: 'icon-email',
                    menuAnchor: 'configuration-email-templates',
                    disabledClass: '',
                    viewScope : 'email-template-section'
                },
                {
                    menuName: 'Data Importer',
                    menuIcon: 'icon-upload',
                    menuAnchor: 'configuration-data-importer',
                    disabledClass: '',
                    viewScope : 'data-importer-section'
                },
                {
                    menuName: 'Display Settings',
                    menuIcon: 'icon-settings',
                    menuAnchor: 'configuration-display-settings',
                    disabledClass: '',
                    viewScope : 'display-settings-section'
                },
                {
                    menuName: 'Checklists',
                    menuIcon: 'icon-change-status',
                    menuAnchor: 'configuration-checklist',
                    disabledClass: '',
                    viewScope : 'checklist-section'
                },
                {
                    menuName: 'Incident Roles',
                    menuIcon: 'icon-list1',
                    menuAnchor:'configuration-incident-role',
                    disabledClass: '',
                    viewScope : 'involved-user-type-section'
                },
                {
                    menuName: 'Locations',
                    menuIcon: 'icon-map-location',
                    menuAnchor: 'configuration-locations',
                    disabledClass: '',
                    viewScope : 'locations-section'
                },
                {
                    menuName: 'Buildings',
                    menuIcon: 'icon-house',
                    menuAnchor: 'configuration-buildings',
                    disabledClass: '',
                    viewScope : 'buildings-section'
                },
                {
                    menuName: 'Specific Locations',
                    menuIcon: 'icon-house',
                    menuAnchor: 'configuration-specific-locations',
                    disabledClass: '',
                    viewScope : 'specific-location-section'
                },
                {
                    menuName: 'Violations',
                    menuIcon: 'icon-folder',
                    menuAnchor: 'configuration-violations',
                    disabledClass: '',
                    viewScope : 'violations-section'
                },
                {
                    menuName: 'Plea Types',
                    menuIcon: 'icon-assign-charges',
                    menuAnchor: 'configuration-plea-types',
                    disabledClass: '',
                    viewScope : 'plea-types-section'
                },
                {
                    menuName: 'Plea Outcomes',
                    menuIcon: 'icon-assign-charges',
                    menuAnchor: 'configuration-plea-outcomes',
                    disabledClass: '',
                    viewScope : 'plea-outcome-section'
                },
                {
                    menuName: 'Sanctions',
                    menuIcon: 'icon-assign-sanctions',
                    menuAnchor: 'configuration-sanctions',
                    disabledClass: '',
                    viewScope : 'sanctions-section'
                },
                {
                    menuName: 'Fines',
                    menuIcon: 'icon-pin',
                    menuAnchor: 'configuration-fines',
                    disabledClass: '',
                    viewScope : 'fines-section'
                },
                {
                    menuName: 'Title IX Categories',
                    menuIcon: 'icon-target2',
                    menuAnchor:'configuration-title-ix-categories',
                    disabledClass: '',
                    viewScope : 'title-ix-category-section'
                },
                {
                    menuName: 'Appeal Types',
                    menuIcon: 'icon-hold',
                    menuAnchor: 'configuration-appeal-types',
                    disabledClass: '',
                    viewScope : 'appeal-types-section'
                },
                {
                    menuName: 'Appeal Status',
                    menuIcon: 'icon-switch',
                    menuAnchor: 'configuration-appeal-statuses',
                    disabledClass: '',
                    viewScope : 'appeal-status-section'
                },
                {
                    menuName: 'Appeal Reviews',
                    menuIcon: 'icon-saction',
                    menuAnchor: 'configuration-appeal-reviews',
                    disabledClass: '',
                    viewScope : 'appeal-reviews-section'
                },
                {
                    menuName: 'Appeal Outcomes',
                    menuIcon: 'icon-flag',
                    menuAnchor: 'configuration-appeal-outcomes',
                    disabledClass: '',
                    viewScope : 'appeal-outcomes-section'
                },
                {
                    menuName: 'Board Types',
                    menuIcon: 'icon-employee1',
                    menuAnchor: 'configuration-board-member-types',
                    disabledClass: '',
                    viewScope : 'board-members-section'
                },
                {
                    menuName: 'Hearing Types',
                    menuIcon: 'icon-note',
                    menuAnchor: 'configuration-hearing-types',
                    disabledClass: '',
                    viewScope : 'hearing-types-section'
                },
                {
                    menuName: 'Hearing Locations',
                    menuIcon: 'icon-location-icon',
                    menuAnchor: 'configuration-hearing-locations',
                    disabledClass: '',
                    viewScope : 'hearing-locations-section'
                },
                {
                    menuName: 'Flag Status',
                    menuIcon: 'icon-flag',
                    menuAnchor:'configuration-student-flags',
                    disabledClass: '',
                    viewScope : 'flag-status-section'
                }
                ]
            }
        },
    }
</script>
