<template>
    <div class="left-side-nav scrollable" id="style-2">
        <ul role="tablist">
            <li
            v-for="(menuList, index) in menuListing"
            v-if="(menuList.menuName == 'Modify Details' && authUser.id == incidentCase.reported_by) || menuList.menuName == 'Sanctions' || menuList.menuName == 'Appeal'" 
            :key="index"
            role="presentation" :class="disableNavbar">
            <a 
            @click="$emit(''+menuList.menuAnchor+'')"
            :class="menuList.disabledClass"
            href="javascript:void(0);"
            role="tab">
            <i :class="menuList.menuIcon"></i>
            {{ menuList.menuName }}
        </a>
    </li>
</ul>
</div>
</template>

<script>
export default {
    props: ['disableAppealPopup'],
    data() {
        return {
            menuListing: [
            {
                menuName: 'Modify Details',
                menuIcon: 'icon-edit',
                menuAnchor: 'modify-details',
                disabledClass: '',
                url: 'Modify Details',
                hideClass:'',
            },

            {
                menuName: 'Sanctions',
                menuIcon: 'icon-assign-sanctions',
                menuAnchor: 'student-sanctions-popup',
                disabledClass: '',
                hideClass:'',
            },
            {
                menuName: 'Appeal',
                menuIcon: 'icon-appeal',
                menuAnchor: 'student-appeals-popup',
                disabledClass: '',
                hideClass:'',
            },
            ]
        }
    },
    computed: {
        incidentCase(){
            return this.$store.getters.getCaseData;
        },
        disableNavbar(){
            if(this.incidentCase && typeof(this.incidentCase) !== 'undefined'){
                if(this.incidentCase.status == 'closed' || this.incidentCase.is_discarded == 1){
                    return 'is-inactive';
                }
            }
        },
        authUser(){
            return JSON.parse(this.$store.getters.getAuthUser);
        }
    },
    watch: {
        disableAppealPopup(value){
            _.forEach(this.menuListing,function(val,ind){
                if(val.menuName == 'Appeal'){
                    val.disabledClass = value;
                }
            });
        },
    }

}
</script>
