<template>
  	<div class="manage-listing">
      	<d-card>
	        <d-card-body>
		        <label>Joshua Brewer</label>
		        <p>Harassment, Domestic Violence, &amp; 2 more</p>
	        </d-card-body>
      	</d-card>
  	</div>
</template>