<template>


    <div class="report-stage stage-block">
        <h3>Reported by</h3>
        <div class="list-profile-view">
            <div v-if="incidentCase.reported_by_user"
            v-bind:style="{'background-image' : 'url('+incidentCase.reported_by_user.profile_image+')',}"
            class="image-block">
        </div>
        <div class="profile-detail">
            <h4>
                <a href="javascript:void(0);">{{ incidentCase.reported_by_user | fullName }}</a>
            </h4>
        </div>
    </div>
</div>


</template>

<script>
    export default{
        props : ['incidentCase']
    }
</script>