<template>

    <div>

        <h3>Pending Stage</h3>
        <div class="date-expectation">
            <ul>
                <li class="avaliable active">2 days</li>
                <li class="avaliable active">8 days</li>
                <li class="avaliable">5 days</li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="right-pos">
            <label>
                Start date:
                <strong>{{ incidentCase.incident_info.date_of_incident }}</strong>
            </label>
        </div>


        <div class="closure">
            <label>Expected close date: <strong>{{ incidentCase.expected_close_date ? incidentCase.expected_close_date : 'NOT SET' }}</strong></label>
        </div>


    </div>
    


    
</template>

<script>
    export default{
        props : ['incidentCase']
    }
</script>