<template>
  <div v-on-clickaway="away">
    <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
        <ul class="navbar-nav border-left flex-row">
            <li
            v-if="!$route.meta.currentPortal === 'student'"
            class="nav-item border-right dropdown notifications">
            <a class="nav-link nav-link-icon text-center">
              <i class="icon-calendar"></i>
            </a>
            </li>
            <li class="nav-item border-right dropdown notifications" @click="isShowing ^= true">
                <!-- notification -->
                <c-notification :isShowTab='isShowing'
                @notifyPopupon="$emit('indexVar')"
                @notifyPopupoff="$emit('indexVarClose')">    
            </c-notification>
            <!-- notification  end-->
            </li>
           
           <!-- Desktop Profile Popup -->
            <li
            class="nav-item dropdown profile-links">
                <a v-if="$mq === 'laptop'"
                    class="nav-link text-nowrap px-3"
                    href="javascript:void(0);"
                    v-on:click.prevent='isLoginDropDown = !isLoginDropDown'>
                            <!-- <div class="photo-block" v-bind:style="{'background-image': 'url('+ info.profile_image +')',}">
                            <img class="placeholderimage" :src="placeholderimage" v-if="info.profile_image == null">
                        </div> -->
                        <span class="user-avatar rounded-circle mr-2 background-pic" v-if="info.profile_image != null" :style="{ 'background-image': 'url(' + info.profile_image + ')' }">

                        </span>
                        <span class="user-avatar rounded-circle mr-2 background-pic" v-if="info.profile_image == null" :style="{ 'background-image': 'url(' + placeholderimage + ')' }">
                        </span>
                        <span class="d-none d-md-inline-block user-info">
                            {{info | fullName }}
                            <p>
                              {{info.role_details ? info.role_details.name : ''}}
                          </p>
                      </span>
                      <i class="icon-keyboard_arrow_up"></i>
                  </a>
                  
                  <!-- Mobile Profile Popup -->
                  <a v-if="$mq === 'mobile'"
                    @click.prevent="$emit('update-profile-popup', info)"                    
                    class="nav-link text-nowrap px-3"
                    href="javascript:;">
                        <span class="user-avatar rounded-circle mr-2 background-pic" v-if="info.profile_image != null" :style="{ 'background-image': 'url(' + info.profile_image + ')' }">

                        </span>
                        <span class="user-avatar rounded-circle mr-2 background-pic" v-if="info.profile_image == null" :style="{ 'background-image': 'url(' + placeholderimage + ')' }">
                        </span>
                        <span class="d-none d-md-inline-block user-info">
                            {{info | fullName }}
                            <p>
                              {{info.role_details ? info.role_details.name : ''}}
                          </p>
                      </span>
                      <i class="icon-keyboard_arrow_up"></i>
                  </a>
                  <!-- Mobile Profile Popup -->

                  <div
                      class="dropdown-menu dropdown-menu-small user-account-menu show"
                      v-show="isLoginDropDown">

                      <a
                          :class="['dropdown-item', loggedout ? 'disabled' : '']"
                          href="javascript:void(0);"
                          @click.prevent="$emit('update-profile-popup', info)">
                          <i class="icon-default-user"></i>
                          Modify Profile Picture
                      </a>
                      <a
                          :class="['dropdown-item', loggedout ? 'disabled' : '']"
                          href="javascript:void(0);"
                          @click="$emit('contact-support-popup')">
                          <i class="icon-help-1"></i>
                          Contact Support
                      </a>
                      <div class="dropdown-divider"></div>
                      <a :class="['dropdown-item' ,' text-danger' , loggedout ? 'disabled' : '']" @click="logout">
                          <i class="icon-signout-1 text-danger" ></i>
                          Sign out
                      </a>
                </div>
                <div class="mobile-naviagtion-area">
                    <a
                        href="javascript:;"
                        @click="mobileContactPopup();">
                        <i class="icon-help-1"></i>
                    </a>
                    <a role="button"
                        @click="logout">
                        <i class="icon-signout-1 text-danger"></i>
                    </a>                        
                </div>
            </li>
        </ul>

    </nav>
<common-methods 

@get-response="getResponse"
:url="requestUrl"
:infiniteLoad="false"
:hideLoader="true"
>

</common-methods>

<update-profile-popup :showModalProp="updateProfilePopup" @hide-modal-value="closeAllPopup"></update-profile-popup>

<contact-support-popup :showModalProp="contactSupportPopup" @hide-modal-value="closeAllPopup"></contact-support-popup>

</div>
</template>
<script>
import { directive as onClickaway } from 'vue-clickaway';
export default{

  data () {
    return {
      isShowing:false,
      updateProfilePopup: false,
      contactSupportPopup:false,
      showProfileInfoPopup: false,
      isOpen: false,
      isLoginDropDown: false,
      isNotificationBlock: false,
      url: 'api/user/',
      submitType : 'get',
      info: {},
      requestUrl:'',
      role_name:'',
      placeholderimage: '/images/dummy/image-placeholder.jpg',
      user:'',
      loggedout: false,
  }
},

mounted (){
    this.user =  JSON.parse(this.$store.getters.getAuthUser),
    this.requestUrl = this.url + this.user.id;


},
directives: {
    onClickaway: onClickaway,
},
watch: {
    loggedout (value){
      this.loggedout = value;
  },
},
methods: {
    openPopup() {
      alert(1)
  },
  showProfileInfo(){
      this.showProfileInfoPopup = true;
  },
  closeShowProfileInfo() { this.showProfileInfoPopup = false },
            // away: function(){
            //     this.isNotificationBlock = false;
            //     this.isLoginDropDown = false;                

            // },
            away: function() {
              this.isNotificationBlock = false;
              this.isLoginDropDown = false;                  
          },
          getResponse(response){
              let self = this;
              if(Object.keys(response.data).length){
                self.noRecordFound = false;
                self.info = response.data;
            }else{
                self.noRecordFound = true;
            }
        },
        logout: function () {
          var this_ = this;
          if(this.$auth.isAuthenticated()){
            this.$auth.logout().then(function (Vue) {
              this_.$store.commit('setAuthUser', '');
              this_.$store.commit('setCaseData', '');
              this_.$router.push({ name: 'login'})
          })
        }else{
            this_.$router.push({ name: 'login'})
        }
        this.loggedout = true;

    },

    closeAllPopup(){
      this.updateProfilePopup = false;
      this.contactSupportPopup = false;
      this.$emit('indexVarClose');
  },

  mobileContactPopup(){
      this.contactSupportPopup = true;
      this.$emit('indexVar');
  }, 
    mobileProfilePopup(){
      this.updateProfilePopup = true;
      this.$emit('indexVar');
  },  

},
}
</script>
