<template>
    <div>
        <a
            class="nav-link text-nowrap px-3"
            href="javascript:void"
            role="button"
            v-on:click="showProfileInfo()">
            <span class="user-avatar rounded-circle mr-2">
                <img v-if="profileImage" :src="profileImage" alt="User Avatar">
                <img v-if="!profileImage" :src="imagePalaceholder" alt="User Avatar">
            </span>
            <span class="d-none d-md-inline-block user-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sierra Brooks
                <p>Super Admin</p>
            </span>
            <i class="icon-keyboard_arrow_up"></i>
            <div 
                class="mobile-popupnav" 
                @click="$emit('update-profile-popup')">                
            </div>
        </a>
        <div
            class="dropdown-menu dropdown-menu-small user-account-menu show i-am-a-popover close-me-by-clicking-outside-of-me"
            v-if="showInfoProfile == true"             
            v-on-clickaway="closeShowProfileInfo"
            aria-labelledby="dropdownMenuButton">
            <a
                class="dropdown-item"
                href="javascript:void(0);" 
                @click="$emit('update-profile-popup')"
                role="button">
                <i class="icon-default-user"></i>
                Modify Profile Picture
            </a>
            <a
                class="dropdown-item"
                href="javascript:void(0);"
                @click="$emit('contact-support-popup')"
                role="button">
                <i class="icon-help-1"></i>
                Contact Support
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="/" role="button">
                <i class="icon-signout-1 text-danger"></i>
                Sign out
            </a>
        </div>        
        <div class="mobile-naviagtion-area">
            <a
                href="javascript:;"
                role="button"
                @click="$emit('contact-mobile')">
                <i class="icon-help-1"></i>
            </a>
            <a href="/" role="button">
                <i class="icon-signout-1 text-danger"></i>
            </a>                        
        </div>
    </div>
</template>
<script>
    import { directive as onClickaway } from 'vue-clickaway';
    export default{
        data () {
            return {
                showInfoProfile: false,
                profileImage: 'images/avatars/0.jpg',
                imagePalaceholder: 'images/dummy/image-placeholder.jpg',
            }
        },
        directives: {
            onClickaway: onClickaway,
        },
        methods: {
            showProfileInfo(){
                this.showInfoProfile = true;
            },
            abcd(){
                this.showInfoProfile = true;
            },            
            closeShowProfileInfo() { this.showInfoProfile = false },
        }
    }
</script>
