<template>
	<div class="col-md-6">
		<div v-if="workFlowDataValue" class="card modified-card workflows-content-card">
			<div class="card-header">
				<h3>{{ titleHeading }}</h3>
				<div class="workflow-code-row">

					<div class="form-group">
						<d-input 
						v-model="formData.name" 
						v-validate="{ required: true, max:150 }"
						data-vv-name="Stage name" 
						placeholder="Add new stage"
						:class="[errorBag.first('Stage name') ? 'is-invalid' : '']" />
					</div>
					<div class="form-group full-width-selectize custom-select-icon">
                        <i class="icon-keyboard_arrow_down3"></i>
						<select v-model="formData.required_approval" 
						data-vv-name="required approval" 
						v-validate="'required'"
						:class="['form-control' , errorBag.first('required approval') ? 'is-invalid' : '']"
						> 
						<option selected="" disabled="" :value="null">Requires Approval?</option>
						<option value="1">Yes</option>
						<option value="0">No</option>
					</select>

				</div>
			</div>

			<div class="worflow-add">
				<d-btn theme="secondary" @click.prevent="validateBeforeSubmit">
					<span><d-img src="images/plus.svg" /></span>
					<c-loader></c-loader>
				</d-btn>
			</div>
			<div class="">
				<d-alert v-if="stageSuccessMessage" class="clearfix" :theme="popupThemeValue" show>
					{{ stageSuccessMessage ? stageSuccessMessage : '' }}
				</d-alert>				
				<d-alert v-if="workflowErrorMessage" class="clearfix" :theme="popupThemeValue" show>
					{{ workflowErrorMessage ? workflowErrorMessage : '' }}
				</d-alert>
			</div>
		</div>

		<div class="card-content">
			<div class="case-detail pending-case-disable">
				<ul>
					<draggable
					v-model="workFlowDataValue.stages"
					class="dragArea"
					:options="{group:'people'}">

					<!-- add case stage row -->

					<li 
    					v-for="(row, index) in workFlowDataValue.stages"
    					:key="index">
    					<i v-if="index > 0" class="icon-change-status drag-icon"></i>
    					{{ row.name }} 
    					<div v-if="index > 0" class="case-detail-icon">
    						<i :class="['icon-edit', row.has ? 'disabled' : '']" 
    						@click="editStage  = true;
    						formDataCheck = row; 
    						formCheckIndex = index;">
    					</i>
    					<i class="icon-delete" @click="deleteStagePopup(index)"></i>
    				</div>
    			</li>
		</draggable>
	</ul>
	<d-btn 
	:class="[ loading ? 'show-spinner' : '']" 
	@click.prevent="submit = true; loading = true;" theme="primary">
	<span>Update Workflow</span>
	<c-loader></c-loader>
</d-btn>
<d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
	{{ errorMessage ? errorMessage : successMessage }}
</d-alert>
</div>	
</div>
</div>

<common-methods 

@form-updated="formUpdated"
@form-error="formError"
:submitUrl="submitUrl"
:submitType="submitType"
:formData="workFlowDataValue"
:submit="submit"
v-show="!noRecordFound"
>

</common-methods>


<!-- Delete Popup -->
<delete-popup 

@hide-modal-value="deletePopup = false" 
@form-updated="formUpdated"				

:showModalProp="deletePopup"
:url="updateUrl"
:postType="'update'"
:index="spliceIndex"
:currentItem="workFlowDataValue"
>

</delete-popup>

<!-- Edit stage -->
<edit-stage-popup 

@hide-modal-value="editStage = false; formDataCheck = '';" 
:formDataVal="formDataCheck" 
:workFlowData="workFlowDataValue" 
:showModalProp="editStage" 
:formCheckIndex="formCheckIndex"
@form-submitted="formSubmitted">	

</edit-stage-popup>


</div>

</template>

<script>

import Selectize from 'vue2-selectize';
import draggable from 'vuedraggable';

export default {

	components: {
		Selectize,
		draggable,
	},

	props: [
	'titleHeading',
	'workFlowData',
	],


	data() {
		return {
			editStage: false,
			deletePopup: false,
			errorMessage : '',
			successMessage : '',
			loading : false,
			formData: {
				name: '',
				required_approval: null,
				sort_order : null
			},
			submit : false,
			submitType : "update",
			workFlowDataValue : '',
			formDataCheck: {
				name: '',
			},
			formCheckIndex: '',
			value: null,
			workFlowStages: false,
			noRecordFound: false,
			stageSuccessMessage: '',
			updateUrl: 'api/stage',
			index: null,
			spliceIndex: '',
			workflowErrorMessage: '',
			has: false,
		}
	},

	mounted (){
		if(this.workFlowData){
			this.workFlowDataValue = this.workFlowData;
		}
	},

	methods: {

		addNew() {

			let workFlowStageRow = this.workFlowDataValue.stages;
			let self = this;
			var passing = true;
			this.workFlowStages = true;
			workFlowStageRow.forEach(function(stage) {
				if (stage.name === self.formData.name.trim() || stage.name.toLowerCase() === self.formData.name.toLowerCase()) {
					passing = false;
					self.$toasted.show("Stage entry already exists.", {
						theme: "bubble",
						position: "bottom-right",
						duration : 3000,
						type: ['error'],
						singleton: true,
						icon : '',
   					    className: 'error-toast alert-danger'	
					});
					// self.workflowErrorMessage = "Stage entry already exists.";
						setTimeout(function () {
						self.errorMessage = '';
						self.workflowErrorMessage = '';
					}, 2000);
					this.formData.name = {};
				}
			});
			setTimeout(function () {
				self.errorBag.clear();
				self.errorMessage = '';
			}, 2000);
			

			if(this.formData.name && passing) {
				this.formData.has = true;
				this.workFlowDataValue.stages.push(JSON.parse(JSON.stringify(this.formData)));
				this.$toasted.show("Stage added successfully. Update workflow to save progress.", {
					theme: "bubble",
					position: "bottom-right",
					duration : 3000,
					type: ['info'],
					singleton: true,
					icon : '',
					className: 'info-toast alert-info',
				});
				setTimeout(function () {
					self.errorMessage = '';
					self.stageSuccessMessage = '';
				}, 2000);
			}
			this.formData.name = "";
			this.formData.required_approval = null;
			setTimeout(function () {
				self.errorMessage = '';
				self.errorBag.clear();
			}, 10);
			setTimeout(function () {
				self.errorMessage = '';
				self.workflowErrorMessage = '';
			}, 2000);

		},

		formUpdated(response){
			let self = this;
			this.submit = false;
			this.successMessage = response.message;
			this.workFlowDataValue = JSON.parse(JSON.stringify(response.data));
			_.forEach(this.workFlowDataValue.stages, function(value, key) {
				value.sort_order = key;
				value.has = false;
			});
			this.$emit('form-updated' , response);
			this.spliceIndex = null;
			setTimeout(function () {
				self.errorBag.clear();
			}, 2000);
			setTimeout(function() {
				self.loading = false;
				self.successMessage = '';
			}, 2000);
		},

		formSubmitted(response) {
			this.workFlowDataValue = response;
		},

		validateBeforeSubmit() {
			let self = this;
			this.$validator.validateAll().then((result) => {
				if (result) {
					this.errorMessage = '';
					this.workFlowStages = false;
					this.addNew();
					return;
				}
				setTimeout(function(){
					self.errorBag.clear();	
					self.errorMessage = '';
				},3000);
				this.errorMessage = this.errorBag.all()[0];
			});
		},

		deleteStagePopup(index) {
			this.spliceIndex = JSON.parse(JSON.stringify(index));

			this.deletePopup = true;
		},

		HideModalValue() {
			this.deletePopup = false;
			this.editStage = false;
			this.formDataCheck = {
				name : ''
			};
		},
		formError(response){

			let self = this;

			this.submit = false;

			_.forEach(response.errors, function(value, key) {
				self.errorMessage =  response.errors[key][0];
				return false;
			});
			setTimeout(function(){
				self.loading = false;
				self.errorMessage = '';
			},3000);
		},

	},

	computed: {

		submitUrl(){
			return 'api/stage/' + this.workFlowData._id; 
		},

		popupThemeValue() {
			if(this.errorMessage){
				return 'danger';
			}
			if(this.successMessage){
				return 'success';
			}
			if(this.workflowErrorMessage) {
				return 'danger';
			}
			if(this.stageSuccessMessage) {
				return 'success';
			}
		},

	},

	watch: {
		workFlowData(value){
			if(value){
				_.forEach(value.stages, function(value, key) {
					value.sort_order = key;
					value.has = false;
				});
				this.workFlowDataValue = JSON.parse(JSON.stringify(value));
			}
		}
	},
}
</script>