<template>
    <div class="add-incident-popup">
        <d-modal v-if="showModal" size="sm" @close="handleClose">
            <d-modal-header>
                <d-modal-title>Edit Stage</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <d-form @submit.prevent="validateBeforeSubmit();">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Stage Name</label>
                                <d-input 
                                v-model="formData.name" 
                                v-validate="{ required: true, max:150 }"
                                data-vv-name="name" 
                                placeholder="Enter workflow name"
                                :class="[errorBag.first('name') ? 'is-invalid' : '']" />
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group selectBox">
                                <label>Requires Approval</label>
                                <i class="icon-keyboard_arrow_down3"></i>
                                <d-form-select v-model="formData.required_approval">
                                    <!-- <option :value="null" selected >Requried Approval</option> -->
                                    <option :value="1">Yes</option>
                                    <option :value="0">No</option>
                                </d-form-select>
                            </div>
                        </div>

                    </div>
                    <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                        {{ errorMessage ? errorMessage : successMessage }}
                    </d-alert>
                </d-form>
            </d-modal-body>
            <d-modal-footer>
                <d-btn :class="[ loading ? 'show-spinner' : '']" @click.prevent="validateBeforeSubmit();">
                    <span>Save</span>
                    <c-loader></c-loader>
                </d-btn>
                <button :class="['btn-link',loading ? 'disabled' : '']" @click="handleClose">Cancel</button>
            </d-modal-footer>
        </d-modal>


    </div>
</template>

<script>
export default{

    props: [
    'showModalProp',
    'formDataVal',
    'workFlowData',
    'formCheckIndex',
    ],

    data() {
        return {
            showModal: false,
            modalSize: 'sm',
            url: 'api/stage',
            submitType : "update",
            workFlowDataValue: '',
            loading: false,
            submit : false,
            errorMessage : '',
            successMessage : '',
            formData : { }
        }
    },

    mounted (){
        if(this.workFlowData){
            this.workFlowDataValue = this.workFlowData;
        }
    },

    computed: {

        submitUrl(){
            return 'api/stage/' + this.workFlowDataValue._id; 
        },

        popupThemeValue(){
            if(this.errorMessage){
                return 'danger';
            }
            if(this.successMessage){
                return 'success';
            }
        }
    },

    methods: {
        handleClick() {
            this.showModal = true;
        },
        handleClose() {
            this.showModal = false;
            this.$emit('hide-modal-value');
        },

        formUpdated(response){
            let self = this;
            this.submit = false;
            this.successMessage = response.message;
            setTimeout(function() {
                self.loading = false;
                self.successMessage = '';
            }, 2000);

        },

        validateBeforeSubmit() {
            let self = this;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.errorMessage = '';
                    this.submit = true;
                    this.update();
                    return;
                }
                setTimeout(function(){

                    self.errorMessage = '';
                },2000);
                this.errorMessage = this.errorBag.all()[0];
            });
        },

        update: function () {
            let self = this;
            self.loading = true
            let updateData = JSON.parse(JSON.stringify(this.workFlowData));


                updateData.stages[this.formCheckIndex] = this.formData;  // replace stage index from fromData

                this.$http.put(this.submitUrl, updateData)
                .then(response => {
                    response = response.data;
                    self.successMessage = response.message;
                    this.workFlowDataValue = response.data;

                    self.$emit('form-submitted', response.data);
                    
                    setTimeout(function(){
                        self.loading = false;
                        self.successMessage = '';
                        self.showModal = false; //Modal closes on update
                        self.$emit('hide-modal-value'); // Open popup after update
                    }, 2000);
                })
                .catch(error => {
                    _.forEach(error.response.data.errors, function(value, key) {
                        self.errorMessage =  error.response.data.errors[key][0];
                    });
                    setTimeout(function(){
                        self.loading = false;
                        self.errorMessage = '';
                    }, 2000);
                })
            },
        },
        
        watch: {
            showModalProp(value) {
                if(value) {
                    this.showModal = true
                }
                if(!value) {
                    this.showModal = false
                }
            },

            workFlowData(value){
                if(value){
                    this.workFlowDataValue = this.workFlowData;
                }
            },

            formDataVal(value){
                this.formData = JSON.parse(JSON.stringify(value));
            },

            formCheckIndex(value) {

            }
        },
    }

    </script>