<template>
	<div>
		<div class="row">
			<div class="col-md-12">
				<div class="config-top">
					<div class="float-left filter-left">
						<h3>Workflows</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="row">

			<work-flow-listing 

				@get-value="getWorkFlow"
				:updateStage="updateStageList"
				:updatedIncidentType="updatedIncidentTypeId"
				>	
			
			</work-flow-listing>
			
			<config-work-flow 
			
				:workFlowData="workFlowData" 
				:stages="stages" 
				:titleHeading="titleHeading"
				@form-updated="reSendCall"				
				>
			
			</config-work-flow>

				
		
		</div>
		
		<block-spinner v-if="loading"></block-spinner>
        <no-record-found v-show="noRecordFound"></no-record-found>
	
	</div>

</template>

<script>
	export default {
		
		data() {
			return {
				titleHeading: '',
				stages : '',
				workFlowData : '',
				updateStageList:[],
				updatedIncidentTypeId: null,
				loading : true,
				noRecordFound: false,
			}
		},

		mounted() {
		},

		watch: {
			$route() {
				this.loading = true;
				this.workFlowData(this.workFlowData);
			}
		},

		methods: {

			getWorkFlow(value) {
				if(value) {
					this.titleHeading = value.incident_type;
					this.stages = value.stages;
					this.workFlowData = value;
				}

				if(value && Object.keys(value).length){
					this.loading = false;
				}

				if(!value){
					this.loading = false;
					this.noRecordFound = true;
				}
			},
			reSendCall(response){
				this.updateStageList = response;
				this.updatedIncidentTypeId = response.data.incident_type_id;
            },

		}

	}
</script>