<template>
	<div class="config-body workflows-wrapper">	
		<div class="col-md-12"> 
			<div 
				class="workflows-types card modified-card"
				v-for="(list, index) in listing"
				:key="index"
				:class="{ activeList : currentIndex == index }"
				@click.prevent="$emit('get-value' , list) , currentIndex = index"
				>
                
				<p class="workflow-title">
					{{ list.incident_type }}
					<span>{{ list.stages_count }} Stage(s)</span>
				</p>
				<i class="rt-arrow icon-keyboard_arrow_right"></i>
			</div>
		</div>	

		<common-methods 

			@get-response="getResponse"
			:url="requestUrl"
            v-show="noRecordFound"

		>

		</common-methods>

	</div>

</template>

<script>

export default{

	props: ['updateStage','updatedIncidentType'],


	data() {
		return{
			loading : false,
			url : 'api/stage',
			listing: [], // Initilizing array for loop
			isActive: [],
			currentIndex: '',
            noRecordFound: false
		}
	},

	computed : {
		requestUrl(){
			return this.url; // Requesting URL from API
		}
	},

	methods: {

		// Getting Api Response
		getResponse(response) {

			let self = this;
                let url = self.url;
                self.errorBag.clear();
                url = url;
                self.$http.get(url).then(response=>{
                    response = response.data;
                    this.listing = response.data; 
                                        
                    if(this.updatedIncidentType){
                    	self.listing.find(function(element) {
                    		if(element.incident_type_id == this.updatedIncidentType){
                    			this.$emit('get-value' ,element);
                    		}
						});
                    }else{
                    	this.$emit('get-value' , self.listing[0]);
                    }
                }).catch(error=>{
                });
		},
	},

	watch: {
		updateStage(value){
			this.getResponse(value);
		}
	}
}
</script>
