<template>


    <div id="style-2" class="scrollable component-list">
        <div class="ir-form-sections">
            <d-form>
                <div class="row">
                    <div class="col-md-12">

                        <d-alert v-if="errorMessage || successMessage" role="alert" :theme="popupThemeValue" show>

                            {{ errorMessage ? errorMessage : successMessage }}

                        </d-alert>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="ir-field-name">Field name</label>
                            <d-input :class="[errorBag.first('name') ? 'is-invalid' : '']" name="name" v-validate="'required|max:255'"
                            aria-label="Field name" 
                            id="ir-field-name"
                            v-model="field.label" placeholder="Enter field name" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group selectBox">
                            <label for="ir-field-type">Field Type</label>
                            <i class="icon-keyboard_arrow_down3"></i>
                            <d-form-select v-model="field.type">
                                <option :value="fieldType.key" v-for="fieldType in fieldTypes"
                                id="ir-field-type"
                                aria-label="Field type" 
                                >{{fieldType.value}}</option>
                            </d-form-select>
                        </div>
                    </div>
                    <div v-if="componentType" class="col-md-12 value-section">
                        <div class="form-group">
                            <label>Value</label>
                            <br>
                            <div>
                                <div class="section-form-right">
                                    <d-btn @click.prevent="addOptions" theme="secondary">
                                        <span>
                                            <d-img src="images/plus.svg" />
                                        </span>
                                        <c-loader></c-loader>
                                    </d-btn>
                                </div>

                                <div class="section-form-left"  v-for="(optionValue, index) in field.options">
                                    <d-input :class="[errorBag.first('value'+index) ? 'is-invalid' : '']" :name="'value'+index" :data-vv-name="'value'+index" v-validate="'required|max:100'" :key="index" v-model="optionValue.value" placeholder="Add new value" />
                                    <a v-if="index != 0" style="float:right;" @click.prevent="field.options.splice(index , 1)" href="javascipt:void(0);">(remove)</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <d-btn v-if="!formValue" :class="[ loading ? 'show-spinner' : '']" @click.prevent="validateBeforeSubmit();" theme="primary">
                            <span>Add Component</span>
                            <c-loader></c-loader>
                        </d-btn>
                        <d-btn v-if="formValue" :class="[ loading ? 'show-spinner' : '']" @click.prevent="validateBeforeSubmit();" theme="primary">
                            <span>Update Component</span>
                            <c-loader></c-loader>
                        </d-btn>
                    </div>
                </div>
            </d-form>
        </div>

    </div>


</template>


<script>
    export default{
        props: ['url', 'updateField', 'formValue'],
        data(){
            return {
                showModal : false,
                isUpdate: false,
                errorMessage : '',
                successMessage : '',
                loading : false,
                field : {
                    label : '',
                    type : 'input',
                    options : [
                    {
                        value : ''
                    }
                    ]
                },
                fieldTypes : [
                {
                    key : 'input',
                    value : 'Input'
                },
                {
                    key : 'textarea',
                    value : 'Textarea'
                },
                {
                    key : 'dropdown',
                    value : 'Dropdown'
                },
                {
                    key : 'radio',
                    value : 'Radio'
                },
                {
                    key : 'checkbox',
                    value : 'Checkbox'
                },
                {
                    key : 'date',
                    value : 'Date'
                },
                {
                    key : 'time',
                    value : 'Time'
                },
                ]
            }
        },
        mounted (){
            if(this.formValue){
                this.field = JSON.parse(JSON.stringify(this.formValue)); 
            }else{
                this.clearFields();
            }

        },
        methods :{
            addOptions(){
                this.field.options.push({
                    value : ''
                });
            },
            onUpdate(){
                let self = this;

                if(self.field.type == 'dropdown' || self.field.type ==  'radio' || self.field.type ==  'checkbox'){
                    if(self.field.options.length < 2){
                        self.errorMessage = "Please add atleast two options";

                        this.$forceUpdate();
                        return false;
                    }
                }else{
                    self.field.options = [{ 
                        value : ''
                    }];
                }

                this.$emit('show-modal', self.field);



            },
            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if(this.formValue) {
                            this.onUpdate();
                        }else {
                            this.onSubmit();
                        }
                        return;
                    }

                    // this.errorMessage = this.errorBag.all()[0];
                    this.errorMessage = this.errorBag.all();
                    this.errorMessage = this.errorMessage[0].replace(/[0-9]/g, '');

                    setTimeout(function() {
                        self.errorMessage = "";
                    }, 1000);
                });
            },
            clearFields(){
                let self = this;

                self.field.type = 'input';
                self.field.label = '';
                self.field.options = [{ 
                    value : ''
                }];

                setTimeout(function () {
                    Vue.nextTick(() => {
                        self.errorBag.clear()
                    })
                }, 50);



            },
            onSubmit: function () {
                let self = this;
                this.errorMessage = '';

                if(self.field.type == 'dropdown' || self.field.type ==  'radio' || self.field.type ==  'checkbox'){
                    if(self.field.options.length < 2){
                        self.errorMessage = "Please add atleast two options";

                        this.$forceUpdate();
                        return false;
                    }
                }

                self.loading = true



                this.$http.post(this.url, this.field)
                .then(response => {
                    response = response.data;
                    setTimeout(function(){
                        self.loading = false;
                        self.clearFields();

                    }, 1000);


                    self.$emit('form-submitted', response.data);


                })
                .catch(error => {
                    self.loading = false
                    error = error.response.data;

                    _.each(error.errors , function (errorValue) {
                        self.errorMessage = errorValue[0];
                        return false;
                    })

                    setTimeout(function(){
                        self.errorMessage = '';
                    }, 2000);


                });
            },
        },
        computed : {
            componentType(){
                return this.field.type == 'checkbox' || this.field.type == 'dropdown' || this.field.type == 'radio'; 
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },
        watch : {
            updateField(val) {
                if(val) {
                    this.field = val;
                    this.isUpdate = true;
                }else {
                    this.isUpdate = false;
                    this.field.type = 'input';
                    this.field.label = '';
                    this.field.options = [{ 
                        value : ''
                    }];
                }
            },
            formValue(value){
                if(!value){
                    this.clearFields();
                }
            }
        }
    }
</script>