<template>


    <div>

        <label class="form-builder-label">{{field.label}}</label>


        <d-input v-if="field.type == 'input'" disabled id="" placeholder="Please explain" />

        <div v-if="field.type == 'radio'">
            <d-form-radio :key="'radio'+index" v-for="(optionValue, index) in field.options" disabled :value="optionValue.value">{{optionValue.value}}</d-form-radio>

        </div>


        <div class="formbuild"
        v-if="field.type == 'checkbox'">
        <d-checkbox
        disabled
        v-for="(optionValue, index) in field.options"
        :key="'check'+index"
        name="Injuries"
        :value="optionValue.value">
        {{ optionValue.value }}
    </d-checkbox>
</div>

<div v-if="field.type == 'time'">

    <vue-timepicker
    :disabled="true"
    name="schedule_start_time"
    class="with-icon datepicker-icon form-control"
    v-model="meeting"
    format="HH:mm"
    placeholder="HH:MM">
</vue-timepicker>

</div>


<div v-if="field.type == 'date'">

    <date-picker :date="startTime"></date-picker>
</div>


<div v-if="field.type == 'dropdown'">

    <d-form-select disabled v-model="field.options[0].value">

        <option disabled v-for="optionValue in field.options" :value="optionValue.value">
            {{optionValue.value}}
        </option>

    </d-form-select>


</div>


<div v-if="field.type == 'textarea'">

    <d-form-textarea
    disabled
    :placeholder="'Enter Details'"/>
</d-form-textarea>

</div>

</div>



</template>

<script>
import VueTimepicker from "vue2-timepicker";
import myDatepicker from "vue-datepicker";
import Selectize from "vue2-selectize";
export default {
    props: ["field"],
    components: {
        Selectize,
        VueTimepicker,
        "date-picker": myDatepicker
    },
    data() {
        return {
            radioModel: "",
            timeModal: new Date(),
            meeting: {
                meetingStartTime: new Date()
            },
            startTime: {
                time: "2018-11-10"
            }
        };
    }
};
</script>
