<template>
    <div class="ir-form-builder-section">
        <!-- top section -->


        <ir-form-top-header :loadFormValue="loadFormValue" @get-response="getFormResponse"></ir-form-top-header>  


        <div class="drag-form">
            <info-message :showAppealText="irInfoMsg" v-if="noRecordFound"></info-message>
            <draggable
            v-if="!noRecordFound" 
            @end="rowDragged"
            v-model="formData.formFields"
            class="dragArea"
            :options="{group:'people'}">

            <div v-for="(formField,index) in allFormFields" class="form-builder-panel">
                <span class="icons-panel">
                    <i class="icon-delete" @click.prevent="currentFieldIndex = index; showDeletePopup = true;"></i>
                    <i v-if="formField.type != 'date' && formField.type != 'time' && formField.type != 'input' && formField.type != 'textarea' && index != formData.formFields.length-1" class="icon-settings" @click.prevent="currentFieldIndex = index; showRulePopup = true;"></i>
                </span>

                <d-form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <ir-form-input-type :field="formField"></ir-form-input-type>  

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required-field">
                                <label>&nbsp;</label>
                                <d-checkbox v-model="formField.is_required" name="is_equired" value="required">Is Required</d-checkbox>
                            </div>
                            <p v-if="formField.rules">Rules Applied <a @click.prevent="currentFieldIndex = index;showRuleDeletePopup = true;" href="javascipt:void(0);">(remove)</a></p>
                        </div>
                    </div>
                </d-form>

            </div>


        </draggable>
    </div>
    <d-button  class="margin-bottom-20px" @click.prevent="validateBeforeSubmit();" :class="[ loading ? 'show-spinner' : '']" theme="primary">
        <c-loader></c-loader>
        <span>Update</span>
    </d-button>

    <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>

        {{ errorMessage ? errorMessage : successMessage }}

    </d-alert>



    <common-methods 
    @get-response="getResponse"
    @form-updated="formUpdated"

    :url="requestUrl"
    :force="force"
    :infiniteLoad="false"
    :hideLoader="true"
    :submit="submit"
    :submitUrl="requestUrl"
    :submitType="'update'"
    :formData="formData"
    >

</common-methods>


<define-rule-popup
@hide-modal-value="closeAllPopup"
@get-rules="getRules"
:showModalProp="showRulePopup"
:formFields="allFormFields"
:currentFieldIndex="currentFieldIndex"
>
</define-rule-popup>

<delete-ir-popup
@remove-item="removeItem"
:showModalProp="showDeletePopup"
@hide-modal-value="closeAllPopup">
</delete-ir-popup>

<delete-ir-rule-popup
@remove-rule="removeRule"
:showModalProp="showRuleDeletePopup"
@hide-modal-value="closeAllPopup">
</delete-ir-rule-popup>



</div>
</template>

<script>
    import Selectize from 'vue2-selectize';
    import VueTimepicker from 'vue2-timepicker';
    import draggable from 'vuedraggable';
    export default{
        components: { 
            Selectize,
            VueTimepicker,
            draggable,
        },
        props : [
        'newField',
        'updatedField'
        ],
        data() {
            return{
                irInfoMsg:'Create an IR Form by adding components from the library',
                errorMessage: '',
                successMessage: '',
                url : 'api/ir-form',
                force : true,
                loading : true,
                meeting: {
                    meetingStartTime: 'Start Time',
                    meetingEndTime: 'End Time',
                },
                physically: 'yes',
                formData : {
                    incident_type_id : '',
                    formFields : []
                },
                selectedvalue : '',
                showRulePopup : false,
                showDeletePopup : false,
                showRuleDeletePopup : false,
                currentFieldIndex : '',
                submit : false,
                noRecordFound : false,
                loadFormValue : false
            }
        },
        computed : {
            requestUrl (){
                if(this.selectedvalue){          
                    return this.url + '/' + this.selectedvalue;
                }
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            },
            allFormFields(){
                this.noRecordFound = !this.formData.formFields.length;
                return this.formData.formFields;
            }
        },
        methods : {
            validateBeforeSubmit(){
                if(this.formData.formFields.length){
                    this.submit = true;
                    this.loading = true;
                }
            },
            getFormResponse(response){

                this.loadFormValue = true;
                this.loading = true;
                let newDate = new Date().getMilliseconds();
                this.selectedvalue = response+'?time='+newDate;
                this.formData.incident_type_id = response;
                this.force = false;
                

            },
            getResponse(response){
                this.noRecordFound = false;
                if(!Object.keys(response.data).length || response.noRecordFound){
                    this.formData.formFields = []
                    this.loading = false;
                    this.force = false;
                    this.noRecordFound = response.noRecordFound;
                }

                if(Object.keys(response.data).length || response.noRecordFound){
                    this.loadFormValue = false;
                }


                if(Object.keys(response.data).length){ 
                    this.formData = response.data;
                    this.loading = false;
                    this.force = false;
                }
            },
            formUpdated(response){
                let self = this;
                this.submit = false;
                this.loading = false;
                this.successMessage = response.message;
                setTimeout(function () {
                    self.successMessage = '';
                } , 2000);

            },
            removeItem(){
                let self = this;
                var currentLabel = self.formData.formFields[self.currentFieldIndex].label;

                this.formData.formFields.splice(this.currentFieldIndex, 1);
                
                let oldFormFields = JSON.parse(JSON.stringify(self.formData.formFields));
                _.map(oldFormFields, function(field, indexField){
                    _.map(field.rules, function(rule, ruleIndex){
                        if(rule.then == currentLabel){
                            self.formData.formFields[indexField].rules = null;
                        }
                    });
                });

                this.$forceUpdate();

                this.closeAllPopup();
            },
            removeRule(){
                let self = this;
                this.formData.formFields[this.currentFieldIndex].rules = null;
                
                this.closeAllPopup();
                this.$forceUpdate();
            },
            closeAllPopup(){
                let self = this;
                this.showRulePopup = false;
                this.showDeletePopup = false;
                this.showRuleDeletePopup = false;
                setTimeout(function () {
                    self.currentFieldIndex = '';
                } , 1000);

            },
            getRules(response){

                this.formData.formFields[this.currentFieldIndex].rules = response;
                this.closeAllPopup();
            },
            rowDragged(event){
                let self = this;
                if(event.oldIndex !== event.newIndex){
                    self.formData.formFields[event.newIndex].rules = null;
                    let oldFormFields = JSON.parse(JSON.stringify(self.formData.formFields));

                    _.map(oldFormFields, function(field, indexField){
                        _.map(field.rules, function(rule, ruleIndex){
                            if(rule.then == self.formData.formFields[event.newIndex].label){
                                self.formData.formFields[indexField].rules = null;
                            }
                        });
                    });
                    self.$forceUpdate();
                }
            },
            syncPreviousFormValues(value){
                let self = this;

                _.each(this.formData.formFields , function(field, index) {
                    
                    if(field._id == value._id){
                        self.formData.formFields[index] = value;
                        self.formData.formFields[index].rules = null;
                    }

                });


                let oldFormFields = JSON.parse(JSON.stringify(self.formData.formFields));

                _.map(oldFormFields, function(field, indexField){
                    _.map(field.rules, function(rule, ruleIndex){
                        if(rule.then._id , value._id){
                            self.formData.formFields[indexField].rules.splice(ruleIndex , 1);
                            if(!self.formData.formFields[indexField].rules.length){
                                self.formData.formFields[indexField].rules = null;
                            }
                        }
                    });
                    self.$forceUpdate();
                });



            },

        },
        watch : {
            newField(value){
                let self = this;

                if(!this.formData.formFields.length){
                    self.formData.formFields.push(value);
                }

                _.each(this.formData.formFields , function(field, index) {
                    if(value._id == field._id){
                        return false;
                    }                    

                    if((value.label != field.label) && (index == self.formData.formFields.length-1)){
                        self.formData.formFields.push(value);
                    }
                });

                self.$forceUpdate();
            },
            updatedField(value){
                let self = this;

                if(!this.formData.formFields.length){
                    return false;
                }

                self.syncPreviousFormValues(value);

                self.$forceUpdate();
            }
        }
    }
</script>