<template>
    <div>
        <i class="icon-plus addBlock ir-grid-tab" @click="isActive = !isActive"></i>
        <div class="ir-right-tabs" v-bind:class="{ active: isActive }">
            <div class="ir-tab-header">
                <div class="activities-section">
                    <div class="activitylist">
                        <i class="icon-close-custom closeCom" @click="isActive = !isActive"></i>
                        <ul class="incident-tabs" role="tablist">
                            <li
                            role="presentation"
                            :class="{ 'active': tabData === 'profile_details' }"
                            @click="tabData = 'profile_details'">
                            <a href="javascript:void(0);"
                            role="tab"
                            >
                            <span>Components Library</span>
                        </a>
                    </li>
                    <li
                    role="presentation"
                    :class="{ 'active': tabData === 'contact_details' }"
                    @click="formValue = '';tabData = 'contact_details'">
                    <a href="javascript:void(0);" role="tab">
                        <span>Add Component</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tabs-content">
    <div
    v-if="tabData == 'profile_details'"
    class="modal-content-body">
    <div>
        <info-message v-show="noRecordFound" class="ir-info-margin" :text="'Please add a component'"></info-message>

        <ul class="ir-form-list scrollable" id="style-2">
            <li v-for="(componentList, index) in componentsListing"
            :key="index">
            <div @click.prevent="$emit('include-component', componentList);">
                <i :class="componentList.type | formComponentIcon"></i>
                <p class="ir-component-text"> {{ componentList.label }} </p>
            </div>
            <span class="icon-edit" @click.prevent="tabData = 'contact_details'; formValue = componentList"></span>
        </li>
    </ul>
</div>
</div>
<div
v-if="tabData == 'contact_details'"
class="modal-content-body">


<ir-form-add-component 
:formValue="formValue" 
:url="'api/form-builder'" 
@form-updated="formUpdated" 
@form-submitted="formSubmitted"
@show-modal="showConfirmModal"
>
</ir-form-add-component>

</div>
</div>
</div>


<common-methods 

@get-response="getResponse"

:url="requestUrl"
:infiniteLoad="false"
:hideLoader="true"
>

</common-methods>

<confirm-alert
@hide-modal="showModal = false;"
@form-updated="componentFormUpdated"

:title="'Update'"
:formData="formData"
:description="updateComponentText"
:url="updateComponentUrl"
:showModalProp="showModal"
:submitType="'update'"
>
</confirm-alert>

</div>
</template>

<script>
    import Selectize from 'vue2-selectize';
    import VueTimepicker from 'vue2-timepicker';
    import draggable from 'vuedraggable';
    export default{
        data() {
            return{
                formValue : '',
                updateComponentText : 'Are you sure you want to update the component? Any unsaved changes of the IR form will be lost!',
                showModal : false,
                noRecordFound : false,
                componentsListing : [],
                url : 'api/form-builder?pagination=false',
                updateComponentUrl : '',
                tabData: 'profile_details',
                activitySelected: 'Components Library',
                activityList: [
                { name: 'Components Library'},
                { name: 'Add Component'},
                ],
                physically: 'yes',
                selectedvalue: 1,
                listing: [],
                formData : '',
                isActive: false,

            }
        },
        components: {
            Selectize,
            VueTimepicker,
            draggable,
        },
        methods : {
            componentFormUpdated(response){
                let self = this;
                if(Object.keys(response.data).length){
                 
                _.forEach(this.componentsListing , function(componentList , index){
                    if(componentList._id == response.data._id){
                        self.componentsListing[index] = response.data;
                    }
                })

                    self.$forceUpdate();
                    self.tabData = 'profile_details';

                    this.$emit('component-updated' , response.data);
                    
                }

            },
            showConfirmModal(response){
                this.formData = response;
                this.updateComponentUrl = 'api/form-builder/' + response._id;
                this.showModal = true;
            },
            getResponse(response){
                if(response.data || response.noRecordFound){
                    this.noRecordFound = response.noRecordFound;
                    this.componentsListing = response.data;
                }
                this.tabData = response.noRecordFound ? 'contact_details' : 'profile_details';

            },
            formSubmitted(response){
                this.noRecordFound = false;
                this.componentsListing.unshift(response);
            },
            formUpdated(response){
                let self = this;

                


            }
        },  
        computed : {
            requestUrl(){
                return this.url;
            }
        }
    }
</script>
