<template>
    <div class="ir-form-builder">
        <ir-form 
        :newField="newField"
        :updatedField="updatedField"
        @define-rule-popup="defineRulePopup = true"
        @delete-popup="deletePopup = true">
    </ir-form>
    <ir-right-tabs @component-updated="componentUpdated" @include-component="includeComponent"></ir-right-tabs>

    <define-rule-popup
    :showModalProp="defineRulePopup"
    @hide-modal-value="closeAllPopup">
</define-rule-popup>

<delete-popup
:showModalProp="deletePopup"
@hide-modal-value="closeAllPopup">
</delete-popup>

</div>
</template>

<script>
    export default {
        data () {
            return {
                updatedField : '',
                defineRulePopup: false,
                deletePopup: false,
                newField : ''
            }
        },
        methods: {
            closeAllPopup(){
                this.deletePopup = false;
                this.defineRulePopup = false;
            },
            includeComponent(field){
                this.newField = JSON.parse(JSON.stringify(field));
            },
            componentUpdated(field){ 
                this.updatedField = JSON.parse(JSON.stringify(field));
            }
        },
    }
</script>