<template>


    <div class="row">
        <div class="col-md-12">
            <d-form>
                <div class="filter-left">
                    <h3>IR Form Builder</h3>
                </div>            
                <div class="filter-right">
                    <ul>
                        <li>
                            <div class="form-group officer-selected">
                                <selectize
                                v-model="selectedvalue"
                                class="selectize-control"> <!-- settings is optional -->
                                <option v-for="incidentType in incidentTypes" :value="incidentType.id">
                                    {{incidentType.name}}
                                </option>
                            </selectize>
                        </div>
                    </li>
                    <li>
                        <d-button @click.prevent="loadForm" :class="['btn-block', loading ? 'show-spinner' : '']" :theme="'secondary'">
                            <c-loader></c-loader>
                            <span>
                                Load IR Form
                            </span>
                        </d-button>
                    </li>
                </ul>
            </div>
        </d-form>
    </div>


    <common-methods 

    @get-response="getResponse"

    :url="requestUrl"
    :infiniteLoad="false"
    :hideLoader="true"
    >

</common-methods>


</div>   




</template>


<script>
    import Selectize from 'vue2-selectize';

    export default{
        props : ['loadFormValue'],
        components: { 
            Selectize,
        },      
        data(){
            return{
                url : 'api/incident-type?is_archived=0&filter_by_child=1&orderby_name=true',
                selectedvalue: '',
                incidentTypes : [],
                loading : '',
                isActive: false,
                
            }        

        },
        computed : {
            requestUrl(){
                return this.url;
            }
        },
        methods : {
           getResponse(response){
            if(Object.keys(response.data).length){
                this.loading = false;
                this.selectedvalue = response.data[0].id;
                this.$emit('get-response', this.selectedvalue);
                this.incidentTypes = response.data;
            }
        },
        loadForm(){
            this.$emit('get-response', this.selectedvalue);
        }
    },
    watch : {
        loadFormValue(value){
            if(value){
                this.loading = true;
                return false;
            }
            this.loading = false;
        }
    }
}


</script>