<template>
    <div class="main-wrapper">
        <div class="filter-left">
            <ul>
                <li>
                    <h3>{{ $route.meta.title }}</h3>
                </li>
                <li>

                </li>
            </ul>
        </div>
        <div class="filter-right" v-if="typeof($route.meta.hideNewIncidentReport) == 'undefined' || $route.meta.hideNewIncidentReport == false">
            <ul>
                <li>
                    <router-link 
                    :to="{ name: 'student-portal-new-report' }"
                    class="btn btn-secondary btn-block"
                    role="button"
                    >
                    Report New Incident
                </router-link>
            </li>
        </ul>
    </div>

    <!-- Case Grid View Start -->
    <div class="case-grid-view clearfix">
        <div class="row">
            <div v-for="(incidentCase , index) in incidentCases"
            v-if="info.incident_type_id !== incidentCase.incident_type_id"
            :key="index"
            class="col-md-3" 
            >
            <student-portal-case-thumb 
            :incidentCase="incidentCase">
            </student-portal-case-thumb>

            </div>

        </div>
    </div>


    <no-record-found v-if="noRecordFound && !loading"></no-record-found>

<!-- Case Grid View End -->


<common-methods
:url="requestUrl"
@get-response="getResponse"
>
</common-methods>

<common-methods 
@get-response="getResponseInfoUser"
:url="requestInfoUrl"
:infiniteLoad="false"
:hideLoader="true"
>
</common-methods>

</div>
</template>

<script>
    export default {
        data() {
            return {
                incidentCases: [],
                info: {},
                url : 'api/incident-case',
                infoUrl: 'api/user/',
                loading : false,
                noRecordFound : false,
            }
        },
        computed : {
            requestUrl(){
                let authUser = JSON.parse(this.$store.getters.getAuthUser);
                if(authUser){  
                    this.loading = true;
                    return this.url + '?involved_parties_user_ids=' + authUser.id +'&reported_by='+ authUser.id;
                }
            },
            requestInfoUrl(){
                let authUser = JSON.parse(this.$store.getters.getAuthUser);
                if(authUser){  
                    return this.infoUrl + authUser.id;
                }
            }
        },
        methods:{
            getResponse(response){
                if(Object.keys(response.data).length || response.noRecordFound){

                    for (var i = response.data.length - 1; i >= 0; i--) {
                        this.incidentCases.push(response.data[i]);
                    }
                    this.noRecordFound = response.noRecordFound;
                    this.loading = false;
                }
            },
            getResponseInfoUser(response){
                let self = this;
                if(Object.keys(response.data).length){
                    for (var i = 0; i < response.data.incident_type_roles.length; i++) {
                        this.info = response.data.incident_type_roles[i];
                    }
                }
            },
        }
    }
</script>
