<template>
    <div class="case-box"
        :class="{ caseClose: incidentCase.status === 'closed' }">
        <div class="case-inner-body">
            <div class="case-main">
                <h3>
                    <router-link :to="{ name: typeof($route.meta.name) !='undefined'? $route.meta.name : 'student.case.detail' , params : { id : incidentCase._id }}"
                    role="button">
                    {{ incidentCase.type == 'ir' ? 'IR' : 'Case' }} # 
                    {{ incidentCase.case_number }}
                    </router-link>
                </h3>
                <p v-if="authUser.id == involvement.user_id" v-for="involvement in incidentCase.involved_parties_users">You are involved as
                    <strong>
                        {{ involvement.person_type_id | personType }}
                    </strong>
                </p>

                <p v-if="authUser.id == incidentCase.reported_by">
                    You have reported this case
                </p>
            </div>
            <div class="case-staging">
                <div class="case-listing case-stage">
                    <p>Current Stage: <strong>{{ incidentCase.status === 'closed' ? 'Closed' : incidentCase.stage }}</strong></p>
                </div>
                <div class="case-listing case-officer">
                    <p>Current officer: <strong>{{ incidentCase.assigned_to_user ? incidentCase.assigned_to_user.first_name : 'N/A' }}</strong></p>
                </div>
            </div>
        </div>
        <div class="case-footer">
            <router-link :to="{ name: typeof($route.meta.name) !='undefined'? $route.meta.name : 'student.case.detail' , params : { id : incidentCase._id }}"
            role="button">
            View Case Details
            </router-link>
        </div>
    </div>
</template>

<script>
    export default{
        props :[
        'incidentCase'
        ],
        computed : {
            authUser(){
                return JSON.parse(this.$store.getters.getAuthUser);
            }
        }
    }


</script>