<template>
    <div>
        <div>
            <div class="table table-lite top-left-radius">

                <no-record-found v-if="noRecordFound"></no-record-found>


                <table v-if="!noRecordFound" class="table mb-0 conduct-incident-list-tb ">
                    <thead class="bg-light">
                        <tr class="thead-with-icon">
                            <th
                            v-for="(listingHead, index) in listingHeads"
                            scope="col"
                            :key="index"
                            :class="{ 'text-center': index === 0 }" >
                            {{ listingHead.title }}
                            <i class="icon-sort" :class="['icon-sort', listingHead.rotate_icon ? 'rotate-ico': '']" v-if="listingHead.sort" @click="sortBy(listingHead,listingHead.sort_by,index)"></i>
                        </th>
                    </tr>
                </thead>
                <tbody v-if="!noRecordFound">
                    <tr v-for="incidentCase in incidentCases">
                        <td class="text-center case-num-colmn">

                            <router-link :to="{ name: 'incident-case.view' , params : {id : incidentCase._id}}">
                                <span class="icon-flag11 flag"></span>
                                {{ incidentCase.case_number }}
                            </router-link>

                        </td>
                        <td>
                            <a href="javascript:void(0);" @click="$emit('student-details-popup', incidentCase)">
                                {{ incidentCase.reported_by_user ? incidentCase.reported_by_user.first_name : '' }}
                            </a>
                        </td>
                        <td>
                            <p class="mb-0 custom-more" v-if="incidentCase.involved_party_names">

                                <span v-if="index < 2" v-for="(person, index) in incidentCase.involved_party_names">
                                    {{person}}  {{ !index && incidentCase.involved_party_names.length > 2 ? ", "  : "" }}

                                </span>

                                <a v-if="incidentCase.involved_party_names.length > 2" id="style-2" class="moreitem scrollbar">&amp; {{incidentCase.involved_party_names.length - 2}} More

                                    <div class="personare scrollbar" id="style-2">
                                        <span v-if="index > 1" v-for="(person, index) in incidentCase.involved_party_names">
                                            {{person}}
                                        </span>
                                    </div>
                                </a>
                            </p>


                        </td>
                        <td>{{ incidentCase.incident_type ? incidentCase.incident_type.name : '' }}</td>
                        <td class="text-capitalize">{{ incidentCase.stage }}</td>
                        <td class="status-color text-capitalize active" :class="[incidentCase.statusClass]">{{ incidentCase.stage == 'Pending' && incidentCase.is_discarded != 1? 'New':caseStatus }}</td>
                        <td>{{ incidentCase.created_at.date | formatDate }}</td>
                        <td><a href="javascript:void(0);" @click="$emit('change-case-owner-popup' , incidentCase)">{{ incidentCase.assigned_to_user ?  incidentCase.assigned_to_user.first_name : ''}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <common-methods 
    @get-response="getCasesResponse"
    :url="requestCaseUrl"
    :infiniteLoad="false"
    :showLoadMore="false"
    :force="resendCallValue"
    :paginationText="'record'"
    >
    </common-methods>


</div>
</template>
<script>
    export default{
        props : [
        'stages',
        'keyword',
        'assignedToId',
        'incidentTypeId',
        'resendCallValue',
        'status',
        'selectedStage'
        ],
        watch : {
            resendCallValue(value){
                this.url = '';
                this.incidentCases = [];
            },
            incidentTypeId(){
                this.incidentCases = [];
            },
            keyword(){
                this.url = '';
                this.incidentCases = [];
            },
            selectedStage(){
                this.url = '';
                this.keyword = '';
                this.incidentCases = [];
            },
            assignedToId(){
                this.url = '';
                this.incidentCases = [];
            }
        },
        computed : {
            requestCaseUrl(){
                this.$parent.disableTab = true;
                 
                let newDate = '&time='+new Date().getMilliseconds();
                var statusValue = typeof(this.status) !== 'undefined' && this.status == 'active' ? '&status=active' : '';
                var statusValue = typeof(this.status) !== 'undefined' && this.status == 'discard' ? '&is_discarded=1' : statusValue;
                var statusValue = typeof(this.status) !== 'undefined' && this.status == 'archive' ? '&status=closed' : statusValue;

                var assignedToId = this.assignedToId && typeof(this.assignedToId) !== 'undefined' ? '&assigned_to='+this.assignedToId : '';
                

                var keywordValue = this.keyword && typeof(this.keyword) !== 'undefined' ? '&keyword='+this.keyword : '';
                
                var stageValue = this.selectedStage && typeof(this.selectedStage) !== 'undefined' ? '&stage='+this.selectedStage : '';
                if(this.url){
                    return this.url+'&incident_type_id='+this.incidentTypeId+assignedToId+keywordValue+stageValue+newDate+statusValue;
                }
                return 'api/incident-case?pagination=true&incident_type_id='+this.incidentTypeId+assignedToId+keywordValue+stageValue+newDate+statusValue;
            },
            caseStatus(){
                this.url = '';
                if(this.status == 'active'){
                    return 'Active';
                }
                if(this.status == 'discard'){
                    return 'Discarded';
                }
                if(this.status == 'archive'){
                    return 'Archived';
                }
            }
        },
        data() {
            return{
                cases: [],
                ascending: 'asc',
                incidentCases : [],
                listingHeads: [
                    {
                        title:'Case Number',
                        sort_by: 'case_number',
                        sort: true,
                        rotate_icon: false,
                    },
                    { 
                        title:'Reported by',
                        sort_by: 'reported_by',
                        sort: false,
                        rotate_icon: false,

                    },
                    { 
                        title:'Involved Parties',
                        sort_by: 'involved_parties',
                        sort: false,
                        rotate_icon: false,

                    },
                    { 
                        title:'Incident Type',
                        sort_by: 'incident_type',
                        sort: false,
                        rotate_icon: false,

                    },
                    { 
                        title:'Case Stage', 
                        sort_by: 'case_stage',
                        sort: true,
                        rotate_icon: false,

                    },
                    { 
                        title:'Status',
                        sort_by: 'status',
                        sort: false,
                        rotate_icon: false,

                    },
                    { 
                        title:'Date Reported',
                        sort_by: 'date_reported',
                        sort: true,
                        rotate_icon: false,

                    },
                    { 
                        title:'Case Owner',
                        sort_by: 'case_owner',
                        sort: false,
                        rotate_icon: false,

                    }
                ],
                url:'',
                noRecordFound : false,
            }
        },
        methods:{
            getCasesResponse(response){

                if(Object.keys(response.data).length || response.pagination){
                    let self = this;
                    self.incidentCases = [];
                    _.forEach(response.data , function(caseValue){
                        self.incidentCases.push(caseValue); 
                    });
                    this.noRecordFound = response.noRecordFound;
                    this.pagination = response.pagination;
                    this.$parent.disableTab = false;
                }
                this.$parent.resendCallValue = false;
            },
            sortBy(list,sortKey,index) {
                if(this.ascending == 'asc'){
                    this.ascending = 'desc';                
                }else{
                    this.ascending = 'asc';
                }

                this.url =  'api/incident-case?pagination=true'+'&sort_by='+sortKey+'&sort_order='+this.ascending;
                if(list.rotate_icon == true){
                    list.rotate_icon = false
                }else{
                    list.rotate_icon = true;
                }
                this.$set(this.listingHeads, index, list);
            },
        },
        mounted(){
        },
    }
</script>
