<template>
    <div class="main-wrapper">
        <d-form @submit.prevent="applySearch">
            <div class="filter-left">
                <ul>
                    <li>
                        <div class="filter-tabs">
                            <div class="btn-group mob-btn-group" data-toggle="buttons">
                                <label class="btn btn-default active" @click.prevent="showWorkFlow()">
                                    <input type="radio" checked="" autocomplete="off" name="incidents_view" value="workflow">Workflow
                                </label>
                                <label class="btn btn-default" @click.prevent="showList()">
                                    <input type="radio" autocomplete="off" name="incidents_view" value="listing"> List
                                </label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <router-link to="/incident-reporting/new" 
                        class="btn btn-secondary btn-block new-incident-btn"
                        role="button">
                        New Incident
                    </router-link>
                </li>
            </ul>
        </div>
        <div class="filter-right">
            <ul>
                <li v-if="tabSwitch === 'listing'">
                    <div class="filter-tabs">
                        <div class="btn-group mob-btn-group" data-toggle="buttons">

                            <label 
                            :class="[ disableTab ?  'disabled' : '' , 'btn', 'btn-default', statusCheckedButton == 'active' ? 'active' : '']"
                            @click.prevent="resendCall(); statusCheckedButton = 'active'"
                            >
                            <input type="radio" autocomplete="off" name="filters" value="active">Active
                        </label>
                        <label 
                        :class="[ disableTab ?  'disabled' : '' , 'btn', 'btn-default', statusCheckedButton == 'archive' ? 'active' : '']"
                        @click.prevent="resendCall(); statusCheckedButton = 'archive'"
                        >
                        <input type="radio" autocomplete="off" name="filters" value="archive"> Archived
                    </label>
                    <label 
                    :class="[ disableTab ?  'disabled' : '' , 'btn', 'btn-default', statusCheckedButton == 'discard' ? 'active' : '']"
                    @click.prevent="resendCall(); statusCheckedButton = 'discard'"
                    >
                    <input type="radio" autocomplete="off" name="filters" value="discard"> Discarded
                </label>

            </div>
        </div>
    </li>
    <li>
        <div class="search-panel">
            <input v-model="searchValue" @keyup.enter="applySearch" id="keyword" type="text" placeholder="Search by keyword" class="form-control">
            <i class="icon-search"></i>
        </div>
    </li>

    <li v-show="tabSwitch == 'listing'" class="CI-listing-selectbox">
        <div class="form-group stage-selected" >
            <selectize
            v-if="stages.length > 0"
            v-model="selectedStage"
            @input="onChangeStage"
            id="stages"
            class="selectize-control"
            >
            <option value="">All Stages</option>
            <option v-for="stage in stages" :value="stage">{{stage}}</option>
            </selectize>
            
            <selectize
            class="selectize-control"
            v-model="selectedStageee"
            v-else>
            <option :value="1">All Stages</option>
            </selectize>
        </div>
</li>

<li v-if="authUser.role_id != 3" class="CI-listing-selectbox">
    <div class="form-group officer-selected">
        <selectize
        v-model="selectedOfficer"
        @input="onChangeOfficer"

        class="selectize-control"> <!-- settings is optional -->
        <option value="">Everyone</option>
        <option v-for="officer in officers" :value="officer.id">{{officer | fullName }}</option>
    </selectize>
</div>
</li>

<li v-show="tabSwitch === 'listing'" class="CI-listing-selectbox">
    <div class="form-group conduct-type">
        <selectize
        v-model="selectedConduct"
        @input="onChangeConduct"

        class="selectize-control"> <!-- settings is optional -->
        <option v-show="authUser.role_id == 1" value="">All</option>
        <option v-for="conduct in conducts" :value="conduct.id">{{conduct.name}}</option>
    </selectize>
</div>
</li>

<li v-show="tabSwitch !== 'listing'" class="CI-listing-selectbox">
    <div class="form-group conduct-type">
        <selectize
        v-model="selectedConduct"
        @input="onChangeConduct"

        class="selectize-control"> <!-- settings is optional -->
        <option v-for="conduct in conducts" :value="conduct.id">{{conduct.name}}</option>
    </selectize>
</div>
</li>



</ul>
</div>
</d-form>                


<work-flow 

:assignedToId="authUser.role_id == 3 ? authUser.id : selectedOfficer"
:incidentTypeId="selectedConduct"
:stages="stages"
:caseStages="caseStages"
:keyword="keyword"
:resendCallValue="resendCallValue"

v-if="tabSwitch === 'workflow'"
@resend-call="force = true"
>
</work-flow>

<no-record-found v-if="tabSwitch === 'workflow' && !loading &&  !caseStages.length"></no-record-found>

<block-spinner v-if="tabSwitch === 'workflow' && loading"></block-spinner>

<incident-listing v-if="filterTab === 'listing'"

:assignedToId="authUser.role_id == 3 ? authUser.id : selectedOfficer"
:incidentTypeId="selectedConduct"
:keyword="keyword"
:selectedStage="selectedStage"
:resendCallValue="resendCallValue"
:status="statusCheckedButton"

@student-details-popup="showStudentsDetails"
@change-case-owner-popup="changeCaseOwnerPopup">
</incident-listing>

<!-- Popups -->

<student-details-popup 
:showModalProp="studentDetailsPopup"
@hide-modal-value="closeAllPopup"
:type="popupType" 
:user="userData"
></student-details-popup>


<change-case-owner-popup
@case-updated="resendCall"
:currentCase="currentCase"
:showModalProp="changeCaseOwnerPopupValue"
@hide-modal-value="closeAllPopup">
</change-case-owner-popup>


<common-methods 
@get-response="getConductResponse"
:url="requestConductUrl"
:infiniteLoad="false"
:hideLoader="true"
>
</common-methods>

<common-methods 
@get-response="getStageResponse"
:url="requestStageUrl"
:infiniteLoad="false"
:hideLoader="true"
:force="force"
>
</common-methods>

<common-methods 
@get-response="getOfficerResponse"
:url="requestOfficeUrl"
:infiniteLoad="false"
:hideLoader="true"
>
</common-methods>
</div>
</template>

<script>

    import Selectize from 'vue2-selectize';
    export default {
        components: { Selectize },
        data () {
            return {
                selectedStageee: 1,
                value: "Hello",
                currentCase : '',
                keyword : '',
                searchValue : '',
                conductUrl : 'api/incident-type?orderby_name=true&specific_role=true&filter_by_child=1',
                conducts : [],
                stages : [],
                studentDetailsPopup: false,
                changeCaseOwnerPopupValue: false,
                selectedvalue: 1,
                selectedStage:'',
                selectedOfficer: "",
                selectedConduct: null,
                filterTab: 'workflow',
                stage: null,
                officer: null,
                types: null,
                options: [
                { value: null, text: 'All Stages' },
                { value: 'first', text: 'Stages' },
                ],
                officers : [],
                statusCheckedButton : 'active',
                resendCallValue : false,
                loading : true,
                disableTab : false,
                incidentCaseOfficer : [],
                popupType : '',
                userData : { id : 3},
                caseStages : [],
                force: false
            }
        },

        computed : {
            authUser(){
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            requestConductUrl(){
                return this.conductUrl;
            },
            requestOfficeUrl(){
                if(this.selectedConduct){
                    return 'api/user?order_by=name&filter_by_incident_type=' + this.selectedConduct;
                }
            },
            requestStageUrl(){
                if(this.selectedConduct){
                    this.loading = true;
                    return 'api/stage?incident_type_id=' + this.selectedConduct;
                }
            },
            tabSwitch(){
                let user = JSON.parse(this.$store.getters.getAuthUser);
                if(this.filterTab == 'workflow' && this.conducts[0] && !this.selectedConduct){
                    this.selectedConduct = this.conducts[0].id;   
                }

                return this.filterTab;
            }
        },
        methods: {
            onChangeConduct(){
                this.keyword = JSON.parse(JSON.stringify(this.searchValue))
            },
            onChangeOfficer(){
                this.keyword = JSON.parse(JSON.stringify(this.searchValue))
            },
            onChangeStage(){
                this.keyword = JSON.parse(JSON.stringify(this.searchValue))
            },
            showStudentsDetails(response){
                this.userData = response.reported_by_user;
                this.popupType = 'employee';
                this.studentDetailsPopup = true;
            },
            changeCaseOwnerPopup(caseValue){
                this.currentCase = caseValue;
                this.changeCaseOwnerPopupValue = true;
            },
            resendCall(){
                this.keyword = JSON.parse(JSON.stringify(this.searchValue));
                this.resendCallValue = true;
            },
            applySearch(){
                this.keyword = JSON.parse(JSON.stringify(this.searchValue));
            },
            getConductResponse(response){
                if(Object.keys(response.data).length){
                    this.conducts = response.data;
                    this.selectedConduct = this.conducts[0].id;
                }

                if(Object.keys(response.data).length || response.noRecordFound){
                    this.loading = false;                    
                }
                
                
            },
            getStageResponse(response){
                this.stages = [];
                if(Object.keys(response.data).length){
                    var caseStageData = response.data[0];
                    this.stages = caseStageData.stages_array;
                    this.caseStages = caseStageData.stages;
                }

                if(Object.keys(response.data).length || response.noRecordFound){
                    this.loading = false;                    
                }
                this.force = false;
            },
            getOfficerResponse(response){
                this.officers = [];
                if(Object.keys(response.data).length){
                    this.officers = response.data;
                }

                if(this.authUser && this.authUser.role_id == 3){
                    this.selectedOfficer = this.authUser.id;
                }


            },
            showWorkFlow() {
                this.keyword = JSON.parse(JSON.stringify(this.searchValue));
                this.filterTab = 'workflow';
            },
            showList() {
                this.keyword = JSON.parse(JSON.stringify(this.searchValue));
                this.filterTab = 'listing';
            },

            closeAllPopup(){
                this.studentDetailsPopup = false;
                this.changeCaseOwnerPopupValue = false;
            },
        },
        watch : {
            statusCheckedButton(){
            }
        }
    }
</script>
