<template>
    <div class="dragabble-cards dragabble-cards-scroll scrollbar-horizantal">

        <work-flow-component
        v-for="(caseStage, index) in caseStages"
        :ref="caseStage.name"
        v-if="(authUser.role_id && caseStage.name == 'Pending') || caseStage.name !== 'Pending'"
        :key="index"
        :isRequired="caseStage.required_approval"
        :stageName="caseStage.name"
        :incidentTypeId="incidentTypeId"
        :assignedToId="assignedToId"
        :keyword="keyword"
        :reverseCase="reverseCaseBlock"
        :moveAcceptance="acceptMoveVar"
        :refreshFinalStage="refreshFinalStageList"
        @showAlert="alertPopup"
        @revert-case="revertIncidentCase"
        @resend-call="refreshList($event)"

        >

    </work-flow-component>


    <case-move-popup
    :showModalProp="moveCasePopup"
    @revertCase="[reverseCaseHandle(),revt()]"
    @caseMoveAccept="acceptMove()">
</case-move-popup>

</div>
</template>

<script>
export default {
    props : [
    'caseStages',
    'incidentTypeId',
    'assignedToId',
    'keyword'
    ],
    data() {
        return {
            moveCasePopup: false,
            reverseCaseBlock: false,
            acceptMoveVar: false,
            loading : false,
            resend: false,
            refreshFinalStageList: ''
        }
    },
    mounted (){

    },
    watch : {
        incidentTypeId(){
        },
        keyword(){
        }
    },
    computed : {
        authUser(){
            this.$forceUpdate();
            return JSON.parse(this.$store.getters.getAuthUser);
        }
    },
    methods: {
        revertIncidentCase(response){   
            if(response){
                let self = this;
                this.$refs[response.stage][0].incidentCases.push(response);
                this.$refs[response.stage][0].pagination.total+=1;
            }
        },
        alertPopup(){
            this.moveCasePopup = true;
        },
        reverseCaseHandle(){
            this.reverseCaseBlock = true;
            this.acceptMoveVar = false;
            var self = this;
            setTimeout(function(){
                self.moveCasePopup = false;
            }, 500);
        },
        revt(){

        },
        acceptMove(){
            this.moveCasePopup = false;
            this.reverseCaseBlock = false;
            this.acceptMoveVar = true;
        },
        refreshList(event){
            this.refreshFinalStageList = event;
            this.$emit('resend-call');
        }
    },
}
</script>
