<template>

    <div class="card-section" @click="isActive = !isActive" v-bind:class="{ active: isActive }">

        <div class="card-heading">
            <h3>{{stageName}}</h3>
            <div class="item-count">
                {{ pagination ? pagination.total : '' }}
            </div>
        </div>

        <div class="card-container scrollable">
            <draggable
            @change="caseMove($event)"
            :id="stageName"
            :move="checkMove"
            :class="['dragArea' , isRequired ? 'required_approval' : '']"
            ref="stageName"
            :list="incidentCases"
            :options="{group:'people'}"
            @end="onEnd">
            <div v-for="(incidentCase, index) in incidentCases"
            :class="['card', !incidentCase.assigned_to ||  stageName == 'Pending' || incidentCase.disabled ? 'disabled-card' : '']"
            :key="index">
            <div class="userimg">
                <i class="icon-flag11" v-if="incidentCase.at_risk && incidentCase.at_risk == 1"></i>
                <i class="icon-exclamation-outline1 requried-icon" 
                    v-tooltip.top-center="approvalMsg"
                    v-if="incidentCase.approval_request && authUser.role_id == 1" 
                    @click="approveRequest(incidentCase)"></i>
                <div
                class="img-place"
                v-if="incidentCase.assigned_to_user"
                v-bind:style="{'background-image': 'url('+ incidentCase.assigned_to_user.profile_image +') , url(../images/dummy/default-user.png)'}">
            </div>
            <div
            class="img-place"
            v-if="!incidentCase.assigned_to_user"
            v-bind:style="{ 'background-image': 'url(' + dummyImage + ')' }"
            >
        </div>
    </div>
    <div class="userdetail">
        <router-link :to="{ name: 'incident-case.view' , params : {id : incidentCase._id}}" role="button">
            <h4>{{ incidentCase.type == 'ir' ? 'IR' : 'Case' }}  {{ '#: ' + incidentCase.case_number }}</h4>
        </router-link>
        <p v-if="incidentCase.involved_party_names">

            <span v-if="index < 2" v-for="(person, index) in incidentCase.involved_party_names">
                {{person}}  {{ !index && incidentCase.involved_party_names.length > 2 ? ", "  : "" }}
            </span>


            <a v-if="incidentCase.involved_party_names.length > 2" class="moreitem scrollbar" id="style-2" role="button">&amp; {{incidentCase.involved_party_names.length - 2}} More

                <div class="personare scrollbar" id="style-2">
                    <span v-if="index > 1" v-for="(person, index) in incidentCase.involved_party_names">
                        {{person}}
                    </span>
                </div>
            </a>
        </p>
        <time><i class="icon-clock"></i>{{ incidentCase.formatted_updated_at }}</time>
    </div>
</div>
</draggable>
</div>

<common-methods 
@get-response="getCasesResponse"
@form-updated="formUpdated"
class="stageLoader"
:url="requestCaseUrl"
:hideLoader="true"
:submitUrl="submitUrl"
:submit="submit"
:formData="formData"
:submitType="'update'"
:force="force"

>
</common-methods>



<confirm-alert
:showModalProp="showModal"
:title="'Confirm'"
:description="'Moving this case to the next stage requires admin approval. Are you sure you want to change the stage?'"
:url="moveSubmitUrl"
:submitType="'post'"
:formData="moveFormData"
@hide-modal="showModal = false;"
@form-cancelled="formCancelled"
@form-submitted="moveFormSubmitted"
>
</confirm-alert>

<approval-request
:showModalProp="approveRequestPopup"
:title="'Change Stage Request'"
:url="moveSubmitUrl"
:submitType="'post'"
:formData="moveFormData"
@hide-modal="approveRequestPopup = false;"
@form-cancelled="formCancelled"
@form-submitted="moveFormSubmitted"
@resend-call="refreshList($event)"
>
</approval-request>



</div>

</template>

<script>
    import draggable from 'vuedraggable';
    export default {
        components: { draggable },

        props: [
        'isRequired',
        'stageName',
        'reverseCase',
        'moveAcceptance',
        'incidentTypeId',
        'assignedToId',
        'keyword',
        'refreshFinalStage'
        ],

        data() {
            return {
                isActive: false,
                approvalMsg: 'Approval Required',
                dummyImage: '../images/dummy/default-user.png',
                approveRequestPopup: false,
                showModal : false,
                incidentCases : [],
                pagination : '',
                submit : false,
                submitUrl : '',
                disableCard : false,
                formData : {

                },
                options : {

                },
                infiniteLoad : true,
                currentIndex : '',
                moveSubmitUrl : 'api/case-move-mail',
                moveSubmit : false,
                moveFormData : {

                },
                notMoved: false,
                force: false,
            }
        },

        computed : {
            requestCaseUrl(){
                var assignedToId = this.assignedToId && typeof(this.assignedToId) !== 'undefined' ? '&assigned_to='+this.assignedToId : '';
                var keywordValue = this.keyword && typeof(this.keyword) !== 'undefined' ? '&keyword='+this.keyword : '';

                if(this.stageName){
                    return 'api/incident-case?per_page=10&pagination=true&stage='+this.stageName+'&incident_type_id='+this.incidentTypeId+assignedToId+keywordValue;
                }
            },
            authUser(){
                return JSON.parse(this.$store.getters.getAuthUser);
            }
        },

        methods: {
            formCancelled(response){
                let self = this;
                let _id = this.moveFormData.case_id;
                let caseToRevert = '';

                caseToRevert = _.find(this.incidentCases, function(incidentCase){
                    return incidentCase._id == _id
                });

                _.remove(this.incidentCases, function(currentObject) {
                    return currentObject._id === _id; 
                });

                this.$emit('revert-case', caseToRevert);
                //console.log('cancelled' , caseToRevert);

            },
            moveFormSubmitted(response){
                let _id = response.data._id;

                _.remove(this.incidentCases, function(currentObject) {
                    return currentObject._id === _id; 
                });

                this.$emit('revert-case' , response.data);
            },
            approveRequest(response){
                this.approveRequestPopup = true;
                this.moveFormData = response;
            },
            getCasesResponse(response){
                if(Object.keys(response).length || response.pagination){
                    let self = this;
                    self.incidentCases = [];
                    _.forEach(response.data , function(caseValue){
                        self.incidentCases.push(caseValue);
                    });
                    this.noRecordFound = response.noRecordFound;
                    this.pagination = response.pagination;
                    this.infiniteLoad = true;
                    this.force = false;
                }
            },
            formUpdated(response){
                this.submit = false;
                this.submitUrl = '';
                this.pagination.total +=1;
                this.incidentCases[this.currentIndex].disabled = false;
                this.disableCard = false;
                this.currentIndex = '';
                this.$emit('resend-call');
            },
            checkMove(evt, originalEvent){
                return evt.to.id != 'Pending' &&  evt.from.id != 'Pending';
            },
            caseMove(event){

                let self = this;
                if(event.removed && (!this.isRequired || this.authUser.role_id == 1)){
                    self.pagination.total -=1;
                }

                if(event.added && this.isRequired && this.authUser.role_id == 3){

                        this.showModal = true;
                        this.moveFormData = {
                            case_id : event.added.element._id,
                            stage : this.stageName
                        };
                }

                if(event.added && ((!this.isRequired && this.authUser.role_id == 3) || (this.authUser.role_id == 1) || (this.authUser.role_id == 2))){
                    this.options.disabled = true;
                    var offset = moment().utcOffset();
                    this.currentIndex = event.added.newIndex;

                    this.incidentCases[event.added.newIndex].formatted_updated_at = moment.utc(new Date()).utcOffset(offset).fromNow();
                    this.incidentCases[event.added.newIndex].disabled = true;

                    this.submitUrl = 'api/incident-case/'+event.added.element._id+'/update-stage';
                    this.formData = {
                        stage : this.stageName,
                    };
                    this.disableCard = true;
                    this.submit = true;
                }
            },
            onEnd(event, event2){
                return false;
            },
            refreshList(event){
                this.$emit('resend-call', event);
                this.force = true;
            }
        },
        watch: {
            assignedToId(){
                this.incidentCases = [];
            },
            keyword(){
                this.incidentCases = [];
            },
            incidentTypeId(){
                this.incidentCases = [];
            },
            refreshFinalStage(value){
                this.force = true;
            },
            immediate: true,
            reverseCase(evt){
                if(evt) {
                    this.onEnd(evt, 'reverse');
                }
                if(!evt) {

                }
            },
            moveAcceptance(evt){
                if(evt) {
                    this.onEnd(evt, 'moveAccpt');
                }
                if(!evt) {

                }
            },
        }
    }
</script>
