<template>
    <div class="router-section-view pl-3 pr-3">
        <div class="report-top">
            <div class="report-heading">
                <h3>Overall Statistics</h3>
            </div>
            <div class="filter-list">
                <div class="form-group">
                    <label for="overall_start_date">Start Date</label>
                    <div class="icon-right">
                        <i class="icon-calendar"></i>
                        <d-datepicker 
                        v-model="formData.start_date"
                        placeholder="MM / DD / YYYY"
                        typeable
                        class="with-icon datepicker-icon"
                        id="overall_start_date"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="overall_end_date">End Date</label>
                    <div class="icon-right">
                        <i class="icon-calendar"></i>
                        <d-datepicker v-model="formData.end_date"
                        placeholder="MM / DD / YYYY"
                        typeable
                        class="with-icon datepicker-icon" 
                        id="overall_end_date"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <d-checkbox
                    v-model="compare"
                    name="previous_period"
                    :value="true"
                    role="checkbox"
                    aria-checked="true"
                    >
                    Compare with previous period
                </d-checkbox>
            </div>
        </div>
    </div>
    <div class="report-body-panel">

        <general-statistics 
        :start_date="formData.start_date"
        :end_date="formData.end_date"
        :compare="compare"
        ></general-statistics>

        <case-over-time 
        :start_date="formData.start_date"
        :end_date="formData.end_date"
        :compare="compare"
        ></case-over-time>



        <div class="multiple-case-reports">
            <div class="row">

              <case-by-location 
              :start_date="formData.start_date"
              :end_date="formData.end_date"
              :compare="compare"
              ></case-by-location>      

              <case-by-user-group 
              :start_date="formData.start_date"
              :end_date="formData.end_date"
              :compare="compare"
              ></case-by-user-group>

              <case-by-clery-act 
              :start_date="formData.start_date"
              :end_date="formData.end_date"
              :compare="compare"
              ></case-by-clery-act>

          </div>
      </div>

      <hr>

      <div class="multiple-case-reports m-t-40">

        <case-by-other-fields 
        :start_date="formData.start_date"
        :end_date="formData.end_date"
        :compare="compare"
        ></case-by-other-fields>

    </div>



</div>
</div>
</template>

<script>
    import VueTimepicker from 'vue2-timepicker';
    import Selectize from 'vue2-selectize';
    export default {
        components: {
            VueTimepicker,
            Selectize,
            'general-statistics' : require('./../overall-statistics/GeneralStatistics'),
            'case-over-time' : require('./../overall-statistics/CaseOverTime'),
            'case-by-location' : require('./../overall-statistics/CaseByLocation'),
            'case-by-user-group' : require('./../overall-statistics/CaseByUserGroup'),
            'case-by-clery-act' : require('./../overall-statistics/CaseByCleryAct'),
            'case-by-other-fields' : require('./../overall-statistics/CaseByOtherFields')
        },

        data () {
            return {
                compare : false,
                formData : {
                    start_date : new Date().setDate(new Date().getDate()-7),
                    end_date : new Date(),
                    previous_period : false
                },
                settings:{},
                dateFormat: 'MMM dd yyyy',
                tabsOptions:false
            }
        },
        methods: {
            dropDownEvent(){
                this.tabsOptions = !this.tabsOptions;
            }
        },
        mounted(){

        },        
        created(){

            AmCharts.makeChart("usergroupchart",
            {
                "type": "pie",
                "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                "colors": [
                "#8fd1e1",
                "#c0da6c",
                "#e49977",
                "#afe5f9",
                "#c56fc8",
                "#e2b666",
                "#a4c1c4",
                "#c8baab",
                "#d7ce64",
                "#a6b3f4",
                "#888f93",
                "#CD0D74",
                "#754DEB",
                "#DDDDDD",
                "#999999",
                "#333333",
                "#000000",
                "#57032A",
                "#CA9726",
                "#990000",
                "#4B0C25"
                ],
                "labelsEnabled": false,
                "autoMargins": false,
                "marginBottom": 0,
                "marginTop": 0,
                "marginLeft": 0,
                "marginRight": 0,
                "pullOutRadius": 0,
                "marginBottom": 0,
                "marginTop": 0,
                "titleField": "category",
                "valueField": "column-1",
                "color": "#1A1A1A",
                "fontFamily": "Roboto-Regular",
                "fontSize": 14,
                "allLabels": [],
                "balloon": {
                    "borderAlpha": 0,
                    "color": "#1A1A1A",
                    "fillAlpha": 1,
                    "fontSize":14
                },
                "titles": [],
                "dataProvider": [
                {
                    "category": "Off campus",
                    "column-1": 8
                },
                {
                    "category": "Online",
                    "column-1": 6
                },
                {
                    "category": "Barney Hall",
                    "column-1": 2
                },
                {
                    "category": "Brannock Hall",
                    "column-1": "4"
                },
                {
                    "category": "Carolina Hall",
                    "column-1": "6"
                },
                {
                    "category": "College Station",
                    "column-1": "3"
                },
                {
                    "category": "Colonnades A-Story Hall",
                    "column-1": "7"
                },
                {
                    "category": "Colonnades E-Harper Hall",
                    "column-1": "1"
                },
                {
                    "category": "East A",
                    "column-1": "2"
                },
                {
                    "category": "Global B",
                    "column-1": "3"
                },
                {
                    "category": "Others",
                    "column-1": "30"
                }
                ]
            }
            );

            AmCharts.makeChart("clearActChart",
            {
             "type": "pie",
             "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
             "colors": [
             "#8fd1e1",
             "#c0da6c",
             "#e49977",
             "#afe5f9",
             "#c56fc8",
             "#e2b666",
             "#a4c1c4",
             "#c8baab",
             "#d7ce64",
             "#a6b3f4",
             "#888f93",
             "#CD0D74",
             "#754DEB",
             "#DDDDDD",
             "#999999",
             "#333333",
             "#000000",
             "#57032A",
             "#CA9726",
             "#990000",
             "#4B0C25"
             ],
             "labelsEnabled": false,
             "autoMargins": false,
             "marginBottom": 0,
             "marginTop": 0,
             "marginLeft": 0,
             "marginRight": 0,
             "pullOutRadius": 0,
             "marginBottom": 0,
             "marginTop": 0,
             "titleField": "category",
             "valueField": "column-1",
             "color": "#1A1A1A",
             "fontFamily": "Roboto-Regular",
             "fontSize": 14,
             "allLabels": [],
             "balloon": {
                "borderAlpha": 0,
                "color": "#1A1A1A",
                "fillAlpha": 1,
                "fontSize":14
            },
            "titles": [],
            "dataProvider": [
            {
               "category": "None",
               "column-1": 48
           },
           {
               "category": "Hate Crimes",
               "column-1": 5
           },
           {
               "category": "Burglary",
               "column-1": 4
           },
           {
               "category": "Robbery",
               "column-1": 2
           },
           {
               "category": "Fondling",
               "column-1": 1
           },
           {
               "category": "Rape",
               "column-1": 1
           },
           {
               "category": "Liquor Law Violations",
               "column-1": 3
           },
           {
               "category": "Weapons Possessions",
               "column-1": 1
           },
           {
               "category": "Drug Abuse",
               "column-1": 1
           },
           {
               "category": "Simple Assault",
               "column-1": 1
           },
           {
               "category": "Others",
               "column-1": 5
           }
           ]
       }
       );

        }
    }
</script>
