<template>
    <export-current-situation v-if="type == 'current-situation'"></export-current-situation>
    <export-overall-stats v-else></export-overall-stats>
</template>

<script>
    export default {
        props: ['type'],
    }
</script>
