<template>  
    <div>  
        <div class="col-md-12">
            <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                {{ errorMessage ? errorMessage : successMessage }}
            </d-alert>
        </div>
        <div class="fileattachment">
            <d-form  class="form-upload">
                <div class="file_upload_block">
                    <h4>Click here or drag &amp; drop file here to upload</h4>
                    <p>Supported file format are JPG, JPEG, PNG, BMP, MP3, MP4, DOCX, XLS, PPT and PDF</p>
                    <file-upload-component :uploadKey="uploadKey"  
                    @get-response="getFileUploadResponse" 
                    @errorMessage="getError" 
                    @show-progress="showProgress"
                    :fileExtensions="fileExtensions"
                    :size="size"
                    :class="[ loading ? 'disabled' : '',
                    (progressValue < 100 &  progressValue > 0) ? 'disabled' :''] ">
                </file-upload-component>
            </div>
            <div class="document_item">
                <div class="items" v-for="(fileData,index) in file_data">
                    <div class="file-icon">
                        <img :src="fileData.original_name | attachmentIconUrl" />
                    </div>
                    <div class="file-title">
                        <i class="icon-close-custom" @click.prevent="remove(index)"></i>
                        <input type="text" class="form-control" name="upload1" placeholder="Enter related file title" v-model="fileData.display_name"/>
                    </div>
                </div>
                <div class="col-md-6 mb-3"> 
                    <progress-bar max="100" :progress="progressValue" v-if="(progressValue < 100 && progressValue > 0)"></progress-bar>
                </div>
                <div class="col-md-12 upload-btns">
                    <div class="upload-items">
                        <d-btn theme="secondary"  @click.prevent="submitFiles('public')" :class="[ 'm-l-10', (loading  && privacy == 'public') ? 'show-spinner' : '', loading ? 'disabled' : '']">
                            Submit Publicly
                            <c-loader></c-loader>
                        </d-btn>
                        <d-btn theme="primary" @click.prevent="submitFiles('private')"  :class="[ 'm-l-10', (loading && privacy == 'private')  ? 'show-spinner' : '', loading ? 'disabled' : '']">
                            Submit Privately
                            <c-loader></c-loader>
                        </d-btn>
                        
                    </div>
                </div>
            </div>
        </d-form>
    </div>
</div>
</template>
<script>

    import VueTimepicker from 'vue2-timepicker';
    import { EventBus } from '../../../../event-bus.js';
    export default {
        components: {
            VueTimepicker,
        },
        data () {
         return {
            uploadKey: 'attachment',
            fileExtensions :'.jpg,.png,.bmp,.mp3,.mp4,.xls,.docx,.doc,.pdf,.ppt,pptx,mpga',
            url: 'api/attachment',
            fileResponse:false,
            successMessage: '',
            errorMessage: '',
            uploadFile: '',
            cdTabsHandle:false,
            privacy:'',
            loading : false,
            file_data:[],
            icon_url:'',
            incidentCase:'',
            progressValue: 0,
            size:'20000'
        }
    },
    mounted (){
        this.incidentCase = this.$store.getters.getCaseData;
    },
    methods: {
        remove: function(index) {
            this.file_data.splice(index, 1)
        },
        showCdTabs(){
            this.cdTabsHandle = !this.cdTabsHandle;
        },
        getFileUploadResponse(response) {
            let self = this;
            response.display_name = response.original_name;
            this.file_data.push(JSON.parse(JSON.stringify(response)));
            this.fileResponse = true;
        },
        getError(response) {
            let self = this;
            self.errorMessage = response;
            setTimeout(function() {
                self.errorMessage = '';
            }, 3000);
        },
        
        submitFiles(value){
            let self = this;
            self.privacy = value;
            let method;
            let param = {
                privacy: value,
                case_number: this.incidentCase.case_number,
                case_id: (this.incidentCase._id),
                incident_type_id:(this.incidentCase.incident_type_id),
                file_data: this.file_data

            };
            if(this.fileResponse){
                this.loading = true;
                this.$http.post(this.url, param).then(response => {

                    self.successMessage = response.data.data.message;

                    //console.log(response.data.data.document.data.file_data);

                    EventBus.$emit('activity-logs-unshift', {
                        tab: 'attachment',
                        log: response.data.data.log,
                        document: response.data.data.document,
                    });

                    setTimeout(function() {
                        self.loading = false;
                        self.successMessage = '';
                        self.fileResponse = false;
                        self.file_data = [];
                        self.progressValue = 0;
                    }, 3000);
                })
                .catch(error => {
                    self.loading = false
                    self.errorMessage = error.response.data.data.message;
                    setTimeout(function() {
                        self.errorMessage = '';
                    }, 3000);
                })
            }
            else{
                self.errorMessage = 'Please select file(s) to upload';
                setTimeout(function() {
                    self.loading = false;
                    self.errorMessage = '';
                }, 3000);

            }
        },
        showProgress(value){
            this.progressValue = value;
        }
    },
    computed: {
        popupThemeValue() {
            if (this.errorMessage) {
                return 'danger';
            }
            if (this.successMessage) {
                return 'success';
            }
        }
    },
}
</script>