<template>
    <div 
        
        class="tabs fill-tabs case-upload" 
        v-if="!showComposeArea">
        
        <ul class="incident-tabs" @click="showCdTabs" role="tablist">
            <li
                @click="tabData = 'notes'"
                :class="{ 'active': tabData ===  'notes'}"
                role="presentation">
                <a href="javascript:void(0);" v-show="cdTabsHandle"
                role="tab"
                >
                    <i class="icon-comment"></i>
                    <span>Notes</span>
                </a>
            </li>
            <li
                @click="tabData = 'attach_file'"
                role="presentation"
                :class="{ 'active': tabData ===  'attach_file'}">
                <a href="javascript:void(0);" v-show="
                cdTabsHandle"
                role="tab">
                    <i class="icon-cloud"></i>
                    <span>Attach Files</span>
                </a>
            </li>
            <li
                @click="tabData = 'send_email'"
                role="presentation"
                :class="{ 'active': tabData ===  'send_email'}">
                <a href="javascript:void(0);" v-show="cdTabsHandle"
                role="tab">
                    <i class="icon-email"></i>
                    <span>Send Email</span>
                </a>
            </li>
            <li
                @click="tabData = 'schedule_meeting'"
                role="presentation"
                :class="{ 'active': tabData ===  'schedule_meeting'}">
                <a href="javascript:void(0);" v-show="cdTabsHandle"
                role="tab">
                    <i class="icon-calendar"></i>
                    <span>Schedule Meeting</span>
                </a>
            </li>
        </ul>
        <div class="incident-tab-content">
            <div
                v-if="tabData == 'notes'"
                class="tab-pane">
                <notes></notes>
            </div>
        <div
            v-if="tabData == 'send_email'"
            class="tab-pane">
            <div class="mail-sending-container">
                <send-email
                @email-preview-popup="emailPreview" 
                ></send-email>
            </div>
        </div>
        <div
            v-if="tabData == 'schedule_meeting'"
            class="tab-pane">
            <schedule-meeting></schedule-meeting>
            <div class="schedule-meeting-container">
            </div>
        </div>
        <div
            v-if="tabData == 'attach_file'"
            class="tab-pane">
                <div class="fileattachment">
                    <attach-files></attach-files>
                </div>
        </div>
        <email-preview-popup
            :previewData="previewData"
            :showModalProp="emailPreviewPopup"
            @hide-modal-value="closeAllPopup">
        </email-preview-popup>     
        </div>
    </div>
</template>

<script>
export default {
    data () {
       return {

            tabData: 'notes',
            cdTabsHandle:false,
            emailPreviewPopup: false,
            previewData: {}
        }
    },

    computed: {
        showComposeArea(){
            var caseData = this.$store.getters.getCaseData;
            return caseData ? (caseData.status == 'closed' || caseData.is_discarded) : false;
        }
    },

    methods: {
        showCdTabs(){
            this.cdTabsHandle = !this.cdTabsHandle;
        },
        closeAllPopup(){
            this.emailPreviewPopup = false;
        },
        emailPreview(value, caseDetails, senderDetails){
            this.emailPreviewPopup = true;
            this.previewData = value;
            this.previewData.case_details = caseDetails;
            this.previewData.sender_details = senderDetails;
        },
    }
}
</script>
