<template>
    <d-form @submit.prevent="validateBeforeSubmit" class="form-upload">

        <d-alert role="alert" v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
            {{ errorMessage ? errorMessage : successMessage }}
        </d-alert>

        <textarea
        v-validate="'required|max:500'"
        v-model="formData.description"
        placeholder="Add a note about this case"
        name="description"
        :class="['notes-text-area', 'form-control', errorBag.first('description') ? 'is-invalid' : '']">
    </textarea>

    <div class="float-right incident-btn">

        <d-btn :class="[loading && formData.privacy == 'public' ? 'show-spinner' : '', disableAll  ? 'disable-btn' : '']" @click.prevent="formData.privacy = 'public'; validateBeforeSubmit();" theme="secondary">
            <span>Post Publicly</span>
            <c-loader></c-loader>
        </d-btn>

        <d-btn :class="[loading && formData.privacy == 'private' ? 'show-spinner' : '', disableAll  ? 'disable-btn' : '']" @click.prevent="formData.privacy = 'private'; validateBeforeSubmit();">
            <span>Post Privately</span>
            <c-loader></c-loader>
        </d-btn>

    </div>

    <common-methods 
    :formData="formData"
    :submit="submit"
    :submitUrl="submitUrl"
    :submitType="'post'"
    @form-submitted="formSubmitted"
    @form-error="formError"
    >
</common-methods>



</d-form>
</template>

<script>
    import { EventBus } from '../../../../event-bus.js';
    export default{
        data(){
            return {
                formData : {
                    description : '',
                    privacy : 'public',
                    case_number : '',
                    case_id : ''
                },
                submitUrl : 'api/note',
                submit : false,
                errorMessage : '',
                successMessage : '',
                loading : false,
                disableAll : false,
            }
        },
        computed : {
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            },
            
        },
        methods : {
            validateBeforeSubmit(){
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.formData.case_number = this.$store.getters.getCaseData.case_number; 
                        this.formData.case_id = this.$store.getters.getCaseData._id; 
                        this.formData.incident_type_id = this.$store.getters.getCaseData.incident_type_id; 
                        this.loading = true;
                        this.submit = true;
                        this.errorMessage = '';
                        this.disableAll = true;
                        return;
                    }
                    this.errorMessage = this.errorBag.all()[0];                             
                    setTimeout(function(){
                        self.errorMessage='';
                        self.loading = false;
                        self.disableAll = false;
                        self.errorBag.clear();
                    }, 3000);
                });

            },
            formSubmitted(response){
                let self = this;
                this.submit = false;
                this.loading = false;
                this.disableAll = false;
                this.formData.description = '';

                this.successMessage = response.message;

                EventBus.$emit('activity-logs-unshift', {
                    tab: 'notes',
                    log: response.data.log,
                    document: response.data.document,
                });
                setTimeout(function () {
                    Vue.nextTick(() => {
                        self.errorBag.clear();
                    })

                }, 50);

                setTimeout(function(){
                    self.successMessage = '';
                } , 2000);

                
            },
            formError(response){
                let self = this;

                this.submit = false;
                this.loading = false;
                setTimeout(function () {
                    Vue.nextTick(() => {
                        self.errorMessage = '';  
                    })
                }, 3000);

            }
        }
    }
</script>