<template>
	<div class="file-upload">
         <label>Uploading</label>
             <div class="bararea">
                <div class="linebar" v-bind:style="{ width: progress + '%' }">
                </div>
             	<p>{{ progress }}% completed</p>
             </div>
    </div>
</template>
<script>

export default {
	props: ['progress'],
    data () {
       return {
            upload: 35,        
        }
    },
}
</script>