<template>
    <div class="">
        
        <d-form class="form-upload">
            <div class="row">
                <div class="col-md-12">
                    <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                        {{ errorMessage ? errorMessage : successMessage }}
                    </d-alert>
                </div>
                <div class="col-md-12">
                    <div :class="[ 'form-group' ,'m-b-5', errorBag.first('invitees') && formInvaild  ? 'is-invalid' : '']" >
                        <label>Invitees</label>
                        <common-multiselect @selected-value="getInvitees" :url="requestInviteesUrl" :multiple="true" :clearOptions="clearOptions"></common-multiselect>
                </div>
            </div>
            <div class="col-md-6 mt-3">
                <div :class="[ 'form-group' ,'m-b-5', errorBag.first('hearing type') && formInvaild  ? 'is-invalid' : '']">
                    <label>Hearing type</label>
                    <d-form-select
                    name="hearing type"
                    v-model="formData.hearing_type_id"
                    v-validate="'required'"
                    class="mb-3"
                    >
                    <option disabled :value="null" selected>Select hearing type</option>
                    <option v-for="hearingType in hearingTypes" :value="hearingType.id">{{hearingType.name}}</option>
                </d-form-select>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div :class="[ 'form-group' ,'m-b-5', errorBag.first('hearing location') && formInvaild ? 'is-invalid' : '']">
                <label>Location</label>
                <d-form-select
                name="hearing location"
                v-model="formData.hearing_location_id"
                v-validate="'required'"
                class="mb-3">
                <option disabled :value="null" selected>Select hearing location</option>
                <option v-for="hearingLocation in hearingLocations" :value="hearingLocation.id">{{hearingLocation.name}}</option>                                                                                
            </d-form-select>
        </div>
    </div>
    <div class="col-md-4">
        <div :class="[ 'form-group', 'm-b-5', errorBag.first('meeting title') && formInvaild  ? 'is-invalid' : '']">
            <label>Meeting Title</label>
            <input type="text" name="meeting title" 
            v-validate="'required'"
            v-model="formData.meeting_title" class="form-control" placeholder="Enter title"/>
        </div>
    </div>
    <div class="col-md-4">

        <div :class="[ 'form-group', errorBag.first('meeting date') && formInvaild  ? 'is-invalid' : '']">
            <label>Meeting Date</label>
            <div class="icon-right">
                <i class="icon-calendar"></i>
                <d-datepicker
                name="meeting date"
                class="with-icon datepicker-icon"
                v-model="formData.meeting_date"
                v-validate="'required'"
                placeholder="MM / DD / YYYY"
                :disabled-dates="disabledDates"
                :format="dateFormat"
                />
            </div>
        </div>
    </div>
         <div class="col-md-2">
                    <div :class="[ 'form-group' ,'m-b-15', errorBag.first('meeting start time') && formInvaild ? 'is-invalid' : '']">
                        <label>Meeting Time</label>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="icon-right">
                                    <i class="icon-clock"></i>
                                    <vue-timepicker
                                        name="meeting start time"
                                        class="with-icon datepicker-icon form-control"
                                        v-model="formData.meeting_time.from"
                                        v-validate="'timeValidate'"
                                        :format="timeFormat"
                                        placeholder="Start Time">
                                    </vue-timepicker>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div> 
                <div class="col-md-2">
                    <div :class="[ 'form-group' ,'m-b-15', errorBag.first('meeting end time') && formInvaild ? 'is-invalid' : '']">
                        <label>&nbsp;</label>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="icon-right">
                                    <i class="icon-clock"></i>
                                    <vue-timepicker
                                        name="meeting end time"
                                        class="with-icon datepicker-icon form-control"
                                        v-validate="'timeValidate'"
                                        v-model="formData.meeting_time.to"
                                        :format="timeFormat"
                                        placeholder="End Time">
                                    </vue-timepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

<div class="col-md-12">
    <div class="form-group">
        <label>Additional note</label>
        <textarea class="form-control schedule-addional-notes" name="schedule_notes" rows="4" v-validate="'max:750'"
        data-vv-name="message"
        :class="[errorBag.first('message') ? 'is-invalid' : '','form-control','schedule-addional-notes']"
        v-model="formData.additional_note" placeholder="Start typing your additional note (optional)" ></textarea>
    </div>
</div>
<div class="col-md-12">
    <d-btn :class="[ loading ? 'show-spinner' : '']" @click.prevent="validateBeforeSubmit()">Schedule
        <c-loader></c-loader>
    </d-btn>
</div>
</div>
</d-form>
<common-methods 
@get-response="getHearingLocationResponse"
:url="requestHearingLocationUrl"
:infiniteLoad="false"
:hideLoader="true"
>
</common-methods>
<common-methods 
@get-response="getHearingTypeResponse"
:url="requestHearingTypeUrl"
:infiniteLoad="false"
:hideLoader="true"
>
</common-methods>
<common-methods 
@get-response="getInviteesResponse"
:url="requestInviteesUrl"
:infiniteLoad="false"
:hideLoader="true"
>
</common-methods>
<common-methods 
@form-submitted="formSubmitted"
@form-error="formError"
:submitUrl="submitUrl"
:submit="submit"
:formData="formData"
:submitType="submitType"
:hideLoader="true"

>
</common-methods>
</div>
</template>
<script>

import VueTimepicker from 'vue2-timepicker';
import Multiselect from 'vue-multiselect';
import { Validator } from 'vee-validate';
import { EventBus } from '../../../../event-bus.js';

    export default {
        
        components: {
            VueTimepicker,
            Multiselect
        },
        data () {
         return {
            isTouched: false,
            isLoading: false,
            formInvaild: false,
            hearingLocations: [],
            hearingTypes: [],
            recipients: [],
            recipient_ids: [],
            url: 'api/case-meeting',
            hearingLocationUrl: 'api/hearing-location?filter_by_name=true&is_archived=0',
            hearingTypeUrl: 'api/hearing-type?filter_by_name=true&is_archived=0',
            inviteesUrl: 'api/case-meeting/get-involved-users',
            successMessage: '',
            errorMessage: '',
            submit : false,
            loading : false,
            submitType : 'post',
            dateFormat: 'MMM dd, yyyy',
            timeFormat: 'hh:mm a',
            disabledDates: {
                to: new Date(Date.now() - 8640000)
            },
            includeDisabled: true,
            cdTabsHandle:false,
            formData: {
                invitees: [],
                hearing_type_id: null,
                hearing_location_id: null,
                additional_note: '',
                meeting_date: new Date(),
                meeting_time: {
                    from:{
                        hh: '',
                        mm: '',
                        a: 'am',
                    },
                    to:{
                        hh: '',
                        mm: '',
                        a: 'am',
                    }
                },
                meeting_title: '',
                case_number: null,
                case_id: null
            },
            requestUrl: '',
            filterRecipients: [],
            clearOptions: false,
        }
    },
    created(){
        Validator.extend("timeValidate", value => {
            if( value.hh === "" ||  value.mm === "" || value.a === "") {
                return false;
         }
         return true;
     })
    },
    mounted (){
        this.requestUrl = this.url;
    },
    computed: {
        incidentCaseDetails(){
            return this.$store.getters.getCaseData;
        },
        requestHearingLocationUrl() {
            return this.hearingLocationUrl;
        },
        requestHearingTypeUrl(){
            return this.hearingTypeUrl;
        },
        requestInviteesUrl(){
            if(this.$route.params){
                return this.inviteesUrl + '/' + this.$route.params.id + '?incident_type_id='+this.incidentCaseDetails.incident_type_id;
            }
        },
        submitUrl(){
            return this.requestUrl;
        },
        popupThemeValue(){
            if(this.errorMessage){
                return 'danger';
            }
            if(this.successMessage){
                return 'success';
            }
        },

    },
    methods: {
        getHearingLocationResponse(response){
            if(Object.keys(response.data).length){
                this.hearingLocations = response.data;
            }
        },
        getHearingTypeResponse(response){
            if(Object.keys(response.data).length){
                this.hearingTypes = response.data;
            }
        },
        getInviteesResponse(response){
            let self = this;
            if(Object.keys(response.data).length){
                _.forEach(response.data, function(value, key) {
                    var data = {};
                    data['id'] = value.id;
                    data['name'] = value.first_name + ' ' + value.last_name;
                    data['img'] = value.profile_image;
                    self.recipients.push(data);
                });
            }
        },
        validateBeforeSubmit() {
            let self = this;
            self.errorBag.clear();
            this.$validator.validateAll().then((result) => {
                var now = moment();
                var date_formatted = moment(this.formData.meeting_date).format('YYYY-MM-DD');
                var start = date_formatted+' '+this.formData.meeting_time.from.hh+':'+this.formData.meeting_time.from.mm+' '+this.formData.meeting_time.from.a;
                var end = date_formatted+' '+this.formData.meeting_time.to.hh+':'+this.formData.meeting_time.to.mm +' '+this.formData.meeting_time.to.a;
                if (result && moment(end).isAfter(start) && moment(start).isAfter(now) && moment(end).isAfter(now) && this.formData.invitees.length) {
                    this.formData.case_number = this.incidentCaseDetails.case_number;
                    this.formData.case_id = this.$route.params.id;
                    var date = moment(this.formData.meeting_date).format('YYYY-MM-DD');
                    this.formData.meeting_date = date;
                    this.submit = true;
                    this.loading = true;
                    this.formInvaild = false;
                    this.clearOptions = false; 
                    this.errorMessage = '';
                    return;
                }
                setTimeout(function(){
                    self.errorMessage = '';
                    self.formInvaild = false;
                },3000);
                this.formInvaild = true; 
                if(this.errorBag.all()[0]) {
                    this.errorMessage = this.errorBag.all()[0]
                }else if(!moment(end).isAfter(start)){
                    this.errorMessage = 'Meeting end time should be greater than start time';
                    this.errorBag.add({field: 'meeting end time',
                        msg: 'Meeting end time should be greater than start time'});
                }else if(!moment(start).isAfter(now)){
                    this.errorMessage = 'Meeting start time should be greater than current time';
                    this.errorBag.add({field: 'meeting start time',
                        msg: 'Meeting start time should be greater than current time'});
                }else if(!moment(end).isAfter(now)){
                    this.errorMessage = 'Meeting end time should be greater than current time';
                    this.errorBag.add({field: 'meeting end time',
                        msg: 'Meeting end time should be greater than current time'});
                }
                if(!this.formData.invitees.length){
                    this.errorMessage = 'Invitees field is required';
                    this.errorBag.add({field: 'invitees',
                        msg: 'Invitees field is required'});
                }else{
                    this.errorBag.clear({scope:'invitees'});
                }
            });
        },
        formError(response){

            let self = this;
            this.submit = false;
            this.loading = false;

            _.forEach(response.errors, function(value, key) {
                self.errorMessage =  response.errors[key][0];
                return false;
            });
            setTimeout(function(){
                self.errorMessage = '';
            },3000);
        },
        formSubmitted(response){
            this.clearDetails(response);
            
            EventBus.$emit('activity-logs-unshift', {
                tab: 'meeting',
                log: response.data.log,
                document: response.data.document,
            });

            this.$emit('form-submitted', response);
        },
        clearDetails(response){
            let self = this;
            setTimeout(function(){
                self.loading = false;
                self.successMessage = '';
                self.recipient_ids = [];
                self.clearOptions = true;
                self.formData =  {
                    invitees: [],
                    hearing_type_id: null,
                    hearing_location_id: null,
                    additional_note: '',
                    meeting_date: new Date(),
                    meeting_time: {
                        from:{
                            hh: '',
                            mm: '',
                            a:  'am',
                        },
                        to:{
                            hh: '',
                            mm: '',
                            a: 'am',
                        }
                    },
                    meeting_title: '',
                    case_number: null,
                    case_id: null
                };
            } , 3000);
            this.successMessage = response.message;
            this.submit = false;
        },
        getInvitees(values){
            let self = this;
            self.formData.invitees = [];
            _.forEach(values, function(val, key){
                self.formData.invitees.push(val.id);
            });
        }

    },
    watch: {
        url (value){
            this.requestUrl = value;
        },
    }
}
</script>