<template>       
    <d-form class="form-upload">
        <div class="row">
            <div class="col-md-12">
                <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
                    {{ errorMessage ? errorMessage : successMessage }}
                </d-alert>
            </div>
            <div class="col-md-12">
                <div :class="[ 'email-to', 'form-group' ,'mb-3', errorBag.first('invitees') && formInvalid ? 'is-invalid' : '']" >
                    <label>To</label>
                 <common-multiselect @selected-value="recipientIdsMethods" :url="requestInviteesUrl" :multiple="true" :clearOptions="clearOptions"></common-multiselect>
                </div>
            </div>
            <div class="col-md-12">
                <div :class="[ 'email-cc', 'form-group' ,'mb-3']" >
                    <label>CC</label>
                 <common-multiselect @selected-value="ccUsersIds" :url="requestInviteesUrl" :multiple="true" :clearOptions="clearOptions"></common-multiselect>
                </div>
            </div>
            <div class="col-md-12">
                <div :class="[ 'form-group' ,'mb-3']" >
                    <label>BCC</label>
                 <common-multiselect @selected-value="bccUsersIds" :url="requestInviteesUrl" :multiple="true" :clearOptions="clearOptions"></common-multiselect>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group m-b-5">
                    <label>Email Template (Optional)</label>
                    <d-form-select name="template" v-model="selectedTemplate" class="mb-3" @input="populateMessage">
                        <option disabled :value="null" selected>{{ emailTemplateOptionText }}</option>
                        <option 
                            :title="emailTemplate.title"
                            :value="emailTemplate" 
                            v-for="emailTemplate in emailTemplates">
                            {{ emailTemplate.title.substring(0, 35) + (emailTemplate.title.length > 36 ? '...' : '')}}
                        </option>
                    </d-form-select>
                </div>
            </div>
            <div class="col-md-6">
                <div :class="[ 'form-group','m-b-5', errorBag.first('subject') && formInvalid ? 'is-invalid' : '']">
                    <label>Subject</label>
                    <input type="text" name="subject" v-model="formData.subject" v-validate="'required'" class="form-control" placeholder="Enter Subject" />
                </div>
            </div>
            <div class="col-md-12">
                <div :class="[ 'form-group', errorBag.first('message') && formInvalid ? 'is-invalid' : '']">
                    <label>Message</label>
                    <textarea class="form-control" rows="4" name="message" v-model="formData.message" v-validate="'required'"
                    placeholder="Enter your message"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Attachment (Optional)</label>
                    <div class="file_upload_block">
                        <h4>Click here or drag &amp; drop file here to upload</h4>
                        <p>Support file format are JPG, PNG, BMP, MP3, MP4, DOCX, XLS, PPT and PDF</p>
                        <file-upload-component :uploadKey="uploadKey"  
                        @get-response="getFileUploadResponse" 
                        @errorMessage="getError" 
                        @show-progress="showProgress"
                        :fileExtensions="fileExtensions"
                        :size="size"
                        :class="[ loading ? 'disabled' : '', errorMessage ? 'disabled' : '',
                        (progressValue < 100 &  progressValue > 0) ? 'disabled' :''] ">
                        </file-upload-component>
                    </div>
                    
                    <div class="document_item">
                        <div class="items" v-for="(fileData,index) in formData.attachments">
                            <div class="file-icon">
                                <img :src="fileData.original_name | attachmentIconUrl" />
                            </div>
                            <div class="file-title">
                                <i class="icon-close-custom" @click.prevent="remove(index)"></i>
                                <input type="text" class="form-control" name="upload1" placeholder="Enter related file title" v-model="fileData.display_name"/>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3"> 
                            <progress-bar max="100" :progress="progressValue" v-if="(progressValue < 100 && progressValue > 0)"></progress-bar>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Send email on?</label>
                    <div class="row org-radio">
                        <div class="col-md-6">
                            <d-form-radio inline v-model="formData.send_email_on" value="portal">Portal</d-form-radio>
                        </div>
                        <div class="col-md-6">
                            <d-form-radio inline v-model="formData.send_email_on" value="email">Email</d-form-radio>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Send attachment on?</label>
                    <div class="row org-radio">
                        <div class="col-md-6">
                            <d-form-radio inline v-model="formData.send_attachment_on" value="portal">Portal</d-form-radio>
                        </div>
                        <div class="col-md-6">
                            <d-form-radio inline v-model="formData.send_attachment_on" value="email">Email</d-form-radio>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Send as Letter?</label>
                    <div class="row org-radio">
                        <div class="col-md-4">
                            <d-form-radio inline  v-model="formData.send_as_letter" value="portal">Portal</d-form-radio>
                        </div>
                        <div class="col-md-4">
                            <d-form-radio inline v-model="formData.send_as_letter"  value="email">Email</d-form-radio>
                        </div>
                        <div class="col-md-4">
                            <d-form-radio inline v-model="formData.send_as_letter"  value="no">No</d-form-radio>
                        </div>                                        
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <d-btn :class="[ loading ? 'show-spinner' : '']" @click.prevent="validateBeforeSubmit()">Send
                    <c-loader></c-loader>
                </d-btn>

                <a 
                    href="javascript:void(0);"
                    @click="$emit('email-preview-popup',formData, incidentCaseDetails, AuthUser)"
                    class="btn m-l-10 btn-secondary email-preview">
                    Email Preview
                </a>
            </div>
        </div>
        <common-methods 
        @get-response="getIncidentTypeEmailTemplateResponse"
        :url="requestIncidentTypeEmailTemplateUrl"
        :infiniteLoad="false"
        :hideLoader="true"
        >
        </common-methods>
        <common-methods 
        @get-response="getInviteesResponse"
        :url="requestInviteesUrl"
        :infiniteLoad="false"
        :hideLoader="true"
        >
        </common-methods>
        <common-methods 
        @form-submitted="formSubmitted"
        @form-error="formError"
        :submitUrl="submitUrl"
        :submit="submit"
        :formData="formData"
        :submitType="submitType"
        >
        </common-methods>
    </d-form>

                    
</template>
<script>

import Multiselect from 'vue-multiselect';
import { EventBus } from '../../../../event-bus.js';
export default {
    components: {
        Multiselect
    },


    data () {
       return {
            isTouched: false,
            isLoading: false,
            emailTemplateOptionText: 'Select email template (optional)',
            emailTemplates: [],
            recipientIds: [],
            uploadKey: 'email_attachment',
            fileExtensions :'.jpg,.png,.bmp,.mp3,.mp4,.xls,.docx,.doc,.pdf,.ppt',
            url: 'api/attachment',
            incidentTypeEmailTemplateUrl: 'api/email-template?filter_by_name=true&incident_type_id=',
            inviteesUrl: 'api/case-meeting/get-involved-users',
            formData: {
                case_number: null,
                case_id: null,
                template_id: '',
                recipient_ids: [],
                recipient_names: [],
                cc_user_names: [],
                bcc_user_names: [],
                title: '',
                subject: '',
                message: '',
                attachments: [],
                send_email_on: 'portal',
                send_attachment_on: 'portal',
                send_as_letter: 'no',
                cc_user_ids: [],
                bcc_user_ids: [],
                recipient_list: [],
            },
            fileResponse:false,
            successMessage: '',
            errorMessage: '',
            loading : false,
            isLoading: false,
            selectedTemplate: null,
            progressValue: 0,
            filterRecipients: [],
            recipients: [],
            submit: false,            
            submitType : 'post',
            requestUrl: 'api/case-email',
            formInvalid: false,
            incidentCaseDetails: {},
            size: '20000',
            title: '',
            clearOptions: false,
        }
    },
    mounted(){
        this.incidentCaseDetails = this.$store.getters.getCaseData;
    },
    computed:{
        requestInviteesUrl(){
            if(this.$route.params){                
                return this.inviteesUrl + '/' + this.$route.params.id + '?incident_type_id='+this.incidentCaseDetails.incident_type_id;
            }
        },
        requestIncidentTypeEmailTemplateUrl() {
            this.incidentCaseDetails = this.$store.getters.getCaseData;
            return this.incidentTypeEmailTemplateUrl + this.incidentCaseDetails.incident_type_id;
        },
        submitUrl(){
            return this.requestUrl;
        },
        popupThemeValue(){
            if(this.errorMessage){
                return 'danger';
            }
            if(this.successMessage){
                return 'success';
            }
        },
        isInvalid () {
            return this.isTouched && !this.recipientIds.length;
        },
        AuthUser() {
            return JSON.parse(this.$store.getters.getAuthUser);
        }
    },
    methods:{
        dispatchAction (actionName) {
            this.recipientIds = '';
            this.filterRecipients = [];
            this.loading = false;
        },
        dispatchCloseAction (actionName) {
            this.filterRecipients = [];
            this.loading = false;
            this.onTouch();
        },
        onTouch () {
            this.isTouched = true
        },
        populateMessage(value){
            if(value){
                this.formData.title = value.title;
                this.formData.subject = value.subject;
                this.formData.message = value.message;               
            }
        },
        limitText(count) {
          return `and ${count} more`;
        },
        asyncFind (query) {
            if(!query || query.length < 2) {
                return;
            };
            this.filterRecipients = [];
            this.isLoading = true;
            this.filterRecipients = this.recipients.filter(function(recipient){
                return recipient.name.toLowerCase().includes(query.toLowerCase())
            });
            this.isLoading = false;
        },
        getInviteesResponse(response){
             let self = this;
            if(Object.keys(response.data).length){
                _.forEach(response.data, function(value, key) {
                    var data = {};
                    data['id'] = value.id;
                    data['name'] = value.first_name + ' ' + value.last_name;
                    data['img'] = value.profile_image;
                    self.recipients.push(data);
                });
            }
        },
        getIncidentTypeEmailTemplateResponse(response){
            if(Object.keys(response.data).length){
                this.emailTemplateOptionText = 'Select email template (optional)';
                this.emailTemplates = response.data;
            }else{
                this.emailTemplateOptionText = 'No email Templates found';
            }
        },
        getFileUploadResponse(response) {
            let self = this;
            response.display_name = response.original_name;
            this.formData.attachments.push(JSON.parse(JSON.stringify(response)));
            this.fileResponse = true;
        },
        getError(response) {
            let self = this;
            self.errorMessage = response;
            setTimeout(function() {
                    self.errorMessage = '';
                }, 2000);
        },
        showProgress(value){
            this.progressValue = value;
        },
        remove: function(index) {
          this.formData.attachments.splice(index, 1)
        },
        validateBeforeSubmit() {
            let self = this;
            self.errorBag.clear();
            this.$validator.validateAll().then((result) => {
                if (result && this.formData.recipient_list.length) {
                    this.formData.case_number = this.incidentCaseDetails.case_number;
                    this.formData.case_id = this.$route.params.id;
                    this.submit = true;
                    this.loading = true;
                    this.formInvalid = false;
                    this.clearOptions = false;
                    this.errorMessage = '';
                    return;
                }
                setTimeout(function(){
                    self.formInvalid = false;
                    self.errorMessage = '';
                },2000);
                this.formInvalid = true;
                this.formData.recipient_list = [...new Set(this.formData.recipient_list)];
                if(!this.formData.recipient_ids.length && !this.formData.cc_user_ids.length && !this.formData.bcc_user_ids.length){
                        this.errorMessage = 'Recipients field is required';
                        this.errorBag.add({field: 'invitees',
                            msg: 'Recipients field is required'});
                }else{
                    this.errorMessage = this.errorBag.all()[0];
                }
            });
        },
        formError(response){
            let self = this;
            this.submit = false;
            this.loading = false;

            _.forEach(response.errors, function(value, key) {
                self.errorMessage =  response.errors[key][0];
                return false;
            });
            setTimeout(function(){
                self.errorMessage = '';
            },2000);
        },
        formSubmitted(response){
            this.clearDetails(response);
            
            EventBus.$emit('activity-logs-unshift', {
                tab: 'email',
                log: response.data.log,
                document: response.data.document,
            });

            this.$emit('form-submitted', response);
        },
        clearDetails(response){
            let self = this;
            setTimeout(function(){
                self.loading = false;
                self.successMessage = '';
                self.recipientIds = [];
                self.selectedTemplate = null;
                self.clearOptions = true;
                self.formData =  {
                    template_id: null,
                    title: '',
                    subject: '',
                    message: '',
                    attachments: [],
                    send_email_on: 'portal',
                    send_attachment_on: 'portal',
                    send_as_letter: 'no',
                    cc_user_ids: [],
                    bcc_user_ids: [],
                    recipient_list: [],
                };
            } , 2000);
            this.successMessage = response.message;
            this.submit = false;
        },
        recipientIdsMethods(values) {
            let self = this;
            self.formData.recipient_ids = [];
            self.formData.recipient_names = [];
            _.forEach(values, function(val, key) {
                self.formData.recipient_list.push(val.id);
                self.formData.recipient_ids.push(val.id);
                self.formData.recipient_names.push(val.label);
            });
        },
        ccUsersIds(values) {
            let self = this;
            self.formData.cc_user_ids = [];
            self.formData.cc_user_names = [];
            _.forEach(values, function(val, key) {
                self.formData.recipient_list.push(val.id);
                self.formData.cc_user_ids.push(val.id);
                self.formData.cc_user_names.push(val.label);
            });
        },
        bccUsersIds(values) {
            let self = this;
            self.formData.bcc_user_ids = [];
            self.formData.bcc_user_names = [];
            _.forEach(values, function(val, key) {
                self.formData.recipient_list.push(val.id);
                self.formData.bcc_user_ids.push(val.id);
                self.formData.bcc_user_names.push(val.label);
            });
        },
    },
    watch:{
        selectedTemplate(value){
            this.selectedTemplate = value;
        },
        recipientIds(value){
            let self = this;
            self.formData.recipient_ids = [];
            self.formData.recipient_names = [];
            _.forEach(value, function(val, key) {
                self.formData.recipient_ids.push(val.id);
                self.formData.recipient_names.push(val.label);
            });
        }
    }
}
</script>