    <template>
        <div class="main-wrapper system-log-wrapper">
            <d-form>
                <div class="filter-left">
                    <h3>System Logs</h3>
                </div>
                <div class="filter-right">
                    <ul>
                        <li>
                            <div class="form-group">
                                <div class="icon-right">
                                    <i class="icon-calendar"></i>
                                    <d-datepicker 
                                    name="Start date"
                                    class="with-icon datepicker-icon" 
                                    placeholder="Start Date"
                                    v-validate="'required'"
                                    v-model="formData.start_date"
                                    :disabled-dates="disabledDates"
                                    :format="dateFormat" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <div class="icon-right">
                                    <i class="icon-calendar"></i>
                                    <d-datepicker 
                                    name="End date"
                                    class="with-icon datepicker-icon" 
                                    placeholder="End Date"
                                    v-validate="'required'"
                                    v-model="formData.end_date"
                                    :disabled-dates="disabledDates"
                                    :format="dateFormat" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="search-panel">
                                <d-input 
                                id="" 
                                class="btn-mobile" 
                                placeholder="Search logs by keyword" 
                                v-model="formData.keyword"
                                v-validate="'max:200'"
                                data-vv-name="keyword"
                                :class="[errorBag.first('keyword') ? 'is-invalid' : '']"/>
                                <i class="icon-search"></i>
                            </div>
                        </li>
                        <li>
                            <div class="form-group all-action-log">
                                <selectize v-model="formData.action" :settings="settings" class="selectize-control">
                                    <option value="">All Actions</option>
                                    <option :value="action.key" v-for="(action,index) in actions" :key="index">{{action.value}}</option>
                                </selectize>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">

                                <d-btn @click.prevent="validateBeforeSubmit()" class="btn-mobile">
                                    <span>Filter</span>
                                </d-btn>

                            </div>
                        </li>
                    </ul>

                </div>
            </d-form>

            <d-alert v-if="errorMessage" class="clearfix" :theme="updatePopupThemeValue" show>
                {{ errorMessage }}
            </d-alert>

            <block-spinner v-if="!dataProvider.length && !noRecordFound"></block-spinner>
            
            <!-- System Log Chart -->
            <div class="system-chart">
                <div id="system-log" style="width: 100%; height: 199px;"></div>
            </div>

            <system-listing
            @student-details-popup="onEmployeeDetailsPopup"
            @record-found="getRecordFound" 
            :filterBy="submitData">
            </system-listing>

            <no-record-found v-if="noRecordFound"></no-record-found>
            
            <common-methods
               @get-response="getResponse"
               :url="getGraphData">
            </common-methods>

            <student-details-popup 
            :showModalProp="employeeDetailsPopup" 
            @hide-modal-value="closeAllPopup" 
            :type="popupType" 
            :user="userId">
            </student-details-popup>

</div>
</template>

<script>

    import Selectize from 'vue2-selectize';
    import VueTimepicker from 'vue2-timepicker';

    export default {

        components: {
            Selectize,
            VueTimepicker
        },

        data () {
            return {
                requestGraphUrl: 'api/system-log/load-graph',
                employeeDetailsPopup:false,
                userId: '',
                popupType: '',
                settings: {},
                dataProvider: [],
                actions: [],
                formData: {
                    start_date: new Date(Date.now() - 12096e5),
                    end_date: new Date(),
                    keyword: '',
                    action: ''
                },
                submitData: {
                    start_date: '',
                    end_date: '',
                    keyword: '',
                    action: ''
                },
                disabledDates: {
                    from: new Date()
                },
                dateFormat: 'MMM dd, yyyy',
                noRecordFound : false,
                errorMessage : '',
            }
        },
        methods: {
            validateBeforeSubmit() {
                let self = this;
                let result = true;
                if (moment(this.formData.start_date).format('YYYY-MM-DD') > moment(this.formData.end_date).format('YYYY-MM-DD')) {
                    self.errorMessage = 'Start date should not be less than end date';

                    setTimeout(function(){
                        self.errorMessage = '';
                        self.errorBag.clear();
                    },3000);

                    result = false;
                    return;
                }else{
                    result = true;
                }

                if (result) {
                    self.submitData = {
                        start_date: moment(this.formData.start_date).format('YYYY-MM-DD'),
                        end_date: moment(this.formData.end_date).format('YYYY-MM-DD'),
                        keyword: self.formData.keyword,
                        action: self.formData.action
                    };
                }
            },

            onEmployeeDetailsPopup(data) {
                let self = this;
                this.userId = data;
                this.popupType = "employee";
                this.employeeDetailsPopup = true;
            },
            getRecordFound(value) {
                this.noRecordFound = value;
            },
            closeAllPopup(){
                this.employeeDetailsPopup = false;
            },
            getActionsList() {
                let self = this;
                let actionsUrl = "api/system-log/action-list";
                self.$http.get(actionsUrl).then(response=>{
                    response = response.data.data;
                    self.actions = response;
                }).catch(error=>{
                });
            },

            getResponse(response) {
           
                this.dataProvider = [];
                this.dataProvider = response.data;
    
                AmCharts.makeChart("system-log", {
                    "type": "serial",
                    "categoryField": "created_date",
                    "pathToImages": "https://www.amcharts.com/lib/3/images/",
                    "dataDateFormat": "YYYY-MM-DD",
                    "colors": [
                    "#CF8D2E",
                    "#ff7217",
                    "#B0DE09",
                    "#0D8ECF",
                    "#2A0CD0",
                    "#CD0D74",
                    "#CC0000",
                    "#00CC00",
                    "#0000CC",
                    "#DDDDDD",
                    "#999999",
                    "#333333",
                    "#990000"
                    ],
                    "color": "#1A1A1A",
                    "fontFamily": "Roboto-Regular",
                    "theme": "default",
                    "autoMargins": false,
                    "marginBottom": 25,
                    "marginTop": 6,
                    "marginLeft": 60,
                    "marginRight": 4,
                    "startDuration": 1,
                    "categoryAxis": {
                        "gridPosition": "start",
                        "parseDates": true,
                        "gridColor": "#F5F5F5"
                    },
                    "chartCursor": {
                        "enabled": true,
                        "categoryBalloonDateFormat": "MMM YYYY"
                    },
                    "chartScrollbar": {
                        "enabled": false,
                        "backgroundColor": "#D9D9D9",
                        "graphFillColor": "#D9D9D9",
                        "graphLineColor": "#D9D9D9",
                        "selectedBackgroundColor": "#F5F5F5"
                    },
                    "trendLines": [],
                    "graphs": [{
                        "fillAlphas":1,
                        "id": "AmGraph-1",
                        "title": "Total actions",
                        "type": "column",
                        "valueField": "items",
                        "balloonText": "[[title]]: [[value]]"
                    }],
                    "guides": [],
                    "valueAxes": [{
                        "id": "ValueAxis-1",
                        "title": "Total Actions"
                    }],
                    "allLabels": [],
                    "balloon": {
                        "horizontalPadding": 6,
                        "offsetX": 5,
                        "verticalPadding": 6,
                        "fillAlphas": 1,
                    },
                    "titles": [{
                        "id": "Title-1",
                        "size": 15,
                        "text": ""
                    }],
                    "dataProvider": this.dataProvider,
                    "listeners": [
                    {
                        "event": "zoomed",
                        "method": function(e) {
                           this.formData.start_date = moment(e.startDate).format('YYYY-MM-DD');
                           this.formData.end_date = moment(e.endDate).format('YYYY-MM-DD');
                           this.validateBeforeSubmit();
                        }.bind(this)
                    },
                    {
                        "event": "clickGraphItem",
                        "method": function(e) {
                           this.formData.start_date = moment(e.item.dataContext.created_date).format('YYYY-MM-DD');
                           this.formData.end_date = moment(e.item.dataContext.created_date).format('YYYY-MM-DD');
                           this.validateBeforeSubmit();
                        }.bind(this)
                    }
                    ]
                });
            },
        },
        mounted() {
            this.getActionsList();
            this.validateBeforeSubmit();
        },
        computed: {
            getGraphData() {
                if(this.submitData.start_date && this.submitData.end_date){
                    return this.requestGraphUrl + '?from=' + moment(this.submitData.start_date).format('YYYY-MM-DD') + '&to=' + moment(this.submitData.end_date).format('YYYY-MM-DD') + '&keyword=' + this.submitData.keyword + '&action=' + this.submitData.action;
                }
            },
            updatePopupThemeValue() {
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            },

        },
    }
</script>
