<template>
    <div>
        <div class="table table-lite top-left-radius" v-if="!noRecordFound">
            <table class="table mb-0">
                <thead class="bg-light">
                    <tr class="thead-with-icon">

                        <th
                        @click="sortBy('case_number')"
                        scope="col"
                        style="width: 130px;">
                        Case Number
                        <i :class="['icon-sort', isCaseNumberSort? 'rotate-ico': '']"></i>
                    </th>

                    <th
                    scope="col"
                    style="width: 116px;">
                    Action Type
                </th>

                <th
                scope="col"
                style="width: 126px;">
                Action Details
            </th>

            <th
            scope="col"
            style="width: 126px;">
            User
        </th>

        <th
        @click="sortBy('when')"
        scope="col"
        style="width: 116px;">
        When
        <i :class="['icon-sort', isWhenSort? 'rotate-ico': '']"></i>
    </th>

</tr>
</thead>
<tbody>
    <tr v-for="(record, index) in records"
    :key="index">
    <td class="text-center case-num-colmn">
        <span v-if="record.case_id">
            <router-link
            :to="'/conduct-incidents/case-details/'+record.case_id"
            role="button">
            {{ 'Case # ' + record.case_number }}
        </router-link>
    </span>
    <span v-else>
        --
    </span>
</td>
<td>{{ record.action_type }}</td>
<td>{{ record.action_details }}</td>
<td>
    <a href="javascript:;"
    @click="$emit('student-details-popup', record.user, 'profile_details')"
    role="button">
    {{ record.user | fullName }}
</a>
</td>
<td>{{ record.created_at.date | fullDateTime }}</td>
</tr>
</tbody>
</table>

</div>

<common-methods
@get-response="getResponse"
:url="requestUrl"
:infiniteLoad="false"
:hideLoader="true"
:showLoadMore="false"
:paginationText="'Log'"
:hidePagination="!records.length"
>
</common-methods>

</div>
</template>

<script>
    export default{
        props: ['filterBy'],
        data() {
            return{
                url: 'api/system-log?pagination=true',
                ascending: 'ascending',
                records: [],
                listing: [],
                from: moment(new Date(Date.now() - 12096e5)).format('YYYY-MM-DD'),
                to: moment(new Date()).format('YYYY-MM-DD'),
                isCaseNumberSort: false,
                isActionSort: false,
                isWhenSort: false,
                noRecordFound : false,
            }
        },
        methods: {
            sortIcon(case_number = false, action = false, when = false) {
                this.isCaseNumberSort = case_number;
                this.isActionSort = action;
                this.isWhenSort = when;
            },
            sortBy(sortKey) {
                switch(sortKey) {
                    case "case_number":
                    this.url = this.url + '&sort_by=case_number';
                    this.sortIcon(!this.isCaseNumberSort);
                    break;  
                    case "action":
                    this.url = this.url + '&sort_by=action'; 
                    this.sortIcon(false, !this.isActionSort, false, false, false);
                    break;  
                    case "when":
                    this.url = this.url + '&sort_by=when';
                    this.sortIcon(false, false, !this.isWhenSort, false, false);
                    break;  
                    default:
                    return;
                }
                if(this.ascending == 'asc'){
                    this.ascending = 'desc';
                    this.url = this.url + '&sort_order='+this.ascending;
                }
                else{
                    this.ascending = 'asc';
                    this.url = this.url + '&sort_order='+this.ascending;
                }
            },
            getResponse(response) {
                let self = this;
                self.listing = [];
                if(Object.keys(response.data).length || response.noRecordFound){
                    var recordsValue = response.data;
                    self.listing = recordsValue;
                    this.noRecordFound = response.noRecordFound;
                    self.$emit('record-found', response.noRecordFound);
                }
            }
        },
        mounted(){
            this.records = this.listing;
        },
        computed: {
            requestUrl(){
                if(this.filterBy.start_date && this.filterBy.end_date){

                    let newStartDate = this.filterBy.start_date;
                    let newEndDate = this.filterBy.end_date;

                    return this.url + '&from='+newStartDate+'&to='+newEndDate+'&keyword='+this.filterBy.keyword+'&action='+this.filterBy.action;
                }
            }
        },
        watch: {
            filterBy(val) {
            },
            listing(val) {
                this.listing = val;
                this.records = val;
            },
        }
    }
</script>
