<template>

    <div class="chart-container">

        <no-record-found v-if="noRecordFound"></no-record-found>

        <div v-show="showChart" id="incident-report" class="chartAlignment" style="width: 100%; height: 355px;">
        </div>

        <common-methods 
        :showLoadMore="false"
        :url="requestUrl"
        :hidePagination="true"

        @get-response="getResponse"

        ></common-methods>


    </div>


</template>

<script>
    import {mapGetters} from "vuex";

    export default{
        props : [
        'url',
        'start_date',
        'end_date',
        ],
        data(){
            return {
                noRecordFound : false,
                dataProvider : [],
                graphValues : [],
                graphKeys : [],
                showChart : false,
            }
        },
        mounted (){

        },
        methods : {
            getResponse(response){
                this.graphKeys = [];
                this.dataProvider = [];
                this.noRecordFound = false;
                if(Object.keys(response.data).length  && response.data.data){
                    this.dataProvider = response.data.data;
                    this.graphKeys = response.data.keys;
                    this.generateGraphValues();
                }

                if(Object.keys(response.data).length  && response.noRecordFound && (!response.data.data || (response.data.data && !Object.keys(response.data.data).length))){
                    this.noRecordFound = response.noRecordFound;
                }

            },
            generateGraphValues(){
                this.graphValues = [];

                for (var i = 0; i < this.graphKeys.length; i++) {

                    var graphObject = {
                        "balloonText": "[[title]] incidents<br>in [[category]]: <b>[[value]]</b>",
                        "fillAlphas": 1,
                        "lineAlpha": 0,
                        "labelText": "[[value]]",
                        "title": this.graphKeys[i],
                        'color' : this.colorCodes[i],
                        "type": "column",
                        "valueField": this.graphKeys[i]
                    };
                    this.graphValues.push(graphObject);

                }


                this.initializeChart();
            },
            initializeChart(){
                let self = this;
                let chartData = this.dataProvider;

                for (var i = 0 ; i < chartData.length; i++) {
                    chartData[i].year = this.monthNames[chartData[i].created_date] ? this.monthNames[chartData[i].created_date].toString() : chartData[i].created_date.toString();
                    this.showChart = true;
                    delete chartData[i].created_date;
                
                }

                var chart = {

                    "type": "serial",
                    "categoryField": "year",
                    "dataProvider": chartData,
                    "colors": this.colorCodes,
                    "valueAxes": [
                    {
                        "id": "ValueAxis-1",
                        "stackType": "regular",
                        "title": "",
                        "titleBold": false
                    }
                    ],                    
                    "guides": [],
                    "balloon": {
                        "borderAlpha": 0,
                        "color": "#1A1A1A",
                        "fillAlpha": 1,
                        "fontSize":14
                    },
                    "graphs": this.graphValues,
                    "fontFamily": "Roboto-Regular",
                    "marginTop": -14,
                    "categoryAxis": {
                        "gridPosition": "start",
                        "axisAlpha": 0,
                        "gridAlpha": 0,
                        "position": "left"
                    },
                    "export": {
                        "enabled": true
                    }


                };

                AmCharts.makeChart("incident-report", chart);

            }
        },
        computed : {
            requestUrl(){
                if(this.start_date && this.end_date){
                    this.dataProvider = [];
                    this.graphValues = [];
                    this.graphKeys = [];
                    this.showChart = false;

                    let newStartDate = this.start_date;  
                    let newEndDate = this.end_date;  
                    
                    return this.url+ '&start_date='+newStartDate+'&end_date='+newEndDate;
                }
            },
            ...mapGetters('reports', {
                colorCodes: "getColors",
            }),

            ...mapGetters('reports', {
                monthNames: "getMonthNames",
            }),
        },
        watch : {
            start_date(value){
            },
            end_date(value){
            }
        },

    }
</script>