<template>


	<div class="case-body">

		<no-record-found v-if="noRecordFound"></no-record-found>

		<div v-show="showChart" class="piechart-container">
			<div id="reportByOtherField" style="width: 100%; height: 350px;"></div>
		</div>
	</div>


</template>


<script>
	import {mapGetters} from "vuex";

	export default{
		props : [
		'records',
		'noRecordFound'
        ],
        data(){
            return {
                showChart : false
            }
        },
        computed:{
            ...mapGetters('reports', {
                colorCodes: "getColors",
            }),

        },
        methods :{
            initializeChart(){
                let dataProvider = JSON.parse(JSON.stringify(this.records));

                for (var i = dataProvider.length - 1; i >= 0; i--) {
                    dataProvider[i].color = this.colorCodes[i];
                    dataProvider[i].name = dataProvider[i].name.substring(0,50) + (dataProvider[i].name.length > 51 ? '...' : '');
                    this.showChart = true;
                }

                AmCharts.makeChart("reportByOtherField",
                {
                    "type": "serial",
                    "categoryField": "name",
                    "rotate": true,
                    "colors": [
                    "#8fd1e1",
                    "#c0da6c",
                    "#e49977",
                    "#afe5f9",
                    "#c56fc8",
                    "#e2b666",
                    "#a4c1c4",
                    "#c8baab",
                    "#d7ce64",
                    "#a6b3f4"
                    ],
                    "startDuration": 1,
                    "color": "#1A1A1A",
                    "fontFamily": "Roboto-Regular",
                    "fontSize": 14,
                    "categoryAxis": {
                        "gridPosition": "start",
                        "autoWrap": true,
                    },
                    "trendLines": [],
                    "graphs": [
                    {
                        "accessibleLabel": "[[name]]: [[value]]",
                        "balloonText": "[[name]]: [[value]]",
                        "fillAlphas": 1,
                        "lineColorField": "color",
                        "fillColorsField": "color",
                        "id": "AmGraph-1",
                        "title": "graph 1",
                        "type": "column",
                        "valueField": "total_value"
                    }
                    ],
                    "guides": [],
                    "valueAxes": [
                    {
                        "id": "ValueAxis-1",
                        "title": "",
                        'integersOnly':true

                    }
                    ],
                    "allLabels": [],
                    "balloon": {
                        "borderAlpha": 0,
                        "color": "#1A1A1A",
                        "fillAlpha": 1,
                        "fontSize":14
                    },
                    "titles": [
                    {
                        "bold": false,
                        "id": "Title-1",
                        "size": 0,
                        "text": ""
                    }
                    ],
                    "dataProvider": dataProvider
                });
            }

        },
        watch: {
            records(value){
                this.showChart = false;
                this.initializeChart();
            }
        }

    }
</script>