<template>

    <div class="highlight_box">

        <h4>{{ widgetType | overAllStatsKeyValue }}</h4>

        <div v-if="!loading">
            <h2 >{{ record.total_value ? record.total_value : 0 }}</h2>
            <p>
                <span v-if="compare"> vs </span>
                <span v-if="compare">{{ record.previous_total_value ? record.previous_total_value : 0 }}</span>
                <span v-if="compare">{{ record  | calculatePercentageDiff }}</span>
            </p>
        </div>

        <common-methods 
            :url="requestUrl" 
            @get-response="getResponse"
            :hideLoader="true"
        ></common-methods>

        <common-methods 
            
            :url="requestUrl" 
            @get-response="getResponse" 
        ></common-methods>
    </div>


</template>

<script>
    export default{
        data(){
            return {
                record : {},
                loading: false,
            }
        },
        props : [
        'url',
        'start_date',
        'end_date',
        'widgetType',
        'compare'
        ],
        computed : {
            requestUrl(){
                if(this.start_date && this.end_date){
                    this.loading = true;
                    let newStartDate = this.start_date;  
                    let newEndDate = this.end_date;  
                    return this.url+ '&start_date='+newStartDate+'&end_date='+newEndDate+'&compare='+this.compare;
                }
            }
        },
        methods : {
            getResponse(response){
                let self = this;
                if(Object.keys(response.data).length || response.noRecordFound){
                    this.record = response.data;
                    setTimeout(function() {
                        self.loading = false;
                    },1200);
                }
            }
        },
        watch : {
            start_date(value){

            },
            end_date(value){

            },
            compare(value){
                
            }
        }
    }
</script>