<template>

    <div class="piechart-container">

        <no-record-found style="width: 100%; height: 350px;" v-if="noRecordFound"></no-record-found>

        <div v-show="showChart" :id="chartId" style="width: 100%; height: 350px;"></div>

        <common-methods 
        :url="requestUrl" 
        @get-response="getResponse"
        ></common-methods>


    </div>


</template>

<script>

let tableWidgetKey = {
    'student_involved' : 'Students',
    'employee_involved' : 'Employees',
    'anonymous_involved' : 'Anonymous'
};

import {mapGetters} from "vuex";

export default{
    props : [
    'url',
    'start_date',
    'end_date',
    'chartType',
    'chartId'
    ],
    data(){
        return {
            items : [],
            noRecordFound : false,
            showChart :  false,
        }
    },
    mounted (){

    },
    computed : {
        ...mapGetters('reports', {
            colorCodes: "getColors",
        }),

        requestUrl(){
            if(this.start_date && this.end_date && this.url && this.chartType){
                this.showChart = false;
                this.noRecordFound = false;
                    let newStartDate = this.start_date;  
                    let newEndDate = this.end_date;  
                return this.url+ '&start_date='+newStartDate+'&end_date='+newEndDate+'&chart_type='+this.chartType;
            }
        }
    },
    watch : {
        start_date(value){
        },
        end_date(value){
        }
    },
    mounted (){
        this.initializeChart();
    },
    methods : {
        getResponse(response){
            if(Object.keys(response.data).length || response.noRecordFound){
                this.items = response.data;

                this.noRecordFound = response.noRecordFound;
                this.initializeChart()

            }
        },
        initializeChart(){
            let chartData = this.items;

            for (var i = chartData.length - 1; i >= 0; i--) {
                chartData[i].color = this.colorCodes[i];
                this.showChart = true;
                chartData[i].name = tableWidgetKey[chartData[i].name] ? tableWidgetKey[chartData[i].name] : chartData[i].name; 

            }


            AmCharts.makeChart(this.chartId,
            {
                "type": "pie",
                "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                "colors": [
                "#8FD0E1",
                "#C0DA6D",
                "#A5B3F4",
                "#C570C8",
                "#E2B566",
                "#C8BAAC",
                "#F9CFF2",
                "#DAE0F2",
                "#C4E4A4",
                "#E7E7CB",
                "#CFB693",
                "#F0F3BD",
                "#EFC7C2",
                "#FFB4A2",
                "#B8BEDD",
                "#FFCAD4",
                "#D8E2DC", 
                "#9CAFB7",
                "#CDEAC0",
                "#EDEEC9", 
                "#FFA5AB",
                "#D7B9D5", 
                "#C4FFF9", 
                "#BFD8BD",
                "#BAF2BF",
                "#EFC3E6",
                "#94D0C7",
                "#FF9999",
                "#7AE7C7",
                "#E5B25D",
                "#CACAAA",
                "#F3B3A6",
                "#e49977",
                "#c56fc8",
                "#afe5f9",
                "#38618C",
                ],
                "labelsEnabled": false,
                "autoMargins": false,
                "marginBottom": 0,
                "marginTop": 0,
                "marginLeft": 0,
                "marginRight": 0,
                "pullOutRadius": 0,
                "marginBottom": 0,
                "marginTop": 0,
                "titleField": "name",
                "valueField": "total_value",
                "color": "#1A1A1A",
                "fontFamily": "Roboto-Regular",
                "fontSize": 14,
                "allLabels": [],
                "balloon": {
                    "borderAlpha": 0,
                    "color": "#1A1A1A",
                    "fillAlpha": 1,
                    "fontSize":14
                },
                "titles": [],
                "dataProvider": chartData
            }
            );

        }
    }
}
</script>