<template>

    <div class="caseTableBlock">

 
    <div class="table table-lite top-left-radius pl-thead-0 incidentReportTable case-incident-report-tbl">


            <no-record-found v-if="noRecordFound"></no-record-found>

            <table v-if="!noRecordFound" class="table mb-0 ">
                <thead class="bg-light case-thead-widget">
                    <tr class="thead-with-icon">
                        <th
                            scope="col">
                            {{ widget_title.columnTitle }}
                        </th>

                        <th
                            scope="col">
                            {{ widget_title.valueTitle }}
                        </th>

                    </tr>
            </thead>
        <tbody class="case-tbody-widget">
            <tr v-for="(item, index) in items"
            :key="index">
            <td class="color-pallet"  v-if="item.total_value > 0">
                <div class="color-ico-pallet"
                    v-bind:style="{'background-color' : ''+ colorCodes[index] +''}">
                </div>
                <span> {{ item.name | tableWidgetKeyValue }} </span>
            </td>
            <td v-if="item.total_value > 0">
                <span>{{ item.total_value }}</span>
                <span v-if="compare"> vs </span>
                <span v-if="compare">{{ item.previous_total_value ? item.previous_total_value : 0 }}</span>
                <span v-if="compare">{{ item | calculatePercentageDiff }}</span>
            </td>
        </tr>

    </tbody>
</table>

</div>

<a v-if="pagination && pagination.total > 6" href="javascript:void(0);"
    class="view_all text-center"
    @click="showModal = true;">
    View all
</a>




<common-methods
:url="requestUrl"
@get-response="getResponse"
:showLoadMore="false"
:hidePagination="true"
>
</common-methods>

<view-report-listing-popup
:url="requestUrl"
:showModalProp="showModal"
@hide-modal-value="showModal = false;"
:records="items"
:popupTitle="widget_title"
:compare="compare"
>
</view-report-listing-popup>


</div>



</template>

<script>
    import {mapGetters} from "vuex";

    export default{
        
        mounted (){
        },

        props : [
        'records',
        'start_date',
        'end_date',
        'url',
        'group_by',
        'widget_title',
        'noRecordFoundValue',
        'compare'
        ],

        computed : {
            requestUrl(){
                if(this.start_date && this.end_date && this.url){

                    let newStartDate = this.start_date;  
                    let newEndDate = this.end_date;  

                    let groupBy = this.group_by;

                    return this.url+ '&start_date='+newStartDate+'&end_date='+newEndDate+'&compare='+this.compare+'&group_by='+groupBy;
                }
            },

            ...mapGetters('reports', {
                colorCodes: "getColors",
            }),

        },
        methods : {
            getResponse(response){
                this.items = response.data;
                this.noRecordFound = response.noRecordFound;
                this.pagination = response.pagination;
            }
        },
        watch : {
            widget_title() {
            
            },

            url(value){
                this.items = []
            },

            records(value){
                this.items = value;
            },

            noRecordFoundValue(value){
                this.noRecordFound = value;
            },

            compare(value){
                
            }

        },
        data(){
            return {
                showModal : false,
                items : [],
                noRecordFound : false,
                pagination : ''
            }
        }
    }
</script>