<template>
    <div class="reporting-container">
        <div class="reporting-section">
            <div class="row">
                <div class="col-md-12 panel-main-heading">
                    <h3>Student Conduct Incident Reporting Form</h3>
                    <d-button @click="caseView">Go Back</d-button>
                </div>
                <d-form @submit="incidentReport">
                    <div class="col-md-12">
                        <div class="report-panel">
                            <div class="report-panel-heading">
                                <h4>Involved Parties</h4>
                            </div>
                            <div class="report-panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                       <d-alert theme="success" hide>Alert - Success Theme Example Link</d-alert>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label>Individual or Organization</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <d-form-radio inline name="individual_organizer" value="individual">Individual</d-form-radio>
                                                </div>
                                                <div class="col-md-6">
                                                    <d-form-radio inline name="individual_organizer" value="organization">Organization</d-form-radio>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <d-input id="position_title" placeholder="Enter involved part name" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group selectBox">
                                        <label>Role</label>
                                        <i class="icon-keyboard_arrow_down3"></i>
                                        <d-form-select v-model="selected_role">
                                            <option :value="incident">Choose role in incident</option>
                                            <option :value="accused">Accused</option>
                                            <option :value="staff">Staff</option>
                                            <option :value="victim">Victim</option>
                                            <option :value="witness">Witness</option>
                                            <option :value="compliant">Compliant</option>
                                            <option :value="respondent">Respondent/Offender</option>
                                        </d-form-select>
                                    </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label>University ID Number</label>
                                            <d-input id="university_id" class="number-field" type="number" placeholder="Enter university id number (optional)" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <d-input class="number-field" type="number" id="phone_no" placeholder="Enter phone number (optional)" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <label>Email Address</label>
                                            <d-input id="email_address" v-model="form.email" placeholder="Enter email address (optional)" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <hr />
                                    </div>
                                    <div class="col-md-12">
                                        <a href="javascript:void(0);" class="btn btn-link">+ Add another
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-12">
                    <div class="report-panel">
                        <div class="report-panel-heading">
                            <h4>Incident Information</h4>
                        </div>
                        <div class="report-panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                   <d-alert theme="success" hide>Alert - Success Theme Example Link</d-alert>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group selectBox">
                                        <label>Incident Type</label>
                                        <i class="icon-keyboard_arrow_down3"></i>
                                        <d-form-select v-model="selected_role">
                                            <option :value="incident">Choose incident type</option>
                                            <option value="2">Academic Integrity</option>
                                            <option value="3">Alleged Violation</option>
                                            <option value="4">Behavioral Intervention</option>
                                            <option value="5">Campus Safety</option>
                                            <option value="6">Duty Round</option>
                                            <option value="7">Alcohol</option>
                                            <option value="8">Drugs</option>
                                            <option value="9">Violence</option>
                                            <option value="10">Sexual Misconduct</option>
                                            <option value="11">Behaviorial Concern</option>
                                            <option value="12">FYI/Informational</option>
                                            <option value="13">Incident Report</option>
                                            <option value="14">Police Report</option>
                                            <option value="15">Academic Affairs Concern</option>
                                            <option value="16">Title IX</option>
                                            <option value="17">NAC Review Request</option>
                                            <option value="18">Off Campus</option>
                                            <option value="19">Noise violation</option>
                                            <option value="20">Tobacco Violation</option>
                                        </d-form-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4"></div>
                                <div class="col-xs-12 col-sm-4"></div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group selectBox">
                                        <label>Date of incident</label>
                                        <i class="icon-calendar"></i>
                                        <d-datepicker class="with-icon datepicker-icon" v-model="form.date" placeholder="MM / DD / YYYY" :format="dateFormat" typeable />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group selectBox">
                                        <label>Time of incident</label>
                                        <i class="icon-clock"></i>
                                        <vue-timepicker name="schedule_end_time" class="with-icon datepicker-icon form-control" v-model="form.time" format="HH:mm" placeholder="End Time"></vue-timepicker>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4"></div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group selectBox">
                                        <label>Location of incident</label>
                                        <i class="icon-keyboard_arrow_down3"></i>
                                        <selectize 
                                        v-model="selectedIncident" 
                                        :settings="settings" 
                                        class="selectize-control"
                                    > 
                                        <option :value="1">Please select a location</option>
                                        <option :value="2">On Campus</option>
                                        <option :value="3">Off Campus</option>
                                        <option :value="4">Residence Hall</option>
                                        <option :value="5">Hall Room 1</option>
                                        <option :value="6">Hall Room 2</option>
                                        <option :value="7">Hall Room 3</option>
                                        <option :value="8">Front Hall Desk</option>
                                        <option :value="9">Residence Hall Parking Lot</option>
                                        <option :value="10">Dining Area</option>
                                        <option :value="11">Outdoor Dining Area</option>
                                        <option :value="12">Kitchen</option>
                                        <option :value="13">Food Line</option>
                                        <option :value="14">Cafeteria Bathroom</option>
                                        <option :value="15">VP Office</option>
                                        <option :value="16">Admission Office</option>
                                        <option :value="17">Bathroom</option>
                                        <option :value="18">Classroom A</option>
                                        <option :value="19">Faculty Office</option>
                                    </selectize>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group selectBox">
                                        <label>Specific Location</label>
                                        <i class="icon-keyboard_arrow_down3"></i>
                                        <selectize 
                                        v-model="specificLocation" 
                                        :settings="settings" 
                                        class="selectize-control"
                                    > 
                                        <option :value="1">Enter specific location (optional)</option>
                                        <option :value="2">On Campus</option>
                                        <option :value="3">Off Campus</option>
                                        <option :value="4">Residence Hall</option>
                                        <option :value="5">Hall Room 1</option>
                                        <option :value="6">Hall Room 2</option>
                                        <option :value="7">Hall Room 3</option>
                                        <option :value="8">Front Hall Desk</option>
                                        <option :value="9">Residence Hall Parking Lot</option>
                                        <option :value="10">Dining Area</option>
                                        <option :value="11">Outdoor Dining Area</option>
                                        <option :value="12">Kitchen</option>
                                        <option :value="13">Food Line</option>
                                        <option :value="14">Cafeteria Bathroom</option>
                                        <option :value="15">VP Office</option>
                                        <option :value="16">Admission Office</option>
                                        <option :value="17">Bathroom</option>
                                        <option :value="18">Classroom A</option>
                                        <option :value="19">Faculty Office</option>
                                    </selectize>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4"></div>
                                <div class="col-md-12">
                                    <hr />
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="form-group">
                                        <label class="checkbox-heading">Please indicate if any of the following were involved in this incident:</label>
                                        <d-checkbox
                                            v-model="selected"
                                            name="select_type"
                                            value="lcohol">
                                            Alcohol
                                        </d-checkbox>
                                        <d-checkbox
                                            v-model="selected"
                                            name="select_type"
                                            value="drugs">
                                            Drugs
                                        </d-checkbox>
                                        <d-checkbox
                                            v-model="selected"
                                            name="select_type"
                                            value="weapons">
                                            Weapons
                                        </d-checkbox>
                                        <d-checkbox
                                            v-model="selected"
                                            name="select_type"
                                            value="assault">
                                            Physical assault/violence
                                        </d-checkbox>
                                        <d-checkbox
                                            v-model="selected"
                                            name="select_type"
                                            value="misconduct">
                                            Sexual misconduct
                                        </d-checkbox>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="form-group">
                                        <label class="checkbox-heading">Please indicate if you called for assistance from any of the following or any of the following services were on scene:</label>
                                        <d-checkbox
                                            v-model="selected"
                                            name="select_type"
                                            value="security">
                                            Campus Security &amp; University Police
                                        </d-checkbox>
                                        <d-checkbox
                                            v-model="selected"
                                            name="select_type"
                                            value="rescue">
                                            Fire Rescue
                                        </d-checkbox>
                                        <d-checkbox
                                            v-model="selected"
                                            name="select_type"
                                            value="violence">
                                            Physical assault/violence
                                        </d-checkbox>
                                        <d-checkbox
                                            v-model="selected"
                                            name="select_type"
                                            value="elon">
                                            Elon AOC (Administrator on Call)
                                        </d-checkbox>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group selectBox">
                                                <label>Custom Field</label>
                                                <i class="icon-keyboard_arrow_down3"></i>
                                                <d-form-select v-model="selected_role">
                                                    <option :value="incident">Choose custom field value</option>
                                                    <option :value="morning"> Morning (6am - 11am)</option>
                                                    <option :value="afternoon">Afternoon (12pm - 5pm)</option>
                                                    <option :value="evening"> Evening (6pm - 9pm)</option>
                                                    <option :value="night">Night time (9pm - midnight)</option>
                                                    <option :value="hours">After hours (midnight - 5am)</option>
                                                </d-form-select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label>Another Custom Field</label>
                                                <d-input v-model="inputValue" placeholder="Enter another custom field value" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12"><hr /></div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Incident Details</label>
                                            <d-form-textarea v-model="text"
                                                placeholder="Enter something"
                                                :rows="3"
                                                :max-rows="6">
                                            </d-form-textarea>
                                            <p class="report-content">
                                                Please provide a detailed description of the incident/concern using specific, concise and objective language (Who, what, when, where, and how).
                                                Each individual listed as "involved" should appear in your incident description.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="report-panel">
                            <div class="report-panel-heading">
                                <h4>Supporting Documentation</h4>
                            </div>
                            <div class="report-panel-body">
                                <label>Please upload any supporting documentation that may provide additional context to the incident report (pictures, text messages, emails, etc.).</label>
                                    <div class="row">
                                        <div class="col-md-12">
                                           <d-alert theme="success" hide>Alert - Success Theme Example Link</d-alert>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="file_upload_block">
                                                <h4>Click here or drag &amp; drop file here to upload</h4>
                                                <p>Support file format are JPG, PNG, BMP, MP3, MP4, DOCX, XLS, PPT and PDF</p>
                                                <input type="file" name="upload_file"/>
                                            </div>
                                        </div>
                                        <div class="col-md-12"><hr /></div>
                                        <div class="col-md-12">
                                            <d-btn theme="primary" size="lg">
                                                <span>Submit Report</span>
                                                <c-loader></c-loader>
                                            </d-btn>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </d-form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueTimepicker from 'vue2-timepicker';
    import Selectize from 'vue2-selectize';
export default {
    components: { VueTimepicker, Selectize },
  data () {
    return {
        dateFormat: 'MMM dd yyyy',
        selectedIncident:'1',
        specificLocation:'1',
        form: {
            email: '',
            date: '',
            time: '',
        }
    }
  },
  methods: {
      caseView(){
          this.$router.push({ name: 'student-portal-list-view' });
      },
      incidentReport(e){
          e.preventDefault();
          this.$emit('submit-incident');
      },
  }
}
</script>
