<template>
    <div class="main-wrapper reporting-form-max-width">
        <student-incident-report
        v-if="newCase === 'report'"
        @submit-incident="newCase = 'reportSubmit'">
        </student-incident-report>
        <student-report-submission
        v-if="newCase === 'reportSubmit'"
        @new-report="newCase = 'report'">
        </student-report-submission>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                newCase: 'report',
        }
    },
    methods:{

    }
}
</script>
