<template>
    <div>
        <!-- top section -->
        <div class="config-top">
            <div class="float-left filter-left">
                <h3>Buildings</h3>
            </div>
            <div class="float-right">
                <div class="filter-tabs itypes-filter-btns">
                    <div class="btn-group mob-btn-group" data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="radio" checked="" autocomplete="off" name="filters" value="active">Active
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" autocomplete="off" name="filters" value="archived"> Archived
                        </label>
                    </div>
                </div>
                <d-button
                    theme="secondary add-itype-btn"
                    @click="$emit('add-building-popup')">
                    + Add Buildings
                </d-button>
            </div>
        </div>
        <!-- LIsting -->
        <div class="table table-lite top-left-radius pl-thead-0">
            <table class="table mb-0 ">
                <thead class="bg-light">
                    <tr class="thead-with-icon">
                        <th
                            v-for="(listingHead, index) in listingHeads"
                            scope="col"
                            :key="index"
                            :class="{ 'text-center': index === 0 }" >
                            {{ listingHead.title }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="(list, index) in listing"
                        :key="index">
                        <td class="case-num-colmn text-center" width="130">
                            {{ list.id }}
                        </td>
                        <td>{{ list.building }}</td>
                        <td class="icon-actions-config" width="260">
                            <a
                                href="javascript:void(0);"
                                role="button"
                                @click="$emit('add-building-popup')">
                                <i class="icon-edit"></i>
                                <span>Modify</span>
                            </a>
                            <a href="javascript:void(0);" role="button">
                                <i class="icon-archive"></i>
                                <span>Archive</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 text-center">
            <d-button theme="primary add-itype-btn">
                <c-loader></c-loader>
                <span>Load More</span>
            </d-button>
        </div>
    </div>
</template>

<script>
export default{
    data() {
        return{
            listingHeads: [
                { title: 'ID'},
                { title: 'Building' },
                { title: 'Action' }
            ],
            listing: [
                {
                    id:'001',
                    building:"Bolden",
                },
                {
                    id:'002',
                    building:"Edgren",
                },
                {
                    id:'003',
                    building:"Getsch",
                },
                {
                    id:'004',
                    building:"Hertiage",
                },
                {
                    id:'005',
                    building:"Hoobier",
                },
                {
                    id:'006',
                    building:"England Hall",
                },
                {
                    id:'007',
                    building:"Miller-Kamm North",
                },
                {
                    id:'008',
                    building:"Adminstration Building/Grady Clack",
                },
                {
                    id:'009',
                    building:"Cafeteria",
                },
                {
                    id:'010',
                    building:"Student Union",
                },
                {
                    id:'011',
                    building:"Reynolds Building",
                },
                {
                    id:'012',
                    building:"Diesel Heavy Building 2",
                },
                {
                    id:'013',
                    building:"GOPO Hall",
                },
                {
                    id:'014',
                    building:"Library",
                },
                {
                    id:'015',
                    building:"Noble Center",
                },
            ]
        }
    },
}
</script>
