<template>
    <div>
        <!-- top section -->
        <div class="config-top">
            <div class="float-left filter-left">
                <h3>Workflows</h3>
            </div>
        </div>
        <div class="config-body workflows-wrapper">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div
                        class="workflows-types card modified-card"
                        v-for="(list, index) in listing"
                        :key="index">
                        <p class="workflow-title">{{list.title}}
                            <span>{{list.statesCount}}</span>
                        </p>
                        <i class="rt-arrow icon-keyboard_arrow_right"></i>
                    </div>
                </div>
                <!-- form -->
                <div class="col-xs-12 col-md-6">
                    <div class="card modified-card workflows-content-card">
                        <div class="card-header">
                            <h3>Conduct, Honor Code Workflow</h3>
                            <div class="workflow-code-row">
                                <div class="form-group">
                                    <d-input v-model="addNewStageVal" placeholder="Add new stage" />
                                </div>
                                <div class="form-group full-width-selectize">
                                    <selectize v-model="selectedvalue" :settings="settings" class="selectize-control">
                                        <option :value="1">Required Approval?</option>
                                        <option :value="2">Yes</option>
                                        <option :value="3">No</option>
                                    </selectize>
                                </div>
                            </div>
                            <div class="worflow-add">
                                <d-btn theme="secondary" @click="addRow(addNewStageVal)">
                                    <span><d-img src="images/plus.svg" /></span>
                                    <loader></loader>
                                </d-btn>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="case-detail">
                                <div class="case-detail-title">
                                    <h5>Pending</h5>
                                </div>
                                <ul>
                                    <draggable
                                        v-model="sectionImposed"
                                        class="dragArea"
                                        :options="{group:'people'}">

                                        <!-- add case stage row -->
                                        <li  v-for="(row, index) in rows"  :key="index">
                                            <i class="icon-change-status drag-icon"></i>
                                            {{row.stageTitle}}
                                            <div class="case-detail-icon">
                                                <i class="icon-edit"></i>
                                                <i class="icon-delete"></i>
                                            </div>
                                        </li>
                                        <!-- add case stage row end-->
                                        <li
                                            v-for="(lists, index) in dragLists"
                                            :key="index">
                                            <i class="icon-change-status drag-icon"></i>
                                                {{ lists.name }}
                                            <div class="case-detail-icon">
                                                <i class="icon-edit" @click="$emit('edit-workflow-popup')"></i>
                                                <a href="javascript:;" @click="$emit('delete-popup')"><i class="icon-delete"></i></a>
                                            </div>
                                        </li>
                                    </draggable>
                                </ul>
                                <d-btn theme="primary">
                                    <span>Update Workflow</span>
                                    <loader></loader>
                                </d-btn>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Selectize from 'vue2-selectize';
import draggable from 'vuedraggable';
export default{
    components: {
        Selectize,
        draggable,
    },
    data() {
        return{
            selectedvalue: 1,
            rows: [],
            listing: [
                {
                    title: "Conduct, Student Code",
                    statesCount: "6 Stages",
                },
                {
                    title: "Conduct, Honor Code",
                    statesCount: "7 Stages",
                },
                {
                    title: "Conduct, Wellness Concern",
                    statesCount: "6 Stages",
                },
                {
                    title: "Title IX, Sexual Misconduct",
                    statesCount: "8 Stages",
                }
            ],
            dragLists:[
                {
                    name: "New Case",
                },
                {
                    name: "Under Investigation",
                },
                {
                    name: "Witness Recorded",
                },
                {
                    name: "Sanctions Imposed",
                },
                {
                    name: "Sanctions Completed (Approval required)",
                },
                {
                    name: "In Appeal",
                },
            ],
        }
    },
    methods: {
        addRow(message) {
            this.rows.push({stageTitle:message});
        },
    }
}
</script>
