<template>
    <div>
        <!-- top section -->
        <div class="config-top">
            <div class="float-left filter-left">
                <h3>{{ $route.meta.title }}</h3>
            </div>
        </div>
        <!-- Import Data-->
        <div class="data-import-container">
            <div class="activities-section p-t-0">
                <div class="activitylist">
                    <ul class="convert-tabs convert-tabs-desktop bg-transparent" @click="dropDownEvent" role="tablist">
                        <li
                        v-for="(activity, index) in activityList"
                        role="presentation"
                        :key="index"
                        :class="{'disabled': disableTabs, 'active': activitySelected === activity.type }">
                        <a 
                        href="javascript:void(0);"
                        role="tab"
                        @click="activitySelected = activity.type;"
                        v-show="tabsOptions">
                        {{ activity.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="upload_area">
        <div
        v-if="activitySelected === 'studentImport'"
        class="record-list">
        <h4>Upload Student Records</h4>
        <a :href="studentTemplateUrl" class="download_data_temp"
        role="button" download>
        <i class="icon-export"></i>
        Download Data Template File
    </a>
    <div class="fileattachment">
        <d-form class="form-upload">
            <div class="file_upload_block">
                <h4>Click here or drag &amp; drop file here to upload</h4>
                <p>Support file format is CSV</p>
                <file-upload-component 
                :disabled="studentImports.length > 0"
                :size="20"
                :uploadKey="'data_import'" 
                :fileExtensions='fileExtensions' 
                :supportedType='supportedType' 
                :multiple='false'
                @get-response="getFileUploadResponse" 
                @errorMessage="getError" 
                @show-progress="showProgress"
                :class="[ loading ? 'disabled' : '', errorMessage ? 'disabled' : '',
                (studentImportProgress < 100 &  studentImportProgress > 0) ? 'disabled' :''] ">
            </file-upload-component>
        </div>
        <div class="document_item">
            <div class="items full">
                <div class="file-upload" v-if="studentImportProgress !=0 && studentImportProgress != 100">
                    <label>Uploading</label>
                    <div class="bararea">
                        <div v-bind:style="{ width: studentImportProgress + '%' }"
                        class="linebar">
                        </div>
                        <p>{{ studentImportProgress }}% completed</p>
                    </div>
                </div>
            </div>
            <div class="items full" v-for="(file,index) in studentImports">
                <div class="file-icon">
                    <img :src="file.original_name | attachmentIconUrl" />
                </div>
                <div class="file-title" v-if="studentImportProgress == 100">
                    <i class="icon-close-custom" v-if="studentFileDeleteDisable" @click.prevent="onDeleteFile(file, index)"></i>
                    <p>{{file.title}}</p>
                </div>
            </div>
        <div class="upload-items">
            <d-btn 
                @click.prevent="onSubmit" 
                :class="[loading  ? 'show-spinner' : '' , 'btn' , 'btn-primary' , 'apply-primary-color' ]"
            >
                <span>Schedule for processing</span>
                <c-loader></c-loader>
            </d-btn>
        </div>
    </div>
</d-form>
</div>
</div>
<div
v-if="activitySelected === 'scheduleImport'"
class="record-list">
<h4>Upload Class Records</h4>
<a :href="scheduleTemplateUrl" class="download_data_temp"
role="button" download>
<i class="icon-export"></i>
Download Data Template File
</a>
<div class="fileattachment">
    <d-form class="form-upload">
        <div class="file_upload_block">
            <h4>Click here or drag &amp; drop file here to upload</h4>
            <p>Support file format is CSV</p>
            <file-upload-component 
                :disabled="scheduleImports.length > 0"
                :size="20"
                :uploadKey="'data_import'" 
                :fileExtensions='fileExtensions' 
                :supportedType='supportedType' 
                :multiple='false'
                @get-response="getFileUploadResponse" 
                @errorMessage="getError" 
                @show-progress="showProgress"
                :class="[ loading ? 'disabled' : '', errorMessage ? 'disabled' : '',
                (scheduleImportProgress < 100 &  scheduleImportProgress > 0) ? 'disabled' :''] ">
            </file-upload-component>
        </div>
        <div class="document_item">
            <div class="items full">
                <div class="file-upload" v-if="studentImportProgress !=0 && studentImportProgress != 100">
                    <label>Uploading</label>
                    <div class="bararea">
                        <div v-bind:style="{ width: studentImportProgress + '%' }"
                        class="linebar">
                        </div>
                        <p>{{ studentImportProgress }}% completed</p>
                    </div>
                </div>
            </div>
            <div class="items full" v-for="(file,index) in scheduleImports">
                <div class="file-icon">
                    <img :src="file.original_name | attachmentIconUrl" />
                </div>
            <div class="file-title" v-if="scheduleImportProgress == 100">
                <i class="icon-close-custom" v-if="scheduleFileDeleteDisable" @click.prevent="onDeleteFile(file, index)"></i>
                <p>{{file.title}}</p>
            </div>
        </div>
        <div class="upload-items">
            <d-btn 
                @click.prevent="onSubmit" 
                :class="[loading  ? 'show-spinner' : '' , 'btn' , 'btn-primary' , 'apply-primary-color' ]"
            >
                <span>Schedule for processing</span>
                <c-loader></c-loader>
            </d-btn>
        </div>
    </div>
</d-form>
</div>
</div>
<div
v-if="activitySelected === 'employeeImport'"
class="record-list">
<h4>Upload Employee Records</h4>
<a 
:href="employeeTemplateUrl"
class="download_data_temp"
role="button" download>
<i class="icon-export"></i>
Download Data Template File
</a>
<div class="fileattachment">
    <d-form class="form-upload">
        <div class="file_upload_block">
            <h4>Click here or drag &amp; drop file here to upload</h4>
            <p>Support file format is CSV</p>
            <file-upload-component 
                :disabled="employeeImports.length > 0"
                :size="20"
                :uploadKey="'data_import'" 
                :fileExtensions='fileExtensions' 
                :supportedType='supportedType' 
                :multiple='false'
                @get-response="getFileUploadResponse" 
                @errorMessage="getError" 
                @show-progress="showProgress"
                :class="[ loading ? 'disabled' : '', errorMessage ? 'disabled' : '',
                (employeeImportProgress < 100 &  employeeImportProgress > 0) ? 'disabled' :''] ">
            </file-upload-component>
        </div>
        <div class="document_item">
            <div class="items full">
                <div class="file-upload" v-if="studentImportProgress !=0 && studentImportProgress != 100">
                    <label>Uploading</label>
                    <div class="bararea">
                        <div v-bind:style="{ width: studentImportProgress + '%' }"
                        class="linebar">
                        </div>
                        <p>{{ studentImportProgress }}% completed</p>
                    </div>
                </div>
            </div>
            <div class="items full" v-for="(file,index) in employeeImports">
                <div class="file-icon">
                    <img :src="file.original_name | attachmentIconUrl" />
                </div>
            <div class="file-title" v-if="employeeImportProgress == 100">
                <i class="icon-close-custom" v-if="employeeFileDeleteDisable" @click.prevent="onDeleteFile(file, index)"></i>
                <p>{{file.title}}</p>
            </div>
        </div>
        <div class="upload-items">
            <d-btn 
                @click.prevent="onSubmit" 
                :class="[loading  ? 'show-spinner' : '' , 'btn' , 'btn-primary' , 'apply-primary-color' ]"
            >
                <span>Schedule for processing</span>
                <c-loader></c-loader>
            </d-btn>
        </div>
    </div>
</d-form>
</div>
</div>
</div>
</div>
</div>
</template>
<script>
    export default {
        data() {
            return {
                studentTemplateUrl: '',
                scheduleTemplateUrl: '',
                employeeTemplateUrl: '',
                studentFileDeleteDisable: true,
                scheduleFileDeleteDisable: true,
                employeeFileDeleteDisable: true,
                disableTabs: false,
                url: 'api/data-import',
                studentImports: [],
                scheduleImports: [],
                employeeImports: [],
                tabsOptions:false,
                studentUploadDisabled:false,
                studentImportProgress: 0,
                scheduleImportProgress: 0,
                employeeImportProgress: 0,
                errorMessage: "",
                successMessage: "",
                loading: false,
                activitySelected: 'studentImport',
                upload: 45,
                fileExtensions: 'csv',
                supportedType: ['csv'],
                activityList: [
                { type: 'studentImport', name: "Student Records"},
                { type: 'scheduleImport',name: "Student Class Schedule"},
                { type: 'employeeImport', name: "Employee Records"},
                ],
            }
        },
        mounted() {
            this.getTemplatesUrl();
        },
        methods: {
            dropDownEvent(){
                this.tabsOptions = !this.tabsOptions;
            },
            showProgress(value){
                this.disableTabs = true;
                switch(this.activitySelected) {
                    case 'studentImport':
                        this.studentImportProgress = value;
                    break;
                    case 'scheduleImport':
                        this.scheduleImportProgress = value;
                    break;
                    case 'employeeImport':
                        this.employeeImportProgress = value;
                    break;
                }
            },
            getError(response) {
                this.disableTabs = false;
                this.$toasted.show(response, {
                    theme: "bubble",
                    position: "bottom-right",
                    duration : 3000,
                    type: ['error'],
                    singleton: true,
                    icon : '',
                      className: 'error-toast alert-danger'    
                });
            },
            getFileUploadResponse(response) {
                this.disableTabs = false;
                var data = {
                    name: response.name,
                    original_name: response.original_name,
                    title: response.original_name,
                    upload_url: response.upload_url
                };
                switch(this.activitySelected) {
                    case 'studentImport':
                        if(!this.studentImports.length){
                            this.studentImports.push(data);
                        }
                    break;
                    case 'scheduleImport':
                        if(!this.scheduleImports.length) {
                            this.scheduleImports.push(data);
                        }
                    break;
                    case 'employeeImport':
                        if(!this.employeeImports.length) {
                            this.employeeImports.push(data);
                        }
                    break;
                }
            },
            onDeleteFile(doc, index) {
                var self = this;
                let url = "api/file/custom-remove";
                var data = {
                    type: 'data_import',
                    file_name: doc.name
                };
                switch(this.activitySelected) {
                    case 'studentImport':
                        this.studentImports.splice(index, 1);
                    break;
                    case 'scheduleImport':
                        this.scheduleImports.splice(index, 1);
                    break;
                    case 'employeeImport':
                        this.employeeImports.splice(index, 1);
                    break;
                }
                this.$http.post(url, data).then(response => {
                    response = response.data;
                }).catch(error => {
                    error = error.response.data;
                    let errors = error.errors;
                    _.forEach(errors, function(value, key) {
                        self.errorMessage =  errors[key][0];
                        return false;
                    });
                });
            },
            getTemplatesUrl() {
                let self = this;
                let url = this.url;
                this.$http.get(url).then(response=>{
                    response = response.data.data;
                    self.studentTemplateUrl = response.studentDataTemplateUrl;
                    self.scheduleTemplateUrl = response.scheduleDataTemplateUrl;
                    self.employeeTemplateUrl = response.employeeDataTemplateUrl;
                }).catch(error=>{
                });
            },
            onSubmit() {
                var self = this;
                let url = this.url;
                var data = {
                    type: this.activitySelected,
                    files: []
                };
                switch(this.activitySelected) {
                    case 'studentImport':
                        data.files = this.studentImports;
                        this.studentFileDeleteDisable = false;
                    break;
                    case 'scheduleImport':
                        data.files = this.scheduleImports;
                        this.scheduleFileDeleteDisable = false;
                    break;
                    case 'employeeImport':
                        data.files = this.employeeImports;
                        this.employeeFileDeleteDisable = false;
                    break;
                }
                this.loading = true;  
                this.$http.post(url, data).then(response => {
                    response = response.data.data;
                    self.successMessage = response.message;
                    switch(this.activitySelected) {
                        case 'studentImport':
                            self.studentImports = [];
                            this.studentFileDeleteDisable = true;
                        break;
                        case 'scheduleImport':
                            self.scheduleImports = [];
                            this.scheduleFileDeleteDisable = true;
                        break;
                        case 'employeeImport':
                            self.employeeImports = [];
                        this.employeeFileDeleteDisable = true;
                        break;
                    }
                    setTimeout(function () {
                        self.successMessage = '';
                        self.loading = false;  
                    } , 2000);
                }).catch(error => {
                    this.studentFileDeleteDisable = true;
                    this.employeeFileDeleteDisable = true;
                    this.scheduleFileDeleteDisable = true;
                    let self = this;
                    error = error.response.data;
                    let errors = error.errors;
                    this.errorBag.clear();
                    $.each(errors, function(field, messages) { 
                        self.errorBag.add({
                            field: field,
                            msg: messages[0]
                        }); 
                    });
                    this.loading = false;
                });
            }
        }    
    }
</script>