<template>
    <div>
        <!-- top section -->
        <div class="config-top">
            <div class="float-left filter-left">
                <h3>{{ $route.meta.title }}</h3>
            </div>
        </div>
        <!-- Import Data-->
        <div class="configuration-block-container bg-white">
            <d-form @submit.prevent="validateBeforeSubmit">

                <div class="row">

                    <div class="col-md-12">
                        <div :class="[ 'form-group' , errorBag.first('University Name')  ? 'is-invalid' : '']">
                            <label>University Name</label>
                            <d-input
                            v-validate="'required|max:50'"
                            name="University Name"
                            v-model="formData.name"
                            id="university"
                            placeholder="Enter University Name" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div :class="['form-group', !logo_uploaded  ? 'is-invalid' : '']">

                            <label>Logo</label>
                            <span class="display-logo-size">The standard size for the logo is 360px * 160px</span>
                            <div class="file_upload_block">
                                <h4>Click here or drag &amp; drop file here to upload</h4>
                                <p>Recommended PNG file format with transparent background</p>
                                <file-upload-component 
                                @get-response="getFileUploadResponse" 
                                @errorMessage="getError" 
                                :uploadKey="uploadKey" 
                                :class="[ loading ? 'disabled' : '', errorMessage ? 'disabled' : '']" :imageBlock="imageBlock" 
                                :logo="formData.logo" 
                                :displayImage="formData.logo"
                                >
                            </file-upload-component>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group border-bottom">
                        <div class="row">
                            <div class="col-md-6">
                                <div  :class="[ 'form-group','color-input-field', errorBag.first('Primary Color')  ? 'is-invalid' : '' , 'mb-4']" >
                                    <label>Primary Color</label>
                                    <d-input id="primary_color"
                                    name="Primary Color"
                                    :placeholder="formData.primary_color?formData.primary_color:'Select primary color'"
                                    v-model="formData.primary_color"
                                    v-validate="{required: true, regex:/^#(?:[0-9a-fA-F]{3}){1,2}$/, min:7 }"
                                    />
                                    <input type="color" class="color-pallet color-pick" v-model="formData.primary_color" >
                                    <div
                                    v-bind:style="{'background-color': ''+ formData.primary_color +''}"
                                    class="color-pallet">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div :class="[ 'form-group','color-input-field', errorBag.first('Secondary Color')  ? 'is-invalid' : '']">
                                <label>Secondary Color</label>
                                <d-input id="secondary_color"
                                name="Secondary Color"
                                :placeholder="formData.secondary_color?formData.secondary_color:'Select secondary color'"
                                v-model="formData.secondary_color"
                                v-validate="{required: true, regex:/^#(?:[0-9a-fA-F]{3}){1,2}$/, min:7 }"/>
                                <input type="color" class="color-pallet color-pick" v-model="formData.secondary_color">

                                <div
                                v-bind:style="{'background-color': ''+ formData.secondary_color +''}"
                                class="color-pallet">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-md-12">
            <div :class="[ 'form-group' , errorBag.first('IR Page Title')  ? 'is-invalid' : '']">
                <label>IR Page Title</label>
                <d-input
                v-validate="{ required: true, max: 250 }"
                name="IR Page Title"
                v-model="formData.ir_page.title"
                id="ir_page.title"
                placeholder="Enter IR Page Title"/>
            </div>
        </div>
        <div class="col-md-12">
           <div :class="[ 'form-group' , errorBag.first('sub_title')  ? 'is-invalid' : '']">
            <label>IR Page Sub Title</label>
            <d-input
            name="sub_title"
            data-vv-name="sub_title"
            data-vv-as="IR Page Sub Title"
            v-validate="{ required: true, max: 250 }"
            v-model="formData.ir_page.sub_title"
            id="ir_page.sub_title"
            placeholder="Enter IR Page Sub Title" />
        </div>
    </div>
    <div class="col-md-12">
        <div :class="[ 'form-group' , errorBag.first('IR Page Details')  ? 'is-invalid' : '']">
            <label>IR Page Details</label>

            <wysiwyg 
            class="custom-wysiwyg"
            name="IR Page Details"
            v-validate="{ required: true, max: 1000 }"
            v-model="formData.ir_page.details" 
            />
        </div>
    </div>
    <div class="col-md-12">
     <div :class="[ 'form-group' , errorBag.first('IR Thank You Title')  ? 'is-invalid' : '']">
        <label>IR Thank You Title</label>
        <d-input
        name="IR Thank You Title"
        v-validate="{ required: true, max: 250 }"
        v-model="formData.ir_page.thank_you_title"
        id="ir_page.title"
        placeholder="Enter IR Thank You Title"/>
    </div>
</div>
<div class="col-md-12">
    <div :class="[ 'form-group' , errorBag.first('IR Thank You Page Details')  ? 'is-invalid' : '']">
        <label>IR Thank You Page Details </label>

        <wysiwyg 
        name="IR Thank You Page Details"
        v-validate="{ required: true, max: 250 }"
        class="custom-wysiwyg"
        v-model="formData.ir_page.thank_you_details" />
    </div>
</div>
<div class="col-md-12">
 <div class="form-group">
    <label>Guest IR Form Link</label><br>
        <p>{{formData.guest_ir_form_link}}</p>

</div>
</div>
<div class="col-md-12">
 <div :class="[ 'form-group' , errorBag.first('IR Case Involvement Threshold')  ? 'is-invalid' : '']">
    <label>IR Case Involvement Threshold</label>
    <d-input
    name="IR Case Involvement Threshold"
    v-validate="{ required: true, numeric: true }"
    v-model="formData.case_involvement_threshold"
    id=""
    placeholder="Enter Case Involvement Threshold"/>
</div>
</div>

<div class="col-md-12">
    <div :class="[ 'form-group' , errorBag.first('Value Point')  ? 'is-invalid' : '']">
            <label>Value Point:</label>
            <d-form-radio inline v-validate="'required'" v-model="formData.value_point" value="0" name="Value Point">Off</d-form-radio>
            <d-form-radio inline  v-model="formData.value_point" value="1" name="Value Point">On</d-form-radio>
    </div>
</div>


<div class="col-md-12">
    <div :class="[ 'form-group' , errorBag.first('Support Email')  ? 'is-invalid' : '']">
    <label>Support Email</label>
    <d-input
    name="Support Email"
    v-validate="{ required: true, email: true }"
    v-model="formData.support_email"
    id=""
    placeholder="Enter Support Email"/>
</div>
</div>

<div class="col-md-12">
    <d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" role="alert" show>

        {{ errorMessage ? errorMessage : successMessage }}

    </d-alert>

</div>
<div class="col-md-12">

    <d-btn @click.prevent="validateBeforeSubmit" :class="[loading  ? 'show-spinner' : '' ,errorMessage ? 'disabled' : '' ]" theme="primary" >
        <!-- <span v-if="!loading"> -->{{updateOrAdd ? 'Update' : 'Submit'}}<!-- </span> -->
        <c-loader></c-loader>
    </d-btn>
</div>
</div>
</d-form>
</div>


<common-methods 

@form-submitted="formSubmitted"
@get-response="getResponse"
@form-error="formError"
:hideLoader="true"
:url="url"
:submitUrl="url"
:submitType="submitType"
:formData="formData"
:submit="submit"
:direction="'top'"
:force="true"

>

</common-methods>


</div>
</template>

<script>
    export default {
        data() {
            return {
                displayImageName: '',
                displayImage: true,
                imageBlock: true,
                uploadKey: 'logo',
                errorMessage: '',
                successMessage: '',
                activitySelected: 'Student Records',
                upload: 45,
                formData:{
                    name: '',
                    logo: '',
                    primary_color: '',
                    secondary_color: '',
                    support_email:'',
                    case_involvement_threshold: '',
                    value_point:"0",
                    ir_form_link: '',
                    ir_page : {    
                        title: '',
                        sub_title: '',
                        details: '',
                        thank_you_title: '',
                        thank_you_details: ''
                    }
                },
                loading : false,
                url : 'api/display-setting',
                submit : false,
                submitType : 'post',
                updateOrAdd: false,
                logo_uploaded: true,
                urlList: ''
            }
        },
        computed : {
            submitUrl(){
                return this.requestUrl;
            },
            popupThemeValue(){
                if(this.errorMessage){
                    return 'danger';
                }
                if(this.successMessage){
                    return 'success';
                }
            }
        },

        mounted(){
            this.onPageLoad();
        },

        methods : {

            validateBeforeSubmit() {
                let self = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submit = true;
                        this.loading = true;
                        this.errorMessage = '';
                        return;
                    }
                    setTimeout(function(){
                        self.errorMessage = '';
                    },2000);
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            formSubmitted(response){                
                if(!this.updateOrAdd){
                    this.formData._id = response.data._id;
                }
                this.$store.commit('setDisplaySetting', response.data);
                this.clearDetails(response);
                this.$emit('form-submitted', response);

            },
            formUpdated(response){
                this.$store.commit('setDisplaySetting', response);
                this.clearDetails(response);
                this.$emit('form-updated' , response);
            },
            clearDetails(response){

                let self = this;
                self.logo_uploaded = true;
                this.successMessage = response.message;
                self.updateOrAdd = true;
                setTimeout(function(){
                    self.successMessage = '';
                    self.submit = false;
                    self.loading = false;
                } , 2000);
            },
            formError(response){

                let self = this;

                this.submit = false;
                this.loading = false;

                _.forEach(response.errors, function(value, key) {
                    if(key == 'logo'){
                        self.logo_uploaded = false;
                    }
                    self.errorMessage =  response.errors[key][0];
                    return false;
                });
                setTimeout(function(){
                    self.errorMessage = '';
                },2000);
            },

            getResponse(response){
                if(Object.keys(response.data).length){
                    this.formData = response.data[0];
                    this.updateOrAdd = true;
                }
            },
            getFileUploadResponse(response){
                let self = this;
                self.formData.logo = response.upload_url;
                self.logo_uploaded = true;
            },
            getError(response) {
                let self = this;
                if(response = 'The file must be a file of type: jpeg, jpg, png.'){
                    self.errorMessage = 'Uploaded file is not a valid image format.';

                }
                else{
                    self.errorMessage = response;
                }
                setTimeout(function() {
                    self.errorMessage = '';
                }, 2000);
            },

            onPageLoad() {
                $('.editr--toolbar .dashboard form label').contents([0]).wrap('<p></p>');
            }
        }
    }
</script>
