<template>
    <div>
        <!-- top section -->
        <div class="config-top z-index-99">
            <div class="float-left filter-left">
                <h3>Email Templates</h3>
            </div>
            <div class="filter-right">
                <ul>
                    <li>
                        <div class="form-group conduct-type">
                            <selectize v-model="selectedvalue" :settings="settings" class="selectize-control"> <!-- settings is optional -->
                                <option :value="1">Conduct, Student Conduct</option>
                                <option :value="2">Student Conduct, Honor Code</option>
                                <option :value="3">Student Conduct, Harassment</option>
                            </selectize>
                        </div>
                    </li>
                    <li>
                        <d-btn theme="secondary">
                            <span>Load Templates</span>
                            <c-loader></c-loader>
                        </d-btn>
                    </li>
                    <li>
                        <d-btn theme="secondary">
                            <span>+ Add Email Template</span>
                            <c-loader></c-loader>
                        </d-btn>
                    </li>
                </ul>
            </div>
        </div>
        <div class="config-body workflows-wrapper email-body email-body-wrapper">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="workflows-types card modified-card"
                        v-for="(list, index) in listing" :key="index">
                        <p class="workflow-title">
                            {{ list.title }}
                            <span>{{list.statesCount}}</span>
                        </p>
                        <a href="javascript:;"
                            @click="$emit('delete-popup')">
                            <i class="rt-arrow icon-delete" v-tooltip.top-center="deleteMsg"></i>
                        </a>
                        <i class="rt-arrow icon-keyboard_arrow_right"></i>
                    </div>
                </div>
                <!-- form -->
                <div class="col-xs-12 col-md-6">
                    <div class="card modified-card workflows-content-card">
                        <div class="card-content">
                            <d-form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <d-alert theme="success" hide>Alert - Success Theme Example Link</d-alert>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Type</label>
                                            <selectize v-model="settingValue" :settings="settings" class="selectize-control">
                                                <option :value="1">Conduct, Student Conduct</option>
                                                <option :value="2">Student Conduct, Honor Code</option>
                                                <option :value="3">Student Conduct, Harassment</option>
                                            </selectize>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Template Title</label>
                                            <d-input v-model="inputValue" placeholder="Student Accused of Academic" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Subject</label>
                                            <d-input v-model="inputValue" placeholder="Option Latter for student accused of academic misconduct" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Message</label>
                                                <d-form-textarea v-model="text"
                                                    placeholder="Enter message"
                                                    :rows="14"
                                                    :max-rows="6">
                                                </d-form-textarea>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 update-btn-section">
                                        <d-btn theme="primary">
                                            <span>Update Template</span>
                                            <c-loader></c-loader>
                                        </d-btn>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 text-right m-t-5 hunts-link">
                                        <d-btn theme="link">
                                            <span>View special code hints</span>
                                        </d-btn>
                                    </div>
                                </div>
                            </d-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import Selectize from 'vue2-selectize';
import draggable from 'vuedraggable';

export default {

    components: {
        Selectize,
        draggable,
    },

    data() {
        return{
            deleteMsg: 'Delete',
            selectedvalue: 1,
            settingValue:1,
            selected: null,
            setting: '',
            options: [
                  { value: null, text: 'Select Reason' },
                  { value: 'first', text: 'Contact' },
            ],
            listing: [
                {
                    title: "First Contact",
                    statesCount: "Conduct, Student Conduct",
                },
                {
                    title: "Student Accused of Academic Misconduct",
                    statesCount: "Conduct, Student Conduct",
                },
                {
                    title: "No Further Action Email",
                    statesCount: "Conduct, Student Conduct",
                },
                {
                    title: "Template Title",
                    statesCount: "Template Type (E.g. General or Incident type related)",
                }
            ]
        }
    }
}
</script>
