<template>
    <div>
        <!-- top section -->
        <div class="config-top">
            <div class="float-left filter-left">
                <h3>Hearing Types</h3>
            </div>
            <div class="float-right">
                <div class="filter-tabs itypes-filter-btns" data-toggle="buttons">
                    <div class="btn-group mob-btn-group">
                        <label class="btn btn-default active">
                            <input type="radio" checked="" autocomplete="off" name="filters" value="active">Active
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" autocomplete="off" name="filters" value="archived"> Archived
                        </label>
                    </div>
                </div>
                <d-button theme="secondary add-itype-btn" @click="$emit('add-hearing-types-popup')">+ Add Hearing Types</d-button>
            </div>
        </div>
        <!-- LIsting -->
        <div class="table table-lite top-left-radius pl-thead-0">
            <table class="table mb-0 hearing-type-tb">
                <thead class="bg-light">
                    <tr class="thead-with-icon">
                        <th
                            v-for="(listingHead, index) in listingHeads"
                            scope="col"
                            :key="index"
                            :class="{ 'text-center': index === 0 }">
                            {{ listingHead.title }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="(list, index) in listing"
                        :key="index">
                        <td class="case-num-colmn text-center" width="130">
                            {{ list.id }}
                        </td>
                        <td>{{ list.hearingTypes }}</td>
                        <td class="icon-actions-config" width="260">
                            <a href="javascript:void(0);" @click="$emit('add-hearing-types-popup')"> <i class="icon-edit"></i> <span>Modify</span></a>
                            <a href="javascript:void(0);"> <i class="icon-archive"></i> <span>Archive</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="listing.length > 10"
            class="col-xs-12 text-center">
            <d-button theme="primary add-itype-btn">
                <c-loader></c-loader>
                <span>Load More</span>
            </d-button>
        </div>
    </div>
</template>

<script>
export default{
    data() {
        return{
            listingHeads: [
                { title: 'ID'},
                { title: 'Hearing Types' },
                { title: 'Action' }
            ],
            listing: [
                {
                    id:'001',
                    hearingTypes:"Informal Meeting",
                },
                {
                    id:'002',
                    hearingTypes:"CCSB Pre-Hearing",
                },
                {
                    id:'003',
                    hearingTypes:"CCSB Hearing",
                },
                {
                    id:'004',
                    hearingTypes:"Academic College Hearing",
                },
                {
                    id:'005',
                    hearingTypes:"Board Review",
                },
                {
                    id:'006',
                    hearingTypes:"Offical Warning Notice",
                },
                {
                    id:'007',
                    hearingTypes:"Informal Hearing",
                },
                {
                    id:'008',
                    hearingTypes:"Appropriate Action Taken",
                },
                {
                    id:'009',
                    hearingTypes:"Resolution by Informal Hearing Warning Letter",
                },
                {
                    id:'010',
                    hearingTypes:"Formal Hearing",
                },
                {
                    id:'011',
                    hearingTypes:"Academic Integrity",
                },
                {
                    id:'012',
                    hearingTypes:"Non-Academic Review (NAC)",
                },
            ]
        }
    },
}
</script>
