<template>
    <div>
        <!-- top section -->
        <div class="config-top">
            <div class="float-left filter-left">
                <h3>Incident Types</h3>
            </div>
            <div class="float-right">
                <div class="filter-tabs itypes-filter-btns">
                    <div class="btn-group mob-btn-group">
                        
                        <label class="btn btn-default " :class="[{active: listValue == 'active'}, {disabled: pageLoader}]">
                        <!-- <label class="btn btn-default " :class="{ active: listValue == 'active' }" v-if="!pageLoader  | listValue =='active'"> -->
                            <input 
                            v-model="listValue"
                            type="radio" 
                            autocomplete="off" 
                            name="filters" 
                            value="active">Active
                        </label>
                        <label class="btn btn-default" :class="[{active: listValue == 'archived'}, {disabled: pageLoader}]">
                            <input 
                            v-model="listValue"
                            type="radio" 
                            autocomplete="off" 
                            name="filters" 
                            value="archived"> 
                            Archived
                        </label>
                    </div>
                </div>
                <!-- add-itype-btn -->
                <d-button 

                    theme="secondary" 
                    @click="showModal = true; currentItem ='';">
                    + Add Incident Type
                </d-button>
            </div>
        </div>
        <!-- Listing -->
        <div class="table table-lite top-left-radius pl-thead-0">
            <table class="table mb-0 ">
                <thead class="bg-light">
                    <tr class="thead-with-icon">
                        <th
                            v-for="(listingHead, index) in listingHeads"
                            scope="col"
                            :key="index"
                            :class="{ 'text-center': index === 0 }" >
                            {{ listingHead.title }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="(list, index) in listing"
                        :key="index">

                        <td class="case-num-colmn text-center" width="130">
                            {{ index+1 }}
                        </td>
                        <td>{{ list.name }}</td>
                        <td>{{ list.parent_id? list.parent.name : '-' }}</td>
                        <td class="icon-actions icon-actions-config" width="250">
                            <a 
                                href="javascript:void(0);" 
                                @click="currentItem=list;showModal = true;"> 
                                <i class="icon-edit"></i> 
                                <span>Modify</span>
                            </a>
                            <a href="javascript:void(0);"
                            role="button" 
                            @click="currentItemStatus=list;showArchiveModal = true; archiveRecord = true" v-if="listValue == 'active'"> <i class="icon-archive"></i> <span>Archive</span></a>
                            <a href="javascript:void(0);" 
                            role="button" 
                            @click="currentItemStatus=list;showArchiveModal = true; archiveRecord = false" v-if="listValue == 'archived'"> <i class="icon-archive"></i> <span>Unarchive</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
            <no-record-found class="fixRecord" v-if="noRecordFound"></no-record-found>
            <block-spinner v-show="pageLoader"></block-spinner>
        
        <common-methods 
            @get-response="getResponse"
            :url="requestUrl"
            :infiniteLoad="false"
            >
        </common-methods>
        
        <add-incident-popup 
        @form-submitted="formSubmitted"
        @form-updated="reSendCall"
        @hide-modal-value="modalClosed"
        :currentItem="currentItem"
        :showModalProp="showModal"
        >
        </add-incident-popup>
        
        <common-alert-popup
        @form-updated="reSendCall"
        @hide-modal-value="modalClosed"
        
        :title="archiveTitle"
        :description="archiveDescription"
        :currentItem="currentItemStatus"
        :url="archiveUrl"
        :showModalProp="showArchiveModal"
        :archiveRecord="archiveRecord"
        >
        </common-alert-popup>
       <!--  <div v-if="listing.length > 10"
            class="col-xs-12 text-center">
            <d-button theme="primary add-itype-btn">
                <c-loader></c-loader>
                <span>Load More</span>
            </d-button>
        </div> -->
    </div>
</template>

<script>
export default{

    data() {
        return{
            listingHeads: [
                { title: 'S.no'},
                { title: 'Incident Type' },
                { title: 'Parent Incident Type' },
                { title: 'Action' }
            ],
            listing: [],
            showModal : false,
            listValue : 'active',
            url: 'api/incident-type',
            listUrl : '',
            currentItem : '',
            showArchiveModal : false,
            noRecordFound: false,
            pageTitle : 'Incident Type',
            pageLoader: true,
            archiveRecord: true,
            currentItemStatus: '',

        }
    },
    methods: {
        startLoading() {
            this.pageLoader = true;
        },
        getResponse(response){
            if(Object.keys(response.data).length){
                for (var i = 0; i < response.data.length; i++) {
                    this.listing.push(response.data[i]);
                }
            }
                this.pageLoader = false;
                this.noRecordFound = response.noRecordFound;          
        },
        modalClosed(){
            this.showModal = false;
            this.showArchiveModal = false;
            this.currentItemStatus ='';
            this.currentItem ='';

        },
        formSubmitted(response){
            this.reSendCall()
        },
        reSendCall(){
            this.listing = [];
            this.composeUrl();
        },
        composeUrl(archiveStatus){
            let archived = 0;
            this.listValue = 'active';
            if(archiveStatus  == 'archived'){
                archived = 1;
                this.listValue = 'archived';
            }
            let newDate  = new Date().getMilliseconds();
            this.listUrl = this.url + '?pagination=true&orderby_parent=1&filter_by_child=0&is_archived='+archived+'&time='+newDate;
        },
        
    },
    mounted(){
        this.composeUrl();
    },
    computed : {
        requestUrl(){
            return this.listUrl;
        },
        archiveUrl(){
                return this.url;
            },
        archiveTitle(){
                if(this.archiveRecord == false){
                    return 'Unarchive Incident Type';
                }
                return 'Archive Incident Type';
            },
        archiveDescription(){
            if(this.archiveRecord == false){
                return 'Are you sure you want to unarchive this item?';
                }
                return 'Are you sure you want to archive this item?';
            },
    },
    watch:{
        listValue(value){
            this.listing = [];
            this.composeUrl(value);
        },
        url(value){
                this.listValue = 'active';
                this.composeUrl();
            },
        params(){

                this.listing = [];
                this.listValue = 'active';
                this.composeUrl();
            },
    }
    
}
</script>
