<template>
    <div>
        <!-- <ir-form
            @define-rule-popup="defineRulePopup = true"
            @delete-popup="deletePopup = true">
        </ir-form> -->

        <div class="ir-form-builder-section">
        <!-- top section -->
            <div class="row">
                <div class="col-md-12">
                    <d-form>
                        <div class="filter-left">
                            <h3>IR Form Builder</h3>
                            <i 
                                class="icon-plus addBlock"
                                @click="isActive = !isActive">                                    
                            </i>
                        </div>
                        <div class="filter-right">
                            <ul>
                                <li>
                                    <div class="form-group officer-selected">
                                        <selectize
                                            v-model="selectedvalue"
                                            :settings="settings"
                                            class="selectize-control"> <!-- settings is optional -->
                                            <option :value="1">Conduct, Student Conduct</option>
                                            <option :value="2">Academic Integrity</option>
                                            <option :value="3">Alleged Violation</option>
                                            <option :value="4">Behavioral Intervention</option>
                                            <option :value="5">Campus Safety</option>
                                            <option :value="6">Duty Round</option>
                                            <option :value="7">Alcohol</option>
                                            <option :value="8">Drugs</option>
                                            <option :value="9">Violence</option>
                                            <option :value="10">Sexual Misconduct</option>
                                            <option :value="11">Behaviorial Concern</option>
                                            <option :value="12">FYI/Informational</option>
                                            <option :value="13">Incident Report</option>
                                            <option :value="14">Police Report</option>
                                            <option :value="15">Academic Affairs Concern</option>
                                            <option :value="16">Title IX</option>
                                            <option :value="17">NAC Review Request</option>
                                            <option :value="18">Off Campus</option>
                                            <option :value="19">Noise violation</option>
                                            <option :value="20">Tobacco Violation</option>
                                        </selectize>
                                    </div>
                                </li>
                                <li>
                                        <d-button theme="secondary btn-block">
                                        <c-loader></c-loader>
                                        <span>
                                            Load IR Form
                                        </span>
                                    </d-button>
                                </li>
                            </ul>
                        </div>
                    </d-form>
                </div>
            </div>
            <info-message v-if="showInfoMessage" :text="infoMessage"></info-message>
            <div class="drag-form">
                <draggable
                    v-model="sectionImposed"
                    class="dragArea"
                    :options="{group:'people'}">


                    <div class="form-builder-panel"
                        v-for="(formListing, index) in formListings"
                        :key="index"
                        v-if="formListing.fieldActive === true">
                        <!-- <div class="form-builder-panel"
                            v-for="(formListing, index) in formListings"
                            :key="index"> -->
                            <span class="icons-panel">
                                <i
                                    class="icon-settings"
                                    v-if="formListing.fieldName == 'radioField'
                                    || formListing.fieldName == 'checkField'
                                    || formListing.fieldName == 'selectField'"
                                    @click="defineRulePopup = true">
                                </i>
                                <i class="icon-delete" @click="deletePopup = true"></i>
                            </span>
                            <d-form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ formListing.label }}</label>
                                            <div class="formbuild"
                                                v-if="formListing.fieldName == 'textField'">
                                                <d-input
                                                    v-for="(listedValues, index) in formListing.fields"
                                                    :key="index"
                                                    :placeholder="listedValues.value"
                                                    :value="listedValues.value"
                                                    v-if="listedValues.value[index] != null" />
                                            </div>
                                            <div class="formbuild"
                                                v-if="formListing.fieldName == 'radioField'">
                                                <d-form-radio
                                                    v-for="(listedValues, index) in formListing.fields"
                                                    :key="index"
                                                    v-model="physically"
                                                    :value="listedValues.value"
                                                    v-if="listedValues.value[index] != null">
                                                    {{ listedValues.value }}
                                                </d-form-radio>
                                            </div>
                                            <div class="formbuild"
                                                v-if="formListing.fieldName == 'checkField'">
                                                <d-checkbox
                                                    v-for="(listedValues, index) in formListing.fields"
                                                    :key="index"
                                                    v-model="selected"
                                                    name="Injuries"
                                                    :value="listedValues.value"
                                                    v-if="listedValues.value[index] != null">
                                                    {{ listedValues.value }}
                                                </d-checkbox>
                                            </div>
                                            <div class="formbuild"
                                                v-if="formListing.fieldName == 'timeField'">
                                                <!-- <d-checkbox
                                                    v-for="(listedValues, index) in formListing.fields"
                                                    :key="index"
                                                    v-model="selected"
                                                    name="Injuries"
                                                    :value="listedValues.value">
                                                    {{ listedValues.label }}
                                                </d-checkbox> -->
                                                <vue-timepicker
                                                    v-for="(listedValues, index) in formListing.fields"
                                                    :key="index"
                                                    name="schedule_start_time"
                                                    class="with-icon datepicker-icon form-control"
                                                    v-model="meeting.meetingStartTime"
                                                    format="HH:MM"
                                                    placeholder="HH:MM">
                                                </vue-timepicker>
                                            </div>
                                            <div class="formbuild"
                                                v-if="formListing.fieldName == 'selectField'">
                                                <d-form-select v-model="selected_profession">
                                                    <option
                                                        v-for="(listedValues, index) in formListing.fields"
                                                        :key="index"
                                                        :value="type"
                                                        v-if="listedValues.value[index] != null">
                                                        {{ listedValues.value }}
                                                    </option>
                                                </d-form-select>
                                            </div>
                                            <div class="formbuild"
                                                v-if="formListing.fieldName == 'textEditorField'">
                                                <d-form-textarea
                                                    v-for="(listedValues, index) in formListing.fields"
                                                    :key="index"
                                                    :placeholder="listedValues.value"
                                                    :value="listedValues.value"
                                                    v-if="listedValues.value[index] != null" />
                                                </d-form-textarea>
                                            </div>
                                            <div class="formbuild datePicker"
                                                v-if="formListing.fieldName == 'dateField'">
                                                <d-datepicker
                                                    v-for="(listedValues, index) in formListing.fields"
                                                    :key="index"
                                                    placeholder="MM / DD / YYYY"
                                                    typeable
                                                    v-if="listedValues.value[index] != null"
                                                    class="with-icon datepicker-icon" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group required-field">
                                             <d-checkbox
                                                v-model="selected"
                                                name="is_equired"
                                                v-if="formListing.isRequired"
                                                value="required">
                                                Is Required
                                            </d-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </d-form>
                    </div>
                    </draggable>
                </div>
                <d-button theme="primary">
                    <c-loader></c-loader>
                    <span>Update</span>
                </d-button>
        </div>

        <div>
            <div class="ir-right-tabs" v-bind:class="{ active: isActive }">
                <div class="ir-tab-header">
                    <div class="activities-section">
                            <div class="activitylist">
                                <i 
                                    @click="isActive = !isActive"
                                    class="icon-close-custom closeCom">                                    
                                </i>
                                <ul class="incident-tabs">
                                    <li
                                        :class="{ 'active': tabData === 'componentDetails' }"
                                        @click="tabData = 'componentDetails'">
                                        <a href="javascript:void(0);">
                                            <span>Components Library</span>
                                        </a>
                                    </li>
                                    <li
                                        :class="{ 'active': tabData === 'addComponent' }"
                                        @click="tabData = 'addComponent'">
                                        <a href="javascript:void(0);">
                                            <span>Add Component</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
                <div class="tabs-content">
                    <div
                        v-if="tabData == 'componentDetails'"
                        class="modal-content-body">
                        <div id="style-2" class="scrollable">
                            <ul class="ir-form-list">
                                <li v-for="(list, index) in formListings"
                                    :key="index"
                                    @click="addFieldActive(index)"
                                    :class="{'active' : list.fieldActive}"
                                    >
                                    <i  v-if="list.fieldName === 'textField'"
                                        class="icon-text-editor">
                                    </i>
                                    <i  v-if="list.fieldName === 'radioField'"
                                        class="icon-radio-on-button">
                                    </i>
                                    <i  v-if="list.fieldName === 'checkField'"
                                        class="icon-change-status">
                                    </i>
                                    <i  v-if="list.fieldName === 'timeField'"
                                        class="icon-clock">
                                    </i>
                                    <i  v-if="list.fieldName === 'selectField'"
                                        class="icon-drop-down-list">
                                    </i>
                                    <i  v-if="list.fieldName === 'textEditorField'"
                                        class="icon-text-editor">
                                    </i>
                                    <i  v-if="list.fieldName === 'dateField'"
                                        class="icon-calendar">
                                    </i>
                                    {{ list.label }}
                                    <span class="icon-edit"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                     <div
                        v-if="tabData == 'addComponent'"
                        class="modal-content-body">
                        <div id="style-2" class="scrollable">
                            <div class="ir-form-sections">
                                <d-form @submit="addComponent">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <d-alert theme="success" hide>Alert - Success Theme Example Link</d-alert>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Field name</label>
                                                <d-input
                                                    v-model="component.label"
                                                    placeholder="Enter field name"
                                                    required/>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group selectBox">
                                                <label>Field Type</label>
                                                <i class="icon-keyboard_arrow_down3"></i>
                                                <d-form-select
                                                    v-model="component.fieldName"
                                                    Required
                                                    >
                                                    <option
                                                        v-for="(optionList, index) in componentFieldType"
                                                        :key="index"
                                                        :value="optionList.value">
                                                        {{ optionList.label }}
                                                    </option>
                                                </d-form-select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 value-section">
                                            <div class="form-group">
                                                <label>Value</label>
                                                <br>
                                                <!-- <d-input v-model="inputValue" placeholder="(none)" /> -->
                                                <div class="section-form-left addVal">
                                                    <div
                                                        class="input-value-container">
                                                        <div
                                                            class="input-values"
                                                            v-for="(valueField, index) in component.fields"
                                                            :key="index">
                                                            <d-input
                                                                v-model="valueField.value"
                                                                placeholder="Add new value" />
                                                            <!-- <d-input
                                                                v-model="valueField.label"
                                                                placeholder="Enter field name"
                                                                required/> -->
                                                            <a
                                                                @click="deleteFind(index)"
                                                                class="delete-item">
                                                                <i class="icon-delete"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <a href="javascript:void(0);"
                                                        @click="addValueField()"
                                                        class="btn btn-secondary addValueArea">
                                                        <span>
                                                            <img src="images/plus.svg">
                                                        </span>
                                                        <c-loader></c-loader>
                                                    </a>

                                                </div>
                                                <div class="section-form-right">
                                                    <!-- <d-btn theme="secondary">
                                                        <span>
                                                            <d-img src="images/plus.svg" />
                                                        </span>
                                                        <c-loader></c-loader>
                                                    </d-btn> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <d-btn theme="primary">
                                                <span>Add Component</span>
                                                <c-loader></c-loader>
                                            </d-btn>
                                        </div>
                                    </div>
                            </d-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <ir-right-tabs></ir-right-tabs> -->

        <define-rule-popup
            :showModalProp="defineRulePopup"
            @hide-modal-value="closeAllPopup">
        </define-rule-popup>

        <delete-popup
            :showModalProp="deletePopup"
            @hide-modal-value="closeAllPopup">
        </delete-popup>

    </div>
</template>

<script>
import Selectize from 'vue2-selectize';
import VueTimepicker from 'vue2-timepicker';
import draggable from 'vuedraggable';
    export default {
        components: {
            Selectize,
            VueTimepicker,
            draggable,
         },
        data () {
            return {
                isActive:false,
                showInfoMessage:false,
                infoMessage: 'Create an IR Form by adding components from the library',
                meeting: {
                    meetingStartTime: 'Start Time',
                    meetingEndTime: 'End Time',
                },
                composer: 1,
                physically: 'yes',
                selectedvalue: 1,
                isActiveFld: true,
                defineRulePopup: false,
                deletePopup: false,
                tabData: 'componentDetails',
                activitySelected: 'Components Library',
                activityList: [
                    { name: 'Components Library'},
                    { name: 'Add Component'},
                ],
                physically: 'yes',
                selectedvalue: 1,
                component:{
                    label: '',
                    fieldName: 'textField',
                    fields:[
                        {
                            value: '',
                            label: '',
                        },
                        {
                            value: '',
                            label: '',
                        },
                    ],
                    fieldActive: false,
                    isRequired: true,
                },
                componentFieldType:[
                    {
                        label: 'Text Field',
                        value: 'textField',
                    },
                    {
                        label: 'Radio Field',
                        value: 'radioField',
                    },
                    {
                        label: 'Check Box',
                        value: 'checkField',
                    },
                    {
                        label: 'Time Field',
                        value: 'timeField',
                    },
                    {
                        label: 'Select Field',
                        value: 'selectField',
                    },
                    {
                        label: 'Text Area Field',
                        value: 'textEditorField',
                    },
                    {
                        label: 'Date Field',
                        value: 'dateField',
                    },

                ],
                formListings: [
                    {
                        fieldName: 'textField',
                        menuIcon: 'icon-text-editor',
                        label: 'Tasks Leading to Incident',
                        fields:[
                            {
                                value: 'Value',
                            },
                        ],
                        fieldActive: true,
                        isRequired: true,
                    },
                    {
                        fieldName: 'radioField',
                        label: 'Are you physically hurt?',
                        menuIcon:"icon-radio-on-button",
                        fields:[
                            {
                                value: 'Yes',
                            },
                            {
                                value: 'No',
                            },
                        ],
                        fieldActive: true,
                        isRequired: true,
                    },
                    {
                        fieldName: 'checkField',
                        label: 'Select Injuries',
                        menuIcon:"icon-change-status",
                        fields:[
                            {
                                value: 'Head',
                            },
                            {
                                value: 'Face',
                            },
                            {
                                value: 'Neck',
                            },
                            {
                                value: 'Teeth',
                            },
                            {
                                value: 'Nose',
                            },
                        ],
                        fieldActive: true,
                        isRequired: true,
                    },
                    {
                        fieldName: 'timeField',
                        label: 'Time of Injury',
                        menuIcon:"icon-clock",
                        fields:[
                            {
                                label: null,
                                value: null,
                            },
                        ],
                        fieldActive: true,
                        isRequired: true,
                    },
                    {
                        fieldName: 'selectField',
                        label: 'Resulting Damage',
                        menuIcon:"Title IX",
                        fields:[
                            {
                                value: 'Arm Broken',
                            },
                            {
                                value: 'Leg Broken',
                            },
                            {
                                value: 'Law Broken',
                            },
                        ],
                        fieldActive: true,
                        isRequired: true,
                    },
                ],


                listing: [
                    {
                        name:'Tasks Leading to Incident',
                        menuIcon: 'icon-text-editor',
                        appendItem: '',
                    },
                    {
                        name:'Explanation of events',
                        menuIcon:"Conduct",
                    },
                    {
                        name:'Are you physically hurt?',
                        menuIcon:"icon-radio-on-button",
                    },
                    {
                        name:'Select Injuries',
                        menuIcon:"icon-change-status",
                    },
                    {
                        name:'Own Incident Assessment',
                        menuIcon:"icon-radio-on-button",
                    },
                    {
                        name:'Resulting Damage',
                        menuIcon:"Title IX",
                    },
                    {
                        name:'Date of Injury',
                        menuIcon:"icon-calendar",
                    },
                    {
                        name:'Time of Injury',
                        menuIcon:"icon-clock",
                    }
                ],
            }
        },
        methods: {
            closeAllPopup(){
                    this.deletePopup = false;
                    this.defineRulePopup = false;
                },
            addComponent(e){
                e.preventDefault();
                // alert(JSON.stringify(this.component));
                this.formListings.push(JSON.parse(JSON.stringify(this.component)));
                this.tabData = 'componentDetails';
            },
            addValueField(){
                this.component.fields.push({ value: '' });
            },
            deleteFind(index) {
              this.component.fields.splice(index, 1);
            },
            addFieldActive(index){
                var item = this.formListings[index];
                 var currentItemValue = item.fieldActive;
                 if(currentItemValue == true){
                     var itemVal = false;
                 }
                 else{
                     var itemVal = true;
                 }
                // this.formListings.$set(index, 'fieldActive', true);
                Vue.set(item, 'fieldActive', itemVal);
            },
        },
    }
</script>
