<template>
    <div>
        <!-- top section -->
        <div class="config-top">
            <div class="float-left filter-left">
                <h3>Locations</h3>
            </div>
            <div class="float-right">
                <div class="filter-tabs itypes-filter-btns">
                    <div class="btn-group mob-btn-group" data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="radio" checked="" autocomplete="off" name="filters" value="active">Active
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" autocomplete="off" name="filters" value="archived"> Archived
                        </label>
                    </div>
                </div>
                <d-button
                    theme="secondary add-itype-btn"
                    @click="$emit('add-locations-popup')">
                    + Add Locations
                </d-button>
            </div>
        </div>
        <!-- LIsting -->
        <div class="table table-lite top-left-radius pl-thead-0">
            <table class="table mb-0 ">
                <thead class="bg-light">
                    <tr class="thead-with-icon">
                        <!-- <th
                            v-for="(listingHead, index) in listingHeads"
                            scope="col"
                            :key="index"                             
                            :class="{ 'text-center': index === 0 }" 
                            >
                            {{ listingHead.title }}
                        </th> -->
                        <th width="130">ID</th>
                        <th>Locations</th>
                        <th width="250">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="(list, index) in listing"
                        :key="index">
                        <td class="case-num-colmn text-center" width="130">
                            {{ list.id }}
                        </td>
                        <td>{{ list.locations }}</td>
                        <td class="icon-actions-config" width="260">
                            <a
                                href="javascript:void(0);"
                                @click="$emit('add-locations-popup')"
                                role="button">
                                <i class="icon-edit"></i>
                                <span>Modify</span>
                            </a>
                            <a href="javascript:void(0);" role="button"> <i class="icon-archive"></i> <span>Archive</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 text-center">
            <d-button theme="primary add-itype-btn">
                <c-loader></c-loader>
                <span>Load More</span>
            </d-button>
        </div>
    </div>
</template>

<script>
export default{
    data() {
        return{
            listingHeads: [
                { title: 'ID'},
                { title: 'Locations' },
                { title: 'Action' }
            ],
            listing: [
                {
                    id:'001',
                    locations:"On Campus",
                },
                {
                    id:'002',
                    locations:"Off Campus",
                },
                {
                    id:'003',
                    locations:"Residence Hall",
                },
                {
                    id:'004',
                    locations:"Hall Room 1",
                },
                {
                    id:'005',
                    locations:"Hall Room 2",
                },
                {
                    id:'006',
                    locations:"Hall Room 3",
                },
                {
                    id:'007',
                    locations:"Front Hall Desk",
                },
                {
                    id:'008',
                    locations:"Residence Hall Parking Lot",
                },
                {
                    id:'009',
                    locations:"Dining Area",
                },
                {
                    id:'010',
                    locations:"Outdoor Dining Area",
                },
                {
                    id:'011',
                    locations:"Kitchen",
                },
                {
                    id:'012',
                    locations:"Food Line",
                },
                {
                    id:'013',
                    locations:"Cafeteria Bathroom",
                },
                {
                    id:'014',
                    locations:"VP Office",
                },
                {
                    id:'015',
                    locations:"Admission Office",
                },
                {
                    id:'016',
                    locations:"Bathroom",
                },
                {
                    id:'017',
                    locations:"Classroom A",
                },
                {
                    id:'018',
                    locations:"Faculty Office",
                },
            ]
        }
    },
}
</script>
