<template>
    <div>
        <left-nav-config v-bind:class="{ active: isActive }"></left-nav-config>

        <div class="config-right-panel config-incident-type">

            <router-view
            @add-incident-popup="addIncidentPopup = true"
            @add-building-popup="addBuildingPopup = true"
            @add-locations-popup="addLocationsPopup = true"
            @add-violations-popup="addViolationsPopup= true"
            @add-plea-type-popup="addPleaTypePopup= true"
            @add-sanctions-popup="addSanctionsPopup= true"
            @add-fines-popup= "addFinesPopup = true"
            @add-categories-popup= "addCategoriesPopup = true"
            @add-appeal-types-popup= "addAppealTypesPopup = true"
            @add-appeal-status-popup= "addAppealStatusPopup = true"
            @add-appeal-review-popup= "addAppealReviewPopup = true"
            @add-appeal-outcome-popup= "addAppealOutcomePopup = true"
            @add-hearing-types-popup= "addHearingTypesPopup = true"
            @add-hearing-locations-popup = "addHearingLocationsPopup = true"
            @add-flag-status-popup = "addFlagStatusPopup = true"
            @delete-popup = "deletePopup = true"
            @edit-workflow-popup = "editWorkflowPopup = true"
            @add-board-members-popup = "addBoardMembersPopup = true">   
        </router-view>

    </div>

    <edit-workflow-popup
    :showModalProp="editWorkflowPopup" 
    @hide-modal-value="closeAllPopup">
</edit-workflow-popup>

<add-incident-popup 
:showModalProp="addIncidentPopup" 
@hide-modal-value="closeAllPopup">
</add-incident-popup>

<add-building-popup 
:showModalProp="addBuildingPopup" 
@hide-modal-value="closeAllPopup">
</add-building-popup>

<add-locations-popup 
:showModalProp="addLocationsPopup" 
@hide-modal-value="closeAllPopup">
</add-locations-popup>

<add-violations-popup 
:showModalProp="addViolationsPopup" 
@hide-modal-value="closeAllPopup">
</add-violations-popup>

<add-plea-type-popup 
:showModalProp="addPleaTypePopup" 
@hide-modal-value="closeAllPopup">
</add-plea-type-popup>

<add-sanctions-popup 
:showModalProp="addSanctionsPopup" 
@hide-modal-value="closeAllPopup">
</add-sanctions-popup>

<add-fines-popup 
:showModalProp="addFinesPopup" 
@hide-modal-value="closeAllPopup">
</add-fines-popup>

<add-categories-popup 
:showModalProp="addCategoriesPopup" 
@hide-modal-value="closeAllPopup">
</add-categories-popup>

<add-appeal-types-popup 
:showModalProp="addAppealTypesPopup" 
@hide-modal-value="closeAllPopup">
</add-appeal-types-popup>

<add-appeal-status-popup 
:showModalProp="addAppealStatusPopup" 
@hide-modal-value="closeAllPopup">
</add-appeal-status-popup>

<add-appeal-review-popup 
:showModalProp="addAppealReviewPopup" 
@hide-modal-value="closeAllPopup">
</add-appeal-review-popup>

<add-appeal-outcome-popup 
:showModalProp="addAppealOutcomePopup" 
@hide-modal-value="closeAllPopup">
</add-appeal-outcome-popup>

<add-hearing-types-popup 
:showModalProp="addHearingTypesPopup" 
@hide-modal-value="closeAllPopup">
</add-hearing-types-popup>

<add-hearing-locations-popup
:showModalProp="addHearingLocationsPopup" 
@hide-modal-value="closeAllPopup">
</add-hearing-locations-popup>

<add-flag-status-popup
:showModalProp="addFlagStatusPopup" 
@hide-modal-value="closeAllPopup">
</add-flag-status-popup>

<delete-popup 
:showModalProp="deletePopup" 
@hide-modal-value="closeAllPopup">
</delete-popup>

<add-board-members-popup 
:showModalProp="addBoardMembersPopup" 
@hide-modal-value="closeAllPopup">
</add-board-members-popup>

</div>
</template>

<script>
    export default {

        mounted (){


        },

        data () {
            return {
                isActive: false,
                addIncidentPopup:false,
                addBuildingPopup:false,
                addLocationsPopup:false,
                addViolationsPopup:false,
                addPleaTypePopup:false,
                addSanctionsPopup:false,
                addFinesPopup:false,
                addCategoriesPopup:false,
                addAppealTypesPopup:false,
                addAppealStatusPopup:false,
                addAppealReviewPopup:false,
                addAppealOutcomePopup:false,
                addHearingTypesPopup:false,
                addHearingLocationsPopup:false,
                addFlagStatusPopup:false,
                deletePopup:false,
                editWorkflowPopup:false,
                addBoardMembersPopup:false,
            }
        },

        methods: {
            closeAllPopup(){
                this.addIncidentPopup = false;
                this.addBuildingPopup = false;
                this.addLocationsPopup = false;
                this.addViolationsPopup = false;
                this.addPleaTypePopup = false;
                this.addSanctionsPopup = false;
                this.addFinesPopup = false;
                this.addCategoriesPopup = false;
                this.addAppealTypesPopup = false;
                this.addAppealStatusPopup = false;
                this.addAppealReviewPopup = false;
                this.addAppealOutcomePopup = false;
                this.addHearingTypesPopup = false;
                this.addHearingLocationsPopup = false;
                this.addFlagStatusPopup = false;
                this.deletePopup = false;
                this.editWorkflowPopup = false;
                this.addBoardMembersPopup = false;
            },
        },
    }
</script>