<template>
    <div>
        <!-- top section -->
        <div class="config-top">
            <div class="float-left filter-left">
                <h3>Organization</h3>
            </div>
            <div class="float-right">
                <!-- add-itype-btn -->
                <d-button 
                    theme="secondary" 
                    @click="showModal = true; currentItem ='';">
                    + Add Organization
                </d-button>
            </div>
        </div>
        <!-- Listing -->
        <div class="table table-lite top-left-radius pl-thead-0">
            <table class="table mb-0 ">
                <thead class="bg-light">
                    <tr class="thead-with-icon">
                        <th
                            v-for="(listingHead, index) in listingHeads"
                            scope="col"
                            :key="index"
                            :class="{ 'text-center': index === 0 }" >
                            {{ listingHead.title }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="(list, index) in listing"
                        :key="index">

                        <td class="case-num-colmn text-center" width="130">
                            {{ index+1 }}
                        </td>
                        <td>{{ list | fullName }}</td>
                        <td>{{ list.email }}</td>
                        <td>{{ list.phone_number? list.phone_number : '-' }}</td>
                        <td class="icon-actions icon-actions-config" width="250">
                            <a 
                                href="javascript:void(0);" 
                                @click="currentItem=list;showModal = true;"> 
                                <i class="icon-edit"></i> 
                                <span>Modify</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
            <no-record-found class="fixRecord" v-if="noRecordFound"></no-record-found>
            <block-spinner v-show="pageLoader"></block-spinner>
        
        <common-methods 
            @get-response="getResponse"
            :url="requestUrl"
            :infiniteLoad="false"
            >
        </common-methods>
        
        <add-organization-popup 
        @form-submitted="formSubmitted"
        @form-updated="reSendCall"
        @hide-modal-value="modalClosed"
        :currentItem="currentItem"
        :showModalProp="showModal"
        >
        </add-organization-popup>
    </div>
</template>

<script>
export default{

    data() {
        return{
            listingHeads: [
                { title: 'S.no'},
                { title: 'Name' },
                { title: 'Email Address' },
                { title: 'Phone Number' },
                { title: 'Action' }
            ],
            listing: [],
            showModal : false,
            listValue : 'active',
            url: 'api/user',
            listUrl : '',
            currentItem : '',
            noRecordFound: false,
            pageLoader: true,
            currentItemStatus: '',

        }
    },
    methods: {
        startLoading() {
            this.pageLoader = true;
        },
        getResponse(response){
            console.log(response, 888);
            if(Object.keys(response.data).length){
                for (var i = 0; i < response.data.length; i++) {
                    this.listing.push(response.data[i]);
                }
            }
            this.pageLoader = false;
            this.noRecordFound = response.noRecordFound;          
        },
        modalClosed(){
            this.showModal = false;
            this.currentItemStatus ='';
            this.currentItem ='';

        },
        formSubmitted(response){
            this.reSendCall()
        },
        reSendCall(){
            this.listing = [];
            this.composeUrl();
        },
        composeUrl(archiveStatus){
            let newDate  = new Date().getMilliseconds();
            this.listUrl = this.url + '?pagination=true&role_id=7&time='+newDate+'&search_type=organization';
        },
        
    },
    mounted(){
        this.composeUrl();
    },
    computed : {
        requestUrl(){
            return this.listUrl;
        },
    },
    watch:{
    }
    
}
</script>
