<template>
    <div>
        <!-- top section -->
        <div class="config-top">
            <div class="float-left filter-left">
                <h3>Sanctions</h3>
            </div>
            <div class="float-right">
                <div class="filter-tabs itypes-filter-btns">
                    <div class="btn-group mob-btn-group" data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="radio" checked="" autocomplete="off" name="filters" value="active">Active
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" autocomplete="off" name="filters" value="archived"> Archived
                        </label>
                    </div>
                </div>
                <d-button
                    theme="secondary add-itype-btn"
                    @click="$emit('add-sanctions-popup')">
                    + Add Sanctions
                </d-button>
            </div>
        </div>
        <!-- Listing -->
        <div class="table table-lite top-left-radius pl-thead-0">
            <table class="table mb-0 ">
                <thead class="bg-light">
                    <tr class="thead-with-icon">
                        <th
                            v-for="(listingHead, index) in listingHeads"
                            scope="col"
                            :key="index"
                            :class="{ 'text-center': index === 0 }" >
                            {{ listingHead.title }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="(list, index) in listing"
                        :key="index">
                        <td class="case-num-colmn text-center" width="130">
                            {{ ++index }}
                        </td>
                        <td>{{ list.sanctions }}</td>
                        <td class="icon-actions-config" width="260">
                            <a
                                href="javascript:void(0);"
                                @click="$emit('add-sanctions-popup')">
                                <i class="icon-edit"></i>
                                <span>Modify</span>
                            </a>
                            <a href="javascript:void(0);">
                                <i class="icon-archive"></i>
                                <span>Archive</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div
            v-if="listing.length > 10"
            class="col-xs-12 text-center">
            <d-button theme="primary add-itype-btn">
                <c-loader></c-loader>
                <span>Load More</span>
            </d-button>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            listingHeads: [
                { title: 'ID'},
                { title: 'Sanctions' },
                { title: 'Action' }
            ],
            listing: [
                {
                    sanctions:"Required compliance",
                },
                {
                    sanctions:"Academic Penalty",
                },
                {
                    sanctions:"Warning and Admonition",
                },
                {
                    sanctions:"Non Disciplinary Warning Letter",
                },
                {
                    sanctions:"Disciplinary Probation",
                },
                {
                    sanctions:"Interim Suspension",
                },
                {
                    sanctions:"Suspension",
                },
                {
                    sanctions:"Expulsion",
                },
                {
                    sanctions:"Restriction of Privilegaes",
                },
                {
                    sanctions:"Revocation of Degree",
                },
                {
                    sanctions:"Parental Notification",
                },
                {
                    sanctions:"Reflective Essay",
                },

                {
                    sanctions:"No Trespass Order",
                },
                {
                    sanctions:"Visitation Policy And Agreement (Has an letter and attachment that we require currnetly to be returned signed)",
                },
                {
                    sanctions:"Room Cleanliness and Decorations Policy and Agreement (Has an letter and attachment that we require currnetly to be returned signed)",
                },

                {
                    sanctions:"Tobacco Use Policy and Agreement (Has an letter and attachment that we require currnetly to be returned signed)",
                },
                {
                    sanctions:"Drug and Alcohol Assessment",
                },
                {
                    sanctions:"University Probation",
                },
                {
                    sanctions:"Housing Probation",
                },
                {
                    sanctions:"University Suspension",
                },
                {
                    sanctions:"Housing Suspension",
                },
                {
                    sanctions:"Behavior Reflective Essay",
                },

                {
                    sanctions:"Letter of Apology",
                },
                {
                    sanctions:"Housing Relocation",
                },
                {
                    sanctions:"Community Service",
                },
                {
                    sanctions:"Counseling",
                },
                {
                    sanctions:"Restriction",
                },
                {
                    sanctions:"Grade Zero for Assignment",
                },
                {
                    sanctions:"Reduce Grade",
                },
                {
                    sanctions:"Removal From Class",
                },
                {
                    sanctions:"Visitation Policy And Agreement",
                },
                {
                    sanctions:"Alcohol and Liability Paper",
                },
                {
                    sanctions:"Insititutional Suspension",
                },
                {
                    sanctions:"No Contact Order",
                },
                {
                    sanctions:"Sexual Harassment Training",
                },
                {
                    sanctions:"Restriction from Housing",
                },
                {
                    sanctions:"Community Service",
                },
            ]
        }
    },
}
</script>
