<template>
    <div>
        <!-- top section -->
        <div class="config-top">
            <div class="float-left filter-left">
                <h3>Title IX Categories</h3>
            </div>
            <div class="float-right">
                <div class="filter-tabs itypes-filter-btns">
                    <div class="btn-group mob-btn-group" data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="radio" checked="" autocomplete="off" name="filters" value="active">Active
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" autocomplete="off" name="filters" value="archived"> Archived
                        </label>
                    </div>
                </div>
                <d-button
                    theme="secondary add-itype-btn"
                    @click="$emit('add-categories-popup')">
                    + Add Categories
                </d-button>
            </div>
        </div>
        <!-- LIsting -->
        <div class="table table-lite top-left-radius pl-thead-0">
            <table class="table mb-0 ">
                <thead class="bg-light">
                    <tr class="thead-with-icon">
                        <th
                            v-for="(listingHead, index) in listingHeads"
                            scope="col"
                            :key="index"
                            :class="{ 'text-center': index === 0 }" >
                            {{ listingHead.title }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="(list, index) in listing"
                        :key="index">
                        <td class="case-num-colmn text-center" width="130">
                            {{ list.id }}
                        </td>
                        <td>{{ list.categories }}</td>
                        <td class="icon-actions-config" width="260">
                            <a
                                href="javascript:void(0);"
                                @click="$emit('add-categories-popup')">
                                <i class="icon-edit"></i>
                                <span>Modify</span>
                            </a>
                            <a href="javascript:void(0);">
                                <i class="icon-archive"></i>
                                <span>Archive</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="listing.length > 10"
            class="col-xs-12 text-center">
            <d-button theme="primary add-itype-btn">
                <c-loader></c-loader>
                <span>Load More</span>
            </d-button>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            listingHeads: [
                { title: 'ID'},
                { title: 'Categories' },
                { title: 'Action' }
            ],
            listing: [
                {
                    id:'001',
                    categories:"Sexual Abuse",
                },
                {
                    id:'002',
                    categories:"Secual Assault",
                },
                {
                    id:'003',
                    categories:"Sexual Misconduct",
                },
                {
                    id:'004',
                    categories:"Sexual Harassment",
                },
                {
                    id:'005',
                    categories:"Domestic Violence",
                },
                {
                    id:'006',
                    categories:"Dating Violence",
                },
                {
                    id:'007',
                    categories:"Stalking",
                },
            ]
        }
    },
}
</script>
