<template>
    <div>
        <!-- top section -->
        <div class="config-top">
            <div class="float-left filter-left">
                <h3>Violations</h3>
            </div>
            <div class="float-right">
                <div class="filter-tabs itypes-filter-btns">
                    <div class="btn-group mob-btn-group" data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="radio" checked="" autocomplete="off" name="filters" value="active">Active
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" autocomplete="off" name="filters" value="archived">Archived
                        </label>
                    </div>
                </div>
                <d-button
                    theme="secondary add-itype-btn"
                    @click="$emit('add-violations-popup')">
                    + Add Violations
                </d-button>
            </div>
        </div>
        <!-- Listing -->
        <div class="table table-lite top-left-radius pl-thead-0">
            <table class="table mb-0 ">
                <thead class="bg-light">
                    <tr class="thead-with-icon">
                        <th
                            v-for="(listingHead, index) in listingHeads"
                            scope="col"
                            :key="index"
                            :class="{ 'text-center': index === 0 }" >
                            {{ listingHead.title }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="(list, index) in listing"
                        :key="index">
                        <td class="case-num-colmn text-center" width="130">
                            {{ ++index }}
                        </td>
                        <td>{{ list.violations }}</td>
                        <td class="icon-actions-config" width="260">
                            <a
                                href="javascript:void(0);"
                                @click="$emit('add-violations-popup')">
                                <i class="icon-edit"></i>
                                <span>Modify</span>
                            </a>
                            <a
                                href="javascript:void(0);">
                                <i class="icon-archive"></i>
                                <span>Archive</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div
            v-if="listing.length > 10"
            class="col-xs-12 text-center">
            <d-button theme="primary add-itype-btn">
                <c-loader></c-loader>
                <span>Load More</span>
            </d-button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            listingHeads: [
                { title: 'ID'},
                { title: 'Violations' },
                { title: 'Action' }
            ],
            listing: [
                {
                    violations:"Alcohol - 1st offense",
                },
                {
                    violations:"Alcohol 21+",
                },
                {
                    violations:"Alcohol - Hosting",
                },
                {
                    violations:"Alcohol - Underage",
                },
                {
                    violations:"Damage to property",
                },
                {
                    violations:"Disruptive Behavior",
                },
                {
                    violations:"Drugs - use or possession",
                },
                {
                    violations:"Drugs - Selling/distributing",
                },
                {
                    violations:"Failure to Comply",
                },
                {
                    violations:"Safety Violation",
                },
                {
                    violations:"Obstruction of Traffic",
                },
                {
                    violations:"Physical or Verbal Abuse",
                },
                {
                    violations:"Violation of residential Guidelines",
                },
                {
                    violations:"Burglary",
                },
                {
                    violations:"Arson",
                },
                {
                    violations:"Academic Dishonesy",
                },
                {
                    violations:"Tobacco",
                },
            ]
        }
    },
}
</script>