<template>
    <div class="case-timeline">
        <div class="row">
            <div class="col-sm-8">
                <h4>Available # of cases in each stage with stage duration</h4>
            </div>

            <div class="col-sm-4">
                <div class="form-group float-right incident-type-filter">
                    <selectize
                    v-model="selectedConduct"
                    class="selectize-control">
                    <option v-for="conduct in conducts" :value="conduct.id">{{conduct.name}}</option>
                </selectize>
            </div>
        </div>
    </div>

    <block-spinner v-if="!items.length && !noRecordFound"></block-spinner>

    <div class="case-timeline-content">
        <div
        class="case-tab-content">
        <div class="row">
            <div class="col-md-7">

                <stage-table-widget 
                :widget_title="tableWidgetHeading"
                :items="items"
                :noRecordFound="noRecordFound"
                >
            </stage-table-widget>

        </div>
        <div class="col-md-5">

            <stage-funnel-chart
            :items="items"
            :noRecordFound="noRecordChartFound"
            >
        </stage-funnel-chart>

    </div>
</div>
</div>
</div>

<common-methods
:url="requestUrl"
@get-response="getResponse">
</common-methods>

<common-methods 
@get-response="getConductResponse"
:url="requestConductUrl">
</common-methods>

</div>
</template>

<script>
    import Selectize from 'vue2-selectize';
    export default{
        components : {
            Selectize,
            'stage-funnel-chart' : require('../widgets-and-charts/current-situation/StageFunnelChart'),
            'stage-table-widget' : require('../widgets-and-charts/current-situation/StageTableWidget')
        },
        data() {
            return {
                url : 'api/report-stat?key=stage',
                conductUrl : 'api/incident-type?orderby_name=true&specific_role=true&filter_by_child=1',
                items : [],
                conducts : [],
                selectedConduct: null,
                noRecordFound: false,
                noRecordChartFound: false,
                settings:{},
                report: {
                    startDate: '',
                    endDate: '',
                    previousPeriod: '',
                    activitySelected: 'Case by Incident Type',
                    incidentType: 'student_Conduct',
                },
                tableWidgetHeading: 
                { 
                    columnTitle : 'Stage',
                    valueTitleFirst : 'Current Available Cases',
                    valueTitleSecond : 'Average Duration'
                },
            }
        },
        computed : {
            requestUrl(){
                if(this.selectedConduct){
                    return this.url+'&incident_type_id='+this.selectedConduct;
                }
            },
            requestConductUrl(){
                return this.conductUrl;
            },
        },
        methods: {
            getResponse(response){
                this.items = [];
                if(Object.keys(response.data).length || response.noRecordFound){
                    this.noRecordFound = response.noRecordFound;
                    this.items = response.data;
                    this.noRecordChartFound = true;
                    for(var i = 0 ; i < response.data.length; i++){
                        if(response.data[i].avg_duration){
                            this.noRecordChartFound = false;
                        }
                    }


                }
            },
            getConductResponse(response){
                if(Object.keys(response.data).length){
                    this.conducts = response.data;
                    this.selectedConduct = this.conducts[0].id;
                }
            },
        },
    }
</script>