<template>
<div class="report-panel-highlights">
    <div class="owl-carousel owl-theme">

        <kpi-widget
        :currentUrl="'api/report-stat/current-situation?key='+widgetType"
        v-for="(widgetType, index) in widgetTypes"
        :key="index">
        </kpi-widget>

    </div>
</div>
</template>

<script>
export default{
    components : {
        'kpi-widget' : require('../widgets-and-charts/current-situation/KpiWidget.vue')
    },
    data() {
        return {
            widgetTypes : [
                'active',
                'pending',
                'involved_students',
                'case_at_risk',
                'current_average_duration'
            ]
        }
    }  
}
</script>