<template>
<div>

    <block-spinner v-if="!records.length && !noRecordFound"></block-spinner>

    <div class="case-timeline">
        
        <div class="row">
            <div class="col-sm-4">
                <h4>Incident Types</h4>
            </div>
            <div class="col-sm-8 text-right reporttimeline">
                <div class="activities-section">
                    <div class="activitylist">
                        <ul class="text-right convert-tabs convert-tabs-desktop"
                        @click="dropDownEvent" role="tablist">
                        <li
                        v-for="(activity, index) in activityList"
                        :key="index"
                        :class="{ 'active': activitySelected === activity.value }"
                        role="presentation">
                        <a href="javascript:void(0);"
                        @click="activitySelected = activity.value;"
                        v-show="tabsOptions" role="tab">
                        {{ activity.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>


<div class="case-timeline-content">
<div class="case-tab-content">
    <div class="row">
        <div class="col-md-8">

            <bar-chart
            :items="records"
            :noRecordFound="noRecordFound"
            >
            </bar-chart>

        </div>

        <div class="col-md-4">

            <table-widget 
            :widget_title="tableWidgetHeading"
            :items="records"
            :noRecordFound="noRecordFound"
            >
            </table-widget>

        </div>
    </div>
</div>
</div>

<common-methods
:url="requestUrl"
@get-response="getResponse">
</common-methods>

</div>
</div>
</template>

<script>

    export default{
        components : {
            'bar-chart' : require('../widgets-and-charts/current-situation/BarChart'),
            'table-widget' : require('../widgets-and-charts/current-situation/TableWidget')
        },
        data() {
            return {
                url : 'api/report-stat?key=current_incident_type',
                records : [],
                tabsOptions:false,
                noRecordFound: false,
                activitySelected: 'case',
                activityList:[
                { name: 'Case by Incident Type', value: 'case'},
                { name: 'IR by Incident Type', value: 'ir'},
                ],
                tableWidgetHeading: 
                { 
                    columnTitle : 'Incident Types',
                    valueTitle : 'Total Cases'
                }
            }
        },
        computed : {
            requestUrl(){
                this.records = [];
                return this.url+'&activity='+this.activitySelected;
            }
        },
        methods: {
            getResponse(response){
                if(Object.keys(response.data).length > 0){
                    this.records = response.data;
                }
                this.noRecordFound = response.noRecordFound;
            },
            dropDownEvent(){
                this.tabsOptions = !this.tabsOptions;
            }
        }
    }
</script>