<template>
    <div class="router-section-view current-situation-body">
        <div class="report-top">
            <div class="report-heading">
                <h3>{{ $route.meta.title }}</h3>
            </div>
            <div class="filter-list">

            </div>
        </div>
        <div class="report-body-panel">

            <general-statistics></general-statistics>

            <incident-type-statistics></incident-type-statistics>

            <case-stage-statistics></case-stage-statistics>

        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {

            }
        },
        methods: {
            redirectToDashboard() {
                this.$router.push({name: 'conduct-incidents'});
            }
        },
        mounted(){
            require('jquery');
            require('owl.carousel');
            $(document).ready(function(){
              $(".owl-carousel").owlCarousel({
                    
                    margin:30,
                    items : 5,
                    responsive:{
                        0:{
                            items:1,
                            loop:true,
                            autoplay:true,
                            autoplayTimeout:3000,
                            nav:true,
                        },
                        600:{
                            items:2,
                            loop:true,
                            autoplay:true,
                            autoplayTimeout:3000,
                            nav:true,
                        },
                        1000:{
                            items:3,
                            loop:true,
                            autoplay:true,
                            autoplayTimeout:3000,
                            nav:true,
                        },

                        1366:{
                            items:5
                        },

                        1600:{
                            items:5
                        }
                    }
              });
          });
        }
    }
</script>
