<template>
    <div class="custom-report-builder-body">
        <div class="report-top">
            <div class="report-heading">
                <h3>{{ $route.meta.title }}</h3>
            </div>
            <div class="col-md-12">
                <d-alert v-if="errorMessage" :theme="popupThemeValue" show>
                    {{ errorMessage  }}
                </d-alert>
            </div>
        </div>
        <div class="report-body-panel customer-report-builder">
            <div class="entity-selection">
                <h5>Select fields from</h5>
                <div class="">
                    <ul>
                        <li>
                            <div class="filter-tabs">
                                <div class="btn-group mob-btn-group">
                                    <label  :class="['btn', 'btn-default', {active: selectedEntity == 'student_entities'}]">
                                        <input v-model="selectedEntity" type="radio" checked=""autocomplete="off" name="incidents_view" value="student_entities">User Entities
                                    </label>

                                    <label  :class="['btn', 'btn-default', {active: selectedEntity == 'case_entities'}]">
                                        <input v-model="selectedEntity" type="radio" autocomplete="off" name="incidents_view" value="case_entities"> Case Entities
                                    </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="guestUserCheckbox"
                                  v-model="formData.guest_user"
                                  >
                                  <label class="form-check-label" for="guestUserCheckbox">
                                    Guest Users
                                  </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Entities Selection -->
                <div class="row entity-fields">
                    <div class="col-md-6">
                        <div class="entity-block scrollable" id="style-2">
                            <treeselect
                            v-model="reportFields"
                            :multiple="true"
                            :options="modeloptions"
                            :alwaysOpen="true"
                            @select="setValue"
                            @deselect="deSelectValue" />
                        </div>
                    </div>

                    <div class="extract-case">
                        <span><i class="icon-keyboard_arrow_right1"></i></span>
                    </div>
                    <div class="col-md-6">
                        <div class="entity-block scrollable" id="style-2">
                            <div class="selected-entity">
                                
                                <ul v-for="(list, key) in selectedEntities" :key="list.key" v-if="list !== 'incident_info.incident_type_id'">
                                    <li> 
                                        <div v-if="typeof formData.entities[key] != 'undefined'" v-model="formData.entities[key].key" :value="list">
                                            {{ list | removePrefix | replaceSpecialCharacterWithSpace | toTitleCase }}
                                        </div>
                                    </li>
                                    <li :class="[!formData.entities[key].sortDisabled?'': 'disabled']"> <span>Sort: </span>
                                        <d-form-select
                                        :class="['custom-dropdown']" v-if="typeof formData.entities[key] != 'undefined'" v-model="formData.entities[key].sortBy" @change="setOrder($event, list, key)" :options="optionSelect" />
                                    </li>
                                    <li>
                                        <i class="icon-close-custom" @click.prevent="remove(list, key)"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="entity-selection">
                <h5>Where</h5>
                <div class="">
                    <ul>
                        <li>
                            <div class="filter-tabs">
                                <div class="btn-group mob-btn-group">
                                    <label :class="['btn', 'btn-default', {active: formData.query.condition == 'AND'}]">
                                        <input v-model="formData.query.condition" type="radio" checked="" autocomplete="off" name="report-rule" value="AND">All of them are True (AND)
                                    </label>
                                    <label :class="['btn', 'btn-default', {active: formData.query.condition == 'OR'}]">
                                        <input v-model="formData.query.condition" type="radio" autocomplete="off" name="report-rule" value="OR"> Any of them is True (OR)
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="fields-info for-desktop-only">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Field</label>
                        </div>
                        <div class="col-md-2">
                            <label></label>
                        </div>
                        <div class="col-md-2">
                            <label>Value</label>
                        </div>
                    </div>
                </div>
                <div :class="['row', 'gpa-info-row']" v-for="(rule, index) in formData.query.rules" :key="index">
                    <div class="col-md-4">
                        <label class="fields-info-label">Field</label>
                        <d-form-select v-model="rule.field" v-validate="'required'" :name="'field'+index" :class="[errorBag.first('field'+index)?'is-invalid':'']" @change="setQueryRule($event,index)">
                            <option value="" disabled="" selected="">Select field</option>
                            <option v-if="!entry.ruleDisabled && entry.id != 'incident_info.incident_type_id' && entry.id != 'incident_info.time_of_incident'"
                            v-for="(entry, ind) in reportEntries"
                            :value="entry.id"
                            :key="ind"
                            placeholder="Select an option">
                            {{ entry.id | removePrefix | replaceSpecialCharacterWithSpace | toTitleCase }}
                        </option>
                    </d-form-select>
                </div>
                <div class="col-md-2">
                    <label class="fields-info-label"></label>
                    <d-form-select v-model="rule.operator">
                        <option value="equal" v-if="rule.type == 'string' || rule.type == 'integer' || rule.type == 'double' ||  rule.field == ''">
                            equal
                        </option>
                        <option value="not_equal" v-if="rule.type == 'string' || rule.type == 'integer' || rule.type == 'double' || rule.field == ''">
                            not equal
                        </option>
                        <!-- <option value="in" v-if="rule.type == 'integer' || rule.type == 'double' || rule.field == ''">
                            in
                        </option>
                        <option value="not_in" v-if="rule.type == 'integer' || rule.type == 'double' || rule.field == ''">
                            not in
                        </option> -->
                        <option value="less" v-if="rule.type == 'integer' || rule.type == 'double' || rule.field == ''">
                        less</option>
                        <option value="less_or_equal" v-if="rule.type == 'integer' || rule.type == 'double' || rule.field == ''">less or equal</option>
                        <option value="greater" v-if="rule.type == 'integer' || rule.type == 'double' || rule.field == ''">
                            greater
                        </option>
                        <option value="greater_or_equal" v-if="rule.type == 'integer' || rule.type == 'double' || rule.field == ''">
                            greater or equal
                        </option>
                        <!-- <option value="between" v-if="rule.type == 'integer' || rule.type == 'double' || rule.field == ''">
                            between
                        </option>
                        <option value="not_between" v-if="rule.type == 'integer' || rule.type == 'double' || rule.field == ''">not between</option>
                        <option value="is_null" v-if="rule.type == 'string' || rule.type == 'integer' || rule.type == 'double' || rule.field == ''">is null</option>
                        <option value="is_not_null" v-if="rule.type == 'string' || rule.type == 'integer' || rule.type == 'double' || rule.field == ''">is not null</option> -->
                    </d-form-select>
                </div>
                <div :class="['col-md-2','mt-2-mob']" v-if="(rule.operator != 'is_not_null' && rule.operator != 'is_null')">
                    <d-input autocomplete="off" v-model="rule.value" :class="['mb-2',errorBag.first('field value' + index)?'is-invalid':'']"  v-validate="'required'" :name="'field value' + index" placeholder="Enter Value" />
                </div>
                <div :class="['col-md-2', 'mt-2-mob']" v-if="(rule.operator == 'between' || rule.operator == 'not_between' || rule.second_value)">
                    <d-input autocomplete="off" v-model="rule.second_value" :class="['mb-2',errorBag.first('second field value' + index)?'is-invalid':'']"  v-validate="'required|max:250'" :name="'second field value' + index " placeholder="Enter Value" />
                </div>
                <a 
                v-if="index != 0" 
                class="custom-sanctions-remove" 
                @click.prevent="formData.query.rules.splice(index , 1)" 
                href="javascipt:void(0);">
                <i class="icon-delete"></i>

            </a>
        </div>

        <div class="add-fields">
            <a href="javascript:;" @click.prevent="addFields">+ Add more fields</a>
        </div>

        <d-btn
        :class="['btn-md', loading ? 'show-spinner' : '']"
        @click="generateReport">
        <span>Generate Report</span>
        <c-loader></c-loader>
    </d-btn>

</div>

</div>
</div>
</template>

<script>

    import Treeselect from '@riophae/vue-treeselect';

    export default {

        components: { Treeselect },
        data() {
            return {
                loading: false,
                guestUser: false,
                errorMessage: '',
                reportFields: [],
                reportEntries: [],
                selectedEntities: [],
                selectedEntity: 'student_entities',
                urlEntities: '',
                formData:{
                    collection_tables : [],
                    status: 0,
                    created_by_user_id: null,
                    query:{
                        rules:[{
                            id: 'null',
                            field: '',
                            type: 'null',
                            operator: 'equal',
                            value: '',
                            second_value: '',
                            label : ''
                        }],
                        condition: 'AND',
                    },
                    entities:[],
                    sort: [],
                    guest_user: false,
                },

            // define options
            modeloptions: [
            ],

            optionSelect: [
            { value: 'asc', text:'Ascending' },
            { value: 'desc' , text:'Decending' },
            { value: 'none' , text:'None' },
            ],

            fieldOptions: [],
        }
    },
    computed:{
        popupThemeValue(){
            if(this.errorMessage){
                return 'danger';
            }
        },
        authUser(){
            return JSON.parse(this.$store.getters.getAuthUser);
        },
    },
    mounted(){
        this.entities(this.selectedEntity);
        if(this.$route.params.id){
            this.getDetails(this.$route.params.id);
        }
    },
    methods: {
        entities(selectedEntity){
            let self = this;
            if(selectedEntity == 'student_entities'){
                self.modeloptions.push({id: 'All Students Fields',
                    label: 'All',
                    isDefaultExpanded: true,
                    children: []
                });
                self.fieldOptions = [];
                this.urlEntities = 'api/custom-report/student-entities';
            }else{
                self.modeloptions.push({id: 'All Case Fields',
                    label: 'All',
                    isDefaultExpanded: true,
                    children: []
                });
                self.fieldOptions = [];
                this.urlEntities = 'api/custom-report/case-entities';
            }
            self.$http.get(this.urlEntities).then(response=>{
                self.fieldOptions.push(response.data);
                _.forEach(response.data.fields, function(value, index) {
                    var isDisabled = false;
                    var id = value.key;
                    var label = value.key.includes('.') ? value.key.split('.')[1].split('_').join(' '):value.key.split('_').join(' ');

                    var fieldKey = value.key.includes('.') ? value.key.split('.')[1].split('_').join('_'):value.key.split('_').join('_');
                    var sortDisabled = false;
                    if($.inArray(fieldKey, response.data.foreign_keys) != -1){ 
                        sortDisabled = true;
                    }

                    var label = label.replace(/^(.)|\s+(.)/g, function (label) {
                        return label.toUpperCase()});
                    if(label.includes('Id')){
                        label = label.split('Id')[0];
                    }
                    var type = value.type;
                    var table_prefix = value.table_prefix;
                    self.modeloptions[0].children.push({id : id, label: label, type: type, table_prefix: table_prefix, isDisabled: isDisabled, sortDisabled: sortDisabled});

                });
            }).catch(error=>{
                self.errorMessage = 'No record Found';
            });
        },
        remove(value, index) {
            var self = this;
            self.formData.entities = self.formData.entities.filter(function( obj ) {
                return obj.key !== value;
            });
            self.selectedEntities = self.selectedEntities.filter(item => item !== value);
            self.reportEntries = self.reportEntries.filter(item => item.id !== value);
            self.reportFields = self.selectedEntities;
            self.formData.query.rules = self.formData.query.rules.filter(item => item.field !== value);
            if(!self.formData.query.rules.length || !self.reportFields.length){
                self.formData.query.rules =  [{
                    id: 'null',
                    field: '',
                    type: 'null',
                    operator: 'equal',
                    value: '',
                    second_value: '',
                    label : ''
                }];
                self.errorBag.clear();
            }
        },
        addFields(){
            let self = this;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    self.formData.query.rules.push({
                        id: 'null',
                        field: '',
                        type: 'null',
                        operator: 'equal',
                        value: '',
                        second_value: '',
                        label: '',
                    });
                    self.errorBag.clear();
                    return;
                }
            });
        },
        generateReport(){
            let self = this;
            let tempFieldOptions = [];
            let caseEntitiesCount = 0;
            _.forEach(self.fieldOptions[0], function(val, ind){
                tempFieldOptions.push(val);
            });
            _.forEach(self.formData.entities, function(val, ind){
                if(val.table_prefix == 'incident_cases' && val.label != 'incident_type_id'){
                    caseEntitiesCount = caseEntitiesCount+ 1;
                }

                if(!self.formData.collection_tables.includes(val.table_prefix)){
                    self.formData.collection_tables.push(val.table_prefix);
                }
            });

            if(!caseEntitiesCount){
                 
                self.formData.collection_tables = self.formData.collection_tables.filter(function(collection){
                    return collection !== 'incident_cases';
                });
                self.formData.entities = self.formData.entities.filter(function(entity){
                    return entity.label != 'incident_type_id';
                });
                if(self.formData.guest_user) {
                    if(!self.formData.collection_tables.includes('incident_cases')){
                        self.formData.collection_tables.push('incident_cases');
                    }
                }
            }

            if(this.formData.entities.length || this.formData.guest_user){
                this.loading = true;
                _.forEach(self.formData.query.rules, function(val, index){
                    if(val.field == '' || (val.operator !== 'is_null' && val.operator !== 'is_not_null' && val.value == '' )){
                        self.formData.query.rules = self.formData.query.rules.filter(item => item.field !== val.field);      
                    }                      
                });

                if(this.formData.query.rules.length){
                    this.formData.query.rules.filter(previousObj => this.formData.query.rules.find(currentObj =>{

                        if(previousObj.field === currentObj.field){
                            currentObj.id     = currentObj.field;
                            currentObj.label     = currentObj.field.includes('.') ? currentObj.field.split('.')[1] : currentObj.field;
                        }
                    })
                    );
                }else{
                    self.formData.query.rules = 

                    [{
                        id: 'null',
                        field: '',
                        type: 'null',
                        operator: 'equal',
                        value: '',
                        second_value: '',
                    }];
                }
                if(typeof self.formData.title != 'undefined'){
                    self.formData.status = 1;
                }
                if(self.formData.id && typeof self.formData.title != 'undefined'){
                    self.formData.current_entities = self.formData.entities;
                    self.formData.current_query = self.formData.query;
                    self.formData.current_collection_tables = self.formData.collection_tables;
                    self.formData.current_sort = self.formData.sort;
                }

                this.$emit('custom-report-builder', this.formData);
                self.errorBag.clear();
            }else{
                this.errorMessage = 'Please select atleast one entity';
                setTimeout(function(){
                    self.loading = false;
                    self.errorMessage = '';
                },3000);
                return;
            }
            setTimeout(function () {
                Vue.nextTick(() => {
                    self.errorBag.clear();
                })
            }, 100);
        },
        setOrder(order, list, key){
            let self = this;
            //replace collection name
            if(order == 'none'){
                this.formData.sort = [];
            }else{
                this.formData.sort = {
                    key: list.includes('.') ? list.split('.')[1] : list,
                    sortBy: order,
                    collection_name: list
                };
            }
            _.forEach(self.formData.entities, function(entity, index){
                if(key != index){
                    self.formData.entities[index].sortBy = 'none';
                }else{
                    self.formData.entities[index].sortBy = order;
                }
                self.$set(self.formData.entities, index, self.formData.entities[index]);
            });
        },
        setValue(selectedValue){
            let self = this;
            if(typeof selectedValue.children != 'undefined'){
                _.forEach(selectedValue.children, function(val, ind){
                    self.formData.entities.push({
                        key: val.id,
                        sortBy: 'none',
                        type: val.type,
                        table_prefix: val.table_prefix,
                        label : val.id.includes('.') ? val.id.split('.')[1] : val.id,
                        sortDisabled: val.sortDisabled
                    });
                    if(val.table_prefix !== 'user_custom_fields'){
                        self.selectedEntities.push(val.id);
                        self.reportEntries.push({id: val.id, type: val.type, ruleDisabled: val.sortDisabled});
                    }
                });
            }else{
                self.formData.entities.push({
                    key: selectedValue.id,
                    sortBy: 'none',
                    type: selectedValue.type,
                    table_prefix: selectedValue.table_prefix,
                    label : selectedValue.id.includes('.') ? selectedValue.id.split('.')[1] : selectedValue.id,
                    sortDisabled: selectedValue.sortDisabled,
                });

                if(val.table_prefix !== 'user_custom_fields'){
                    self.selectedEntities.push(val.id);
                    self.reportEntries.push({id: selectedValue.id, type: selectedValue.type, ruleDisabled: selectedValue.sortDisabled });
                }
            }
            self.formData.entities = _.uniqWith(self.formData.entities, _.isEqual);
            self.selectedEntities = [...new Set(self.selectedEntities)];
            self.reportEntries = _.uniqWith(self.reportEntries, _.isEqual);

        },
        deSelectValue(selectedValue){
            let self = this;
            if(typeof selectedValue.children != 'undefined'){
                _.forEach(selectedValue.children, function(val, ind){
                    self.formData.entities = self.formData.entities.filter(function( obj ) {
                        return obj.key !== val.id;
                    });

                    self.selectedEntities = self.selectedEntities.filter(item => item !== val.id);
                    self.reportEntries = self.reportEntries.filter(item => item.id !== val.id);
                });
            }else{
                self.selectedEntities =  self.selectedEntities.filter(item => item !== selectedValue.id);
                self.reportEntries =  self.reportEntries.filter(item => item.id !== selectedValue.id);
                self.formData.entities = self.formData.entities.filter(function( obj ) {
                    return obj.key !== selectedValue.id;
                });

                
            }
            self.selectedEntities = [...new Set(self.selectedEntities)];
            self.reportEntries =  _.uniqWith(self.reportEntries, _.isEqual);
        },
        getDetails(id){
            let self = this;
            let reportUrl =  'api/report/' + id;
            self.$http.get(reportUrl).then(response=>{
                var response = response.data.data;
                if(typeof response.title  != 'undefined'){
                    self.formData.title = response.title;
                }
                self.formData.id = response._id;
                self.formData.entities = response.entities;
                self.formData.guest_user = response.guest_user;
                self.reportFields = self.formData.entities.map(function(rule) {
                    return rule.key;
                });
                self.selectedEntities = self.reportFields;
                _.forEach(self.formData.entities, function(val,ind){
                    self.reportEntries.push({id: val.key, type: val.type, ruleDisabled: val.sortDisabled });
                })
                self.reportEntries = _.uniqWith(self.reportEntries, _.isEqual);         
                if(response.query != ''){
                    self.formData.query.rules = response.query.rules;
                    self.formData.query.condition = response.query.condition;

                }else if(!self.formData.query.rules.length){
                    self.formData.query.rules = [{
                        id: 'null',
                        field: '',
                        type: 'null',
                        operator: 'equal',
                        value: '',
                        second_value: '',
                    }];
                }
                this.errorBag.clear();
            }).catch(error=>{
                console.log(error);
                self.errorMessage = 'No record Found';
            });

        },
        setQueryRule(ruleValue, key){
            let self = this;
            var type = this.formData.entities.filter(function(obj) {
                return obj.key == ruleValue;
            }).map(function(obj) { return obj.type; });
            self.formData.query.rules[key].type = type[0] === "NULL"?'integer': type[0];
        }
    },
    watch:{
        selectedEntity(value){
            this.modeloptions = [];
            this.entities(value);
        },
    }
}
</script>