<template>
    <div>
        <div>
            <div class="report-top">
                <div class="report-heading">
                    <h3>Generated Report</h3>
                </div>
                <div class="edit-query">
                    <i class="icon-edit" @click="$emit('edit-query')"></i>
                    <h3>Edit Query</h3>
                </div>
            </div>
            <div class="table table-lite top-left-radius">
                <table class="table mb-0 ">
                    <thead class="bg-light">
                        <tr class="thead-with-icon">
                            <th
                                v-for="(listingHead, index) in listingHeads"
                                scope="col"
                                :key="index"
                                :class="{ 'text-center': index === 0 }" >
                                {{ listingHead.title }}
                            </th>
                        </tr>
                    </thead>
                <tbody>
                    <tr v-for="list in listing">
                        <td class="text-center case-num-colmn">
                            {{ list.stdId }}
                        </td>
                        <td>{{ list.fName }}</td>
                        <td>{{ list.mName }}</td>
                        <td>{{ list.lName }}</td>
                        <td>
                            <router-link :to="{ name: 'report'}" class="secondary-color">
                                {{ list.email }}
                            </router-link>
                        </td>
                        <td>{{ list.gender }}
                        </td>
                        <td> {{ list.gpa }} </td>
                        <td> {{ list.stdStatus }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <c-pagination></c-pagination>
        </div>
    </div>
</div>
</template>

<script>
export default{
    props: ['reportId'],
    data() {
        return{
            url: 'api/report',
            listingHeads: [
            {
                title: 'Student Id',
            },
            {
                title: 'First Name',
            },
            {
                title: 'Middle Name',
            },
            {
                title: 'Last Name',
            },
            {
                title: 'Email Address',
            },
            {
                title: 'Gender',
            },
            {
                title: 'GPA',
            },
            {
                title: 'Student Status',
            }
            ],
            listing: [
            {
                stdId: '158',
                fName: this.$faker().name.firstName(),
                mName: this.$faker().name.firstName(),
                lName: this.$faker().name.firstName(),
                email: this.$faker().internet.email(),
                gender: 'Male',
                gpa :3.1,
                stdStatus: 'Full Time',
            },
            {
                stdId: '158',
                fName: this.$faker().name.firstName(),
                mName: this.$faker().name.firstName(),
                lName: this.$faker().name.firstName(),
                email: this.$faker().internet.email(),
                gender: 'Female',
                gpa : 3.1,
                stdStatus: 'Full Time',
            },
            {
                stdId: '142',
                fName: this.$faker().name.firstName(),
                mName: this.$faker().name.firstName(),
                lName: this.$faker().name.firstName(),
                email: this.$faker().internet.email(),
                gender: 'Female',
                gpa : 3.1,
                stdStatus: 'Part Time',
            },
            {
                stdId: '185',
                fName: this.$faker().name.firstName(),
                mName: this.$faker().name.firstName(),
                lName: this.$faker().name.firstName(),
                email: this.$faker().internet.email(),
                gender: 'Male',
                gpa : 3.9,
                stdStatus: 'Temporary',
            },
            {
                stdId: '534',
                fName: this.$faker().name.firstName(),
                mName: this.$faker().name.firstName(),
                lName: this.$faker().name.firstName(),
                email: this.$faker().internet.email(),
                gender: 'Male',
                gpa : 3.9,
                stdStatus: 'Temporary',
            },
            {
                stdId: '654',
                fName: this.$faker().name.firstName(),
                mName: this.$faker().name.firstName(),
                lName: this.$faker().name.firstName(),
                email: this.$faker().internet.email(),
                gender: 'Male',
                gpa : 3.4,
                stdStatus: 'Full Time',
            },
            {
                stdId: '4242',
                fName: this.$faker().name.firstName(),
                mName: this.$faker().name.firstName(),
                lName: this.$faker().name.firstName(),
                email: this.$faker().internet.email(),
                gender: 'Female',
                gpa : 3.9,
                stdStatus: 'Temporary',
            },
            {
                stdId: '323',
                fName: this.$faker().name.firstName(),
                mName: this.$faker().name.firstName(),
                lName: this.$faker().name.firstName(),
                email: this.$faker().internet.email(),
                gender: 'Male',
                gpa : 3.6,
                stdStatus: 'Temporary',
            },

            ]
        }
    },
    methods:{
    }
}
</script>
