<template>
	<div class="router-section-view">
		<custom-report-builder
			v-if="hideReport"
			:updateQuery="updateQuery"
            :queryData="editQueryData"
			@custom-report-builder="onClickGenerate($event)">
		</custom-report-builder>
		<generated-report v-if="showReport"
		:reportId="reportId"
		@edit-query="showQueryBuilder"></generated-report>
	<common-methods
    @form-submitted="formSubmitted"
    @form-updated="formUpdated"
	@form-error="formError"
	:submitUrl="submitUrl"
	:submit="submit"
	:formData="formData"
	:submitType="submitType"
	:hideLoader="true"
    >

</common-methods>
<common-methods 
@get-response="getSavedQueryResponse"
:url="url"
:infiniteLoad="false"
:hideLoader="true"
>
</common-methods>
	</div>
</template>

<script>

export default {

	data() {
		return {
            url : '',
			hideReport: true,
			showReport: false,
            submit: false,
            submitType: '',
            formData: [],
            reportId: '',
            editQuery: false,
            editQueryData: [],
            updateQuery: false,
		}
	},
	computed:{
		submitUrl(){
            let self = this;
           if(self.formData.id){
                return 'api/report/'+self.formData.id;
            }else{
                return 'api/report';
            }
        },
	},
	methods: {
		onClickGenerate (value) {   
            this.submit = true;
            this.formData = value;
            this.submitType = 'post';
            if(this.formData.id){ 
            	this.submitType = 'update';
            }
	    },

        formError(response){

            let self = this;
            this.submit = false;
            this.loading = false;

            _.forEach(response.errors, function(value, key) {
                self.errorMessage =  response.errors[key][0];
                return false;
            });
            setTimeout(function(){
                self.errorMessage = '';
            },3000);
        },
        formSubmitted(response){
        	this.hideReport = false;
			this.showReport = true;
			this.reportId = response.data._id;
            this.$emit('reportSavNav', response.data);
            this.$router.push({ name: 'custom-report-generated.view', params : { id : this.reportId }  });
            this.$emit('form-submitted', response);
        },
        showQueryBuilder(){
            if(this.reportId != ''){
        		this.hideReport = true;
				this.showReport = false;
				this.updateQuery = true;
                this.url =    'api/report/'+this.reportId; 
            }
        },
        getSavedQueryResponse(response){
        	this.editQueryData = response.data;
        },
        formUpdated(response){
            this.hideReport = false;
            this.showReport = true;
            this.reportId = response.data._id;
            this.$emit('form-updated' , response);
            this.$emit('reportSavNav', response.data);
            this.$router.push({ name: 'custom-report-generated.view', params : { id : this.reportId }  });
            
        }
	}
}
</script>
