$main-wrapper-width:calc(100% - 68px);
$main-panel-width:100%;
$main-panel-bg:transparent;
$main-panel-inner-padding:25px;
.main-panel{
    width:$main-panel-width;
    clear:both;
    display:block;
    overflow:auto;
    margin-top:24px;
}

.main-wrapper{
  margin:0 auto;
  width:$main-wrapper-width;
  @include tablet{
      width:calc(100% - 25px);
  }
  @include mobile{
      width:calc(100% - 20px);
  }
}

.panel{
    float: right;
    width:$main-panel-width;
    background:$main-panel-bg;

    .panel-inner{
      width:100%;
      height:auto;
      padding:$main-panel-inner-padding;
    }
}

.components-body{
  width: $main-wrapper-width;
  float: right;
}
